---
import Layout from "../../../../../layouts/ArticleLayout.astro";
const title = "✍やる気についての覚書";
const description = "";
const thumbnail = "";
const labels = [];
---

<Layout title={title} labels={labels}>
  <article>
    <p>
      <span style="background-color: #eeeeee;"
        >2020年も残り2週間を切った。</span>
    </p><p>
      <span style="background-color: #eeeeee;"
        >新型コロナウィルスに翻弄された1年だったとは思うが自分としては仕事がなくなることもなく落車こそしたものの骨折などの大怪我を負うこともなく無事に1年を終えられそうです。</span>
    </p><p>
      <span style="background-color: #eeeeee;"
        >それは素晴らしいことではありましたが昨年の同時期から数ヶ月、熱心に取り組んできたトレーニングの成果はついに日の目を見ること無く今年を終えることとなりました。</span>
    </p><p>
      <span style="background-color: #eeeeee;"
        >改めて今年は新型コロナウイルスの都合に翻弄された1年だったとは思う。だだとても大事な精神的なベーストレーニングの1年になったと思います。</span>
    </p><div style="text-align: left;">
      <span style="background-color: #eeeeee;"
        >なぜなら自分自身のやる気という形のないものとしっかり向き合う時間が取れたからです。</span>
    </div><p>
      <span style="background-color: #eeeeee;"
        >変な1年を終えようとしている今、もしかしたら今年最大の収穫かもしれないやる気について感じたことをメモしておこうと思う。</span>
    </p><p><span style="background-color: #eeeeee;"><br /></span></p><h3
      style="text-align: left;"
    >
      <span style="background-color: #eeeeee;">やる気ってなんだろな？</span>
    </h3><div
      class="kiji"
      style='font-family: "ＭＳ Ｐゴシック", arial, sans-serif; line-height: 1.7em; margin-bottom: 5px; text-align: left;'
    >
      <div class="Jtnhj" style="line-height: 1.7em; word-break: break-all;">
        <span style="background-color: #eeeeee;"
          >Weblio辞書さんによるとやる気とは</span>
      </div><blockquote>
        <div class="Jtnhj" style="line-height: 1.7em; word-break: break-all;">
          <div class="kiji" style="line-height: 1.7em; margin-bottom: 5px;">
            <div
              class="Jtnhj"
              style="line-height: 1.7em; word-break: break-all;"
            >
              <span style="background-color: #eeeeee;"
                ><a
                  class="crosslink"
                  href="https://www.weblio.jp/content/%E7%89%A9%E4%BA%8B"
                  style="border-bottom: 1px dashed rgb(153, 153, 153); color: black; line-height: 1.7em; text-decoration-line: none; word-break: break-all;"
                  title="物事の意味">物事</a
                >を行おうとする<a
                  class="crosslink"
                  href="https://www.weblio.jp/content/%E6%B0%97%E6%8C%81%E3%81%A1"
                  style="border-bottom: 1px dashed rgb(153, 153, 153); color: black; line-height: 1.7em; text-decoration-line: none; word-break: break-all;"
                  title="気持ちの意味">気持ち</a
                >、<a
                  class="crosslink"
                  href="https://www.weblio.jp/content/%E6%AC%B2%E6%B1%82"
                  style="border-bottom: 1px dashed rgb(153, 153, 153); color: black; line-height: 1.7em; text-decoration-line: none; word-break: break-all;"
                  title="欲求の意味">欲求</a
                >などを意味する<a
                  class="crosslink"
                  href="https://www.weblio.jp/content/%E8%A1%A8%E7%8F%BE"
                  style="border-bottom: 1px dashed rgb(153, 153, 153); color: black; line-height: 1.7em; text-decoration-line: none; word-break: break-all;"
                  title="表現の意味">表現</a
                >。</span>
            </div>
          </div>
        </div>
      </blockquote><div>
        <span style="background-color: #eeeeee;"
          >となっている。<br
          />この1年で痛感したのはどんなことでも行動を起こすにはやる気が必要ということです。</span>
      </div><div>
        <span style="background-color: #eeeeee;"
          >何を当たり前の事をと思うわけですが自分はやる気についてこう思うのです。</span>
      </div><div>
        <ol style="text-align: left;">
          <li>
            <span style="background-color: #eeeeee;"
              >やる気さえあればそこそこ何でも(結果、成果はさておき)行動に移すことができる。</span>
          </li><li>
            <span style="background-color: #eeeeee;"
              >やる気が続けば行動を重ねていくこともできる。</span>
          </li><li>
            <span style="background-color: #eeeeee;"
              >行動を継続すれば良い成果も上がりやすくなる。</span>
          </li>
        </ol>
      </div><div>
        <span style="background-color: #eeeeee;"
          >ということは物事を進めるのにあたってのやる気の重要度はとても高く思えます🤔</span>
      </div><div>
        <span style="background-color: #eeeeee;"><br /></span>
      </div><div>
        <span style="background-color: #eeeeee;"
          >そんなやる気ですが今年感じたのはどうやらやる気を生成するには<b
            >"体力"</b
          >と<b>"動機"</b>と<b>"やる気ジェネレーター"</b
          >が必要らしいということです。</span>
      </div><div>
        <span style="background-color: #eeeeee;"><br /></span>
      </div><div>
        <span style="background-color: #eeeeee;"
          >何だそれって感じですが、体力と動機をやる気ジェネレーターに渡してやるとやる気が生成されます。</span>
      </div><div>
        <span style="background-color: #eeeeee;">多分こんな感じです🤔</span>
      </div><blockquote>
        <div>
          <span style="background-color: #eeeeee;">f(体力, 動機) = やる気</span>
        </div>
      </blockquote><div>
        <span style="background-color: #eeeeee;"
          >やる気ジェネレーターは蒸気機関みたいなものに見えます。</span>
      </div><div>
        <span style="background-color: #eeeeee;"
          >燃料を燃やして水を蒸発させてタービンを動かす仕組みのような感じです。</span>
      </div><div>
        <span style="background-color: #eeeeee;">&nbsp; &nbsp;&nbsp;</span>
      </div><div>
        <div class="separator" style="clear: both; text-align: center;">
          <a
            href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjsNKp6f70WMzA-QXV8bJkD_8hwEzHICC7CyqNXWkup98y1tCLLlxur9OxBGsNV-IECvrRtTkDbjHbDBKnT-rgh0CJGXGsDsG9hG9DWrQQhwQtCp_vd05VzcGqoLj8UiqEGkMhVMNnlSFk/"
            style="background-color: #eeeeee; margin-left: 1em; margin-right: 1em;"
            ><img
              alt=""
              data-original-height="333"
              data-original-width="441"
              height="240"
              src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjsNKp6f70WMzA-QXV8bJkD_8hwEzHICC7CyqNXWkup98y1tCLLlxur9OxBGsNV-IECvrRtTkDbjHbDBKnT-rgh0CJGXGsDsG9hG9DWrQQhwQtCp_vd05VzcGqoLj8UiqEGkMhVMNnlSFk/"
              width="318"
            /></a>
        </div><span style="background-color: #eeeeee;"><br /><br /></span>
      </div><div>
        <span style="background-color: #eeeeee;"
          >この場合、燃料は動機で体力は水だとしましょう。</span>
      </div><div><span style="background-color: #eeeeee;"><br /></span></div><h4
        style="text-align: left;"
      >
        <span style="background-color: #eeeeee;">動機は燃料です。</span>
      </h4><div>
        <span style="background-color: #eeeeee;"
          >やる気を作り出すには燃料になる動機が必要ですが、動機は正直なところ何でも使えます。</span>
      </div><div>
        <span style="background-color: #eeeeee;"
          >それこそ<b>新しく購入したシューズを使いたい</b>とか<b
            >推しのジャージで表彰台に上がりたい</b
          >とか何でも良いです。大丈夫です。大概何でも燃えます。理屈が何にでもくっつくように何でも動機になります。</span>
      </div><div>
        <span style="background-color: #eeeeee;"><br /></span>
      </div><div>
        <span style="background-color: #eeeeee; color: #666666;">閑話休題</span>
      </div><div>
        <span style="background-color: #eeeeee; color: #666666;"
          >動機はなるべく欲望に忠実な方が良いです。</span>
      </div><div>
        <span style="background-color: #eeeeee; color: #666666;"
          >例えば好きな声優さんのラジオ番組で手紙を読んでもらいたいとか他人からすると理解し難いものでもOKです。</span>
      </div><div>
        <span style="background-color: #eeeeee; color: #666666;"
          >欲望に忠実な動機はたまに失火することもありますが燃え残るので後で他の動機と一緒に再点火できます。そしてそういう時の方がよく燃えます。</span>
      </div><div>
        <span style="background-color: #eeeeee; color: #666666;"><br /></span>
      </div><div>
        <span style="background-color: #eeeeee; color: #666666;"
          >逆に怒りとか恨みとか負の感情はその時は強く燃えますがすぐ燃え尽きます。</span>
      </div><div>
        <span style="background-color: #eeeeee; color: #666666;"
          >たいてい失火することはありません。そして火力が強いので灰も残りません。</span>
      </div><div>
        <span style="background-color: #eeeeee;"
          ><span style="color: #666666;"
            >やる気を作り出す燃料としてはちょっと扱いが難しい気がしますね</span
          >🤔</span>
      </div><div><span style="background-color: #eeeeee;"><br /></span></div><h4
        style="text-align: left;"
      >
        <span style="background-color: #eeeeee;">体力は水です。</span>
      </h4><div>
        <span style="background-color: #eeeeee;">寝れば回復します。</span>
      </div><div>
        <span style="background-color: #eeeeee;"
          >が、一度使い切ってしまうとしばらく回復しません。体力にエリクサーは無いのです。</span>
      </div><div>
        <span style="background-color: #eeeeee;"
          >やる気が強すぎると体力を使い切ってしまって窯が空焚き状態になります。</span>
      </div><div>
        <span style="background-color: #eeeeee;"
          >なるほど、だから大きすぎる野望は身を滅ぼすんですね？🤔</span>
      </div><div><span style="background-color: #eeeeee;"><br /></span></div><h4
        style="text-align: left;"
      >
        <span style="background-color: #eeeeee;"
          >やる気ジェネレーターは窯です。</span>
      </h4><div>
        <span style="background-color: #eeeeee;"
          >動機を焚べて体力をやる気に変換してくれます。</span>
      </div><div>
        <span style="background-color: #eeeeee;"
          >体力が無い状態でやる気ジェネレーターを動かすと空焚き状態になります。</span>
      </div><div>
        <span style="background-color: #eeeeee;"
          >今年の経験から空焚きを何回かやるとやる気ジェネレーターは壊れます。体力は何日か休めば回復しますが壊れたやる気ジェネレーターの回復には時間がかかるので体力はあるはずなのにやる気が出ない虚無モードに突入します。</span>
      </div><div>
        <span style="background-color: #eeeeee;"
          >7月終わりくらいからこのモードに突入しましたが体力はあるのにやる気が出ず苦しい時間を過ごしました...</span>
      </div><div>
        <span style="background-color: #eeeeee;"
          >なるほどぉ、これがオーバートレーニング症候群というわけですかぁ...</span>
      </div><div><span style="background-color: #eeeeee;"><br /></span></div>
    </div><h3 style="text-align: left;">
      <span style="background-color: #eeeeee;">やる気を無くす方法</span>
    </h3><p>
      <span style="background-color: #eeeeee;"
        >やる気を枯らすのは簡単で動機を失うかやる気ジェネレーターを壊せば良いです。</span>
    </p><p>
      <span style="background-color: #eeeeee;"
        >やる気ジェネレーターを壊すには</span>
    </p><ol>
      <li>
        <span style="background-color: #eeeeee;">体力を尽きさせる</span>
      </li><li>
        <span style="background-color: #eeeeee;">無理やり頑張る</span>
      </li>
    </ol><p>
      <span style="background-color: #eeeeee;"
        >これを数回繰り返せば壊れます。</span>
    </p><p><span style="background-color: #eeeeee;"><br /></span></p><h3
      style="text-align: left;"
    >
      <span style="background-color: #eeeeee;">やる気を回復させる方法</span>
    </h3><div>
      <span style="background-color: #eeeeee;"
        >どうしてやる気が出ないのか考えるのが良さそう。</span>
    </div><div>
      <ul style="text-align: left;">
        <li>
          <span style="background-color: #eeeeee;"
            >動機が無い -&gt; 動機になりそうなものを見つける。</span>
        </li><li>
          <span style="background-color: #eeeeee;"
            >体力が無い -&gt; 寝る。休む</span>
        </li><li>
          <span style="background-color: #eeeeee;"
            >↑は両方あるけどやる気出ない -&gt;
            やる気ジェネレーターが壊れてるので復旧させる。</span>
        </li>
      </ul>
    </div><div>
      <span style="background-color: #eeeeee;"
        >やる気ジェネレーターの復旧には月単位の休息期間が必要です。</span>
    </div><div>
      <span style="background-color: #eeeeee;"
        >また、やる気を出して挑戦しようとしていた事を楽しむことが必要です。</span>
    </div><div>
      <span style="background-color: #eeeeee;">そのうち復旧します。</span>
    </div><p><span style="background-color: #eeeeee;"><br /></span></p><h3
      style="text-align: left;"
    >
      <span style="background-color: #eeeeee;">結論</span>
    </h3><div>
      <ol style="text-align: left;">
        <li>
          <span style="background-color: #eeeeee;"
            >やる気ジェネレーターは壊れると復旧するまでが長いので壊さない。</span>
        </li><li>
          <span style="background-color: #eeeeee;"
            >体力のゲージに気を使う。</span>
        </li><li>
          <span style="background-color: #eeeeee;">動機は自分に依存する</span>
        </li>
      </ol>
    </div><p>
      <span style="background-color: #eeeeee;"
        >体力が無いときはおとなしく休むのです。やる気の空焚きはまずいですよ！</span>
    </p><div style="text-align: left;">
      <span style="background-color: #eeeeee;"
        >あと動機ですが例えばレースで勝つために頑張る！というのは動機としては立派ですがレースが中止になったときに一気にやる気を失います。</span>
    </div><div style="text-align: left;">
      <span style="background-color: #eeeeee;"
        >誰かのためにとかもまずいです。人も永遠に周りに居てくれるわけではないですから。</span>
    </div><div style="text-align: left;">
      <span style="background-color: #eeeeee;"
        >たぶん、自分の中の楽しいという感情さえあれば動機は十分です。</span>
    </div><div style="text-align: left;">
      <span style="background-color: #eeeeee;"
        >楽しめている間はずっと燃えます。楽しめなくなったらそもそもやる必要など無いのです。</span>
    </div><div style="text-align: left;">
      <span style="background-color: #eeeeee;"><br /></span>
    </div><div style="text-align: left;">
      <span style="background-color: #eeeeee;"><br /></span>
    </div><div style="text-align: left;">
      <span style="background-color: #eeeeee;"
        >来年はこのやる気の覚書をもとにやる気マネジメントをやってみようと思います。</span>
    </div><div style="text-align: left;">
      <span style="background-color: #eeeeee;"
        >多分ちょくちょくアップデートするんですがまたお酒が入ったらまたいつかやる気の覚書を書いてみようと思います。</span>
    </div>
  </article>
</Layout>
