---
import Layout from "../../../../../layouts/ArticleLayout.astro";
const title = "BRM427泉佐野400(2019)を走った話";
const description = "";
const thumbnail = "";
const labels = [];
---

<Layout title={title} labels={labels}>
  <article>
    <div>
      <div class="separator" style="clear: both; text-align: left;">
        <a href="https://blog.great-distance.com/2020/04/300km.html"
          >300kmブルベ</a
        >の完走から2週間、こいつを完走すればSR獲得に大手が掛かる！
      </div>
    </div><div class="separator" style="clear: both; text-align: left;">
      そんなブルベに出た話。
    </div><div class="separator" style="clear: both; text-align: center;">
      <br />
    </div><div class="separator" style="clear: both; text-align: left;">
      朝、開催地の泉佐野への移動のため南海難波駅で輪行を行う。
    </div><div class="separator" style="clear: both; text-align: left;">
      400km...
    </div><div class="separator" style="clear: both; text-align: left;">
      電車、車、飛行機を含めてさえ両手で数えられる回数しか移動したことが無いこの距離を<b
        >人力</b
      >で走破する。
    </div><div class="separator" style="clear: both; text-align: left;">
      サポートカーすら存在しない世界で制限時間と寒さに震えながら一晩中ヘッドライトの灯りを頼りに進み続けることが約束されている。
    </div><div class="separator" style="clear: both; text-align: left;">
      考えただけでふつうじゃない。
    </div><div class="separator" style="clear: both; text-align: left;">
      300km完走の熱狂に飲まれてエントリーしたことが悔やまれる。
    </div><div class="separator" style="clear: both; text-align: left;">
      <br />
    </div><table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto;"
    >
      <tbody
        ><tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEg6qVSrn4NurFADKKOeJ3dGS-hodlDAnvPVgo2QFGg229o7hNH8EzIcOiVy5LbX5CdswyrHIRwzozaxG7Js5Fkn8zj6m7GsDisp-e6GuSlm_836cjchCGMr2Tj8RzNvAI6ThSIIYWJQSuM/"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                data-original-height="1655"
                data-original-width="5586"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEg6qVSrn4NurFADKKOeJ3dGS-hodlDAnvPVgo2QFGg229o7hNH8EzIcOiVy5LbX5CdswyrHIRwzozaxG7Js5Fkn8zj6m7GsDisp-e6GuSlm_836cjchCGMr2Tj8RzNvAI6ThSIIYWJQSuM/s320/PANO_20190427_061657.vr.jpg"
                width="320"
              /></a
            ></td
          ></tr
        ><tr
          ><td class="tr-caption" style="text-align: center;"
            >出発点のマーブルビーチ<br />晴れ男なので雨もふらなかった<br /></td
          ></tr
        ></tbody>
    </table><div>出発地点にて速やかに受付とトイレを済ませる。</div><div>
      GW目前とはいえ早朝は冷える...
    </div><div>
      逆に日中は汗が止まらないような気温にもなってしまうのでボトルは2本
    </div><div>
      初めての超超ロングライド(自分比)なのでツールケースには大量の工具とパンク修理セットを用意してきた。
    </div><div class="separator" style="clear: both; text-align: center;">
      <a
        href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEi_dJf7ocND1PzmhZQu8VHrYbkSLm3oTnRQQET2GsnEx55Oc-EacthdgcghnRCtQwwytcIKsYHt1DPz5ZPcLACyNPPMbexWZryMjqv1mcgLj4gjU8EjqCU5bll7FOIfEXgEmIPXz3JGuAo/"
        style="margin-left: 1em; margin-right: 1em;"
        ><img
          border="0"
          data-original-height="4032"
          data-original-width="3024"
          height="320"
          src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEi_dJf7ocND1PzmhZQu8VHrYbkSLm3oTnRQQET2GsnEx55Oc-EacthdgcghnRCtQwwytcIKsYHt1DPz5ZPcLACyNPPMbexWZryMjqv1mcgLj4gjU8EjqCU5bll7FOIfEXgEmIPXz3JGuAo/s320/MVIMG_20190427_061717.jpg"
        /></a>
    </div><div class="separator" style="clear: both; text-align: center;">
      <br />
    </div><div><br /></div><h3 style="text-align: left;">
      スタートから龍神まで
    </h3><div>
      スタートしたら泉佐野ブルベ恒例の雄ノ山峠を抜けて和歌山へ向かうルートを走る。
    </div><div>
      月初にも走ってるし何のこともない。葉桜になった桜の街道を抜けて和歌山へ向かう。
    </div><div>
      紀の川を進み伊太祈曽(<b>いだぎそ</b
      >と読む)神社を右折して和歌山の山の中へ進んいく
    </div><div><br /></div><table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto;"
    >
      <tbody
        ><tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjYKGqZz-_pmIB7fyEOCuzunpna72cCbnFB-BFhw3qxAKbKIjPiUW_fERyA3qsyZaUuOtJrJ32uDkWbmrtRK8QIHtPYaG2z3oviis4ofb9lQlUXlCSYy1zvpPtmYDDTFrOZUeXA5KtVmzQ/"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                data-original-height="3024"
                data-original-width="4032"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjYKGqZz-_pmIB7fyEOCuzunpna72cCbnFB-BFhw3qxAKbKIjPiUW_fERyA3qsyZaUuOtJrJ32uDkWbmrtRK8QIHtPYaG2z3oviis4ofb9lQlUXlCSYy1zvpPtmYDDTFrOZUeXA5KtVmzQ/s320/IMG_20190427_103218.jpg"
                width="320"
              /></a
            ></td
          ></tr
        ><tr
          ><td class="tr-caption" style="text-align: center;"
            >距離に慣れてきたのか思ったよりも速く走れた<br /></td
          ></tr
        ></tbody>
    </table><div><br /></div><div>
      アップダウンをこなしていくとどういうわけか<b
        >どんどん愛車の乗り心地が良くなって</b
      >いく
    </div><div>明らかに何かがおかしい。</div><div>
      このバイクはそんなに乗り心地はよくない！
    </div><div>
      この時は100kmを4時間で走ることができたため時間に余裕があったので道の駅でうどんを食べるついでにバイクをチェックするとリアの空気が少ないことに気づく。
    </div><table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto;"
    >
      <tbody
        ><tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEh_MlIHq5jbr2VhOXHVx19MulP5ur2hJo8vBkPptO36ynmpi1ey3GLrfr6kn01538V6_q54hw0wk_dK9phQuhyphenhyphenz_1NQge8gMy7_YBghrHdzsP-srgVZfJlWhDxa_5-NiBV6sKF8TnA5tCE/"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                data-original-height="3024"
                data-original-width="4032"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEh_MlIHq5jbr2VhOXHVx19MulP5ur2hJo8vBkPptO36ynmpi1ey3GLrfr6kn01538V6_q54hw0wk_dK9phQuhyphenhyphenz_1NQge8gMy7_YBghrHdzsP-srgVZfJlWhDxa_5-NiBV6sKF8TnA5tCE/s320/IMG_20190427_111957.jpg"
                width="320"
              /></a
            ></td
          ></tr
        ><tr
          ><td class="tr-caption" style="text-align: center;"
            >だんだん固形物を無理なく食べられるようになってきていた</td
          ></tr
        ></tbody>
    </table><div>
      <br
      />これはスローパンクかもしれないしバルブが緩んで空気が漏れただけかもしれない。。。
    </div><div>
      原因がわからないから道の駅で空気入れを借りてパンパンの状態にしておく。
    </div><div>
      クリンチャータイヤはリム打ちパンクが怖いので空気圧は130psi近くまで入れているのでそこまで注入。
    </div><div>
      もしパンクならこの先の道の駅で交換すれば良いしとりあえず進むことにした
    </div><div><br /></div><div><br /></div><h3 style="text-align: left;">
      ~熊野本宮大社
    </h3><div>龍神を抜けると勝手知ったる道に出てくる。</div><div>
      このブログを始める切っ掛けになったGreatDistanceChallengeでちょくちょく走っていた白浜
      -&gt; 熊野本宮大社まで抜ける道に出てくる。
    </div><div class="separator" style="clear: both; text-align: center;">
      <a
        href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEic98wr4WCO5oHe2gecccgeOpcf-8cLyu5rq_oJYtY8AxNtyv8gjMszKZ14MZLJrY6Cy_0CNGQ8sfZ-CaB2trMZL2N2nfPWclVtJejEEvFaBVKAG6CLa7PndlX_A_mk7QdzKTRBtthufUE/"
        style="margin-left: 1em; margin-right: 1em;"
        ><img
          border="0"
          data-original-height="1094"
          data-original-width="1820"
          src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEic98wr4WCO5oHe2gecccgeOpcf-8cLyu5rq_oJYtY8AxNtyv8gjMszKZ14MZLJrY6Cy_0CNGQ8sfZ-CaB2trMZL2N2nfPWclVtJejEEvFaBVKAG6CLa7PndlX_A_mk7QdzKTRBtthufUE/s320/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588_2020-04-28_0_28_06.png"
          width="320"
        /></a>
    </div><div class="separator" style="clear: both; text-align: center;">
      <br />
    </div><div>
      ここなら万が一バイクがだめになってもリタイアして迎えに来てもらえばなんとかなるかなぁと考えつつ一路東へ向かう。
    </div><div>この山越えのちょうど中間にチェックポイントがある。</div><table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto;"
    >
      <tbody
        ><tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhYXSRplWuJJMj1OLpxij-1TBHKMuXNdxNs8s7q0i5klO0yswf2lwyIiYGd4UB0mJlFD3zszbW0UHljv4poD8ubkrnS8SQfKe6UwVzYzLpEGxdQ2N59q2Q7rMO9ZY7lEuk0ef_UWqP79Ro/"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                data-original-height="4032"
                data-original-width="3024"
                height="320"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhYXSRplWuJJMj1OLpxij-1TBHKMuXNdxNs8s7q0i5klO0yswf2lwyIiYGd4UB0mJlFD3zszbW0UHljv4poD8ubkrnS8SQfKe6UwVzYzLpEGxdQ2N59q2Q7rMO9ZY7lEuk0ef_UWqP79Ro/s320/IMG_20190427_122238.jpg"
              /></a
            ></td
          ></tr
        ><tr
          ><td class="tr-caption" style="text-align: center;"
            >野中の一方杉という22mもある杉の木<br
            />なんとνガンダムと同じ高さだ</td
          ></tr
        ></tbody>
    </table><div><br /></div><div><br /></div><div>
      この道は大型車両がちょくちょく通るため路面が結構ひどい。
    </div><div>
      そのためバースト寸前まで空気を入れたタイヤで走ると当然凄まじい振動を受ける。なのに乗り心地はどんどん良くなっていく...
    </div><div>
      これは、ダメみたいですね。ということでチェックポイント手前の道の駅でパンク修理。
    </div><div>
      <table
        align="center"
        cellpadding="0"
        cellspacing="0"
        class="tr-caption-container"
        style="margin-left: auto; margin-right: auto;"
      >
        <tbody
          ><tr><td style="text-align: center;"></td></tr><tr
            ><td class="tr-caption" style="text-align: center;"
              >チューブの粉を被って真っ白になった</td
            ></tr
          ></tbody>
      </table><br />
    </div><table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto;"
    >
      <tbody
        ><tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjoSZ3YwxXK-WTsc1bM_-l5Fh7zjTLppRdYSn-pGNF0wzaQy5oBZ9ywuA4vUgUfK3kfusNFiBypkGU-tIrVNNR0bQBJD-UlmJ5o2nWBZdIK1uajte8uZv8zlo79odiepHD573HIx_GW7KA/"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                data-original-height="3024"
                data-original-width="4032"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjoSZ3YwxXK-WTsc1bM_-l5Fh7zjTLppRdYSn-pGNF0wzaQy5oBZ9ywuA4vUgUfK3kfusNFiBypkGU-tIrVNNR0bQBJD-UlmJ5o2nWBZdIK1uajte8uZv8zlo79odiepHD573HIx_GW7KA/s320/IMG_20190427_125600.jpg"
                width="320"
              /></a
            ></td
          ></tr
        ><tr
          ><td class="tr-caption" style="text-align: center;"
            >修理に失敗して大事なチューブを一本ロスト(´・ω・｀)</td
          ></tr
        ></tbody>
    </table><br /><table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto;"
    >
      <tbody
        ><tr
          ><td style="text-align: center;"
            ><img
              border="0"
              data-original-height="4032"
              data-original-width="3024"
              height="320"
              src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgCEMa20v7dEO569xFOvNEhkBe3rOXjoA9R3YJ-PKgjflHu0Fe1WF67_VtnHqUtyXQ2CMJYtOODF55qJWBG5sklFAdyYL1GEELYHVz3D4LWKj2Ip8ORlDk06_A_PbFN2o9soMnLqNwAyeY/s320/IMG_20190427_130517.jpg"
              style="margin-left: auto; margin-right: auto;"
            /></td
          ></tr
        ><tr
          ><td class="tr-caption" style="text-align: center;"
            >チューブの粉を被って真っ白になってしまう(´・ω・｀)<br /></td
          ></tr
        ></tbody>
    </table><br /><br /><div>
      予備の、そして最後のチューブを投入しパンク修理を完了させてチェックポイントの近露へ到着
    </div><table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto;"
    >
      <tbody
        ><tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhTruRzPQmpSsMfrCw-oyciZ7Qfq21kIhz7mTm4TFGzRIKj9SWq9_qsZHL9p0YPivxw2QFx1S2AvLhkTJEBukCuNLRTggGEvmzGadmT_f8pzVptjokBfGUSl3Qu5_Pss0DR-9qP_EREBvU/"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                data-original-height="3024"
                data-original-width="4032"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhTruRzPQmpSsMfrCw-oyciZ7Qfq21kIhz7mTm4TFGzRIKj9SWq9_qsZHL9p0YPivxw2QFx1S2AvLhkTJEBukCuNLRTggGEvmzGadmT_f8pzVptjokBfGUSl3Qu5_Pss0DR-9qP_EREBvU/s320/IMG_20190427_131306.jpg"
                width="320"
              /></a
            ></td
          ></tr
        ><tr
          ><td class="tr-caption" style="text-align: center;"
            >チューブの粉を被ってバイクも真っ白に...(´・ω・｀)</td
          ></tr
        ></tbody>
    </table><div>
      <br />ここではサクサクっとパンを購入。食べながらそのまま東へ。
    </div><div>
      ここから6kmほど登ればあとは本宮まで13kmほど下ればいいだけ！
    </div><div><br /></div><div>
      今回、熊野本宮大社はコースには組み込まれてなかったけどこのブルベが改元直前、つまり平成最後の参拝チャンスだったのでちょっと寄り道。
    </div><div>
      過酷なブルベを経て距離感が壊れ始めたのだろう、これから250kmも走るのにちょっと寄り道しようなんて余裕が出てきてるんですから...
    </div><br /><div class="separator" style="clear: both; text-align: center;">
      <a
        href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEieIqUXY6zaFcAhX4jiFA6J4RahcVoyPMGJh-20vZ4DJOcoyTDT9Sero0DjjIDQ-f8rUKn0rOVyu9egYW8TFN5F5ym54taBAsonNcJl4PhZC09c-QFkBAXTkvMYwtpf1B5FFYxBYxHduXE/"
        imageanchor="1"
        style="margin-left: 1em; margin-right: 1em;"
        ><img
          border="0"
          data-original-height="4032"
          data-original-width="3024"
          height="320"
          src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEieIqUXY6zaFcAhX4jiFA6J4RahcVoyPMGJh-20vZ4DJOcoyTDT9Sero0DjjIDQ-f8rUKn0rOVyu9egYW8TFN5F5ym54taBAsonNcJl4PhZC09c-QFkBAXTkvMYwtpf1B5FFYxBYxHduXE/s320/IMG_20190427_143240.jpg"
        /></a>
    </div><div class="separator" style="clear: both; text-align: center;">
      いつもは単車で来ていたので自転車で来ることができて感動してた
    </div><div><br /></div><h3 style="text-align: left;">
      熊野本宮大社 ~ 田辺まで<br />
    </h3><div>
      本宮から新宮へ抜ける間にこれまでの快速の負荷に負けて膝が痛みが出始める(´・ω・｀)
    </div><div>
      幸い新宮から串本までの30kmは追い風だったため対して力を使わずに25km/h ~
      30km/hくらいの速度を維持できていた。
    </div><table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto;"
    >
      <tbody
        ><tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEi_94iE7M7b3B-X5dfKMZhZEN3IyWTi1dc3EzImyZyif8ROhC17fcLgi2Jddb0L1lC7eqwDG93OlOB8Rl1gASqnOrFJePGi7zNwX2yP2i3slQX44YID3nVxA9ymjtp0sU0O5v9gYU7VMmk/"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                data-original-height="1576"
                data-original-width="1860"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEi_94iE7M7b3B-X5dfKMZhZEN3IyWTi1dc3EzImyZyif8ROhC17fcLgi2Jddb0L1lC7eqwDG93OlOB8Rl1gASqnOrFJePGi7zNwX2yP2i3slQX44YID3nVxA9ymjtp0sU0O5v9gYU7VMmk/s320/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2020-04-28+23.35.22.png"
                width="320"
              /></a
            ></td
          ></tr
        ><tr
          ><td class="tr-caption" style="text-align: center;"
            >今なら心拍が100に行くかどうかという出力だけど当時は平均136<br
            />よく完走できたなぁと思うくらい弱い</td
          ></tr
        ></tbody>
    </table><div>
      <br />串本のチェックポイントに到着した時には既に夕方、西を見れば夕焼け。
    </div><div>
      潮の香りと夕焼けが哀愁あっていいのですがこれは夜戦の訪れを意味する。
    </div><div><br /></div><table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto;"
    >
      <tbody
        ><tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgaFo-OpuIN7pld0F99tG8FxEjL9DQwEXlaozrH5tTcQy9BJDjZK7GTdE2M0WGsnq8KFxAMqO4JXoewyCudz3lIIpCHBvkAaDtL_mXRenMW007NcyJeO_97FJ55qhhx3beNimD3byqBc_Q/"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                data-original-height="3024"
                data-original-width="4032"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgaFo-OpuIN7pld0F99tG8FxEjL9DQwEXlaozrH5tTcQy9BJDjZK7GTdE2M0WGsnq8KFxAMqO4JXoewyCudz3lIIpCHBvkAaDtL_mXRenMW007NcyJeO_97FJ55qhhx3beNimD3byqBc_Q/s320/MVIMG_20190427_175803.jpg"
                width="320"
              /></a
            ></td
          ></tr
        ><tr
          ><td class="tr-caption" style="text-align: center;"
            >自転車は旅なだよなぁ...</td
          ></tr
        ></tbody>
    </table><div>串本を出ると一路北向きに舵を切ることになる。</div><div>
      次のチェックポイントがある紀伊田辺までは距離にして70kmほど。ゴールまで200km。
    </div><div>ちょうど折り返し地点だ。</div><div><br /></div><div>
      苦しい状況は続き膝の痛みに加えて筋肉に焼けるような痛みが走る状態に突入する。
    </div><div>経験上、筋肉がこの状態に突入すると限界が近い。</div><div>
      2日くらい寝れば回復するけどブルベには制限時間があるからそれはできない。
    </div><div><br /></div><div>
      ただ身体は限界に近づくのと裏腹に気持ちは少し落ち着き始めた。
    </div><div>
      というのも次のチェックポイントが地元でここからの200kmは土地勘があるからである。
    </div><div>知ってる道を走れることが精神的な辛さを薄めてくれる。</div><div>
      道を知っているからこそ制限時間を目一杯使った休憩や補給案を選択できる。
    </div><div>
      時計を見る限り、時間的にも6時間ほど猶予がある。登りで失速することを前提にしても2時間は休憩を取ることができる。
    </div><div>
      田辺まで走ればネカフェもある(結構コースからは外れるけど)。
    </div><div><br /></div><div>
      そういう打算を一瞬で終わらせて後半戦を開始する。
    </div><div><br /></div><div>
      <div><b>ここからはしばらく写真は無いよ！</b></div><div><br /></div>
    </div><div>紀伊半島の海岸沿いを走る。</div><div>
      たぶん7年前の22歳くらいのときに単車で走ってから全く通ってなかった道をまさか自転車で走るなんてなぁ...
    </div><div><br /></div><table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto;"
    >
      <tbody
        ><tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhRKD4_ZOKYpV0H7xIy_-KNZ0vTRnNfRX-7Ww_WzRFh1OfMp2YoMchZgRDzsZYhhR9QCiKXAWzqtpdxAdQQWxbsqTzSdfklnJ85LkU9zPJBHjKbCuOQcfWc0qBbmubiWzF8-znYIRzpKW0/"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                data-original-height="1536"
                data-original-width="2048"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhRKD4_ZOKYpV0H7xIy_-KNZ0vTRnNfRX-7Ww_WzRFh1OfMp2YoMchZgRDzsZYhhR9QCiKXAWzqtpdxAdQQWxbsqTzSdfklnJ85LkU9zPJBHjKbCuOQcfWc0qBbmubiWzF8-znYIRzpKW0/s320/1090449_507187976026440_815583473_o.jpg"
                width="320"
              /></a
            ></td
          ></tr
        ><tr
          ><td class="tr-caption" style="text-align: center;"
            >昔の写真過ぎて解像度が...</td
          ></tr
        ></tbody>
    </table><div><br /></div><div>
      幾度も繰り返される登りは膝に気を使いつつダンシングを織り交ぜて筋肉の負荷を分散。
    </div><div>
      それでもすぐに限界がくるので坂の終わりでは10km/h出るか出ないかの瀬戸際で辛うじて止まらないようにペダルを回す。
    </div><div><br /></div><div>
      田辺までのこり30kmというところでハンガーノックになったのでこの海岸でもおそらく3箇所？しか存在しないコンビニで補給しまた走る。
    </div><div>
      たしか20時くらいに勝手知ったる<b>郵便橋</b>が見えてきた。上富田町だ...
    </div><pre
      style="text-align: left;"><div><br class="Apple-interchange-newline" />上富田町は大都会田辺市と経済特区白浜に挟まれた、水とマラソン以外ほとんどアピールするものが無い町だ。</div><div>私の育った地元その1でもある。</div><div><br style="font-family: &quot;Hiragino Kaku Gothic ProN&quot;; white-space /></div></pre><div
    >
      20時の上富田なんてほとんど真っ暗、深夜3時のなんばの方がまだ明るいくらいの真っ暗さだ(´・ω・｀)
    </div><div>
      気温も下がってきて10℃前後、めぼしいものは何もないし膝は耐え難い痛みを発信し続けている。
    </div><div>
      はやく次のチェックポイントへたどり着いてくれ(´・ω・｀)と祈りながら走ること15分？ようやく到着。
    </div><div><br /></div><div>
      チェックポイントの田辺で晩御飯を取ってから少し移動してネカフェにて2時間ほど仮眠。
    </div><div>
      次に目が覚めたときに膝が治っていることを祈った瞬間には意識を失った。
    </div><div><br /></div><h3 style="text-align: left;">田辺 ~ ゴール</h3><div>
      午前0時に目が覚めた。
    </div><div>
      目覚めの感覚は最悪で身体は鉄か何かかと思うほどの重さだった。
    </div><div>脚だけだと思っていた疲労は全身に及んでいたようだ。</div><div>
      トイレに行こうと立ち上がった瞬間に膝が駄目なことを悟った。普通に歩くだけでも辛い
    </div><div>
      万が一のためにと財布に忍ばせてあった禁断の薬、ロキソニンを取り出して水と一緒に飲む。
    </div><div><br /></div><div>
      ネカフェを出てしばらく走り始めてからはロキソニンのおかげで全く痛みを感じない！
    </div><div>
      これがドーピングのチカラか！残り距離も130km！これなら行ける！
    </div><div>楽観的な気持ちで次のチェックポイントへ向かう。</div><div>
      <br />
    </div><div>
      しかし田辺市街を出た瞬間辺りから爆風の向かい風が襲いかかる。
    </div><div>
      本当に猛烈な風、それに加えて気温は7℃前後。Raphaの雨合羽を着て走っていると前にランドヌール特有の尾灯が！
    </div><div>
      ちょっと後ろにつかせてもらおう近づいたらなんとその方はゴミ袋を被って走っておられた!!!
    </div><div>たしかに穴がないから風も通らないし温かいとは思うけど...</div><div
    >
      <br />
    </div><div>
      前からの爆風向かい風にゴミ袋がすごい音を放つ。しかしものすごい健脚な方で速度は落ちることが全く無い。
    </div><div>
      平坦で何度か千切れかけながら必死の登攀で追いついてを繰り返すこと35km地点で健脚兄貴から声を掛けられる。
    </div><div><br /></div><div>
      健脚兄貴 「もう仮眠とりました(・∀・)？？」
    </div><div><br /></div><div>UG&nbsp; 「はい！(^o^)」&nbsp;</div><div>
      <br />
    </div><div>
      健脚兄貴 「<b>僕ここのコンビニで仮眠とってから行くんで！＼(^o^)／</b>」
    </div><div><br /></div><div>UG 「はい！　え！？・ω・？」</div><div>
      <br />
    </div><div>
      コンビニで仮眠を取るからといそいそとコンビニへ走っていってしまった。。。
    </div><div>健脚兄貴はこの寒い中外で寝るのか？死んじゃうぞ！？</div><div>
      <br />
    </div><div>
      かつてブルベについて調べた時、ツワモノたちはコンビニの前の駐車場やコインランドリー、精米所などで眠るという情報を目にしたことはあった。
    </div><div>UGはそれを都市伝説だと思っていた。</div><div><br /></div><div>
      いくら屈強なランドヌールにも人権はあるはずだ！冷たいアスファルトの上で眠るなんて正気の沙汰じゃない。
    </div><div>
      きっと彼はコンビニの中のイートインスペースで寝るんだと思うことにして先へ進む。
    </div><div>
      進んでるときにもう一度考えたけどあのコンビニイートインスペース無いんだよなぁ...。
    </div><div><br /></div><div><br /></div><div>
      健脚兄貴と別れてから5kmほど進むと実質ラスボスとも言える登りが２つ現れる。
    </div><div>最初の登攀が由良峠。</div><div>
      そしてこの由良峠の登り口の駐車場でUGは二度と忘れない光景を目にする。
    </div><div><br /></div><div>
      信号待ちで止まった横に駐車場があったのです。
    </div><div>
      そこにこんな田舎では絶対お目にかかれないようなロードバイクがフェンスに立てかけられている。
    </div><div>そしてその横に横たわるレーパン姿の男...</div><div>
      <br />
    </div><div>寝てはる...(京都弁)</div><div>
      峠の麓である。ただでさえ低い気温(サイコンでは6℃)に峠から吹き下ろす風もある。
    </div><div>そんな過酷な状況をもろともせずランドヌールは眠る。</div><div>
      都市伝説じゃなかった。ランドヌールはどこでも眠れる。
    </div><div>
      どこでも眠れるからランドヌールでいられるのかもしれないが...
    </div><div><br /></div><div>信号が青になったので先へ進む。</div><div>
      停車時間なんてものの1分ほどのはずなんだけど5分は止まってたんじゃないかと思うくらい衝撃的な光景だった。
    </div><div><br /></div><table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto;"
    >
      <tbody
        ><tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEh_xuMo1ohFLXS1De12vyTu33gYv7gCA76ZoQpLhBBE-4usEcV0wdrrTSd9gGDWaOgogKcRwfLMYi5uZMBvKDXpJHWsnx_mYYRtjk5B-Envq6ei8sl53VbhbkVFOgLJA9Yq0vvMCQGRsZY/"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                data-original-height="3024"
                data-original-width="4032"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEh_xuMo1ohFLXS1De12vyTu33gYv7gCA76ZoQpLhBBE-4usEcV0wdrrTSd9gGDWaOgogKcRwfLMYi5uZMBvKDXpJHWsnx_mYYRtjk5B-Envq6ei8sl53VbhbkVFOgLJA9Yq0vvMCQGRsZY/s320/IMG_20190428_024302.jpg"
                width="320"
              /></a
            ></td
          ></tr
        ><tr
          ><td class="tr-caption" style="text-align: center;"
            >２つ目の水越峠攻略の直前に撮った</td
          ></tr
        ></tbody>
    </table><div><br /></div><div>
      ２つの峠を40分掛けてどうにか攻略し最終チェックポイントへ到着。ここからゴール受付までは概ね60km。
    </div><div>
      チェックポイントとなっているコンビニへ入ると既にランドヌールがたくさんいた。
    </div><div>
      イートインスペースで突っ伏して爆睡している人もいれば笑顔できつかったなー！とか言ってる人もいた。
    </div><div>ここは野戦病院かな？</div><div><br /></div><div>
      先着ランドヌールがジェルを完売に持っていってしまってるため補給としてはパンを買うしか無かった。
    </div><div>
      悴んだ顎でチョココロネを食べていたら屈強そうなランドヌールに「まだ固形物食べれるんか！やるなぁ！おっちゃんはもうジェルしか無理や！」と言われる。
    </div><div>
      そういえばこのブルベではジェルよりも固形物を食べてる回数のほうが多いな。
    </div><div>
      自分でも知らないところで見えないところが強くなっているんだなぁなんて思いながら次に来るであろうランドヌールのために席を立つ。
    </div><div><br /></div><div>ゴールまで60km。午前3時。</div><div>
      ここまでくれば自転車が爆発でもしない限りはゴールできる！
    </div><div>
      流行りこのあたりも土地勘があるので一人でも安心して走り出すことができる。
    </div><div>そう思ってバイクにまたがり走り出す。</div><div><br /></div><div>
      最終チェックポイントから20kmほど走ったあたりで空が明るくなり始め、夜露と田舎特有の土の匂いが10年くらい時間を戻した感覚にしてくれる。
    </div><div>懐かしさを感じながら一路北へ。</div><div>
      久しぶりの信号で停車すると意識が飛びそうになりロキソニンで紛らわせた疲労感を再び感じ始めていることに気がつくもゴールまでのカウントダウンが始まる。
    </div><div>
      停車すると転けそうになるので停車時に最新の注意を払いながらゴール受付ポイントのマクドナルドへ
    </div><div><br /></div><div>
      確か23時間半とかだったと思うけどそれまでの人生で一番長い自転車旅を完走することができた。
    </div><div><br /></div><table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto;"
    >
      <tbody
        ><tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgYV2g6H85fixII5z4S51_OkfsU4FWKqo3cnhxfgHC0Rb43wwTn7EFnaN3oCncZjV1D6KsL9FmqYkcVM8LCLU0Pbg64Gd57q8u-3au8CSs2MTHy5KdaGf6mofi4xYarPBLGECCY4sTi3cg/"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                data-original-height="3024"
                data-original-width="4032"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgYV2g6H85fixII5z4S51_OkfsU4FWKqo3cnhxfgHC0Rb43wwTn7EFnaN3oCncZjV1D6KsL9FmqYkcVM8LCLU0Pbg64Gd57q8u-3au8CSs2MTHy5KdaGf6mofi4xYarPBLGECCY4sTi3cg/s320/IMG_20190428_100347.jpg"
                width="320"
              /></a
            ></td
          ></tr
        ><tr
          ><td class="tr-caption" style="text-align: center;"
            >完走記念のメダルとピンバッジ<br
            />ピンバッジのデザインは200/300/400/600の中で一番好き</td
          ></tr
        ></tbody>
    </table><br /><h3 style="text-align: left;">後日談</h3><div>
      完走の記念にジャージを購入した。
    </div><div>
      別に決めていたわけでもなんでも無くてたまたま冷やかしに入ったRaphaに2年くらいほしかったジャージがなぜか売ってたからというだけなんだけども
    </div><div>
      UGが憧れて仕方ない20世紀最高のクライマー、マルコ・パンターニの記念ジャージだ！
    </div><table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto;"
    >
      <tbody
        ><tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEj19r5DpOHvj8KLqdUozh9dOzu6oorodLzkOxPMDHJ35TcYemsd5z_vBCwj8-l9hF7LumRqzQJzmKypcQOrYgNC8_ghbhY978ONrJE7HmVmkt5IKjz6JEYfe0nbEEt6k08vd_iA9IcizM4/"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                data-original-height="3024"
                data-original-width="3024"
                height="320"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEj19r5DpOHvj8KLqdUozh9dOzu6oorodLzkOxPMDHJ35TcYemsd5z_vBCwj8-l9hF7LumRqzQJzmKypcQOrYgNC8_ghbhY978ONrJE7HmVmkt5IKjz6JEYfe0nbEEt6k08vd_iA9IcizM4/s320/IMG_20190429_165309_411.jpg"
              /></a
            ></td
          ></tr
        ><tr
          ><td class="tr-caption" style="text-align: center;"
            >このジャージを着てGreatDistanceChallengeが始まったのはまた別の話<br
            /></td
          ></tr
        ></tbody>
    </table><div><br /></div>
  </article>
</Layout>
