---
import Layout from "../../../../../layouts/ArticleLayout.astro";
const title = "GranFondo600挑戦記";
const description = "";
const thumbnail = "";
const labels = [];
---

<Layout title={title} labels={labels}>
  <article>
    <iframe
      allowtransparency="true"
      frameborder="0"
      height="405"
      scrolling="no"
      src="https://www.strava.com/activities/4093625465/embed/f14593dd4e7e6d78a0581318ce039cd715db38e5"
      width="590"></iframe>
    <div><br /></div><div>
      <br /><div class="separator" style="clear: both; text-align: center;">
        <a
          href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhAK9S8oxcbIv4wLDw5MeXEv4aM4_KrCspegLcYtQLR1l48g9CoXJiC90B8Y2pHzo1D1TUfPX4he83OJKoaO_Lj3IsSe_i787h1abu5qnenpPSn4aehIZpw8tSOR_5y1tz1UHKSNkze6ok/s2048/EimmiyDVgAElMz2-1.jpg"
          style="margin-left: 1em; margin-right: 1em;"
          ><img
            border="0"
            data-original-height="2048"
            data-original-width="1536"
            height="320"
            src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhAK9S8oxcbIv4wLDw5MeXEv4aM4_KrCspegLcYtQLR1l48g9CoXJiC90B8Y2pHzo1D1TUfPX4he83OJKoaO_Lj3IsSe_i787h1abu5qnenpPSn4aehIZpw8tSOR_5y1tz1UHKSNkze6ok/s320/EimmiyDVgAElMz2-1.jpg"
          /></a>
      </div><br /><div
        class="separator"
        style="clear: both; text-align: center;"
      >
        <br />
      </div>コロナによる自粛が解除され徐々にサイクルイベントが開催され始めた夏。
    </div><div>
      ところがUGは年始6ヶ月で一年分のやる気を使い果たし、ついにトレーニングをサボり始め、一時は130近くあったCTLも70を下回る体たらく状態に...
    </div><div><br /></div><div>
      個人的に目標にしていたレースは全て開催中止が決定、完全にやる気を取り戻すことに失敗した状態の中、ある日Twitterを徘徊していたらこんなものを見つけた。
    </div><div>
      <blockquote class="twitter-tweet">
        <p dir="ltr" lang="ja">
          めちゃくちゃ出るか悩む…<br
          />来年からはこういうこと出来ないだろうから、挑戦したい！<br
          />けど、こんなコース完走できる気がしないw<br
          />エスケープできるルートが複数あるなら、失敗覚悟でチャレンジしてみるか…
          <a href="https://t.co/1UDqIJEVhA">https://t.co/1UDqIJEVhA</a>
        </p>— さとる！ (@rikusato37) <a
          href="https://twitter.com/rikusato37/status/1300052370236215298?ref_src=twsrc%5Etfw"
          >August 30, 2020</a>
      </blockquote><p><br /></p>
    </div><div>ソノ時、UGニ電流ガ走ル。</div><div><br /></div><div>
      同時に怠惰な生活で長らく忘れていたが困難に挑戦してどうにかしようと奮闘することが好きだったことを思い出す。
    </div><div><br /></div><div>件のGF600、開催日は9/21である。</div><div>
      実はこの日は一昨年に自走沼津して沼津で素晴らしい休日を堪能した日、1ヶ月以上前から沼津へ旅行しようと画策していたのであるがそこでふと考え、そしてこう結論を下す。
    </div>
    <div>
      <blockquote class="twitter-tweet">
        <p dir="ltr" lang="ja">
          GF600、エントリーしちゃった<br
          />沼津は逃げないけど2020のGF600は今しか開催されないからな<br
          />DNFの可能性はあるものの、「男は度胸なんでも試してみるもんだ」の精神でぶつかっていく
        </p>— UG (@gr8distance) <a
          href="https://twitter.com/gr8distance/status/1301677897145434120?ref_src=twsrc%5Etfw"
          >September 4, 2020</a>
      </blockquote>
      <script
        async=""
        charset="utf-8"
        src="https://platform.twitter.com/widgets.js"
      >
      </script>そう、沼津は逃げない。俺が沼津に向かっているからいつか必ず移住する。
    </div><div>
      ならば年に一度の機会である。挑戦するより無い。無いのである。
    </div><div><br /></div><div>
      準備については後日準備編を書くので許して🙏
    </div><div><br /></div><h3 style="text-align: left;">出走前</h3><div>
      出走は9/21。日が暮れるまでに日本海にたどり着きたいので午前2:30になぎさ公園を出走する。
    </div><div class="separator" style="clear: both; text-align: center;">
      <a
        href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjIqE9G_ijXb2qFSW-L-manxyFfhVOihnsUfqy2nsUdW4iPrph92rs9PT1TmK90MEp6Pxzzrsk3X_GwJXtIbeZPtejlbIidql2-3bmOd99otXbqX1a_W4UC2Jv2IaeVQ4YuIPX9tFvF3fI/s4032/PXL_20200920_171453492.NIGHT.jpg"
        style="margin-left: 1em; margin-right: 1em;"
        ><img
          border="0"
          data-original-height="3024"
          data-original-width="4032"
          src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjIqE9G_ijXb2qFSW-L-manxyFfhVOihnsUfqy2nsUdW4iPrph92rs9PT1TmK90MEp6Pxzzrsk3X_GwJXtIbeZPtejlbIidql2-3bmOd99otXbqX1a_W4UC2Jv2IaeVQ4YuIPX9tFvF3fI/s320/PXL_20200920_171453492.NIGHT.jpg"
          width="320"
        /></a>
    </div><div class="separator" style="clear: both; text-align: center;">
      <br />
    </div>隣のバイクはエントリーのきっかけとなった&nbsp;<a
      href="https://twitter.com/rikusato37?s=20">さとるくん</a
    >のバイク。<div>
      <div>
        ちなみに彼とは去年の泉佐野600なるブルベで後半の300kmを共に走った。
      </div><div><br /></div><div>
        その時の印象は一言で&nbsp;<b>"エンデュランススポーツの神に愛されし者"</b
        >である。
      </div><div>
        卓抜したフィジカルと調和した黄金の精神を持っている。強い。
      </div><div>さとるくんの話は後で書くます。</div><div><br /></div><div>
        <h3 style="text-align: left;">[9/21 2:30] Fantastic Depature...</h3><div
        >
          <b>Attention please...?&nbsp;</b>
        </div><div><b><br /></b></div><div><b>Let's Ride on!!!</b></div><div>
          (ファンデパいい曲だよね！)
        </div><div><br /></div><div>
          ということで午前2:30、定刻を待ってなぎさ公園をあとにする。
        </div><div>
          開始チェックポイントで眠気対策のガムを購入してしめやかに摩耶山クライムを開始する。
        </div><div><br /></div><div>
          完走の可能性をなるべく上げるために極力脚を使わないことを意識して休むダンシングやハムストリング主体で登坂する。
        </div><div><br /></div><div>
          年始のALL
          ROAD300の時よりも低い強度で登っているので平均心拍も144、ぎりぎりLSDの心拍数で登れている。
        </div><div><br /></div><br /><table
          align="center"
          cellpadding="0"
          cellspacing="0"
          class="tr-caption-container"
          style="margin-left: auto; margin-right: auto;"
        >
          <tbody
            ><tr
              ><td style="text-align: center;"
                ><a
                  href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEivT0CrxafCEWNOIdc3iqUhK3Uo7zX6cDXypla6SFZceWb1Iv82vsMNQXyq-OuuHjNyGDDCQiTFldhHhE2ZrjiyG9vXUyPkEIIIWbXg8kDuPi1iensuyj04pYK6F7Q6mJclisFFxqpx1LQ/s1536/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2020-09-24+21.52.35.png"
                  style="margin-left: auto; margin-right: auto;"
                  ><img
                    border="0"
                    data-original-height="840"
                    data-original-width="1536"
                    src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEivT0CrxafCEWNOIdc3iqUhK3Uo7zX6cDXypla6SFZceWb1Iv82vsMNQXyq-OuuHjNyGDDCQiTFldhHhE2ZrjiyG9vXUyPkEIIIWbXg8kDuPi1iensuyj04pYK6F7Q6mJclisFFxqpx1LQ/s320/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2020-09-24+21.52.35.png"
                    width="320"
                  /></a
                ></td
              ></tr
            ><tr
              ><td class="tr-caption" style="text-align: center;"
                ><div style="text-align: left;">
                  正直、ここはまだ楽だった
                </div></td
              ></tr
            ></tbody>
        </table><div>
          <br
          />登り始めてしばらくすると赤い光が見え別の時間に出発したランドヌールがいたので追い抜く。
        </div><div>
          そのまま見えてきた最初のフォトコントロールでパシャリ
        </div><div class="separator" style="clear: both; text-align: center;">
          <a
            href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhqFP1kOSGw3JOypDTXp56PkFppOVydno2to-9UVdrugtpRJf1jiZMnguR1-kYdSVh3Hhmd6CYyfwy7C2nlBiVQXC6wwAr70GwIYgM9tl9KtfDwnk7M6Xgb9UeP9shKBltE279lmm7PCgs/s4032/PXL_20200920_181801706.jpg"
            style="margin-left: 1em; margin-right: 1em;"
            ><img
              border="0"
              data-original-height="3024"
              data-original-width="4032"
              src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhqFP1kOSGw3JOypDTXp56PkFppOVydno2to-9UVdrugtpRJf1jiZMnguR1-kYdSVh3Hhmd6CYyfwy7C2nlBiVQXC6wwAr70GwIYgM9tl9KtfDwnk7M6Xgb9UeP9shKBltE279lmm7PCgs/s320/PXL_20200920_181801706.jpg"
              width="320"
            /></a>
        </div><br /><div>
          撮影が終わったので速やかに残りの工程を消化して45km地点にある最初のPCへ。
        </div><div class="separator" style="clear: both; text-align: center;">
          <a
            href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEggVyghhlpElI95XrmBSrc3XsOX1w_GdHJBqoOpTR0wVByXRzxmD3RTtQ7Mvq72nHhwRWJ2NUYc2VKSYj3h5EfmNgU87MsebrFuDEceGlntvqtgXU-rkTPuIqt_0PEDSCSCtU67CuXgliM/s4032/PXL_20200920_194853502.jpg"
            style="margin-left: 1em; margin-right: 1em;"
            ><img
              border="0"
              data-original-height="3024"
              data-original-width="4032"
              src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEggVyghhlpElI95XrmBSrc3XsOX1w_GdHJBqoOpTR0wVByXRzxmD3RTtQ7Mvq72nHhwRWJ2NUYc2VKSYj3h5EfmNgU87MsebrFuDEceGlntvqtgXU-rkTPuIqt_0PEDSCSCtU67CuXgliM/s320/PXL_20200920_194853502.jpg"
              width="320"
            /></a>
        </div><br /><table
          align="center"
          cellpadding="0"
          cellspacing="0"
          class="tr-caption-container"
          style="margin-left: auto; margin-right: auto;"
        >
          <tbody
            ><tr
              ><td style="text-align: center;"
                ><a
                  href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhTqEIicFFyBOj2Z5kvBc9mykMBAI7Aohwb17aFY6vhUF258ocBJxvxndkdpokrg7j1fXKG3asrgGc5bfuYjEV2K9dj_kjMHJZ_jg3MYHK68uWeQEF1P7vKFuv6n5kI4f1DxL1EgpOAJN4/s4032/PXL_20200920_200316502.NIGHT.jpg"
                  style="margin-left: auto; margin-right: auto;"
                  ><img
                    border="0"
                    data-original-height="3024"
                    data-original-width="4032"
                    src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhTqEIicFFyBOj2Z5kvBc9mykMBAI7Aohwb17aFY6vhUF258ocBJxvxndkdpokrg7j1fXKG3asrgGc5bfuYjEV2K9dj_kjMHJZ_jg3MYHK68uWeQEF1P7vKFuv6n5kI4f1DxL1EgpOAJN4/s320/PXL_20200920_200316502.NIGHT.jpg"
                    width="320"
                  /></a
                ></td
              ></tr
            ><tr
              ><td class="tr-caption" style="text-align: center;"
                >夜と朝の境目の景色を拝めるのはランドヌールの特権</td
              ></tr
            ></tbody>
        </table><br />
      </div><div>
        大体2時間で最初の45kmを走破しているので順調、時間貯金も十分なのでサクサク進んでいく。
      </div><div><br /></div><div>
        朝早く、信号もまばらなので出してないつもりでも速度は出ている。
      </div><table
        align="center"
        cellpadding="0"
        cellspacing="0"
        class="tr-caption-container"
        style="margin-left: auto; margin-right: auto;"
      >
        <tbody
          ><tr
            ><td style="text-align: center;"
              ><a
                href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEh5meFOhr-UYMEt_qtNR7uedckyFFQYtiEfLn_WcUeu78Idnp6p6WAV-jMUXA_cezk-pDvGKqEwJafzEjA_S4Gi1bterTT9KWCSIGIHtCOGGTGimpFkd3cTadCxJ_N3c1TWf513MSALQBk/s1498/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2020-09-24+21.59.28.png"
                style="margin-left: auto; margin-right: auto;"
                ><img
                  border="0"
                  data-original-height="892"
                  data-original-width="1498"
                  src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEh5meFOhr-UYMEt_qtNR7uedckyFFQYtiEfLn_WcUeu78Idnp6p6WAV-jMUXA_cezk-pDvGKqEwJafzEjA_S4Gi1bterTT9KWCSIGIHtCOGGTGimpFkd3cTadCxJ_N3c1TWf513MSALQBk/s320/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2020-09-24+21.59.28.png"
                  width="320"
                /></a
              ></td
            ></tr
          ><tr
            ><td class="tr-caption" style="text-align: center;"
              >平均速度で26.3km/h、心拍は130平均とかなり調子が良い</td
            ></tr
          ></tbody>
      </table><div><br /></div><div><br /></div><h3 style="text-align: left;">
        [6:30] コットンキャンディえいえいおー!
      </h3><div>スタートから4時間で最初の関門、雪彦峠の登り口に到着。</div><div>
        待ちかねたとばかりに今回の登坂の新兵器を投入していく。
      </div><div><br /></div><div>
        ここで新兵器を紹介する前に大切な話をしたい。
      </div><div>
        このブルベの開催日である9/21はAqoursメンバー、<span
          style="color: #e06666;"><b>黒澤Ruby</b></span
        >ちゃんの誕生日。なんと今年度のメンバー誕生日にはメンバーの新曲を含むソロアルバムがリリースされる！
      </div><div>
        そう、私達の出走から遡ること2時間半、なんとAppleMusicにも配信されていたのである。
      </div><div><br /></div><div>そして改めて新兵器を紹介しよう。</div><div>
        そう、黒澤ルビィちゃんの新曲、「コットンキャンディえいえいおー」こそがこのブルベの秘密兵器だったのである。
      </div><div>
        <blockquote class="twitter-tweet">
          <p dir="ltr" lang="ja">
            雪彦山の登り口についた<br
            />こっとんきゃんでえいえいおーをガンガン流しながら登ってきましたが調子良いですねぇ<br
            />神社前の猫さんずになんやこいつ👀って顔されて草 <a
              href="https://t.co/sQSRXkvo8d">pic.twitter.com/sQSRXkvo8d</a>
          </p>— UG (@gr8distance) <a
            href="https://twitter.com/gr8distance/status/1307802614654877696?ref_src=twsrc%5Etfw"
            >September 20, 2020</a>
        </blockquote>
        <script
          async=""
          charset="utf-8"
          src="https://platform.twitter.com/widgets.js"></script>
      </div><div>
        はじめて聴いたときからこうなることは確定的に明らかだった。
      </div><div>
        完全な電波ソングに中毒性のあるサビ、このビートに合わせてダンシングするとどんなきつい坂でも苦しくない。どんどんガンガン踏んじゃうよー(キツい)という気持ちになれる。
      </div><div><br /></div><div>
        そしてどんどんガンガン踏んで平均時速は11km/hと遅いながらも楽にこなす。
      </div><div class="separator" style="clear: both; text-align: center;">
        <a
          href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgzUGDJfYBxgp5JqAlkRWEuswqMdjwtEFejKujlJoF0-ineHj2rwr5lI9AFu0-1ZUji_-we9BxFVqE8nSnEiw7-zrRwpv-dCCvdcfmA4ot4VnkQNERKZrpnbUhkxwi1Yy1BS2ImuwvtdZw/s4032/PXL_20200920_220716694.MP.jpg"
          style="margin-left: 1em; margin-right: 1em;"
          ><img
            border="0"
            data-original-height="3024"
            data-original-width="4032"
            src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgzUGDJfYBxgp5JqAlkRWEuswqMdjwtEFejKujlJoF0-ineHj2rwr5lI9AFu0-1ZUji_-we9BxFVqE8nSnEiw7-zrRwpv-dCCvdcfmA4ot4VnkQNERKZrpnbUhkxwi1Yy1BS2ImuwvtdZw/s320/PXL_20200920_220716694.MP.jpg"
            width="320"
          /></a>
      </div><br /><div><br /></div><div>
        そして、不幸にも地獄が始まってしまった...
      </div><div><br /></div><div>
        <div class="separator" style="clear: both; text-align: center;">
          <a
            href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEix16Og3r1YpBiOu482RWNkmaEMpkoNv2Nn4OBTt_KtLs04zTR67jwwq1Mo819H3RT7wde3FoKAJWVrbbQ4Sb6kFKem0AP_4BxbeCcCBANhY01uWSLDyxI3iSyFOPhgicHH_MppUZM6X7U/"
            style="margin-left: 1em; margin-right: 1em;"
            ><img
              alt=""
              data-original-height="190"
              data-original-width="288"
              height="211"
              src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEix16Og3r1YpBiOu482RWNkmaEMpkoNv2Nn4OBTt_KtLs04zTR67jwwq1Mo819H3RT7wde3FoKAJWVrbbQ4Sb6kFKem0AP_4BxbeCcCBANhY01uWSLDyxI3iSyFOPhgicHH_MppUZM6X7U/"
              width="320"
            /></a>
        </div><div class="separator" style="clear: both; text-align: center;">
          <br />
        </div>
      </div><div>
        最初の登坂を終え、少し下ると再び本格的な登坂が始まる。
      </div><div>2回目以降の登坂はなぜか急勾配が連続して襲いかかる。</div><div>
        登りきったらすぐに下り始めまたしても登り始める。
      </div><div><b>なんという位置エネルギーの無駄遣いか！</b></div><div>
        <br />
      </div><div>
        山頂の気温と冷える汗、奪われる体温、軽い空腹感に苦しめられながらどうにか砥が峰までクリアし下り始める
      </div><table
        align="center"
        cellpadding="0"
        cellspacing="0"
        class="tr-caption-container"
        style="margin-left: auto; margin-right: auto;"
      >
        <tbody
          ><tr
            ><td style="text-align: center;"
              ><a
                href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgMFKjc8SDWElgLQgApu_rFGaNcChB6adKnl1QXZuob598nKllrIBd_RLMFPjKQWTji5IhLQcnv6fYYWL4_1J_cyyStMHtfyCz-JiE6cYSISsJwd8mfNE9kjfsyeI6ShOdoxTb14Ck0W60/s4124/PXL_20200921_002500282.PANO.jpg"
                style="margin-left: auto; margin-right: auto;"
                ><img
                  border="0"
                  data-original-height="1687"
                  data-original-width="4124"
                  src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgMFKjc8SDWElgLQgApu_rFGaNcChB6adKnl1QXZuob598nKllrIBd_RLMFPjKQWTji5IhLQcnv6fYYWL4_1J_cyyStMHtfyCz-JiE6cYSISsJwd8mfNE9kjfsyeI6ShOdoxTb14Ck0W60/s320/PXL_20200921_002500282.PANO.jpg"
                  width="320"
                /></a
              ></td
            ></tr
          ><tr
            ><td class="tr-caption" style="text-align: center;"
              >ここを馬で走ったら楽しいだろうなぁと思ったり</td
            ></tr
          ></tbody>
      </table><br /><h3 style="text-align: left;">
        [10:30] 訳あり高速ダウンヒル
      </h3><div></div><blockquote>
        <div>う〜〜、トイレトイレ...</div><div>
          今トイレを求めて全力ダウンヒルしている僕はGF600に参加しているごく普通の(ry
        </div><div></div>
      </blockquote><div><br /></div><div>いや、ほんとに求めていた！</div><div>
        しかし喉も渇くしお腹も空くので立ち止まって自販機で休憩しながら再スタート
      </div><div><div>コンビニのある町まで全力で走る。</div></div><div>
        もし限界が来たら道端で済ませば良い！
      </div><div>何事もシンプルに解決するのが一番なのだ</div><table
        align="center"
        cellpadding="0"
        cellspacing="0"
        class="tr-caption-container"
        style="margin-left: auto; margin-right: auto;"
      >
        <tbody
          ><tr
            ><td style="text-align: center;"
              ><a
                href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhDQ-1LY21exG77n7VlgXJKDbNBvth7Eal1HtbY0nRWDkULFnTNRMr1W1eHMEPaR6d7tstCgJOSxNBqg37QC6P8Kxn4Vak3LOprE4IeEUkygKrAj-niy_pm7cieaLxxlxxU5zsPMKgeANI/s4032/PXL_20200921_012001996.jpg"
                style="margin-left: auto; margin-right: auto;"
                ><img
                  border="0"
                  data-original-height="4032"
                  data-original-width="3024"
                  height="320"
                  src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhDQ-1LY21exG77n7VlgXJKDbNBvth7Eal1HtbY0nRWDkULFnTNRMr1W1eHMEPaR6d7tstCgJOSxNBqg37QC6P8Kxn4Vak3LOprE4IeEUkygKrAj-niy_pm7cieaLxxlxxU5zsPMKgeANI/s320/PXL_20200921_012001996.jpg"
                /></a
              ></td
            ></tr
          ><tr
            ><td class="tr-caption" style="text-align: center;"
              ><span style="text-align: left;"
                >この時、トイレを探す気持ち、喉が渇く感覚、空腹感、犬かわいい。スパゲティのように絡み合った感情がUGを支配していた...</span
              ></td
            ></tr
          ></tbody>
      </table><div><br /></div><div>
        緩斜面区間に移行してからも何故か気持ちよくペダルが回るので速度が落ちる気配は一向になく平均36km/hというレースでしか見ないような速度が<b
          >平均時速</b
        >で出ていた。
      </div><table
        align="center"
        cellpadding="0"
        cellspacing="0"
        class="tr-caption-container"
        style="margin-left: auto; margin-right: auto;"
      >
        <tbody
          ><tr
            ><td style="text-align: center;"
              ><img
                alt=""
                data-original-height="850"
                data-original-width="1520"
                height="179"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjJnAhTHvnnNxWpubqpJQydB8GjDseMIb0mlvz3EIa-wHNw8B63hS9QEH3jt-irBRUIQ1ZdhSHxtqQDUiwKRPM2GzUb5H5hUJxsG2A_6Ny83pam1LUKX_VyUxrCPtJpIPUUhE0lkiZzCCA/"
                style="margin-left: auto; margin-right: auto;"
                width="320"
              /></td
            ></tr
          ><tr
            ><td class="tr-caption" style="text-align: center;"
              >トルクを掛けると漏れるからハイケイデンスにする必要があったんですね！<br
              /></td
            ></tr
          ></tbody>
      </table><div><br /></div><div>
        トイレのことで頭がいっぱいになっていてさとるくんのことは全く忘れていたが完璧についてきてくれている。(情けない先導で申し訳ない🙏)
      </div><div><br /></div><table
        align="center"
        cellpadding="0"
        cellspacing="0"
        class="tr-caption-container"
        style="margin-left: auto; margin-right: auto;"
      >
        <tbody
          ><tr
            ><td style="text-align: center;"
              ><a
                href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEicU38BCGqRNmXbaT5wT7B2meK9eCwUbHKXK8RxAJXDMwpAtyxAS9jy8ykTTfKIlU19WArRaqW7nfeymZBRsi97cGx4EWhLKyJPa15B0chND-sgamOF_nk1foNVQAgE357I4VWAYwwsryE/s2688/20200921_114146.jpg"
                style="margin-left: auto; margin-right: auto;"
                ><img
                  border="0"
                  data-original-height="1512"
                  data-original-width="2688"
                  src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEicU38BCGqRNmXbaT5wT7B2meK9eCwUbHKXK8RxAJXDMwpAtyxAS9jy8ykTTfKIlU19WArRaqW7nfeymZBRsi97cGx4EWhLKyJPa15B0chND-sgamOF_nk1foNVQAgE357I4VWAYwwsryE/s320/20200921_114146.jpg"
                  width="320"
                /></a
              ></td
            ></tr
          ><tr
            ><td class="tr-caption" style="text-align: center;"
              >最初のボスを攻略したのでトイレ休憩と昼休憩を兼ねてコンビニで一休み</td
            ></tr
          ></tbody>
      </table><br />
    </div><div>
      ここまでで170kmを9時間半で攻略、山岳を攻略しても9時間半ならペースはそこそこ良いはずだ。
    </div><div>
      ということでしっかり食事を取った上で2つ目のボス、蘇武岳に挑む。
    </div><div><br /></div><div>
      ここまでは食欲旺盛で非常に助かっている。<br /><div><br /></div><div>
        <h3 style="text-align: left;">[12:30] Andante 歩くような速さで</h3>
      </div><div>
        スタートからすでに10時間、距離にして175kmを進んだところで次のボス<b
          >蘇武岳</b
        >に挑戦する。
      </div><div>
        開始地点にてコースディレクターのK山さんから「蘇武岳はやばい」とアドバイスを頂いていたものの残り25kmを3時間半以内で攻略すれば時間的には貯金は0になるが借金は負わなくて良いわけで、それだけあればなんとかなると思っていた。
      </div><div>
        <div class="separator" style="clear: both; text-align: center;">
          <a
            href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEg3zeXAemGXmMJUUPbcAvv8tr_TmrcheKOmh9nIhHGAnlqtcpsBYAkAig9mE03gJxGzYXwPp7OeylV_HthNVEFuheJ12WFPxA1sBmzRj8bUz7n9vUoV7RG2srLl8RbXDsD0cXOIjVEGRFk/"
            style="margin-left: 1em; margin-right: 1em;"
            ><img
              alt=""
              data-original-height="1374"
              data-original-width="1726"
              height="240"
              src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEg3zeXAemGXmMJUUPbcAvv8tr_TmrcheKOmh9nIhHGAnlqtcpsBYAkAig9mE03gJxGzYXwPp7OeylV_HthNVEFuheJ12WFPxA1sBmzRj8bUz7n9vUoV7RG2srLl8RbXDsD0cXOIjVEGRFk/"
              width="301"
            /></a>
        </div>
      </div><div><br /></div><div>
        サ！の楽曲再生を始まりのゴングに蘇武岳の攻略を開始。
      </div><div><br /></div><div>
        軽く考えていたわけですが結果的にはオフロード500mを含む激坂のオンパレードだった...
      </div><div>
        1000m級の登坂のうち最初の700mを登るのに1時間を要した。その間の時速は10km。
      </div><div>比喩ではなくて本当に歩く速度でノロノロと進む。</div><div>
        なるほどこれがAndanteか！。
      </div><div>
        ピアノ弾いてる時はなかなか表現できなかったが今理解した。頭ではなく筋肉で理解した！
      </div><div><br /></div><div>
        <table
          align="center"
          cellpadding="0"
          cellspacing="0"
          class="tr-caption-container"
          style="margin-left: auto; margin-right: auto;"
        >
          <tbody
            ><tr
              ><td style="text-align: center;"
                ><a
                  href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEinqcg_9l6nbLF9qZ7NisRaqdjsmTFaCTl6SkyFQ83FCRzFxoVi8Z9EhsS_0OtHJTltCfxb_GHYvoe-JEf_Bmv7Zv6Vclp7dK6AYBIfZvNfu6Xm309XxnU-Km3622VZsD_2fjLWJSJdQ8c/"
                  style="margin-left: auto; margin-right: auto;"
                  ><img
                    alt=""
                    data-original-height="338"
                    data-original-width="600"
                    height="180"
                    src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEinqcg_9l6nbLF9qZ7NisRaqdjsmTFaCTl6SkyFQ83FCRzFxoVi8Z9EhsS_0OtHJTltCfxb_GHYvoe-JEf_Bmv7Zv6Vclp7dK6AYBIfZvNfu6Xm309XxnU-Km3622VZsD_2fjLWJSJdQ8c/"
                    width="320"
                  /></a
                ></td
              ></tr
            ><tr
              ><td class="tr-caption" style="text-align: center;"
                >まるで崖登りだ。これがアイカツかぁ...</td
              ></tr
            ></tbody>
        </table><br />
      </div><div>
        (ちなみにこの安定しない速度の中、さとるくんはスマホを取り出し写真撮影していた。凄いバランス感覚だ...。なんという体幹だろうか)
      </div><div><br /></div><div>
        どうにか1時間で700m地点の緩斜面に区間に入るが強制的にお別れを告げさせられ残り300mもノロノロと進むと山頂にすごい光景が見えてきた。
      </div><div><br /></div><table
        align="center"
        cellpadding="0"
        cellspacing="0"
        class="tr-caption-container"
        style="margin-left: auto; margin-right: auto;"
      >
        <tbody
          ><tr
            ><td style="text-align: center;"
              ><a
                href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjvV_dtaJ-JNFnCq0c0PtcScK-IGj4QANOrOd37wz6Ca7QKowuq8RxTaBhAjX-PU1TocVkeY6Mo4avf3SSRpXKaOaR3b5rQ4ZXDKpttgfuGZX-SSTujQ4shfZNUmdjyf54r5RkhRUpJNhc/s4032/PXL_20200921_043642770.jpg"
                style="margin-left: auto; margin-right: auto;"
                ><img
                  border="0"
                  data-original-height="3024"
                  data-original-width="4032"
                  src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjvV_dtaJ-JNFnCq0c0PtcScK-IGj4QANOrOd37wz6Ca7QKowuq8RxTaBhAjX-PU1TocVkeY6Mo4avf3SSRpXKaOaR3b5rQ4ZXDKpttgfuGZX-SSTujQ4shfZNUmdjyf54r5RkhRUpJNhc/s320/PXL_20200921_043642770.jpg"
                  width="320"
                /></a
              ></td
            ></tr
          ><tr
            ><td class="tr-caption" style="text-align: center;"
              >これはオフロードだと思うの🤔<br /></td
            ></tr
          ></tbody>
      </table><div><br /></div><div>なんというか小石の未舗装路である。</div><div
      >
        オフロードである。
      </div><div>オフロードやねんなぁ...</div><div><br /></div><div>
        在りし日の、それはまだ限界を知らない頃の自分の発言を思い出す。
      </div><div>
        「Tarmacはどこでも走れるからな。オンロードだろうがオフロードだろうが関係ない！」
      </div><div>
        調子に乗っていた。本当に申し訳ない。今日限りでそれは撤回する。適材適所って言葉がある。正にその通りだ。ここはTarmacの戦場ではない...
      </div><div><br /></div><div>
        けども、けれどもここを越えねば日本海を走ることも、まして見ることもできない！
      </div><div>小雨がパラつく山頂に長いは無用!そもそも</div><blockquote>
        <div>男は度胸。なんでも試してみるもんだ！</div>
      </blockquote><div>
        と言ってこのブルベにエントリーしているのである。覚悟重点の一点突破で目の前に広がる外道めいた小石の海に飛び込んむ。
      </div><div><br /></div><div>
        そして200mくらいで一度地面が近づくほどのスリップ。落車はしなかったがケツに氷柱を打ち込まれた(これは比喩表現で私は打ち込まれたことは無い。少なくとも予定も無い)ような痛みを味わうッ！！！
      </div><div>まずいですよっ！お股が壊れ股擦れ様が顕現した!</div><div>
        <br />
      </div><div>
        前方に広がる小石の海は確実にタイヤのグリップを殺しに掛かり乗り手を落車させようと熱心に待機している。
      </div><div>
        後方では股擦れ様がお股の快適さを消しに掛かる。こちらは非常に熱心に活動中だ。休んでいていほしい。
      </div><div><br /></div><div>
        逡巡の後、ペダルを外して落車に備え、500mの悪路の終わりをカウントダウンして乗り切る。
      </div><div>
        結果的にパンクも落車も無く悪路を攻略する事ができたのでさとるくんの到着を待った後2人して束の間のダウンヒルをこなす。
      </div><div><br /></div><div><br /></div><h3 style="text-align: left;">
        [14:30] 位置エネルギーと化したUG
      </h3><div>
        急登と登ったり下ったりする中で位置エネルギーが明らかに無駄遣いされている事に気づく。
      </div><div>
        つまり勢いよく下って危険な領域まで加速した車体で登坂に突撃すればそれだけで漕がずに割と登れるんじゃないか？ということだ。
      </div><div><br /></div><div>
        とりあえず見通しの良さそうなところでやってみた感じでは良い感触だ。
      </div><div>少なくとも漕がないで良いなら相当脚に対して優しい！</div><div>
        <br />
      </div><div>
        200kmに到達した段階でスタートから12時間。200kmのブルベであれば1.5時間残しての完走になるだろう。
      </div><div>
        この時さとるくんと1.5時間の貯金ができたことを喜んでいた。
      </div><div>だがこのあとこの目論見は全てぶっ潰される...</div><div>
        <br />
      </div><h3 style="text-align: left;">[15:30]日本海、見ゆ</h3><div>
        しばらくはジェットコースターのような走りを繰り返していたがついに年貢の納め時が来た。
      </div><div>
        というかサイコンで表示したときは結構先にある登りで完全に見落としていた最後の登り返しだった。
      </div><div>
        さとるくんには登りはもう終わりだぁ！って言ってたんですけどねぇ。
      </div><div>
        見落としてましたぁぁぁ！！！！本当に申し訳ありませんでしたァァァアｌ！！！
      </div><div><br /></div><div>
        幾度も歩くような速度まで落としながら登坂する。
      </div><div><br /></div><table
        align="center"
        cellpadding="0"
        cellspacing="0"
        class="tr-caption-container"
        style="margin-left: auto; margin-right: auto;"
      >
        <tbody
          ><tr
            ><td style="text-align: center;"
              ><a
                href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEg3vtIjoDrQZWgzC3YOMaIiTZRP0iaBP0R31nHN4murqlAXV5OXcTJuG1x2V8WZ6ChPY_bVbYZKS2nWSk9uhakRzmFbeCMKHxmzCNj23dpFAtVnnRfuBZT2nBExcwVpVdZQziFM3i5GZdo/s4032/PXL_20200921_051117313.jpg"
                style="margin-left: auto; margin-right: auto;"
                ><img
                  border="0"
                  data-original-height="3024"
                  data-original-width="4032"
                  src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEg3vtIjoDrQZWgzC3YOMaIiTZRP0iaBP0R31nHN4murqlAXV5OXcTJuG1x2V8WZ6ChPY_bVbYZKS2nWSk9uhakRzmFbeCMKHxmzCNj23dpFAtVnnRfuBZT2nBExcwVpVdZQziFM3i5GZdo/s320/PXL_20200921_051117313.jpg"
                  width="320"
                /></a
              ></td
            ></tr
          ><tr
            ><td class="tr-caption" style="text-align: center;"
              >ここがフォトコントロールだと思っていた時期が私にもありました。<br
              />違いました...</td
            ></tr
          ></tbody>
      </table><div><br /></div>
    </div><table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto;"
    >
      <tbody
        ><tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiGhGBnQF6BswbQ_W-i7S2mgRWHQnRKH13T27FV3VMowM2Gc-_WcVKW62mEC6NGt8j4RG60gUdkZWxpGRT1S1ItGkXjXHB4cuelK-Rh9kgbLsK_xaOmEJRcGw4Av5kY-5CzxcnLDK7JyL0/s3960/PXL_20200921_051144388.PANO.jpg"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                data-original-height="1655"
                data-original-width="3960"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiGhGBnQF6BswbQ_W-i7S2mgRWHQnRKH13T27FV3VMowM2Gc-_WcVKW62mEC6NGt8j4RG60gUdkZWxpGRT1S1ItGkXjXHB4cuelK-Rh9kgbLsK_xaOmEJRcGw4Av5kY-5CzxcnLDK7JyL0/s320/PXL_20200921_051144388.PANO.jpg"
                width="320"
              /></a
            ></td
          ></tr
        ><tr
          ><td class="tr-caption" style="text-align: center;"
            >雲の向こう、約束の日本海</td
          ></tr
        ></tbody>
    </table><div>
      <br />蘇道のモニュメントから3km<div>
        苦しい登坂の先についにフォトコントロールがっっっ！！！！
      </div><div><br /></div><table
        align="center"
        cellpadding="0"
        cellspacing="0"
        class="tr-caption-container"
        style="margin-left: auto; margin-right: auto;"
      >
        <tbody
          ><tr
            ><td style="text-align: center;"
              ><img
                border="0"
                data-original-height="3024"
                data-original-width="4032"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgeCqWaNWh_adjRfAaUgIJRGXHG0RPGAbXIMOP2NGWa10aFc8DshbXn6M9_gnPc2PsbuD1rX37VR8dBI2Ekzi2_ClEtY1YxxoIfJENnEf6mD-ErPAxDNHdZp1yBI7TcRzeQLSRqghRfdNQ/s320/PXL_20200921_063140442.jpg"
                style="margin-left: auto; margin-right: auto;"
                width="320"
              /></td
            ></tr
          ><tr
            ><td class="tr-caption" style="text-align: center;"
              >生まれたての子鹿の脚でバイクを立て掛けて撮影<br
              />バイクを並べるのが一番きつかった...</td
            ></tr
          ></tbody>
      </table><div><br /></div><div>
        限界の脚と背筋を労りながら愛車を並べて記念撮影。
      </div><div>撮影していたら後ろから3:30出走組のランドヌールが！</div><div>
        200kmで1時間詰めてくるなんて豪脚すぎるやろ...
      </div><div><br /></div><div>
        話を伺うと丹後半島で宿を取っているらしく時間制限があるので急いでいるとのこと...
      </div><div><br /></div><div>
        宿で寝るのか！？この厳しいコースでまとまった睡眠を取るだけの余裕があるというのか！？
      </div><div>さとるくんと驚きながら蘇武岳を下山開始。</div><div>
        <br />
      </div><div>
        途中、鹿やら落石やら悪路やらを散々見たので安全マージンを確保しつつなるべく早く下山しているとどうやらさとるくんのバイクの後輪がおかしい様子。パンクしたらしい。
      </div><div><br /></div>
    </div><div>
      しかしさすがのさとるくん、デカイ蜂が一匹飛び交う中、サクッとパンク修理してしまったのでいそいそと再発進。
    </div><div><br /></div><div>
      パンク修理後のバイクはいつ再パンクするかわからないので念の為さとるくんに先行してもらいつつ距離を開けて後ろから追走。
    </div><div>
      結局心配は特に無く5分ほどで先頭交代して先陣を譲ってもらう🙏
    </div><div><br /></div><div><br /></div><h3 style="text-align: left;">
      [緩和休題] エンデュランススポーツの神に愛された男
    </h3><table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto;"
    >
      <tbody
        ><tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgp_NolHliF8bPtRbEivL8uhd4DFmBJ6xMfpx-5jgsdkmzwAK8WLEHbXP-p7hWXdmlntATM2HnGCfNLqw1RoHz303C7D9ST66L-wMPrwsr7PeJsjM02lrW7Hwryn0FQf7G-4IrelRTBeQM/s4032/PXL_20200920_222751033.jpg"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                data-original-height="3024"
                data-original-width="4032"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgp_NolHliF8bPtRbEivL8uhd4DFmBJ6xMfpx-5jgsdkmzwAK8WLEHbXP-p7hWXdmlntATM2HnGCfNLqw1RoHz303C7D9ST66L-wMPrwsr7PeJsjM02lrW7Hwryn0FQf7G-4IrelRTBeQM/s320/PXL_20200920_222751033.jpg"
                width="320"
              /></a
            ></td
          ></tr
        ><tr
          ><td class="tr-caption" style="text-align: center;"
            >妖怪ペダル回しもかくやというくらいの持久力を持つ<br /></td
          ></tr
        ></tbody>
    </table><div><br /></div><div>
      彼を知るには彼の走ってきた道を知るのが一番早いと思うので以下のブログを読むと良いと思います。
    </div><div>
      <a href="https://bikesato.hatenablog.com/archive">さとるのガチ旅</a><br
      /><br />
    </div><div>とはいえそれではさとるくんに失礼というもの。</div><div>
      彼の凄い走りをいくつか列挙しよう
    </div><div>
      <ul style="text-align: left;">
        <li>7葛</li><li>四国一周</li><li>クリテリウム入賞</li><li>
          フルマラソン完走(サブ4)
        </li>
      </ul>
    </div><div>
      7葛は大阪にある激坂、葛城山の登山道7つを一度のライドでコンプリートすることですね。
    </div><div>
      エベレスティングが有名になる前のエベレスティングのようなチャレンジライドで確か獲得標高は5000mを越えたような...
    </div><div><br /></div><div>四国はねぇ...1000kmあるんですよ。</div><div>
      <br />
    </div><div>
      ロングライドと登坂に適正を見せたかと思えばクリテリウムでもしれっと入賞してるんですねぇ...
    </div><div><br /></div><div>
      と思ったらフルマラソン完走してるという...
    </div><div><br /></div><div>
      スイムだけでトライアスロンに参戦できるフィジカルに穏やかな人格を備える20代。
    </div><div>
      私が彼と同じ歳だった頃、ここまで仕上がった人格はしていない。
    </div><div>
      人柄と肉体の両面でエンデュランススポーツに向いている20代。
    </div><div>
      将来PBPやLELのトップリザルトに名前が出ていても納得できてしまう人物。
    </div><div><br /></div><div>それがさとるくんなのである。</div><div>
      <br />
    </div><div><br /></div><div>
      <b>確か<span style="color: #57ffd5;">果南ちゃん</span>推しのハズ</b>
    </div><div>
      3年生ず良いよね。3年生が1年生だった頃の話をアニメ化してくれぇ
    </div><div><br /></div><div>
      <table
        align="center"
        cellpadding="0"
        cellspacing="0"
        class="tr-caption-container"
        style="margin-left: auto; margin-right: auto;"
      >
        <tbody
          ><tr
            ><td style="text-align: center;"
              ><a
                href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjMrh_gYng-Gx1JxKZexym2JNj2Wyd5g904wAUB4tp1AW7O1xqQmjDAOYTLa_pcibZYGtWFNPzihbbX2EQEUYWl46eERkUxTIemmz8q5CVNfSsuyumPbd5ypNl44zteuQxdnV1wpwgQAQY/"
                style="margin-left: auto; margin-right: auto;"
                ><img
                  alt=""
                  data-original-height="288"
                  data-original-width="512"
                  height="180"
                  src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjMrh_gYng-Gx1JxKZexym2JNj2Wyd5g904wAUB4tp1AW7O1xqQmjDAOYTLa_pcibZYGtWFNPzihbbX2EQEUYWl46eERkUxTIemmz8q5CVNfSsuyumPbd5ypNl44zteuQxdnV1wpwgQAQY/"
                  width="320"
                /></a
              ></td
            ></tr
          ><tr
            ><td class="tr-caption" style="text-align: center;"
              >この頃の話を是非！是非！</td
            ></tr
          ></tbody>
      </table>
    </div><div><br /></div><h3 style="text-align: left;">
      [16:30] 謎の不調...日本海到着
    </h3><div>
      結果的にそこそこ良い速度で蘇武岳を下れたのもあって14時間で235kmほど進めた。
    </div><div>つまり日本海到着時点で貯金は概ね1時間ほど。</div><div>
      このあとの海岸沿いを走る中でなるべく貯金を稼ぎたいところ。
    </div><div><br /></div><div>
      補給も付きつつ合ったので日本海到着後すぐのコンビニで補給を取って時間を確認するとさとるくんからありがてぇ提案を頂く。
    </div><div><br /></div><div></div><blockquote>
      <div>「先頭引きますよ！」</div><div></div>
    </blockquote><div><br /></div><div>さすが気配りのできる男である。</div><div>
      <br />
    </div><div>
      致命的なほど筋肉に疲労は溜まってないものの1/3が終わったところでこの先も長い。後ろに付かせてもらえれば楽ができる！ということでご厚意に甘えることにした。
    </div><div><br /></div><div>
      先頭交代完了後、さとるくんの力強い引きで30km/h前後のペースででギュンギュン進んでいくと不思議なことにドラフティングが効かない。
    </div><div><br /></div><div>
      きっと効いているはずなので気にしないでおこうと思うもどういうわけか離される...🤔
    </div><div>出力も先頭を走っていたときとそこまで変わっていない...</div><div>
      どうして効かないのか後ろで走りながら考えていた。
    </div><div>
      <ol style="text-align: left;">
        <li>
          身長差説:
          さとるくんは自分より10cmほど背が高い。当然サドルの位置も高いのでエアポケットに入れていない？
        </li><li>勘違い説: 実はドラフティングは効いている？</li><li>
          横風説: 横風の影響で前からの風には効果がない？
        </li>
      </ol><div>原因に関してはやはりさっぱりわからん！</div><div>
        だが日本海沿岸の小刻みなアップダウンに入ったタイミングでとうとうさとるくんの引きから遅れ始めた。。。
      </div>
    </div><div><br /></div><div><b>まずいですよ！！！</b></div><div>
      <br />
    </div><h3 style="text-align: left;">[17:40] 城崎にて</h3><div>
      幸いどうにか下り区間で追いついたところで城崎に到着。
    </div><div>さすがの温泉街 。GoToキャンペーンの影響なのだろうか</div><div>
      <blockquote>「密です」「密です」「密です」...</blockquote>
    </div><div>していた。</div><div><br /></div><div>
      はじめて見た城崎に"志賀直哉だっけ？誰だっけ？"
    </div><div>
      混雑しているときの日本橋を歩いているような気になりながら車の間に紛れて進んでいく。
    </div><div><br /></div><div
      class="separator"
      style="clear: both; text-align: center;"
    >
      <a
        href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEj61dbNjLaBq4ZITE698XGbaxnOU9EzGsnemWx8OuBnXHQBntw-LIvG1lcHWekxWczcWF14SL6IBd9h0E0-FP7II8Vpq88aHR16JHyMYGiGYbnfO2VIqg-jivKz3C1uawDooN-f9dB2ieI/s4032/PXL_20200921_085602977.MP.jpg"
        style="margin-left: 1em; margin-right: 1em;"
        ><img
          border="0"
          data-original-height="3024"
          data-original-width="4032"
          src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEj61dbNjLaBq4ZITE698XGbaxnOU9EzGsnemWx8OuBnXHQBntw-LIvG1lcHWekxWczcWF14SL6IBd9h0E0-FP7II8Vpq88aHR16JHyMYGiGYbnfO2VIqg-jivKz3C1uawDooN-f9dB2ieI/s320/PXL_20200921_085602977.MP.jpg"
          width="320"
        /></a>
    </div><br /><div class="separator" style="clear: both; text-align: center;">
      <a
        href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEg3DHHkq1HdE_KxjfP8wFcJY5BA-Yw58ADXZT2GFwd_m-E8CD8pJGBL4TghSkIkGZYOLLVF9w9xTD_o9qkfN9M991vGrZHQGDqyDYTlBaGv0o6NEHOAzbaR2Ad1s6eZgeaSTak54k1Bj5U/s4032/PXL_20200921_085559349.jpg"
        style="margin-left: 1em; margin-right: 1em;"
        ><img
          border="0"
          data-original-height="3024"
          data-original-width="4032"
          src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEg3DHHkq1HdE_KxjfP8wFcJY5BA-Yw58ADXZT2GFwd_m-E8CD8pJGBL4TghSkIkGZYOLLVF9w9xTD_o9qkfN9M991vGrZHQGDqyDYTlBaGv0o6NEHOAzbaR2Ad1s6eZgeaSTak54k1Bj5U/s320/PXL_20200921_085559349.jpg"
          width="320"
        /></a>
    </div><div><br /></div><div>
      温泉街を抜けたところでさとるくんの引きが始まるもすぐについていくことが厳しくなる。
    </div><div>そしてここで致命的な事に気づいた。眠いのである。</div><div>
      <br />
    </div><div>
      せっかくの厚意にも甘んじることができないなんてなんと情けない男だろうか...
    </div><div>
      ただこのままではのこり350kmを残してさとるくんの単独走となっていってしまう...
    </div><div><br /></div><div>
      眠く、そしてお腹も空いてきた旨さとるくんに申し伝えるとすぐさまスマホを取り出して近くにラーメン屋を見つけてくれた。ちょっとコースから外れるが眠いし腹も減っている。ここは貯金をはたいて休むべき時かもしれない。
    </div><div><br /></div><div>
      さとるくんに先導してもらいラーメン屋に向かう。
    </div><div><br /></div><div>
      ラーメン屋まではすぐに到着したが店員さんがお店から出てきてこうおっしゃった
    </div><blockquote>
      <div>「スープが無いんで今日はもう終わりです。」</div>
    </blockquote><div><br /></div><div>何たる不運！</div><div>
      ここまで270kmを走ってきて斯様なことがあるだろうか！
    </div><div><br /></div><div>
      道草を食わせようとした挙げ句に食う草も無いような状態にさとるくんを巻き込んでしまった。
    </div><div>しかし無いものは食べれない。</div><div>
      さとるくんには15km/hで走ればゴールはできるとお伝えして本道に戻る。
    </div><div>
      戻ってる時に何か脳にスーッと冷たいものが流れていく感覚があった。
    </div><div><br /></div><div><b>そして突然眠気が消えた🤔</b></div><div>
      <br />
    </div><div>
      変な薬を摂取したわけではない。特に何をするわけでもなく<b>なぜか突然</b
      >スッキリしたのである<b>🤔</b>
    </div><div><br /></div><div>
      眠気が消えた理由は全くわからない。原因がわからないものはいつどうなるかわからない。
    </div><div>
      もしかすると <b>"眠気からか不幸にも黒塗りの高級車に衝突してしまう"</b
      >&nbsp;可能性は捨てきれない。
    </div><div>
      <span
        face="arial, sans-serif"
        style="background-color: white; color: #5f6368; font-size: 14px; font-weight: bold;"
        ><br /></span>
    </div><div>
      <span
        face="arial, sans-serif"
        style="background-color: white; color: #5f6368; font-size: 14px; font-weight: bold;"
        >「おい</span
      ><span
        face="arial, sans-serif"
        style="background-color: white; color: #4d5156; font-size: 14px;"
        >ゴラァ！</span
      ><span
        face="arial, sans-serif"
        style="background-color: white; color: #5f6368; font-size: 14px; font-weight: bold;"
        >降りろ</span
      ><span
        face="arial, sans-serif"
        style="background-color: white; color: #4d5156; font-size: 14px;"
        >！</span
      ><span
        face="arial, sans-serif"
        style="background-color: white; color: #5f6368; font-size: 14px; font-weight: bold;"
        >免許持ってんのかコラ」って言われるわけにもいかんしなぁ</span>
    </div><div><br /></div><div>事故るにしても単独自損事故にしような！</div><div
    >
      <br />
    </div><div>
      それに今は眠くないどころか脚や背中の疲れも不思議と感じない(原因がわからない。怖い)
    </div><div>
      <ul style="text-align: left;">
        <li>自分が先頭を行く限りは後ろはドラフティングが効く</li><li>
          いつ不幸にも先頭に衝突してしまうかわからない
        </li>
      </ul><div>以上の理由から総合的に判断して前を走らせてもらう事にした。</div>
    </div><div><br /></div><div>
      <div>
        そして気がつけばあっという間に15kmを駆け抜けて次の網野町のPCに到着していた🤔
      </div><div><br /></div>
    </div><div><br /></div><h3 style="text-align: left;">
      [19:10] 丹後半島
    </h3><div>
      網野町のPCで補給を取り未だ内臓が健康なこと、そしてなぜか筋肉の疲労が消えて行くことに形容し難い不安を感じつつ、補給完了と同時にPCを経つ。
    </div><div><br /></div><div>
      そういえば去年の12月に250km走ったときも200km越えてから突然調子が上がってきたことがあったし僕はそういう特性の筋肉なのかもしれない🤔と思いつつ走る。
    </div><div><br /></div><div>
      丹後半島は結構な強風区間だったが50mmハイトのホイールが風を掴んで加速してくれるお陰で向かい風でも28km/h以上をキープできていた。
    </div><div><br /></div><div>
      途中の登りも背筋が復活していたので短ければ休むダンシングでグイグイ行けそうな気配すらあったが流石に温存してインナーに入れてくるくる回して登っていた。
    </div><div><br /></div><div>
      さとるくんにはなぜか色々復活した旨を伝えつつ次のフォトコントロールポイントの経ヶ岬を目指して走る。それなりにアップダウンしたけども平均で24km/hくらいは出ているのでかなりのハイペースを維持できていた。
    </div><div><br /></div><div>
      さとるくんも後ろから黙々とついてきてくれる。やはり我慢のできる男である。
    </div><div><br /></div><h4 style="text-align: left;">[20:30] 経ヶ岬</h4><div
    >
      315kmほど走りまもなく経ヶ岬のチェックポイントだろう地点に到着したものの何故か件の看板が見当たらない🤔
    </div><div><br /></div><div>
      さとるくん曰く灯台駐車場に行く必要があるとのことで真っ暗な中、坂を下って登って出島に向かってみる。
    </div><div>
      本当にここがチェックポイントじゃなかったらなんて悲しい話なんだろう...
    </div><div><br /></div><div>
      暗いの怖いわぁ...とか考えながら平均勾配6.6%の結構しっかりした坂を登った。
    </div><div><br /></div><div>
      無事チェックポイントで写真を撮ったときには何も見えない真っ暗闇だった。
    </div><div class="separator" style="clear: both; text-align: center;">
      <a
        href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhlEhax0Yr_FsF7MEm-8zR2W28lWI1Gh0Ek6EwGNufT7MnLr9BT6HmId52P0UvMaD4QrzZHorBFYa2vqTgz31bDGTZ0XjWTaPB4OB3ICMPA0SHuUplztZPgH8TxxEhFicPtJMEJ5U5UELE/s4032/PXL_20200921_120621605.jpg"
        style="margin-left: 1em; margin-right: 1em;"
        ><img
          border="0"
          data-original-height="3024"
          data-original-width="4032"
          src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhlEhax0Yr_FsF7MEm-8zR2W28lWI1Gh0Ek6EwGNufT7MnLr9BT6HmId52P0UvMaD4QrzZHorBFYa2vqTgz31bDGTZ0XjWTaPB4OB3ICMPA0SHuUplztZPgH8TxxEhFicPtJMEJ5U5UELE/s320/PXL_20200921_120621605.jpg"
          width="320"
        /></a>
    </div><br /><h4 style="text-align: left;">[22:00] 伊根の舟屋</h4><div>
      途中幾人かのランドヌールとすれ違ったので手を振ったりベルを鳴らしたりして挨拶しながら小刻みな登りを2つばかり攻略するとしばらくの長い下り。
    </div><div>
      程なくして次のフォトコントロールポイント、伊根の舟屋に到着した。
    </div><div><br /></div><table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto;"
    >
      <tbody
        ><tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhfwy9x7BT6lPBM-mDlQ6kS968NJPbLXOFqEwZ3CZoRCdUQaX8N4IGUQ02CwjLGOcz-5-CEPorm7U7lu_OneSNmiD5QKYo1MtClrcQqKPnxPHWSPlfmDaew4Mm2BcaFyxvRRrkpgJNhrI0/s2048/20200921_220332.jpg"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                data-original-height="1536"
                data-original-width="2048"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhfwy9x7BT6lPBM-mDlQ6kS968NJPbLXOFqEwZ3CZoRCdUQaX8N4IGUQ02CwjLGOcz-5-CEPorm7U7lu_OneSNmiD5QKYo1MtClrcQqKPnxPHWSPlfmDaew4Mm2BcaFyxvRRrkpgJNhrI0/s320/20200921_220332.jpg"
                width="320"
              /></a
            ></td
          ></tr
        ><tr
          ><td class="tr-caption" style="text-align: center;"
            >この時アクシデントがあってさとるくんがチェーンに突っ込んでた<br
            />疲れると見落とすことあるよねぇ...</td
          ></tr
        ></tbody>
    </table><div><br /></div><div>
      ここの入り江に家が建ち並んでいて昔ながらの景観が残っているのはとても感慨深い。
    </div><div>
      お寺や神社以外の京都らしさというものを感じたのはとても久しぶりだった。
    </div><div><br /></div><div>
      真っ暗でほとんど何も見えなかったが冷え込んできた上に空腹も迫ってきていたので写真を撮って先へ進む。
    </div><div><br /></div><div>
      ここから60kmほど進んだところに以前試走で訪れた東舞鶴がある。
    </div><div>
      そこまで行けば一度走っているから土地勘もあるし完走も見えてくる！
    </div><div>寒いけど進まねばならない。</div><div><br /></div><h4
      style="text-align: left;"
    >
      [23:00] 天橋立を越えて
    </h4><div>
      地図を俯瞰するとすぐ近くに見える東舞鶴も距離で言えば60kmもある。
    </div><div>平均時速30km/hで進んでも2時間は必要な距離だ。</div><div>
      <br />
    </div><div>
      真っ暗な中普通なら退屈する距離消化区間のはずが全く退屈せずに走れたのは波の音や潮の香り、そしてハンドルを持っていかんとする横風の影響がとにかく大きい。ちょっとでも気を抜いたらハンドルがパドリングするんじゃないかと思うほどの風が1分に何度か吹き抜ける。
    </div><div>気を抜いたら危ない...</div><div><br /></div><div>
      下ハンを握って背中で体重を掛けて前輪を安定させながら前へ進んでいくと潮の香りに混じって松の香りがし始める。
    </div><div>気がつけば天橋立まで来ていたらしい。</div><div>
      最後に天橋立へ来たのは6年前だっただろうか。白砂青松を抜けつつ当時の思い出に浸るもお腹が空いてそれどころじゃないので3つほどガムを頬張りつつ,さとるくんには次にコンビニがあったら寄りたい旨お伝えする。
    </div><div><br /></div><div>
      <p dir="ltr" lang="ja">
        300km超えた辺りで筋肉の疲労が消失してフレッシュに近い状態になってる<br
        />怖い<br />夢かな
      </p>— UG (@gr8distance)&nbsp;<a
        href="https://twitter.com/gr8distance/status/1308091075190423552?ref_src=twsrc%5Etfw"
        >September 21, 2020</a>
    </div><div><br /></div><div>
      この辺で非常に不思議なことに腰や脚、更には腕の疲労までもが感じなくなり本ブルベでもっとも調子が良い状態に突入した。
    </div><div><br /></div><div>23:30、舞鶴の手前のローソンに到着。</div><div>
      空腹がきついので速やかに補給した後さとるくんと相談して仮眠を取ることにした！
    </div><div><br /></div><div>はじめてのコンビニ仮眠である！</div><div>
      <br />
    </div><div>
      人権を失いつつコンビニの脇の駐車場で車の下敷きにならないように気をつけて陣取る。
    </div><div><br /></div><div>やや抵抗はあるものの眠る必要はある。</div><div>
      さとるくんはすでに横になって眠り始めたらしい。
    </div><div><br /></div><div>
      僕も寝るかと駐車場に腰を下ろして眠ることの問題点に気づく。
    </div><div><br /></div><div>
      私はアウターとしてGore-Texのジャケットを着ていた。
    </div><div><br /></div><div>
      Gore-Texのジャケットはとても高く4万円近くする。
    </div><div>
      しかしこのジャケットを脱ぐと下に着ているのは小原鞠莉ちゃんのサ！ジャージである！
    </div><div>
      <table
        align="center"
        cellpadding="0"
        cellspacing="0"
        class="tr-caption-container"
        style="margin-left: auto; margin-right: auto;"
      >
        <tbody
          ><tr
            ><td style="text-align: center;"
              ><a
                href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgDzw_S-6GJrSQKv3ELk5CqG7pk60RwV4d2v0NFIUCURSlPqxgMrQPK1mbtBfoMeQAVUnYnkF5CJqHitrGGebCuImTVbR3AWXLslyRYg5wRDBwDNAuVG5whe1yzWLkKZHn8P6y74GdEZJA/"
                style="margin-left: auto; margin-right: auto;"
                ><img
                  alt=""
                  data-original-height="670"
                  data-original-width="530"
                  height="240"
                  src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgDzw_S-6GJrSQKv3ELk5CqG7pk60RwV4d2v0NFIUCURSlPqxgMrQPK1mbtBfoMeQAVUnYnkF5CJqHitrGGebCuImTVbR3AWXLslyRYg5wRDBwDNAuVG5whe1yzWLkKZHn8P6y74GdEZJA/"
                  width="190"
                /></a
              ></td
            ></tr
          ><tr
            ><td class="tr-caption" style="text-align: center;"
              >小原さんを無傷で自宅へ返すこと。<br
              />それを実現するのは推し着用者の責任というものではないだろうか？</td
            ></tr
          ></tbody>
      </table><br />
    </div><div><b>突然の最大の選択。私は選ばないといけない!</b></div><div>
      <b><br /></b>
    </div><div>
      高価なジャケットか小原さんのどちらかを地面に接触させないといけない...🤔<br
      /><br />
    </div><div>貴重な睡眠時間の1/3ほど(3分ほどだけど)悩んだ後、</div><div>
      やはり小原さんを地面に接触させることはできないとの結論に達し、Goreジャケットのまま駐車場に横になる。(穴が空いたら買い直したらええんや！)
    </div><div><br /></div><div>
      あ、アスファルトって結構温いんですねぇ...などと思った矢先、些かの幻覚の後に少しだけ意識が飛ぶような感覚を得てすぐに仮眠時間の終わりを告げた...
    </div><div><br /></div><div><br /></div><h3 style="text-align: left;">
      [25:00] 覚醒と仮眠と
    </h3><div>
      コンビニの駐車場で眠るという剛ランドヌールムーブをした結果、眠る前に食べたものも消化に回ったのだろうか体に活力が満ちてきていた！
    </div><div><br /></div><div>
      ちょっと汗ばんでいたのでジャケットはパージして走る。
    </div><div>汗を飛ばすことと筋肉を温めることは両立できるのである。</div><div>
      <br />
    </div><div>370kmの距離を22時間ほどで走れている。</div><div>
      ブルベの時間制限で言うと400kmを27時間で走ればセーフなのであと30kmを1時間で走れば4時間の時間的余裕ができるのじゃん！これはでかいじゃん！
    </div><div>
      ということをさとるくんに伝えなるべく時間を稼ぐために加速する！！
    </div><div>体力は回復しているし補給もとりあえずは万端！</div><div>
      <br />
    </div><div>
      おまけに追い風が吹いているということで27km/hのペースで東舞鶴を通過！
    </div><div>
      スタートから23時間、ついに400km地点を通り過ぎることに成功しちょっとしたガッツポーズ。
    </div><div><br /></div><div>
      ただし出走からすでに24時間近く走っているのであくまでも冷静にさとるくんと相談して最後の200kmのために仮眠を取ることに。
    </div><div><br /></div><div>
      仮眠スポットをどこにするかについては、一週間前に試走に来たとき東舞鶴から小浜までの間に道の駅があったことを思い出したのでそこで仮眠することとして移動を開始。
    </div><div><br /></div><div><br /></div><div>
      深夜の25:00、無事に道の駅に到着。
    </div><div>速やかにバイクを降りてベンチに横になり眠る。</div><div>
      今度も小原さんをベンチにつけたりしないようGoreText着用の上で仮眠する。
    </div><div><br /></div><div>しかし今回は眠るまでに至らない...</div><div>
      <br />
    </div><div>寒いのである。あと空腹もちょっと...</div><div><br /></div><div>
      10分ほど横になるもまどろみからは程遠く、身体から熱が去っていくのを感じていたらさとるくんから再出発の連絡をもらった。
    </div><div><br /></div><div>
      横になった10分で暖まっていた筋肉はヒエヒエになっていた。
    </div><div>
      動きが鈍くなった身体でバイクを準備し小浜のすき家を目指してリスタート。
    </div><div><br /></div><div>
      1kmほど進んだところだろうか、さとるくんからスマホが見つからないとの報せを受けとる。
    </div><div>
      スマホの紛失はパンクより遥かにやばい。ビッグインシデントである。
    </div><div><br /></div><div>
      道の駅に落とした可能性があるとのことなので引き返す。
    </div><div>
      さとるくん、高速で道の駅まで引き返すが僕の方はまだ筋肉が暖気されてないので彼の速さについていけない。路脇にスマホが落ちてる可能性もあるので探しながら戻ってみる。
    </div><div><br /></div><div>
      程なくして仮眠してたベンチでスマホが発見されたという報告を聞けた。
    </div><div><br /></div><div>
      こんなきついコースを走ったあとに電話屋に行くなんて僕ならきっと耐えられない(元ケータイ販売おじさんの感想)
    </div><div>見つかってほんとによかった！😊</div><div><br /></div><div>
      スマホも見つかったので改めて小浜に向かう。
    </div><div>筋肉の暖気も終わったようだ！</div><div><br /></div><h3
      style="text-align: left;"
    >
      [27時] リタイア
    </h3><div>小浜まで15kmというところで突然脚に力が入らなくなる...</div><div>
      寒い中眠ったことで体温維持に想定以上のカロリーが必要だったのだろうか...🤔ハンガーノックに片足を突っ込んだ状態になってしまう。
    </div><div><br /></div><div>
      呼吸が早くなって1分ケイデンスを維持するのがきつくなってきた。
    </div><div>
      仕方ないので回せる分だけ回して惰性で進んでまた回すというのを繰り返す。
    </div><div><br /></div><div>
      すき家にさえたどり着けばお腹いっぱい食べられるし店内は暖かいはず！
    </div><div><br /></div><div>
      気持ちとしては承太郎に殴られて死にかけたDIOのような気持ちで頭の中には「あの場所へ...あの場所へ行きさえすれば...」が繰り返される。
    </div><div><br /></div><div>
      <div class="separator" style="clear: both; text-align: center;">
        <a
          href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiqZnxqCHDw12SlgHp2B0rr56wnFr0rR4m4FwBimSLmhH9avaY2raLlHNLMeQz2UtaBzCB5gxjyXEz1AzbDYCiYp2LuJewuzdTJ7XuHs7g5r7aU7mUF6Ti6dMLseBw0wbnX4-Tc7BIRcqw/"
          style="margin-left: 1em; margin-right: 1em;"
          ><img
            alt=""
            data-original-height="480"
            data-original-width="640"
            height="240"
            src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiqZnxqCHDw12SlgHp2B0rr56wnFr0rR4m4FwBimSLmhH9avaY2raLlHNLMeQz2UtaBzCB5gxjyXEz1AzbDYCiYp2LuJewuzdTJ7XuHs7g5r7aU7mUF6Ti6dMLseBw0wbnX4-Tc7BIRcqw/"
            width="320"
          /></a>
      </div>
    </div><div><br /></div><div><br /></div><div>
      苦しみに耐えること11分、体感では30分近く頑張った気がするがプーさんみたいなカラーリングの看板が見えてきた。すき家である。
    </div><div>
      到着して早々に窓際にバイクを置いて施錠しさとるくんとすき家になだれ込む。
    </div><div><br /></div><div>
      舟屋からここまでで少なくとも2時間近い時間的余裕がある。取れなかった仮眠も失ったカロリーもここで取り返せば良いのだ。
    </div><div>
      速やかにネギトロ丼の特盛を味噌汁とサラダを注文しガッツク。
    </div><div><br /></div><div>
      <div class="separator" style="clear: both; text-align: center;">
        <a
          href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiflDysYNPgbWTeATfgmST4Pxj5n_WLzbLU_N58OIHY6v0SBaKc8uURVjweWLzYw_TQKIZcmPzJbNUpvzztyZkZMr_yEXWQHBOIeOT291Z2mQYdRX27MY0mPWOzzfa-3YabyUy0DqgeeU4/"
          style="margin-left: 1em; margin-right: 1em;"
          ><img
            alt=""
            data-original-height="1152"
            data-original-width="2048"
            height="180"
            src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiflDysYNPgbWTeATfgmST4Pxj5n_WLzbLU_N58OIHY6v0SBaKc8uURVjweWLzYw_TQKIZcmPzJbNUpvzztyZkZMr_yEXWQHBOIeOT291Z2mQYdRX27MY0mPWOzzfa-3YabyUy0DqgeeU4/"
            width="320"
          /></a>
      </div><br /><br />
    </div><div>
      一通り食べ終わったときに気づいた...。店内が寒いのである..。温かい味噌汁を一気飲みしても身体は冷え切ったままで一向に温まる気配すらない。
    </div><div><br /></div><div>
      眠るため、再出発のためにはジャケットを脱いでおく必要もある。が、寒くて脱げない。
    </div><div>
      この時さとるくんとなにか話した気がするが会話の内容は何も覚えていない。
    </div><div>
      覚えているのは先週試走したこの先の道の幻覚を見ていたことだけだ(やばい)
    </div><div>(LSDってそういう...)</div><div><br /></div><div>
      おにゅう峠は15kmくらい5%くらいの山だ。もしこのまま眠らずに再出発すれば上りの途中で居眠り運転する可能性が高い。なにせ何もしてないこの時ですら幻覚を見ているのだから(やばい)
    </div><div><br /></div><div>
      もし山頂まで登りきっても標高800mだと気温はここより希望的観測で見積もっても5℃は低いだろう。海抜ほぼ0mのこの気温で寒いと言っている人間が少なくとも-5℃は低い山頂で眠れるだろうか？不可能だろう。
    </div><div><br /></div><div>
      では眠らず下ることはできるだろうか？登坂の疲労とすでに限界に近い眠気を抱えて脚を動かさない下りでは確実にまぶたを閉じる。なにせ先週の試走の時にも一部でまぶたを閉じて走っていたからな(やばい)。
    </div><div><br /></div><div>
      先週は次に開眼したときに目の前に鹿がいた。先週ですらぶつからなかったのは奇跡だった...。
    </div><div><br /></div><div>
      今回も鹿はいるだろう。いや、確実に道路に飛び出てくる。この絶望的な判断力の状態で回避は可能か？どう考えても不可能だろう。
    </div><div><br /></div><div>
      <div>
        そして一度おにゅう峠を超えてしまえば事実上リタイアは不可能な山の中のステージに移る。電車なんて無い。どれだけ辛くても南丹市まで進むか救急車を呼ぶ以外の方法でのリタイアは存在しない。
      </div><div><br /></div>
    </div><div><br /></div><div>脚にはまだ余裕はあるだろう</div><div>
      2時間以上のタイムマージンもある
    </div><div>さとるくんというとても頼れる相棒もいる</div><div><br /></div><div
    >
      一人ならきっとすき家で味噌汁を2杯くらいお変わりして無理やり身体を温めていきあたりばったりの神風アタックをキメに行こうとしていただろう。
    </div><div><br /></div><div>
      幻覚を見るくらい厳しい状況下にあって脚にも時間にも仲間にも恵まれ精神的に追い込みきられていない。比較的落ち着いて幻覚と向き合えてる。やばいものをやばいと思えている。
    </div><div><br /></div><div>撤退するなら今しかない。</div><div>
      今思ったことを伝えるんだ。
    </div><div><br /></div><div>そして口をついて出てきた言葉が</div><div>
      <br />
    </div><div>
      UG「<span
        face='Inter, "Noto Sans JP", "Helvetica Neue", "Source Han Sans", "Segoe UI", sans-serif'
        style="background-color: white; font-size: 24px; letter-spacing: 0.5px;"
        >大変言いにくいんですが...DNFしませんか？</span
      >」
    </div><div><br /></div><div>???</div><div>
      おかしいぞ、もっと上手く伝えられるはずだったのにな...🤔
    </div><div><br /></div><div><br /></div><div>
      さとるくん「<span
        face='Inter, "Noto Sans JP", "Helvetica Neue", "Source Han Sans", "Segoe UI", sans-serif'
        style="background-color: white; font-size: 24px; letter-spacing: 0.5px;"
        >マージンは2時間もあるので夜明けまで2時間休んでリスタートしませんか？</span
      >」
    </div><div><br /></div><div>仰る通りである。</div><div>
      ここでリタイアするということはここまで420kmを否定することだからだ。
    </div><div><br /></div><div><br /></div><div>
      UG「<span
        face='Inter, "Noto Sans JP", "Helvetica Neue", "Source Han Sans", "Segoe UI", sans-serif'
        style="background-color: white; letter-spacing: 0.5px;"
        ><b
          >仮にそれでマージンを使っても安全に最後まで走り切れる保証はないですし、マージンを使い切れば時間的に厳しくなる...と思います。</b
        ></span
      >」
    </div><div><br /></div><div>
      さとるくんにはここまで好き放題走らせてもらっておいてゴールではなくDNFへご案内してるわけで冷静に考えたらひどい話である。
    </div><div>
      撤退って難しいんだなぁ...。もしさとるくんが走るって言ったら見送ろう。なんて考えてた。
    </div><div><br /></div><div><br /></div><div>
      さとるくん「DNFしましょう...ここまでありがとうございました。」
    </div><div><br /></div><div>
      この状況でも自然とありがとうなんて言える彼に黄金の精神を見た。
    </div><div><br /></div><div>
      彼のブログにもこう書かれていた。
    </div><blockquote>
      <div>
        <span
          face='Inter, "Noto Sans JP", "Helvetica Neue", "Source Han Sans", "Segoe UI", sans-serif'
          style="background-color: white; font-size: 24px; letter-spacing: 0.5px;"
          >こうして、お互いにほんの少しの余力を残した状態で今回のブルベは終了した</span>
      </div>
    </blockquote><div>
      お互いにGF600では燃え尽きてリタイアしたわけじゃなかった。
    </div><div><br /></div><div>
      二人でDNFの連絡をしてから始発の電車が走り出すまで少し話したりしながら、もしかしたらはじめから僕が邪魔をしなければ彼は完走したんじゃないか?なんて思ったりして本当に申し訳ないことをしたなぁと感じていた。
    </div><div><br /></div><div>本当に自分の力不足だった。</div><div>
      <br />
    </div><div>小浜で始発に乗ってからはすぐに爆睡</div><div>
      東舞鶴で乗り換えてからも爆睡
    </div><div>途中でさとるくんが下車してしまってそこからまた爆睡</div><div>
      <br />
    </div><div>やっぱりもし進んでたらやばかったなかも...💤爆睡</div><div>
      <div style="text-align: left;"><br /></div>
    </div>
    <blockquote class="twitter-tweet">
      <p dir="ltr" lang="ja">
        東舞鶴へ帰ってきた<br
        />ここを通過したときはなんとか小浜へと思っていたが今となっては優しい感じがする<br
        />電車、助かる <a href="https://t.co/0vj5rFrj89"
          >pic.twitter.com/0vj5rFrj89</a>
      </p>— UG (@gr8distance) <a
        href="https://twitter.com/gr8distance/status/1308159473463173120?ref_src=twsrc%5Etfw"
        >September 21, 2020</a>
    </blockquote><div style="text-align: left;">
      疲れからかポエムを書いてしまっていた。&nbsp;
    </div><div style="text-align: left;">
      でもそう感じたんだから仕方ないね
    </div><div style="text-align: left;"><br /></div><div
      style="text-align: left;"
    >
      <br />
    </div><h3 style="text-align: left;">[おわりに]一人反省会</h3><div>
      もしも今回リタイアしないで完走できるとしたら、ターニングポイントはどこになっていたのか？というのを考えてみた。
    </div><div><br /></div><div>
      おそらく250km地点、城崎を抜けたあとのラーメン屋になるんじゃないか？と思えた。
    </div><div>
      一度そこでお腹が空いたとさとるくんに伝えてラーメン屋へ移動し、結果スープが無くて食べれなかった訳ですがもし食べれていれば暖かい店内で仮眠できたこと、ラーメンでガッツリ補給できたことは間違いなく今後の展開も変わっていたように思える。(歴史にもしもは無いんだけどねぇ)
    </div><div><br /></div><div>
      ちなみにラーメン屋を越えて以降は本格的なナイトライドに突入しており日本海沿岸を走るとどうしても強い風と低い気温
      &amp;
      飲食店不毛地帯に突入するため小浜から遡ると一番近いターニングポイントはやっぱり城崎のラーメン屋になりそうという感じでした。
    </div><div><br /></div><div><br /></div><div>
      古代の兵法家、孫氏曰く&nbsp;
    </div><blockquote>
      <div>
        <span
          class="cmn-editable_bold"
          style='background-color: white; box-sizing: border-box; color: #333333; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 700;'
          >勝兵は先ず勝ちて而る後に戦いを求め、敗兵は先ず戦いて而る後に勝を求む</span
        ><span
          style='background-color: white; color: #333333; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 18px;'
        >
          形篇（第四）金谷治訳注『新訂　孫子』岩波書店、57頁</span>
      </div>
    </blockquote><div style="text-align: left;">
      まず勝つ軍っていうのは勝てるよう準備してその上で勝ち戦を始めるんだよ。
    </div><div style="text-align: left;">と孫氏は言ってるわけですね。</div><div
      style="text-align: left;"
    >
      そういう意味では今回のGF600、僕にはかなり一か八かなところがあったなぁと
    </div><div style="text-align: left;">
      <ol style="text-align: left;">
        <li>走力不足</li><li>
          気温や風向き含む気象条件のリサーチ不足&nbsp;
        </li><li>寒暖に対しての備えの不足</li><li>食事スポットの確認不足</li>
      </ol><div>などなど準備が足りてないことが見て取れる。</div><div>
        銀河英雄伝説を見るまでもなくこれは敗軍の将のムーブですよ...
      </div><div><br /></div><div>
        ただ引き際だけは見極められたと思っていてこれは誇れるのではないかと。
      </div><div>
        引き癖がつくのはまずいのでいつかは何かで取り返す必要があるんだけれども少なくとも大怪我はしなかった。
      </div><div><br /></div><div>
        怪我してないから少なくとも後戻りはしてないんですよね。
      </div><div>
        むしろGF600での経験が自分を前に進めてくれるような気さえする。
      </div><div><br /></div><div>
        やり残してしまいましたが別に無くならないし。
      </div><p></p><blockquote>
        <p><b>何度だって追いかけようよ。負けないで</b></p><p>
          <b>失敗なんて誰にでもあるよ</b>
        </p><p><b>夢は消えない。夢は消えない</b></p><p
          style="text-align: left;"
        >
          【勇気はどこに?君の胸に!】
        </p>
      </blockquote><p>&nbsp;またコツコツ走り出していきたいと思います。</p><div>
        <table
          align="center"
          cellpadding="0"
          cellspacing="0"
          class="tr-caption-container"
          style="margin-left: auto; margin-right: auto;"
        >
          <tbody
            ><tr
              ><td style="text-align: center;"
                ><a
                  href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgFVn-WYFes5WZfZUB6t-Ccbl8ixkPiEywhak5NnrzqO0CrsgMb2xI3ckywADd4pR3Re5g0EQ4x8envUu0unx4dKphpfgGPcwerdiMQowxZa-PxZTIxnT4N-IHhW5J3-HVB67ABnuM6N4c/"
                  style="margin-left: auto; margin-right: auto;"
                  ><img
                    alt=""
                    data-original-height="1536"
                    data-original-width="2048"
                    height="240"
                    src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgFVn-WYFes5WZfZUB6t-Ccbl8ixkPiEywhak5NnrzqO0CrsgMb2xI3ckywADd4pR3Re5g0EQ4x8envUu0unx4dKphpfgGPcwerdiMQowxZa-PxZTIxnT4N-IHhW5J3-HVB67ABnuM6N4c/"
                    width="320"
                  /></a
                ></td
              ></tr
            ><tr
              ><td class="tr-caption" style="text-align: center;"
                >Tarmacちゃんもお疲れさまでした🙏<br /></td
              ></tr
            ></tbody>
        </table>
      </div><div><br /></div><div>
        超長文、ここまで読んでくださってありがとうございます🙏
      </div>
    </div>
    <script
      async=""
      charset="utf-8"
      src="https://platform.twitter.com/widgets.js"></script>
  </article>
</Layout>
