---
import Layout from "../../../../../layouts/ArticleLayout.astro";
const title = "GreatDistance Stage.5 レポート"
const description = ""
const thumbnail = ""
const labels = []
---
<Layout title={title} labels={labels}>
<article>
<iframe allowtransparency="true" frameborder="0" height="405" scrolling="no" src="https://www.strava.com/activities/2681035321/embed/22ee55a0b140a370408be5954217e0c0460990b1" width="590"></iframe><br />
<br />
<table align="center" cellpadding="0" cellspacing="0" class="tr-caption-container" style="margin-left: auto; margin-right: auto; text-align: center;"><tbody>
<tr><td style="text-align: center;"><a href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEi8rnnaQHPoXw3-Ec9Szn3EJbR5erpwlX0wlUjWqrycizrBHZY7fyVRkCkScQjVdc_DaNRRDvlnLE0Lg4xoQEPy027tpnkWNAqe9YEvnUs8QSgKkeOJfAh5fCHhyphenhyphenDDZLAoIhvAxWCN5fTs/s1600/MVIMG_20190905_065059.jpg" style="margin-left: auto; margin-right: auto;"><img border="0" height="320" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEi8rnnaQHPoXw3-Ec9Szn3EJbR5erpwlX0wlUjWqrycizrBHZY7fyVRkCkScQjVdc_DaNRRDvlnLE0Lg4xoQEPy027tpnkWNAqe9YEvnUs8QSgKkeOJfAh5fCHhyphenhyphenDDZLAoIhvAxWCN5fTs/s320/MVIMG_20190905_065059.jpg" width="240" /></a></td></tr>
<tr><td class="tr-caption" style="text-align: center;">最速で御坊に到着。もはや車と同じ速度</td></tr>
</tbody></table>
<br />
写真が少ないときは走りに集中した日<br />
<h4>
今日のコース</h4>
<br />
Stage.1を逆走する白浜 ~ 大阪へ移動する175km<br />
和歌山市までは楽しいのですがそこから先は大量の車と信号がありあまり走りたくないコース<br />
<br />
<table align="center" cellpadding="0" cellspacing="0" class="tr-caption-container" style="margin-left: auto; margin-right: auto; text-align: center;"><tbody>
<tr><td style="text-align: center;"><a href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjxga0M9fzjpq1ZKvW4JecPyk1wTzI-G3RALU1XE-xwnxSgtQ7HI-9WtU9ngpCHd4KFfwOdYokJG8FiULPQORlBLLN9675aErxPGx-kUA8hJBBHrDVFv_tgdBYobN0PDVQrYJHmjFi7UVY/s1600/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-09-05+20.20.17.png" style="margin-left: auto; margin-right: auto;"><img border="0" height="54" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjxga0M9fzjpq1ZKvW4JecPyk1wTzI-G3RALU1XE-xwnxSgtQ7HI-9WtU9ngpCHd4KFfwOdYokJG8FiULPQORlBLLN9675aErxPGx-kUA8hJBBHrDVFv_tgdBYobN0PDVQrYJHmjFi7UVY/s320/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-09-05+20.20.17.png" width="320" /></a></td></tr>
<tr><td class="tr-caption" style="text-align: center;">上りがあるのは100kmまで</td></tr>
</tbody></table>
<br />
<h4>
172w/48min</h4>
<div>
もう日常になりつつあるけど平均172wを48min出して走破してる</div>
<div>
平均心拍が136bpmで収まっているのはLSDの成果だと思われるがもう一つ気になるところがある。</div>
<div>
<br /></div>
<div>
最大心拍数に対して最高出力が高いという点だ</div>
<div>
<br /></div>
<div>
ローラー練で判明している心拍と出力の関係だとおおよそ200w出しているときに155bpm前後で落ち着くようになっている。</div>
<div>
<br /></div>
<div>
このライドだと最高出力400wのときでも心拍が比較的大人しかったのは心臓が強化されてきたからと考えたほうが良さそう</div>
<div>
<br /></div>
<div>
LSD強いな。強くなるまで時間はかかるんだろうけど</div>
<table align="center" cellpadding="0" cellspacing="0" class="tr-caption-container" style="margin-left: auto; margin-right: auto; text-align: center;"><tbody>
<tr><td style="text-align: center;"><a href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEg3IlYgTa9YT__nuig0O9Bs_WQ23dVXvxCmNcGXfhKEgXxrulEpS7soHN-wWG0OSfVu9rs2nvOI2fjI3zgBaUDu-HLW6I-Ev8oGEmdD-tkUb2ROcG3QIP0RHigpYSBYFkRh2c6e-G-3h1A/s1600/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-09-05+20.20.51.png" style="margin-left: auto; margin-right: auto;"><img border="0" height="264" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEg3IlYgTa9YT__nuig0O9Bs_WQ23dVXvxCmNcGXfhKEgXxrulEpS7soHN-wWG0OSfVu9rs2nvOI2fjI3zgBaUDu-HLW6I-Ev8oGEmdD-tkUb2ROcG3QIP0RHigpYSBYFkRh2c6e-G-3h1A/s320/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-09-05+20.20.51.png" width="320" /></a></td></tr>
<tr><td class="tr-caption" style="text-align: center;"><br />
このギザギザを平均31kmで移動した</td></tr>
</tbody></table>
<h4>
みなぎる力は背中から</h4>
背中からすごいパワーが出てる事に気がついた。<br />
<br />
特に登坂中に出力が200wを下回らないときは背中からペダルを踏んでいる感覚があり出力の維持が非常に簡単になった。<br />
<br />
背中からペダルを押し込めるのでアウターで登っても失速しない。<br />
むしろインナーを一切使わなかったな...🤔<br />
<br />
ただし背中の背筋を使ったペダリングはシッティングのときにしかできず、ダンシング中は大臀筋で踏んでしまうため出力の維持に繋がっていない。<br />
<br />
ここは今後のライドで改善していきたい<br />
<br />
<h4>
膝が痛い気がする</h4>
<div>
1月から長いこと膝を痛めていた。</div>
<div>
おかげで長引く痛みか線引できるようになった。</div>
<div>
今感じている膝の痛みは長引くものではないのだろうけど流石に使いすぎだろうか...</div>
<div>
<br /></div>
<div>
ただトルクを掛けなければ痛くないし一晩眠れば回復もしているのでしばらくはだましだまし使っていこうと思う。</div>
<div>
<br /></div>
<div>
慢性化させたくは無いが途中で投げ出したいわけでもない</div>
<br />
もうちょっと頑張る<br />
<br />
<br />
<h4>
コース変更のお知らせ</h4>
<div>
日曜日に熊野古道ヒルクライムの試走会があってそこに参加したいのでビワイチを諦めて土曜日に地元に白浜に戻る予定</div>
<div>
<br /></div>
<div>
<br /></div>
<h4>
明日のコース</h4>
<div>
フルコースのアワイチ！</div>
<table align="center" cellpadding="0" cellspacing="0" class="tr-caption-container" style="margin-left: auto; margin-right: auto; text-align: center;"><tbody>
<tr><td style="text-align: center;"><a href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjILmMcWyYb91bOea91_c9SsW8zpXbYNXvitbisIS6oPIOg4m3y1OudGExjgPdkN7Y3nVqltKjXla4EvHuK5QzdMio2UtBRKRhJhs3xclbSTPwcu2uuccdM_NryyWGevfr1tFTPCSaDuD8/s1600/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-09-05+21.38.12.png" style="margin-left: auto; margin-right: auto;"><img border="0" height="320" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjILmMcWyYb91bOea91_c9SsW8zpXbYNXvitbisIS6oPIOg4m3y1OudGExjgPdkN7Y3nVqltKjXla4EvHuK5QzdMio2UtBRKRhJhs3xclbSTPwcu2uuccdM_NryyWGevfr1tFTPCSaDuD8/s320/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-09-05+21.38.12.png" width="256" /></a></td></tr>
<tr><td class="tr-caption" style="text-align: center;">頑張るぞい！</td></tr>
</tbody></table>
<div>
<br /></div>
<a href="https://blog.great-distance.com/2019/09/greatdistance-stage6.html">6日目のレポートはこちら！</a>
</article>
</Layout>
