---
import Layout from "../../../../../layouts/ArticleLayout.astro";
const title = "GreatDistance Stage.6 レポート";
const description = "";
const thumbnail = "";
const labels = [];
---

<Layout title={title} labels={labels}>
  <article>
    <iframe
      allowtransparency="true"
      frameborder="0"
      height="405"
      scrolling="no"
      src="https://www.strava.com/activities/2683826324/embed/b3cf96f8bb4be2a8bc9b537acddc80f6853399a0"
      width="590"></iframe>

    <br />
    <br />
    <h4>今日のコース</h4>
    <div>
      <table
        align="center"
        cellpadding="0"
        cellspacing="0"
        class="tr-caption-container"
        style="margin-left: auto; margin-right: auto; text-align: center;"
      >
        <tbody>
          <tr
            ><td style="text-align: center;"
              ><a
                href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhJRw16-7qLnGeUu5NO07wTB2a3-FV4hvpsS1Ntb2dRmua06OBpZc4LtocuxijU9OSVtZJb3XFUge3ISsUflQgK2pSSHKVNdFro7sj1NJmuZvLqFBrIFbN_Uo-sHK-q3GmC212fjMD6F6s/s1600/IMG_20190906_100114.jpg"
                style="margin-left: auto; margin-right: auto;"
                ><img
                  border="0"
                  height="240"
                  src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhJRw16-7qLnGeUu5NO07wTB2a3-FV4hvpsS1Ntb2dRmua06OBpZc4LtocuxijU9OSVtZJb3XFUge3ISsUflQgK2pSSHKVNdFro7sj1NJmuZvLqFBrIFbN_Uo-sHK-q3GmC212fjMD6F6s/s320/IMG_20190906_100114.jpg"
                  width="320"
                /></a
              ></td
            ></tr
          >
          <tr
            ><td class="tr-caption" style="text-align: center;"
              >海は綺麗だったがひたすら海だったので食傷気味</td
            ></tr
          >
        </tbody>
      </table>
      <br />
    </div>
    今回のコースはロード乗りならよく知ってるアワイチ<br />
    <br />
    昨年のGWにショートコースで走ったことはあったもののフルコースは初めてだったのでどんなもんかと楽しみでした<br
    />
    <br />
    <br />
    ただ、前日の時点で財布にお金が無く電車代もフェリー代も無かったのでどうやって移動するか🤔悩んでたのは秘密<br
    />
    紀陽銀行は早朝取り扱いしてない(´・ω・｀)<br />
    <br />
    <br />
    <h4>ただ距離が長いだけのロングライド？</h4>
    <div>はい。</div>
    <div>正直そうだと思ってました。</div>
    <div>
      <br />
    </div>
    <div>
      でも実際走ってみると南あわじ市の上りがそれなりに急勾配で連日酷使されてる自分の筋肉、膝にダメージを与えてくる...
    </div>
    <div>
      <br />
    </div>
    <div>痛みが出たらどうしようもないのでインナーローでゆるゆる回して登る</div>
    <div>
      <br />
    </div>
    <div>登る!</div>
    <div>
      <br />
    </div>
    <div>登る?</div>
    <div>
      <br />
    </div>
    <div>島の西側まで坂あるのかよ...</div>
    <div>
      <br />
    </div>
    <div>標高自体は低いのに勾配だけは8%か</div>
    <div>
      <br />
    </div>
    <div>万全の状態ならなんのことなくアウターで登れるのになぁ</div>
    <div>
      <br />
    </div>
    <div>
      <br />
    </div>
    <h4>フェリーの時間は？</h4>
    <div>
      南あわじ市の上り坂に手こずってペースを落としていて一周7時間コースになるかなぁ
    </div>
    <div>
      補給もしてないしなんか食べるかぁ？って思ってたんですが岩屋から明石までフェリーは偶数時間は0分と40分、奇数時間は20分にしか出向してないんですね
    </div>
    <div>
      <br />
    </div>
    <div>
      これが意味するところタイミングを逃すと岩屋港で40分待つことになる！
    </div>
    <div>
      <br />
    </div>
    <div>
      この事実に気づいたのは120km地点でその時の時間は13:00。。。＼(^o^)／
    </div>
    <div>
      <br />
    </div>
    <div>
      飯食ってる場合じゃねぇ！<br />
      <a
        href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhJHOpD9Pg7ZHm40WbRDGDSZqDQlOzYMyQ6pYwFUKf7Zt6aRHpVrLRQSrR9mh2JF9sg1y1pRKE2-o4iNJ8nYoxLr-3eQnkGUFAwfOQT9FFqzPGyWP-5B-X_BQftak_hs_7QbBByRWpIcnY/s1600/o0700054813964837920.jpg"
        ><img
          border="0"
          height="250"
          src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhJHOpD9Pg7ZHm40WbRDGDSZqDQlOzYMyQ6pYwFUKf7Zt6aRHpVrLRQSrR9mh2JF9sg1y1pRKE2-o4iNJ8nYoxLr-3eQnkGUFAwfOQT9FFqzPGyWP-5B-X_BQftak_hs_7QbBByRWpIcnY/s320/o0700054813964837920.jpg"
          width="320"
        /></a>
    </div>
    <div>
      <br />
    </div>
    <div>立地な昼ごはんの夢を捨て急遽1時間のTTが始まる</div>
    <div>
      <br />
    </div>
    <div>サンセットラインを追い風に乗ったり向かい風をかき分けて北上する</div>
    <div>
      <br />
    </div>
    <div>なにせここでフェリーを逃すと40分の待ちぼうけ...</div>
    <div>
      混んでる電車と無駄な待ち時間が嫌いな性格なのできっととてつもなく苦痛だろうなぁと思ったのでカロリーが持つことを祈りながらひたすら無心になって走る
    </div>
    <div>
      <br />
    </div>
    <div>写真スポットもコンビニもすべてすっ飛ばして走る</div>
    <div>
      <br />
    </div>
    <div>結局船出の10分前になんとか到着</div>
    <div>
      <br />
    </div>
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjmHkiqceuu2H6KgWKEGV-6eXHAIlqu2ISLLLRtND55DPHMh63IutdNmDH5hRCK2eFDPOgxBUYSvUb_LqX1bU5DUFDKdz7oKV8DLytCQ7EbiRUhNVcKMwSDMzAj9fmaFVBcfIjSsYoQ6Fc/s1600/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-09-06+20.28.30.png"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                height="208"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjmHkiqceuu2H6KgWKEGV-6eXHAIlqu2ISLLLRtND55DPHMh63IutdNmDH5hRCK2eFDPOgxBUYSvUb_LqX1bU5DUFDKdz7oKV8DLytCQ7EbiRUhNVcKMwSDMzAj9fmaFVBcfIjSsYoQ6Fc/s320/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-09-06+20.28.30.png"
                width="320"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            >平均時速31kmで駆け抜けたが心拍はそこまで高くなかった🤔</td
          ></tr
        >
      </tbody>
    </table>
    <div></div>
    <div>最後が本当につらかったんだ...</div>
    <div>
      <br />
    </div>
    <h4>ライドの感想</h4>
    <div>
      連日書いて申し訳ないんですが日に日に速度の割に心拍が上がらない減少が発生しています。
    </div>
    <div>
      疲れて心拍が上がらないだけなのか心肺機能が高まっているのかのどちらかなんでfitbitつけて寝てみて安静時心拍を計測してみようと思います。
    </div>
    <div>
      <br />
    </div>
    <div>
      それとTarmacはどんな踏み方しても早く走るって思ってましたがハイケイデンスでゴリゴリ踏みつけると下死点で加速が鈍ることに気づいたので気をつけていこうと思います。
    </div>
    <div>
      <br />
      <table
        align="center"
        cellpadding="0"
        cellspacing="0"
        class="tr-caption-container"
        style="margin-left: auto; margin-right: auto; text-align: center;"
      >
        <tbody>
          <tr
            ><td style="text-align: center;"
              ><a
                href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEh4HTtxnmw7PjQ9T4rj568bJaMfcHgyWWzvb2XmGAmcCcG0D5ilKbiaAtYfK4TrvOchF3mo52JmBi1q2maBtRvkh_rhMxqWJmk3-HI1ZWOOZDuiKqsgvEXa_UHyGiPKRsbixWwxZOnpZT0/s1600/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-09-06+20.38.50.png"
                style="margin-left: auto; margin-right: auto;"
                ><img
                  border="0"
                  height="157"
                  src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEh4HTtxnmw7PjQ9T4rj568bJaMfcHgyWWzvb2XmGAmcCcG0D5ilKbiaAtYfK4TrvOchF3mo52JmBi1q2maBtRvkh_rhMxqWJmk3-HI1ZWOOZDuiKqsgvEXa_UHyGiPKRsbixWwxZOnpZT0/s320/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-09-06+20.38.50.png"
                  width="320"
                /></a
              ></td
            ></tr
          >
          <tr
            ><td class="tr-caption" style="text-align: center;"
              >何が起こったのかと思うレベルで跳ねるCTL</td
            ></tr
          >
        </tbody>
      </table>
      <table
        align="center"
        cellpadding="0"
        cellspacing="0"
        class="tr-caption-container"
        style="margin-left: auto; margin-right: auto; text-align: center;"
      >
        <tbody>
          <tr
            ><td style="text-align: center;"
              ><a
                href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhPSnYkb39wlK4PFp4KoFEBkm35M3cRo-XAAv7P-f9CjuH5LgU34quecTe_Lw8UVsa3_oTTmeEcpWeJ2rzDAtmGCOjkCwPpc_NgAbPUvKBZaCf8qiBy8ur1b6BOplf2gzspTg32_oWP4I0/s1600/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-09-06+20.38.45.png"
                style="margin-left: auto; margin-right: auto;"
                ><img
                  border="0"
                  height="62"
                  src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhPSnYkb39wlK4PFp4KoFEBkm35M3cRo-XAAv7P-f9CjuH5LgU34quecTe_Lw8UVsa3_oTTmeEcpWeJ2rzDAtmGCOjkCwPpc_NgAbPUvKBZaCf8qiBy8ur1b6BOplf2gzspTg32_oWP4I0/s320/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-09-06+20.38.45.png"
                  width="320"
                /></a
              ></td
            ></tr
          >
          <tr
            ><td class="tr-caption" style="text-align: center;"
              >100の壁を突破したので維持していきたい</td
            ></tr
          >
        </tbody>
      </table>
      <br />
    </div>
    <div>
      <br />
    </div>
    <div>
      <br />
    </div>
    <h4>明日のコース</h4>
    <div>
      ビワイチ！と書いていたのですが日曜日の熊野古道ヒルクライムの練習会に参加したいので白浜に帰省することにしました
    </div>
    <div>
      <br />
    </div>
    <div>なので明日のコースはStage.1と同じ梅田 ~ 白浜の175kmになります。</div>
    <div>
      <br />
    </div>
    <div>
      ただ、同じルートを走ると面白くないので今回は夜間、ナイトライドにしようと思います。
    </div>
    <div>
      <br />
    </div>
    <div>ご安全に！</div>
    <div><br /></div><br /><div>
      <a
        href="https://blog.great-distance.com/2019/09/greatdistance-stage7.html"
        >7日目のレポートはこちら！</a>
    </div><div>
      <a href="https://blog.great-distance.com/2019/09/greatdistance.html"
        >1週目の振り返りはこちら！</a>
    </div>
  </article>
</Layout>
