---
import Layout from "../../../../../layouts/ArticleLayout.astro";
const title = "堺浜クリテリウム ビギナー1クラスレポート";
const description = "";
const thumbnail = "";
const labels = [];
---

<Layout title={title} labels={labels}>
  <article>
    もう堺浜クリテリウムの季節ですねー<br />
    <br />
    一年ってあっという間だったなぁって思います。<br />
    <br />
    全部で5戦まである堺浜クリテリウムの初戦、来年の白浜クリテ優勝に向けて身体をクリテモードにするために出場してきました！<br
    />
    <br />
    <iframe
      allowtransparency="true"
      frameborder="0"
      height="405"
      scrolling="no"
      src="https://www.strava.com/activities/2884293535/embed/8a5c78f4abc6db096c0e2f3e04c9e05b6b1f2de2"
      width="590"
    >
    </iframe>
    <br />
    <br />
    <h3>レースレポ</h3>
    この日は気温が高いということだったので厚着しないようにRaphaのエアロスーツを着ることに。<br
    />
    暑いけど少しでもいい成績を出すためにメットも空力特化のEvadeを使うことにした。<br
    />
    このメットはたしかに早く走れるけど暑いんだよなぁ<br />
    <br />
    レース自体は11:20からで早めに控え地点に並んでおく。<br />
    COLNAGO乗りの速そうな人がいたのでその人の後ろ、前から2列目に陣取る。<br />
    <br />
    レースが開始されて速度が上がると悲しいことにCOLNAGOの人は一気にポジションを後ろに下げてしまった(´；ω；｀)<br
    />
    <br />
    結局最初の3周回くらいは集団のお尻の方を走ることに。<br />
    <br />
    この日マトリックスの選手の引きがすごかったのに集団を上がって脚を使うという悲しいお仕事をこなすことになってしまった...<br
    />
    <br />
    たぶん5周回くらいで集団前方に上がれてたと思うんですが何分早すぎてサイコンも見ずに雰囲気だけで走っていてあまり覚えてない...🙏<br
    />
    <br />
    全9周回するビギナー1クラスでしたが残り2周くらいでカラカラカラとバイクから謎の音が鳴り始めて!?何事かと踏みやめて止まろうと思ったけど100mも進むうちに音が消えたので少し距離の空いてしまった集団にジョイン。<br
    />
    実はこのときジョインした集団はどうも第2集団だったっぽい<br />
    <br />
    レースはそのまま進行して先頭集団3名が先にゴール<br />
    自分は第2集団(ただしこの時自分は第2集団にいるとは思って無くて20位くらいだと思っていた)でホームストレートへ入っていく。<br
    />
    先に加速したバイクがOltreだったので追い抜いてやろうとスプリントを開始しゴール前で差し切る形でフィニッシュ。<br
    />
    <br />
    瞬間的に心拍が189になっていてゲロ吐きそうな状態でコースから離脱...<br />
    帰ろうと思っていたらスピーカーから自分の名前が聞こえる🤔<br />
    <br />
    なんだろ、ゼッケン他の人と入れ替わってたんかな？とか思いながら駐車場に進むとRabbitStreatの関係者の方々から入賞している旨を告げられて思わずハイタッチ👐<br
    />
    人生2度目の表彰式へ進むこととなる<br />
    <br />
    入賞できた要因としてはペースを落とさなかったことが大きいと思う。<br />
    マトリックスの引きがきつくて他の選手が勝手に落ちていく中で同じ速度を維持できたことで自然とポジションが上がっていった。<br
    />
    <br />
    それとバラけた集団を利用して自分の脚でさらに前に上がっていくことができたのも良かった。<br
    />
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr>
          <td style="text-align: center;">
            <a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjdqA8cL3QpwD_GP4GY4KWSCEZqisfUq1j4e2e4kyVXuflyEf-bXHmJgpcd6cq-x8oGw9SLuARAj-OTD2Oxq0R1D0O3K9uuywQdjc17EAd5iM9AXPyggWoRg-aq4L_ZNNiCgD6M5wFs5_U/s1600/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-11-24+21.10.28.png"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
            >
              <img
                border="0"
                height="166"
                src="/public/images/2019/11/24/堺浜クリテリウム_ビギナー1クラスレポート/0.png"
                width="320"
              />
            </a>
          </td>
        </tr>
        <tr>
          <td class="tr-caption" style="text-align: center;">
            中盤に調子が上がってきたので一気に順位を上げられた</td
          >
        </tr>
      </tbody>
    </table>
    <br />
    最大心拍数の95%まで上がってる状態で更にスプリントができたのもが4位入賞に至った決め手になったろうか...<br
    />
    <br />
    トレーニングはほとんどLSDだけど距離が距離だけに高強度にも成果が出ていると考えられる。やはりLSDは裏切らない<br
    />
    <br />
    <br />
    <h3>反省点と改善点</h3>
    <div>
      撮っていただいた写真や他の参加者の方の動画に写ってる自分を見ると結構上体を起こして走行している。
    </div>
    <div>
      多分もっと伏せればより少ない出力で走ることができるのでエアロポジションを極めないといけなさそう。
    </div>
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr>
          <td style="text-align: center;">
            <a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjptGZvoYLvK1pNox6OMSESVllQcY4Rr7HVWm01Pm-MlLvbWEt9ukPksla4tRVet7KV7MpUC4skrmX8NzvYjaAv96eA_b9XMbLLGm-BNiNkQPJL8QU2ZQHoOmya_VKEpyzvYlWDwHeS_Nc/s1600/1574510483998.jpg"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
            >
              <img
                border="0"
                height="240"
                src="/public/images/2019/11/24/堺浜クリテリウム_ビギナー1クラスレポート/1.jpg"
                width="320"
              />
            </a>
          </td>
        </tr>
        <tr>
          <td class="tr-caption" style="text-align: center;">
            結構アップライトなポジションだと思う</td
          >
        </tr>
      </tbody>
    </table>
    また、最初の2周回を軽いギアで走ってしまって一気に心拍を上げてしまい無駄に疲労したのも良くなかった。<br
    />
    <br />
    もっと重いギアをダンシングを織り交ぜながら踏むべきだった(´・ω・｀)<br />
    なんで軽いギア使っちゃったんだろ...<br />
    <br />
    それと路肩を走りすぎた結果釘を踏んだのだろうと思う。<br />
    余計なリスクを避けるためにもっと「道」を走るべきだった。<br />
    これはタイヤ一本の犠牲で気づけたから良かったが一歩間違えれば落車していた可能性もあるし肝に命じておくべきだと思う。<br
    />
    <br />
    <h3>表彰式</h3>
    嬉しいですね<br />
    2017年以来の表彰式ですよ。<br />
    そもそも実況の方から名前を呼んでもらえることが嬉しいわ<br />
    <br />
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr>
          <td style="text-align: center;">
            <a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgovAHv28wQ85uXR7rqsl4a8sJ91fLGzFuGDvaToRogCoNuKbvBAbqoou3gdf9vptor4HYZqUJ1OpbRQ6M9rKJbzx1J8DOr5FjmEWNfCf0YQwG7x_kHqF8V9MXnUP_mzde-NrQcUQTwRo8/s1600/1574510483949.jpg"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
            >
              <img
                border="0"
                height="240"
                src="/public/images/2019/11/24/堺浜クリテリウム_ビギナー1クラスレポート/2.jpg"
                width="320"
              />
            </a>
          </td>
        </tr>
        <tr>
          <td class="tr-caption" style="text-align: center;">
            胸を反らして写真に映っている👍</td
          >
        </tr>
      </tbody>
    </table>
    <h3>2019年の残りのレース</h3>
    <div>今年のレースはもう終了です。</div>
    <div>
      4位に満足したわけじゃなくて2020年白浜クリテに向けて乗り込みに時間を使うつもりです。
    </div>
    <div>なので今年のレースは終了！</div>
    <div>
      <br />
    </div>
    <div>お疲れさまでした！🎉</div>
    <div class="separator" style="clear: both; text-align: center;"></div>
  </article>
</Layout>
