---
import Layout from "../../../../../layouts/ArticleLayout.astro";
const title = "高強度練習した話"
const description = ""
const thumbnail = ""
const labels = []
---
<Layout title={title} labels={labels}>
<article>
<iframe allowtransparency="true" frameborder="0" height="405" scrolling="no" src="https://www.strava.com/activities/2784421733/embed/a137049a59454208ffb685c56ee58accf2865f27" width="590"></iframe>

<br />
土曜日、Zwiftレース以外にやることもなく1ヶ月ぶりに夜ふかしした結果、目が覚めたらお昼の12時！<br />
<br />
しかし台風の次の日という事もあって淀川は走れないし今日もZwiftレースかなぁなんて思ってTwitter見てたら勝尾寺は登れるらしい(正直なところ、通行止めだと思っていた)<br />
<br />
なのでいそいそ準備して即出発！<br />
<a href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEj1zHKXSLBy45J1sdZGWU1xpffZrxMsdDdYVjB9f9kU8wNgHOdzeJln1BTWWIPH2iQqV5UpTzmbn7QOOQGPM1JFpIxKoicMdYJEsMUBxZt0dRoohyphenhyphenQgiE0P31IqdvxRJwthlTDvNbE0Lf0/s1600/MVIMG_20190928_104004.jpg" imageanchor="1"><img border="0" height="320" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEj1zHKXSLBy45J1sdZGWU1xpffZrxMsdDdYVjB9f9kU8wNgHOdzeJln1BTWWIPH2iQqV5UpTzmbn7QOOQGPM1JFpIxKoicMdYJEsMUBxZt0dRoohyphenhyphenQgiE0P31IqdvxRJwthlTDvNbE0Lf0/s320/MVIMG_20190928_104004.jpg" width="240" /></a><br />
<br />
<br />
<h3>
道中</h3>
<div>
のっけから激しい向かい風にさらされる。</div>
<div>
けど強化された肉体なので200w ~ 250wで淡々と走っていく。</div>
<div>
<br /></div>
<div>
体幹ペダリングにも慣れてきたのでシッティングも苦にならないし左右の出力差も気にならない。</div>
<div>
向かい風を割いて気持ちよく北上していく。</div>
<div>
<br /></div>
<div>
そうそう、新しいSpecializedのグローブですがパッドがちょうどいい感じに下ハンドルに引っかかってくれるので大変走りやすいですよ！</div>
<div>
<br /></div>
<div>
<br /></div>
<h3>
登坂 #1</h3>
<div>
勝尾寺までの道のりで今日は何本か登りたいとは思っていた。</div>
<div>
しかし全開にしてしまうと2本目が登れなくなるので考えた結果、240w ~ 250wくらいの出力で踏むことにする。</div>
<div>
<br /></div>
<div>
実際、これでも2本目は走れないんじゃないかと思いつつ、なんとか2本目を走りたい思いでダンシングの回数を減らしながら登る(ダンシングすると出力が270wを下回りづらいので抑える意図がある)</div>
<div>
<br />
ここ2日ほどZwiftレースに取り組んでいたこと、体幹ペダリングで出力の左右差が消えたことからわりかし抑えつつ、しっかり踏めるようになっていた<br />
<br />
最終的なタイムは13:24<br />
抑えたのにどういうわけか平均出力は258w🤔<br />
平均心拍は164bpm<br />
<br />
心拍的にはギリギリL3に収まっていて、平均出力は260w近いとなるとL4まで持っていくとやはり270w ~ 280wくらいは維持できそうだ...<br />
<br />
やっぱり長めの登坂で正確なFTPを確かめたいが...<br />
<br />
少なくともヒルクライムレースならアタックがかかった場面でもきちんと対応可能なくらいの出力は維持できるようだ。</div>
<div>
<table align="center" cellpadding="0" cellspacing="0" class="tr-caption-container" style="margin-left: auto; margin-right: auto; text-align: center;"><tbody>
<tr><td style="text-align: center;"><a href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEg6c86FJM2sCneZOQsudRMW5OJFhrMMzX_qfYuFcGiVkncasohPlVWyP6_DB-wzAzkWV4DnSgw5Bq0rdlQVXLG7nfe5Bi4iJ35pmYWkrDIOGM4rIwYSRzF8qwVYeeEGGc-hId0G4JNB2tc/s1600/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-10-13+23.37.21.png" imageanchor="1" style="margin-left: auto; margin-right: auto;"><img border="0" height="252" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEg6c86FJM2sCneZOQsudRMW5OJFhrMMzX_qfYuFcGiVkncasohPlVWyP6_DB-wzAzkWV4DnSgw5Bq0rdlQVXLG7nfe5Bi4iJ35pmYWkrDIOGM4rIwYSRzF8qwVYeeEGGc-hId0G4JNB2tc/s640/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-10-13+23.37.21.png" width="640" /></a></td></tr>
<tr><td class="tr-caption" style="text-align: center;">L3で13分間260w維持だと結構強い気がする🤔</td></tr>
</tbody></table>
</div>
<div>
平均出力が上がった要因の一つに勝尾寺前の交差点まで200mほどスプリントしたからというのはあるけどスプリントしたあとも問題なくペダルを回せていたので実は300mくらいならロングスパートかけることもできそう<br />
<br /></div>
<div>
<h3>
登坂 #2</h3>
</div>
<div>
1本目とは打って変わって今度はL2(心拍ベース120 ~ 150まで)でゆるゆる登る</div>
<div>
<br />
だいたい今だと190w ~ 220wくらいまでで1分ほど走ると150bpmくらいまで心拍があがるもののちょっとペダルを緩めればすぐに心拍も戻るので8月以前の1w/1bpmの状態を脱出できたようだ。<br />
今日だと135bpmのときで150w ~ 170wは軽く維持できていたので3000km走る中で心肺機能も大きく強化されているらしい。<br />
<br />
出力も低く、心拍にも余裕があり1本目の筋疲労も解けてきたので勝尾寺前の坂を200mほどスプリントする。<br />
1本目は疲れからか420wくらいまでしか上がっていなかったが2本目はどんどんギアが上がる。<br />
<br />
ゴリゴリギアを上げて最終的に736wでフィニッシュ<br />
1本目を平均258wで登ってすぐの2本目でこの出力は今までに無かったので素直に嬉しい<br />
<br />
なお、平均心拍は143bpmに収まったものの最後のスプリントで一気に168bpmまで上がっている。</div>
<div>
<table align="center" cellpadding="0" cellspacing="0" class="tr-caption-container" style="margin-left: auto; margin-right: auto; text-align: center;"><tbody>
<tr><td style="text-align: center;"><a href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgce3CdqH1kxTXHSaDgbK_BMI_yIpJesjJwqrT0x25Yzvn1NEzkoNNHl3TJs46CRdRoJr2xTk5-yh6WbUAkHOtfcWAH9Fg-Iwo4rDnJSDMAy9bfr6Shf0KUyM_SHb1uJY5ynOAMWUMTFdo/s1600/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-10-13+23.58.18.png" imageanchor="1" style="margin-left: auto; margin-right: auto;"><img border="0" height="278" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgce3CdqH1kxTXHSaDgbK_BMI_yIpJesjJwqrT0x25Yzvn1NEzkoNNHl3TJs46CRdRoJr2xTk5-yh6WbUAkHOtfcWAH9Fg-Iwo4rDnJSDMAy9bfr6Shf0KUyM_SHb1uJY5ynOAMWUMTFdo/s400/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-10-13+23.58.18.png" width="400" /></a></td></tr>
<tr><td class="tr-caption" style="text-align: center;">引き足を使えているのと踏み始めもかなり早いので体幹は安定していると考えられる<br />
出力が低いのは純粋に筋力不足と思われる</td></tr>
</tbody></table>
<h3>
<br />登坂 #3</h3>
2本目のスプリントで味を締めたので3本目は交差点から勝尾寺までの1.5kmを可能な限り高出力で登ることにした。<br />
もちろん締めはスプリントである。<br />
<br />
正直なところ、今日の登坂の中ではこれが一番きつかったなと思う。<br />
心拍が下がっているところから一気に300wまで上げてそれを維持しつつフィニッシュまでというのは今までやってこなかったトレーニングでもある。<br />
<br />
でも不思議と踏めちゃうのでペダルを回す。<br />
シッティングだと内側広筋を使うといい感じに出力できるのでそれを意識しつつ最後にスプリント<br />
<br />
<table align="center" cellpadding="0" cellspacing="0" class="tr-caption-container" style="margin-left: auto; margin-right: auto; text-align: center;"><tbody>
<tr><td style="text-align: center;"><a href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEikECUNLYb1RNqQ61PG9yWooO3RfmUUSiuMSY0GInEu1IhqCwhJaf2GLl6pZAoUKw1xRtRl_EgWKo73y4kUSRR6430RoSt0v5_RWB1qfEAhS2oV3EHzu9eFYgcEzkiwDTXzpx47q0OWGWw/s1600/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-10-14+0.03.30.png" imageanchor="1" style="margin-left: auto; margin-right: auto;"><img border="0" height="440" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEikECUNLYb1RNqQ61PG9yWooO3RfmUUSiuMSY0GInEu1IhqCwhJaf2GLl6pZAoUKw1xRtRl_EgWKo73y4kUSRR6430RoSt0v5_RWB1qfEAhS2oV3EHzu9eFYgcEzkiwDTXzpx47q0OWGWw/s640/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-10-14+0.03.30.png" width="640" /></a></td></tr>
<tr><td class="tr-caption" style="text-align: center;">4分間の平均出力は297wでpwrなら5.4w/kg</td></tr>
</tbody></table>
ここで出し尽くしたので帰ることにした<br />
<br />
<br />
<h3>
神崎川TT</h3>
Rovalを購入したときにつけてもらったブレーキシュー、いよいよ11500km走ってすり減ってきたので買い直すことにした。<br />
やはりブレーキ周りにはお金をかけるべし。<br />
<table align="center" cellpadding="0" cellspacing="0" class="tr-caption-container" style="margin-left: auto; margin-right: auto; text-align: center;"><tbody>
<tr><td style="text-align: center;"><a href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjdwfXgv7PL8WZy9MAlOLqLPD5yFyD-ConuZdDuq7LzunQOr-A3kHx8aVp2Yqky5z7bnkOJkBGd3LV7P4aYbWLdlpPUTs401hSZ-xaufy9bwee7ziWQCFeDHvvHx1VoxR9Xnp7eh4rsJvo/s1600/IMG_20191013_152028.jpg" imageanchor="1" style="margin-left: auto; margin-right: auto;"><img border="0" height="320" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjdwfXgv7PL8WZy9MAlOLqLPD5yFyD-ConuZdDuq7LzunQOr-A3kHx8aVp2Yqky5z7bnkOJkBGd3LV7P4aYbWLdlpPUTs401hSZ-xaufy9bwee7ziWQCFeDHvvHx1VoxR9Xnp7eh4rsJvo/s320/IMG_20191013_152028.jpg" width="240" /></a></td></tr>
<tr><td class="tr-caption" style="text-align: center;">バイクの重量やギアの枚数よりもブレーキが大事。<br />
ライダーの常識</td></tr>
</tbody></table>
<br />
帰りにいつもお世話になってるラビットストリート江坂店さんにお邪魔してブレーキシューを調達<br />
<br />
箕面から江坂までの移動で脚が回復していたので神崎川をTTすることに。<br />
勝尾寺3本目もそこそこいい出力出てたしもしかしたら結構速く走れるかもしれんと最初から全開で踏んでいく。<br />
<br />
いい風が吹いていたのでのっけから容赦なく出力を上げつつ可能な限りエアロフォームを意識する<br />
途中アウタートップでケイデンス90に到達してギアが足んねぇ！って思いながらケイデンスを上げていく。<br />
<br />
流石に最後の300mで限界が来て出力が落ちていくもののなんとか280w以上はキープ<br />
川沿いを駆け抜けたその結果は区間2位と大健闘<br />
<br />
<table align="center" cellpadding="0" cellspacing="0" class="tr-caption-container" style="margin-left: auto; margin-right: auto; text-align: center;"><tbody>
<tr><td style="text-align: center;"><a href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgZKJU9vslQolZGnZC5XZRfjKeRQ2vIhwxGdNz-BPgJ48x0Ms6PN7s5Zdd1pMyR8nM6MO11Bsvb11oABXOavCMN_mCSeghP40roSFhSRa8Tz6SZj0ZyuKxdC5IW4FkFk7bx83Wct0Mo1Io/s1600/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-10-14+0.10.20.png" imageanchor="1" style="margin-left: auto; margin-right: auto;"><img border="0" height="536" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgZKJU9vslQolZGnZC5XZRfjKeRQ2vIhwxGdNz-BPgJ48x0Ms6PN7s5Zdd1pMyR8nM6MO11Bsvb11oABXOavCMN_mCSeghP40roSFhSRa8Tz6SZj0ZyuKxdC5IW4FkFk7bx83Wct0Mo1Io/s640/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-10-14+0.10.20.png" width="640" /></a></td></tr>
<tr><td class="tr-caption" style="text-align: center;"><span style="font-size: small; text-align: start;">さすがに走ってるときも速いなぁとは思っていたけど最高速度56.9km/hになってるとは思わなかったぞw</span></td></tr>
</tbody></table>
孝子峠でもここでも全期間で2位に収まってしまっているのは不本意ではあるけどわりかしKOMを狙える位置までしっかり届いている。<br />
<br />
このままシルバーコレクターを脱却したいところである。<br />
<br />
<h3>
熊野古道ヒルクライム</h3>
エントリーしたんですよ。<br />
11/3かな？頑張って走ってきます(｀･ω･´)ゞ<br />
<br /></div>
</article>
</Layout>
