---
import Layout from "../../layouts/Layout.astro";
import { ArticleTemplate } from "../../templates/ArticleTemplate";
const title = "GreatDistance Stage.14レポート";
const category = "CYCLING";
const thumbnail = "/thumbnails/2019-09-16-GreatDistance Stage.14レポート.jpg";
---


    <iframe
      allowtransparency="true"
      frameborder="0"
      height="405"
      scrolling="no"
      src="https://www.strava.com/activities/2712953791/embed/4dd7848846ed5224c780fb98e13f7d8ae0da2198"
      width="590"></iframe><br />
    <br />
    <h3>今日のコース</h3>
    御金神社って神社に弟と一緒に走ってきた<br />
    弟が10/27にブルベにでるのでその練習についていく感じだった<br />
    昨日250km走ったので出力貶めのこのライドはちょうどいいかなと思って<br />
    <br />
    ちなみに特筆することは特に無い<br />
    <br />
    強いて言うなら弟がブルベで時間内完走するために毎週トレーニングが必要な気がするけど本人にその気があるのかわからんのが一番不安だ<br
    />
    <br />
    自分でやりたいと言ってたから大丈夫だと思うことにするかぁ<br />
    <br />
    <h3>そういえば</h3>
    推定FTP245wで50km地点くらいまで200w前後で走ってる<br />
    というか最後の方まで区間では200w前後を維持できてたので見えづらいけど着実に維持可能出力が上がってるようだ<br
    />
    <a
      href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEj9fDQbmNQTytuMcIHpzLCwQR5Zt5gH2NXqbduIyp6e1BMq8KM7GfmoJgfERYnasxz9xd_JZYUVwmvtGC3KO206Bb3iuFor3Y3PdK-Wbag8A_tsHHOy9zcTS92ADHRd7owhIr9OpqvhEfQ/s1600/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-09-16+23.02.00.png"
      ><img
        border="0"
        height="174"
        src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEj9fDQbmNQTytuMcIHpzLCwQR5Zt5gH2NXqbduIyp6e1BMq8KM7GfmoJgfERYnasxz9xd_JZYUVwmvtGC3KO206Bb3iuFor3Y3PdK-Wbag8A_tsHHOy9zcTS92ADHRd7owhIr9OpqvhEfQ/s320/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-09-16+23.02.00.png"
        width="320"
      /></a
    ><br />
    <br />
    <h3>明日のコース</h3>
    明日は完全休み<br />
    失われた輪行袋とライトとサイドカットが入ってる可能性のあるタイヤをどうするか考える日に当てます<br
    />
    静岡ライドが近づいてきていて少し不安がありますねぇ<br />
    <br /><div>
      <a
        href="https://blog.great-distance.com/2019/09/greatdistance-stage15.html"
        >15日目のレポートはこちら</a>
    </div>
  

</ArticleTemplate></Layout>