---
import Layout from "../../layouts/Layout.astro";
import { ArticleTemplate } from "../../templates/ArticleTemplate";
const title = "GreatDistance Stage.15 アクティブリカバリー";
const category = "CYCLING";
const thumbnail =
  "/thumbnails/2019-09-18-GreatDistance Stage.15 アクティブリカバリー.jpg";
---

<Layout title={title}>
  <ArticleTemplate
    title={title}
    thumbnail={thumbnail}
    date={"2019-09-18"}
    category={category}
  >
    <iframe
      allowtransparency="true"
      frameborder="0"
      height="405"
      scrolling="no"
      src="https://www.strava.com/activities/2718884553/embed/56dc2f02cc8886b4a79df98efd18675b0a932932"
      width="590"></iframe>

    <br />
    <br />
    <h3>今日のコース</h3>
    どこかしらを110km走ろうかなって思ってたんですが疲労抜きのための睡眠と静岡ライドのための準備で16時から走ることになったため軽く勝尾寺を登ることに<br
    />
    <br />
    ライトとか輪行袋とか満載して普段より車重が増えてるバイクで問題なく登攀できるかが知りたかったのですが結論から言えば非常に調子よく登れましたね<br
    />
    <br />
    <br />
    <h3>軽く登る。でも平均出力234w</h3>
    <div>
      そうなんです、休むダンシングを手に入れたのと日に日に身体がダンシングに最適化されていくので身体は楽に、でも高出力で登れるようになってるんです。
    </div>
    <div>
      <br />
    </div>
    <div>
      そもそも今日までの14回に及ぶロングライドでさらに強くなってるからかもしれないんですが今日は本当に楽に登れました
    </div>
    <div>
      だいたい最初の3kmはほとんどダンシングで、後半もダンシングがメインで一気に高ケイデンスで加速するときだけ座る感じで
    </div>
    <div>
      <br />
    </div>
    <div>調子良かったです</div>
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhXt8KLkklT3FY6hpwrsm1106nd1c749Dw6PKpOlmX-1l8af3-7DRro-VDwKUbtc9xx0Rfuc66z9dG6ZOwObVVaa1rvatUQr0Pp0mh6voSlVR2mirRAe1LptZDlNerGUXoSOrDhkrTcbS0/s1600/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-09-18+19.55.13.png"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                height="260"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhXt8KLkklT3FY6hpwrsm1106nd1c749Dw6PKpOlmX-1l8af3-7DRro-VDwKUbtc9xx0Rfuc66z9dG6ZOwObVVaa1rvatUQr0Pp0mh6voSlVR2mirRAe1LptZDlNerGUXoSOrDhkrTcbS0/s320/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-09-18+19.55.13.png"
                width="320"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            >ほとんどダンシング(緑のところはダンシング)</td
          ></tr
        >
      </tbody>
    </table>
    <div>
      今日心拍関連で２つ驚いたことがあったんですが、まず心拍160がしんどくないということ。
    </div>
    <div>
      以前は160くらいから苦しくなってたんですが今日は全然楽だったのが驚きポイントですね
    </div>
    <div>
      <br />
    </div>
    <div>もう一つは心拍数が一気に落ちたこと。</div>
    <div>
      心拍が155になっているとなかなか落ちないんですが今日は一瞬で145とかまで落ちていてダンシングからシッティングに切り替えると一瞬で心拍が落ちるんでまたダンシングができるという好循環でした。
    </div>
    <div>
      <br />
    </div>
    <div>
      心肺が楽なのと休むダンシングで脚が楽なので楽しく登っていたら平均出力が234w/14分で自分のFTPが245w(たぶん)なのでおそらくFTPももう少し高い値を出せそう
    </div>
    <div>
      <br />
    </div>
    <div>10月に入って疲労が全部抜けたら一度FTP測ってみようと思います</div>
    <div>
      <br />
    </div>
    <div>
      <br />
    </div>
    <h3>明日のコース</h3>
    <div>
      明日は梅田から静岡の沼津まで移動する420kmのコース<br />
      <br />
      厳密に言えば沼津の手前の新清水でナイトライドの疲労を解消して土曜日に沼津に到着する予定です
    </div>
    <div>約束の地(沼津)で遊ぶだめです</div>
    <div>
      <br />
    </div>
    <a
      href="https://latlonglab.yahoo.co.jp/route/watch?id=2823c4acdf16de2b1bdacd90d8e56a78"
      title="伊賀越えルート - ルートラボ - LatLongLab"
      ><img
        border="0"
        height="240"
        src="https://map.yahooapis.jp/map/V1/static?appid=7tFXKn2xg64uWyHGG7apEBKEN5gU173ZW3bBUjsai53AY3B9hbn46dWALHnMtkoFU8ov&width=240&height=240&scalebar=ul&l=0,0,255,105,4,34.71561,135.54667,34.72233,135.57253,34.73406,135.59122,34.74069,135.62036,34.73894,135.64417,34.73867,135.65119,34.73814,135.66303,34.73522,135.68119,34.73536,135.69092,34.73031,135.70275,34.73308,135.72017,34.72925,135.74578,34.73092,135.76278,34.73475,135.78467,34.73669,135.81092,34.74469,135.82111,34.75594,135.83922,34.76572,135.86669,34.76400,135.88594,34.76633,135.90808,34.76181,135.93181,34.76325,135.95214,34.76900,135.97833,34.77117,135.99539,34.77664,136.01058,34.76575,136.02381,34.76531,136.04594,34.75817,136.06733,34.76286,136.09703,34.77489,136.12639,34.79064,136.14611,34.80578,136.17844,34.83100,136.22200,34.83922,136.24447,34.83972,136.25781,34.84536,136.28203,34.84650,136.29519,34.84128,136.31833,34.84044,136.33439,34.85606,136.38103&pins=34.71561,135.54667,,blue&ping=34.85606,136.38103,,red&mode=map"
        style="height: 240px; width: 240px;"
        width="240"
      /></a
    >

    <a
      href="https://latlonglab.yahoo.co.jp/route/watch?id=f33cb6a13ec8b738b2d717dcbe3a6706"
      title="主ルート(関～本宿) - ルートラボ - LatLongLab"
      ><img
        border="0"
        height="240"
        src="https://map.yahooapis.jp/map/V1/static?appid=7tFXKn2xg64uWyHGG7apEBKEN5gU173ZW3bBUjsai53AY3B9hbn46dWALHnMtkoFU8ov&width=240&height=240&scalebar=ul&l=0,0,255,105,4,34.84958,136.39461,34.85853,136.41392,34.86228,136.43500,34.86256,136.46847,34.86908,136.49086,34.87922,136.52239,34.89258,136.54411,34.91308,136.55422,34.92433,136.58567,34.93675,136.59842,34.95903,136.61833,34.97964,136.62817,34.99644,136.64658,35.00917,136.65578,35.02958,136.67181,35.05117,136.68103,35.07608,136.68481,35.09500,136.70294,35.11242,136.72900,35.11972,136.75950,35.12456,136.78733,35.12642,136.81644,35.12403,136.84967,35.12372,136.88700,35.12050,136.91122,35.11183,136.91233,35.09836,136.92722,35.07758,136.94653,35.06181,136.97814,35.05339,136.99761,35.03661,137.01464,35.01797,137.03467,35.00333,137.05478,34.99083,137.08167,34.97536,137.11769,34.96575,137.13478,34.95847,137.15764,34.94669,137.18800,34.92433,137.20281,34.89347,137.25875&pins=34.84958,136.39461,,blue&ping=34.89347,137.25875,,red&mode=map"
        style="height: 240px; width: 240px;"
        width="240"
      /></a
    >

    <a
      href="https://latlonglab.yahoo.co.jp/route/watch?id=52c0e52fcc642ec0d0adfb7106e1c71e"
      title="主ルート(本宿～沼津) - ルートラボ - LatLongLab"
      ><img
        border="0"
        height="240"
        src="https://map.yahooapis.jp/map/V1/static?appid=7tFXKn2xg64uWyHGG7apEBKEN5gU173ZW3bBUjsai53AY3B9hbn46dWALHnMtkoFU8ov&width=240&height=240&scalebar=ul&l=0,0,255,105,4,34.89333,137.25881,34.85639,137.31164,34.81350,137.35236,34.76928,137.39061,34.73781,137.42375,34.71142,137.47294,34.68594,137.49981,34.68189,137.54133,34.69389,137.59036,34.68067,137.64753,34.67069,137.71678,34.68872,137.76792,34.72881,137.79031,34.72544,137.83519,34.73503,137.87919,34.74756,137.91517,34.76319,137.97036,34.77633,138.00292,34.78433,138.05461,34.80592,138.07847,34.82369,138.10361,34.82000,138.12028,34.82761,138.13667,34.83536,138.19447,34.85269,138.24308,34.88678,138.27694,34.92275,138.28853,34.94667,138.33039,34.95844,138.37192,34.99183,138.41975,35.02317,138.47900,35.04519,138.50503,35.05717,138.53269,35.10039,138.55419,35.11503,138.58503,35.12831,138.61867,35.14792,138.66328,35.14694,138.71439,35.13436,138.74936,35.09956,138.86264&pins=34.89333,137.25881,,blue&ping=35.09956,138.86264,,red&mode=map"
        style="height: 240px; width: 240px;"
        width="240"
      /></a
    ><div><br /></div><div>
      <a
        href="https://blog.great-distance.com/2019/09/greatdistance-stage16.html"
        >16日目のレポートはこちら！！！！</a
      >
    </div>
  </ArticleTemplate>
</Layout>
