---
import Layout from "../../layouts/Layout.astro";
import { ArticleTemplate } from "../../templates/ArticleTemplate";
const title = "2019年シーズンの振り返り(前半)";
const category = "CYCLING";
const thumbnail = "/thumbnails/2019-11-22-2019年シーズンの振り返り(前半).jpg";
---

<Layout title={title}>
  <ArticleTemplate
    title={title}
    thumbnail={thumbnail}
    date={"2019-11-22"}
    category={category}
  >
    <br />
    2019年も1ヶ月と半分を切ってきたのでシーズンを振り返ってみようという話。<br
    />
    <br />
    振り返って見れば2016年にロードバイクを購入してからもっとも成績を出せた一年だった気もする。でも順調に来たわけじゃない。<br
    />
    <br />
    今後スランプになったり悩んだりした時に逆風の中でもしっかり前進できたことを思い出すためにも振り返っておきたい。<br
    />
    <br />
    ちなみに2019年のミッションはSR獲得と表彰台の獲得の２つだった。<br />
    この２つは達成できたのだろうか?<br />
    <br />
    <h3>1月</h3>
    <div>SR獲得のために200, 300, 400, 600kmを走る必要がある。</div>
    <div>
      <br />
    </div>
    <div>
      当時はお仕事のほうが非常にドッタンバッタン大騒ぎで遠くのブルベに参加することが難しかったので勝手知ったる泉佐野初のブルベにエントリーすることにした。
    </div>
    <div>
      (2014年 ~
      2017年まで羽倉崎に住んでいたので電車、地理含めて非常によく知っている)
    </div>
    <div>
      <br />
      ということで出たのがこちら<br />
      <b>BRM127泉佐野 ~ 榛原往復</b>
    </div>
    <iframe
      allowtransparency="true"
      frameborder="0"
      height="405"
      scrolling="no"
      src="https://www.strava.com/activities/2108209462/embed/3b81b1013b45966ad13b713fe8dba9ed07233390"
      width="590"></iframe><br />
    当日なんばからりんくうタウン駅まで向かうにあたり輪行でもたついてしまった結果ブリーフィングが終わったあとに到着してしまう。<br
    />
    <br />
    全員出発したあとに一人ブリーフィングを受けてからの出発となったため孤独の出走。<br
    />
    焦りからか全力で踏んでなんとか通過チェックで幾人かに追いつく。<br />
    <br />
    この時ラブライブサンシャインの小原さんジャージを着用していたことで花丸ちゃん押しのラブライバー兄貴に話しかけられる。<br
    />
    先を急いでいたのでそのままちぎって走ってしまったが花丸押しアニキとは連絡先を交換しておけばよかったなと後悔している(´・ω・｀)<br
    />
    <br />
    100kmほど走り折返しにたどり着いた時右膝に痛みが走る(´・ω・｀)<br />
    リタイアすることもできず痛みを抱えながら左足主体で踏んでいたら今度は左膝にも痛みが(´・ω・｀)<br
    />
    結局50km以上両膝を痛めた状態で走ることになったのだがこの膝痛が完治するまでに6ヶ月もの時間を必要としてしまう...<br
    />
    (これは昨年末からお仕事がドッタンバッタン大騒ぎしてしまった結果月間走行距離240kmとかでのシーズンインとなったことが原因なのだがトレーニングも満足にできず本当に苦しい時間を過ごすことになった。)<br
    />
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhVMpmlLvoWhlEK3wTM8O3X7EyrO6tR84Ogy9NCOltYqwGvsn917I0uTPj8FZnhONVIUQCIPrqCPVo7xO-iWt4QIkvLHF2qmqV04-maHJetNEnUQvy_ZnzMOO3avh8zDKz3L79LqNDUqGk/s1600/rides.png"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                data-original-height="526"
                data-original-width="1554"
                height="108"
                src="/images/articles/2019-11-22-2019年シーズンの振り返り(前半)/image-326.jpg"
                width="320"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            >今なら1日で走る距離なのに1ヶ月でそれだけしか走れてなかった</td
          ></tr
        >
      </tbody>
    </table>
    <br />
    結局痛いので20km走ったら一度休憩というのを繰り返しどうにか残り20km地点までたどり着いたところでGARMINがバグる...<br
    />
    日が落ちて真っ暗、道もわからず、膝も痛いという状態の時通過チェックを出てきたランドヌールに事情を話で先導してもらった🙏<br
    />
    ちなみにこの時先導してくださった本州最南端のランドヌールさんだったのですが実はこの日声を掛ける前からSTRAVAで相互フォローになっていたりこの方のブルベ動画を見たことがブルベ参加のきっかけだったりもするので不思議な縁もあるものだと思った。<br
    />
    <br />
    どうにか膝の痛みを乗り越えてゴール受付を終え200kmを達成することができた(´；ω；｀)<br
    />
    <br />
    <h3>2月</h3>
    実はこっそり堺浜クリテのスポーツクラスに出場していた。<br />
    <br />
    <iframe
      allowtransparency="true"
      frameborder="0"
      height="405"
      scrolling="no"
      src="https://www.strava.com/activities/2153476924/embed/4dadfd0e3fddf84952ace62202e5530b5c259f43"
      width="590"></iframe><br />
    正気を疑うレベルだがなんとか足切りにならずに完走したらしい。<br />
    無謀にも程があるがバイクが良いのでどうにかなったらしい<br />
    <br />
    <h3>3月</h3>
    表彰台を狙うならヒルクライムよりクリテリウムだと思っていた。<br />
    ドラフティングが効くのでうまくやればジャイアントキリングが成立するから<br />
    で、この月、地元白浜で開催されるレースの白浜クリテにフォーカスしていた。<br
    />
    <br />
    実はかつて3位になり表彰されたこともあるためなんとかなると思っていた。<br />
    このレースのための秘密兵器としてPioneerのペダリングモニターも搭載し準備万端の状態。と思っていた。<br
    />
    <br />
    結局蓋を開けてみればダメダメで2週目後半で早々に先頭グループにちぎられ第三集団から追い上げる形に。<br
    />
    25人中5位というと聞こえはいいかもしれないが1位から40秒ほど差をつけられた。<br
    />
    この時2019年の表彰台の可能性は消えたと言える<br />
    <br />
    ちなみにこの時の出力は227w/10分<br />
    PWRで4倍というところかぁ<br />
    <iframe
      allowtransparency="true"
      frameborder="0"
      height="405"
      scrolling="no"
      src="https://www.strava.com/activities/2218493752/embed/1b562a9136614ff69bacbaa52d0f92e4da119242"
      width="590"></iframe>

    <br />
    <h3>4月</h3>
    <div>2019シーズンでは2番目に忙しい月だったかもしれない。</div>
    <div>
      <ul>
        <li>4/6 -&gt; BRM406(300km)</li>
        <li>4/14 -&gt; 伊吹山ドライブウェイヒルクライム</li>
        <li>4/27 -&gt; BRM427(400km)</li>
      </ul>
      <div>というスケジュールだった。</div>
    </div>
    <div>
      最大の問題は初っ端のBRM406。というのもこれまで220km以上走ったことがなかったので300kmは完全に未知の領域だった。それと出発が4時のため電車がなくなんばから自走でりんくうまで移動する必要があったこと。
    </div>
    <div>ちなみにこの時のブルベで</div>
    <div>
      <ul>
        <li>スマホがポッケから落ちて画面が壊れる</li>
        <li>GARMINが壊れる(STRAvAのログが無いのはそのため)</li>
        <li>ダウンヒル中にガードレールに突撃</li>
      </ul>
      <div>などのアクシデントが発生した。</div>
      <div>無事に完走できたのが奇跡だと思う。</div>
      <div>
        この時はまだ膝は治っていなかったが200w以上出力を出さなければ痛みはないということに気づいていたのでパワーメーターを見ながら出力を調整していた。
      </div>
      <div>
        <br />
        上りだらけで大変なコースではあったけれども桜の季節と重なったため行く路のあらゆる景色に桜が咲いていて見ごたえは凄まじかった。<br
        />
        もう一度走りたいと思うくらいに好きなコースだった<br />
        <div class="separator" style="clear: both; text-align: center;">
          <br />
        </div>
        <div class="separator" style="clear: both; text-align: center;">
          <a
            href="/images/articles/2019-11-22-2019年シーズンの振り返り(前半)/image-958.jpg"
            imageanchor="1"
            style="clear: left; float: left; margin-bottom: 1em; margin-right: 1em;"
            ><img
              border="0"
              data-original-height="186"
              data-original-width="248"
              src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjcYMiQuaeWb3IaekIoLyE7SPZnwr0xYjALHfp-lj5l9gBkhZwrYOUu-ZchGXjYSPWAuCsB8cNz_F1mDK7xO7Z6v1ShFOAc2sw2DsAMAhfUtrmHZRnLNO2kE4rtfl8X3N_ZFafguAdklWw/s1600/IMG_20190406_071313-EFFECTS.jpg"
            /></a
          >
        </div>
        <a
          href="/images/articles/2019-11-22-2019年シーズンの振り返り(前半)/image-628.jpg"
          imageanchor="1"
          style="clear: right; float: right; margin-bottom: 1em; margin-left: 1em;"
          ><img
            border="0"
            data-original-height="186"
            data-original-width="248"
            src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjTenJ1QKEqtyfW-ASBXbfxb85K-GjKUE-cs4fB7-Y0_6Vjr15sQiwqsWSZD9iP6ddDwwHuk9qnDEAUrWEpEMyYB5Bzmit7exfVFS6dc8drp5ou9CwzzAo1F0RRXBB_Q7NcUmvrv6RB-eU/s1600/IMG_20190406_071951.jpg"
          /></a
        ><br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        ちなみにこのコースで60歳代のおっちゃんと遭遇。<br />
        すごい登攀でガンガン進んでいって僕より1時間あとに出走してるのに普通にちぎられてしまった。1時間のマージンを150kmで詰められた<br
        />
        結構走れるつもりだったけどカスみたいな走力ということを痛感した瞬間だった。<br
        />
        でも同時にブルベは何歳でもできるんだなぁとも思う<br />
        <br />
      </div>
      <div>
        <iframe
          allowtransparency="true"
          frameborder="0"
          height="405"
          scrolling="no"
          src="https://www.strava.com/activities/2288219117/embed/76ff84bdcc772d1cc75aa283c491d2da6fad0936"
          width="590"></iframe>

        300km(結局350km)の走行を完了してからゆっくり休んだためそこそこいい状態で臨むことができたのが伊吹山HC。<br
        />
        パワーメーターを見ながら出力を管理することでどうにか1時間ジャストでゴールすることに。<br
        />
        この時に214w/1時間という出力を出すことができたのでFTP214wということになった。<br
        />
        <div class="separator" style="clear: both; text-align: center;">
          <a
            href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgDVVVXXxVEVhg8TvD-fkRWO4cdsNoSfVP51I4Id-N6wWg_D2sJU_57EL7NS2zSknZk_RB1x48DY8aG_AIWedfl6N0ycJI73cgFOUcEOMRr5ehRlTlSkJ7d8c-ebzG6931mUVCNxXvI8fY/s1600/DSC_0019.jpg"
            imageanchor="1"
            style="margin-left: 1em; margin-right: 1em;"
            ><img
              border="0"
              data-original-height="562"
              data-original-width="1000"
              height="179"
              src="/images/articles/2019-11-22-2019年シーズンの振り返り(前半)/image-260.jpg"
              width="320"
            /></a
          >
        </div>
        レースの結果はそこそこ<br />
        まあ4倍程度の出力では厳しいかなぁ(´・ω・｀)<br />
        <br />
      </div>
    </div>
    <div>
      <iframe
        allowtransparency="true"
        frameborder="0"
        height="405"
        scrolling="no"
        src="https://www.strava.com/activities/2323837810/embed/1b4d3f178c9d8ce9198dbacab1fb9117109ab78e"
        width="590"></iframe>

      <br />
      BRM427、ここをクリアすればSRが見えてくる。<br />
      初のオーバーナイトブルベではあるもののコースそのものは何らかの形(車と単車)で走ったことがある道だったのでコースへの不安は特にない。<br
      />
      色気を出して本宮大社へお参りに行ったりと旅としての自転車を楽しめるようになったのもこの頃から。<br
      />
      <br />
      ただしこの時点ではまだ膝は完治しておらずロキソニンを服用して120km走ったのはいい思い出。<br
      />
      <br />
      朝焼けを見たのが海南でゴールまで30kmのところについた時にひっくり返りかけたりして夜通し走ることの厳しさも痛感した。<br
      />
      <br />
      今でも思い出せるのは最後のPCに集まったランドヌールたちがみんな笑いながら「きつかったなー」とか「あと60kmもあるぞ」とか言ってるのみて同好の士と出会った気がした。ブルベを一段と好きになった瞬間でもある。<br
      />
      <br />
      もちろん完走したときはガッツポーズ<br />
      ガッツポーズ選手権優勝の勢いだった。<br />
      <br />
      <h3>5月</h3>
      レース的なイベントは特に無いものの4月にブルベ2本とそれに伴うトレーニングでそこそこガッツリ走れたためもっと走りたいと思うようになった。<br
      />
      GWが空前の10連休というのもあってしこたま走った。<br />
      <br />
      それとこの時期にそれまで努めいていた会社を辞める算段をすることとしていろいろ準備していた。<br
      />
      <table
        align="center"
        cellpadding="0"
        cellspacing="0"
        class="tr-caption-container"
        style="margin-left: auto; margin-right: auto; text-align: center;"
      >
        <tbody>
          <tr
            ><td style="text-align: center;"
              ><a
                href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiL0ZLHAPQH6oniKoyJy1KRjhRbwc2Vby7ZkpZiXXzHe8nsiv3-Xit_O6BkMCT9sodRLy02PReuss0U19LnC7uPdIt5fGAZXAO5DOS1WBwMZNMj_fmoyKOE7GVW1P2x-8ISYER51k1u59k/s1600/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-11-20+14.57.12.png"
                imageanchor="1"
                style="margin-left: auto; margin-right: auto;"
                ><img
                  border="0"
                  data-original-height="448"
                  data-original-width="1504"
                  height="95"
                  src="/images/articles/2019-11-22-2019年シーズンの振り返り(前半)/image-589.jpg"
                  width="320"
                /></a
              ></td
            ></tr
          >
          <tr
            ><td class="tr-caption" style="text-align: center;"
              >この辺からコンスタントに月間走行距離が1000kmを越え始める</td
            ></tr
          >
        </tbody>
      </table>
      <h3>
        <br />6月
      </h3>
      <div class="separator" style="clear: both; text-align: center;">
        <a
          href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiTZqAizYy-hZNGhty3RxuIxWnXe5GFgkzI0CRvi5-co6nUOwTlty4POivuCeLfrPMrCiPN0oxrtLKegPP16QGOndu7In3SdWY5qsDWxfJ2tlpULo95QlJmnAachZDOwRuEhyfx68cndks/s1600/tNA0RKoO0DSu_a0ewplmcqc5uZ8vwk9FoABsqI5rkmF_8j2jKMAAp2ts477pqs5l1A9yZS5Uor1LQYkI86cW8oVvuYaObwTEX_U.png"
          imageanchor="1"
          style="margin-left: 1em; margin-right: 1em;"
          ><img
            border="0"
            data-original-height="454"
            data-original-width="1364"
            height="106"
            src="/images/articles/2019-11-22-2019年シーズンの振り返り(前半)/image-530.jpg"
            width="320"
          /></a
        >
      </div>
      SR獲得に関してはこれまで一度のDNFもなくストレートで来ていたのでここで一気にSRを決めるつもりだった。<br
      />
      400kmを完走した自分にとってもはや600kmというのは不可能な距離とは思えなかった。<br
      />
      400km走ったあとでも200kmならペースを守れば完走は確実だと思っていた。<br />
      <br />
      <div>
        <iframe
          allowtransparency="true"
          frameborder="0"
          height="405"
          scrolling="no"
          src="https://www.strava.com/activities/2416444706/embed/47dd030ac6bc01096456aa7a07511eecc233b89b"
          width="590"></iframe>
      </div>
      <div>
        ペースを守るつもりでいたけど雄ノ山峠でとあるランドヌールに煽られてL5くらいの出力で走ってた。<br
        />
        FTPは220w程度だろうに220wで走ったりしてた。これのせいで140km地点から膝に痛みが出始める。<br
        />
        <br />
        315kmの距離を11時間で走れた最大の要因は片山さんとの出会いが大きい。<br
        />
        オダックス近畿の副代表でPBPの参加も控えていた。<br />
        <br />
        何より走りが強い。<br />
        PC1の田辺までは先頭交代に参加してたけどPC1のローソンの品揃えが良くなく思ったように補給を取れなかったことが原因で140km地点でハンガーノックに片足を突っ込んでしまう。PC2で補給をするも量が足りず300km地点までを完全なハンガーノック状態で片山さんの後ろをついて走るだけの幽霊みたいな状態になっていたが片山さんはペースを一切落とすことなくPC3通過後も同じペースで走り続けたそうな。<br
        />
        <br />
        強すぎる...<br />
        <br />
        流石にフラフラなのでPC3で休憩することにした。<br />
        PC３は民宿で、遅く到着すると他の参加者が雑魚寝していて野戦病院の様相を呈するらしいが何分一番乗りで他の参加者が来るまで2時間もあったため食事してゆっくり寝ることにした。<br
        />
        <br />
        結局目を閉じただけで眠ることはできなかったけどね<br />
        <br />
        <iframe
          allowtransparency="true"
          frameborder="0"
          height="405"
          scrolling="no"
          src="https://www.strava.com/activities/2416441926/embed/9ab9e8d256398645968a3764b0aca144c7ca2f5d"
          width="590"></iframe>
      </div>
      <div>
        目を閉じても眠れないまま広間の蚊と戦うだけの人になってしまっていたので休憩を切り上げて再出発することに。<br
        />
        どうもこの先自転車で走ると危険というか走行不可能区間があるとかで可能そうならほかの参加者とルートを確認しながら走りたいと思っていた。<br
        />
        <br />
        出発して1kmもしないうちに若いランドヌールと遭遇したので声をかけてご同道いただいた。<br
        />
        彼とはここ以降ゴールまで同道する事となったがブルベ挑戦2回目で600km走ってるやべぇ人だった。若いってすごい...
      </div>
      <br />
      尾鷲から伊勢までの山間部で鹿と並走したり蛇をひきそうになったりと多くのアクシデントはあったもののどうにか切り抜けることに成功。<br
      />
      <br />
      しかし伊勢神宮のあたりで眠気がピークに到達したためネカフェで寝ることに。1時間だけ寝ることにしたが目覚めたとき寒さと疲労と気づいてなかったけどハンガーノックから脱出できておらず、もし一人で参加していたら確実にリタイアしていただろうことは想像に難くない。一緒に走ってくれて本当に感謝🙏<br
      />
      <br />
      ハンガーノックで途中なんどか停車するも奈良の山道にコンビニなど見つかるはずもなくフラフラの状態で走っていたらなんとAコープが...<br
      />
      感謝とともにカレーをがっつく。身体に染み渡るお米の味...。今まで食った中でも最高級の美味しさだったぞ...<br
      />
      <br />
      ここで復活を遂げ次のPCでカップ麺を食べたりしてたら残り80kmのところまで来ていた。<br
      />
      ここまでくれば自転車が壊れない限り完走確定だということで精神的な余裕も出てくる。<br
      />
      途中雨も降り始め膝の痛みと戦いながら20km/hくらいの速度でなんとか通過チェックの下三毛に到着。<br
      />
      雄ノ山峠を超え感慨に浸りながら32時間40分でSRを確定させることに成功した。<br
      />
      <br />
      <br />
      ここから数日、膝の痛みが引かなかったので自転車にあまり乗れない日々が続いたものの自分の中に新しい目標が誕生した。<br
      />
      "FTPを300wにして次にこの600kmを走るときは24時間切りを達成する"<br />
      である。<br />
      <br />
      無謀にも程があるが膝の痛みが抜けた2週間後からこの目標に向けて行動を開始することとなった<br
      />
      <br />
      <a href="https://blog.great-distance.com/2019/11/2019_30.html"
        >後編へ続く</a
      >
    </div>
  </ArticleTemplate>
</Layout>
