---
import Layout from "../../layouts/Layout.astro";
import { ArticleTemplate } from "../../templates/ArticleTemplate";
const title = "GreatDistance Stage.17 レポート";
const category = "CYCLING";
const thumbnail = "/thumbnails/2019-09-23-GreatDistance Stage.17 レポート.jpg";
---

<Layout title={title}>
  <ArticleTemplate
    title={title}
    thumbnail={thumbnail}
    date={"2019-09-23"}
    category={category}
  >
    <iframe
      allowtransparency="true"
      frameborder="0"
      height="405"
      scrolling="no"
      src="https://www.strava.com/activities/2726362750/embed/38a3a0bc8193b5d1b0879540b35040ba29f82ba3"
      width="590"></iframe>

    <br />
    <br />
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEh4sg2y3lByuuUBL_N_dGWuWxZFfY3Fs855SytIYKOmn1p8lGlxOCng8f76OUJN_kLNomGHdLz9C30TN4jCGM7TPPuAsfEt46LaNHHQ_HpyqXns1wrBsX3Y-N3ZPRNMkvTTfjkzSClpKZY/s1600/MVIMG_20190921_125351.jpg"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                height="240"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEh4sg2y3lByuuUBL_N_dGWuWxZFfY3Fs855SytIYKOmn1p8lGlxOCng8f76OUJN_kLNomGHdLz9C30TN4jCGM7TPPuAsfEt46LaNHHQ_HpyqXns1wrBsX3Y-N3ZPRNMkvTTfjkzSClpKZY/s320/MVIMG_20190921_125351.jpg"
                width="320"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;">あの海岸も</td
          ></tr
        >
      </tbody>
    </table>
    <h3>
      <br />
    </h3>
    <h3>この日のコース</h3>
    <div>新清水から沼津までの50km + 沼津観光</div>
    <div>結論を書こう</div>
    <div>
      <b>感動したんだ本当に...</b>
    </div>
    <div>
      <b><br /></b>
    </div>
    <div>
      <br />
    </div>
    <h3>早寝早起き</h3>
    <div>前日は夜通し走っていたので21時には眠気意識が無く...</div>
    <div>おかげで翌日は6時には目が冷めた状態に。</div>
    <div>
      <br />
    </div>
    <div>
      距離的には2時間くらいで行けるのでゆっくりしようかと思ったんですが心が急いてしまって二度寝もできず宿を出る。
    </div>
    <div>
      <br />
    </div>
    <div>
      早めに出たので途中どこかで朝ごはんを食べるかなぁと思っていたのですが9時だとコンビニ以外はどこも営業やってない(´・ω・｀)
    </div>
    <div>
      <br />
    </div>
    <div>仕方ないので無補給で沼津へ向かうことに</div>
    <div>前日あれだけ補給が大事って思い知ったのに学習しないですね...</div>
    <div>
      <br />
    </div>
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhO4faAYnc3lh9BaqMAGszBDjj5c1IEKeSGQkn3BaxSgPmTEZvPnMlw8rJ2MMAPf2SknbOAK2Yf944oW0FBb87tBY1moTVpXXjqAAS2OoelTCk-PBF-gQvG_UD9fyOAoaNZ_GBctSo7qEA/s1600/IMG_20190921_083035.jpg"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                height="320"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhO4faAYnc3lh9BaqMAGszBDjj5c1IEKeSGQkn3BaxSgPmTEZvPnMlw8rJ2MMAPf2SknbOAK2Yf944oW0FBb87tBY1moTVpXXjqAAS2OoelTCk-PBF-gQvG_UD9fyOAoaNZ_GBctSo7qEA/s320/IMG_20190921_083035.jpg"
                width="240"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;">荷物デカすぎ</td
          ></tr
        >
      </tbody>
    </table>
    <h3>迫真自転車競技部。体幹ペダリングの裏技</h3>
    <div>走り出すと台風の影響でしっかり向かい風</div>
    <div>それと右膝が痛み始める。</div>
    <div>
      一晩寝ても治らなかったのかーなんて言いながら時速20kmペースでペダルを回し続ける
    </div>
    <div>
      <br />
    </div>
    <div>痛いものは痛いので出力も右と左で差が出てくる。</div>
    <div>大体右脚は20wくらい低い状態に...</div>
    <div>
      <br />
    </div>
    <div>ただこのときある考えが浮かぶ</div>
    <div>
      昨日の股擦れのときは痛くないポジションを探して実際に痛くないように走ることができた。
    </div>
    <div>なら膝が痛まないペダリングを探すこともまた可能なんじゃないか？と</div>
    <div>
      <br />
    </div>
    <div>そこで痛みが出ていない左膝と何が違うのか比べることに。</div>
    <div>
      脚の筋肉の声を聴くように脚に注意を向けてみると意外にも使っている筋肉に差があることを発見する！
    </div>
    <div>
      <br />
    </div>
    <div>
      どうやら左足は体幹をしっかり使ってペダルを引き上げていて踏むときはそのまま脚の重さでペダルを落とす。4時位の位置でハムストリングスを使ってペダルを巻いて体幹で引き上げるというペダリング。
    </div>
    <div>
      <br />
    </div>
    <div>
      対する右足は体幹と大腿四頭筋?4:6くらいの割合でペダルを引き上げていて大腿四頭筋を使ってペダルを踏み込んでを繰り返している。
    </div>
    <div>結果的に下死点で踏みすぎていてそれが膝に返ってきたようだ...</div>
    <div>膝を支点にしたペダリングとでも言うのだろうか...</div>
    <div>
      <br />
    </div>
    <div>
      右足が体幹主体でペダリングできてないことは2年くらい前から把握していて、どうしてそうなったのかわからないんですがなぜか左側の筋肉のほうが強いんですよね。
    </div>
    <div>
      <br />
    </div>
    <div>
      ただ9月に入ってしっかり体幹を鍛えていたので今なら右脚も体幹ペダリングができる！と判断。
    </div>
    <div>左の感覚を右脚でトレースして回してみる</div>
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgEo-MkOAk4l0Gyf06e0kKI52xxiDhWUWJ_NrRZpkDF5Sp07lhqQYVm3ew5wiC8_emVfseJXk9hOB3ZTc-r5AW9u8QErqJeSnV-sd-daRL1JYRPbNizfF7VSlFruiL4WMuK31NJHXudPtY/s1600/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-09-23+21.13.09.png"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                height="279"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgEo-MkOAk4l0Gyf06e0kKI52xxiDhWUWJ_NrRZpkDF5Sp07lhqQYVm3ew5wiC8_emVfseJXk9hOB3ZTc-r5AW9u8QErqJeSnV-sd-daRL1JYRPbNizfF7VSlFruiL4WMuK31NJHXudPtY/s320/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-09-23+21.13.09.png"
                width="320"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            >体幹ペダリングに成功！</td
          ></tr
        >
      </tbody>
    </table>
    <div>ペダリングが明らかに良くなった！</div>
    <div>
      ただ、このペダリングも意識をやめるとすぐに使えなくなってしまうので今後は無意識にできるように慣らしていこうと思います！
    </div>
    <div>
      <br />
    </div>
    <h3>富士ヒルクライムに出るぞ！</h3>
    <div>
      自分の脚で大阪から走ってきて、初めてガラス越しじゃなく自分の目で富士山を見たんですが大きさに圧倒されました。
    </div>
    <div>
      <br />
    </div>
    <div>そしてもう一つ、あの山で走りたいと思うようになったんです。</div>
    <div>
      <br />
    </div>
    <div>なので来年の富士ヒルクライムに出場しようかなって</div>
    <div>出場する限りはもちろんゴールド以上のタイムを狙っていきますよ！</div>
    <div>
      <br />
    </div>
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgLJ01mYdn2m0XLIZzl1WDZgOCuLcieY2AUZcuJJ4YUdfyY5KI9EttoJYMpSC1cW9vY2hwYENLJOAkmKHZMahz2p3-wC5kClX16m6lS2hdQ-0uaf2E3KiJyxK8XxKMTRRFXyG9NR5G_yI8/s1600/IMG_20190921_094618.jpg"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                height="320"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgLJ01mYdn2m0XLIZzl1WDZgOCuLcieY2AUZcuJJ4YUdfyY5KI9EttoJYMpSC1cW9vY2hwYENLJOAkmKHZMahz2p3-wC5kClX16m6lS2hdQ-0uaf2E3KiJyxK8XxKMTRRFXyG9NR5G_yI8/s320/IMG_20190921_094618.jpg"
                width="240"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            >雲に隠れてるけど富士山デカすぎ</td
          ></tr
        >
      </tbody>
    </table>
    <div>
      <br />
    </div>
    <h3>そして沼津へ</h3>
    <div>体幹ペダリングや富士山の大きさに圧倒されながら着実に近づく沼津。</div>
    <div>気がつけばいつの間にか沼津市に突入</div>
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgsLMKKr_Mt7vI1olKQJ9MhwwFTqMJXlwo0pis6sdo2HHOWCMR6uwYlAd-h3QFCIlJyTD_Bnez2xaUSlUrttEp4DXNaYCrjuuFlx4ONyysD0w31C6MpnZWnbfJUiDEjpAWswZa3X0VaOwE/s1600/IMG_20190921_102708.jpg"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                height="320"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgsLMKKr_Mt7vI1olKQJ9MhwwFTqMJXlwo0pis6sdo2HHOWCMR6uwYlAd-h3QFCIlJyTD_Bnez2xaUSlUrttEp4DXNaYCrjuuFlx4ONyysD0w31C6MpnZWnbfJUiDEjpAWswZa3X0VaOwE/s320/IMG_20190921_102708.jpg"
                width="240"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            >長かった旅もいよいよ大詰め</td
          ></tr
        >
      </tbody>
    </table>
    <div>
      あれた路側帯を駆け抜けて行くと見慣れた、本当に見慣れたアーケードが見えてくる。
    </div>
    <div>僕はあの商店街を知っている。</div>
    <div>
      <br />
    </div>
    <div>
      去年から何度も何度も見たあの<b>仲見世商店街</b>が見えてくる！
    </div>
    <div>
      <br />
    </div>
    <div>
      渾身のガッツポーズを決めながら仲見世商店街を走っているとチェーン落ちが！
    </div>
    <div>ここまでの420kmで初めてのメカトラ</div>
    <div>
      本当によくできたバイクですね。最後の100mまでトラブルを出さないなんて勲章ものですよ。
    </div>
    <div>
      <br />
    </div>
    <div>そしてチェーンを直して夢の世界で記念写真を</div>
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiMAmQ3k8c23VVqbK5TdXtTCJhKSV13iF3smiIM3PEmG2MBaaZxMkEbgWlRbYuwWB1E1sbhccLNZ1a9gUNdzD1PxLPnO40lNxdhDAiEJLKX7Zcyrn8xmLgTCGwnLbqP-INr1VEYufXjEz4/s1600/IMG_20190921_105817.jpg"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                height="240"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiMAmQ3k8c23VVqbK5TdXtTCJhKSV13iF3smiIM3PEmG2MBaaZxMkEbgWlRbYuwWB1E1sbhccLNZ1a9gUNdzD1PxLPnO40lNxdhDAiEJLKX7Zcyrn8xmLgTCGwnLbqP-INr1VEYufXjEz4/s320/IMG_20190921_105817.jpg"
                width="320"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            >Aqoursのメンバーと共に映るバイク。<br />
            誇らしげじゃない？</td
          ></tr
        >
      </tbody>
    </table>
    <div></div>
    <div>感動したなぁ...</div>
    <div>
      <br />
    </div>
    <div>
      何度も何度もガッツポーズを決めながら沼津駅に行くと、前職の先輩がこんな粋なものを作って待っていてくださっていた
    </div>
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEj_Zhqa4U7aErI3-G0MOTJC70NFs0FHp-SIdJ0U_yUBQTZeor53EJ__Q-sted4zHxcam2wzFKL06pIq_P9S18gPNS3rRkM8JhUfFVe2s6UlnLQbnFENWtDtTbOJ20oOwKTSWYI1hhzQ1-Y/s1600/IMG_20190923_184514.jpg"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                height="221"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEj_Zhqa4U7aErI3-G0MOTJC70NFs0FHp-SIdJ0U_yUBQTZeor53EJ__Q-sted4zHxcam2wzFKL06pIq_P9S18gPNS3rRkM8JhUfFVe2s6UlnLQbnFENWtDtTbOJ20oOwKTSWYI1hhzQ1-Y/s320/IMG_20190923_184514.jpg"
                width="320"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            >SR取ったときくらい嬉しかったのでパレードランした</td
          ></tr
        >
      </tbody>
    </table>
    <div>
      <br />
      <h3>Aqoursの世界を走る</h3>
      <h3>
        <iframe
          allowtransparency="true"
          frameborder="0"
          height="405"
          scrolling="no"
          src="https://www.strava.com/activities/2726627029/embed/1d3aecd1907fce53e85f2d390c33a7ca155ad6f7"
          width="590"></iframe>
      </h3>
    </div>
    沼津バーガーで朝ごはんとしたあとはラブライブサンシャインの舞台となった沼津の街を愛車とともに走りまくる<br
    />
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhndlFywFdIWtXPQy-_COgz37Cp1BlhjsVeqwzRa6EhfsxSF8z69pKOtu3S0S3Fxx09dPZIqgiszWmF0t49dKgRgC16LiKY4xT79htGlUVQaPIK42TcdmvJO7fZFGgoqJnIO4jrDAvD_QU/s1600/MVIMG_20190921_113214.jpg"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                height="240"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhndlFywFdIWtXPQy-_COgz37Cp1BlhjsVeqwzRa6EhfsxSF8z69pKOtu3S0S3Fxx09dPZIqgiszWmF0t49dKgRgC16LiKY4xT79htGlUVQaPIK42TcdmvJO7fZFGgoqJnIO4jrDAvD_QU/s320/MVIMG_20190921_113214.jpg"
                width="320"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            >疲れた身体にしみる</td
          ></tr
        >
      </tbody>
    </table>
    <br />これが楽しい。<br />
    5kmも行かないうちにすぐに作品に登場した風景が出てくる<br />
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjPMFBN8IIsId7D0542ttRDCUEu6R0pqnhyg4cI71UtZOGfQ3tHhRYx5x588BOT356UJOaFoiNID2UJqNfh04B4Q-7P0VAN9h5QJPEiTQCGl4i810dj3tSw-4j6IQqM-rcT1uSF_ycmfXw/s1600/MVIMG_20190921_131441.jpg"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                height="240"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjPMFBN8IIsId7D0542ttRDCUEu6R0pqnhyg4cI71UtZOGfQ3tHhRYx5x588BOT356UJOaFoiNID2UJqNfh04B4Q-7P0VAN9h5QJPEiTQCGl4i810dj3tSw-4j6IQqM-rcT1uSF_ycmfXw/s320/MVIMG_20190921_131441.jpg"
                width="320"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            >シャイニーズッコケ石の前で</td
          ></tr
        >
      </tbody>
    </table>
    この日、沼津まで走れるようになるために9月の走り込みがあったのだと思うと感慨深い...<br
    />
    <br />
    <h3>終わりに</h3>
    <div>
      もうGreatDistance完走！みたいな雰囲気になってますがまだ4ステージ残ってるので最後600km以上走って21日で3000km以上走る目標を達成しちゃいたいと思います！
    </div>
    <div>
      <br />
    </div>
    <div>ただ沼津という場所が本当に良くて...</div>
    <div>いつか住みたい</div>
    <div>
      <br />
    </div>
    <h4>Special Thanks</h4>
    <div>沼津ライドを提案して下さったじゅりあん先輩ありがとうございます🙏</div>
    <div>
      <br />
    </div>
    <div>
      <br />
    </div>
    <h3>明日のコース</h3>
    <div>
      最後の600kmをどうこなすか考えてまた和歌山に戻るとかやるのかもしれませんがまだ未定です
    </div><div><br /></div><div>
      <a
        href="https://blog.great-distance.com/2019/09/greatdistance-stage18.html"
        >18日目のレポート</a
      >
    </div>
  </ArticleTemplate>
</Layout>
