---
import Layout from "../../layouts/Layout.astro";
import { ArticleTemplate } from "../../templates/ArticleTemplate";
const title = "GreatDistance 第一週目の振り返り";
const category = "CYCLING";
const thumbnail = "/thumbnails/2019-09-06-GreatDistance 第一週目の振り返り.jpg";
---


    <h3>一周目を振り返って</h3>
    <br />
    正直なところ3日目くらいで何かしらの理由をつけてやらなくなると思ってましたw<br
    />
    <br />
    そうでなくても朝起きられないとか風邪引くとか何かしらのアクシデントが起きると思っていました。<br
    />
    <br />
    実際Stage.6以降とにかく眠くて本当に辛かったし登攀しても踏めないし...<br />
    <br />
    続いた理由は今後なにかに挑戦するときにきっと役に立つと思うので分析しておきたいと思います<br
    />
    <br />
    <h3>ここまで続いた理由</h3>
    <ol>
      <li>勝ちたいレースがある</li>
      <li>良い結果が出ている</li>
      <li>みんなにやるって言っちゃった</li>
    </ol>
    <div>だいたいこんなところでしょうか</div>
    <div>一つづつ見ていこうと思います</div>
    <div>
      <br />
    </div>
    <h4>勝ちたいレースがある</h4>
    <div>
      来年の<b>白浜エアポートクリテリウム</b>と<b>熊野古道ヒルクライム</b>
    </div>
    <div>
      <br />
    </div>
    <div>
      この２つのレースは絶対に結果を残したいと常々言っていてなんなら白浜エアポートクリテリウムは来年絶対優勝すると宣言してしまっているのでいよいよあとに引けなくなってますw
    </div>
    <div>
      <br />
    </div>
    <div>
      白浜クリテは挑戦初年が3位、翌年5位、前年5位でなんか微妙なところで足が終わってるので勝負に残るためにはレース後半まで出力を維持できることが大前提なんですよね。
    </div>
    <div>たった10kmなのに残れないなんてなぁ...</div>
    <div>
      <br />
    </div>
    <div>
      体力や出力の面ではこの挑戦ですでに必要十分以上の戦闘力を獲得できている気がするのですが不確定要素は少しでも減らしたいのでもっとトレーニングが必要だ
    </div>
    <div>
      <br />
    </div>
    <div>
      <div>ちなみに熊野古道ヒルクライムは入賞が目標ですね</div>
      <div>
        <br />
      </div>
      <h4>良い結果が出ている</h4>
    </div>
    <div>
      これはモチベーション維持に非常に大きく貢献しているなぁと思います。
    </div>
    <div>
      <br />
    </div>
    <div>
      やってもやっても速くなれないだと次第に練習から遠のきそうだけどStravaやTrainingPeaks、ペダモニを使ってログを数値で振り返ることで小さい変化からでも成長を実感できているのは大きい。
    </div>
    <div>
      <br />
    </div>
    <div>
      この先乗り込んでいく中で例えばFTP打ち止めという状態になることは十分考えられるのですがそれでも距離を伸ばすとかペダリング効率を高めるとかマイルストーンを置き続けられる限り結果は出せるはずなのでそういう意味でモチベーションの維持が簡単になっているのは非常に良いなと思います
    </div>
    <div>
      <br />
    </div>
    <h4>みんなにやるって言っちゃった</h4>
    <div>これはそのままですね。背水の陣ってやつですよ</div>
    <div>
      <br />
    </div>
    <div>
      <br />
    </div>
    <div>
      <h3>改善したいこと</h3>
    </div>
    <div>
      週の後半はトレーニング強度がどんどん下がってきて距離も短くなっていった。
    </div>
    <div>
      <br />
    </div>
    <div>
      疲労の回復より蓄積のほうがペースが早いのでそうならざるを得ないのはよく分かるんですが質の高いトレーニングができてなかったのは要改善ですね。
    </div>
    <div>
      <br />
    </div>
    <div>実際5日目までの質は高かったと思うしたしかな成長があったと思う</div>
    <div>
      <br />
    </div>
    <div>
      疲労と質の問題はCTLが向上することで回復力が高まると考えられるので経過観察と行きたい
    </div>
    <div>
      <table
        align="center"
        cellpadding="0"
        cellspacing="0"
        class="tr-caption-container"
        style="margin-left: auto; margin-right: auto; text-align: center;"
      >
        <tbody>
          <tr
            ><td style="text-align: center;"
              ><a
                href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgciVPSECNiWdNUXBzs2i4XBeKpFoEpcP_MIHgpAnTyvKwYU9xSFT12La9Jx8ImSMZtTu_TyVHcJeUEs3509QJbJ5QquHBd0OHVQraxmCsOuiG2wcJm5QXoOABovzNB6v79PQNyltBLYV8/s1600/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-09-09+8.20.22.png"
                style="margin-left: auto; margin-right: auto;"
                ><img
                  border="0"
                  src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgciVPSECNiWdNUXBzs2i4XBeKpFoEpcP_MIHgpAnTyvKwYU9xSFT12La9Jx8ImSMZtTu_TyVHcJeUEs3509QJbJ5QquHBd0OHVQraxmCsOuiG2wcJm5QXoOABovzNB6v79PQNyltBLYV8/s400/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-09-09+8.20.22.png"
                /></a
              ></td
            ></tr
          >
          <tr
            ><td class="tr-caption" style="text-align: center;"
              >CTL100には確かに壁がある<br
              />越えたり落ちたりを繰り返している</td
            ></tr
          >
        </tbody>
      </table>
      <br />
      <br />
      <h3>2週目に挑戦したいこと</h3>
      1周目は170km以上の距離を走ることに使ったので2週目は100km ~ 130km前後で登攀多めのコースを走ろうと思う。<br
      />
      <br />
      距離を短くしてトレーニングを早めに切り上げてしっかりプログラムを書こうという熱い思いもある<br
      />
      <br />
    </div><div><br /></div><div>
      <a
        href="https://blog.great-distance.com/2019/09/greatdistance-stage8.html"
        >8日目のレポートはこちら</a>
    </div>
  

</ArticleTemplate></Layout>