---
import Layout from "../../layouts/Layout.astro";
import { ArticleTemplate } from "../../templates/ArticleTemplate";
const title = "GreatDistance Stage.11 レポート";
const category = "CYCLING";
const thumbnail = "/thumbnails/2019-09-12-GreatDistance Stage.11 レポート.jpg";
---


    <iframe
      allowtransparency="true"
      frameborder="0"
      height="405"
      scrolling="no"
      src="https://www.strava.com/activities/2700927052/embed/04f618550c467dccaf496a20191d1974570cdaa1"
      width="590"></iframe>

    <br />
    <br />
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjHjoVv7osMPrazyY_zP9m8xj_T0wEcF6q8N-5WfFoOVEdOsJf3jL5dLQ9dhrOE6Y1l9Cw75v3NrCKXJcZ32g3863oP68PE4FuJiugG6n7ArGSHZc5xwTFRszo3zCylzxBw74HjaSujTcA/s1600/IMG_20190912_083142.jpg"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                height="240"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjHjoVv7osMPrazyY_zP9m8xj_T0wEcF6q8N-5WfFoOVEdOsJf3jL5dLQ9dhrOE6Y1l9Cw75v3NrCKXJcZ32g3863oP68PE4FuJiugG6n7ArGSHZc5xwTFRszo3zCylzxBw74HjaSujTcA/s320/IMG_20190912_083142.jpg"
                width="320"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            >本州最南端のモニュメントの前<br />
            芝生乗り入れ禁止なのでバイク担いで来た</td
          ></tr
        >
      </tbody>
    </table>
    <h3>
      <br />今日のコース
    </h3>
    今日は白浜 ~ 串本 ~ 白浜の往復145kmのコース<br />
    <br />
    本州最南端の潮岬に初めて乗り込むコースですが帰り道のアップダウンが辛いコース...<br
    />
    <br />
    <br />
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjOTdrIw4sH5-TGPpFL-bBZg365rE_PZhWYkfp6iq5x0AbRwTFswd0z_rIaVaOLgkg2iRnnYeV55LYhyphenhyphenxFNLfKJqNMmuBEz76HNNSxZVuVyUSZ3cT65SijNSIr00jiflVVRe_1e2X5pXso/s1600/PANO_20190912_083331.vr.jpg"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                height="93"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjOTdrIw4sH5-TGPpFL-bBZg365rE_PZhWYkfp6iq5x0AbRwTFswd0z_rIaVaOLgkg2iRnnYeV55LYhyphenhyphenxFNLfKJqNMmuBEz76HNNSxZVuVyUSZ3cT65SijNSIr00jiflVVRe_1e2X5pXso/s320/PANO_20190912_083331.vr.jpg"
                width="320"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;">見渡す限り海</td
          ></tr
        >
      </tbody>
    </table>
    <br />
    <h3>ダンシング、ダンシング、ダンシング!</h3>
    <br />
    今週はダンシング強化週間ということで、いつものとおりに出てきた登りは全部ダンシング<br
    />
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiwmn1IoBp_ZWUxQKtaRcgPsM8qFMsCCg6oF_V-YTK8Ody0akMXJQu3Zp2KEFsR8JX0V5pf2ve-q0lk1Y87baJNDYG_Gs2UX_dEuz3UuDgHa398ATshe7CARJmANcVeIiH_YktFfCG8XWs/s1600/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-09-12+15.11.41.png"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiwmn1IoBp_ZWUxQKtaRcgPsM8qFMsCCg6oF_V-YTK8Ody0akMXJQu3Zp2KEFsR8JX0V5pf2ve-q0lk1Y87baJNDYG_Gs2UX_dEuz3UuDgHa398ATshe7CARJmANcVeIiH_YktFfCG8XWs/s400/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-09-12+15.11.41.png"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            >半分くらいはサドルにいないな🤔</td
          ></tr
        >
      </tbody>
    </table>
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEi-32LIgEU2oQ1yNInoebk8hc-896YQMm-LFpYKRBF0qHTI6z7ta-RElPgkxbvt-_RoPFLgABo7xEsot-MCKUu34iAqI6CV3QMhwVuW7c2Wjrj9e-rEg5nUeXt12zieIPOqOYPRJEGtPGU/s1600/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-09-12+15.13.05.png"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                height="231"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEi-32LIgEU2oQ1yNInoebk8hc-896YQMm-LFpYKRBF0qHTI6z7ta-RElPgkxbvt-_RoPFLgABo7xEsot-MCKUu34iAqI6CV3QMhwVuW7c2Wjrj9e-rEg5nUeXt12zieIPOqOYPRJEGtPGU/s320/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-09-12+15.13.05.png"
                width="320"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            >ダンシングのあるところに登りあり<br />
            これ見るだけで海岸沿いがどれだけギザギザしてるか想像できる</td
          ></tr
        >
      </tbody>
    </table>
    <br />
    海岸沿いはアップダウンの宝庫なのでダンシング試したい放題でもある<br />
    <br />
    未来の自分が忘れてしまわないように身体の使い方を書いておくと📝<br />
    <br />
    <br />
    <ol>
      <li>自分が思ってるよりもかなり中腰にする</li>
      <li>背中を反る</li>
      <li>脚は曲げた状態(伸ばすのはNG)で体重でペダルを落とす</li>
      <li>腿上げを意識する</li>
      <li>足首はまっすぐ下向きに</li>
      <li>こんなに軽くていいんですか？って思うギアをcad70で回す</li>
    </ol>
    <br />
    <br />
    今日試した限りではこれが一番出力が高くて長時間継続できた<br />
    <br />
    出力が高いことと速度が出ていることが必ずしもイコールにならない可能性はあるが参考にはなる<br
    />
    <br />
    こうなってくると尻でペダルを踏めるようにはなる<br />
    <br />
    難しいのは登りきって大腿四頭筋にスイッチするときに著しく出力が減衰してしまい再加速が難しいこと...<br
    />
    <br />
    この減少が発生する理由を考察すると<br />
    <br />
    <br />
    <ol>
      <li>ダンシングで背筋を使う</li>
      <li>姿勢維持に少なからず大腿四頭筋を使う</li>
      <li>大殿筋をおもいっきり使う</li>
    </ol>
    <br />
    <br />
    多分この辺の理由で大腿四頭筋の使用率は下がっているけどそれなりに疲労していて再加速に十分な力を回せていないのが原因と考えられる<br
    />
    もしかしたらギアが重いだけという可能性もある...<br />
    <br />
    あ！ギアが重いのか！<br />
    <br />
    そういえばストップアンドゴーのときはダンシングで加速してたわ！<br />
    <br />
    <br />
    一応この辺は経過観察して仮説の裏付けするけどギアを軽くすれば解決する可能性がありそう<br
    />
    <br />
    <br />
    <h3>ダンシング、燃費悪すぎ</h3>
    <div>
      仕方ないんですけどね、いくら体重を使って踏むって言っても全身運動ですし出力もソリアに近いくらいまで上がるわけですし、
    </div>
    <div>
      <br />
    </div>
    <div>グリコーゲンの使用率は否が応でも高まってしまう...</div>
    <div>
      <br />
    </div>
    <div>
      それでも120kmまではどうにか手持ちのカロリーだけで走っていたんですがどうしても力が入らなくなってコンビニへ...
    </div>
    <div>
      <br />
    </div>
    <div>ふと、目についたブラックサンダーを手に取る</div>
    <div>
      <br />
    </div>
    <div>1個32円、112kcal</div>
    <div>
      <br />
    </div>
    <div>安！カロリー高！コスパ良すぎぃ！</div>
    <div>ということで3個購入</div>
    <div>
      <br />
    </div>
    <div>ブラックサンダー美味しすぎる！</div>
    <div>
      冬場のブルベとかロングライドのお供にガンガン使っていこうと思ったのでした
    </div>
    <div>
      <br />
    </div>
    <div>
      <br />
    </div>
    <div>
      でも力が入らなくなってからもそれなりの速度で走れてるのは今日までのトレーニングで心拍に対して出力が上がったからなのでそこは大いに評価したいしそもそも120kmも水以外無補給で走れてるのは先月からすればイレギュラーな進化なのでもっと評価されたい
    </div>
    <div>
      <br />
      <br />
      <h3>定期的に訪れるOltre欲しい気持ち</h3>
    </div>
    <div>欲しい...</div>
    <div>でも買ったらTarmacどうすんだってなるしなぁ...</div>
    <div>
      <br />
    </div>
    <div>
      <h3>明日のコース</h3>
    </div>
    <div>
      <br />
    </div>
    <div>いよいよ走るところがなくなってきたのでドウスッペ...</div><div>
      <br />
    </div><div><br /></div><div>
      <a
        href="https://blog.great-distance.com/2019/09/greatdistance-stage12.html"
        >12日目のレポートはこちら！</a>
    </div>
  

</ArticleTemplate></Layout>