---
import Layout from "../../layouts/Layout.astro";
import { ArticleTemplate } from "../../templates/ArticleTemplate";
const title = "2019年シーズンの振り返り(後半)";
const category = "CYCLING";
const thumbnail = "/thumbnails/2019-11-30-2019年シーズンの振り返り(後半).jpg";
---

<Layout title={title}>
  <ArticleTemplate
    title={title}
    thumbnail={thumbnail}
    date={"2019-11-30"}
    category={category}
  >
    <div>2019年の振り返り後編書いていくよー</div>
    &gt;&gt;<a href="https://blog.great-distance.com/2019/11/2019.html"
      >前半はこっち</a
    ><br />
    <h3>6月後半 ~ 8月の終わりまで</h3>
    <iframe
      allowtransparency="true"
      frameborder="0"
      height="405"
      scrolling="no"
      src="https://www.strava.com/activities/2568794303/embed/b2c1b681a4f1f1b1aebc09a3e850abfb91f56120"
      width="590"></iframe><br />
    この期間はレースやブルベには参加していない。<br />
    <br />
    というか暑くてそれどころじゃないと思ったんだけど...<br />
    <br />
    とは言いつつ前職の先輩と琵琶湖を2/3周したりとかしていた。<br />
    琵琶湖のすごいところは信号が少なすぎて時速20kmで走ると本当に1時間後に20km先についてることですよ。<br
    />
    <br />
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEi23Bk-dUVD1bn2U1ksReyDNRzOGDkCHuAnG6szbrv5h-t_bmyuudf1VXcosNEaKowIqJQYR7wbIyQWwKzCNNfkz4leMgNlun_9HTr18nw06cNi7mKkXDPyLVnXy87LcbhTqcXxFiD0_Ck/s1600/IMG_20190728_130953.jpg"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                data-original-height="1200"
                data-original-width="1600"
                height="240"
                src="/images/articles/2019-11-30-2019年シーズンの振り返り(後半)/image-817.jpg"
                width="320"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            >近江牛バーガーですが美味すぎて震えた</td
          ></tr
        >
      </tbody>
    </table>
    暑くてライドどころじゃないと言いながら月間走行距離が1000kmを下回ることはなかった。<br
    />
    ブログを始めるきっかけとなった3000km走行チャレンジをするにあたって距離に耐えられる身体を作る必要があったので頑張ってたわけですね。<br
    />
    <br />
    ちなみにこの期間のCTLは75 ~ 85前後。<br />
    平日は殆ど乗らずに休日に距離を稼ぐという方法で1000km走っていたため平日は70台まで下がって週末に激増するというのを繰り返していた。<br
    />
    <br />
    そして8月が終わり暑さが少し和らいだところで...<br />
    <br />
    <h3>9月</h3>
    この辺からブログを書き始めたので日々の記事がいっぱい出てくる<br />
    <br />
    自転車人生でもっとも楽しい1ヶ月やった。<br />
    どれも印象に残ってることだけど一番深く刻まれた記憶は沼津ライドですね<br />
    <br />
    <br />
    たった35kmですがこの35kmにたどり着くために9月があったんじゃないかと思うくらい楽しいライドだった...<br
    />
    また沼津行きたいわぁ...<br />
    <a
      href="https://blog.great-distance.com/2019/09/greatdistancechallange.html"
      >3000kmチャレンジ(GreatDistance)についてのまとめはここ</a
    ><br />
    <br />
    <h3>10月</h3>
    ９月に急成長したFTPやらライドスキルやらを試しつつ11月の熊野古道HCに向けて徐々に強度を落としていった。<br
    />
    一番記憶に残っているのは淡路島中央山脈を走るGranfondExtraStageですね<br />
    <br />
    <iframe
      allowtransparency="true"
      frameborder="0"
      height="405"
      scrolling="no"
      src="https://www.strava.com/activities/2766654758/embed/149e56d5d68bcee46c0dbc78ba423012561fcffb"
      width="590"></iframe>

    知ってますか？淡路島って真ん中に山が走ってるんですよ...<br />
    しかもほとんど人が入らないので道は荒れ放題、激坂(Max25%)<br />
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjglu4CgSe-Z82fspvAl0otfHO7ck5Sxy19-B6LWQYJJelGYuN5eHn7fWSzITzXLhv6kGLspT7kE0_TwyKTM5IWN-tQDoffEnfnivVkS1YOO5Cg0hdZfiU1FEhes2376mD_0iGeKI09rEM/s1600/b2_9S-axv24Ond-cqgxOvEZRZgqk14v3TSwD5QQR190-2048x1536.jpg"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                data-original-height="1200"
                data-original-width="1600"
                height="240"
                src="/images/articles/2019-11-30-2019年シーズンの振り返り(後半)/image-698.jpg"
                width="320"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            >何だこの道は...(実は22%くらいの坂(壁?))</td
          ></tr
        >
      </tbody>
    </table>
    200kmなんてなんのことは無いと思っていましたが地獄でしたよ...<br />
    しかもこのコース2020年のブルベのコースの一部なんですよね<br />
    <br />
    走ったときは二度と走らん！って思ったんですが日が経つとまた走りたいなぁと思っているので多分1/11はエントリーですねぇ<br
    />
    <br />
    雨がふらなければ出走すると思いますよ！<br />
    <br />
    <h3>11月</h3>
    <div>
      <iframe
        allowtransparency="true"
        frameborder="0"
        height="405"
        scrolling="no"
        src="https://www.strava.com/activities/2836816080/embed/277e52dacc589be438c6584c0b3a2993d31fee7d"
        width="590"></iframe>

      <br />
      <br />
      この1年の集大成と位置づけたHCだったので年代別7位、総合23位はとても嬉しい<br
      />
      ようやくここまできましたか！って感じですね<br />
      <a href="https://blog.great-distance.com/2019/11/blog-post.html"
        >熊野古道HCのレポートはここ</a
      ><br />
      <br />
    </div>
    <iframe
      allowtransparency="true"
      frameborder="0"
      height="405"
      scrolling="no"
      src="https://www.strava.com/activities/2884293535/embed/8a5c78f4abc6db096c0e2f3e04c9e05b6b1f2de2"
      width="590"></iframe><br />
    しかし年始に立てた表彰台に上がるという目標が未だ達せられていない...<br />
    <br />
    エントリーしたことすら忘れていた堺浜クリテですが結果は4位...<br />
    <br />
    あと一歩表彰台に届かないという歯がゆさはあるものの表彰式には出られたので良しとするか！<br
    />
    <a href="https://blog.great-distance.com/2019/11/1_24.html"
      >堺浜クリテのレポート</a
    ><br />
    <br />
    <br />
    <h3>さいごに</h3>
    <div>
      今日、お世話になっているラビットストリートさんの忘年会に出席の予定なのでいよいよ今シーズンが終わるという実感が出てきますねぇ
    </div>
    <br />
    終わりよければ全て良しで9月からが楽しすぎたので来年の白浜クリテの優勝に向けて徐々に身体をクリテモードに仕上げていこうとおもいます<br
    />
    <br />
    読んでくださって感謝です🙏
  </ArticleTemplate>
</Layout>
