---
import Layout from "../../layouts/Layout.astro";
import { ArticleTemplate } from "../../templates/ArticleTemplate";
const title = "出場予定のレース・イベント(2020)";
const category = "CYCLING";
const thumbnail = "/thumbnails/2019-11-23-出場予定のレース・イベント(2020).jpg";
---

<Layout title={title}>
  <ArticleTemplate
    title={title}
    thumbnail={thumbnail}
    date={"2019-11-23"}
    category={category}
  >
    2019年シーズンも終わったらしいのでここらで一発2020年に参加予定のレース・イベントについてまとめておこうと思います。<br
    />
    <br />
    日程などは未発表なものが多いので日程が分かり次第随時更新していこうと思います!<br
    />
    ただ、田舎のレースやイベントなんかは確実に開催されるかわからないので未開催となった場合は...<br
    />
    <br />
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiABYhMMpVYT2NF2663t-_XKmQfrIkIZvFt1WpFmoWlX-v2HnW82VsdLeby_LJZY4hbAHivcwvDEW4cLivUZmh54Ga-7jnvsHCI5glmkuhQNpPqpsnvcOecVOgGg0H_2rSu_V2Wm-dZEP0/s1600/IMG_0428.JPG"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                data-original-height="1200"
                data-original-width="1600"
                height="480"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiABYhMMpVYT2NF2663t-_XKmQfrIkIZvFt1WpFmoWlX-v2HnW82VsdLeby_LJZY4hbAHivcwvDEW4cLivUZmh54Ga-7jnvsHCI5glmkuhQNpPqpsnvcOecVOgGg0H_2rSu_V2Wm-dZEP0/s640/IMG_0428.JPG"
                width="640"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            >2017年、偶然が重なって表彰台に登ったときのやつ</td
          ></tr
        >
      </tbody>
    </table>
    <h3>
      <br />
      参戦予定のレース一覧
    </h3>
    <h4>白浜エアポートクリテリウム</h4>
    <div>
      <a href="https://nspk.net/criterium/">https://nspk.net/criterium/</a
      >&nbsp;
    </div>
    <div>
      このレースで優勝するために<b>GreatDistanceChallange</b
      >をやっていたと言っても過言ではない。
    </div>
    <div>地元の(本当にそのあたりで育った)レースなのでやはり一勝したい</div>
    <div>
      <br />
    </div>
    <div>初挑戦の2017年</div>
    <div>
      <ul>
        <li>2017年 - 辛くも3位を獲得</li>
        <li>2018年 - スプリントについていけず5位</li>
        <li>2019年 - 逃げに乗れず5位</li>
      </ul>
      <div>というリザルト</div>
    </div>
    <div>
      2017年はロードバイク初めて6ヶ月しか経過してなかったにしては良いリザルトだったけどその後の2年はトレーニング不足での参戦なので不甲斐ない結果は仕方ない。
    </div>
    <div>
      だからこそ2020年はどんなアクシデントが起こっても絶対に優勝すると誓ったレース。
    </div>
    <div>
      春を告げるクリテリウムだと勝手に言い張っている(ミラノサンレモと開催日が近いから)
    </div>
    <div>
      <br />
    </div>
    <h4>伊吹山ドライブウェイヒルクライム</h4>
    <div>
      <a href="https://www.jbcf.or.jp/races/20190414_id=20853"
        >https://www.jbcf.or.jp/races/20190414_id=20853</a
      >
    </div>
    <div>ヒルクライムレースとしては比較的年始に開催されるレース</div>
    <div>
      とりわけ思い入れがあるわけでもないが毎年彦根近辺に一泊して当日に関ケ原まで移動して参戦する流れが気に入っているので参加予定。
    </div>
    <div>
      <br />
    </div>
    <div>
      てるてる坊主(晴れ男)の僕にしては珍しく毎年必ず雨が降るためレインウェアを使う数少ないチャンスでもある。
    </div>
    <div>
      <br />
    </div>
    <div>2020年の目標は年代別での表彰台確保</div>
    <div>
      毎年寒いので<b>ワセリン</b>を忘れないようにしたいところ
    </div>
    <div>
      <br />
    </div>
    <h4>吉野大峯ヒルクライム(参加するかは確定ではない)</h4>
    <div>
      <a href="https://www.fa-bu.com/fabu/omine_hc.html"
        >https://www.fa-bu.com/fabu/omine_hc.html</a
      >
    </div>
    <div>過去に一度だけ出場したレース。</div>
    <div>
      17kmの登坂の際にアウターだけで登り切るというパワープレイをした懐かしいコース。
    </div>
    <div>
      最後の1kmが緩斜面のため羽ばたくためにはゴール2km前から振り絞る必要がある。
    </div>
    <div>
      観光するところがあるわけでもないし登るだけって感じで面白かった記憶もないので参加しないかもしれないけど一応...<br
      />
      もしかしたらブルベに出てるかもしれんけどな！
    </div>
    <div>
      <br />
    </div>
    <h4>Mt.富士ヒルクライム</h4>
    <div>
      <a href="https://www.fujihc.jp/">https://www.fujihc.jp/</a>
    </div>
    <div>
      沼津ライドのときに見た富士山の大きさに圧倒され2020年は必ずエントリーしようと誓ったレース。
    </div>
    <div>
      初出場になるがゴールドかあわよくばゴールドでのゴールを狙う(要FTP300w)
    </div>
    <div>
      <br />
    </div>
    <div>
      <b>レース前に沼津で一泊してレース後も沼津で一泊する予定(大事)</b>
    </div>
    <div>
      <b><br /></b>
    </div>
    <div>
      問題はこの1週間前におそらく泉佐野600kmのブルベが開催されるため体調を万全の状態に持っていけるかわからないというところ<br
      />
      でも有給が取れたら自走で行くのもありかもしれないな！
    </div>
    <div>
      <br />
    </div>
    <h4>ニセコクラシック</h4>
    <div>
      <a href="https://nisekoclassic.com/">https://nisekoclassic.com/</a>
    </div>
    <div>
      グランフォンド世界選手権出場を目標に掲げてるので2020年は雰囲気を味わうために出場してみようということで予定に追加
    </div>
    <div>
      オリンピックの関係で開催が6月中となったためもしかしたら参加できないかもしれない(遠征費の問題)が参加と言うことになれば6月は毎週遠征という過酷なスケジュールになりそうだ
    </div>
    <div>
      <br />
    </div>
    <h4>伊豆スカイライン国際ヒルクライム</h4>
    <div>
      <a href="https://izu-hillclimb.info/">https://izu-hillclimb.info/</a>
    </div>
    <div>
      2019年は残念ながら開催されなかったが2020年には開催されるかもしれない(期待)
    </div>
    <div>
      伊豆スカイラインは沼津から近いため沼津旅行のついでに出場したいところ
    </div>
    <div>
      <b>開催されてほしいと心から願っている🙏</b>
    </div>
    <div>
      <b><br /></b>
    </div>
    <h4>熊野古道ヒルクライム</h4>
    <div>
      <a href="https://nspk.net/kumanokodo/">https://nspk.net/kumanokodo/</a>
    </div>
    <div>ロードバイクを購入して初めて出場したレースがこれ。</div>
    <div>
      和歌山開催ということもあり非常に思い入れがあるレース。<br />
      今年は3000km走ったおかげで年代別7位、総合23位でゴールできた。<br />
      もちろん来年の目標は表彰台である。それも一番上の<br />
      <br />
      <br />
    </div>
    <div>ツール・ド・おきなわ</div>
    <div>
      <a href="http://www.tour-de-okinawa.jp/">http://www.tour-de-okinawa.jp/</a
      >
    </div>
    <div>参加種目は140kmの予定</div>
    <div>
      飛行機輪行になれることと2021年に向けた本格的なロードレース慣れのために出場予定
    </div>
    <div>遠征多くないですかね？🤔</div>
    <div>
      <br />
    </div>
    <h3>参戦予定のイベント一覧</h3>
    <h4>ブルベ(オダックス近畿)</h4>
    <div>
      <a href="https://audax-kinki.com/">https://audax-kinki.com/</a>
    </div>
    <div>2020年もSRを獲得するために走る。</div>
    <div>
      目標は泉佐野600をカタヤマさんと先頭交代しながら24時間でゴールすること
    </div>
    <div>それとグランフォンド神戸シリーズに参戦する予定</div>
    <div>
      レースイベントと日程が重ならない限りはグランフォンド神戸には積極的に参加して身体を仕上げるつもり
    </div>
    <div>
      <br />
    </div>
    <h4>ブルベ(内浦)</h4>
    <div>
      <a href="https://ajtamagawa.org/2019brm/2019brm1012/"
        >https://ajtamagawa.org/2019brm/2019brm1012/</a
      >
    </div>
    <div>2019年は諦めたが2020年に開催されるなら必ず出場する予定のコース</div>
    <div>
      スタート地点が内浦でAqoursが劇中で辿ったコース(函館は含まない)を通るコースなのだから俄然やる気になる
    </div>
    <div>完走後は有給を取得し沼津を観光するつもり</div>
    <div>2020年は一体何度沼津に行くつもりなのだろうか?🤔</div>
    <div>
      <br />
    </div>
    <h4>山岳グランフォンドin吉野</h4>
    <div>
      <a href="https://www.nara-cycling.org/granfondo/"
        >https://www.nara-cycling.org/granfondo/</a
      >
    </div>
    <div>山登りは嫌だったのですが実は8月くらいに急に出てみたくなった。</div>
    <div>今は山を走るの好きなので大歓迎</div>
    <div>
      単純なロングライドイベントって出たことがないのでエイドステーションでご飯を食べるのが楽しみだったりする
    </div>
  </ArticleTemplate>
</Layout>
