---
import Layout from "../../../../../layouts/ArticleLayout.astro";
const title = "機材の話";
const description =
  "バイクですが愛車のTarmacSL6で走ります。今の所Tarmac以外で走るバイクが無いので何でもこれ一台で走ってます。";
const thumbnail = "/images/thumbnails/2019/08/28/tarmac.webp";
const labels = ["機材"];
---

<Layout title={title} labels={labels}>
  <article>
    <h3 style="font-weight: bold;">バイク編</h3>
    <div>GreatDistanceを走るバイクですが愛車のTarmacSL6で走ります。</div>
    <div><br /></div>
    <div>
      今の所Tarmac以外で走るバイクが無いので何でもこれ一台で走ってます。
    </div>
    <div><br /></div>
    <div>個人的な印象ですがTarmacは全てに優れてるなと感じています。</div>
    <div><br /></div>
    <ul>
      <li>ロングライドでも300kmまではそれなりの快適さ</li>
      <li>ワイヤー式で組んでも優れる空力特性</li>
      <li>Ultegraと105のmixで組んでも6.8kgに迫る軽量さ</li>
      <li>高剛性でダウンヒルも安心</li>
      <li>落車しても無事だった頑丈さ</li>
    </ul>
    <div>このスペックがあるからこそなんでも安心して使えてます。</div>
    <div><br /></div>
    <div>私にはもったいないくらいの優れたバイクです</div>
    <div><br /></div>
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr>
          <td style="text-align: center;">
            <a
              href="/images/2019/08/28/tarmac.jpg"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
            >
              <img
                border="0"
                height="320"
                src="/images/thumbnails/2019/08/28/tarmac.webp"
                width="320"
              />
            </a>
          </td>
        </tr>
        <tr>
          <td class="tr-caption" style="text-align: center;"
            >SWORKSのロゴが掛けてしまった</td
          >
        </tr>
      </tbody>
    </table>
    <div><br /></div>

    <h3 style="font-weight: bold;">シューズ</h3>
    <div>
      靴にはお金を惜しまないが我が家の家訓な訳ですが私が履いてるシューズはSWORKS7というシューズです
    </div>
    <div><br /></div>
    <div>
      <a
        href="https://www.specialized.com/jp/ja/s-works-7-road-shoes/p/157321?color=232546-157321"
      >
        https://www.specialized.com/jp/ja/s-works-7-road-shoes/p/157321?color=232546-157321
      </a>
    </div>
    <div><br /></div>
    <div>この靴は</div>
    <ul>
      <li>600km走っても快適</li>
      <li>歩いても快適</li>
      <li>最高度のソールでダンシングでもふにゃふにゃにならない</li>
    </ul>
    <div>
      という快適もりもりながらもゴリゴリスプリントしていくことができるところですかねぇ
    </div>
    <div><br /></div>
    <div>
      私はこのシューズのヒールカップを銀色に塗ってライトを反射しやすくしてます
    </div>
  </article>
</Layout>

<style>
  article {
    margin-top: 15px;
    margin-bottom: 5px;
  }

  li {
    list-style-type: circle;
    margin-left: 20px;
    margin-bottom: 3px;
  }
</style>
