---
import Layout from "../../layouts/Layout.astro";
import { ArticleTemplate } from "../../templates/ArticleTemplate";
const title = "GreatDistance Stage.2 レポート";
const category = "CYCLING";
const thumbnail = "/thumbnails/2019-09-02-GreatDistance Stage.2 レポート.jpg";
---

<Layout title={title}>
  <ArticleTemplate
    title={title}
    thumbnail={thumbnail}
    date={"2019-09-02"}
    category={category}
  >
    <iframe
      allowtransparency="true"
      frameborder="0"
      height="405"
      scrolling="no"
      src="https://www.strava.com/activities/2672014700/embed/b204abae5bb0cbb9e8f0b520d5ba9a8134dae3fe"
      width="590"></iframe>

    強度を<br />
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEg53r5JxhIw9W71_MJzkbQvJDcdMIpq2YFxHC5_UIZORv1zUmlcSAVvmQ6TQR3E0j7J0TJ4HDq9JD4Rlg6lxZXuW_IyW1OsfK2IoXsuf1odQZkQCXjujahiWhmXozceuKbqJBHZEuelj60/s1600/IMG_20190902_062544.jpg"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                height="240"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEg53r5JxhIw9W71_MJzkbQvJDcdMIpq2YFxHC5_UIZORv1zUmlcSAVvmQ6TQR3E0j7J0TJ4HDq9JD4Rlg6lxZXuW_IyW1OsfK2IoXsuf1odQZkQCXjujahiWhmXozceuKbqJBHZEuelj60/s320/IMG_20190902_062544.jpg"
                width="320"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            ><span style="font-size: small; text-align: start;"
              >海抜100mの道にカニさんがいた🤔🤔</span
            ></td
          ></tr
        >
      </tbody>
    </table>
    <br />
    <h4>今日のコース</h4>
    <div>白浜 ~ 南部までの28.7.kmのコース</div>
    <div>ド平坦なコースだが時々30mくらい登る(こともある)</div>
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEinkDj3A4zUSvCG554bw009nJjYDj2KDLh7M3sNVDy0jD3aTxz_xeta-iIoOA36r9_ZJSLZjK4Yexws0cBkC_yTu2sYZmVfE6_tfo_NRQ-B-Un5uTeDbdeyLlrzWNKWCt_Qdb5pC8NOAIY/s1600/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-09-02+11.54.22.png"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                height="49"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEinkDj3A4zUSvCG554bw009nJjYDj2KDLh7M3sNVDy0jD3aTxz_xeta-iIoOA36r9_ZJSLZjK4Yexws0cBkC_yTu2sYZmVfE6_tfo_NRQ-B-Un5uTeDbdeyLlrzWNKWCt_Qdb5pC8NOAIY/s320/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-09-02+11.54.22.png"
                width="320"
              /></a
            ></td
          ></tr
        >
        <tr><td class="tr-caption" style="text-align: center;">ド平坦！</td></tr
        >
      </tbody>
    </table>
    <div>
      強度は求めないといったけど30kmくらいなら1時間で完走できるんじゃないか?🤔
    </div>
    <div>
      って考えたのでTTが始まる'<br />
      <br />
      出せそうな区間はずっと40km以上で走行<br />
      疲れてきたら35kmくらいで走る<br />
      <br />
      Sleep-lowといいつつ心拍は高い<br />
      これ、意味ないんじゃ...
    </div>
    <div>
      <br />
    </div>
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEi-igVZVW4GvwIHPG8yj2vMb1b6fFmgjXk7qSXC6CYqXjnT687N-x-Wz7tML57EhaK_Sk3xYcdhzUgcAcUus6cJZaRLAkoFEw6kSjjsXQ_uqGlyw_MmKALUxkdQIIWYb6tsDB9f_i1dSAA/s1600/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-09-02+11.56.37.png"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                height="117"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEi-igVZVW4GvwIHPG8yj2vMb1b6fFmgjXk7qSXC6CYqXjnT687N-x-Wz7tML57EhaK_Sk3xYcdhzUgcAcUus6cJZaRLAkoFEw6kSjjsXQ_uqGlyw_MmKALUxkdQIIWYb6tsDB9f_i1dSAA/s320/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-09-02+11.56.37.png"
                width="320"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            >涼しいうちに走り終えられた</td
          ></tr
        >
      </tbody>
    </table>
    <div>
      <br />
    </div>
    <h4>Sleep-Lowトレーニング</h4>
    <div>というトレーニング手法があるので試してみた</div>
    <div>
      <br />
    </div>
    <div>やり方自体は簡単で前日にしっかり炭水化物を食べる</div>
    <div>夜はそのまま寝て翌日は何も食べずに走るというもの</div>
    <div>
      <br />
    </div>
    <div>
      期待される効果として睡眠中は何も食べてないので起床時のエネルギー消費の比率はグリコーゲンより脂肪のほうが高まっていると考えられる
    </div>
    <div>
      この状態でトレーニングを行うことにより脂肪を優先して消費することができる
    </div>
    <div>というもの。</div>
    <div>
      グリコーゲンは体内に2000kcalしかないが脂肪は1kgあたり7200kcalと高カロリーなため使えるならこっちを優先したい
    </div>
    <div>ロングライド中お腹空かなくなるからね</div>
    <div>
      <br />
    </div>
    <div>ちなみに糖質はトレーニング後に摂取する</div>
    <div>
      糖質制限をするのではなく糖質を摂取するタイミングを調整するから体にとっての負荷もそこまで高くない。(僕は糖質を抜くと腑抜けになる)
    </div>
    <div>
      <br />
    </div>
    <div>
      糖質摂取前にトレーニングすることでトレーニング強度が20%ほど落ちることは以前試してわかっていた。
    </div>
    <div>
      これの解決方法としてはブラックコーヒーを飲むことで5%ほどの低下に収められるので朝ブラックコーヒーを飲む
    </div>
    <div>
      <br />
    </div>
    <div>カタぼると悲しいのでプロテインもついでに40gほど摂取</div>
    <div>
      <br />
    </div>
    <div>やってみた感じ今日は時間が短いのでいい感じだった</div>
    <div>
      <br />
    </div>
    <div>明日の200kmでも試してみて調子が良ければ続けたい</div>
    <div>
      <br />
    </div>
    <h4>偏るグローブのパッド</h4>
    <div>右側だけ下の方に偏ってくる</div>
    <div>うーん乗り方が悪いのか？🤔🤔</div>
    <div>Twitter見てると一人同じこと書いてる人がいるけど左は問題ないしなぁ</div>
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEi9Plmj2Nwwx7Hx3Pdv73rs3DhLL41PBqb47-8kNeqVQZD79tF4O-9FnF0r8zito9L2CTnaCDmUAyDgYuBTKwRoodn-j1vqhfdVb0JY9tUf0EE-r3a4rZ1XOk3_rL65O9gFncDR47hzq9A/s1600/MVIMG_20190902_062818.jpg"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                height="320"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEi9Plmj2Nwwx7Hx3Pdv73rs3DhLL41PBqb47-8kNeqVQZD79tF4O-9FnF0r8zito9L2CTnaCDmUAyDgYuBTKwRoodn-j1vqhfdVb0JY9tUf0EE-r3a4rZ1XOk3_rL65O9gFncDR47hzq9A/s320/MVIMG_20190902_062818.jpg"
                width="240"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            >下側に集まる<br />
            左手は問題ない模様</td
          ></tr
        >
      </tbody>
    </table>
    <div>
      <br />
    </div>
    <h4>対岸に白浜を見る</h4>
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEh-fVGV9DELabdUuTQxt-HPKvYj8LZG1cQsQ2ZD3Xt_KC0dP4kclPH47x8N9UWUSsg6oYjxZ2j-OcUnKqFsi1bIRxNR0jC3uXoKxUqZpPEmAwwpS-SN7n1VQb6SXrAHg-q7dW7UgOFdPig/s1600/IMG_20190902_064027-EFFECTS.jpg"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                height="240"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEh-fVGV9DELabdUuTQxt-HPKvYj8LZG1cQsQ2ZD3Xt_KC0dP4kclPH47x8N9UWUSsg6oYjxZ2j-OcUnKqFsi1bIRxNR0jC3uXoKxUqZpPEmAwwpS-SN7n1VQb6SXrAHg-q7dW7UgOFdPig/s320/IMG_20190902_064027-EFFECTS.jpg"
                width="320"
              /></a
            ></td
          ></tr
        >
        <tr><td class="tr-caption" style="text-align: center;">蒼い！</td></tr>
      </tbody>
    </table>
    <div>
      <br />
    </div>
    <h4>明日のコース</h4>
    <div>紀南を時計回りに一周する</div>
    <div>走り始めてからいきなりの登りなので根性が試される</div>
    <div>可能なら8hくらいで完走したいけどなぁ</div>
    <div>
      <br />
    </div>
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEic7rw5ZhLRt8oNT1iyLPBMoJ2VlPlFuh0KbUWoHRv1wP0P4OH3fJzGIMsQKigwBfPemiOdUDTYAznl_6hefjhqhJNgCGlxN0P1iK68yEcEbfhfaO8VmnjraQEQp1rkCejS37538UQIfdc/s1600/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-09-02+12.05.32.png"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                height="320"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEic7rw5ZhLRt8oNT1iyLPBMoJ2VlPlFuh0KbUWoHRv1wP0P4OH3fJzGIMsQKigwBfPemiOdUDTYAznl_6hefjhqhJNgCGlxN0P1iK68yEcEbfhfaO8VmnjraQEQp1rkCejS37538UQIfdc/s320/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-09-02+12.05.32.png"
                width="253"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            >体調崩さないようにセーブして走りたい</td
          ></tr
        >
      </tbody>
    </table>
    <div>
      <br />
    </div><div>
      <a
        href="https://blog.great-distance.com/2019/09/greatdistance-stage3.html"
        >3日目のレポートはこちら！</a
      >
    </div>
  </ArticleTemplate>
</Layout>
