---
import Layout from "../../layouts/Layout.astro";
import { ArticleTemplate } from "../../templates/ArticleTemplate";
const title = "試走1日目 梅田 ~ 白浜";
const category = "CYCLING";
const thumbnail = "/thumbnails/2019-08-28-試走1日目 梅田 ~ 白浜.jpg";
---

<Layout title={title}>
  <ArticleTemplate
    title={title}
    thumbnail={thumbnail}
    date={"2019-08-28"}
    category={category}
  >
    <h3>
      <iframe
        allowtransparency="true"
        frameborder="0"
        height="405"
        scrolling="no"
        src="https://www.strava.com/activities/2646397325/embed/c6b4eac8ba91efe788c7fbfd5d6363958d0e3c36"
        width="590"></iframe>
    </h3>
    <h3>
      <br />
      <span style="font-weight: normal;"
        >タイトルにもなってますが&nbsp;凄まじい向かい風&nbsp;でした...(´・ω・｀)</span
      >
      <br /><br />
      <span style="font-weight: normal;"
        >雨が上がった初日でまだ南の方には雨雲がしっかり控えていたのでそれはそうなんだろうと思う感じです。</span
      >
      <br /><br />
      <span style="font-weight: normal;"
        >梅田って書いてるのに住之江からスタートしてるやん！ってクレームがあるかと思いますがそれは一度住之江のラビットストリートに寄ってメンテしてもらってから出走してるからですね。</span
      >
      <br /><br />
      <span style="font-weight: normal;"
        >ちゃんと梅田から走ってるのでご勘弁🙏</span
      >
      <br /><br />
      <span style="font-weight: normal;"
        >この日初めてロングライド中に箕島のすき家に寄ってみたんですが豚しょうが焼き丼のマヨサラセットがめちゃくちゃ美味かったです。</span
      >
      <br /><br />
      <a href="https://www.sukiya.jp/menu/in/tonshouga/1200800/"
        >https://www.sukiya.jp/menu/in/tonshouga/1200800/</a
      >
      <br /><br />
      <span style="font-weight: normal;"
        >爆風で全然進みませんでしたが登坂時にずっとダンシングする方法を取ったのでシッティングで使う筋肉を温存できたのかそれとも走りなれすぎただけなのか向かい風がぁあ！！って言ってる割にはさっさと完走できてたり。</span
      >
      <br /><br />
      <span style="font-weight: normal;"
        >もともとの到着予定は22:00でしたが結局20:00くらいにはゴールしてました。</span
      >
      <br /><br />
      <span style="font-weight: normal;">雨も降ったのに偉い！</span>
      <br /><br />
      <span style="font-weight: normal;">
        <a href="/images/2019/08/28/day1.jpg" imageanchor="1">
          <img
            border="0"
            height="320"
            src="/images/thumbnails/2019/08/28/day1.jpg"
            width="320"
          />
        </a>
      </span>
    </h3>
    <h3></h3>
  </ArticleTemplate>
</Layout>
