---
import Layout from "../../layouts/Layout.astro";
import { ArticleTemplate } from "../../templates/ArticleTemplate";
const title = "DURA-ACEに換装した話";
const category = "CYCLING";
const thumbnail = "/thumbnails/2019-12-22-DURA-ACEに換装した話.jpg";
---

<Layout title={title}>
  <ArticleTemplate
    title={title}
    thumbnail={thumbnail}
    date={"2019-12-22"}
    category={category}
  >
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEi86PhxtqQbTSvmtaX6Yxnle7RDtQBa1cse-9gpWNAZ5v5P4cYo8zGRymkYYRmDSOcMWLjJ5ZDK7TiW70nC7fdnOfqS7e8ZTHg0ce4XI5H7HGpIwjKLzOkzWLOUBYvPHHZovfsKnwL-mS8/s1600/IMG_20191220_201636.jpg"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                height="320"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEi86PhxtqQbTSvmtaX6Yxnle7RDtQBa1cse-9gpWNAZ5v5P4cYo8zGRymkYYRmDSOcMWLjJ5ZDK7TiW70nC7fdnOfqS7e8ZTHg0ce4XI5H7HGpIwjKLzOkzWLOUBYvPHHZovfsKnwL-mS8/s320/IMG_20191220_201636.jpg"
                width="240"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            >軽さは正義であり、速いものはかっこいい</td
          ></tr
        >
      </tbody>
    </table>
    <br
    />前々からスプリントスイッチを使いたいと思っていたのでこの際思い切ってDI2に換装してみた。<br
    />
    少し早いが今年一年頑張ってくれた愛車へのプレゼントみたいなものですね。<br />
    <br />
    <br />
    <h3>ブレーキすごいよ！</h3>
    2年ほど昔にy'sロードで「Dura-AceよりUltegraのブレーキのほうがよく効きますよ」という話を聞いていた。<br
    />
    だからずっとプロはどうやって100km/hにも迫る速度を出しながら以下にして減速してダウンヒルを成立させているのか気になっていた。<br
    />
    <br />
    実際にDura-Aceを使って一番驚いたのはDI2じゃなく、Dura-Aceの制動力の高さだ。<br
    />
    <br />
    Ultegraを使っていたときはリアがすぐロックしていたがDura-Aceは同じように扱ってもリアがロックしない！<br
    />
    ロックすると制動距離が伸びてしまう。ロックしなくなるということはそれだけで制動距離が身近くなる。これはレースでもブルベでも街乗りでも非常に大きなことだ。<br
    />
    <br />
    ほんと、もっと早くブレーキだけでもDura-Aceにするべきだったなぁと思ったくらい感動した。<br
    />
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhb9Qh_KKj1gRAMRnMdYZIQWmgaBgdYHpSTa_mC_EUHAhZdtea4T6vcEG6UQokcdHE3rav3B7I_UJhN9tMj3BiiTFhg5J4uzT51D3oT2eQ5kDu-GcNd_emgTEUe2lL-KubV5gifZ9xoZ38/s1600/IMG_20191222_232922.jpg"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                height="262"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhb9Qh_KKj1gRAMRnMdYZIQWmgaBgdYHpSTa_mC_EUHAhZdtea4T6vcEG6UQokcdHE3rav3B7I_UJhN9tMj3BiiTFhg5J4uzT51D3oT2eQ5kDu-GcNd_emgTEUe2lL-KubV5gifZ9xoZ38/s320/IMG_20191222_232922.jpg"
                width="320"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            >見た目もかっこいい💯</td
          ></tr
        >
      </tbody>
    </table>
    <h3>
      <br />DI2の悩みどころ
    </h3>
    <div>変速性能に関しては申し分ない。ボタンを押したら一瞬で変わる。</div>
    <div>
      レバーにはほんの少しの遊びはあるので間違って指があたってギアが変わっちゃうことは無い。
    </div>
    <div>
      ただし指先が冷たくレバーを押してから指を離すのが遅れるとギアがどんどん変わってしまうので指を押すより離す技術が必要な気がするぞ🤔
    </div>
    <div>
      <br />
    </div>
    <div>今回は一緒にスプリンタースイッチを搭載した。</div>
    <div>
      スプリンタースイッチを取り付けたのは登りで下ハンダンシングをするとき親指でシフト操作をするのが目標だった。現時点ではあまり登れてない上に最近下ハンダンシングで登ってないのでちょっと身体をヒルクライムモードに戻さないと評価ができないなぁ。
    </div>
    <div>
      <br />
    </div>
    <div>
      ただしスプリンタースイッチの名前の通りスプリントに使うととても便利だった。
    </div>
    <div>
      軽めのギアでスプリントを開始してどんどんギアを重くしてくことで最高速度と航続距離を伸ばすことができる。
    </div>
    <div>
      最大パワーに劣るけど体重が軽い分加速しやすいフィジカルなのでそのメリットを最大限活かすことができそうだ。
    </div>
    <div>
      機材でフィジカルの不利を有利に変えられるのは自転車の面白い所だなぁ
    </div>
    <div>
      <br />
    </div>
    <h3>スプロケット</h3>
    <div>実は今まで105の11-28Tのスプロケットをつけてた</div>
    <div>で、今回はDura-Aceの11-30Tをつけてもらった</div>
    <div>
      <br />
    </div>
    <div>もうMTBかと思うくらいにローギアが大きいんじゃ。</div>
    で、このギアのメリットを体感したのかというと実はまだ。<br />
    早く激坂に突っ込みたいところ。<br />
    <br />
    来年の1/13のAllRoadシリーズに最大勾配22%の激坂があるからそこできっと力を発揮してくれるはず！<br
    />
    今から楽しみなんすよ<br />
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhdefsTlWkE4Tggv9zPuwK6U0AdwFJ4go1DEkOFOmnx-OfJoktH7_ysXIcec9bUlOvllHsCVoeZ0FZCaGcVhowFKoa40-R9fUmobxkJwWCoBcOIOkxycfmPo2N0WHVJcGeCCdUqt8BsteA/s1600/IMG_20191222_234046.jpg"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                height="240"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhdefsTlWkE4Tggv9zPuwK6U0AdwFJ4go1DEkOFOmnx-OfJoktH7_ysXIcec9bUlOvllHsCVoeZ0FZCaGcVhowFKoa40-R9fUmobxkJwWCoBcOIOkxycfmPo2N0WHVJcGeCCdUqt8BsteA/s320/IMG_20191222_234046.jpg"
                width="320"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            >30Tにしたのはユンボのログリッチが30Tを使ってるからというのもある</td
          ></tr
        >
      </tbody>
    </table>
    <br />
    <h3>軽さ</h3>
    <div>
      バッテリーとかモーターとかがあるから7.5kgくらいかなぁと思ってたけど最終的には7.1kgに仕上がったらしい。
    </div>
    <div>
      <br />
    </div>
    <div>
      パワーメーターの都合でクランクがUltegraのままなのでそこをDura-Aceに換装したらさらなる6.9kgに届くかもしれない
    </div>
    <div>
      <br />
    </div>
    <div>
      ロングライドだとどうしても軽さを気にする機会は少ないけどロードレーサーとしての自分は完全にクライマー体型なのでこの軽さは大きなメリットになりそう。
    </div>
    <div>
      <br />
    </div>
    <div>
      アウター取ったりもっとえげつない軽量化自体は可能だけどUCIの6.8kgルールを破ろうという気は無いのでこの重量で大満足
    </div>
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgP9vMajiKLzSThCyoCj_SWXjoXxz3oG6i6t5F8hyphenhyphen_vEOgMoFfCzfEnPWSkr1pxHQ96-3V1xdmBHy9gjd_CwHlvQHojPOr-547ysygYUH-M1khiqa3Mn_GfJHNJkhEMhmSK5bm5uaablI0/s1600/IMG_20191220_201629.jpg"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                height="240"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgP9vMajiKLzSThCyoCj_SWXjoXxz3oG6i6t5F8hyphenhyphen_vEOgMoFfCzfEnPWSkr1pxHQ96-3V1xdmBHy9gjd_CwHlvQHojPOr-547ysygYUH-M1khiqa3Mn_GfJHNJkhEMhmSK5bm5uaablI0/s320/IMG_20191220_201629.jpg"
                width="320"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            >重量もそうだけどかっこよすぎやろ...</td
          ></tr
        >
      </tbody>
    </table>
    <h3>最後に</h3>
    <div>バイクがかっこいいともっと走りたくなる。</div>
    <div>Dura-Aceにも値段以上の価値がある。</div>
    <div>ライドフィールも変わるけど精神的にバイクに乗るのが楽しくなる。</div>
    <div>
      <br />
    </div>
    <div>
      来年の白浜クリテで優勝するために立てた戦術を達成するための準備が着々と整ってきている。
    </div>
    <div>
      <br />
    </div>
  </ArticleTemplate>
</Layout>
