---
import Layout from "../../../../../layouts/ArticleLayout.astro";
const title = "試走2日目 紀南一周";
const description = "GreatDistanceのメインコースは紀南地方になるのでまずはここを走れなければ";
const thumbnail = "/images/thumbnails/2019/08/28/day2-1.jpg";
const labels = ["Greatdistance", "試走"];
---

<Layout title={title} labels={labels}>
  <article>
    <h3>
      <iframe
        allowtransparency="true"
        frameborder="0"
        height="405"
        scrolling="no"
        src="https://www.strava.com/activities/2649141913/embed/88860ee873137d200d532102ed01cf8d063d45ca"
        style="font-weight: normal;"
        width="590"></iframe>
    </h3>
    <h3>
      <div>
        <span style="font-weight: normal;"><br /></span>
        <span style="font-weight: normal;"
          >この日は２つの選択肢がありました。</span
        ><br />
        <span style="font-weight: normal;"><br /></span>
        <span style="font-weight: normal;"
          >なんの選択肢かというと時計回りに進むか反時計回りに進むかです。</span
        ><br />
        <span style="font-weight: normal;"><br /></span>
        <span style="font-weight: normal;"
          >前日の走行で南から北向きに風が吹いていることを体感していました。</span
        ><br />
        <span style="font-weight: normal;"
          >なので前日の段階では時計回りに走ることを考えていましたがいざ走ると決めた日、ふとYahoo!の風向き情報を確認すると反時計回りのほうが風向き的に楽そう！ということが判明したので反時計回りに走ることにしました。</span
        ><br />
        <span style="font-weight: normal;"><br /></span>
        <span style="font-weight: normal;">しかしこれは罠だった...</span>
      </div>
      <div>
        <span style="font-weight: normal;"><br /></span>
      </div>
      <div>
        <span style="font-weight: normal;"
          >実際に走ると串本から那智までの区間以外は向かい風(´・ω・｀)</span
        ><br />
        <span style="font-weight: normal;"><br /></span>
        <span style="font-weight: normal;">またかよ(´・ω・｀)</span><br />
        <br />
        <span style="font-weight: normal;"
          ><span style="font-size: 18.72px;"
            >それでも悪条件の中をしっかり走って100kmを3h30mで走るという快走(グロスタイム)</span
          ></span
        ><br />
        <span style="font-weight: normal;"
          ><span style="font-size: 18.72px;"><br /></span></span
        >
        <br />
        <table
          align="center"
          cellpadding="0"
          cellspacing="0"
          class="tr-caption-container"
          style="margin-left: auto; margin-right: auto; text-align: center;"
        >
          <tbody>
            <tr
              ><td style="text-align: center;"
                ><a
                  href="/images/2019/08/28/day2-1.jpg"
                  imageanchor="1"
                  style="margin-left: auto; margin-right: auto;"
                  ><img
                    border="0"
                    height="240"
                    src="/images/thumbnails/2019/08/28/day2-1.jpg"
                    width="320"
                  /></a
                ></td
              ></tr
            >
            <tr
              ><td class="tr-caption" style="text-align: center;"
                >単独走行で100kmを4時間切りは相当の快挙</td
              ></tr
            >
          </tbody>
        </table>
        <span style="font-weight: normal;"><br /></span>
        <span style="font-weight: normal;"
          >結局歩みは遅く...帰りも遅く(´・ω・｀)</span
        ><br />
        <span style="font-weight: normal;"><br /></span>
        <br />
        <div style="font-size: 18.72px;">
          <span style="font-weight: normal;"
            >ひどいのは新宮から本宮への下りが爆風で下っているはずなのに30km出るか出ないか...</span>
        </div>
        <div>
          <table
            align="center"
            cellpadding="0"
            cellspacing="0"
            class="tr-caption-container"
            style="margin-left: auto; margin-right: auto; text-align: center;"
          >
            <tbody>
              <tr
                ><td style="text-align: center;"
                  ><a
                    href="/images/2019/08/28/day2-2.jpg"
                    imageanchor="1"
                    style="margin-left: auto; margin-right: auto;"
                    ><img
                      border="0"
                      height="240"
                      src="/images/thumbnails/2019/08/28/day2-2.jpg"
                      width="320"
                    /></a
                  ></td
                ></tr
              >
              <tr
                ><td class="tr-caption" style="text-align: center;"
                  >正直に言おう。かっこいい</td
                ></tr
              >
            </tbody>
          </table>
        </div>
        <table
          align="center"
          cellpadding="0"
          cellspacing="0"
          class="tr-caption-container"
          style="margin-left: auto; margin-right: auto; text-align: center;"
        >
          <tbody>
            <tr
              ><td style="text-align: center;"
                ><a
                  href="/images/2019/08/28/day2-3.jpg"
                  imageanchor="1"
                  style="margin-left: auto; margin-right: auto;"
                  ><img
                    border="0"
                    height="240"
                    src="/images/thumbnails/2019/08/28/day2-3.jpg"
                    width="320"
                  /></a
                ></td
              ></tr
            >
            <tr
              ><td class="tr-caption" style="text-align: center;"
                ><br />
                本宮へ来たならここは外せないイチオシパワースポット</td
              ></tr
            >
          </tbody>
        </table>
        <div>
          <br />
        </div>
        <span style="font-weight: 400;">本宮大社で参拝して一休み</span><br />
        <span style="font-weight: 400;"><br /></span>
        <span style="font-weight: 400;"
          >日曜日だったし人いっぱいかなと思ったけど全然そんなことはなく静かだったのでガッツリ参拝することができました😄</span
        ><br />
        <span style="font-weight: 400;"><br /></span>
        <span style="font-weight: 400;">帰りは小広峠を延々と登ること13km</span
        ><br />
        <span style="font-weight: 400;"><br /></span>
        <span style="font-weight: 400;"
          >途中で軽いハンガーノックになって足が止まって八咫烏っぽいモニュメントの前で補給</span
        ><br />
        <span style="font-weight: 400;"><br /></span>
        <br />
        <table
          align="center"
          cellpadding="0"
          cellspacing="0"
          class="tr-caption-container"
          style="margin-left: auto; margin-right: auto; text-align: center;"
        >
          <tbody>
            <tr
              ><td style="text-align: center;"
                ><a
                  href="/images/2019/08/28/day2-4.jpg"
                  imageanchor="1"
                  style="margin-left: auto; margin-right: auto;"
                  ><img
                    border="0"
                    height="240"
                    src="/images/thumbnails/2019/08/28/day2-4.jpg"
                    width="320"
                  /></a
                ></td
              ></tr
            >
            <tr
              ><td class="tr-caption" style="text-align: center;"
                >和歌山に住んでたときもここに停車して撮影なんてしたことなかったから実は初写真</td
              ></tr
            >
          </tbody>
        </table>
        <br />
        <span style="font-weight: normal;"
          >近露でもう一度補給してから最後の30kmを走行してゴール</span
        ><br />
        <a
          href="/images/2019/08/28/day2-5.jpg"
          imageanchor="1"
          ><img
            border="0"
            height="320"
            src="/images/thumbnails/2019/08/28/day2-5.jpg"
            width="320"
          /></a>
      </div>
    </h3>
    <h3>
      <div>
        <br style="font-size: medium; font-weight: 400;" />
        <span style="font-weight: normal;">長い一日でした</span>
      </div>
    </h3>
  </article>
</Layout>
