---
import Layout from "../../layouts/Layout.astro";
import { ArticleTemplate } from "../../templates/ArticleTemplate";
const title = "GreatDistance Stage.8 レポート";
const category = "CYCLING";
const thumbnail = "/thumbnails/2019-09-09-GreatDistance Stage.8 レポート.jpg";
---

<Layout title={title}>
  <ArticleTemplate
    title={title}
    thumbnail={thumbnail}
    date={"2019-09-09"}
    category={category}
  >
    <iframe
      allowtransparency="true"
      frameborder="0"
      height="405"
      scrolling="no"
      src="https://www.strava.com/activities/2688937062/embed/e78799a0c9c60722c69aa483077d3ec62083b146"
      width="590"></iframe><br />
    <br />
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgQHnMVrRnPAjomQ93e52qm3jk6gJltjcIDPcSMkYu7YVyOcsLnNu8Wxrvrd3j4y_4o6GHlfVPWeD3EW62DwBmv6l0zOzdrMsYrzN8irZRpN1b-IZkBuohwZpbteE1JPVhhntqf8PXokEk/s1600/MVIMG_20190908_082326.jpg"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                height="320"
                src="/images/articles/2019-09-09-GreatDistance Stage.8 レポート/image-785.jpg"
                width="276"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            >KINANの山本大喜選手</td
          ></tr
        >
      </tbody>
    </table>
    <br />
    <h3>今日のコース</h3>
    <br />
    熊野古道ヒルクライムBコースの試走会です。<br />
    KINANの山本大喜選手と走れるということもあって地元のホビーレーサーが結構参加してたのが印象的(10人以上いたような🤔)<br
    />
    <br />
    距離9.24kmで平均勾配は5%<br />
    <br />
    登攀時間が31:27で平均出力が215wなのでSSTの30分走って感じですかね<br />
    <br />
    最後に登ったのは2年前なので道もきつさも覚えてないので参加できてラッキーでした。<br
    />
    <br />
    <br />
    <h3>もちろん前走者ですよね?</h3>
    <br />
    脚に自信がある人とない人で分けて5分後に追いかけるという趣旨の試走会が始まろうとしていた。<br
    />
    <br />
    ここまでで1000km走っていて脚に余力がなかったことと一部ダウンヒル区間がありそこで落車があったのを見ているので追走組に入って前走者の誰かが落車したら突っ込むかも🤔と思ったので自分も前走組に入ることに<br
    />
    <br />
    <br />
    <h3>いざ上り始める</h3>
    <br />
    登攀距離はそこそこあるものの勾配はそこまできつくない。<br />
    <br />
    序盤は抑えめにして徐々に出力を上げていく方法を取ればいいタイムを狙えると山本選手から裏技を教わっていたのでそれに従って登る。<br
    />
    <br />
    最初の3kmを200w前後で後半は230wで踏んでいく<br />
    <br />
    GreatDistanceを続ける中でダンシングの効率が上がっていたのでシッティングで疲れきたらダンシングに切り替えて休むというのも試した。効果はたしかにあった。ただ、ダンシングすることを忘れがちなのは反省(´・ω・｀)<br
    />
    <br />
    <br />
    <h3>追われる</h3>
    <br />
    正直なところ5km過ぎたあたりからいつ山本選手が追いついてくるのかハラハラしながら登っていた。<br
    />
    <br />
    コーナーを一つ抜けるたびに後ろを振り返って白いジャージが無いか確認、そして前を向くというのを繰り返した<br
    />
    <br />
    7km地点でも一向にジャージが見えないのでだったら最後まで逃げ切ってやるよ！って振り返ることをやめて登ることにする<br
    />
    <br />
    ところが8km地点で遠くに白いジャージが坂を駆け上がってくるのが見えてめっちゃ焦る。<br
    />
    飛ぶように登るという表現がふさわしいくらいに早い...<br />
    <br />
    でも距離がありすぎたので僕の逃げ切りで終了<br />
    <br />
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhK08jaAfhOWZRAyu7Oo8gEnX6bK-iL-9nnXE9zJALmm7gXV9NdR0MPEdmHZtO9MGkSeliq0o088uRR_KVWhQb7vuJVm8lX-HSFRvjWc_ANCt7T1dQmQznyhKQm3hvYNk2s7C5ugeipOJw/s1600/IMG_20190908_090001_1.jpg"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                height="240"
                src="/images/articles/2019-09-09-GreatDistance Stage.8 レポート/image-336.jpg"
                width="320"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            >白いジャージが映える</td
          ></tr
        >
      </tbody>
    </table>
    <br />
    <br />
    <h3>帰る</h3>
    <br />
    練習会が終わったので串本まで自走してそこから輪行<br />
    <br />
    GoogleMapによると串本の一つ向こうの駅紀伊有田駅から乗るといいとのこと<br />
    串本にも駅があるのになぜ？🤔と思ったのですがひと駅分安くなるしただ待つよりは楽しいかと思い海岸沿いをひた走る<br
    />
    <br />
    駅についたら誰もいない<br />
    というか駅って書いてなかったら駅と認識できないくらい小さい。倉庫かな？<br />
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEguCr_DlOe6x6WiGDSwTXDnKpsK4cRmI2yHSjv9bd8Rwl3nBfuMbLgULzBaIKQwM4tbnnNJXPXfwc-4j1mhQskMUOqX2_YVMt-T4pXXpgR_ZqTT95QiJmkllI0lCbOvVAkuQ7Yzt50k8d0/s1600/IMG_20190908_122041.jpg"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                height="240"
                src="/images/articles/2019-09-09-GreatDistance Stage.8 レポート/image-841.jpg"
                width="320"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            >完全な無人駅<br />券売機すら無い</td
          ></tr
        >
      </tbody>
    </table>
    券売機も駅員さんも改札も存在しない...<br />
    <br />
    本当に駅なのこれ？<br />
    不安になったのでJR西日本さんに電話して確認すると<br />
    「乗車後に乗務員が対応するので乗ってください」<br />
    とのこと<br />
    <br />
    田舎に行くとローカルな電車の乗り方があるんだなぁと思いつつ乗る<br />
    <br />
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhG2GIK8xTvWmrvjtNRma6-2wCiEqss_Clk9Dq6GAzblSffYEaxXQJL1qprPZLFZCXe9lEG1HkQtRih-Cz44H33QcpPXKsY05koS0t41ax1EnhCU7Vj70NFnhqhAv3QTJSDsB0u56gnx6s/s1600/IMG_20190908_122648.jpg"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                height="320"
                src="/images/articles/2019-09-09-GreatDistance Stage.8 レポート/image-65.jpg"
                width="240"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            >輪行袋に自転車を詰める</td
          ></tr
        >
      </tbody>
    </table>
    乗ってる人そんなにいないんだから袋に入れなくてもいいような気も...🤔<br />
    <br />
    電車内ではやはり疲れからか爆睡...<br />
    早く休もう<br />
    <br />
    <h3>明日のコース</h3>
    明日は休息日！<br />
    <br />
    第一週の疲れがピークに達していたので何もせず学習の時間にあてるぞぉ！<div>
      <br />
    </div><div>
      <a
        href="https://blog.great-distance.com/2019/09/greatdistance-stage9.html"
        >9日目のレポートはこちら！</a
      >
    </div>
  </ArticleTemplate>
</Layout>
