---
import Layout from "../../layouts/Layout.astro";
import { ArticleTemplate } from "../../templates/ArticleTemplate";
const title = "休息の話";
const category = "CYCLING";
const thumbnail = "/thumbnails/2019-08-28-休息の話.jpg";
---

<Layout title={title}>
  <ArticleTemplate
    title={title}
    thumbnail={thumbnail}
    date={"2019-08-28"}
    category={category}
  >
    <a href="/images/thumbnails/2019/08/28/801-sleep.webp" imageanchor="1"
      ><img
        border="0"
        height="211"
        src="/images/articles/2019-08-28-休息の話/image-879.jpg"
        width="320"
      /></a
    ><br />
    休むって大切<br />
    <br />
    しばしば毎日トレーニングやってることが美徳と思われがちですが本当に大切<br />
    <br />
    ただトレーニング本にはトレーニングメニューの方法は書かれていても休息の方法については書かれてないんですよね<br
    />
    <br />
    じゃあ何を指標に休息すればいいのか？<br />
    <br />
    <br />
    <h3>疲労状態を知ろう</h3>
    <div>まず休息が必要な状態とはどういう状態でしょうか？</div>
    <div>
      <br />
    </div>
    <div>
      <ul>
        <li>倦怠感？</li>
        <li>出力の低下？</li>
        <li>持久力の低下？</li>
      </ul>
    </div>
    <div>
      <br />
    </div>
    <div>
      上記は確かにそうなんですがちょっとの疲労だと出力の低下って起きなかったり
    </div>
    <div>
      <br />
    </div>
    <div>
      TSBが下がったら疲労状態かというとTSBが高ければ体調が良いのはわかるんですが下がるのは下げ方によって数値と自覚している疲労状態が乖離することがある...
    </div>
    <div>
      <br />
    </div>
    <div>TSBが信じられないならじゃあ何を指標に休むの！？</div>
    <div>
      <br />
    </div>
    <div>
      <br />
    </div>
    <div>
      <h3>そのためのfitbit</h3>
      <div>fitbitという製品があります。</div>
    </div>
    <div>
      <br />
    </div>
    <div>
      AppleWatchみたいに腕に巻いて心拍とか睡眠のログを取ってくれるやつです。
    </div>
    <div>
      <br />
    </div>
    <div>
      これ、AppleWatchみたいに1日で電池切れたりしなくて5日くらいバッテリー持つんですがこれで取れる心拍と睡眠のログから疲労状態が取得できそうなのでその話をします。
    </div>
    <div>
      <br />
    </div>
    <div>疲労状態になると身体にいくつかわかりやすい状態が現れます</div>
    <div>
      <br />
    </div>
    <div>こちらのサイトによると</div>
    <div>
      <a
        href="http://www.gifuspo.or.jp/zoneB/200/sports.dr_kyogikai/77.html"
        target="_blank"
        >http://www.gifuspo.or.jp/zoneB/200/sports.dr_kyogikai/77.html</a
      >
    </div>
    <blockquote
      class="rounded border border-gray-500 bg-gray-300 text-gray-800 font-bold px-5 py-3 m-3"
    >
      オーバートレーニング症候群の症候はいろいろあり、初期には原因不明の競技成績の低下を訴えてくることがあります。　さらに進んだ状態になると、易疲労感、全身倦怠感、睡眠障害、食欲不振、体重減少および集中力の欠如などを訴えるようになってきます。　最悪の場合には、うつ病に類似した精神異常を示すようになります。
    </blockquote>
    <br />
    貧血や感染症などの疾病が除外され、安静時心拍数の増加、安静時血圧の上昇、運動後の安静時血圧への回復遅延などがあり、競技力の低下あるいは最大パワーの減少があればオーバートレーニング症候群と診断されます。

    <style>
      article {
        margin-top: 15px;
        margin-bottom: 5px;
      }

      li {
        list-style-type: circle;
        margin-left: 20px;
        margin-bottom: 3px;
      }
    </style>
  </ArticleTemplate>
</Layout>
