---
import Layout from "../../layouts/Layout.astro";
import { ArticleTemplate } from "../../templates/ArticleTemplate";
const title = "エクストリームウェザープロトコルの日";
const category = "CYCLING";
const thumbnail =
  "/thumbnails/2019-09-13-エクストリームウェザープロトコルの日.jpg";
---

<Layout title={title}>
  <ArticleTemplate
    title={title}
    thumbnail={thumbnail}
    date={"2019-09-13"}
    category={category}
  >
    <h3>どうやら乗れない一日になりそうだ</h3>
    <br />
    今日もどこかを150kmほど走ろうと思って朝の5時から待機してたけど激しい雨(´・ω・｀)<br
    />
    <br />
    昼過ぎには止むかと思い待機して待つも雨(´・ω・｀)<br />
    <br />
    雨に加えて非常に激しい雷が付近に落ちたらしく雷音で家が揺れる...<br />
    大丈夫か？<br />
    家燃えてない？<br />
    <br />
    流石にこの天気でトレーニングはできないしローラー台も無いしなぁ<br />
    <br />
    仕方ないので今日は完全休養日になりそうです...<br />
    <br />
    このやり場のない気持ちは日曜日のブルベにぶつけようか<br />
    <br />
    しっかり糖質を蓄えて補給時間を減らす努力をするぞ<br />
    <br />
    <br />
    <br />
    <h3>Specialissima</h3>
    <br />
    昨日書いたブログにコメントもらってた<br />
    Specialissimaいいですよね<br />
    <br />
    空力に中指を立てたような伝統的な見た目のロードバイクなのに魅力を感じさせるのはさすがイタリアの職人ですわ<br
    />
    <br />
    なにかしらの引力を感じる<br />
    <br />
    ところでSpecialissimaはOltre以上にアタック力のあるバイクがほしいというプロからのニーズで誕生したという話をどこかで聞いた気がする🤔<br
    />
    そうだとするならSpeciallisimaは軽量とかCVとかじゃなくOltre以上に切れのある走りができますよって訴求するほうがいいんじゃ...<br
    />
    <br />
    なんにせよパンターニファンなので20yearsアニバーサリーモデルは欲しい...<br />
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjVuk74Ckl3oLNjxt33Aw4vWwO1hd5I5iUgZwi5Nnev91saV3hvOy2BkVsWztf4OK1aBCgYCbZpAkedOzqMueao8JaXamNYevvTgBr9AsQdbxW_NoRmcSZaDVFj5RBlvo0TQJ2201m7a8I/s1600/Iq4itySvnY.jpg"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                height="159"
                src="/images/articles/2019-09-13-エクストリームウェザープロトコルの日/image-739.jpg"
                width="320"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            >センスがありすぎて困る</td
          ></tr
        >
      </tbody>
    </table>
    <br />
    これ乗って下ハン握ってダンシングするとそういう目で見られそう<div>
      <br />
    </div>
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEg2MmSuQdoWRpzWxUXhP7TTowNuGbvUjMQjs9EsqLOr40zlF3rDd0AWIUpt_yfttQbFxxlS0cECnxjdZTSCGIdsBPCA66JXluARf3dnAXIsl4u27mf7P9OwFmCR0qSyGw60x32EZS7Vp2o/s1600/italiano34_2.jpg"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                height="213"
                src="/images/articles/2019-09-13-エクストリームウェザープロトコルの日/image-91.jpg"
                width="320"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            >ピンクジャージを多用するのはこの人の影響が大きい</td
          ></tr
        >
      </tbody>
    </table>
    <div>
      <br />
    </div>
    <div>そういえばカウンターヴェイルってどれほど効くのか気になるな</div>
    <div>
      Oltre乗ってたのも2年前に1ヶ月だけどかだったのでもう手に感覚が残ってないなぁ
    </div>
    <div>
      試乗してみたい<br />
      <br />
      <h3>明日のコース</h3>
    </div>
    <div>ブルベに備えて軽めに60km前後を走る予定</div>
    <div>多分 白浜 ~ 御坊 ~ 白浜とか</div>
    <div>
      <br />
    </div>
    <div>
      終わったら洗車してブルベ装備に換装してコンセントレーションを高めていく
    </div>
  </ArticleTemplate>
</Layout>
