---
import Layout from "../../layouts/Layout.astro";
import { ArticleTemplate } from "../../templates/ArticleTemplate";
const title = "GreatDistance Stage.10 レポート";
const category = "CYCLING";
const thumbnail = "/thumbnails/2019-09-11-GreatDistance Stage.10 レポート.jpg";
---


    <iframe
      allowtransparency="true"
      frameborder="0"
      height="405"
      scrolling="no"
      src="https://www.strava.com/activities/2698117690/embed/2f8c4842e2d67a83478d708f0b9c1df998824d25"
      width="590"></iframe>

    <br />
    <br />
    <br />
    <h2>ついにステージ数も二桁に到達ですよ！</h2>
    <div>＼(^o^)／＼(^o^)／＼(^o^)／＼(^o^)／＼(^o^)／＼(^o^)／</div>
    <div>
      <br />
    </div>
    <h3>今日のコース</h3>
    <div>白浜 ~ 箕島 ~ 白浜のだいたい150kmくらいのコース</div>
    <div>
      海岸沿いをひた走るため運が悪いと向いか風に悩まされるかと思ってましたがそんなこともなく行きも帰りも大体追い風という恵まれたライドになりました！
    </div>
    <div>
      <br />
    </div>
    <div>
      実はこのコース、今から12年前にママチャリで走ったことがあるんですがその時は往路6時間、復路4時間かかっていて今だと往復でも5時間とかで行けるのでロードバイクすごいなぁっていつも感じながら走ってる次第です
    </div>
    <div>
      <br />
    </div>
    <div>
      <br />
    </div>
    <h3>いつの間にかCTLが100を越える</h3>
    <div>
      ホビーレーサーが目指すべき指標の一つと言われているCTL100を突破しました。
    </div>
    <div>
      <br />
    </div>
    <div>
      今までも瞬間的に超えることはあれどすぐに落ちて翌日には97とかになってたんですが
    </div>
    <div>今回は落ちても99にはならない値まで届きました。</div>
    <div>
      <br />
    </div>
    <div>
      CTLが向上したことが原因かはっきりしませんが1日に稼ぐTSSが200くらいまでなら翌日にはしっかり回復してる実感もある(安静時心拍も落ち着いている)ので効果はあるようだ
    </div>
    <div>
      <br />
    </div>
    <div>
      今月中はCTL100以上を維持して翌月に徐々に落として熊野古道ヒルクライムに備えたい
    </div>
    <div>
      <table
        align="center"
        cellpadding="0"
        cellspacing="0"
        class="tr-caption-container"
        style="margin-left: auto; margin-right: auto; text-align: center;"
      >
        <tbody>
          <tr
            ><td
              ><a
                href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEi1bWhMV2ZRqXHJ_fFks78rmAaaooo1ahyphenhyphen7GQrhi_2RYr2MrdbtNTxn9N6Uuoyo7fSM1Ggv8LfkE8ndkDewTrJdGH-ep7t3EjQuO8c5KBqQI0z0xlCd_25iKydbXKan5K6VRA4mMGV4v_o/s1600/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-09-11+14.57.07.png"
                style="margin-left: auto; margin-right: auto;"
                ><img
                  border="0"
                  src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEi1bWhMV2ZRqXHJ_fFks78rmAaaooo1ahyphenhyphen7GQrhi_2RYr2MrdbtNTxn9N6Uuoyo7fSM1Ggv8LfkE8ndkDewTrJdGH-ep7t3EjQuO8c5KBqQI0z0xlCd_25iKydbXKan5K6VRA4mMGV4v_o/s400/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-09-11+14.57.07.png"
                /></a
              ></td
            ></tr
          >
          <tr
            ><td class="tr-caption" style="font-size: 12.8px;"
              >ついにCTLが持続的に100を越えた</td
            ></tr
          >
        </tbody>
      </table>
      <br />
    </div>
    <div>
      <br />
    </div>
    <h3>いつものSleep-Lowをやる</h3>
    <div>
      コース的に往復でも150kmなので少なくとも行きは無補給で問題ないと判断。
    </div>
    <div>自分の脂質を使って走破することにしました。</div>
    <div>
      <br />
    </div>
    <div>
      基本的にほとんどの区間が追い風だったので短いアップダウンに関しては心拍を上げてもいいのでダンシングで押し切る走りを行うことに。
    </div>
    <div>
      <br />
    </div>
    <div>それでも特にお腹空かない。</div>
    <div>Sleep-Lowは大正義やったんや！</div>
    <div>
      <br />
    </div>
    <div>
      <br />
    </div>
    <h3>ダンシング強化週間</h3>
    <div>
      今週はダンシング強化週間にしてみよう(思いつき)ということで登りに入ったら基本的にはずっとダンシングにする
    </div>
    <div>
      <br />
    </div>
    <div>
      目的はシッティングで使う筋肉を温存してより長い時間速度を維持すること
    </div>
    <div>
      <br />
    </div>
    <div>
      なにせ今週はこのトレーニングをやるためにツール・ド・おきなわのレース動画で高岡選手のダンシングシーンを何度も再生して頭に焼き付けたので！
    </div>
    <div>
      <br />
    </div>
    <div>それでもダンシングで楽に早く登攀するのは難しい...(´・ω・｀)</div>
    <div>
      <br />
    </div>
    <div>
      明確に筋肉を切り替えることは出来てるんで登りきったあとの筋肉の消耗も決して多くはないのですが速度が落ちてる...
    </div>
    <div>早く登るのと楽に登るのは相容れないんだろうか...</div>
    <div>
      <br />
    </div>
    <div>ここはもうちょっと調査したいところ</div>
    <div>
      <br />
    </div>
    <div>
      それとダンシングを多用すると脂質で賄えなくなるのでグリコーゲンが大量消費されて手足に力が入らなくなることに...
    </div>
    <div>
      <br />
    </div>
    <div>
      <br />
    </div>
    <h3>今日さ、気温高すぎじゃないです？</h3>
    <div>今日暑いですよ！</div>
    <div>
      <br />
    </div>
    <div>32℃って...</div>
    <div>夏かと思った(´・ω・｀)</div>
    <div>
      <br />
    </div>
    <div>
      <br />
    </div>
    <div>明日のコース</div>
    <div>
      <br />
    </div>
    <div>今の段階だと完全なるノープラン...</div>
    <div>
      <br />
    </div>
    <div>
      ただ明日もダンシングを多用したいので朝食をとったあとにライドしようかなってちょっと思っていたり
    </div>
    <div>
      <br />
    </div><div>
      <a
        href="https://blog.great-distance.com/2019/09/greatdistance-stage11.html"
        >11日目のレポートはこちら！</a>
    </div>
  

</ArticleTemplate></Layout>