---
import Layout from "../../layouts/Layout.astro";
import { ArticleTemplate } from "../../templates/ArticleTemplate";
const title = "GreatDistance Stage.9 レポート";
const category = "CYCLING";
const thumbnail = "/thumbnails/2019-09-11-GreatDistance Stage.9 レポート.jpg";
---

<Layout title={title}>
  <ArticleTemplate
    title={title}
    thumbnail={thumbnail}
    date={"2019-09-11"}
    category={category}
  >
    <iframe
      allowtransparency="true"
      frameborder="0"
      height="405"
      scrolling="no"
      src="https://www.strava.com/activities/2694950248/embed/d996bc4d6db7cffcbb3ceb05878cb439e98b3465"
      width="590"></iframe>

    <br />
    <br />
    <h3>
      <div class="separator" style="clear: both; text-align: center;">
        <a
          href="/images/articles/2019-09-11-GreatDistance Stage.9 レポート/image-387.jpg"
          style="margin-left: 1em; margin-right: 1em;"
          ><img
            alt=""
            data-original-height="2048"
            data-original-width="1536"
            height="240"
            src="/images/articles/2019-09-11-GreatDistance Stage.9 レポート/image-411.jpg"
            width="180"
          /></a
        >
      </div><br />
    </h3><h3>今日のコース</h3>
    <br />
    白浜 ~ 本宮の往復100kmの山岳コース(でも1200mくらいしか登らない)<br />
    コース自体が短くて特に何も書くことが無い(´・ω・｀)<br />
    <br />
    <br />
    <h3>Sleep−Low</h3>
    <div>
      往復100kmのコースなので朝食な抜き。代わりにプロテインとブラックコーヒーをお腹に入れるいつものSleep-Lowトレーニングを実施する。
    </div>
    <div>
      <br />
    </div>
    <div>
      もうこのトレーニングにもだいぶ慣れてきていてそこまでパフォーマンスが劣化することもなく(朝食を入れている方がパフォーマンス自体は高いものの)走ることができる。
    </div>
    <div>
      <br />
    </div>
    <div>
      Stage.9自体が短いのでライド中のカロリー摂取0にして走ってみても問題なかったので効果は着実に出ていると言えそう
    </div>
    <div>
      <br />
    </div>
    <div>
      <br />
    </div>
    <h3>壊れる心拍計</h3>
    <div>
      Stravaによると心拍199で走っていたということになっているが上限が194なので心拍計の誤検知である(´・ω・｀)
    </div>
    <div>
      <br />
    </div>
    <div>
      なお壊れた心拍計は暫く異常値を表示し続けていたため感覚で走ることになった。
    </div>
    <div>
      <br />
    </div>
    <div>
      結果的には計器を見ないで走る練習になったので良かったのですがブルベに合わせて買い直ししたほうがいいのかなぁって思ったり...
    </div>
    <div>
      <br />
    </div>
    <div>
      <br />
    </div>
    <h3>翌日のコース</h3>
    <div>
      今週は週の頭にライドコースを決めていなくて基本的に前日の思いつきでコースを決めてるので特に無いという...
    </div>
    <div>
      <br />
    </div>
    <div>現時点では白浜 ~ 箕島 ~ 白浜の150km程度のコースを予定していまっす</div>
    <div>
      <br />
    </div>
    <div>
      未開拓のコースが減ってきていてちょっと退屈し始めている節はあるなぁ
    </div><div><br /></div><div>
      <a
        href="https://blog.great-distance.com/2019/09/greatdistance-stage10.html"
        >10日目のレポートはこちら</a
      >
    </div>
  </ArticleTemplate>
</Layout>
