---
import Layout from "../../layouts/Layout.astro";
import { ArticleTemplate } from "../../templates/ArticleTemplate";
const title = "試走編";
const category = "CYCLING";
const thumbnail = "/thumbnails/2019-08-28-試走編.jpg";
---

<Layout title={title}>
  <ArticleTemplate
    title={title}
    thumbnail={thumbnail}
    date={"2019-08-28"}
    category={category}
  >
    2019年9月から挑戦開始予定の<span
      style='background-color: white; font-family: "merriweather" , "georgia" , serif;'
      >GreatDistanceChallange</span
    ><br />
    <span
      style='background-color: white; font-family: "merriweather" , "georgia" , serif;'
      ><br /></span
    >
    21日で3000km以上の距離を走行するチャレンジのことですが実際に完走距離的にも企画的にも完走可能なのかを確かめるために3日連続で試走してきました。<br
    />
    <br />
    企画段階ではなんとかなるだろって思ってたんですが試走してみた完走は...<br />
    <br />
    <b>とんでもねぇこと企画しちゃったなぁって感じです＼(^o^)／</b><br />
    <br />
    試走は3日連続で行ったのでちょっと試走した感想を投稿してます。<br />
    <br />
    <blockquote class="embedly-card">
      <h4>
        <a href="https://blog.great-distance.com/2019/08/greatdistance-1.html"
          >GreatDistance 試走1日目 梅田 ~ 白浜</a
        >
      </h4>
      ブログ始めた理由 2019年9月から有給消化の期間が始まって1ヶ月間仕事しなくなるのでフィジカルを強化するために21日で3500kmを走るチャレンジをやってみようと思った。
      ブログはその備忘録として、また今後同じ挑戦をしようとする変態同好の士が参考にできるよう公の場に情報を残そうと思った。
      GreatDistanceChallange ↑の名をつけた。挑戦内容は ...
    </blockquote>
    <br />
    <br />
    <blockquote class="embedly-card">
      <h4>
        <a href="https://blog.great-distance.com/2019/08/2.html"
          >試走2日目 紀南一周</a
        >
      </h4>
      ブログ始めた理由 2019年9月から有給消化の期間が始まって1ヶ月間仕事しなくなるのでフィジカルを強化するために21日で3500kmを走るチャレンジをやってみようと思った。
      ブログはその備忘録として、また今後同じ挑戦をしようとする変態同好の士が参考にできるよう公の場に情報を残そうと思った。
      GreatDistanceChallange ↑の名をつけた。挑戦内容は ...
    </blockquote>
    <br />
    <br />
    <blockquote class="embedly-card">
      <h4>
        <a href="https://blog.great-distance.com/2019/08/3.html"
          >試走3日目 白浜 =&gt; 梅田 泉佐野</a
        >
      </h4>
      <p>
        ブログ始めた理由
        2019年9月から有給消化の期間が始まって1ヶ月間仕事しなくなるのでフィジカルを強化するために21日で3500kmを走るチャレンジをやってみようと思った。
        ブログはその備忘録として、また今後同じ挑戦をしようとする変態同好の士が参考にできるよう公の場に情報を残そうと思った。
        GreatDistanceChallange ↑の名をつけた。挑戦内容は ..
      </p>
    </blockquote>
    <br />
    <h3>3日走った感想は...?</h3>
    <div>キツい！</div>
    <div>
      <br />
    </div>
    <div>あまりにもきつい！</div>
    <div>
      <br />
    </div>
    <div>辛い</div>
    <div>
      <br />
    </div>
    <div>結局4日目はほとんど一日寝たきりになってしまっていた</div>
    <div>
      <br />
    </div>
    <div>
      本当にグランツールを走るプロ選手ってのはすごいんだなぁと尊敬できた
    </div>
    <div>
      <br />
    </div>
    <div>あとPBPとか走るような人もすごい...</div>
    <div>
      <br />
    </div>
    <div>本当に来る9月に21日で3000km以上走れるのか？って不安しか無いけど</div>
    <div>体当たりでやっていくよ！</div>
    <div>
      <table
        align="center"
        cellpadding="0"
        cellspacing="0"
        class="tr-caption-container"
        style="margin-left: auto; margin-right: auto; text-align: center;"
      >
        <tbody>
          <tr
            ><td style="text-align: center;"
              ><a
                href="/images/2019/08/28/recon.jpg"
                imageanchor="1"
                style="margin-left: auto; margin-right: auto;"
                ><img
                  border="0"
                  height="243"
                  src="/images/articles/2019-08-28-試走編/image-221.jpg"
                  width="320"
                /></a
              ></td
            ></tr
          >
          <tr
            ><td class="tr-caption" style="text-align: center;"
              >なんだかんだで今月は1500km走ってる</td
            ></tr
          >
        </tbody>
      </table>
    </div>

    <style>
      article {
        margin-top: 15px;
        margin-bottom: 5px;
      }

      li {
        list-style-type: circle;
        margin-left: 20px;
        margin-bottom: 3px;
      }
    </style>
  </ArticleTemplate>
</Layout>
