---
import Layout from "../../layouts/Layout.astro";
import { ArticleTemplate } from "../../templates/ArticleTemplate";
const title = "GreatDistance Stage.1";
const category = "CYCLING";
const thumbnail = "/thumbnails/2019-09-01-GreatDistance Stage.1.jpg";
---


    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjaxG_rxYeCgd8KYk5CFkYssu6rncHODUUUbp2T1F_0JA5TU3Ao_rKs_mS6DJZFZ4JsqEZn_6CfDAM3XGXWSCzyxMdfANjBwoY_IeohGJI2JIcOEv_VphY1Zkg-PiFQQpsOz7KIolh1k34/s1600/IMG_20190901_064905.jpg"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                height="240"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjaxG_rxYeCgd8KYk5CFkYssu6rncHODUUUbp2T1F_0JA5TU3Ao_rKs_mS6DJZFZ4JsqEZn_6CfDAM3XGXWSCzyxMdfANjBwoY_IeohGJI2JIcOEv_VphY1Zkg-PiFQQpsOz7KIolh1k34/s320/IMG_20190901_064905.jpg"
                width="320"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            >いつもと変わらない写真だけど3000kmの長旅を共にする相棒</td
          ></tr
        >
      </tbody>
    </table>
    <div>
      <iframe
        allowtransparency="true"
        frameborder="0"
        height="405"
        scrolling="no"
        src="https://www.strava.com/activities/2669194252/embed/c4ae3fecf6333eb4d2427582a0ee2b0b415d99ab"
        width="590"></iframe>

      <h4>この道こそがGreatDistance</h4>
    </div>
    9/1 6:00に起床<br />
    <div>その時点ではすでに雨は上がっていたけど1時間前までは降ってたらしい</div>
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhdHPEkRsgKZ6K3Kd8tkEbo47zBZV5CV9DnjiXm5YL4SDfDVUC8s8eXgBO568JRsGuUCOkHtMCpxB1Lmj-wzAFfV2BTezICk7u26ombDnCAEbOKHIpwC-L4qLM1y3-i51xr5MHGUx1Ifcw/s1600/MVIMG_20190901_064404.jpg"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                height="240"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhdHPEkRsgKZ6K3Kd8tkEbo47zBZV5CV9DnjiXm5YL4SDfDVUC8s8eXgBO568JRsGuUCOkHtMCpxB1Lmj-wzAFfV2BTezICk7u26ombDnCAEbOKHIpwC-L4qLM1y3-i51xr5MHGUx1Ifcw/s320/MVIMG_20190901_064404.jpg"
                width="320"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            >曇天って感じだった</td
          ></tr
        >
      </tbody>
    </table>
    <div>
      <br />
    </div>
    <div>
      和歌山あたりで雨に振られる可能性があったのでRaphaのRainCapeをジャージのポッケに忍ばせて走ることに☔
    </div>
    <div>
      結局雨はふらないし南に行けば行くほど晴れたので実はおいていっても良かったのかもしれない🌤
    </div>
    <div>
      こういうのはお守りだからいいといえばいいんだけど結果的に左のポッケは専有されてしまい補給を入れることができなかった(´・ω・｀)
    </div>
    <div>
      <br />
    </div>
    <div>6:50に梅田を出発</div>
    <div>
      <br />
    </div>
    <div>
      これから3000km以上の距離を走る偉大な一歩になる予定だけど走り出しはあくまでいつもどおり
    </div>
    <div>そして家をでて30mで信号に捕まる</div>
    <div>幸先とは🤔</div>
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEglNeFCFdBfyj2GTllFGMZzLrlqex6sk2dQU6H-8Hiy0-LExmTw8xVx0ccqH3BbVWbAR1C3fP3S7c9vBcoJHcdNEp8F07lFUh1PfME2F9qNHnmx5c9t-bxsXhnUYTcLkrWtE6L-LdbkKoQ/s1600/IMG_20190901_065124.jpg"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                height="240"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEglNeFCFdBfyj2GTllFGMZzLrlqex6sk2dQU6H-8Hiy0-LExmTw8xVx0ccqH3BbVWbAR1C3fP3S7c9vBcoJHcdNEp8F07lFUh1PfME2F9qNHnmx5c9t-bxsXhnUYTcLkrWtE6L-LdbkKoQ/s320/IMG_20190901_065124.jpg"
                width="320"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            >BoraのレーパンとPantaniジャージの組み合わせ<br />
            一周目は5日まで毎日洗濯して使う</td
          ></tr
        >
      </tbody>
    </table>
    <div>
      <br />
      <h4>梅田 ~ 阪南</h4>
    </div>
    <div>大阪から和歌山の県境まではほぼずっと追い風</div>
    <div>
      Stravaでライドログを追いかけてもこの60kmの平均心拍は120bpmとかなり低い。
    </div>
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjZMSe6xziw2x_hVJfDd36xp_SunnafcU-IGrXvWsQLVK8I_rmO5fyu5pZmnX1WKG2G7zT-pYlUJG_ZKAf1qN6J0u89QM254EZPbiCtiCyBe6lZCIGkVkFAiLSPJ8Y2G5FmgfJUKtwUs2E/s1600/osaka_data.png"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                height="120"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjZMSe6xziw2x_hVJfDd36xp_SunnafcU-IGrXvWsQLVK8I_rmO5fyu5pZmnX1WKG2G7zT-pYlUJG_ZKAf1qN6J0u89QM254EZPbiCtiCyBe6lZCIGkVkFAiLSPJ8Y2G5FmgfJUKtwUs2E/s320/osaka_data.png"
                width="320"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            >低い出力で早く走るのはレースではとても大事なテクニック</td
          ></tr
        >
      </tbody>
    </table>
    <div>
      <br />
    </div>
    <div>
      低いんだけど平均速度は27km/hを超えていて信号だらけの大阪にしてはいいペースだった。
    </div>
    <div>つまりそこそこいい風が吹いてたってことだ！</div>
    <div>
      <br />
    </div>
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgFhOJoBE5TvnVwHfVZro-nrnCO2xZXc-bBwEMzCSsAAClQJI5Mtc7b_iR4P3EHeYZcI60ftFbvO5VEhcwA6-07jDkhPQus7EZ1U6XuRUjfpHlunevA21-XTWQTAM79ZIYN6ZODDfzAyTk/s1600/EFFECTS.jpg"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                height="240"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgFhOJoBE5TvnVwHfVZro-nrnCO2xZXc-bBwEMzCSsAAClQJI5Mtc7b_iR4P3EHeYZcI60ftFbvO5VEhcwA6-07jDkhPQus7EZ1U6XuRUjfpHlunevA21-XTWQTAM79ZIYN6ZODDfzAyTk/s320/EFFECTS.jpg"
                width="320"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            >どんどん晴れてきて鮮やかな空色だった(堺市)</td
          ></tr
        >
      </tbody>
    </table>
    <br />
    <h4>孝子峠</h4>
    <div>
      大阪と和歌山をつなぐ峠に<b>孝子峠</b>というのがある。
    </div>
    <div>
      <br />
    </div>
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEg897LLjo3PfaCKcJ3NI50z3vXkROGGtFIr28XX7XRRhT4B2-VKsqsz15RRb6CgKMu-_otJgawEO8kHmsojrIKURpI645H7ycvfOnXTi-vimHghHuWGDSbLyp5qKqolqmD7wUGsA33vbkM/s1600/kyoshi.png"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                height="243"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEg897LLjo3PfaCKcJ3NI50z3vXkROGGtFIr28XX7XRRhT4B2-VKsqsz15RRb6CgKMu-_otJgawEO8kHmsojrIKURpI645H7ycvfOnXTi-vimHghHuWGDSbLyp5qKqolqmD7wUGsA33vbkM/s320/kyoshi.png"
                width="320"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            >青いところがその区間(Strava上)</td
          ></tr
        >
      </tbody>
    </table>
    <div>全長1kmで平均勾配は5%ほど</div>
    <div>距離が距離だけにテクニックよりもパワーで押し切るタイプの峠</div>
    <div>
      <br />
    </div>
    <div>ここのKOMは1:59になっていてそれまでの自分のベストタイムは2:22</div>
    <div>
      いつも白浜へ向けて走るときはここでアタックして力試しするんですが今日はTSBも高くていい感じだったのでちょっとアタック
    </div>
    <div>
      <br />
    </div>
    <div>
      序盤200mを抑えて後半にかけてどんどん出力を上げていく方法をとった結果
    </div>
    <div>
      <br />
    </div>
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEip3sGkRJ7UGvmhEofQP-7fmBV3UCqAm50gP6A9E37uWUWIZmE3l8h0MJh2T-mWTWeAQqocOmZMWxvzdnv_rFXa4eqhNJUjfUOH2ui3Lq5VjuWKnBJkvYKXP2cueNr4PqjZuO8pgwMxVdM/s1600/power.png"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                height="40"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEip3sGkRJ7UGvmhEofQP-7fmBV3UCqAm50gP6A9E37uWUWIZmE3l8h0MJh2T-mWTWeAQqocOmZMWxvzdnv_rFXa4eqhNJUjfUOH2ui3Lq5VjuWKnBJkvYKXP2cueNr4PqjZuO8pgwMxVdM/s320/power.png"
                width="320"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            >1mの出力が396wに突入</td
          ></tr
        >
      </tbody>
    </table>
    <div>結構びっくりするようなパワーが出ている🤔</div>
    <div>
      <br />
    </div>
    <div>
      そしてなんとKOMにあと4sというところまで迫る<br />
      <table
        align="center"
        cellpadding="0"
        cellspacing="0"
        class="tr-caption-container"
        style="margin-left: auto; margin-right: auto; text-align: center;"
      >
        <tbody>
          <tr
            ><td style="text-align: center;"
              ><a
                href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEioXKpCDi2-XW8XAtt6F14bfADs6niemzIVuFMnOLWmBK7slcJ5EQVTZqB_FHHKwQZOb3EsHtWj8byUAAnSHvxNC1qOrVblBTeAFV56MmaNE7AgVCpdJNemPOug6EshYErUclESa-JTWfg/s1600/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-09-01+19.30.29.png"
                style="margin-left: auto; margin-right: auto;"
                ><img
                  border="0"
                  src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEioXKpCDi2-XW8XAtt6F14bfADs6niemzIVuFMnOLWmBK7slcJ5EQVTZqB_FHHKwQZOb3EsHtWj8byUAAnSHvxNC1qOrVblBTeAFV56MmaNE7AgVCpdJNemPOug6EshYErUclESa-JTWfg/s400/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-09-01+19.30.29.png"
                /></a
              ></td
            ></tr
          >
          <tr
            ><td class="tr-caption" style="text-align: center;"
              >あとちょっとだった</td
            ></tr
          >
        </tbody>
      </table>
      <br />
      これ、めちゃくちゃ嬉しい<br />
      このチャレンジ始めた頃はアタックしたあと頂上で暫く休憩してたんだけど今日はそのまま走りつづけられた<br
      />
      脚に余裕もある！<br />
      <br />
      強くなってんじゃーん！<br />
      <br />
      <h4>和歌山 ~ 海南:趣味の神社巡りをやる</h4>
    </div>
    <div>海南を越えて更に進むと冷水浦って地域が出てくる</div>
    <div>
      <br />
    </div>
    <div>
      数少ない上りの区間だけど交通量多い &amp; 道悪い &amp;
      トンネル多いで好きではない道
    </div>
    <div>最近迂回路を見つけたので地面に惹かれた青い線を辿って迂回路へ</div>
    <div>
      <br />
    </div>
    <div>そこにいつもは素通りする冷水浦神社なる神社があって</div>
    <div>
      今日は強度は求めてないのでちょっとお参りがてら立ち寄ってみることに
    </div>
    <div>
      <br />
    </div>
    <div>
      <a
        href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhbN4mQ_giU8T7kWM-NwMbO9v34yz8OzQGg47pgX8QFoVvHtwGIEDgqIrKBQ6nyAvL6h9bX7zo9QlzSKOumBPRFFX5A36ix-onYFDGcdgwM1NUY35WfpUy0VT50qXOqhBcHMmOmD6TkGuc/s1600/IMG_20190901_103903.jpg"
        ><img
          border="0"
          height="320"
          src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhbN4mQ_giU8T7kWM-NwMbO9v34yz8OzQGg47pgX8QFoVvHtwGIEDgqIrKBQ6nyAvL6h9bX7zo9QlzSKOumBPRFFX5A36ix-onYFDGcdgwM1NUY35WfpUy0VT50qXOqhBcHMmOmD6TkGuc/s320/IMG_20190901_103903.jpg"
          width="240"
        /></a
      ><a
        href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjq4oWPBPI2k5EOgiKOcH7SnQfLpmxF6etmAKdUDvWXgwbsp-E2pA2Gtzi8wvLPS8ac54V4B9B8CVp9E20SbhpzPGiBYMc5Rdp_lX5NAoqpuw3ibOIgaAnibzWJLuop2dq53JSve5Ern3Q/s1600/IMG_20190901_104418.jpg"
        ><img
          border="0"
          height="240"
          src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjq4oWPBPI2k5EOgiKOcH7SnQfLpmxF6etmAKdUDvWXgwbsp-E2pA2Gtzi8wvLPS8ac54V4B9B8CVp9E20SbhpzPGiBYMc5Rdp_lX5NAoqpuw3ibOIgaAnibzWJLuop2dq53JSve5Ern3Q/s320/IMG_20190901_104418.jpg"
          width="320"
        /></a>
    </div>
    <div>特になにもないんだけど神社好きなんですよねぇ</div>
    <div>この佇まい最高じゃないです？</div>
    <div>
      <br />
    </div>
    <div>こんどはこことは別の須佐神社によってみよう</div>
    <div>
      <br />
    </div>
    <h4>箕島のすき家で昼食</h4>
    <div>
      梅田 ~
      白浜を最安で移動する方法を考えていて、肉体改造はもちろん必要だけどそれ以外で何をするのがベストか？
    </div>
    <div>
      <br />
    </div>
    <div>
      それを考えたとき補給食を持つのは意外とコスパが悪いという事実にたどり着く...
    </div>
    <div>
      <br />
    </div>
    <div>結論としては</div>
    <div>100kmまでは水だけ、補給食なし。</div>
    <div>100km地点にあるすき家でご飯を食べる</div>
    <div>その後どこかで水を補給して走る</div>
    <div>
      <br />
    </div>
    <div>これが最安</div>
    <div>
      <br />
    </div>
    <div>
      今回はすき家で<b>豚しょうが焼きのマヨサラセット</b>を注文する
    </div>
    <div>
      <br />
    </div>
    <div>これ、好き</div>
    <div>
      <br />
    </div>
    <div>
      <a
        href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjaOwRrpqeWjsOph3lwQb8MvN_5NTeJe-hgX2dWPrd05hH8e9z0Hk4iRU3AjYJQlIs053lBlgdCK_OAlwd1zqGJfObyEezz46iADEg13NgIMrEWlnxKw6bUTbkb7z0GKq77MPRaaT6m1W8/s1600/IMG_20190901_112004.jpg"
        ><img
          border="0"
          height="240"
          src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjaOwRrpqeWjsOph3lwQb8MvN_5NTeJe-hgX2dWPrd05hH8e9z0Hk4iRU3AjYJQlIs053lBlgdCK_OAlwd1zqGJfObyEezz46iADEg13NgIMrEWlnxKw6bUTbkb7z0GKq77MPRaaT6m1W8/s320/IMG_20190901_112004.jpg"
          width="320"
        /></a>
    </div>
    <div>
      <br />
    </div>
    <div>
      <br />
    </div>
    <h4>箕島 ~ 湯浅</h4>
    <div>田村の海岸で記念写真を</div>
    <div>
      <br />
    </div>
    <div>見てくださいこの海と空！</div>
    <div>
      <br />
    </div>
    <div>そして輝く僕の相棒</div>
    <div>
      <table
        align="center"
        cellpadding="0"
        cellspacing="0"
        class="tr-caption-container"
        style="margin-left: auto; margin-right: auto; text-align: center;"
      >
        <tbody>
          <tr
            ><td style="text-align: center;"
              ><a
                href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgEBLmFERnv-wC0xmlw9ZmU3TP-TRfQm5YW8RoagIgJ_8YsTTYt1dwqHKAO5QBEQZaK236A_A3uGqYDU5EbDs8M30zw7Qg16GQHxlAJh8ESoLeLwMxauuxpZWV80HB0Q3zwX9PagKeXPEI/s1600/PANO_20190901_114627.vr.jpg"
                style="margin-left: auto; margin-right: auto;"
                ><img
                  border="0"
                  height="111"
                  src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgEBLmFERnv-wC0xmlw9ZmU3TP-TRfQm5YW8RoagIgJ_8YsTTYt1dwqHKAO5QBEQZaK236A_A3uGqYDU5EbDs8M30zw7Qg16GQHxlAJh8ESoLeLwMxauuxpZWV80HB0Q3zwX9PagKeXPEI/s320/PANO_20190901_114627.vr.jpg"
                  width="320"
                /></a
              ></td
            ></tr
          >
          <tr
            ><td class="tr-caption" style="text-align: center;"
              >&nbsp;もう少し南下すると伝説のアニメAirの聖地が待っている</td
            ></tr
          >
        </tbody>
      </table>
    </div>
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEg2T_yF6PzIDpJCRRuaSuygQ0mUTzxLJCsyaHrGqRUenmCcHfp555tfPva1c1zVYJ1-Ko8i9Iv9MkoJ-FzxEo35fqFpFppzze-n1OX1yT0fJ4x90WIFVMnIYGb_Ly0szHRXLDWF7u7sJkQ/s1600/IMG_20190901_114646-EFFECTS.jpg"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                height="240"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEg2T_yF6PzIDpJCRRuaSuygQ0mUTzxLJCsyaHrGqRUenmCcHfp555tfPva1c1zVYJ1-Ko8i9Iv9MkoJ-FzxEo35fqFpFppzze-n1OX1yT0fJ4x90WIFVMnIYGb_Ly0szHRXLDWF7u7sJkQ/s320/IMG_20190901_114646-EFFECTS.jpg"
                width="320"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;">美しいでしょ！</td
          ></tr
        >
      </tbody>
    </table>
    <br />
    <div></div>
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhqI82YI2pR6kMP0iT0EjVaiN0fPA1WkYZjAmHwwlVPJo8Z7vNfRHUxT-ntFMSGa6sWfaXnkhREgteoBvxDP_Cs9rHztxuqfKJY2OKlKju0wzSqq2Yl2mIdPcMpYxfSgkoEZPnCoohQplg/s1600/IMG_20190901_121210.jpg"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                height="240"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhqI82YI2pR6kMP0iT0EjVaiN0fPA1WkYZjAmHwwlVPJo8Z7vNfRHUxT-ntFMSGa6sWfaXnkhREgteoBvxDP_Cs9rHztxuqfKJY2OKlKju0wzSqq2Yl2mIdPcMpYxfSgkoEZPnCoohQplg/s320/IMG_20190901_121210.jpg"
                width="320"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            >醤油発祥の地湯浅には湯浅城という宿泊施設がある</td
          ></tr
        >
      </tbody>
    </table>
    <div>
      <br />
    </div>
    <h4>湯浅 ~ 南部</h4>
    <div>御坊のローソンで最後の補給</div>
    <div>
      <br />
    </div>
    <div>
      ここでは水だけ買うつもりだったけどどうしてもアイスが食べたくなって手を出してしまった
    </div>
    <div>
      <br />
    </div>
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgeOXBpvxZxdY0HUjkcOOr5k_kRorPYcIWinVoTD0Fla2xCv_Bs37i4evGKbbZLtdM7kTsAOH6np0Luwc198zrGNGK57FrTsayVSZgRp6uMDEUIxDLd_8aWqdwjiAZf_4aRHKx2uRkDgCc/s1600/IMG_20190901_131542.jpg"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                height="320"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgeOXBpvxZxdY0HUjkcOOr5k_kRorPYcIWinVoTD0Fla2xCv_Bs37i4evGKbbZLtdM7kTsAOH6np0Luwc198zrGNGK57FrTsayVSZgRp6uMDEUIxDLd_8aWqdwjiAZf_4aRHKx2uRkDgCc/s320/IMG_20190901_131542.jpg"
                width="240"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            >sacreの美味しさ<br />
            暑い日にしびれる酸っぱさ</td
          ></tr
        >
      </tbody>
    </table>
    <div>
      <br />
    </div>
    <div>御坊にはまるでログハウスのような作りのローソンがある</div>
    <div>そこから南部の小学校までの18.7kmにもKOMがある。</div>
    <div>KOMというか普通にTT区間なような気も🤔</div>
    <div>
      <br />
    </div>
    <div>
      この区間、以前に33:25で走破していて全体で10位の早さでランクインしてる
    </div>
    <div>
      <br />
    </div>
    <div>今日は調子が良かったのでここでもアタックを打つことに</div>
    <div>(強度を求めないとは一体何だったのか...)</div>
    <div>
      <br />
    </div>
    <div>
      ここの区間には長い登攀はないものの小刻みなアップダウンが地味に辛い区間
    </div>
    <div>
      登りで落としすぎるわけにもいかないが平坦、下りで休むとKOMには届かない
    </div>
    <div>
      <br />
    </div>
    <div>
      <a
        href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhIgIellY9iugah-oSUcAv8U_zDWoMU5oay8JseRRKURuS7LZSL7KhyphenhyphenBJ3nKIi9WsOLOvKJe09hJI-pmWeyCEMLS5Sy6ycPTqZJS9Q9pEcLZbbX0k4ttSuoeUIk-TbS4C74sSiEhcrV0uQ/s1600/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-09-01+19.48.52.png"
        ><img
          border="0"
          height="77"
          src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhIgIellY9iugah-oSUcAv8U_zDWoMU5oay8JseRRKURuS7LZSL7KhyphenhyphenBJ3nKIi9WsOLOvKJe09hJI-pmWeyCEMLS5Sy6ycPTqZJS9Q9pEcLZbbX0k4ttSuoeUIk-TbS4C74sSiEhcrV0uQ/s320/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-09-01+19.48.52.png"
          width="320"
        /></a>
    </div>
    <div>
      <br />
    </div>
    <div>
      登りは可能な限りダンシングで踏み続け、平坦はなるべく回して40km以上の速度をキープ。下りはエアロポジションで加速する方法をとって耐える
    </div>
    <div>
      <br />
    </div>
    <div>
      サイコンは20mに一度自動的にラップを更新するように設定してるんですがこの区間を走行中に二度ラップが更新されたので記録更新は厳しそうだ...なんて考えながらも踏み続ける
    </div>
    <div>
      <br />
    </div>
    <div>
      計測終了地点手前ではもうダンシングする余裕すらない状態だったがそれでも踏み続けた結果
    </div>
    <div>
      <br />
    </div>
    <div>
      <a
        href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiDjeUNKck-9UGW9LsewAjB06RhJtjlEhze9V2zqvK9luGaMqk8tAJikiVhwhLB6454vATGNE1yWlyqYDMoXviR4Xawq_hDBmTd43WGaZHnF1ggPFOEPkNSG5EyKW6eNcOy27av_VP99bM/s1600/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-09-01+19.45.52.png"
        ><img
          border="0"
          height="49"
          src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiDjeUNKck-9UGW9LsewAjB06RhJtjlEhze9V2zqvK9luGaMqk8tAJikiVhwhLB6454vATGNE1yWlyqYDMoXviR4Xawq_hDBmTd43WGaZHnF1ggPFOEPkNSG5EyKW6eNcOy27av_VP99bM/s320/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-09-01+19.45.52.png"
          width="320"
        /></a>
    </div>
    <div>
      <br />
    </div>
    <div>やったぜ！</div>
    <div>
      <br />
    </div>
    <div>1sだけ更新！</div>
    <div>
      <br />
    </div>
    <div>やりましたよ！</div>
    <div>
      <br />
    </div>
    <div>
      <br />
    </div>
    <h4>南部 ~ 白浜</h4>
    <div>南部の区間で頑張りすぎた反動で最後の区間は特に面白いこともなく</div>
    <div>
      <br />
    </div>
    <div>ただただ耐えながら走ってゴール</div>
    <div>
      <br />
      走行距離174.4km<br />
      8時間で完走<br />
      走破にかかった費用<br />
      すき家でお昼ごはん =&gt; 660円
    </div>
    <div>
      水とアイス =&gt; 250円<br />
      合計 =&gt; 910円<br />
      <br />
      <b>SA☆I☆YA☆SU</b><br />
      <h4>Stage.2</h4>
    </div>
    <div>明日は30kmのショートコース</div>
    <div>多分1時間ちょっとで終わるくらいなので実質休み</div>
    <div>
      <br />
    </div>
    <div>明後日からの200km連発に備えるステージ</div>
    <div>
      <br />
    </div>
    <div>
      <br />
    </div>
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEge7cLERgG3HNuszvm_0SOMTI2C2t_HoAuu5aDnCyrcNZyKF-kWFkYAW5zJsn8AE2ijVz7lpbJhRYLhshJXxCfObWQ8bYCvlL7ZuxI-jazb93sTP1E9un6oUEEoobYfxbU3QrAO0D6n1sc/s1600/IMG_20190901_170001.jpg"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                height="240"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEge7cLERgG3HNuszvm_0SOMTI2C2t_HoAuu5aDnCyrcNZyKF-kWFkYAW5zJsn8AE2ijVz7lpbJhRYLhshJXxCfObWQ8bYCvlL7ZuxI-jazb93sTP1E9un6oUEEoobYfxbU3QrAO0D6n1sc/s320/IMG_20190901_170001.jpg"
                width="320"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            >このルブめっちゃ良かった</td
          ></tr
        >
      </tbody>
    </table>
    <div>
      <br />
    </div>
    <div>
      <br />
    </div>
    <div>
      <a
        href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEi4ky8XSREQvDEjtPIdOqT0w8FHiaWl5TRLDfC2p9b9Qz3nvCRdXIqQ7h3uRznkvjTeShKzJvq7EAXoFKJwZLfX_-V25NfvRvbpjDDRuNP_Ij9CMJgZQemWmPrWWmWV04olp0mMijcExR8/s1600/IMG_20190901_164147.jpg"
        ><img
          border="0"
          height="240"
          src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEi4ky8XSREQvDEjtPIdOqT0w8FHiaWl5TRLDfC2p9b9Qz3nvCRdXIqQ7h3uRznkvjTeShKzJvq7EAXoFKJwZLfX_-V25NfvRvbpjDDRuNP_Ij9CMJgZQemWmPrWWmWV04olp0mMijcExR8/s320/IMG_20190901_164147.jpg"
          width="320"
        /></a>
    </div>
    <div>バイクの整備もしたし、今日は疲れたので早めに寝よう</div><div>
      <br />
    </div><div>
      <a
        href="https://blog.great-distance.com/2019/09/greatdistance-stage2.html"
        >2日目のレポートはこちら！</a>
    </div>
  

</ArticleTemplate></Layout>