---
import Layout from "../../layouts/Layout.astro";
import { ArticleTemplate } from "../../templates/ArticleTemplate";
const title = "GreatDistance Stage.20 レポート";
const category = "CYCLING";
const thumbnail = "/thumbnails/2019-09-26-GreatDistance Stage.20 レポート.jpg";
---

<Layout title={title}>
  <ArticleTemplate
    title={title}
    thumbnail={thumbnail}
    date={"2019-09-26"}
    category={category}
  >
    <iframe
      allowtransparency="true"
      frameborder="0"
      height="405"
      scrolling="no"
      src="https://www.strava.com/activities/2740423536/embed/7a2d611aab294b965ce219ea2acdb74278bcfdc6"
      width="590"></iframe>

    <br />
    <h3>今日のコース</h3>
    珍しく昨日書いたコースを走ったぞぃ<br />
    白浜 ~ 串本を往復する130kmのコース<br />
    前にも走ったからコース的に特筆するところは無いんだけどトータルでついに2834kmまで走った。<br
    />
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgbCnDh294oqW_X7gjjUZtd23xDfd779UwzyAHimRFZYBYzV1x3PIs9pMI8VFUOZuut0h-mJyq2HcJEd_RICt1S5-zQqKy13dcP_EbsqsatoEmoX9dVHW7qfzG4IcSZCJA6ZxWzBzgjXhE/s1600/IMG_20190926_074700.jpg"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                height="320"
                src="/images/articles/2019-09-26-GreatDistance Stage.20 レポート/image-172.jpg"
                width="240"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            >この挑戦もいよいよ明日で最後なんだなぁ</td
          ></tr
        >
      </tbody>
    </table>
    <h3>
      <br />復活の体幹ペダリング
    </h3>
    沼津のときほど上手くできてない気がするけど体幹ペダリングができてる。<br />
    <br />
    なんというか右側の腸腰筋が左側に比べて弱いからかペダリング時に意識的に使えてないなぁって感じ。<br
    />
    多分沼津のときに上手くできてたのは400km走って少なからず疲労が溜まっていて意識しやすかったのが使えた原因に感じる。<br
    />
    昨日走って体幹が疲労していたから今日は意識的に動かせたのではないかという仮説。<br
    />
    <br />
    なんにせよ体幹ペダリングを会得するにはこのまま走り続けることが一番だろうから腸腰筋を疲労させて意識的に動かせるようにするつもり。<br
    />
    <br />
    <h3>270wが気持ち良い</h3>
    膝にビビって走ってたけどやっぱり登攀はダンシングが気持ちいい。<br />
    今日は安静時心拍が47と疲労が抜けた状態になっていたのでめちゃめちゃ踏めた。<br
    />
    <br />
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgUZR4MNiXNLeo72OjW542OusXaQ8Jx5En19zzVc-6Wiup9rZI1SDoJRKscT9ieDJz9_p2FDEzKi1lVandkQPsMLdLuo_P8Ar_v4PVj589pFNpeFcZy0td4RZ4qenFyLvRYLF5Mizq5uBc/s1600/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-09-26+18.00.08.png"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                height="140"
                src="/images/articles/2019-09-26-GreatDistance Stage.20 レポート/image-739.jpg"
                width="320"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            >800mで312w/avgとか300w近辺の出力がバンバン出た</td
          ></tr
        >
      </tbody>
    </table>
    350wで踏んで疲れたら270wで休んでまた350wで踏むみたいなハチャメチャなことやってて気持ちよすぎた。<br
    />
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEh0GitsM6fRWUO48rsscYPiQA1wce3uSBz_MWS9MqrcWqorAwHLB1-sGh0GMcN27PZaxO-KeIkeUL-p2SZv6hcE1tqLZfrWMehDLFPsgGfP8KHc8brsZGJnhrWGQ5bIx3ypgBKy5SiknB4/s1600/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-09-26+18.01.31.png"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                height="172"
                src="/images/articles/2019-09-26-GreatDistance Stage.20 レポート/image-829.jpg"
                width="320"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            >狙ったわけじゃないけど区間8位</td
          ></tr
        >
      </tbody>
    </table>
    1km前後の坂だと300w前後で頂きで息が上がらない。気持ちよすぎる。<br />
    多分270w付近なら結構長いこと踏める気がしてならない。<br />
    <br />
    冷静に考えると270wってパワーウエイトレシオ5w/kgで350wって6w/kgなんだよなぁ<br
    />
    これを1時間前後維持できたら伊吹山とかのヒルクライムレースは年代別ならいい勝負できる出力っぽいんだよなぁ<br
    />
    <br />
    出力をどの程度維持できるかはダンシングをどこまで持続できるかによるからブラケットダンシングと下ハンダンシングを切り替えつつアタックかけるときと休むときで走り方を変えたら40分くらいもたないかなぁ(シッティングに切り替えたら一発で心拍が爆増して終わる)<br
    />
    <br />
    これは明日の由良峠と水越峠と孝子峠でゴリゴリ踏んで羽ばたいてくるしかねぇなぁ<br
    />
    <br />
    <h3>Venge欲しい定期</h3>
    <div>
      なんか9月の頭のほうでOltre欲しいとか言ってたけどFTP300wが目前(推定)に迫ってくるとVengeに魅せられるなぁ
    </div>
    <div>
      <br />
    </div>
    <div>あれ乗ったら100kmを3時間で走るとかも普通にできそうだし</div>
    <div>
      <br />
    </div>
    <div>そうなったら沼津まで12時間でいけるやん</div>
    <div>(完全にハイスピードツアラーバイクとしての扱い)</div>
    <h3>明日のコース</h3>
    あと165kmでGreatDistanceChallangeは完走になる。<br />
    だから明日の白浜 ~ 梅田を完走することで達成になる。<br />
    ここまで来たので何が何でも達成するつもり！<br />
    <br />
    明日に備えて洗車も注油もバッチリずら！<br />
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEggZJs_Hv7YyM0BuU73Z7Li3FkTtc03Ag26cGoZkr_g3xzJAbEd_IgqkPvzt0P7OdE2TvQaKgfP5_7IkKzgdrT0-EUHSfzrqlloxpTLGcniJJxf9Ul3653CD8RHVQb7nu-tEnPW6loLwTE/s1600/IMG_20190926_165207.jpg"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                height="240"
                src="/images/articles/2019-09-26-GreatDistance Stage.20 レポート/image-475.jpg"
                width="320"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            >ピカピカスプロケット</td
          ></tr
        >
      </tbody>
    </table>
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjEzkF1eyC2VTrGWg7kBP15R0PxrERZ-HiyFESYz39HYmA8XQisTIg1F2ZHPkJy9jXlSGejJ6kHf6rJOp3vfOb6xYC4jiNm3qOJurX12T5WkXpO6_1CZtu6AMbJvZZSEbsZxEUwhgOwang/s1600/IMG_20190926_161104.jpg"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                height="240"
                src="/images/articles/2019-09-26-GreatDistance Stage.20 レポート/image-506.jpg"
                width="320"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            >めっちゃ洗ったが明日大阪に着く頃には真っ黒さ</td
          ></tr
        >
      </tbody>
    </table>
    <br />
    <br /><a
      href="https://blog.great-distance.com/2019/09/greatdistance-stage21.html"
      >遂に完走！ 21日目のレポート！！！！！</a
    >
  </ArticleTemplate>
</Layout>
