---
import Layout from "../../layouts/Layout.astro";
import { ArticleTemplate } from "../../templates/ArticleTemplate";
const title = "GreatDistance Stage.4 レポート";
const category = "CYCLING";
const thumbnail = "/thumbnails/2019-09-05-GreatDistance Stage.4 レポート.jpg";
---


    <iframe
      allowtransparency="true"
      frameborder="0"
      height="405"
      scrolling="no"
      src="https://www.strava.com/activities/2678085038/embed/1209e0efbf1a6fc989b61e2aa7ceaf826f8249a3"
      width="590"></iframe>

    <br />
    <br />
    今日のコースは昨日の逆順<br />
    <br />
    雨の影響いろいろ<br />
    <br />
    今日はSleep-Lowはやらなかった<br />
    <br />
    というのも走り出しの時点で補給到達時点で雨が降っている可能性がありコンビニで身体を冷やしたくなかったため。<br
    />
    補給量を減らすために朝食とプロテイン60gとブラックコーヒーを飲んで走り出す<br
    />
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiSdQ2j5SlHdMXngGlB_gMd9eyy_7uJlqWCFOMX17MT_jl6wDJM7jMrZnWEmw1EucYRSwXafMKElDVXDvoFwFU3cK_-2pIiDlPPz3qnFyAYbjJ3BhdljKXSXm1pg6rxf3aVU0Viswp9kHg/s1600/IMG_20190904_055351.jpg"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                height="240"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiSdQ2j5SlHdMXngGlB_gMd9eyy_7uJlqWCFOMX17MT_jl6wDJM7jMrZnWEmw1EucYRSwXafMKElDVXDvoFwFU3cK_-2pIiDlPPz3qnFyAYbjJ3BhdljKXSXm1pg6rxf3aVU0Viswp9kHg/s320/IMG_20190904_055351.jpg"
                width="320"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;">虹も出ていた</td
          ></tr
        >
      </tbody>
    </table>
    <div>
      <br />
    </div>
    <h3>最後まで自己最速を更新し続けた</h3>
    <div>まず串本(66km)まで2時間15分で走破</div>
    <div>
      <br />
    </div>
    <div>那智勝浦(100km)まで3時間22分で走破</div>
    <div>
      先週100kmを3時間半で走って最速だーって喜んだところですがいきなり更新
    </div>
    <div>
      <br />
    </div>
    <div>ここまでの100kmは無補給で走破している。</div>
    <div>
      <br />
    </div>
    <div>
      最初の100kmの平均出力は159w、平均心拍は133bpmだったのでしっかり脂質を燃料に走破できた様子
    </div>
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhtlwfolWVrEmUZtrnmF0Wxyn9A7omMjJEkn1WeaDJ_hxc5YOVZObNyqIefyPlCIwhdg7ShW_mWw0Pm85ODa5A3mttoLSI5iEiYzRM9bAJT8WEHR5h6MUDA8RGUA_kh9-k1dGwNIO2_gks/s1600/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-09-04+18.51.30.png"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                height="197"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhtlwfolWVrEmUZtrnmF0Wxyn9A7omMjJEkn1WeaDJ_hxc5YOVZObNyqIefyPlCIwhdg7ShW_mWw0Pm85ODa5A3mttoLSI5iEiYzRM9bAJT8WEHR5h6MUDA8RGUA_kh9-k1dGwNIO2_gks/s320/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-09-04+18.51.30.png"
                width="320"
              /></a
            ></td
          ></tr
        >
        <tr><td class="tr-caption" style="text-align: center;"><br /></td></tr>
      </tbody>
    </table>
    <div>それだけでもこのトレーニングを取り入れた価値はあった</div>
    <div>今後も続けようとおもう</div>
    <div>
      <br />
    </div>
    <div>120km ~ 157kmまでは登り</div>
    <div>
      そこでの平均出力は161w、疲れからか平均心拍はあがるものの145bpmで収まった
    </div>
    <div>
      <br />
    </div>
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjTBzx4zhuTZyzDY_gs-y4bz2Pfy1Qs_8kOeWdz2KIhAmHXGrsJuuvnnYt-D3HzZBPbpMZsy8Sx1CoxXxyLQ3YDxBQrVvoxBvMe2l5fDc1a_1Z62uLJxHHyFGuxhyPWpoWzUjX3mcjFD3c/s1600/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-09-04+18.54.46.png"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                height="196"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjTBzx4zhuTZyzDY_gs-y4bz2Pfy1Qs_8kOeWdz2KIhAmHXGrsJuuvnnYt-D3HzZBPbpMZsy8Sx1CoxXxyLQ3YDxBQrVvoxBvMe2l5fDc1a_1Z62uLJxHHyFGuxhyPWpoWzUjX3mcjFD3c/s320/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-09-04+18.54.46.png"
                width="320"
              /></a
            ></td
          ></tr
        >
        <tr><td class="tr-caption" style="text-align: center;"><br /></td></tr>
      </tbody>
    </table>
    <div>
      <h4>200kmの最速記録を大きく更新する</h4>
    </div>
    <div>
      Stage.3で9時間ほどで完走して早いなぁって言ってたら翌日7時間で完走するという快挙を成し遂げた
    </div>
    <div>
      <br />
    </div>
    <div>この速度の維持に必要だったと思われるものは</div>
    <div>
      <ul>
        <li>脂質使用量の向上</li>
        <li>ペダリングスキルの向上</li>
        <li>長時間の平均出力の向上</li>
      </ul>
    </div>
    <div>
      この中で脂質の話とペダリングスキルの話は以前記事にまとめたのでそちらを参照していただきたい<br
      />
      <br />
      <h4>LSDはFTPに影響するのか？</h4>
      パワートレーニングと言えばSSTとかFTP10分走だと思っていたけどニセコクラシック総合優勝者の松木健治さん曰くLSDでも高強度に効くとのこと。<br
      />
      <br />
      松木さん曰く150bpmで30km/hしか出せなかったのがLSDを続けると120bpmで30km/h出せるようになってくる(速度に対して心拍が下がる)<br
      />
      <br />
      つまり150bpmのときに出せる速度はより向上しないとおかしいという話だそう。<br
      />
      120bpmでも30km/hで150bpmでも30km/hというのはあり得ないと<br />
      <br />
      松木さんはLSDで月に2000km走ったそう。その生活を3ヶ月続けた結果飛んでっもない速さになったという話を<a
        href="https://www.amazon.co.jp/%E6%9C%80%E5%BC%B7%E3%83%9B%E3%83%93%E3%83%BC%E3%83%AC%E3%83%BC%E3%82%B5%E3%83%BC6%E4%BA%BA%E3%81%8C%E6%95%99%E3%81%88%E3%82%8B-%E3%83%AD%E3%83%BC%E3%83%89%E3%83%90%E3%82%A4%E3%82%AF%E3%83%88%E3%83%AC%E3%83%BC%E3%83%8B%E3%83%B3%E3%82%B0-%E3%83%AD%E3%83%BC%E3%83%89%E3%83%90%E3%82%A4%E3%82%AF%E7%A0%94%E7%A9%B6%E4%BC%9A-ebook/dp/B07TXY3ZDF/ref=sr_1_4?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&keywords=%E3%83%AD%E3%83%BC%E3%83%89%E3%83%90%E3%82%A4%E3%82%AF%E3%83%88%E3%83%AC%E3%83%BC%E3%83%8B%E3%83%B3%E3%82%B0&qid=1567681642&s=gateway&sr=8-4"
        >この本</a
      >に書かれてた。<br />
      <br />
      GreatDistanceChallangeを始める前まではなるほど...🤔?<br />
      と思っていたのですが自分で出したこの結果を見て「あの話は本当だったんだ！」と思いつつあります。<br
      />
      <br />
      結論、<br />
      LSDは高強度でも効果がある！<br />
      <br />
      <h3>明日のコース</h3>
      初日の逆向きで白浜 ~ 大阪に戻るコース<br />
      大阪府内は信号も車も多くてとてもつかれるので実はあまり好きじゃないのですが...<br
      />
      <br />
      <br />
    </div>
    <div>
      <a
        href="https://blog.great-distance.com/2019/09/greatdistance-stage5.html"
        >5日目のレポートはこちら！</a>
    </div>
    <div>
      <br />
    </div>
    <div>
      <br />
    </div>
  

</ArticleTemplate></Layout>