---
import Layout from "../../layouts/Layout.astro";
import { ArticleTemplate } from "../../templates/ArticleTemplate";
const title = "お礼参りライド　熊野古道ヒルクライム1日前";
const category = "CYCLING";
const thumbnail =
  "/thumbnails/2019-11-02-お礼参りライド　熊野古道ヒルクライム1日前.jpg";
---

<Layout title={title}>
  <ArticleTemplate
    title={title}
    thumbnail={thumbnail}
    date={"2019-11-02"}
    category={category}
  >
    <iframe
      allowtransparency="true"
      frameborder="0"
      height="405"
      scrolling="no"
      src="https://www.strava.com/activities/2834330217/embed/9a6dba545145ce9447c93ca98fe44c3f989b05e4"
      width="590"></iframe>
    <br />
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr>
          <td style="text-align: center;">
            <a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgE3t-sndABTX2ds1bgpN3hCPUNEk9CZbmNN-9h686qsFiBusUOMP30P9rUFJp5k_7MW4crPP7uOe7GTOmCm1rPbWtReumeZ-t3Ep6wWX_e5PB4eqCp4Zopm_vvmU3CbOaoM5toIlftdd8/s1600/EFFECTS.jpg"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
            >
              <img
                border="0"
                height="240"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgE3t-sndABTX2ds1bgpN3hCPUNEk9CZbmNN-9h686qsFiBusUOMP30P9rUFJp5k_7MW4crPP7uOe7GTOmCm1rPbWtReumeZ-t3Ep6wWX_e5PB4eqCp4Zopm_vvmU3CbOaoM5toIlftdd8/s320/EFFECTS.jpg"
                width="320"
              />
            </a>
          </td>
        </tr>
        <tr>
          <td class="tr-caption" style="text-align: center;"
            >ちょうどいいタイミングでご来光と遭遇</td
          >
        </tr>
      </tbody>
    </table>
    <br />
    9月には3000km走れるように何度もお参りしていたが10月に入っていこう一度もお礼参りにいけてなかった。
    <br />
    お願いしたなら結果の報告をするのは当然のこと。
    <br />
    熊野古道ヒルクライムの前日、ついに帰省できたのもあって無事達成したということをご報告しに走った
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr>
          <td style="text-align: center;">
            <a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjcVvFNgajQhhRQext1U_TjrFi2MvjPVsppiwvSjjpNhUuSV1YdCDx6gpv_zhnQucvQrL1oztfCMUdazk2q8SJS2E5egCXTmGvIqwHt6bDdYy1KL-C__AcCsJcn1x4LSU101-GLIkpl0Z0/s1600/IMG_20191102_092321.jpg"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
            >
              <img
                border="0"
                height="320"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjcVvFNgajQhhRQext1U_TjrFi2MvjPVsppiwvSjjpNhUuSV1YdCDx6gpv_zhnQucvQrL1oztfCMUdazk2q8SJS2E5egCXTmGvIqwHt6bDdYy1KL-C__AcCsJcn1x4LSU101-GLIkpl0Z0/s320/IMG_20191102_092321.jpg"
                width="240"
              />
            </a>
          </td>
        </tr>
        <tr>
          <td class="tr-caption" style="text-align: center;">
            WAKAYAMA800のバイクラック<br />
            引っ掛けるところが高すぎてバイクが完全に浮いてる<br />
            かけるのに苦労した
          </td>
        </tr>
      </tbody>
    </table>
    <h3>新しい心拍計と最大心拍</h3>
    やはりGARMINの心拍計は壊れている(心拍が高く出過ぎる。出力0のときに200とか)ということもあり10月にはほとんど心拍計を使用せずすごしていたが流石にシーズン最後のレースにおいて使わないわけにはいかない。
    <br />
    で、CATEYEの安い心拍計を見つけたので購入した。 熊野古道ヒルクライム前に正しく動作するのか確認しておきたかったしつけて走る。
    <br />
    問題なく心拍が表示される。接続は申し分なく切れることもない。 あとで知ったが家を出て早々に最大心拍数が196を記録していた。
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr>
          <td style="text-align: center;">
            <a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhgLev6ZWs-16sLzM40xv1b8X6qE2lW3Hg6wAdVefkCFOt_S9cg4ss8Wx2Ya8t5GA1U3tp5b1lHFwe8JDt7enpQVxFcZKAw7wY1LXq4Lcd9GWygsp9WpxR3FvrQH6d3hHrQJZWMzvg8Vsc/s1600/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-11-02+18.29.07.png"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
            >
              <img
                border="0"
                height="118"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhgLev6ZWs-16sLzM40xv1b8X6qE2lW3Hg6wAdVefkCFOt_S9cg4ss8Wx2Ya8t5GA1U3tp5b1lHFwe8JDt7enpQVxFcZKAw7wY1LXq4Lcd9GWygsp9WpxR3FvrQH6d3hHrQJZWMzvg8Vsc/s320/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-11-02+18.29.07.png"
                width="320"
              />
            </a>
          </td>
        </tr>
        <tr>
          <td class="tr-caption" style="text-align: center;">
            大した出力でもないのに心拍が高すぎる
          </td>
        </tr>
      </tbody>
    </table>
    心拍が高く出過ぎるのは以前の心拍計でもよくあった事だが新しい心拍計に移行しても発生するということはもしかしたら本当にそこまで心拍上がっているのかもしれない。
    Stravaのログで見る限り出力もそこまで高くないし... 心臓発作ですかね？🤔🤔
    <h3>ハンガーノック</h3>
    朝練するとお昼にお腹が空いて仕方ないのでよく食べていたら体重が増えた。 一時期53kg台まで落ちた体重も56kgまで増え、ヒルクライマーを自称できなくなっていたので減量していた。
    <br />
    一回の食事量を減らすようにし高タンパク、低糖質、高食物繊維な食事を心がけることで毎日200gずつ減量しいた。そして今日、60km地点でハンガーノックになり糖質が足りないということを明確に自覚した。
    結局、ハンガーノックの状態で13kmの登りをこなしてスーパーで補給することにした
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr>
          <td style="text-align: center;">
            <a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjd-233cmvNdno6DzYdKNdBVsec1lAUYncOoj8vQpMgR_6ixvr52ytQHSmA5AHn6bjzkN375n4zOqoAfWswGHbwN28ZxFaNHtw6pXw1TvY_qiijCBMgFJag-alx_ywmCaC-qWPGFcaSJo4/s1600/IMG_20191102_104518.jpg"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
            >
              <img
                border="0"
                height="320"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjd-233cmvNdno6DzYdKNdBVsec1lAUYncOoj8vQpMgR_6ixvr52ytQHSmA5AHn6bjzkN375n4zOqoAfWswGHbwN28ZxFaNHtw6pXw1TvY_qiijCBMgFJag-alx_ywmCaC-qWPGFcaSJo4/s320/IMG_20191102_104518.jpg"
                width="240"
              />
            </a>
          </td>
        </tr>
        <tr>
          <td class="tr-caption" style="text-align: center;">
            登攀完了したので休憩した。<br />
            L2出力をキープするのが限界だった
          </td>
        </tr>
      </tbody>
    </table>
    が、明日の熊野古道ヒルクライムで山頂までグリコーゲンが保てるのか心配になった...
    <h3>洗車</h3>
    実家は田舎なので誰に気兼ねすることもなくバイクを洗うことができるのでとても良い。
    週末はずっと雨が続いておりなかなか洗うことができなかったから久々にピカピカのバイクになった
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr>
          <td style="text-align: center;">
            <a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEj8CPMH9dwSJfZFVN59RQu0Tg_sPugC6s6LzNR_7wL-VQO4bPURl_F47Jpx83_bzmdPAbDjA4Rr-233LUHBhUmQrXb21umrzRlbeniIpGFHHPxTvyPh8IJ7fMMVZzy8zi_ZclCQQiRYwEU/s1600/IMG_20191102_142456.jpg"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
            >
              <img
                border="0"
                height="320"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEj8CPMH9dwSJfZFVN59RQu0Tg_sPugC6s6LzNR_7wL-VQO4bPURl_F47Jpx83_bzmdPAbDjA4Rr-233LUHBhUmQrXb21umrzRlbeniIpGFHHPxTvyPh8IJ7fMMVZzy8zi_ZclCQQiRYwEU/s320/IMG_20191102_142456.jpg"
                width="240"
              />
            </a>
          </td>
        </tr>
        <tr>
          <td class="tr-caption" style="text-align: center;">
            このフレームのグロスがセクシー！(ちょっと前に流行った激寒ワード)
          </td>
        </tr>
      </tbody>
    </table>
    このあとしっかり注油して問題なさそうだったので準備は完了
    <h3>11月の目標について</h3>
    10月にやはり明確でわかりやすい目標が無いと水と同じで低いところへ流れてしまうなと痛感した。
    1500kmくらいは走るかと思ったが結局1300kmに届かないくらいの距離しか走れてない。
    9月と大きな差だと痛感した。 来年は和歌山開催のレースでは優勝や表彰台を取りに行くと宣言しているし口だけ番長にならないよう気持ちを入れ替える必要がある。
    だから11月は2000km走ることにした。 GreatDistanceをお仕事しながらも続けるということ。
    難しいかは11月が終わるまでわからないけどたかだか2000kmも走れないようならそれまでのライダーだったと思うしまた今は強くなるために何でもやっていく
    だからまず距離を走ることから始めなおそうと思う。
    <h3>明日のレース</h3>
    <iframe
      allowtransparency="true"
      frameborder="0"
      height="405"
      scrolling="no"
      src="https://www.strava.com/activities/1261895555/embed/49f1e65817f3db847b2be3935f3a5474531079ff"
      width="590"></iframe>
    一昨年走ったコースだが6kmのパレードランのあとに24kmを走る。 コース内に5kmの下りないしは平坦っぽいところを走るため、ここで脚を回復させつつ速度を維持できることが重要。
    目標は65分を切りたい所存だが実際は70分台になってしまいそうだ。 9月の肉体強化でどこまで走れるようになったのかが試される
    喜ばしい結果を得られるのか、それとも壁の大きさを痛感するのかは明日、レースが終わってみないとわからない。
    明日のレースのレポートを書くとき自分の指が踊っていることを願わんばかりである。
  </ArticleTemplate>
</Layout>
