---
import Layout from "../../layouts/Layout.astro";
import { ArticleTemplate } from "../../templates/ArticleTemplate";
const title = "ブログを始めた";
const category = "サイクリング";
const thumbnail = "/thumbnails/2019-08-12-ブログを始めた.jpg";
---

<Layout title={title}>
  <ArticleTemplate
    title={title}
    thumbnail={thumbnail}
    date={"2019-08-12"}
    category={category}
  >
    <div class="article-content">
      <h3>ブログ始めた理由</h3>
      <p>
        2019年9月から有給消化の期間が始まって1ヶ月間仕事しなくなるのでフィジカルを強化するために21日で3500kmを走るチャレンジをやってみようと思った。
      </p>
      <p>
        ブログはその備忘録として、また今後同じ挑戦をしようとする<s>変態</s
        >同好の士が参考にできるよう公の場に情報を残そうと思った。
      </p>
    </div>

    <style>
      article {
        margin-top: 15px;
        margin-bottom: 5px;
      }

      li {
        list-style-type: circle;
        margin-left: 20px;
        margin-bottom: 3px;
      }
    </style>
  </ArticleTemplate>
</Layout>
