---
import Layout from "../../layouts/Layout.astro";
import { ArticleTemplate } from "../../templates/ArticleTemplate";
const title = "GreatDistance Stage.18 レポート";
const category = "CYCLING";
const thumbnail = "/thumbnails/2019-09-24-GreatDistance Stage.18 レポート.jpg";
---

<Layout title={title}>
  <ArticleTemplate
    title={title}
    thumbnail={thumbnail}
    date={"2019-09-24"}
    category={category}
  >
    <iframe
      allowtransparency="true"
      frameborder="0"
      height="405"
      scrolling="no"
      src="https://www.strava.com/activities/2735053357/embed/710aeeb58dc6989d2a6627b6adbc51bc0bb6dcc5"
      width="590"></iframe><br />
    <table
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="float: right; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjn-zYRNbTvjEAQU5BrawDjMsKaat48bEG83giBXBPQKt8eBW9RKfT71E8Dy4aghc5UHUqHy0K_ib9BtO8e431kV8b8IsJ4-0kvkEGKzVMeDjPUeAujiGGV1ax5S-w9bsSFj0XMHZuLuvo/s1600/IMG_20190923_134827.jpg"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                height="320"
                src="/images/articles/2019-09-24-GreatDistance Stage.18 レポート/image-897.jpg"
                width="240"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            >沼津に戻りたい...</td
          ></tr
        >
      </tbody>
    </table>
    <br />
    <h3>今日のコース</h3>
    Stage.1の再来として梅田 ~ 白浜のコース<br />
    今月すでに3回通ってるおなじみのコース<br />
    <br />
    お馴染みすぎて写真とかは特に無いです。<br />
    <br />
    <b>走りで勝負です！</b><br />
    <br />
    心拍計が反応しなくなりました。(´・ω・｀)<br />
    なので心拍の情報が取れて無くて分析としては不十分かも<br />
    <h3></h3>
    <h3>梅田 ~ 泉佐野まで</h3>
    <div>
      トレーニングの成果が如実に出ていて250w近辺で踏むことが全く苦じゃなくなった。
    </div>
    <div>呼吸が楽で250wなら鼻呼吸で問題ない。筋肉に乳酸がたまらない。</div>
    <div>
      <br />
    </div>
    <div>
      これ、9月頭の自分のFTPより上の出力なんでほぼほぼ間違いなく向上してるんでしょうね。
    </div>
    <div>
      <br />
    </div>
    <div>気持ちよく踏めたんでストップするまでは38km以上でずっと走行。</div>
    <div>
      <br />
    </div>
    <div>一体僕のFTP今いくつあるんだろ...</div>
    <div>
      <br />
    </div>
    <div>ただしLSDばかりやってたのが悪かったのか右膝に痛みが...</div>
    <div>出力に膝がついてこれてないみたいだ</div>
    <div>
      <br />
    </div>
    <div>
      来月から平日は高強度インターバルトレーニングをローラーでやるのでそちらで補強していきたい
    </div>
    <div>
      <br />
    </div>
    <h3>孝子峠TT</h3>
    Stage.1でも好タイムを出していたので今日までの成長を見せつけるためにもここでKOMを獲得したいという思いで本気で踏む。<br
    />
    出し惜しみは無い<br />
    <br />
    登り口から一気に400wオーバーでずっと踏み続ける<br />
    前回KOMを逃したのはゴール地点が思っていたより遠くになっており最後踏みやめたことが原因の一つでもあったので今回は下り区間に入っても暫く踏み続けるという気合の入れよう。<br
    />
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjXa5IEa6Y-X7mOuaZUAQqS-V7IABFyxWmi7u19OM0ivUuohJAxD_Z_kl-jiWHFrC6sWwngN8ZjqIpoVkSAz3PATjZHkE9xofb-5uge8hGRSA14xwq58ri48KqI1MkZTlKl4q8p6o-iZuI/s1600/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-09-24+20.16.32.png"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                height="40"
                src="/images/articles/2019-09-24-GreatDistance Stage.18 レポート/image-636.jpg"
                width="320"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            >わずか25日で1分間の平均出力の上限を13w押し上げることに成功した</td
          ></tr
        >
      </tbody>
    </table>
    <br />
    これはKOM取れたやろ！ということで和歌山のマクドで補給ついでに確認する...<br
    />
    <br />
    タイムは1:57<br />
    月初なら完全にKOM達成タイムだったのだが...<br />
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjyv_-UU81Ici6aTyVWZw_kN7HidFUtGgh32JuBHYwbblwfCjiQvazBdOcfCZ5Kdr-48sJ_EVr9dYcNpeNalnPJ5hLVQzf-MKfayH_-fQrZvqDojjhcaYjwF5RTlb-92rw2HJx-Db9GVKw/s1600/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-09-24+20.18.51.png"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                height="156"
                src="/images/articles/2019-09-24-GreatDistance Stage.18 レポート/image-997.jpg"
                width="320"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            >同じことを考えていた人がいたみたい<br />
            でもいろんな峠で真面目に走れば上位10%以内に入れるくらいには出力が向上してるみたい</td
          ></tr
        >
      </tbody>
    </table>
    <br />
    なんと！9/20にKOMのタイムが更新されていて今は1:55<br />
    <br />
    今度は2秒届かなかった(´・ω・｀)<br />
    <br />
    それでも2分を切るのは相当の成長がある！<br />
    <br />
    僕の走ってきた時間は確実に効果があったんだ！ってはっきりわかる<br />
    <br />
    これはKOMまで時間の問題ですよ<br />
    <br />
    <br />
    <br />
    <iframe
      allowtransparency="true"
      frameborder="0"
      height="405"
      scrolling="no"
      src="https://www.strava.com/activities/2735379434/embed/d455d1de1ab2165c0b507a0c94d5a77a63831e9a"
      width="590"></iframe>

    <br />
    <h3>ダンシング！ダンスなう！</h3>
    <div>
      月中から取り組んできたダンシングが強力なので後半戦の登攀もダンシングでゴリゴリ走ります。<br
      />
      <br />
      湯浅と御坊を股にかける水越峠TTですがこの3kmの峠も90%ダンシングで登攀！<br
      />
      <table
        align="center"
        cellpadding="0"
        cellspacing="0"
        class="tr-caption-container"
        style="margin-left: auto; margin-right: auto; text-align: center;"
      >
        <tbody>
          <tr
            ><td style="text-align: center;"
              ><a
                href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjJaAPM6vIxHSxrbRSVFxOfzJM2MbnDVX_HHZEw1DewxJtaz_RHGP6cBH3ytZM_N6oxKLypvQLNsmkuj6rSuRTqlTWZBzM7VXGWod_YrkCode-IpGAVjzfDH9VGm4YpS0owg5uOpW7EdNs/s1600/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-09-24+20.32.13.png"
                style="margin-left: auto; margin-right: auto;"
                ><img
                  border="0"
                  height="174"
                  src="/images/articles/2019-09-24-GreatDistance Stage.18 レポート/image-249.jpg"
                  width="320"
                /></a
              ></td
            ></tr
          >
          <tr
            ><td class="tr-caption" style="text-align: center;"
              >平均240wで登攀できてる。<br />
              出力が月初に比べて30wくらい上がってる</td
            ></tr
          >
        </tbody>
      </table>
      <br />
      日に日にコツを掴んでダンシングで登れる距離が増えているのとシッティングより長く高出力を出せる<br
      />
      <br />
      最近はコンタドールやパンターニのように上りに入ったらサドルいらないスタイルのクライマーに進化していこうって思う<br
      />
      <br />
      <h3>体幹ペダリングのやり方を忘れた...</h3>
    </div>
    <div>シッティングで走ると膝が痛い。</div>
    <div>
      なら体幹ペダリングだ！ってやろうとしたんですがどうしても沼津のときにできたあれができない...
    </div>
    <div>
      <br />
    </div>
    <div>これは困った...</div>
    <div>
      <br />
    </div>
    <div>明日からも痛むと思うので暫く探してみようと思います</div>
    <div>
      <br />
    </div>
    <div>
      <br />
    </div>
    <h3>所管</h3>
    <div>GreatDistanceも残すところ3ステージと佳境に入ってきた。</div>
    <div>ここまで順調に成長できてることが嬉しい</div>
    <div>
      <br />
    </div>
    <div>
      来月に入ってからも月2000km前後は走れるような生活を維持して目標のレースを勝てるように仕上げていこう感じる1日になった。
    </div>
    <div>
      <br />
    </div>
    <div>
      多分FTPは270w前後あると推測されるんでパワーウエイトレシオは5w/kgとかになると思う。
    </div>
    <div>
      この出力に至る中で自分はクライマー系統の選手なんだなって自覚が芽生え始めた。
    </div>
    <div>
      <br />
    </div>
    <div>
      このままヒルクライムを極めつつロングライドとTTも強い選手へ進化していきたい。
    </div>
    <div>
      <br />
    </div>
    <div>そろそろスプリント練習もしないとなぁ...</div>
    <div>
      <br />
    </div>
    <div>
      <br />
    </div>
    <h3>明日のコース</h3>
    <div>紀南一周(時計回り)をもう一度やろうと思います。</div>
    <div>距離的にもコース的にもちょうど良さそうなので！</div><div>
      <br />
    </div><div>
      <a
        href="https://blog.great-distance.com/2019/09/greatdistance-stage19.html"
        >19日目のレポート</a
      >
    </div>
  </ArticleTemplate>
</Layout>
