---
import Layout from "../../layouts/Layout.astro";
import { ArticleTemplate } from "../../templates/ArticleTemplate";
const title = "瞑想やってみるか";
const category = "CYCLING";
const thumbnail = "/thumbnails/2019-09-17-瞑想やってみるか.jpg";
---


    <a
      href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhwBHW4TgTdB79iiR55Lh3Jpw3K63sYl34gfMVQZ8-5JOoeKVkK-VxA7hJzGBphIfxTLXQkI4JRbShZqUi1Cbvn-vUlFGyOgRrTIBfKU6LShkgUgZHzYbsp1h1d8Ba8yKn0xk9ReW09_BY/s1600/gahag-000379.jpg"
      imageanchor="1"
      ><img
        border="0"
        src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhwBHW4TgTdB79iiR55Lh3Jpw3K63sYl34gfMVQZ8-5JOoeKVkK-VxA7hJzGBphIfxTLXQkI4JRbShZqUi1Cbvn-vUlFGyOgRrTIBfKU6LShkgUgZHzYbsp1h1d8Ba8yKn0xk9ReW09_BY/s400/gahag-000379.jpg"
      /></a
    ><br />
    前いた会社の先輩が仕事の合間にちょくちょく瞑想してた。<br />
    <br />
    先輩の瞑想にちょくちょく参加させてもらってたがなかなかどうして頭がスッキリして気持ちよかった。<br
    />
    <br />
    瞑想にはいろいろと効果があるそうで<br />
    <br />
    <ol>
      <li>集中力の向上</li>
      <li>負の感情と思考のコントロール</li>
      <li>身体を隅々までコントロール</li>
    </ol>
    <div>↑のようなことができるらしい。</div>
    <div>
      <br />
    </div>
    <div>
      実際会社で瞑想してたときは多少なりとも頭がスッキリして集中できるようになっていた。
    </div>
    <div>
      <br />
    </div>
    <div>そこで思うのはこの瞑想をスポーツに取り入れられないかってこと</div>
    <div>
      <br />
    </div>
    <h3>調べてみる...👀</h3>
    <div>スポーツ選手でも瞑想してる人は結構多そうだった</div>
    <div>ちょっと調べてみた感じでも</div>
    <div>
      <ul>
        <li>ジョコビッチ(テニスのすごい人)</li>
        <li>ジョーダン(バスケのすごい人)</li>
        <li>イチロー(野球のすごい人)</li>
      </ul>
      <div>瞑想 ≒ マインドフルネス</div>
    </div>
    <div>とも言うらしい。</div>
    <div>スポーツだけでなく医療の方面でも取り入れられることがあるとか...</div>
    <div>
      <br />
    </div>
    <div>
      <br />
    </div>
    <h3>瞑想に期待したいこと</h3>
    <div>
      格闘技経験が長いので負の感情のコントロールが大切なことと難しいことはよくわかっている。
    </div>
    <div>
      <br />
    </div>
    <div>
      自分の場合は昔から身体が小さく筋肉量も少なかったので喧嘩で勝ったことがまずなかった。(だから10代後半は格闘技にご執心だった)
    </div>
    <div>
      <br />
    </div>
    <div>
      今の自分はFTPも250w近くありPWRも4.5w近くあるがそれでもレース会場のスタート地点に並ぶと上背の大きい選手に圧倒されて"勝てない...
      "と思うことがままある。
    </div>
    <div>
      <br />
    </div>
    <div>
      レースではないブルベですら"この人より早くゴールすることはできない..."と思ってしまうくらいには拗らせてしまっている。
    </div>
    <div>
      <br />
    </div>
    <div>萎縮するとパフォーマンスは落ちますからね。</div>
    <div>
      <br />
    </div>
    <div>実際スタート地点ででかい人を見ると足に力が入らなくなりますから...</div>
    <div>
      <br />
    </div>
    <div>
      なのでまず瞑想に期待したいのはこの感情をなんとかコントロールできるようにすること
    </div>
    <div>
      <br />
    </div>
    <div>
      <br />
    </div>
    <div>それとよく集中力が切れてしまうのでそこをなんとかしたい</div>
    <div>
      <br />
    </div>
    <div>
      レース中に無心になって走れているときがあって、そのときはハンドルが胸で前輪が頭みたいな感じでバイクと意識が融合しているときがあるんですよね(変な薬は使っていない)
    </div>
    <div>
      <br />
    </div>
    <div>
      そういうときはバイクの挙動を完璧に制御できてる気がしていて石ころを避けながらダウンヒルするみたいな危ない橋を平然と渡れるんですけど、一旦集中力が切れるともう危ない走り始めるので最初から最後まで集中力が持つようにしたい
    </div>
    <div>
      <br />
    </div>
    <div>
      <br />
    </div>
    <h3>男は度胸、何でも試してみるもんさ</h3>
    <div>
      と、期待すること書いたり調べるだけ調べても何もしなければ意味はないのでとりあえずやってみることにする
    </div>
    <div>
      <br />
    </div>
    <div>
      どのくらいで効果が出るのかわからないのでとりあえず3日くらいやってみよう
    </div>
    <div>
      <br />
    </div>
    <div>
      <br />
    </div>
    <div>
      <br />
    </div>
    <div>
      <br />
    </div>
    <div>
      <br />
    </div>
    <div>
      <br />
    </div>
  

</ArticleTemplate></Layout>