---
import Layout from "../../layouts/Layout.astro";
import { ArticleTemplate } from "../../templates/ArticleTemplate";
const title = "地道に強くなるロードバイクトレーニング_スタート前";
const category = "CYCLING";
const thumbnail = "/thumbnails/2020-04-01-地道に強くなるロードバイクトレーニング_スタート前.jpg";
---


    <h3>
      <span style="color: #242428;"
        ><span style="background-color: white; font-size: 18px;"><br /></span
        ></span>
    </h3><h3>
      <span style="color: #242428;"
        ><div class="separator" style="clear: both; text-align: center;">
          <a
            href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgd0fH4WcQ2SFN7jnyU5SUe3wSWw4MhjCWnQKOiX3pSh8vhFIQ758jQpKLpHk27Va2RKCLI_wP_K-g-hwyDPzT-yiFjySeoyiMNNrGE6yXM5O3qmRNiwLeeQqna_oQdrZHUBZQskcrTQYc/"
            imageanchor="1"
            style="margin-left: 1em; margin-right: 1em;"
            ><img
              border="0"
              data-original-height="3024"
              data-original-width="4032"
              src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgd0fH4WcQ2SFN7jnyU5SUe3wSWw4MhjCWnQKOiX3pSh8vhFIQ758jQpKLpHk27Va2RKCLI_wP_K-g-hwyDPzT-yiFjySeoyiMNNrGE6yXM5O3qmRNiwLeeQqna_oQdrZHUBZQskcrTQYc/s320/IMG_20200322_101927.jpg"
              width="320"
            /></a>
        </div><span style="background-color: white; font-size: 18px;"
          ><br /></span
        ></span>
    </h3><h3>
      <span style="color: #242428;"
        ><span style="background-color: white; font-size: 18px;"
          >2020年も1/4が終わったけど</span
        ></span>
    </h3>
    <span style="color: #242428;"
      ><span style="background-color: white; font-size: 18px;"
        >新型コロナの影響で軒並みレースが中止になり、まさかまさか、ツワモノ揃いのブルベですら開催<b
          >延期</b
        >の2020年になってしまっています(´；ω；｀)</span
      ></span
    ><br />
    <span style="color: #242428;"
      ><span style="background-color: white; font-size: 18px;"><br /></span
      ></span
    >
    <span style="color: #242428;"
      ><span style="background-color: white; font-size: 18px;"
        >苦しみに耐えてトレーニングをしてきた身なのでモチベーションを失いもはや腐っても誰も文句を言えないところです。</span
      ></span
    ><br />
    <span style="color: #242428;"
      ><span style="background-color: white; font-size: 18px;"><br /></span
      ></span
    >
    <span style="background-color: white; color: #242428; font-size: 18px;"
      >年末か?来年か?</span
    ><span style="background-color: white; color: #242428; font-size: 18px;"
      >次のレースはきっと開催されると思うのでそれまで降って湧いてきた時間を有効に活用すべく、今までできなかったトレーニングに打ち込んでみようと思います。</span
    ><br />
    <span style="color: #242428;"
      ><span style="background-color: white; font-size: 18px;"><br /></span
      ></span
    >
    <br />
    <h3>
      <span style="color: #242428;"
        ><span style="background-color: white; font-size: 18px;"
          >今までのトレーニング</span
        ></span>
    </h3>
    <div>
      <span style="color: #242428;"
        ><span style="background-color: white; font-size: 18px;"
          >これまでのトレーニングはこのブログに書いてきましたが</span
        ></span
      ><span style="background-color: white; color: #242428; font-size: 18px;"
        >大別すると次の2つです</span>
    </div>
    <div>
      <ol>
        <li>
          <span style="color: #242428;"
            ><span style="background-color: white; font-size: 18px;"
              ><a
                href="https://blog.great-distance.com/2019/09/greatdistancechallange.html"
                ><b>1ヶ月</b>で強くなるトレーニング(短期)</a
              ></span
            ></span>
        </li>
        <li>
          <span style="color: #242428;"
            ><span style="background-color: white; font-size: 18px;"
              ><a href="https://blog.great-distance.com/2020/03/2000km_21.html"
                ><b>3ヶ月</b>で速くなるトレーニング(中期)</a
              ></span
            ></span>
        </li>
      </ol>
      <div>
        <span style="color: #242428;"
          ><span style="font-size: 18px;"
            >文字にすると怪しい情報商材みたいなトレーニング内容だなw</span
          ></span>
      </div>
      <div>
        <span style="color: #242428;"
          ><span style="font-size: 18px;"><br /></span></span>
      </div>
      <div>
        <span style="color: #242428;"
          ><span style="font-size: 18px;"
            >1ヶ月の方は21日で3000km走るGreatDistanceって呼んでたやつですね。</span
          ></span>
      </div>
    </div>
    <div>
      <span style="color: #242428;"
        ><span style="font-size: 18px;">別人のように強くなりました。</span
        ></span>
    </div>
    <div>
      <br />
    </div>
    <div>
      <span style="color: #242428;"
        ><span style="font-size: 18px;"
          >3ヶ月の方は月2000km、合計6000km走るやつですね。</span
        ></span>
    </div>
    <div>
      <span style="color: #242428;"
        ><span style="font-size: 18px;"
          >これは特に名前はないんですが様々なスキルが身につき、特にロングライドでの速度、出力が格段に上がりました。</span
        ></span>
    </div>
    <div>
      <span style="color: #242428;"
        ><span style="font-size: 18px;"><br /></span></span>
    </div>
    <div>
      この2つのトレーニングはどちらも3,4ヶ月後に成績を残したいレースがあったため実施しました。早く成長する必要があったので短期集中型トレーニングとしてやってたんですね。
    </div>
    <div>
      <br />
    </div>
    <div>
      しかし今は空前のコロナブーム。<br />
      イベントの中止が相次ぐ中、レースが無いならもっと長期的に、腰を据えてトレーニングに打ち込めると考えることができるかもしれない。
    </div>
    <div>
      <br />
    </div>
    <div>
      今までは1ヶ月後の速さを目標に成長速度の早い筋肉を軸にトレーニングを実施してきたので、(鍛えれば)もっと速く走れる。(使えれば)もっと楽に走れる。(慣らせば)もっと長く走れる。けど、成長速度の遅い筋肉のトレーニングは見送ってきたんですが、今回はそれらを鍛えることを目標にトレーニング計画を立てようかなと。
    </div>
    <div>
      <br />
    </div>
    <div>
      ということで早速立案！<br />
      計画は半年から1年先の自分を想像して立てることにしましょう！
    </div>
    <div>
      <br />
    </div><div><br /></div>
    <h3>目標!!</h3>
    <div>
      <ol>
        <li>右脚のハムストリングスを強化(左は使えるけど右がだめだった)</li>
        <li>
          体幹ペダリングの出力の増強(体幹だけで200w出せるくらいまでは高めたい)
        </li>
        <li>ウェイトトレーニングを取り入れてスプリント時の出力の増強</li>
        <li>200km程度エアロフォームを維持する</li>
        <li>身体の柔軟性を向上させる</li>
        <li>
          完璧なクリートポジションを見つける &amp;
          フォームが変わっても良いポジションを発見する方法をまとめる
        </li><li>早く寝る</li>
      </ol>
      <div>↑を目指していきたい。</div>
    </div>
    <div>
      <br />
    </div>
    <div><br /></div><div>
      なんとか4月までに書いて投稿しようと思ってたけど気がついたら4月になってしまってた！！
    </div><div><br /></div><div>がんばるZO!</div>
    <div>
      <br />
    </div>
    <div>
      <br />
    </div>
    <div>
      <br />
    </div>
    <div>
      <br />
    </div>
  

</ArticleTemplate></Layout>