---
import Layout from "../../../../../layouts/ArticleLayout.astro";
const title = "毎月2000km走るおじさんの話 #1月編(前半)";
const description = "";
const thumbnail = "";
const labels = [];
---

<Layout title={title} labels={labels}>
  <article>
    12月に2100km走りきれたことで勢いに乗り白浜クリテリウムでの優勝に向けて更にハードなトレーニングに打ち込むことを誓って2020年を迎えました。<br
    />
    <br />
    しかしそんなUGを悪夢が襲う...<br />
    <br />
    <br />
    <h3>元旦 ~ 正月休みの終わりまで</h3>
    <div>
      2019年から数えると12日休みなしで1080km走ってるので休もうかと思ってたんですが朝起きたら清々しいまでの快晴。
    </div>
    <div>風は強いが暖かいときたら走らずにはいられない！</div>
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgWkt3IScrqO4p2AR5lY6kn1PaQ_mwGKahxKoMJaTLdgPtt1vw2q3qJpQ85C__wgxzubchn0iP0ndfWlTeJK45JwKXGWi9zoW4_Nh_ZFwpq7F7kwnlIyvb25s-ghIjbQfVDJGhopbr11eY/s1600/EFFECTS.jpg"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                height="240"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgWkt3IScrqO4p2AR5lY6kn1PaQ_mwGKahxKoMJaTLdgPtt1vw2q3qJpQ85C__wgxzubchn0iP0ndfWlTeJK45JwKXGWi9zoW4_Nh_ZFwpq7F7kwnlIyvb25s-ghIjbQfVDJGhopbr11eY/s320/EFFECTS.jpg"
                width="320"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            >距離的には実質休みだよ</td
          ></tr
        >
      </tbody>
    </table>
    <br />
    <span style="font-weight: normal;"
      >元旦は親戚の集まりに顔を出したので3kmほどですが乗る。</span
    ><br />
    <span style="font-weight: normal;">やはりTarmacには空の青がよく似合う</span
    ><br />
    <span style="font-weight: normal;"><br /></span>
    2日からはまた予定がなくなるので本格的なトレーニングへ。<br />
    例によってホームコースとなりつつある紀南一周200kmの旅へ出かける<br />
    <br />
    <iframe
      allowtransparency="true"
      frameborder="0"
      height="405"
      scrolling="no"
      src="https://www.strava.com/activities/2974946128/embed/0b21596fdf909487128776ecf3b4f454f949e00f"
      width="590"></iframe><br />
    <br />
    元旦はほとんど走ってないとはいえ、さすがに1300km毎日走ると疲労が溜まって踏めなくなる。<br
    />
    ちょっと力いれたら筋肉も熱を持って痛みだす。<br />
    けどこれで勝てるなら辛さなんて微塵も感じない！って思いながら走る。<br />
    <br />
    疲労はあれど速くはなっていて100kmを3時間半で消化。のこり100kmもらくらくこなして暗くなる前に帰宅！<br
    />
    <br />
    <br />
    そして1/3に悲しい事実を知る。<br />
    <br />
    <br />
    <blockquote class="tr_bq">
      <b>2020年度白浜クリテリウムは運営上の都合により開催中止</b>
    </blockquote>
    <br />
    嘘やろ！？<br />
    <br />
    不幸にも支えにしていた目標をすべて失う(´；ω；｀)<br />
    まだ年明けて50時間くらいしか経ってないのに...<br />
    <br />
    一気にやる気を失うも天気も良いし休みだし自転車には乗る。<br />
    <br />
    辛いことがあると自転車に乗るのは自転車乗りにはよくあること。<br />
    <br />
    疲労も溜まっていたしやる気も死んだし串本往復程度に変更しとこかなぁなんて思いながら串本へ行くと見覚えのあるARGON18が走ってくる👀<br
    />
    <br />
    <blockquote class="twitter-tweet">
      <div dir="ltr" lang="ja">
        UGさん(<a href="https://twitter.com/gr8distance?ref_src=twsrc%5Etfw"
          >@gr8distance</a
        >)とエンカウントした！！！バリバリカッチョイイバイクだ！！ <a
          href="https://t.co/RjXyWHL3eb">pic.twitter.com/RjXyWHL3eb</a>
      </div>
      — りっけい/ゆるキャノボおわた (@rikkei2) <a
        href="https://twitter.com/rikkei2/status/1212934362229960705?ref_src=twsrc%5Etfw"
        >January 3, 2020</a>
    </blockquote>
    Twitterでフォローしてる<a href="https://twitter.com/rikkei2">@りっけい</a
    >さんと遭遇！<br />
    りっけいさんは年末から正月休みを利用して紀伊半島を一周しているとのこと<br />
    圧倒的回復力を持つタフネスロングライダーでありながら写真集も出すカメラの腕前を持ち、しかも爽やかイケメンなラブライバーだ！<br
    />
    <a href="https://rikkeitabi.com/"
      >りっけいさんの圧倒的回復力を物語るエビデンスはこちら</a
    ><br />
    さすが、現役のキャノンボーラーだ！<br />
    <br />
    そんなりっけいさんと遭遇して失っていた気力が回復！<br />
    不思議なことにトレーニングによる疲労からも回復！<br />
    新宮までご一緒させていただいた！<br />
    <br />
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhLAxpRs43OaXlvWDAF15mIEUt55vNOrCR3ApXXxCTG2vUfETplY1ozSBCPYoYKu-yKN7fyRJRMsZql3tVCEwRSIR-jIkHultQ7PCpaCUESHQOZfK60H7XLZpDtZYgg0hCX18Hni0iap74/s1600/IMG_20200103_123403-EFFECTS.jpg"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                height="240"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhLAxpRs43OaXlvWDAF15mIEUt55vNOrCR3ApXXxCTG2vUfETplY1ozSBCPYoYKu-yKN7fyRJRMsZql3tVCEwRSIR-jIkHultQ7PCpaCUESHQOZfK60H7XLZpDtZYgg0hCX18Hni0iap74/s320/IMG_20200103_123403-EFFECTS.jpg"
                width="320"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            >りっけいさんのARGON18<br />
            インナーチェーンリングに楕円ギアを採用して<br />
            荷物を外せばそのままレースに出られるストイックバイクだ！<br />
            (サラリと赤色のインナーを入れるあたりりっけいさんのセンスが滲み出ている)</td
          ></tr
        >
      </tbody>
    </table>
    <br />
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiDNysGwS6MG2WKAm8iZ4VZGUTgFtt0D93AnWbrcPPpQcCcn1CHxlCxv6I5r2Wk-prLbC4kluo_SvO0OooFYxnz3vTKXDKFC6SrtTTIJOGB8j3A4oxaqNyUYytghRRv4awAq7JDyuZcFHk/s1600/IMG_20200104_225641.jpg"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                height="240"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiDNysGwS6MG2WKAm8iZ4VZGUTgFtt0D93AnWbrcPPpQcCcn1CHxlCxv6I5r2Wk-prLbC4kluo_SvO0OooFYxnz3vTKXDKFC6SrtTTIJOGB8j3A4oxaqNyUYytghRRv4awAq7JDyuZcFHk/s320/IMG_20200104_225641.jpg"
                width="320"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            >りっけいさんに撮っていただいた愛車の写真<br />
            この写真？ちょっと誇らしげじゃないです？🤔</td
          ></tr
        >
      </tbody>
    </table>
    <br />
    その後は新宮まであまり緩くないライドをしながら北上。<br />
    途中、道の駅太地で昼食を取る。<br />
    <br />
    この時りっけいさんから「いつもこの速度で走るんですか？」と聞かれてなぜか「はい」と答えてしまったまま訂正できずにお別れしたんですが、実はいつもはもうちょっと追い込んで走るので結果的にもうちょっと速いかもしれない...🙏<br
    />
    <br />
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjm__ijoMYj45NIH-QedX4mAfvnCaZyXpjn3Unt9fjFpohwMxbvX5q72YiP7KsPa0FVZ96FxT-FDX6Ci0cyaxYrtHIOPHMNAcabnGy_6o7BvLQCo-7mlqe1uJPxGq4JgDDGHEStCCmkwos/s1600/IMG_20200103_133156.jpg"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                height="240"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjm__ijoMYj45NIH-QedX4mAfvnCaZyXpjn3Unt9fjFpohwMxbvX5q72YiP7KsPa0FVZ96FxT-FDX6Ci0cyaxYrtHIOPHMNAcabnGy_6o7BvLQCo-7mlqe1uJPxGq4JgDDGHEStCCmkwos/s320/IMG_20200103_133156.jpg"
                width="320"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            >普段は無休で走るためこのコースでリッチな昼食を取るのは初めてのこと</td
          ></tr
        >
      </tbody>
    </table>
    <div>りっけいさんとラブライブの話、キャノンボールの話で盛り上がる。</div>
    <div>自転車乗り且つラブライバー。仲良くしてもらえてありがてぇ🙏</div>
    <div>
      <br />
    </div>
    <div>
      昼食を終え道の駅を出てからはあっという間に新宮へついてしまいほとんどお話できなかったのですが次は
      "約束の地沼津"で再会することを約束してトレイン解散。
    </div>
    <div>りっけいさんはそのまま北へ。</div>
    <div>僕はそのまま本宮を抜けて出発。</div>
    <div>
      <br />
    </div>
    <div>朝失ったやる気が帰ることには満タンに。</div>
    <div>りっけいさんに感謝。圧倒的感謝🙏</div>
    <div>
      <br />
    </div>
    <div>翌日の4日は大阪へ向けて朝から走る。</div>
    <div>走りなれた道なので気負わず走る。だいたい175km。</div>
    <div>
      この時あたりから明らかに心拍が上がらない(LSD領域を越えない)ことに気がつく。
    </div>
    <div>ずっと向かい風でありながら平均心拍は130bpm。</div>
    <div>これが月2000km走るこうかなのか？と思いつつ</div>
    <div>
      <br />
    </div>
    <div>5日には昨年以来、今年初となるショップの朝練へ参加！</div>
    <div>
      これで元旦を含めるとこれで連続トレーニング日数17日、走行距離は1700kmくらいになるだろうか🤔
    </div>
    <div>流石に疲労はあるもののしっかりと踏めたので満足行く走りができた</div>
    <div>
      <br />
    </div>
    <div>
      <br />
    </div>
    <h3>仕事初めからBRM111の週末まで</h3>
    <div>6日</div>
    <div>
      年末年始走りすぎたので休むつもりだったらしいがどうしてもトレーニングがしたくなってバイクに跨ってしまう。
    </div>
    <div>3kmほど踏んで満足したのでこの日は終了。</div>
    <div>
      <br />
    </div>
    <div>翌7日はZwiftレースのBクラスに参加。</div>
    <div>
      この日のZwiftのログには「終始和やかな気持ちで走れた。息が全く上がらない。疲労が抜けたのが良かったのだろうか」とか書いてあって1700km連続で走っておきながら1日で疲労が抜けた事になっていてヤバさしか感じない。
    </div>
    <div>
      <br />
    </div>
    <div>8日</div>
    <div>FTP計測しようとしたけどやっぱり疲労は抜けてない。</div>
    <div>10分も持たなかったので淀川へ軽く走りに行く。</div>
    <div>軽くといったな？あれは嘘だ</div>
    <div>ということでスプリント練習を行う。</div>
    <div>900w近い出力を出して満足したのか20km程度で帰宅</div>
    <div>
      <br />
    </div>
    <div>9日</div>
    <div>40分軽めに回してアクティブレスト</div>
    <div>10日は休み</div>
    <div>
      <br />
    </div>
    <div>11日</div>
    <div>待ちに待った地獄のブルベ、BRM111 AllRoad。</div>
    <div>
      淡路島の過酷なところだけを走るこのコースは他の参加者からはDeathRoadとか淡路悲惨脈とか呼ばれていた。
    </div>
    <div>
      この日のことはこちらにまとめてるので暇があれば味わってみてください
      &gt;&gt;&nbsp;<a
        href="https://blog.great-distance.com/2020/01/brm111-allroad-300km.html"
        >BRM111前篇</a>
    </div>
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEg1yvFTIGT-ETYmC-jEB3UMUEcNOPkv3kQdWvLj-Ek970-_BUstmstbgQpo_TPHzKYFDlymL1muprVO8HBPsJRNoDZUvxjmcvDJz_Bh7zuwFWPEEIS3Je8j9OXHaorq8H5OeRZW_sDzoqs/s1600/IMG_20200111_162045.jpg"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                data-original-height="1600"
                data-original-width="1200"
                height="320"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEg1yvFTIGT-ETYmC-jEB3UMUEcNOPkv3kQdWvLj-Ek970-_BUstmstbgQpo_TPHzKYFDlymL1muprVO8HBPsJRNoDZUvxjmcvDJz_Bh7zuwFWPEEIS3Je8j9OXHaorq8H5OeRZW_sDzoqs/s320/IMG_20200111_162045.jpg"
                width="240"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            >最大勾配23%の落ち葉と瓦礫に埋もれた道が俺たちを待っていた！</td
          ></tr
        >
      </tbody>
    </table>
    <div>
      <br />
    </div>
    <div>このブルベは神戸で始まり神戸に終わる。</div>
    <div>行きも帰りも電車の無い時間だったため自走で帰宅。</div>
    <div>
      家についたのは日付が変わって12日に。目が覚めてからはいつもの自転車屋さんでチェーンを交換してもらう。流石に13日は休みにした
    </div>
    <div>
      <br />
    </div>
    <div>長いので一旦このへんで！</div>
    <div>後半はまた別の日に書きナス！</div>
  </article>
</Layout>
