---
import Layout from "../../../../../layouts/ArticleLayout.astro";
const title = "Dear Bianchi. Jumbo vismaからのメッセージの書き起こし";
const description = "";
const thumbnail = "";
const labels = [];
---

<Layout title={title} labels={labels}>
  <article>
    <blockquote class="twitter-tweet">
      <p dir="ltr" lang="en">
        Dear Bianchi, it feels like we rode for ages. We made memories far
        beyond imagination. Now the time has come for us to part ways.
        Fortunately, these Bianchi’s will continue the ride. Grazie mille. Check
        out <a href="https://t.co/bUtFhuLzOX">https://t.co/bUtFhuLzOX</a><a
          href="https://twitter.com/hashtag/continuetheride?src=hash&ref_src=twsrc%5Etfw"
          >#continuetheride</a
        >
        <a href="https://t.co/bksZQkskfX">pic.twitter.com/bksZQkskfX</a>
      </p>— Team Jumbo-Visma cycling (@JumboVismaRoad) <a
        href="https://twitter.com/JumboVismaRoad/status/1339843282407477248?ref_src=twsrc%5Etfw"
        >December 18, 2020</a>
    </blockquote>
    <script
      async=""
      charset="utf-8"
      src="https://platform.twitter.com/widgets.js"></script>
    <p><br /></p><p></p><div
      class="separator"
      style="clear: both; text-align: center;"
    >
      <a
        href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEi2R9nAc5W1_pPCNC_xw9EX7CMDkacn44w_mWfABgJohrT20oDkXJwZVdmlGeVeJNuTE5YngJ3pf2HCZB4Jy6rS7iar3IAbqoX2hVnIJj4smfWyRHW3LRBip9CNRFKha0oK61kzI60OqVY/"
        style="margin-left: 1em; margin-right: 1em;"
        ><img
          alt=""
          data-original-height="800"
          data-original-width="1200"
          height="213"
          src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEi2R9nAc5W1_pPCNC_xw9EX7CMDkacn44w_mWfABgJohrT20oDkXJwZVdmlGeVeJNuTE5YngJ3pf2HCZB4Jy6rS7iar3IAbqoX2hVnIJj4smfWyRHW3LRBip9CNRFKha0oK61kzI60OqVY/"
          width="320"
        /></a>
    </div><br /><br /><p></p><p>
      Team Jumbo
      Vismaになるよりも以前から同チームを支えていたバイクスポンサーのBianchiが2020年を最後にスポンサーから外れる。
    </p><p>
      20<span style="background-color: white;">17年からはCountervailを搭</span
      >載したエアロオールラウンドモデルのOltreXR4を駆り幾多のレースで表彰台を席巻。ついに2019年、同チームのPrimozRoglicが三大グランツールの一つ
      <b><span style="color: red;">"ブエルタ・ア・エスパーニャ"</span></b
      >を征する。
    </p><p>
      2020年も破竹の快進撃は続きツール・ド・フランスではあと一歩届かずながらも総合2位。まさしく王者の走りでレースを沸かせ続け、同年モニュメントを2つ征し、2年連続でブエルタ・ア・エスパーニャも征した。
    </p><p>彼らの快進撃は常にBianchiと共にあった。</p><p>
      既に多くのチームが2021年スポンサーのバイクでトレーニングを始める中、Jumbo
      Vismaがかつてのスポンサーに当てたメッセージがとても刺さったので書き起こした。
    </p><p>&nbsp;</p><blockquote>
      <p>Dear Bianchi, It feels like we rode for ages.</p>
    </blockquote><blockquote>
      <p>We made memories for beyond imagination.</p>
    </blockquote><blockquote><p>We were perfect fit.</p></blockquote><blockquote
    >
      <p>Through wind tunnels and beyond.&nbsp;</p>
    </blockquote><blockquote>
      <p>You have brought us so much.</p>
    </blockquote><blockquote>
      <p>Together we crushed opponents.</p>
    </blockquote><blockquote>
      <p>Terrified them with our speed.</p>
    </blockquote><blockquote>
      <p>
        But also sharing the sheer emptiness of our loss during the time trial
        towards La Planche des Belles Filles.
      </p>
    </blockquote><blockquote>
      <p>Together we celebrated success on many more opportunities.&nbsp;</p>
    </blockquote><blockquote>
      <p>Battling through iconic south coastal italy.</p>
    </blockquote><blockquote>
      <p>
        And foremost when we beat the last rider on the finish line in San
        Remo.&nbsp;
      </p>
    </blockquote><blockquote>
      <p>That monumental feeling.&nbsp;</p>
    </blockquote><blockquote>
      <p>Competing on the highest of mountains.</p>
    </blockquote><blockquote>
      <p>Never giving up, no matter how tough.&nbsp;</p>
    </blockquote><blockquote><p>We attacked.&nbsp;</p></blockquote><blockquote>
      <p>We were on their heels all the time.&nbsp;</p>
    </blockquote><blockquote>
      <p>Then the roads flushed.</p>
    </blockquote><blockquote>
      <p>We never made it to Tignes.&nbsp;</p>
    </blockquote><blockquote>
      <p>
        But in paris, we were standing on the podium for the first time.&nbsp;
      </p>
    </blockquote><blockquote>
      <p>We could always rely on you, our friend.</p>
    </blockquote><blockquote>
      <p>
        To have the honor of decorating your handlebar in red gives us
        goosebumps forever.
      </p>
    </blockquote><blockquote>
      <p>We were a team, Inseparable.</p>
    </blockquote><blockquote>
      <p>Now the time has come for us to part ways.</p>
    </blockquote><blockquote>
      <p>We wish you many more beautiful miles with your new owner.</p>
    </blockquote><blockquote><p></p></blockquote><blockquote>
      <p><br /></p>
    </blockquote><p>以下意訳</p><blockquote>
      <p>Dear Bianchi</p>
    </blockquote><blockquote>
      <p>もう何年も乗ってるような気がします。&nbsp;</p>
    </blockquote><blockquote>
      <p>私達は想像を絶するような思い出を作ってきました。&nbsp;</p>
    </blockquote><blockquote>
      <p>私達はぴったりでした。</p>
    </blockquote><blockquote>
      <p>風洞を抜けたその先へ。</p>
    </blockquote><blockquote>
      <p>あなたは私達に多くのものをもたらしてくれた。&nbsp;</p>
    </blockquote><blockquote>
      <p>共に相手を打ち倒した。我々のスピードで相手を恐れさせた。</p>
    </blockquote><blockquote>
      <p>
        しかし、ラプランシュデルフィールスへのタイムトライアルで私達は喪失感を共有しました。
      </p>
    </blockquote><blockquote>
      <p>私たちは一緒に多くの成功を祝いました。</p>
    </blockquote><blockquote>
      <p>イタリアの南海岸の象徴的な場所での戦い。</p><p>
        そして何よりも、サンレモのフィニッシュラインで最後のライダーを倒した時のこと。&nbsp;
      </p>
    </blockquote><blockquote>
      <p>あのモニュメントを征した感覚。</p><p>最も高い山の上でのレース。</p><p>
        どんなに厳しい状況でも決して諦めずに攻めた。
      </p><p>私たちはいつも彼らのかかとを踏んでいた。</p><p>
        道路は水浸しになりティーニュ(TDF2019の19ステージゴール地点。悪天候により道路が冠水してコースが短縮された。)には行けなかった&nbsp;
      </p><p>だがパリで初めて表彰台に立った。&nbsp;</p><p>
        私たちはいつも友人であるあなたを頼りにしていました。&nbsp;
      </p>
    </blockquote><blockquote>
      <p>君のハンドルを赤で飾れたことは永遠に鳥肌が立ちます。&nbsp;</p>
    </blockquote><blockquote>
      <p>私たちはチームであり、切っても切れない関係でした。&nbsp;&nbsp;</p>
    </blockquote><blockquote><p>...&nbsp;</p></blockquote><blockquote>
      <p>別れの時が来ました...。</p>
    </blockquote><p>&nbsp;</p><blockquote>
      <p>
        新しいオーナーと共に、より多くの美しい時間を過ごす事を願っています。
      </p><div><br /></div>
    </blockquote><p><br /></p><p>
      Jumbo VismaがどれだけBianchiに信頼を寄せていたかが伝わってきますね。
    </p><p>
      苦楽を共にした盟友への最後の言葉は(翌年からはライバルチームのバイクとなるのですが)成功を願っているというなんともエモーショナルな一文が添えられていてぐっときます。
    </p><p><br /></p><p>
      別々の道を進みだしたチームとバイクの未来からこれからも目が離せない。
    </p><p><br /></p><p><br /></p><p><br /></p><p>追伸！</p><p>
      だいぶ意訳したんでここが変などありましたら教えて下さい🙏
    </p>
  </article>
</Layout>
