---
import Layout from "../../layouts/Layout.astro";
import { ArticleTemplate } from "../../templates/ArticleTemplate";
const title = "毎月2000km走るおじさんの話_完走した感想";
const category = "CYCLING";
const thumbnail =
  "/thumbnails/2020-03-21-毎月2000km走るおじさんの話_完走した感想.jpg";
---

<Layout title={title}>
  <ArticleTemplate
    title={title}
    thumbnail={thumbnail}
    date={"2020-03-21"}
    category={category}
  >
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEi1wRFY1LKBrq880gljPqJFJv6YOxT_Yb9DfXpMWTBBvfJpkKNNASx0aH5SBou8DVTfJaUkiKl62CUQSdET6WKKVKQNfapjhzbXMZtlfRP7UHYrtf3oOEy8v_a8EHdnDgbR3u97Dn7fm7E/s1600/IMG_20200315_231635_376.jpg"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                data-original-height="1600"
                data-original-width="1600"
                height="320"
                src="/images/articles/2020-03-21-毎月2000km走るおじさんの話_完走した感想/image-734.jpg"
                width="320"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            >めちゃくちゃ走るバイク<br />
            購入して3年目に突入したけど変わらない美しさがある</td
          ></tr
        >
      </tbody>
    </table>
    <br />
    <h3>完走した感想を書く</h3>
    <div>
      ロードバイクで早く走るためにできることを探して毎月2000kmにも及ぶ走り込みを重ねたおじさんは3ヶ月後に何を得たのか？
    </div>
    <div>
      <br />
    </div>
    <div>
      過去4回に渡ってダラダラと書き連ねてしまったライドの記録とその結末について書いていくよ
    </div>
    <div>
      <br />
    </div>
    <div>
      <b>実際に走った話は↓に</b>
    </div>
    <div>
      <ul>
        <li>
          <a href="https://blog.great-distance.com/2020/03/2000km-12.html"
            >2019年12月編</a
          >
        </li>
        <li>
          <a href="https://blog.great-distance.com/2020/03/2000km-1.html"
            >2020年1月編(前編)</a
          >
        </li>
        <li>
          <a href="https://blog.great-distance.com/2020/03/2000km-1_71.html"
            >2020年1月編(後編)</a
          >
        </li>
        <li>
          <a href="https://blog.great-distance.com/2020/03/2000km-2.html"
            >2020年2月編</a
          >
        </li>
      </ul>
      <div>
        <br />
      </div>
    </div>
    <div>
      <b>目録はこれ</b>
    </div>
    <div>
      <ol>
        <li>毎日トレーニングできるようになった</li>
        <li>ペダリングがきれいになった</li>
        <li>体幹が使えるようになった</li>
        <li>夜通し走る体力がついた</li>
        <li>心肺機能がマッチョになった</li>
        <li>内臓もマッチョになった</li>
        <li>力の抜き方を覚えた</li>
        <li>インスタでいっぱい♥を貰える写真の撮り方を覚えた</li>
      </ol>
      <div>
        <br />
      </div>
    </div>
    <div>
      <br />
    </div>
    <h4>#毎日トレーニングできるようになった</h4>
    <div>正しくはなってしまっただと思う。</div>
    <div>だって毎週500km走らないと2000kmに届かないんだから仕方ないね。</div>
    <div>
      <br />
    </div>
    <div>
      流石に週1日くらい休みたいよなぁ？と思ってたけど結局月で3日くらいしか休まないこともあった。
    </div>
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjr-yh935WgeUQOrDZDvv3rFb7GFmzYz4qC_5SElCq1DoDl4HtEWIbacx_y7RAg38g_wf_8oYloeIMjljuwxcpAskkLWkZC0uRVROq1H-78B_qQ24V1HW92lcxx0wPaZi-SKYoFRHF7OzE/s1600/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2020-03-21+11.34.28.png"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                data-original-height="802"
                data-original-width="1600"
                height="160"
                src="/images/articles/2020-03-21-毎月2000km走るおじさんの話_完走した感想/image-306.jpg"
                width="320"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            >trainingpeaksの使い方も覚えた🎉</td
          ></tr
        >
      </tbody>
    </table>
    <div>
      <br />
    </div>
    <div>
      すごいしんどいけどそれでもなんとかなるもんです。人間はすごい！慣れる！
    </div>
    <div>
      けど2000km走終了してからトレーニングしてない日に何をするのかわからなくなって結局ローラーに乗ってしまってる🤔
    </div>
    <div>
      <br />
    </div>
    <div>
      結局2月末時点で<b>CTL126</b>まで上がった
    </div>
    <div>
      <br />
    </div>
    <h4>#ペダリングがきれいになった</h4>
    <div>
      これは完全に自画自賛ですが、Jスポとかでライブ配信されてるロードレースでプロ選手がやってるペダリングに近いものを実現できてるという自信がありますよ。
    </div>
    <div>
      <br />
    </div>
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjZYMEXXlWOkQwiCqc__QcR0vKhYfL_M_7DGZzYlSkktWdvDEQjPQfE6wkwJ5l5_MkAlX6yfi1DySxthjVVZwMmL-JxR31qYCywivFXWpB-_X51bc-pb0KdaR6ctmp6FEPGJ_fCitjUEOc/s1600/20180924222651.png"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                data-original-height="299"
                data-original-width="455"
                height="210"
                src="/images/articles/2020-03-21-毎月2000km走るおじさんの話_完走した感想/image-813.jpg"
                width="320"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            ><div>
              きれいなペダリングが勝手にできるのでペダリングのトルクベクトル解析ツールを非表示にしてしまった
            </div>
            <div>(下の円のグラフがベクトル解析)</div>
          </td></tr
        >
      </tbody>
    </table>
    <div>
      <br />
    </div>
    <div>
      6時間とかの長丁場ライドでも終盤まで同じ出力をキープできるようになったりもした。
    </div>
    <div>
      <div>
        <br />
      </div>
      <div>
        たぶんペダリングの綺麗さ ≒
        効率なので6時間くらいのライドでも平均出力も+20wくらいになった。
      </div>
      <div>
        <br />
      </div>
      <div>
        <br />
      </div>
      <h4>#体幹が使えるようになった</h4>
    </div>
    <div>
      どう考えても脚じゃない筋肉で脚を持ち上げられるようになってしまった。サーカスじゃないよ？
    </div>
    <div>
      <br />
    </div>
    <div>
      おヘソの下辺りの筋肉をコネるとペダルにもうちょっと力を加えられることも知った。
    </div>
    <div>まだ出力は低くて+2wくらい上乗せできる程度だけど</div>
    <div>
      <br />
    </div>
    <div>
      体幹は休むダンシングのときにも有効に使えることが判明していて以前は脚を持ち上げる用途で使っていたけど体幹をこねると下向きにトルクを書けられるのでペダルを踏むときに太ももの代わりに使える。結局大腿四頭筋の疲労が減る。
    </div>
    <div>つまりもっと休めるということだ！</div>
    <div>
      <br />
    </div>
    <div>
      <br />
    </div>
    <h4>#夜通し走る体力を得た</h4>
    <div>昔は眠くて途中で失速してたんすけどね🤔</div>
    <div>
      <br />
    </div>
    <div>
      今は全くそんなことにはならないので走れる時間が単純に倍に増えた感じ
    </div>
    <div>
      <br />
    </div>
    <div>
      それでも明るいうちにスタートしてから夜に突入するのと暗い時間にスタートして朝に突入するのだと前者のほうが精神的に堪えるなぁ
    </div>
    <div>
      <br />
    </div>
    <div>
      体力といえば向かい風の中で200km走ってもライド後に眠くならなくなったのも良いところだなぁ
    </div>
    <div>
      <br />
    </div>
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEh8ZwmnZU29WqR3yw2NfKYDgTv0CDAsLrjUSoi0NuT4jRH_U4IZVYzR8P656FAu9SNAHS7kppmIecw-BmERKgI0fSMhzlQORSG3yGrC5IN88aLvP5ab9kJ3w3IwL9NwiesH2OR1KTFpNvc/s1600/IMG_20200208_030244.jpg"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                data-original-height="1200"
                data-original-width="1600"
                height="240"
                src="/images/articles/2020-03-21-毎月2000km走るおじさんの話_完走した感想/image-878.jpg"
                width="320"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            >全ての風景を独り占めできるのがナイトライドの良いところ</td
          ></tr
        >
      </tbody>
    </table>
    <div class="separator" style="clear: both; text-align: center;">
      <br />
    </div>
    <div>
      <br />
    </div>
    <h4>#心肺機能がマッチョになった</h4>
    <div>
      4000kmくらい走ったところから自転車関係なしに息切れというものを経験しなくなった。
    </div>
    <div>
      例えばランニングでは息が上がる前に脚が辛くなって止まるということはあるものの呼吸は一瞬で整う。
    </div>
    <div>
      <br />
    </div>
    <div>自転車の場合は300wで1分踏むだけなら30秒休めれば息は整う。</div>
    <div>
      インターバルトレーニングで試した感じ6本連続までは呼吸が乱れる感じは無い。(ただし7本目からは呼吸は乱れる)
    </div>
    <div>
      <br />
    </div>
    <div>
      しかし心拍計をつけてトレーニングしなくなったのでライド中の心拍数がどの程度になっているかはちょっとよくわかんないのがなぁ
    </div>
    <div>
      <br />
    </div>
    <div>
      でも200wくらいなら鼻呼吸でも行けるといえばいけるので多分今はL2 =
      200wくらいなんだろう
    </div>
    <div>
      <br />
    </div>
    <div>心臓の病気とかじゃないよねってたまに心配になる。</div>
    <div>
      <br />
    </div>
    <h4>#内蔵がマッチョになった</h4>
    <div>
      毎日4000kcal分くらいの食事をしてるとそれはもちろん強くなるよねって
    </div>
    <div>
      <br />
    </div>
    <div>300km走っても余裕でハンバーガーとかうどんとかパンとか食べられる</div>
    <div>食べ物の消化なんてお手の物ですねぇ</div>
    <div>
      <br />
    </div>
    <div>
      たまに書いてるけどL3の強度なら補給食を摂取することもできるのでロングライドやっててもペースを落とさなくて済むのもいいところ
    </div>
    <div>
      <br />
    </div>
    <div>つまりもっとトレーニングできるようになったということですね</div>
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEim78dCIIGgMWZp-b0QOtO30lmOMs5KsDl0v4kGmM2DJTzAwGQeteE5W1Top_044yLdIr_PnpuFqlHppVlrO6g10FiDp5m7YUTmu-BEM82dApNqmLhTVuDDIrwjhSae4HxpE6GrlbAilxk/s1600/IMG_20200121_130640.jpg"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                data-original-height="1200"
                data-original-width="1600"
                height="240"
                src="/images/articles/2020-03-21-毎月2000km走るおじさんの話_完走した感想/image-4.jpg"
                width="320"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            >ご飯山盛り天ぷら丼<br />
            このあとうどんも食べた</td
          ></tr
        >
      </tbody>
    </table>
    <div>
      <br />
    </div>
    <h4>#力の抜き方を覚えた</h4>
    <div>
      力を入れて早く走るのは誰でもできるんですが力を抜いて早く走るのはコツが必要だったり。
    </div>
    <div>
      <br />
    </div>
    <div>
      もちろんTarmac(愛車)にもトルクを掛けるのに適したタイミングがあって6000km以上走ってようやく<b
        >ここだけ</b
      >踏んどけば良いというスイートスポットがわかってきた感じです。
    </div>
    <div>
      <br />
    </div>
    <div>
      面白いのはスイートスポットでトルクを掛けられていれば5倍の出力を維持するのはそこまで苦しくないということ。
    </div>
    <div>
      苦しくないので維持してしまって平均速度が上がってライド終盤に膝が痛くなったりする🤔
    </div>
    <div>
      <br />
    </div>
    <div>
      <br />
    </div>
    <h4>#インスタでいっぱい♥を貰える写真の撮り方を覚えた</h4>
    <div>
      私の愛車であるTarmacはペテル・サガンが使ってたバイクのシグネイチャーモデル？に該当するらしくカラーリングにも
      SaganSuperStarとか書かれてる🤔
    </div>
    <div>
      <br />
    </div>
    <div>
      この塗装、暗いところで光を当てながら写真を撮るとロゴが光るんですよ。
    </div>
    <div>普通に撮るとただの黒いロゴなんですが...</div>
    <div>
      <br />
    </div>
    <div>
      で、インスタではロゴがシャイニーしてる状態で投稿するとなぜか♥の数が6倍くらい増える...
    </div>
    <div>
      <br />
    </div>
    <div>みんな光り物が好きなんすねぇ</div>
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjPkJaAa1AB_Y3vyaW2Pmg36uzpkhadidtoTz2OE5Nm8IbX5mzTQd711Ww8PHmiuFf8gNuJ6FECasY8k_Bfk3Hw0yn1MhzGjz9Diby67eQl47bbHd4NLlkui5hr95fTtn0P4bDKdBpi1wg/s1600/IMG_20200309_204158_590.jpg"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                data-original-height="1600"
                data-original-width="1600"
                height="320"
                src="/images/articles/2020-03-21-毎月2000km走るおじさんの話_完走した感想/image-378.jpg"
                width="320"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            ><div style="font-size: medium; text-align: start;">
              まあロゴが光ってるほうがキレイではあるからね
            </div>
            <div>仕方ないか</div>
          </td></tr
        >
      </tbody>
    </table>
    <div>
      <br />
    </div>
    <h3>終わりに</h3>
    <div>
      基本的に良い変化しか起こってないんですが一個だけ悪いところを上げると、もうちょっと自転車に乗るのはいいかなって思うほど乗ってしまったのです。
    </div>
    <div>食傷気味とも言えるかもw</div>
    <div>
      <br />
    </div>
    <div>
      <div>
        いろいろな変化は書いたんですがどういうわけかFTP計測のときは途中でたれてしまって現在のFTPは不明...
      </div>
      <div>
        ここまでガッツリ走れるならもう体重の5倍wくらい踏めても良さそうなものなのにローラーだと20分でやる気が無くなってしまう...
      </div>
    </div>
    <div>
      <br />
    </div>
    <div>うーん</div>
    <div>2000km走っても根性は鍛えられないということか...🤔</div>
  </ArticleTemplate>
</Layout>
