---
import Layout from "../../layouts/Layout.astro";
import { ArticleTemplate } from "../../templates/ArticleTemplate";
const title = " BRM111神戸 AllRoad 300km(後編)";
const category = "CYCLING";
const thumbnail = "/thumbnails/2020-01-16- BRM111神戸 AllRoad 300km(後編).jpg";
---

<Layout title={title}>
  <ArticleTemplate
    title={title}
    thumbnail={thumbnail}
    date={"2020-01-16"}
    category={category}
  >
地獄のブルベ後編！<br />
    <a href="https://blog.great-distance.com/2020/01/brm111-allroad-300km.html"
      >前編はこっち</a
    ><br />
    <iframe
      allowtransparency="true"
      frameborder="0"
      height="405"
      scrolling="no"
      src="https://www.strava.com/activities/3002009057/embed/3f3a4528ac549fe96c12ab63f916e4fa0074bd99"
      width="590"></iframe>

    <br />
    <br />
    <h3>先発組を捕まえろ！</h3>
    <div>摩耶山で写真を撮ってブラックサンダーを食べたので下山することに。</div>
    <div>
      <br />
    </div>
    <div>
      5:00組に混じって5:30組の方たちも摩耶山の攻略に差し掛かるところだったのでぶつからないように脇に避けてゆっくり下る。
    </div>
    <div>
      <br />
    </div>
    <div>摩耶山の次は通過チェックで洲本のローソンによることになっている。</div>
    <div>お腹も空き始めていたのでちょうどよい。</div>
    <div>早急に移動できるように中央山脈を洲本に向けて下っていくが...</div>
    <div>
      <br />
    </div>
    <div>ひたすら落ち葉、石ころの酷道を下る。</div>
    <div>
      <br />
    </div>
    <div>
      一歩間違えれば落車、救急車もあり得る(ここまで救急車が来れればの話ではあるが)
    </div>
    <div>
      <br />
    </div>
    <div>
      石ころを踏んで何度かバイクがはねたりバランスを崩したりはしたもののどうにかアスファルトへ戻ってくる。
    </div>
    <div>アスファルトのなんと快適なことか。。。</div>
    <div>
      <br />
    </div>
    <div>1時間ほど下ったところで洲本のローソンに到着。</div>
    <div>
      5:00組の方が結構見受けられたのでもしかして先頭まで追いつけるんじゃない?🤔🤔
    </div>
    <div>先頭まで追いついたろ！という気が湧いてくる。</div>
    <div>
      <br />
    </div>
    <div>
      そこで速やかにおにぎり2個と水を買って早急に補給を済まし、いそいそでバイクに跨り先発組を追走。
    </div>
    <div>5kmも走らないうちにコンビニで見た人たちは全員パスすることに</div>
    <div>
      <br />
    </div>
    <div>
      そのままの勢いで次の通過チェックになっている道の駅うずしおまで走る。<br />
      だいたい13:00頃だろうか、道の駅うずしおに到着する。
    </div>
    <div>
      <br />
      うずしおでスタッフの方に5:30組のトップと教えてもらう。<br />
      「5:00組でここを出たのは何人ですか？」と訪ねてみると<br />
      「さっき1人出た。それと今2人でたから3人だね」と<br />
      <br />
      たしかにうずしおまでの下り区間で一人すれ違った。そしてブルベカードにサインを貰う間に2人走って行ったのでどうやらあと3人追いつければ良いらしい。<br
      />
      <br />
      ついでに諭鶴羽山までの距離を聞いてみると30kmくらいとのこと。<br />
      <br />
      ここでもブラックサンダーを1個口に放り込みブルベカードを受け取ってから速やかに出発。<br
      />
      先行しているお三方に追いつくためにペダルを回す。<br />
      <br />
      そして淡路島の南端はアップダウンが激しく登りで距離を詰め下りで離されるというのを繰り返すこと15分、ようやく信号に捕まった先発組に合流。<br
      />
      <br />
      そのまま3人をパスして補給しながら走っていると南淡路特有のアップダウンが続く。<br
      />
      そしてなぜか追走してくる2人組...。この人達速くないかね🤔<br />
      特に上りが強い。ずっと先頭で走るのがきつくなってきたので登りでわざと後ろにつくと270wでずっと踏んでくれるる...<br
      />
      <br />
      また5倍やん...(´・ω・｀)<br />
      再度山と同じやん...(´・ω・｀)<br />
      <br />
      ここで少し考える。たしかにこのペースでついていくことは たぶん可能 だけどこのまま登ったら諭鶴羽山で脚が無いのでは？諭鶴羽山をこなしても柏原山で終わるのではないか🤔<br
      />
      <br />
      1月とはいえ13:30、日はまだ高い。もしここで遅れても確実に柏原山を日があるうちに下れる。ここは勇気を出してペースを守るべき。<br
      />
      <br />
      という言い訳のような判断を下してペースを落とす。<br />
      <br />
      摩耶山で膝から変な音も聞こえたしこれは許されたい(甘え)<br />
      <br />
      <table
        align="center"
        cellpadding="0"
        cellspacing="0"
        class="tr-caption-container"
        style="margin-left: auto; margin-right: auto; text-align: center;"
      >
        <tbody>
          <tr
            ><td style="text-align: center;"
              ><a
                href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjAhtC6ir4wsM8CJN9FgbfE5EsWrLYsu65e905Wsyd6mn2P0Y4xL5EjixwwAsOTxO2THlqw2sYhIPrC8Yoqnhot2MhbtZ6om2K_YZm3Qr1Grb2cZcfSwS7jePWAmo8jHI0hIX2e47XgKJo/s1600/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2020-01-16+0.09.07.png"
                imageanchor="1"
                style="margin-left: auto; margin-right: auto;"
                ><img
                  border="0"
                  height="224"
                  src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjAhtC6ir4wsM8CJN9FgbfE5EsWrLYsu65e905Wsyd6mn2P0Y4xL5EjixwwAsOTxO2THlqw2sYhIPrC8Yoqnhot2MhbtZ6om2K_YZm3Qr1Grb2cZcfSwS7jePWAmo8jHI0hIX2e47XgKJo/s320/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2020-01-16+0.09.07.png"
                  width="320"
                /></a
              ></td
            ></tr
          >
          <tr
            ><td class="tr-caption" style="text-align: center;"
              >追いつく前と後で明らかに出力が違う</td
            ></tr
          >
        </tbody>
      </table>
      <br />
      <h3>DeathRoad.1 "諭鶴羽山"</h3>
      昨年淡路山脈を走った時にはなかったコースが諭鶴羽山だ。<br />
      正直に言うと僕は諭鶴羽山を甘く見ていた。<br />
      <br />
      なんというか、この日淡路島でもっとも凶悪だったのは柏原山よりこっちだったと思う。<br
      />
      <br />
      どういう登りだったかまとめると<br />
      登攀距離だいたい3.3km<br />
      平均勾配10%<br />
      <br />
      これだけならまあわからんでもない。<br />
      比較的きれいな道を登るわけだし人によってはそこまでだったかもしれない。<br
      />
      <br />
      それでも僕が凶悪だと評価するのはこの登攀には脚を休める区間が一切存在しないことにある。<br
      />
      <br />
      大体の登りに存在するはずの緩斜面が無い。<br />
      常に10%がサイコンに表示される。<br />
      <br />
      僕は耐えるしかなかった。いつ終わるともしれない山頂を目指してただひたすら耐えた。<br
      />
      一寸先にどんな激坂が待っているかもわからない。<br />
      <br />
      万が一更に凶悪な勾配が出てきたときのため心拍を上げることもできなかった。<br
      />
      43分耐えに耐えようやく神社が見えた時先行した2人が下山の準備をしていた。<br
      />
      <br />
      「鳥居の前に自転車置いたら注意されるので駐車場から撮るといいですよ！」<br
      />
      と教えてもらう。<br />
      教えてくれたTarmac乗りのナイスガイはラブライブの海未ちゃんが好きらしい。<br
      />
      <br />
      伊吹山ドライブウェイHCに出るらしいのでその時あったらラブライブの話がしたいぞ！<br
      />
      <br />
      <table
        align="center"
        cellpadding="0"
        cellspacing="0"
        class="tr-caption-container"
        style="margin-left: auto; margin-right: auto; text-align: center;"
      >
        <tbody>
          <tr
            ><td style="text-align: center;"
              ><a
                href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjghq6iW5XA2MNIncn6dVTzgka7gfRANAYmPkOH1U-3HfP5rE-XbsYYC_p7MykC8noEoB02tFj9aFKJdFEIqXCazyhI-n1D3RplljdPTM3JI9PsetNS4Y59hX9hHWKAXXQVQK0380tEaZI/s1600/IMG_20200111_144714.jpg"
                imageanchor="1"
                style="margin-left: auto; margin-right: auto;"
                ><img
                  border="0"
                  data-original-height="1200"
                  data-original-width="1600"
                  height="240"
                  src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjghq6iW5XA2MNIncn6dVTzgka7gfRANAYmPkOH1U-3HfP5rE-XbsYYC_p7MykC8noEoB02tFj9aFKJdFEIqXCazyhI-n1D3RplljdPTM3JI9PsetNS4Y59hX9hHWKAXXQVQK0380tEaZI/s320/IMG_20200111_144714.jpg"
                  width="320"
                /></a
              ></td
            ></tr
          >
          <tr
            ><td class="tr-caption" style="text-align: center;"
              >500m級とはいえ山頂は冷たい。<br />
              いそいそとGoreジャケットを着て下山する</td
            ></tr
          >
        </tbody>
      </table>
      諭鶴羽山攻略にここまで時間を使うなんて...<br />
      時計はまもなく14:50を指そうとしている。<br />
      <br />
      日没が迫ってきている...<br />
      <blockquote class="twitter-tweet">
        <div dir="ltr" lang="ja">
          BRM111神戸300淡路山脈の参加者へ連絡。諭鶴羽神社の鳥居前で自転車の写真を取ると関係者に注意されるとのことなので、来たことがわかる写真であれば何でもO.K.にします。
        </div>
        — かたやまたいすけ＠HAT神戸 (@caymanchang) <a
          href="https://twitter.com/caymanchang/status/1215890891639947264?ref_src=twsrc%5Etfw"
          >January 11, 2020</a
        >
      </blockquote>
      <script
        async=""
        charset="utf-8"
        src="https://platform.twitter.com/widgets.js"></script>
      鳥居の前で写真を取れなかった理由

      <br />
      <h3>DeathRoad.2 "柏原山"</h3>
      諭鶴羽山を下山すると5:00組、5:30組が登り始めていた。<br />
      <br />
      声を掛けつつ下り終えるとスタッフの方がカメラを持っておられたのでピースで返して水仙郷まで北上を開始する。<br
      />
      <br />
      ボトルの水が空っぽだったのでアクエリアスを買いに立ち止まったりしつつ走る。<br
      />
      <br />
      既に日没まであと3時間だ。柏原山まで行くのに1時間ほど必要だとすると攻略に使える時間は2時間しかない。<br
      />
      <br />
      ブラックサンダーを取り出すためにポケットを弄っていると3つ見つかった。<br
      />
      そしてその3つで最後ということを知る。<br />
      <br />
      補給が尽きたのだ。ハンガーノックという程ではないまでも頑張りすぎれば水仙郷で力尽きるかもしれない。<br
      />
      諭鶴羽山以上に心拍を上げることが許されなくなってきた...が無慈悲にも水仙郷の登攀を終え地獄の入り口に近づいていく。<br
      />
      <br />
      キューシートにこう書かれている。<br />
      <blockquote class="tr_bq">
        本当にここを上るのか？！という箇所を左折。
      </blockquote>
      そう来てしまった。<br />
      UG、16:00柏原山に入山。<br />
      <br />
      <br />
      柏原山に入るといきなり猟銃を持ったおっさんたちが現れいきなり銃に玉を込め始める。<br
      />
      <br />
      ブリーフィングで野生動物が出ると聞いていたが野生動物より先に銃を持った男たちに遭遇してしまった。怖い！(´；ω；｀)<br
      />
      (多分猟師さんなので実際は野生動物を脅すためにいてくれたと思われる🙏)<br />
      <br />
      登りより猟銃にビビりつつ登る。<br />
      ただひたすら無心になって登る。<br />
      <br />
      昨年来たときよりも道がきれいだ！なんて考える余裕が出てきたところで残り1km<br
      />
      <br />
      地獄が待っていた。<br />
      <blockquote class="twitter-tweet">
        <div dir="ltr" lang="ja">
          この世の地獄みたいな山道を登ってる<br />
          最大勾配は23% <a href="https://t.co/7E8f6lj3Nc"
            >pic.twitter.com/7E8f6lj3Nc</a
          >
        </div>
        — UGo (@gr8distance) <a
          href="https://twitter.com/gr8distance/status/1215896560388567041?ref_src=twsrc%5Etfw"
          >January 11, 2020</a
        >
      </blockquote>
      <script
        async=""
        charset="utf-8"
        src="https://platform.twitter.com/widgets.js"></script>
      俺は、<br />
      <br />
      諦めてバイクを押すことにした...<br />
      <br />
      既にカロリー収支的には完全にマイナスでここを心拍上げて登り切る自信が持てなかった。<br
      />
      無理すれば膝が爆発するかもしれない。<br />
      ただ一点、時間にはまだ余裕があった。<br />
      だから安全を優先した。かしこい！<br />
      <br />
      <table
        align="center"
        cellpadding="0"
        cellspacing="0"
        class="tr-caption-container"
        style="margin-left: auto; margin-right: auto; text-align: center;"
      >
        <tbody>
          <tr
            ><td style="text-align: center;"
              ><a
                href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhq4-k4c_hbi0jB9DaqpSHZQodNW4DSOCj2rSrk-GAX1JzKWgtnCi7eQoXBcKF4zKLQuKH8tnPvUJ9_vskQGcN_-OOG-quEwZ_oHly5VFdLN-aqd6Sk6iwAxWhm-242HrNR4l6aMeepekw/s1600/IMG_20200111_164144.jpg"
                imageanchor="1"
                style="margin-left: auto; margin-right: auto;"
                ><img
                  border="0"
                  data-original-height="1200"
                  data-original-width="1600"
                  height="240"
                  src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhq4-k4c_hbi0jB9DaqpSHZQodNW4DSOCj2rSrk-GAX1JzKWgtnCi7eQoXBcKF4zKLQuKH8tnPvUJ9_vskQGcN_-OOG-quEwZ_oHly5VFdLN-aqd6Sk6iwAxWhm-242HrNR4l6aMeepekw/s320/IMG_20200111_164144.jpg"
                  width="320"
                /></a
              ></td
            ></tr
          >
          <tr
            ><td class="tr-caption" style="text-align: center;"
              >信じられるか？淡路島なんだぜここ</td
            ></tr
          >
        </tbody>
      </table>
      <div class="separator" style="clear: both; text-align: center;"></div>
      <br />
      結局押して登っても心拍はL4くらいまでは上がったし落車しないという一点でメリットはあったけど結局疲れた...<br
      />
      <br />
      <table
        align="center"
        cellpadding="0"
        cellspacing="0"
        class="tr-caption-container"
        style="margin-left: auto; margin-right: auto; text-align: center;"
      >
        <tbody>
          <tr
            ><td style="text-align: center;"
              ><a
                href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgbtQLO66-3t8tPlrNJUd7oN02CmUF16suBWJjdyKID1y-SogbFTstkbEY0HU0KrdUCbQJNYQav5L5-5hZKzc-14XwBj6DNdEDLlLy3FjzK_GtjhP3GpeHIDmPDEn4SiRRvWkfn4g80mRo/s1600/IMG_20200111_165113.jpg"
                imageanchor="1"
                style="margin-left: auto; margin-right: auto;"
                ><img
                  border="0"
                  data-original-height="1200"
                  data-original-width="1600"
                  height="240"
                  src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgbtQLO66-3t8tPlrNJUd7oN02CmUF16suBWJjdyKID1y-SogbFTstkbEY0HU0KrdUCbQJNYQav5L5-5hZKzc-14XwBj6DNdEDLlLy3FjzK_GtjhP3GpeHIDmPDEn4SiRRvWkfn4g80mRo/s320/IMG_20200111_165113.jpg"
                  width="320"
                /></a
              ></td
            ></tr
          >
          <tr
            ><td class="tr-caption" style="text-align: center;"
              >暗くなり始めたけどまだ明るいうちに山頂まできた</td
            ></tr
          >
        </tbody>
      </table>
    </div>
    <div>
      <br />
    </div>
    <div>
      もはや走破というよりは踏破だったけれども明るいうちに山頂まできた。
    </div>
    <div></div>
    <div>ここから下山するとしても日は沈まない。</div>
    <div>
      <br />
    </div>
    <div>どうにか予定通り日没までに淡路山脈を攻略できた！</div>
    <div>
      <br />
    </div>
    <div>写真を取り終えたところで後続から2人来る。</div>
    <div>5:00組の人だ。</div>
    <div>2人もそそくさと写真を取り終えたので下り始める。</div>
    <div>
      <br />
    </div>
    <div>山陰で暗かったのでライトを付けて安全運転で下る。</div>
    <div>
      <br />
    </div>
    <div>
      下山してたら一人パンクして止まっていたけど僕自身チューブレスタイヤでクリンチャー用の修理キットも持ってないし手伝うこともできなさそうなので声だけ掛けて下山を続行。
    </div>
    <div>
      <br />
    </div>
    <div>
      下山したらスタッフさんが車に乗って待機しておられたので手を上げて挨拶だけして先を急ぐ。
    </div>
    <div>
      この先は洲本、実はコンビニが近くにあるのでそこで補給しようと思っていたのだった。
    </div>
    <div>時間は17:30といったところだろうか</div>
    <div>
      <br />
    </div>
    <div>コンビニにててりやきチーズチキンとおにぎりふたつを購入。</div>
    <div>
      チキンだけ温かいうちに食べおにぎりはジャージに突っ込んで岩屋へ向けて北上を開始する。
    </div>
    <div>急げば、もしかいたら一本でも速くフェリーに乗れるかもしれない。</div>
    <div>
      <br />
    </div>
    <div>
      <br />
    </div>
    <h3>自転車部。体幹ペダリングの裏技</h3>
    <div>
      海岸沿いに出たときにはすでに日は落ちていたがまもなく淡路島から脱獄できると思うとぼくの心は軽くなっていた。
    </div>
    <div>そして不思議と脚が回り始めた。</div>
    <div>
      <br />
    </div>
    <div>
      いつも200kmを越えてから脚が回り始めるのでいつものことではあるんだけどよくわからん...
    </div>
    <div>よくわからんけど調子もいいし淡路島の平坦は走りやすいので急ぐ</div>
    <div>
      <br />
    </div>
    <div>幸いほとんど信号にもひっかからないのでペースが落ちない。</div>
    <div class="separator" style="clear: both; text-align: center;">
      <a
        href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjDTEeZC1UtH2DSn2zDDoIEFqol0uUKWywoNga-IQDd1gqcuyPuP16BPQ9DWEyKXF2Ut3gbc-GDAhL9pHhAwwXGpybXIRbw1-PRYglxde-Sos-lvbbloqo6IYRSLi4eonp7eXqSW3MVoZA/s1600/00100lrPORTRAIT_00100_BURST20200111180325760_COVER.jpg"
        imageanchor="1"
        style="margin-left: 1em; margin-right: 1em;"
        ><img
          border="0"
          data-original-height="1200"
          data-original-width="1600"
          height="240"
          src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjDTEeZC1UtH2DSn2zDDoIEFqol0uUKWywoNga-IQDd1gqcuyPuP16BPQ9DWEyKXF2Ut3gbc-GDAhL9pHhAwwXGpybXIRbw1-PRYglxde-Sos-lvbbloqo6IYRSLi4eonp7eXqSW3MVoZA/s320/00100lrPORTRAIT_00100_BURST20200111180325760_COVER.jpg"
          width="320"
        /></a
      >
    </div>
    <div class="separator" style="clear: both; text-align: center;">
      海から月が昇る瞬間を見た。
    </div>
    <div class="separator" style="clear: both; text-align: center;">
      明るすぎて海に光の道ができていた
    </div>
    <div>
      <br />
    </div>
    <div>
      途中でおにぎりを食べるのと登り始めた月があまりに幻想的だったので写真を撮るために停車したけどそれでも平均速度は28.2km/h出てた。
    </div>
    <div>
      <br />
    </div>
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEi4HKQRb_DZ-tY2LAlpr0JGeLtrU_QtoZoa836HtzvvRCPjQtPn_VS3kM8M-tfnVQ11cUemmQtgTgkWn9ff4ymgDMyUOR2TRhMXkWZ6lmUxkcBt7VO9F_DD3CZbkeTzM1el5TL8RzHe7L8/s1600/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2020-01-16+0.45.05.png"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                height="288"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEi4HKQRb_DZ-tY2LAlpr0JGeLtrU_QtoZoa836HtzvvRCPjQtPn_VS3kM8M-tfnVQ11cUemmQtgTgkWn9ff4ymgDMyUOR2TRhMXkWZ6lmUxkcBt7VO9F_DD3CZbkeTzM1el5TL8RzHe7L8/s320/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2020-01-16+0.45.05.png"
                width="320"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            >250km走ったとは思えないくらい良いペース</td
          ></tr
        >
      </tbody>
    </table>
    <div>
      <div>
        18:38、岩屋港まで1.2kmのところの長い信号に引っかかったので岩屋初のフェリーの時間を調べる。
      </div>
    </div>
    <div>
      どうやら18:40に出る。それを逃すと次は19:20<br />
      18:40のに乗りたいけどなぁ...<br />
      厳しそうだがとにかく間に合うことを期待して1km個人タイムトライアルを開始する。
    </div>
    <div>
      <br />
      岩屋について券売機に向かうところで船が出港してしまった...
    </div>
    <div>
      ああ無慈悲<br />
      <br />
      落ち込んでも仕方ない。<br />
      最後55kmを走破するだけのカロリーを摂取しにチケットを買ってコンビニへ<br />
      <br />
      おもむろにおにぎりとカップ麺を選んで店員さんに店内使うので消費税10%払う旨を伝え食事にありつく。<br
      />
      気温が落ちてきていたこともあり、だいぶ温まった<br />
      <table
        align="center"
        cellpadding="0"
        cellspacing="0"
        class="tr-caption-container"
        style="margin-left: auto; margin-right: auto; text-align: center;"
      >
        <tbody>
          <tr
            ><td style="text-align: center;"
              ><a
                href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiiPqQx8DPAzjZeP2yb3QvuxCua6WjUw7Qg1O9PLnpTA1tjVdBSBAmasoCCt8Ec5iIH088n8m5F1vQ8n_6Wfm1G9nYZaEKYfR1iVePiZKNMgXoUhand9T5O-pT-ONzu2T9nXp4z5z3XTRw/s1600/IMG_20200111_190435.jpg"
                imageanchor="1"
                style="margin-left: auto; margin-right: auto;"
                ><img
                  border="0"
                  data-original-height="1600"
                  data-original-width="1200"
                  height="320"
                  src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiiPqQx8DPAzjZeP2yb3QvuxCua6WjUw7Qg1O9PLnpTA1tjVdBSBAmasoCCt8Ec5iIH088n8m5F1vQ8n_6Wfm1G9nYZaEKYfR1iVePiZKNMgXoUhand9T5O-pT-ONzu2T9nXp4z5z3XTRw/s320/IMG_20200111_190435.jpg"
                  width="240"
                /></a
              ></td
            ></tr
          >
          <tr
            ><td class="tr-caption" style="text-align: center;"
              >ゆるキャン(実写)をみて麺類が食べたかった</td
            ></tr
          >
        </tbody>
      </table>
      食べたので速やかに岩屋港に戻るとぼくの他に二人来ていた。<br />
      <br />
      岩屋で待っていたブルベの人に「時計の写真撮りました？」と聞かれた時ぼくはPC3の攻略条件たる時計の写真を撮ってないことに気がつく。<br
      />
      ブルベの人にお礼🙏を写真を撮ってからフェリーへ乗船。<br />
      <br />
      ここまで来て認定外になるところだった...<br />
      <table
        align="center"
        cellpadding="0"
        cellspacing="0"
        class="tr-caption-container"
        style="margin-left: auto; margin-right: auto; text-align: center;"
      >
        <tbody>
          <tr
            ><td style="text-align: center;"
              ><a
                href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhSp-7VEbVXhFmjXSX02rtSJoWmv5LnJdNfvLUYj7Nn7bOK2AGuh_yGF1GOrNv-8VkKLgVKQG0QigwxX-V5D6wSauIs5At6L8HGAMd1Q9SnFKcAzi584mxQ6_jWb-5JCIeSyAL8_hKSEVU/s1600/IMG_20200111_191746.jpg"
                imageanchor="1"
                style="margin-left: auto; margin-right: auto;"
                ><img
                  border="0"
                  data-original-height="1600"
                  data-original-width="1200"
                  height="320"
                  src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhSp-7VEbVXhFmjXSX02rtSJoWmv5LnJdNfvLUYj7Nn7bOK2AGuh_yGF1GOrNv-8VkKLgVKQG0QigwxX-V5D6wSauIs5At6L8HGAMd1Q9SnFKcAzi584mxQ6_jWb-5JCIeSyAL8_hKSEVU/s320/IMG_20200111_191746.jpg"
                  width="240"
                /></a
              ></td
            ></tr
          >
          <tr
            ><td class="tr-caption" style="text-align: center;"
              >もし18:40に間に合ってたら確実に写真撮れてなかった..</td
            ></tr
          >
        </tbody>
      </table>
      <br />
      <h3>明石港 ~ ゴール</h3>
    </div>
    <div>この度もあと55kmで終わりと思えばどんどん気が楽になる。</div>
    <div>
      <br />
    </div>
    <div>
      最初の40kmは斜度もそこまできつくないから26 ~
      30km/hくらいをキープして攻略していく
    </div>
    <div>
      最後の通過チェックになってる防災公園がどこかわからないので3回ほど停車して道を確認、そのたびに同じフェリーに乗ってたブルベの人と合流する。
    </div>
    <div>
      <br />
    </div>
    <div>
      そのあと防災公園まで一緒に走って写真を撮ったがすぐにはぐれてしまった。
    </div>
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjzY0H-7c-ADtbEDCzM5oObM041PMU06151ig1rzZ-6iittuei4jexOdE7wXBvB10zGLTGScCy5nV6Vh7wWPcU9yT4CBZMcglX3wIvLbuMBQ1abSNWnacq2oNsQHZ1wyzCI1vTKf7Zik6M/s1600/IMG_20200111_204324.jpg"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                data-original-height="1600"
                data-original-width="1200"
                height="320"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjzY0H-7c-ADtbEDCzM5oObM041PMU06151ig1rzZ-6iittuei4jexOdE7wXBvB10zGLTGScCy5nV6Vh7wWPcU9yT4CBZMcglX3wIvLbuMBQ1abSNWnacq2oNsQHZ1wyzCI1vTKf7Zik6M/s320/IMG_20200111_204324.jpg"
                width="240"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            >結構いい感じに取れてる</td
          ></tr
        >
      </tbody>
    </table>
    <div>
      ここを越えたらあとは神戸に至るだけ！と思ってたけどまたも10%超えの坂が現れる...
    </div>
    <div>
      <br />
    </div>
    <div>
      どうしておれは同日開催のカキオコブルベにエントリしなかったのかと考えながらも気がつけば最初の通過チェックになってる外国人墓地の看板が見える
    </div>
    <div>
      <br />
    </div>
    <div>
      凍えながら下りゴールPCでプロテインジュースを購入。ゴール受付のマクドで受付を済ませる。
    </div>
    <div>わずか300kmのハズなのに認定まで17時間1分もかかってしまった...</div>
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEht1fApjBrA8NJCh7pl0FYgVN3kn2KVj2iIZxbUBO5M9w-1u0Uhtt4mTmwSFsC2RIxJxALQikZU6rHAl8YDibuGWpv-67xIl5Iwg8j7F2aNTN9v34f-nmLdAJE0VMEA_jZfcTpDKjZqINA/s1600/IMG_20200112_011538.jpg"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                data-original-height="1600"
                data-original-width="1200"
                height="320"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEht1fApjBrA8NJCh7pl0FYgVN3kn2KVj2iIZxbUBO5M9w-1u0Uhtt4mTmwSFsC2RIxJxALQikZU6rHAl8YDibuGWpv-67xIl5Iwg8j7F2aNTN9v34f-nmLdAJE0VMEA_jZfcTpDKjZqINA/s320/IMG_20200112_011538.jpg"
                width="240"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            >このブルベは泉佐野600とか大阪 -&gt; 沼津よりはるかにきつい</td
          ></tr
        >
      </tbody>
    </table>
    <h3>
      <br />帰ろう。根が生えないうちに
    </h3>
    <div>フラフラになりながらも自走で帰宅。</div>
    <div>
      立ち止まると眠くてひっくり返りそうになったのでなるべく止まらず走っていたが大阪が近づくにつれて信号が増えストップアンドゴーに
    </div>
    <div>
      <br />
    </div>
    <div>なんとか意識を保ちつつ帰宅</div>
    <div>
      <br />
    </div>
    <div>
      帰宅後は1時間くらい放心してたけど眠さに勝てないのでシャワーを浴びてお布団峠を下る。
    </div>
    <div>
      数時間前まで淡路島の地獄にいたのでお布団の柔らかさにはあまり現実感がないなんて考えてたら意識が途切れた。
    </div>
    <div>
      <br />
    </div>
    <h3>終わりに</h3>
    <div>
      往復380km、獲得標高は5000m近くあり自走沼津で往復するより獲得標高が高い。
    </div>
    <div>
      <br />
    </div>
    <div>来年は、カキオコに出よう</div>
    <div>そうしよう...</div>
    <div>
      <br />
    </div>
    <div>
      <br />
    </div>
    <div>ここまで読んでくださってありがとうございます🙏</div>
  

</ArticleTemplate>
</Layout>