---
import Layout from "../../layouts/Layout.astro";
import { ArticleTemplate } from "../../templates/ArticleTemplate";
const title = "沼津移住計画";
const category = "CYCLING";
const thumbnail = "/thumbnails/2020-08-10-沼津移住計画.jpg";
---


    <div class="separator" style="clear: both; text-align: center;">
      <div class="separator" style="clear: both; text-align: center;">
        <a
          href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhOJ_NApc6iU5qhXm0mHwKLG2G2cOnXiVOITrjqOadac1JW7VNZQguKPDHpWXz0QAvnTIL6vdPnjCto0h35lcJyFYxd-X8LcUCfCIY24BNv6OvlZP-JWHByopugVjDC4w0qM_3R4mPBRR0/s1440/IMG_20200627_174917_862.jpg"
          style="margin-left: 1em; margin-right: 1em;"
          ><img
            border="0"
            data-original-height="1440"
            data-original-width="1440"
            height="640"
            src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhOJ_NApc6iU5qhXm0mHwKLG2G2cOnXiVOITrjqOadac1JW7VNZQguKPDHpWXz0QAvnTIL6vdPnjCto0h35lcJyFYxd-X8LcUCfCIY24BNv6OvlZP-JWHByopugVjDC4w0qM_3R4mPBRR0/s640/IMG_20200627_174917_862.jpg"
          /></a>
      </div>
    </div><p>
      covid-19が大流行した2020年、目標としていたレースは次々と中止の決定を下され、遠くに微かに見える2022年のGF世界選手権出場だけが私のモチベーションとなりつつあった。
    </p><p>
      しかし同時に緊急事態宣言による外出自粛発令。それに伴い弊社でも(部分的な)リモートワークの導入が実行され新しい生活様式の一端を垣間見たとき気づいた...
    </p><p><br /></p>

    <blockquote class="twitter-tweet">
      <p dir="ltr" lang="ja">
        この調子で毎日リモートワークになってくれたらこっそり沼津に引っ越してもバレへんのちゃう？🤔<br
        />年末調整でバレる模様
      </p>— UG (@gr8distance) <a
        href="https://twitter.com/gr8distance/status/1249319886662152193?ref_src=twsrc%5Etfw"
        >April 12, 2020</a>
    </blockquote>
    <script
      async=""
      charset="utf-8"
      src="https://platform.twitter.com/widgets.js"></script><div>
      <br />
    </div><h2 style="text-align: left;">
      <span style="font-size: x-large;">なんのための沼津引っ越し?</span>
    </h2><div>引っ越しを検討した理由は主に3つ</div><div>
      <ul style="text-align: left;">
        <li>自転車</li><li>ラブライブ</li><li>税金</li>
      </ul><div>半分くらいはあ、(察し)ってなるかもしれませんねぇ</div>
    </div><div>順を追って書いていきますよぉ</div><div><br /></div><div>
      <br />
    </div><h3 style="text-align: left;">引っ越しの目的 #1 自転車</h3><div
      class="separator"
      style="clear: both; text-align: center;"
    >
      <a
        href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhyPUwexqVPcPplWo-mGCYwMJPXLMLEWUV-J9AOrfpMRbkbHjjwfvybDxwb9dK3wIBSI9HFPfy9S3SqP2wGzv8618Ml88T6tFBXTfUpZE_11urt6Kq0OWpk5rLpnX-6_2e_kb7jNXER_6o/s2048/IMG_20200615_092813.jpg"
        style="margin-left: 1em; margin-right: 1em;"
        ><img
          alt="沼津なら富士山にだってすぐに行ける"
          border="0"
          data-original-height="1536"
          data-original-width="2048"
          height="480"
          src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhyPUwexqVPcPplWo-mGCYwMJPXLMLEWUV-J9AOrfpMRbkbHjjwfvybDxwb9dK3wIBSI9HFPfy9S3SqP2wGzv8618Ml88T6tFBXTfUpZE_11urt6Kq0OWpk5rLpnX-6_2e_kb7jNXER_6o/w640-h480/IMG_20200615_092813.jpg"
          title="沼津なら富士山にだってすぐに行ける"
          width="640"
        /></a>
    </div><div><br /></div><div><br /></div><div>
      私、おそらく給料の20%くらいは自転車に使ってると思うんですよね。
    </div><div><br /></div><div>
      つまり私の20%は自転車で成り立っていると言っても過言では無いと思うんです。
    </div><div>
      そんなUGの掲げた大きな目標に2022年のGF世界選手権出場があります。
    </div><div>
      今年ニセコクラシック(世界選手権の予選も兼ねたレース)が開催されればどの程度の実力化はっきりしたのですが現時点では自分の競技力がどの程度のものなのか？世界で通用するのかは未知数。しかし目標を達成するためには今以上の競技力が必要になることは明白。
    </div><div><br /></div><div>
      趣味なので妥協はしない。ローラー以外のトレーニングの頻度を増やす必要が出てくる。(ロードレースはローラーじゃないから)
    </div><div><br /></div><div>
      ここでネックになるのは大阪の交通事情。信号、車、とにかく多い。タクシーが急ブレーキをかけ、信号待ちしてる真横をトラックがかっ飛んでいく。
    </div><div>
      なるべく安全を優先して深夜や早朝にトレーニングをしても信号で停まる時間やタクシーの急ブレーキは避けようが無い...
    </div><div>
      自分と周囲の安全のことも考えれば大阪はトレーニーには厳しい...
    </div><div><br /></div><div>
      じゃあ沼津はどうなん？という話があるので実際どうなのか、「沼津市役所移住定住相談室」に相談してみた。
    </div><div>
      相談してみたところ、沼津 ~
      伊豆というのはオリンピックのコースにもなっており有名なプロ選手のトレーニングスポットになっていたり、そもそも市が自転車推しなので自転車に対するサポートが手厚い。(パンク修理キットとか空気入れとかが提供された道の駅的なスポットが結構ある)ツールド沼津などのライドイベントも開かれていたりする！
    </div><div>
      そして安心と信頼のスルガ銀行さん。スルガ銀行さんは自転車推し。ローン組むときにはお世話になるかもしれない。
    </div><div><div>さらにシャイニークライムもできる(後述)</div></div><div>
      <br />
    </div><div>これは熱い！</div><div>沼津すごいやん。</div><div>
      これだけでも十分な移住の目的になりますねぇ！
    </div><div><br /></div><div><br /></div><h3 style="text-align: left;">
      引越しの目的 #2 ラブライブ
    </h3><div class="separator" style="clear: both; text-align: center;">
      <a
        href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhOFGXZ3Lhui4W7wkpel5hDL8xVbc34dvl6W-SGd0hirn3gj-RvNDcHYQhG08UhGpDCtBzwttdiq6s4npTTPzaVg-tyjppfArV_-0tvSon-BQ74dprqGIaVjKrwU0G9SuIS9ZhlZZje6Jk/s2048/IMG_20200613_132145.jpg"
        style="margin-left: 1em; margin-right: 1em;"
        ><img
          alt="街の中にアニメの世界が広がる"
          border="0"
          data-original-height="1536"
          data-original-width="2048"
          height="480"
          src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhOFGXZ3Lhui4W7wkpel5hDL8xVbc34dvl6W-SGd0hirn3gj-RvNDcHYQhG08UhGpDCtBzwttdiq6s4npTTPzaVg-tyjppfArV_-0tvSon-BQ74dprqGIaVjKrwU0G9SuIS9ZhlZZje6Jk/w640-h480/IMG_20200613_132145.jpg"
          width="640"
        /></a>
    </div><div><br /></div><div>
      このブログには過去に何度かラブライブ!サンシャイン!!ネタの記事が投稿されたことがあります。
    </div><div>
      ご存知沼津はラブライブ!サンシャイン!!の聖地。アニメに登場した背景は沼津で実際に見ることができるのです。
    </div><div><br /></div><div>
      もし沼津に住めば外出即聖地巡礼ということになり、まぶたをとじれば淡島で黄昏る三年生たちを見ることもできるでしょう。
    </div><div>
      ディズニーが好きな人でもディズニーランドに住むことはできません。ですが沼津に住むことはできます！これだけの特権、使わずに生きられるだろうか？いや、無理！！
    </div><div><br /></div><div>
      自転車の話にも重なりますが、淡島をもう少し南に進むと国道127号線が出てきます。
    </div><div>
      アニメ二期の劇中、シャイニーを探してワーゲンバスが登っていったあの登りです。もし移住すればそこがホームコースになります。毎晩シャイニーを探せます。
    </div><div><br /></div><div>
      びゅうおに行って夕日を眺めることも、淡島ホテルでお茶することもできます。
    </div><div><br /></div><div><br /></div><h3 style="text-align: left;">
      引っ越しの目的 #3 税金
    </h3><div class="separator" style="clear: both; text-align: center;">
      <a
        href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjg4Ca3wQDwbsOnA79wxL-MRTSwKhUvNAUz432Ivn9CLbV_gqqc3t-2j5c39E6YbbKdO-Cgj_EBhJydhEgD7oYIkt_I0QO6vMJGQofNQWB0ihHJC3gs_NbSTUCEO1iOKxhybh7r6_w2-rs/s2048/IMG_20200613_160737.jpg"
        style="margin-left: 1em; margin-right: 1em;"
        ><img
          border="0"
          data-original-height="2048"
          data-original-width="1536"
          height="640"
          src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjg4Ca3wQDwbsOnA79wxL-MRTSwKhUvNAUz432Ivn9CLbV_gqqc3t-2j5c39E6YbbKdO-Cgj_EBhJydhEgD7oYIkt_I0QO6vMJGQofNQWB0ihHJC3gs_NbSTUCEO1iOKxhybh7r6_w2-rs/s640/IMG_20200613_160737.jpg"
        /></a>
    </div><div><br /></div><div>
      納税は国民の義務であると憲法に書いてます。社会人12年目のおじさんももちろん納税者です。
    </div><div>
      今までは義務だから仕方ないと思って払ってきた(天引きされてた)税金ですが沼津に住めば考えが変わるのではないかという期待があります。
    </div><div><br /></div><div>
      私はライブやファンミは欠かさず行きます！という熱心なファンでは無いものの作品自体はすごく好き。もしも自分が納めた税金が沼津をより良くするために使われるならそれはラブライブ!サンシャイン!!の聖地のために使われるということになるわけで。
    </div><div>
      税金を納めるというか、沼津の維持活動に寄付。しかも寄付すると公共のサービスも追加で受けられる。
      こう考えると急に税金を収めたくなる。納めたくない？
    </div><div><br /></div><div>
      ラブライブ!サンシャイン!!だけではありません、沼津市は自転車に手厚く、払った税金がサイクルステーションの維持に当てられる。サイクルイベントにも充当されてるならそれも良い。
    </div><div><br /></div><div>
      好きなこと全般に税金が使われると思えば納めたくなる。
    </div><div>義務なら納得して納めたい！</div><div>
      適当に理由をつけて諦めていたところにこれ以上無く良い意味が与えられる。
    </div><div><br /></div><div>
      生きている限り納税は続くので仕方なくより納得して納められれば良いなと思うわけです。
    </div><div><br /></div><div><br /></div><h2 style="text-align: left;">
      課題
    </h2><div>
      これだけ引っ越す理由が揃っていてもじゃあ今すぐ引っ越しというわけには行きません。
    </div><div>
      大人なので乗り越えないとならない壁、確認すべきことなどがあるわけです。
    </div><div>いくつか列挙します。</div><div><br /></div><h4
      style="text-align: left;"
    >
      壁(課題とも)
    </h4><div>
      <ul style="text-align: left;">
        <li>お仕事</li><li>お金(主に引越し資金)</li>
      </ul>
    </div><h4 style="text-align: left;">確認すべきこと</h4><div>
      <ul style="text-align: left;">
        <li>
          本当にトレーニングに適した場所か？(間違いないと思うが1週間ほど泊まって確認したい)
        </li><li>住む場所</li>
      </ul><div><br /></div>
    </div><div>課題の筆頭に上がるのがお仕事、そしてお金周り。</div><div>
      お金はあれですね、入ったら入った分だけ自転車につぎ込んでるから...(貯金はあるけど削ったら遠征費とかが...)
    </div><div><br /></div><div>
      お仕事は選ばなければいくつでも選択肢はあるのかもしれませんが自転車に避ける時間が減ることは許容できない。例えば沼津に住んで東京に通勤とかは厳しい...。
    </div><div>だとすると完全リモートワークが望ましい。</div><div>
      このへんは進展があれば随時更新するか別記事にまとめたいところ。
    </div><div><br /></div><div>
      あと確認すべきこととしては本当にトレーニングに適した場所であるかです。
    </div><div>
      プロ選手も使う道というある意味でもっとも信頼あるコースではあるものの、それでも自分の脚で走って確認したい。
    </div><div>
      これは別途時間を作って1週間程度滞在して10月までには確認する予定。
    </div><div><br /></div><div>
      また、住む場所も検討したいところで、沼津移住相談室さんやバーガトーのマスター曰く沼津市に住む方が都合が良いだろうとのことだったけど、実際シャイニークライムに挑むなら127号線近辺、静浦とかに住むほうが良いかもしれない。
    </div><div>これも実際に滞在して確認しておきたいところ。</div><div>
      <br />
    </div><h2 style="text-align: left;">さいごに</h2><div>
      沼津は是非また行きたいと思いつつ引っ越すなんて夢のまた夢と思っていたけど移住したいという気持ちに気づいてしまったので後は行動あるのみ状態。
    </div><div><br /></div><div>
      今すぐに解決できないことも多いですが順調に進めば来年の今頃には引っ越しできているので来年を楽しみに準備を進めていきますよぉ！
    </div><div><br /></div>
  

</ArticleTemplate></Layout>