---
import Layout from "../../layouts/Layout.astro";
import { ArticleTemplate } from "../../templates/ArticleTemplate";
const title = "毎月2000km走るおじさんの話_12月編";
const category = "CYCLING";
const thumbnail =
  "/thumbnails/2020-03-09-毎月2000km走るおじさんの話_12月編.jpg";
---

<Layout title={title}>
  <ArticleTemplate
    title={title}
    thumbnail={thumbnail}
    date={"2020-03-09"}
    category={category}
  >
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjhvSPjM9zr2Sm4wpLuHw2iLFnpiWhX0lNII2SgCCH6-wfPT26oUWK2l1IOx1go_bDp6IKe1bUssWAwjaQFnuIm1j2wDUJsmevWTrVurEN4zEMmWhDgvaWYqlNYG3ZPVEKYDg9e8Bfb2Po/s1600/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2020-03-08+23.03.40.png"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                height="120"
                src="/images/articles/2020-03-09-毎月2000km走るおじさんの話_12月編/image-40.jpg"
                width="320"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            >12月は2100km<br />
            ちょっと欲張った</td
          ></tr
        >
      </tbody>
    </table>
    <br />
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhnsIC5v0iXotpAQZzYT6dm2ecCxvObkA7-AbBttUONPO_Ca2b4_0B8slUVye2Wz7KhbAVmnVzIRev-6v-7Q3ih3LWS1NImNgAeVoSmIteOfc1ACYavhrjCxr0Bm9FXJkDxNK_aBYYIcEI/s1600/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2020-03-08+23.04.35.png"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                height="320"
                src="/images/articles/2020-03-09-毎月2000km走るおじさんの話_12月編/image-841.jpg"
                width="296"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            >&nbsp;12月のトレーニング一覧(一部11月と1月を含む)</td
          ></tr
        >
      </tbody>
    </table>
    <div>
      <br />
    </div>
    <h3>フルタイムワーカー、がんばる</h3>
    <div>パワー型ロングライダーになるための挑戦が開幕しました。</div>
    <div>
      <br />
    </div>
    <div>
      フルタイムと言っても12月と1月は年末年始にまとまった休みがあります(お仕事がトラブってなければな！！)。
    </div>
    <div>
      <br />
    </div>
    <div>
      12月の場合は最終週までに1600km走れていればそこからの追い上げで達成できると踏んでいました。
    </div>
    <div>
      <br />
    </div>
    <div>
      <br />
    </div>
    <h3>1日 ~ 8日</h3>
    <div>チャレンジ初週ということで気合は十分だった。</div>
    <div>
      <br />
    </div>
    <div>
      560kmほど走ったようで6日に休息日を挟んだもののそれ以外は全日ライド。
    </div>
    <div>
      <br />
    </div>
    <div>
      1日<br />
      初ライドでいきなりタイヤに穴が空きシーラントが吹き出してライドを終了している。どうして僕はこんなやばい状態のタイヤでチャレンジ開始したんだ...🤔
    </div>
    <div>
      <br />
    </div>
    <div>
      2日<br />
      勝尾寺へ夜ライド。Stravaによると結構良いペダリングができて喜んでいる
    </div>
    <div>
      <br />
    </div>
    <div>
      3,4日<br />
      なぜかZwiftで高強度インターバルを行っている.🤔距離を走らないといけないのになんでこんなことやってたんだろう...
    </div>
    <div>
      <br />
    </div>
    <div>
      5日<br />
      再び勝尾寺へ。勝尾寺まで行くと往復で45kmくらい距離を稼げるのでお得。
    </div>
    <div>
      <br />
    </div>
    <div>
      7,8日<br />
      地元和歌山へ里帰り。やはりわからないのが一部区間で超高強度トレーニングを行っていたりする。復路はオール向かい風だった模様。しかし結構なパワーが出ていた
    </div>
    <iframe
      allowtransparency="true"
      frameborder="0"
      height="405"
      scrolling="no"
      src="https://www.strava.com/activities/2916259309/embed/505e4302e00b7b33c0cd58006eea553429166bb9"
      width="590"></iframe>

    <br />
    <div>
      <br />
      <br />
    </div>
    <div>
      <h3>9日 ~15日</h3>
    </div>
    <div>
      週末のロングライド後なので9日は流石にお休みだけどそれ以外は全部ライド。<br
      />
      この週は440kmほど走る。<br />
      初週と合わせてちょうど1000kmに到達。半分まできたよ！<br />
      <br />
    </div>
    <div>
      <br />
    </div>
    <div>
      10日<br />
      休むつもりだったらしいがZwiftに乗る。しかし距離は10kmほど。
    </div>
    <div>
      <br />
    </div>
    <div>
      11日<br />
      Zwiftレースで集団に置いていかれた腹いせに途中で切り上げて勝尾寺へ。ダンシングで4.5km登坂した。
    </div>
    <div>
      <br />
    </div>
    <div>
      12日<br />
      Zwiftレース(Cクラス)で優勝した。ローラーは目的を持ってやらないと途中でやめたくなるのでレースは継続するとてもいい手段
    </div>
    <div>
      <br />
    </div>
    <div>
      13日<br />
      翌日に200km超えのライドを予定しているため軽めに30kmほどZwift<br />
      <br />
      14日<br />
      BRM川西200のコースをロングライド初参戦の友人と走る。ブルベのルールに則った模擬ブルベで走行。全員完走できたし今年はどこかでブルベに挑戦してくれないかなぁ🤔🤔<br
      />
      <br />
      <iframe
        allowtransparency="true"
        frameborder="0"
        height="405"
        scrolling="no"
        src="https://www.strava.com/activities/2931492024/embed/a75fa7af742db29ed9c9befb86fdfe11d40c9df1"
        width="590"></iframe><br />
      <table
        align="center"
        cellpadding="0"
        cellspacing="0"
        class="tr-caption-container"
        style="margin-left: auto; margin-right: auto; text-align: center;"
      >
        <tbody>
          <tr
            ><td style="text-align: center;"
              ><a
                href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEi7lftkdYzBBzBWqDgRHwZ3p5qlI_hIN_pXgZz1t7EXV3UG6Y0yPR4bLZetgywh5ALXomWXAiPFuAGNXNmOGfBaGy6EQv3UvzPO3F6H_MpMJw6Icp0I-NwcMuG_8vl_yFsUSv0ESU3P2I8/s1600/IMG_20191214_110729.jpg"
                imageanchor="1"
                style="margin-left: auto; margin-right: auto;"
                ><img
                  border="0"
                  height="320"
                  src="/images/articles/2020-03-09-毎月2000km走るおじさんの話_12月編/image-713.jpg"
                  width="240"
                /></a
              ></td
            ></tr
          >
          <tr
            ><td class="tr-caption" style="text-align: center;"
              >覗きはまずいですよ！</td
            ></tr
          >
        </tbody>
      </table>
      <br />
      <br />
      15日<br />
      いつもお世話になっているラビットストリートさんの年内最後の朝練。前日の240kmのダメージを引きずりながらも最後まで走りきった。最後のスプリントで敗北した。<br
      />
      <iframe
        allowtransparency="true"
        frameborder="0"
        height="405"
        scrolling="no"
        src="https://www.strava.com/activities/2933384089/embed/0ec3216eadd60bd2c6ceb1bc9aa79f1b53c74499"
        width="590"></iframe>

      <br />
      ↑の朝練の帰りに愛車のコンポを電動Duraに載せ替えるためバイクを預けて帰宅。<br
      />
      <br />
      <h3>16日 ~ 22日</h3>
      <div>
        19日まではコンポの載せ替えでバイクがないため久しぶりの休息日となった。
      </div>
      <div>
        でもほぼほぼ毎日バイクに乗ってたわけで4日もライドナシというのはそれはそれはこたえてしまった。
      </div>
      <div>
        <br />
      </div>
      <div>
        ちなみにこの週の走行距離は265kmほど。大したこと無いけどバイクが無かったから仕方ないね。
      </div>
      <div>
        <br />
      </div>
      <div>
        <br />
      </div>
      <div>
        20日<br />
        バイクを受け取る。翌日にガッツリ走るつもりだったので帰宅のみ<br />
        <br />
      </div>
      <div>
        <br />
      </div>
      <div>
        21日<br />
        BRM琵琶湖200のコースを一部走行する200kmのロングライド。Duraのブレーキのあまりの効きの良さに感動してペダルも変えようと思いたつに至る。
      </div>
      <div>
        <br />
        なお数日ぶりのライドのため大変疲れた...<br />
        <br />
      </div>
      <iframe
        allowtransparency="true"
        frameborder="0"
        height="405"
        scrolling="no"
        src="https://www.strava.com/activities/2946212409/embed/44e7b0312f9eed1b3fe7907f4547ead68c59007f"
        width="590"></iframe>

      京都と滋賀の県境で謎のおばあちゃんに謎のグッズをプレゼントされた🤔<br />
      <table
        align="center"
        cellpadding="0"
        cellspacing="0"
        class="tr-caption-container"
        style="margin-left: auto; margin-right: auto; text-align: center;"
      >
        <tbody>
          <tr
            ><td style="text-align: center;"
              ><a
                href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjYx3de-Bw8jQ6E0OtYj_a4j0gvUK_yFPNz5eV-6fgNCOs-A5_CvvVCZFUxmzdUe0-zG18jdcV6QlRS9eCmnX3-_2ecd-oj45hd7vGxWofuu49mQ8HDGwiIbrxvycUJ1Ou0vJs80CcXwD8/s1600/MVIMG_20191221_103630.jpg"
                imageanchor="1"
                style="margin-left: auto; margin-right: auto;"
                ><img
                  border="0"
                  height="320"
                  src="/images/articles/2020-03-09-毎月2000km走るおじさんの話_12月編/image-474.jpg"
                  width="240"
                /></a
              ></td
            ></tr
          >
          <tr
            ><td class="tr-caption" style="text-align: center;"
              >謎のおばあちゃんにちっちゃいくす玉みたいなやつを頂いた</td
            ></tr
          >
        </tbody>
      </table>
      22日<br />
      ペダルをSpeedPlayからDuraに変更した。<br />
      膝が壊れる不安もあったが使ってみたい気持ちを止められなかった<br />
      <br />
      <br />
      <h3>23日 ~ 29日</h3>
    </div>
    <div>
      月末が近づいてきたもののここまでで1270kmほどしか走れておらず月初の計画ではこの週末までに1600kmまで走らないと厳しいと感じていたため休息日を全く作らず走ることに。
    </div>
    <div>
      これは大変な悪手のためおすすめはしないんですが膝壊れずに走りきれたのは本当に幸運。
    </div>
    <div>
      <br />
    </div>
    <div>この週は640kmほど走ることができた！</div>
    <div>
      <br />
    </div>
    <div>23日</div>
    <div>
      Zwiftレース(Bクラス)に参戦。疲労を溜め込んでいるのに何故か3位でゴールしてしまう大健闘
    </div>
    <div>
      <br />
    </div>
    <div>24日</div>
    <div>完全にZwiftレースに味をしめてしまいこの日もレースに。Bクラス4位</div>
    <div>
      <br />
    </div>
    <div>25日</div>
    <div>
      調子に乗ってAクラスに出場してしまい5kmでちぎられる。戒めとして勝尾寺を往復することに
    </div>
    <div>
      <br />
    </div>
    <div>26日</div>
    <div>
      Zwiftレース。この日は控えめにCクラス。38km程度と短めのレースなので実質的な休息日
    </div>
    <div>
      <br />
    </div>
    <div>27日</div>
    <div>
      この日もZwiftレース。Cクラス。56kmと長めではあったもののクラスが低いので完走する。
    </div>
    <div>ここで通算1500kmに到達。</div>
    <div>
      <br />
    </div>
    <div>28日</div>
    <div>14日に川西200を走ったメンバーで忘年ライド。</div>
    <div>淀川 -&gt; 嵐山 -&gt; 勝尾寺をめぐる140kmほど。</div>
    <div>翌日に関宿往復を控えていたのでここは軽めに</div>
    <iframe
      allowtransparency="true"
      frameborder="0"
      height="405"
      scrolling="no"
      src="https://www.strava.com/activities/2961588524/embed/220c47fb8105ad8a94a27bc0259348f41bc54906"
      width="590"></iframe>

    <br />
    <br />
    <div>
      <br />
      29日<br />
      沼津まで行ったときに通った道を使って関宿まで行って帰ってくる200kmのライド<br
      />
      200km越えてから急に脚が動き始めたので50km追加で走ってしまった<br />
      <iframe
        allowtransparency="true"
        frameborder="0"
        height="405"
        scrolling="no"
        src="https://www.strava.com/activities/2964514169/embed/82273b2a762c51fe2e823c87ce0181460f6e1fea"
        width="590"></iframe>

      <br />
      <table
        align="center"
        cellpadding="0"
        cellspacing="0"
        class="tr-caption-container"
        style="margin-left: auto; margin-right: auto; text-align: center;"
      >
        <tbody>
          <tr
            ><td style="text-align: center;"
              ><a
                href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjNZNYuPOEtmNbCM_xi55iOyfNHRsueEaqbE5bjSd_zJcwA1qer2a_Onw9-HdJBusrpRz4SC3DZJSKELYiuM6A7JoK32Wnk7fUq2CRcJHbMnFw_60WLBqgYDEIQ9OXXgaaygmsP0VMkQK8/s1600/MVIMG_20191229_091557.jpg"
                imageanchor="1"
                style="margin-left: auto; margin-right: auto;"
                ><img
                  border="0"
                  height="320"
                  src="/images/articles/2020-03-09-毎月2000km走るおじさんの話_12月編/image-51.jpg"
                  width="240"
                /></a
              ></td
            ></tr
          >
          <tr
            ><td class="tr-caption" style="text-align: center;"
              >なぜこんな寒い中走るのか？<br />
              2000kmが目前だったからさ</td
            ></tr
          >
        </tbody>
      </table>
      <table
        align="center"
        cellpadding="0"
        cellspacing="0"
        class="tr-caption-container"
        style="margin-left: auto; margin-right: auto; text-align: center;"
      >
        <tbody>
          <tr
            ><td style="text-align: center;"
              ><a
                href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhtObOtmVHxLTgVmkl1vELX3ou0s1IT4QYpSR6GI5EN5AndE06zuMENAPjHeN4GgLf_a2jRrDGb-qtfClHlhAFZjM0Qo0OglL2WJ-GTbd1vsNDXgGhK_wvaeIRSIxpRmMNvkn262FQo6tQ/s1600/IMG_20191229_092132.jpg"
                imageanchor="1"
                style="margin-left: auto; margin-right: auto;"
                ><img
                  border="0"
                  height="240"
                  src="/images/articles/2020-03-09-毎月2000km走るおじさんの話_12月編/image-568.jpg"
                  width="320"
                /></a
              ></td
            ></tr
          >
          <tr
            ><td class="tr-caption" style="text-align: center;">五里霧中</td
            ></tr
          >
        </tbody>
      </table>
      <table
        align="center"
        cellpadding="0"
        cellspacing="0"
        class="tr-caption-container"
        style="margin-left: auto; margin-right: auto; text-align: center;"
      >
        <tbody>
          <tr
            ><td style="text-align: center;"
              ><a
                href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjgxO2xkIMJCudPcpZDLLklVESSh9GDytz9DeBaV8-VCjudPNFr_oSwdF7JhUGp-IjXEAuUZLttNuER14T_ilNz5tpsSFA8jeuSbwBjKKfDiddiyKnbWbr5gxhTokhbtT2reJhuXa3NwfE/s1600/IMG_20191229_141710.jpg"
                imageanchor="1"
                style="margin-left: auto; margin-right: auto;"
                ><img
                  border="0"
                  height="320"
                  src="/images/articles/2020-03-09-毎月2000km走るおじさんの話_12月編/image-826.jpg"
                  width="240"
                /></a
              ></td
            ></tr
          >
          <tr
            ><td class="tr-caption" style="text-align: center;"
              >実は淀川と木津川がつながっていることを知った</td
            ></tr
          >
        </tbody>
      </table>
      <br />
      <h3>30日 ~ 31日</h3>
      ２日でだいたい190kmほど<br />
      <br />
      30日<br />
      29日の段階で残り90kmまで来ていたので30日で走り納めとしたかったもののあいにくの雨☔。<br
      />
      昼には止むとのことだったので雨が上がるのを待ってから出発する。<br />
      80kmほど走り海南に到着したところでそこから南は大雨ということを家族から聞かされ迎えに来てもらった。<br
      />
      この日で12月の走行距離が1995kmとなる。<br />
      もうちょっと💦<br />
      <br />
      31日<br />
      5km走って軽めに終わらせるかなぁと思ったけどせっかくならもっと走ってやろうと思って白浜
      ~ 熊野本宮大社を往復することに。<br />
      走り納めにふさわしい<br />
      <iframe
        allowtransparency="true"
        frameborder="0"
        height="405"
        scrolling="no"
        src="https://www.strava.com/activities/2969323980/embed/be9a225303eb69054caf3342f4920bf26b2e6680"
        width="590"></iframe>

      <br />
      <table
        align="center"
        cellpadding="0"
        cellspacing="0"
        class="tr-caption-container"
        style="margin-left: auto; margin-right: auto; text-align: center;"
      >
        <tbody>
          <tr
            ><td style="text-align: center;"
              ><a
                href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhcEtgsiYkjfsH-b3AqOi3llIZWdd89m8BBhcXLlEEz-vFhMMPJX8lIWm5M4dOZfzS51vxzc7aFsDdAbhsK7swwdO_y9ybZFWZNxhRIMGbDRepQ9FhrL6lgPjHXNOi5L_i2EoQBeuMSxAQ/s1600/IMG_20191231_133925.jpg"
                imageanchor="1"
                style="margin-left: auto; margin-right: auto;"
                ><img
                  border="0"
                  height="240"
                  src="/images/articles/2020-03-09-毎月2000km走るおじさんの話_12月編/image-393.jpg"
                  width="320"
                /></a
              ></td
            ></tr
          >
          <tr><td class="tr-caption" style="text-align: center;"><br /></td></tr
          >
        </tbody>
      </table>
      この走り納めライドを持って2019年の年間走行距離は15731.7kmになった。<br />
      <br />
      <br />
      <h3>12月まとめ</h3>
      意外なほどあっさりと2000km走りきれた。<br />
      フルタイムワーカーでも頑張ればなんとかなるもんだ<br />
      <br />
      この月で<br />
      CTL(回復力) 80 -&gt; 96<br />
      TSB(疲労 -50越えたらやばい) -43<br />
      <br />
      常時太ももに疲労をためた状態でありながらも1ヶ月間しっかり走れたのは白浜クリテで優勝するという強い気持ちがあったからね。<br
      />
      <br />
      <br />
      次回 1月編へ続く<br />
      <br />
    </div>
  </ArticleTemplate>
</Layout>
