---
import Layout from "../../layouts/Layout.astro";
import { ArticleTemplate } from "../../templates/ArticleTemplate";
const title = "毎月2000km走るおじさんの話_2月編";
const category = "CYCLING";
const thumbnail = "/thumbnails/2020-03-15-毎月2000km走るおじさんの話_2月編.jpg";
---

<Layout title={title}>
  <ArticleTemplate
    title={title}
    thumbnail={thumbnail}
    date={"2020-03-15"}
    category={category}
  >
    12月、1月と2000kmを走りついにラスボス2月に挑むUG。<br />
    <div>過去2ヶ月は31日あったが2020年2月は29日しかない。</div>
    <div>
      <br />
    </div>
    <div>
      ただでさえ少ない日数に疲労した筋肉という足枷をはめた状態でこれはいよいよ未達成になるのではないか🤔とおじげづきながら日付をまたぐ。
    </div>
    <div>
      <br />
    </div>
    <div>
      やることはペダルを回して2000km走ること。そして僕に出来ることはペダルを回して走ること。
    </div>
    <div>
      <br />
    </div>
    <div>だからよぉ...</div>
    <div>
      止まるんじゃねぇぞ...<br />
      <br />
      <h3>1週目(土日だけ) ~ 2週目</h3>
      <iframe
        allowtransparency="true"
        frameborder="0"
        height="405"
        scrolling="no"
        src="https://www.strava.com/activities/3060828084/embed/14a699e51f851d75777c40be4eec63839a76133f"
        width="590"></iframe>
    </div>
    <br />
    日数は少ない、が、幸いにも週末の数は変わらないためここで距離を稼ぐ。<br />
    <br />
    1月の終盤の乗り込みでお股が壊れていたため刺激しないように低 ~ 中強度までで木津川
    &amp; 嵐山往復。<br />
    <br />
    <a
      href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhTMKTN6ScidYGPwETUqJ1XLd1Nz3iNsloFRAunNK-bS0tEkb_ihG1-KvQ31sr9qYleFE726xqcxtYvCjPpinbwWDSo5s2VevgO7xnmnVCGm-bhI1MJJTwrXTCT6dF8E2VWLeZX-EQ_gZo/s1600/IMG_20200201_105025.jpg"
      imageanchor="1"
      ><img
        border="0"
        height="320"
        src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhTMKTN6ScidYGPwETUqJ1XLd1Nz3iNsloFRAunNK-bS0tEkb_ihG1-KvQ31sr9qYleFE726xqcxtYvCjPpinbwWDSo5s2VevgO7xnmnVCGm-bhI1MJJTwrXTCT6dF8E2VWLeZX-EQ_gZo/s320/IMG_20200201_105025.jpg"
        width="240"
      /></a
    >
    <a
      href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEh2dgWLw-iaGuITWmsFvTbTPVMLIv-H2GeqcEmEmwgVhm_EV5CqV-q-nl7eL3_zJDbdsBRtf76Qb6U3AcINppcAVhzIWOSAGkMUpyIF_0qnA_jvASA2ZjnqP4SQn4pBuH8mPJ8oIP7qIFk/s1600/IMG_20200201_130139.jpg"
      imageanchor="1"
      ><img
        border="0"
        height="240"
        src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEh2dgWLw-iaGuITWmsFvTbTPVMLIv-H2GeqcEmEmwgVhm_EV5CqV-q-nl7eL3_zJDbdsBRtf76Qb6U3AcINppcAVhzIWOSAGkMUpyIF_0qnA_jvASA2ZjnqP4SQn4pBuH8mPJ8oIP7qIFk/s320/IMG_20200201_130139.jpg"
        width="320"
      /></a
    ><br />
    <br />
    この日は強度が低かったので100kmほどは無補給で走った感じ。<br />
    <br />
    翌日の日曜日はショップの朝練に参加。<br />
    <br />
    こればかりは強度を上げざるをえず、高強度で50kmを走る。<br />
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEi3d3nyhpZkGd8GFoaQBcG5PHO6T3d1b1GvRHngQaEPCmrevvwVZIQFLVhm7eYhnR2T9b5-Q6iAYV9Bj0XY1gH_Mx-YlrjBGr7iuHDgXi4RrWCdjY1MDb-uK33Q3N-inD3aZkRjYEytyAY/s1600/line_602788730462610.jpg"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                height="320"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEi3d3nyhpZkGd8GFoaQBcG5PHO6T3d1b1GvRHngQaEPCmrevvwVZIQFLVhm7eYhnR2T9b5-Q6iAYV9Bj0XY1gH_Mx-YlrjBGr7iuHDgXi4RrWCdjY1MDb-uK33Q3N-inD3aZkRjYEytyAY/s320/line_602788730462610.jpg"
                width="320"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            >胴体い対して尻と脚が太いので縮尺の違うプラモを合体させたみたいに見える🤔</td
          ></tr
        >
      </tbody>
    </table>
    ショップとの往復もあるので距離的には90kmほど走り2/2の時点で200kmほど稼ぐことに成功する<br
    />
    <br />
    平日は月曜日のみ休んで火曜日からはZwiftで50kmほど走る<br />
    メニューはだいたい<br />
    <br />
    <ul>
      <li>215w ~ 230wくらいの一時間走</li>
      <li>距離長めのZwiftレース(Aクラス or Bクラス)に参加する</li>
    </ul>
    <div>
      <br />
    </div>
    <div>2週目の週末は再びオーバーナイトライドを敢行。</div>
    <div>地元まで走ることに</div>
    <div>
      <br />
    </div>
    <iframe
      allowtransparency="true"
      frameborder="0"
      height="405"
      scrolling="no"
      src="https://www.strava.com/activities/3080392609/embed/e2b1d91e1fc8b5032b848b8287444aeab0066029"
      width="590"></iframe><br />
    <br />
    1月のオーバーナイトで車が少ないとか道が空いてるとか信号がバカになってて走りやすいことを知ってしまったので積極的に活用していく。<br
    />
    <br />
    このライドのコンセプトは無補給。<br />
    大量の補給食を持って走ることによって停車回数を削減するのが目標でトイレと信号以外では一度も止まること無く完走した。<br
    />
    <br />
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjQK6oyq99tO3JXkAkh9F6x7BMczGLmhNpRLwBOB9fpCrgF3Y_CNNrXY3cf01P0t0E1cp6J_b9g7u3uWoMHrp_XbBF2KdvfRSe_ta9d10WDzJrVGiM6hF8ETB9-fyJmCwhctCKAp29JGBQ/s1600/IMG_20200208_030114.jpg"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                height="240"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjQK6oyq99tO3JXkAkh9F6x7BMczGLmhNpRLwBOB9fpCrgF3Y_CNNrXY3cf01P0t0E1cp6J_b9g7u3uWoMHrp_XbBF2KdvfRSe_ta9d10WDzJrVGiM6hF8ETB9-fyJmCwhctCKAp29JGBQ/s320/IMG_20200208_030114.jpg"
                width="320"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            >写真だと明るく見えるけど実際は真っ暗で波の音とサイコンの電子音だけが聞こえた(怖い！)</td
          ></tr
        >
      </tbody>
    </table>
    <div>日曜日は同じコースを逆走して梅田に帰る175km走をこなす。</div>
    <div>
      <br />
    </div>
    <div>これで2週目の獲得距離は500km</div>
    <div>これ以上無いくらいの滑り出しとなった</div>
    <div>
      <br />
    </div>
    <h3>３周目 ~ 2月終わりまで</h3>
    <div>月曜日は休息に平日は前週と同じくZwiftでのローラー練で距離を稼ぐ。</div>
    <div>
      <br />
    </div>
    <div>
      3週目には平日に祝日があったが代わりに週末に結婚式がありロングで距離を稼げないため祝日に乗り込む
    </div>
    <div>
      <br />
    </div>
    <div>
      コースは定番化してきた木津川 &amp; 嵐山往復と嵐山 &amp; 勝尾寺往復。
    </div>
    <div>平日のローラーと合わせて3週目に480kmを稼ぐことに成功。</div>
    <div>なかなか良いペースだ！</div>
    <div>
      <br />
    </div>
    <div>4週目も平日はローラーと定番化してきた。</div>
    <div>
      週末、土曜日は雨のためほぼほぼ休息日としたが夕方から雨が上がったため軽めに20kmほど走る。
    </div>
    <div>
      <br />
    </div>
    <div>
      日曜日に日付が変わった直後からオーバーナイトライドで里帰りTTを敢行。
    </div>
    <div>
      <br />
    </div>
    <div>
      例によって大量の補給食をポッケに忍ばせつつ、今回はエアロを意識してGORE-TEXの上にRaphaの長袖エアロジャージを着用してみる。狙いとしてはGORE-TEXのバタつきを抑えて空力を稼ぎつつ保温も実行するという感じ。
    </div>
    <div>
      これは狙いがハマって最後の最後まで寒さで疲れることもなく向かい風で疲れることも無く走ることができた。
    </div>
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEg3fLMunu8s6ap3sU8uIDXGg7GPY3wh4MwhyphenhyphenYb75ylVx5YY1g7B5E-kx9UMuV_zmhsOG3Y96QrXSai2pTp-7e9hh-x_KLyNI9d0QTvXFcOsg0rUrBdgl7PKMTU3dqEbsXafM1W-4f4jCcM/s1600/IMG_q4mpu7.jpg"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                height="320"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEg3fLMunu8s6ap3sU8uIDXGg7GPY3wh4MwhyphenhyphenYb75ylVx5YY1g7B5E-kx9UMuV_zmhsOG3Y96QrXSai2pTp-7e9hh-x_KLyNI9d0QTvXFcOsg0rUrBdgl7PKMTU3dqEbsXafM1W-4f4jCcM/s320/IMG_q4mpu7.jpg"
                width="284"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            ><div>
              寒い日のオーバーナイトでは積極的に使っていきたいハックだった！
            </div>
          </td></tr
        >
      </tbody>
    </table>
    <div>翌月曜日が祝日のため例によって昼の間に来た道を帰る。</div>
    <div>月曜日のライド終了時点で残り1740km。</div>
    <div>2000km達成まで残り260kmに迫る。</div>
    <div>
      <br />
    </div>
    <div>
      こうも毎日乗っていると月末には言葉にし難い程の疲労が蓄積されておりいつものように一時間走やZwiftレースに参戦するもリタイアを連発、流石に目標達成間近というのもあって垂れながら50km走るまでローラーから降りられません状態で距離を稼ぐ。
    </div>
    <div>
      <br />
    </div>
    <div>
      どうにか2/28時点で1950kmまで漕ぎ着け(言葉通り漕ぎ着けた)迎えた2/29日の土曜日はなんと雨...
    </div>
    <div>
      <br />
    </div>
    <div>
      ローラーで50km走るというのはなんとなく味気ないし、3ヶ月合算で5950km走ってきたんだ、せっかくなら外を走りたいよなぁ？と思ったので雨の中外へ
    </div>
    <div>
      <br />
    </div>
    <iframe
      allowtransparency="true"
      frameborder="0"
      height="405"
      scrolling="no"
      src="https://www.strava.com/activities/3140481342/embed/84972aa7f1bc26e0b0d8fda808a7a3e9422682d6"
      width="590"></iframe>

    <br />
    <br />
    GORE-TEXのおかげで身体を冷やすことは無かったが流石にバイクが泥だらけになるしブレーキもすごい減るので淀川を25km走ったらそそくさと折り返すことに。<br
    />
    <br />
    ちょうど2000kmくらいに差し掛かったところでバイクを降りて記念撮影<br />
    <br />
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgc9futLsPiRLBvwhPiX45H8VsnW-VPsigD-n3VMVXgqZsYi57a3QAFn3zzQYuFVnaHdpePkjc0lZh1LVIWDFoWDU0G_y5RUK187NXVtcGR7FoKmlH2_YVtQVIpza5r4lU3H6owuuvh_s0/s1600/IMG_20200229_142616_184.jpg"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                height="320"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgc9futLsPiRLBvwhPiX45H8VsnW-VPsigD-n3VMVXgqZsYi57a3QAFn3zzQYuFVnaHdpePkjc0lZh1LVIWDFoWDU0G_y5RUK187NXVtcGR7FoKmlH2_YVtQVIpza5r4lU3H6owuuvh_s0/s320/IMG_20200229_142616_184.jpg"
                width="320"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            >もっと晴れやかなときに達成したかったけどなぁ<br />
            バイクがかっこいいから💯</td
          ></tr
        >
      </tbody>
    </table>
    莫大な疲労を抱えながらも辛くも2000kmを走破することに成功したのでした！🎉<br
    />
    <br />
    <br />
    <br />
    <br />
    <br />
  </ArticleTemplate>
</Layout>
