---
import Layout from "../../layouts/Layout.astro";
import { ArticleTemplate } from "../../templates/ArticleTemplate";
const title = "名古屋にさ、彼方ちゃんの交通広告出てるんだけど見に行かない？";
const thumbnail =
  "/images/articles/2021-01-10-名古屋にさ、彼方ちゃんの交通広告出てるんだけど見に行かない？/image-813.jpg";
const label = "アートボード";
---

<Layout title={title}>
  <ArticleTemplate
    title={title}
    thumbnail={thumbnail}
    date={"2024-12-08"}
    category={label}
  >
    <article>
      <h2>来る交通広告</h2>
      <p>
        年齢を経て視聴できるアニメは何でも見るという貪欲さを失い強い気持ちが無いとアニメを見ることが辛くなってきた30歳の自分が配信を心待ちにしたアニメ、<b
          >ラブライブ！虹ヶ咲学園スクールアイドル同好会</b
        >
      </p>
      <p>
        アニメの放送と連携して様々な告知やキャンペーンが打たれる中、公式Twitterにこんな告知が登場した。
      </p>
      <p><br /></p>
      <blockquote class="twitter-tweet">
        <p dir="ltr" lang="ja">
          【🌈虹ヶ咲🌈】<br
          />TVアニメ『ラブライブ！虹ヶ咲学園スクールアイドル同好会』Blu-ray第1巻発売＆第13話放送を記念して、本日より全国各地にメンバー別交通広告を展開します👀✨<br
          /><br />お近くにお立ち寄りの際は是非チェックしてみて下さいね✨<br
          /><br />詳細はこちら☑️→<a href="https://t.co/6s8n9fQ5wy"
            >https://t.co/6s8n9fQ5wy</a
          ><a
            href="https://twitter.com/hashtag/lovelive?src=hash&ref_src=twsrc%5Etfw"
            >#lovelive</a
          >
          <a
            href="https://twitter.com/hashtag/%E8%99%B9%E3%83%B6%E5%92%B2?src=hash&ref_src=twsrc%5Etfw"
            >#虹ヶ咲</a
          >
          <a href="https://t.co/Ut9npFQI0H">pic.twitter.com/Ut9npFQI0H</a>
        </p>
        — ラブライブ！シリーズ公式 (@LoveLive_staff) <a
          href="https://twitter.com/LoveLive_staff/status/1340887687658553346?ref_src=twsrc%5Etfw"
          >December 21, 2020</a
        >
      </blockquote>
      <p><br /></p>
      <p>各地の駅に登場した交通広告である。</p>
      <p>
        大阪にも <span class="highlight-yellow">かすみん</span><b>、</b><span
          class="highlight-orange">愛さん</span
        ><b>、</b><span class="highlight-blue">果林さん</span
        >の交通広告が出ていたので仕事が終わってから早速見に行くことに
      </p>
      <p></p>
      <table class="tr-caption-container">
        <tbody>
          <tr>
            <td class="text-center">
              <a
                href="/images/articles/2021-01-10-名古屋にさ、彼方ちゃんの交通広告出てるんだけど見に行かない？/image-451.jpg"
              >
                <img
                  alt=""
                  src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEha2dO7_REoGXY5G1xqTcd6dRNh3T9vWoQR1OjhRaqhHTxaXIZGpVpvXodiERcftRJNLrhASInsf8PJSrZhRXNgHl0oYxdKTLAA1wvP8IWagTNWxTTkUxVbDhKFu6fDskDdxN8CdtHSrzg/"
                  width="320"
                  height="240"
                />
              </a>
            </td>
          </tr>
          <tr>
            <td class="tr-caption text-center">なんば駅</td>
          </tr>
        </tbody>
      </table>
      <p></p>
      <div class="separator text-center">
        <a
          href="/images/articles/2021-01-10-名古屋にさ、彼方ちゃんの交通広告出てるんだけど見に行かない？/image-837.jpg"
        >
          <img
            alt=""
            src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjmAsuCD1sNr9NeXm64KZo065APT2iCfz_L-b_pLHVWd1rvjYReaAb9q1AfDPwnSgikUAGVu0527iYtQclQtI6TNhh_fMl8crruRjqx1SAwJMbM5gswjNMy6wKG06_ZeCUbZGL8q-jcX9M/"
            width="320"
            height="240"
          />
        </a>
        <div class="tr-caption text-center">心斎橋駅</div>
      </div>
      <p></p>
      <table class="tr-caption-container">
        <tbody>
          <tr>
            <td class="text-center">
              <a
                href="/images/articles/2021-01-10-名古屋にさ、彼方ちゃんの交通広告出てるんだけど見に行かない？/image-602.jpg"
              >
                <img
                  alt=""
                  src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEi8aihKYiMP0hiU9GfxiYatwgZ0XX-nSaJ7wG6rMmQDi9cuSzp7DtK1BiqogASV6EzlYcb4Y0UkCYMdvunXCj01CSZp0Y49WpUVO0xQ3gp_px6TT1gYuT5tuqI0eCh8cY99aTJ9HleoCwo/"
                  width="320"
                  height="240"
                />
              </a>
            </td>
          </tr>
          <tr>
            <td class="tr-caption text-center">梅田駅</td>
          </tr>
        </tbody>
      </table>
      <p>この他に東京、名古屋、博多、札幌にも交通広告が登場したそう。</p>
      <p>
        大阪でばっちり撮れるもん撮れたのでもう良いかなと思っていたんですが虹メンバー10人いればまっさきに探してしまう<span
          class="highlight-purple"><b>彼方ちゃん</b></span
        >がなんと名古屋に来ていたのである！！！
      </p>
      <p><br /></p>
      <h2>Rapah Festive500.</h2>
      <div>年末のサイクリストの恒例行事Festive500。</div>
      <div>
        これはRaphaさんが主催する企画でクリスマスから年末までの8日間で500km走ろうというもの。
      </div>
      <div>
        自転車を始めた最初の2年間は8日で500km走るなんてヤバい人もいるもんだなぁと思っていたが2019年からは自分もフィニッシャーの仲間入りを果たしてしまう。
      </div>
      <div>2020年は寒いとか実家の都合で距離を稼ぐ走りができず進捗が悪い...</div>
      <div><br /></div>
      <div>そんなときに飛び込んできた虹ヶ咲の交通広告。</div>
      <div>
        流石に博多や東京、札幌は絶対に行けないだろう。だが名古屋なら...もしかして走れるんじゃない？🤔
      </div>
      <div><br /></div>
      <div><br /></div>
      <h2>Depature at 12/26 am 8:52&nbsp;</h2>
      <div>
        当日は朝7時に出発して車の少ない大阪を横切る王道のキャノボコースを通るつもりだったのですがよくねルビィしてしまい、起きたら朝の8:30...。
      </div>
      <div>
        もうね、この時点で諦めようかと思ったのですが彼方ちゃんをカメラに収めなければ2020年の卒業試験を満たせないので仕方ない。超スピードでお茶漬けをかきこんで冬用ジャージに袖を通して前日に準備したかばんを背負ってバイクに跨る。
      </div>
      <div><br /></div>
      <div>
        <table class="tr-caption-container">
          <tbody>
            <tr>
              <td class="text-center">
                <a
                  href="/images/articles/2021-01-10-名古屋にさ、彼方ちゃんの交通広告出てるんだけど見に行かない？/image-303.jpg"
                >
                  <img
                    alt=""
                    src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiaFqHMihnoib0phcoASZDmK9raU01cPNrj9StNLpmexRDJ8BUKMSu0pU3QGJO8cJZmp-F6JrTs29yEHQSG3aDTkTSGu73GG6HHJPDFt4zl21-AGZ7A6AqSNJxEZA0zqA-LNexK-A3kKd4/"
                    width="180"
                    height="240"
                  />
                </a>
              </td>
            </tr>
            <tr>
              <td class="tr-caption text-center"
                >実は初めて荷物を背負って160km以上の距離を走る。</td
              >
            </tr>
          </tbody>
        </table>
        <br />
      </div>
      <div>
        実は荷物を背負っての長距離移動の経験は無いもので不安しか無かったのですが彼方ちゃんの広告を収めるには名古屋駅から輪行しないといけない。
      </div>
      <div>
        いくら冬とはいえ160km以上走ってきた汗まみれ全身タイツマンが電車に乗っているのはさすがに気まずいお年頃。普通の服と靴をかばんに詰め込んで走る。
      </div>
      <div><br /></div>
      <div><br /></div>
      <h2>オリチャー、発動。</h2>
      <div>
        とにかく寝坊した2時間を取り戻さないといけない。しかし日の登りきった大阪は危険運転の宝庫。まっすぐ大阪を横切るのは命がけだ。
      </div>
      <div><br /></div>
      <div>
        なるべく早く安全に走ることが大切なので今回は大阪を横切るのは止めにして淀川河川敷を北上、終端で木津川河川沿いに進んで泉大橋まで抜けるオリチャーを発動していく。
      </div>
      <div>
        距離にすれば少なく見ても20kmは増えてしまうが安全には変えられない。
      </div>
      <div><br /></div>
      <div>
        車輪止めはあるが信号は無い。とにかく維持できる最大速度で北上すればもしかしたら時間的にはそこまで変わらないかもしれないと期待してエアロフォームでグイグイ踏んでいく。
      </div>
      <div><br /></div>
      <div>
        <table class="tr-caption-container">
          <tbody>
            <tr>
              <td class="text-center">
                <a
                  href="/images/articles/2021-01-10-名古屋にさ、彼方ちゃんの交通広告出てるんだけど見に行かない？/image-257.jpg"
                >
                  <img
                    alt=""
                    src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgF41cyT2y6Xv3L-MycJjkTw96bltXKC_yDz-Fms-hJ0W3M1DRp178sknpNmfnCN-Cm6TUj3EcMyF-RsMnkqneR4IeEW4l8_J9zYJ7PxUvGbM5AAaidIhN3c6pEj9GYkN91UxgsaamNvCc/"
                    width="320"
                    height="196"
                  />
                </a>
              </td>
            </tr>
            <tr>
              <td class="tr-caption text-center"
                >50分くらいで大山崎まで抜けられた。</td
              >
            </tr>
          </tbody>
        </table>
        <br />
      </div>
      <div>
        追い風の影響もあってそこまで踏まずとも31km/hペースで駆け抜けた。
      </div>
      <div>平均出力も160wなのでこの出力なら3時間は確実に行ける。</div>
      <div>
        コース的には+20kmなので180kmくらい走ることになるから100km地点くらいまでは出力も維持できそうだぞ！
      </div>
      <div><br /></div>
      <div>
        <br />
        <h2>木津川 ~ 最初の補給</h2>
      </div>
      <div>
        木津川に突入すると車輪止めが無くなるので速度も上がるかと思ったのですが今度は変な斜め向かいからの風が吹き付けてくる...
      </div>
      <div>
        寒くは無いが思ったほど速度が伸びない。ロードバイクのエアロフォームはハンドルに肘を乗っけて走る事もあるが強い横風が服と軽量級の自分は暴れるバイクを抑えられないのでドロップハンドルを握って前輪荷重でバイクを進めるしかできない。
      </div>
      <div><br /></div>
      <div>
        <table class="tr-caption-container">
          <tbody>
            <tr>
              <td class="text-center">
                <a
                  href="/images/articles/2021-01-10-名古屋にさ、彼方ちゃんの交通広告出てるんだけど見に行かない？/image-632.jpg"
                >
                  <img
                    alt=""
                    src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEg66PiMlQLbFHAMxqrYNeZN3M_5OoMfGB-eFJl_67JJABCstVswYZc_CFcCJ_quKao1hY9jxSqEa4AHjwcHDejPe7X9Y7K85_B5sEbd_zYTWXdmMgdWcxMJ7h3sGyxQxVVa7TVMTvpE1aI/"
                    width="320"
                    height="174"
                  />
                </a>
              </td>
            </tr>
            <tr>
              <td class="tr-caption text-center"
                >速度は上乗せできたが平均パワーは+20wに</td
              >
            </tr>
          </tbody>
        </table>
        <br />
      </div>
      <div>
        結局車輪止めがない分速度は上げられたがパワーを大きく消費してしまい緩く空腹を感じるようになった。
      </div>
      <div>
        この時点でスタートから2時間。大阪横断とそこまでタイムは変わらないはずなのでDAISENさんにて早めの補給することにした。
      </div>
      <div><br /></div>
      <div>
        <table class="tr-caption-container">
          <tbody>
            <tr>
              <td class="text-center">
                <a
                  href="/images/articles/2021-01-10-名古屋にさ、彼方ちゃんの交通広告出てるんだけど見に行かない？/image-794.jpg"
                >
                  <img
                    alt=""
                    src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgtnPv3XJOkcEUu0-OxzdcH6WtXvF694Q8D_M1jlQYVZADe1Kd_QdLRYai1o-A1PK3K-iNAsLGFp7YsnCNpuM9lV0naoLWDYUcE2HxljfiXQrtr4YSiH5gq5sYR8bFw0Mn-vJn8pZFi8Fs/"
                    width="180"
                    height="240"
                  />
                </a>
              </td>
            </tr>
            <tr>
              <td class="tr-caption text-center">バイクを隠して</td>
            </tr>
          </tbody>
        </table>
        <table class="tr-caption-container">
          <tbody>
            <tr>
              <td class="text-center">
                <a
                  href="/images/articles/2021-01-10-名古屋にさ、彼方ちゃんの交通広告出てるんだけど見に行かない？/image-456.jpg"
                >
                  <img
                    alt=""
                    src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiOjN1fUrRkipufWFBQ_WDGCkljbYIZzP6N6bv5Q8RfCWBFU3UMgN_16ZWgRe-Z3WDPH7W7oDPpQvR8X2Jw5PgJxVgQa6vnSUaqRp6fC4U4Ap4vJhrJbwUtHK_4FiRUtDCyrvPIhhEaSok/"
                    width="320"
                    height="240"
                  />
                </a>
              </td>
            </tr>
            <tr>
              <td class="tr-caption text-center">カレーうどんだ！</td>
            </tr>
          </tbody>
        </table>
        カレーうどんの素晴らしいところは三大栄養素を一度にまとめて摂取できること！
      </div>
      <div>おまけに身体もポカポカしてくるので寒さ対策によく効く。</div>
      <div><br /></div>
      <h2>伊賀 ~ 関宿</h2>
      <div>補給を終えたらそそくさと再出発。</div>
      <div>とりあえず120km地点にある関宿まで抜ける。</div>
      <div>
        オリチャー走行時に頑張りすぎて脚を削ってしまったもののペースそのものは落ちる気配も特になく3時間目のラップタイムも31km/h以上をキープ。出力も176wとだいぶいい感じ。
      </div>
      <div><br /></div>
      <div>
        <table class="tr-caption-container">
          <tbody>
            <tr>
              <td class="text-center">
                <a
                  href="/images/articles/2021-01-10-名古屋にさ、彼方ちゃんの交通広告出てるんだけど見に行かない？/image-806.jpg"
                >
                  <img
                    alt=""
                    src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjSURvKBGqqZX8HHglM6I_C3HXBhbCFQbfA3NwMuiCZA6bxDJXdu3xQcOez_nKeNyGuieWosKf7OJOd6QVjyjhbfSHrDQGTs3BGC8EzSxZ6OKGgGTmUzZoqMMb97lWMkrQ1fNVhObwBNFM/"
                    width="320"
                    height="170"
                  />
                </a>
              </td>
            </tr>
            <tr>
              <td class="tr-caption text-center"
                >伊賀もしっかり田舎で信号少なく車も少ないとなれば自然とペースも上がっていく。</td
              >
            </tr>
          </tbody>
        </table>
        <br />
        伊賀の山を抜けたらいよいよ関宿までは下り基調。
      </div>
      <div>
        漕がずに進むって良いことだなぁと思ったら何故かここだけ向かい風...
      </div>
      <div><br /></div>
      <div>
        <table class="tr-caption-container">
          <tbody>
            <tr>
              <td class="text-center">
                <a
                  href="/images/articles/2021-01-10-名古屋にさ、彼方ちゃんの交通広告出てるんだけど見に行かない？/image-481.jpg"
                >
                  <img
                    alt=""
                    src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgs_LszM4dTytPkYSDpXfSnGu0TwovO-N71mvhKp4k-gZa1eejEGSG1JEzawW8_myjYwVn7WA6v_t11cybV_TZQTErVaL57s64i5I_SuZ6GG4FDb8ORv06fdsfllFy854YZOyMHK5YKUyM/"
                    width="320"
                    height="172"
                  />
                </a>
              </td>
            </tr>
            <tr>
              <td class="tr-caption text-center">
                <div>それなりに踏んで道の駅関宿へタッチダウンする</div>
                <div><br /></div>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="tr-caption-container">
          <tbody>
            <tr>
              <td class="text-center">
                <a
                  href="/images/articles/2021-01-10-名古屋にさ、彼方ちゃんの交通広告出てるんだけど見に行かない？/image-51.jpg"
                >
                  <img
                    alt=""
                    src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEg2CN0yEBLdeJlK3UDAjduQJ-juMVolRXC5FE_fghX6LrQXWO_9eNTPu-Rb4pnh-amFNjhEddNkcf7iqs8JZsxUmDyxZiLTTYuZuvTTZQ4Ui53oVwwYzn2TFNB5Fa0KPBRR37U3UFD6EFU/"
                    width="320"
                    height="240"
                  />
                </a>
              </td>
            </tr>
            <tr>
              <td class="tr-caption text-center"
                >この時点で1:30とかなので写真だけ撮って先に進む。</td
              >
            </tr>
          </tbody>
        </table>
        <br />
        <h2>国道1号線の側道を行く</h2>
        何度か通ってるしその度に言ってるけど亀山バイパスは実質高速道路だと思う。
      </div>
      <div>
        ほんと怖いので迷うこと無く側道へ突入。側道は小刻みなアップダウンの激しい道となってるがクライマーの自分にとってはそれほど苦にならないのでとにかく安全を優先する。
      </div>
      <div><br /></div>
      <div>
        20kmも進むとセミ高速道路区間が終わって普通の国道になるのでそこで国一に合流。そこからは車に配慮しつつ進む。三府県横断のときとは違って信号の量も増えるのでこの区間の平均速度はどうしても落ちるんだけど仕方ない。
      </div>
      <div><br /></div>
      <div>
        またこの区間から日が傾き始めて気温がどんどん下がり始めたり。寒いし暗くなってきてるし信号多くてペースも上がらんしでただひたすら辛かったので息抜きに補給食を買おうとコンビニへ。
      </div>
      <div>パン買ってすぐ食べて冷え込む前に再出発再出発</div>
      <div>
        <div class="separator text-center">
          <a
            href="/images/articles/2021-01-10-名古屋にさ、彼方ちゃんの交通広告出てるんだけど見に行かない？/image-643.jpg"
          >
            <img
              alt=""
              src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjemSl6EpFUUrtSqvItukbRddAYG5Kd7SbyQRH7tljyJVrFgAUIl1gLqGja50GSUoVmRXoouJXIT0Fm77WhDzpol_1SQyT3osj9NcalpTay7q4w4ZJhg7pigdBkF0cw8bJQgn54hpq3wRY/"
              width="180"
              height="240"
            />
          </a>
        </div>
        <br />
        <h2>至・愛知</h2>
      </div>
      <div>
        補給は取ったけど走り慣れてない道だとどのくらい進めばいいかがわからないので精神的に辛い！ということでGoogleMapsで確認してみると意外と近くまで来ていて残りはたったの30km！
      </div>
      <div>膝痛とかも特に無いので流れに乗って脱三重県を目指す。</div>
      <div><br /></div>
      <div>脱三重県といってもすぐに愛知県の看板も登場！</div>
      <div><br /></div>
      <div>
        <table class="tr-caption-container">
          <tbody>
            <tr>
              <td class="text-center">
                <a
                  href="/images/articles/2021-01-10-名古屋にさ、彼方ちゃんの交通広告出てるんだけど見に行かない？/image-416.jpg"
                >
                  <img
                    alt=""
                    src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEh7X0WdNoFC5Ey7eizP-ej9xX3dChQD1LPdFnXwQVOufRDZRMC_BXrluiiqCyZ-Vgd5pnx0LHuC3YxHNK8lCS1JiI9hoaAkLp03NfeXolUoT1FJ2Ju8y0DLhmOCc21yM2iuFql5K4BL-jI/"
                    width="180"
                    height="240"
                  />
                </a>
              </td>
            </tr>
            <tr>
              <td class="tr-caption text-center"
                >旅の終わりを予感させてくれる看板現る</td
              >
            </tr>
          </tbody>
        </table>
        <br />
      </div>
      <div>
        愛知県は意外と川が多い。川に掛かってる橋にはバッチリ側道が用意されてるので側道を抜け度にGoogleMapsで残り距離を確認しながらゴールを確信して安堵感が増していく。<br
        />旅の疲れが抜けていく瞬間だと思う。
      </div>
      <div><br /></div>
      <div>
        目標としていた駅まで残り3kmになったときにちょうど良い橋を見つけたので愛車をカメラにおさめる
      </div>
      <div>
        <table class="tr-caption-container">
          <tbody>
            <tr>
              <td class="text-center">
                <a
                  href="/images/articles/2021-01-10-名古屋にさ、彼方ちゃんの交通広告出てるんだけど見に行かない？/image-966.jpg"
                >
                  <img
                    alt=""
                    src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEi1zIbVWcG8XR81iEcY1uPbEXxktO6rQfU50sdlJ5RcNK1RuA86LvhXYQPHXdw6Ae5CHf29UTkAeJASixnkF3sx6L6jETLOVFsN56duvcB-gXscZpPjYtHc9BzRrAY7CSuXfTMsA_VIZSM/"
                    width="320"
                    height="240"
                  />
                </a>
              </td>
            </tr>
            <tr>
              <td class="tr-caption text-center"
                >4時だったけどだいぶ日が落ちてる</td
              >
            </tr>
          </tbody>
        </table>
        <br />
      </div>
      <div>
        撮り終えたらいそいそバイクごと橋の下へ。<br
        />そして旅支度として持ってきていた普通の人の服をジャージの上から着たり履いたりする。
      </div>
      <div><br /></div>
      <div>
        ビンディングシューズからスニーカーに換装したことで完全に普通の人と化したので普通の人として輪行して地下鉄に乗り込むことに成功した！
      </div>
      <div><br /></div>
      <div><br /></div>
      <h2>彼方ちゃんを探せ！</h2>
      <div>
        地下鉄名古屋駅に到着して改札を出たものの彼方ちゃんの交通広告が見つからない。
      </div>
      <div><br /></div>
      <div>
        輪行袋を担いで駅構内をうろうろ移動していたら立派なカメラを持った人物がいるのを発見したのでその方向に進んだらついに...
      </div>
      <div><br /></div>
      <div>
        <table class="tr-caption-container">
          <tbody>
            <tr>
              <td class="text-center">
                <a
                  href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgvh1KCpAcy87moxomRxGiUd2u1YyVJCDtBNshS3r-H3Ay8FgU4VALxK8Qcgvip-mISCCtIDU548kdcW1eKJcf-K8nQzJxjcwf5_MuEdRVqi7cbf7NPzY8A0Hg6xbWUP_TTsLoGLfW3wts/"
                >
                  <img
                    alt=""
                    src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgvh1KCpAcy87moxomRxGiUd2u1YyVJCDtBNshS3r-H3Ay8FgU4VALxK8Qcgvip-mISCCtIDU548kdcW1eKJcf-K8nQzJxjcwf5_MuEdRVqi7cbf7NPzY8A0Hg6xbWUP_TTsLoGLfW3wts/"
                    width="320"
                    height="240"
                  />
                </a>
              </td>
            </tr>
            <tr>
              <td class="tr-caption text-center">画角が足りない...</td>
            </tr>
          </tbody>
        </table>
        <br />
      </div>
      <h2>帰阪</h2>
      <div>
        実は <b>"安達としまむら"</b> という作品にもハマってるんですよね...
      </div>
      <div>
        彼女たちも作中で名古屋駅に来ていたりしたのでデートしたところを見たいなぁと思っていたんですが！帰りの時間がどんどん近づいてきていてそれどころじゃない...
      </div>
      <div><br /></div>
      <div>
        ということで安達としまむらめぐりはまた今度にして新幹線に乗り込んで新大阪へ。
      </div>
      <div><br /></div>
      <div><br /></div>
      <h2>あとがき</h2>
      <div>
        なんで安達としまむらめぐりめぐりをする時間が無いのかと言うとその日の放送が虹ヶ咲のアニメ最終話の放送日だったからなんですよね。
      </div>
      <div>だから急いで新幹線に乗る必要があったわけだ。</div>
      <div><br /></div>
      <div>もちろんその夜に見て感動して充実して眠りにつきましたとさ！</div>
      <div>おしまい</div>
      <div><br /></div>
      <div><br /></div>
      <div>余談</div>
      <div>
        エマちゃんがお気に入りな弟は北海道在住の友達に旭川から札幌に行く用事のついでにエマちゃんの広告の写真お願いしますってお願いして送ってもらってた。
      </div>
      <div><br /></div>
    </article>
  </ArticleTemplate>
</Layout>
