---
import Layout from "../../layouts/Layout.astro";
import { ArticleTemplate } from "../../templates/ArticleTemplate";
const title = "内浦400(前編)";
const thumbnail = "/images/2022/10/11/内浦400(前編)/0.HEIC";
const label = "ブルベ";
---

<Layout title={title}>
  <ArticleTemplate
    title={title}
    thumbnail={thumbnail}
    date={"2024-12-08"}
    category={label}
  >
    <article>
      <div class="separator" style="clear: both; text-align: center;">
        <a
          href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgAyouggOpNgC7WL3Ay9ZhWkXSS0MaW-Le40JVxsEiArJKhLJXThJiHipwBTe_z9q0Ovh8XgZCNTqmd0KMnh_I87-sTZVb1dmzVuVjepbcaIUC0urV8WgxS0B7Zz0lTguLhvBAc150RHqXq2A9yMS9bR8swrlMJ4Rrtq5WMtUgrWH5AlW82YeQlRFEd/s4032/IMG_3938.HEIC"
          style="margin-left: 1em; margin-right: 1em;"
          ><img
            border="0"
            data-original-height="4032"
            data-original-width="3024"
            height="320"
            src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgAyouggOpNgC7WL3Ay9ZhWkXSS0MaW-Le40JVxsEiArJKhLJXThJiHipwBTe_z9q0Ovh8XgZCNTqmd0KMnh_I87-sTZVb1dmzVuVjepbcaIUC0urV8WgxS0B7Zz0lTguLhvBAc150RHqXq2A9yMS9bR8swrlMJ4Rrtq5WMtUgrWH5AlW82YeQlRFEd/s320/IMG_3938.HEIC"
            width="240"
          /></a
        >
      </div>

      <div class="separator" style="clear: both; text-align: center;">
        <br />
      </div>

      <div style="text-align: left;">
        沼津発、ラブライブの聖地をめぐる400kmのブルベがある。
      </div>

      <div style="text-align: left;">
        そんな素晴らしい情報をタイムラインで見かけてから早いもので3年が経ちました。
      </div>

      <div style="text-align: left;">
        次の開催があるのならば是非とも出たいなどと想いながらも昨年は台風で中止に。。。(そもそも去年はあまりエントリに前向きではありませんでしたが)
      </div>

      <div style="text-align: left;">
        <br />
      </div>

      <div style="text-align: left;">
        今年はあまり走れておらず情けない身体ではありましたが、開催は今年が最後、来年は無いよ！というお話と友人たちからの熱い追い込みのおかげで無事エントリーとなりました🤔
      </div>

      <div style="text-align: left;">
        <br />
      </div>

      <h3 style="text-align: left; font-size: 1.5em;">コース読みと戦略の話</h3>

      <iframe
        scrolling="no"
        src="https://ridewithgps.com/embeds?type=route&id=41071799&title=%E5%86%85%E6%B5%A6400&metricUnits=true&sampleGraph=true&distanceMarkers=true"
        style="border: none; height: 700px; min-width: 100%; width: 1px;"
      ></iframe>

      <div>
        400kmで4500mUP、序盤と後半に1000mクラスの山が結集する割としっかり登らされるコースずらぁ。。。
      </div>

      <div>
        おまけに中盤の市街地区間では信号峠に捕まり速度が上がらないかもしれない。。。
      </div>

      <div>
        やめたくなる前にゴールしたいけど実際にそれを実現するにはどういうやり方が最適だろうか？
      </div>

      <div>コースを見ながらそんなことを考えていた。</div>

      <div>ポイントはいくつかある。何を考えていたかをまとめとこう。</div>

      <h4 style="text-align: left; font-size: 1.25em;">天候</h4>

      <div>そもそも前日くらいまで天気が悪かった。</div>

      <div>
        雨だったらDNSだと公言して憚らなかったが幸いにして晴れたので心配事が減った(DNSしそこなったとも言える🤔)
      </div>

      <div>やはり鞠莉ちゃんジャージの影響だろう。彼女に雨は似合わない🌞</div>

      <div>
        当日は晴れた。ただ単に晴れただけなら良いが暑さ寒さも彼岸までという言葉があるように開催時期的にこの雨が寒さの呼び水になるのは間違いなさそう。
      </div>

      <div>
        2020年のGF600dでは日本海の寒さに負けてDNFしている。当時の敗北の記憶が蘇ってくる。
      </div>

      <div>
        (せっかくなので<a
          href="https://blog.great-distance.com/2020/11/granfondo600.html"
          target="_blank">GF600挑戦記</a
        >もよかったらどうぞ🤔)
      </div>

      <div>
        <br />
      </div>

      <div>
        もし暑かったら通報されない程度に脱げば良い。しかし寒さ対策は付け焼き刃では解決できない。あの時以来ロングライドでは「寒さ対策はやりすぎなくらいで挑む」が自分の中での標準になった。
      </div>

      <div>
        ちょうど富士ヒルのときにもらったBioRacerのネックウォーマーもあるので装備に加えておく
      </div>

      <div>
        (余談:
        コラム用のブロンズのリングとか要らんから景品はレッグウォーマーとかにしておくれ...)
      </div>

      <div>
        グローブは悩んだが1月の気温1℃の中でも素手で走っていたりしたのでこれは今回はお留守番。だめだったとしてもコンビニで買える1000円の手袋がどのサイクルウェアブランドのものよりも温かいのである。
      </div>

      <h4 style="text-align: left; font-size: 1.25em;">補給</h4>

      <div>
        PCの間隔が50km前後で設定されておりとても良いので基本的な補給は最低限PCで行えば良さそう。
      </div>

      <div>
        万が一に備えてカプセル化したパラチノースと常時米を食べることを目標としていこう。
      </div>

      <div>
        <br />
      </div>

      <div>
        フォトコントロールがある根府川駅はその前の鎌倉でしっかり食べて行動食を買い込んでおけばなんとかなりそう。
      </div>

      <div>
        逆に土肥駐車場は周りになにもない上にそこまで行くのにスタートから350km、登り単体で見ても10kmの坂が延々続くので直前のコンビニで万が一を考えてジェルを買っておくのが良さそうとか考えてた。
      </div>

      <div>
        寒さ対策が間に合っていればPC以外の補給ストップはしなくて良いはずだと。
      </div>

      <h4 style="text-align: left; font-size: 1.25em;">睡眠</h4>

      <div>
        カフェイン一発で5時間は眠れなくなる。連続使用だと3連(15時間)は効果があることを確認しているので最悪カフェインで覚醒しようと思っていた。
      </div>

      <div>
        ただカフェインは眠れなくなるだけで実際のところ眠気は来る。それも過去の傾向から朝日が上る直前にやってきてしまう。コースと想定タイムからするともしかしたら伊東で眠気が来るかもしれない。ただし可能な限り走り続ける！
      </div>

      <div>寝るときは温かい格好でコンビニの駐車場で横になることとしよう。</div>

      <h4 style="text-align: left; font-size: 1.25em;">痛み</h4>

      <div>
        1日のうち寒い時間を走る比率が大きい。そのため膝に痛みが出る可能性が一番心配。レッグウォーマーは常備とし炭水化物を切らさないことの重要性を再確認(UGはお腹が空くと膝が痛む。謎の相関関係があるらしい🤔🤔)
      </div>

      <div>
        <br />
      </div>

      <div>
        お股の痛みはパッドとの擦れで発生する。新しく購入したCASTELLIとSportfulのビブショーツはなぜかワセリンと相性が悪いことがわかってきたので一か八かProtectJ1を装備に加えることに。もちろんだめだったときのためにワセリンも装備に追加。
      </div>

      <div>
        <br />
      </div>

      <div>
        首の痛みは200kmを超えるライドで必ず発生する。実はこれロングライド離れで首周りの筋肉が弱くなったこと、サングラスをヘルメットの全面にさして走ることでメットの重心が前よりに変わり首への負担が増えることで痛みが増すとちょうど1週間前に判明したのでサングラスは装備に加えないことにしました。
      </div>

      <div>
        ホントはかなり危ないので夜でも装備可能なサングラスの購入が急がれますが今回は間に合わないのでお留守番。
      </div>

      <h4 style="text-align: left; font-size: 1.25em;">ペース</h4>

      <div>基本的に100kmを5時間で走るペースを想定。</div>

      <div>
        序盤と終盤でペースが落ちることがわかっているので関東区間の200kmで100km/4時間台を狙いたいところ。
      </div>

      <h4 style="text-align: left; font-size: 1.25em;">装備</h4>

      <div>
        ウェアは先述の通りで防寒対策が必要だったので長袖ジャージとおたふく手袋さんのベースレイヤーを選択。パンツはSportfulのハードコード。なんと45km/hで落車しても破れないらしい。万が一のことを考えてチョイス。
      </div>

      <table
        align="center"
        cellpadding="0"
        cellspacing="0"
        class="tr-caption-container"
        style="margin-left: auto; margin-right: auto;"
      >
        <tbody>
          <tr>
            <td style="text-align: center;">
              <a
                href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhn4ipekbqrFbMuJ4XPEr4mZqtdy0a4-nMs9ATQV0S8UyVxyCEQpgbfkFODJ3fXq5c0oa4ybmtbGtqopmWkMrwsgvabkMd7yTIhisoadY7C2IhmgVUSQpPbJ9klf8y8FR0Bd1yEhscy0GCtz4YYIejRgW03VRQPIWZNjRLmd54WqN1fkd366ymPOkI2/s4032/IMG_3957.HEIC"
                style="margin-left: auto; margin-right: auto;"
                ><img
                  border="0"
                  data-original-height="3024"
                  data-original-width="4032"
                  height="240"
                  src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhn4ipekbqrFbMuJ4XPEr4mZqtdy0a4-nMs9ATQV0S8UyVxyCEQpgbfkFODJ3fXq5c0oa4ybmtbGtqopmWkMrwsgvabkMd7yTIhisoadY7C2IhmgVUSQpPbJ9klf8y8FR0Bd1yEhscy0GCtz4YYIejRgW03VRQPIWZNjRLmd54WqN1fkd366ymPOkI2/s320/IMG_3957.HEIC"
                  width="320"
                /></a
              >
            </td>
          </tr>
          <tr>
            <td class="tr-caption" style="text-align: center;">
              <span style="text-align: left;">
                下にシャイニージャージを着るのはブルベの伝統なので欠かすことはできない<br
                /><br />
              </span>
            </td>
          </tr>
        </tbody>
      </table>

      <div>
        バイク側の装備としてだが実は3日前くらいにTLタイヤのパンク修理を実施。そこから走行距離10kmとかだったのでもしかしたら修理したところからシーラントが吹き出す可能性もあり輪行袋はマストに。
      </div>

      <div>
        輪行袋がマストならでかいサドルバッグが必要なのでそれを出すとして、色々入るなら色々いれたるかと最終的にサドルバッグの中身はこんな感じ
      </div>

      <div>
        <ul style="text-align: left;">
          <li>パラチノースを入れた調味料ケース(6個)</li>
          <li>ワセリン、ProtectJ1</li>
          <li>モバイルバッテリー</li>
          <li>日焼け止め</li>
          <li>シューズカバー</li>
          <li>パンク修理キット</li>
          <li>交換用チューブ</li>
          <li>輪行袋</li>
        </ul>
      </div>

      <div>
        結論だけ書くとパラチノースとバッテリー以外の利用シーンは無し。なので次からはおいていくこととします。
      </div>

      <div>
        <br />
      </div>

      <h3 style="text-align: left; font-size: 1.5em;">受付~山中湖</h3>

      <table
        align="center"
        cellpadding="0"
        cellspacing="0"
        class="tr-caption-container"
        style="margin-left: auto; margin-right: auto;"
      >
        <tbody>
          <tr>
            <td style="text-align: center;">
              <a
                href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgI5NBrYOPOIImmmzjiTEVINqAHYxBVHgax7zu4p0lJu-uLzZmXQbPebKRAbxUDqbOhPjZ2fd4b_upI2ytyKFfywEtlAwGlm19kRfgtdvqU9YDW7yq15s17XH_6tuezwUxaH4iuURuobcR43ek0Qhc1uf8hutaLLXuEyvQQMCswofafdIzlIpRwkd4Q/s4032/IMG_3939.HEIC"
                style="margin-left: auto; margin-right: auto;"
                ><img
                  border="0"
                  data-original-height="3024"
                  data-original-width="4032"
                  height="240"
                  src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgI5NBrYOPOIImmmzjiTEVINqAHYxBVHgax7zu4p0lJu-uLzZmXQbPebKRAbxUDqbOhPjZ2fd4b_upI2ytyKFfywEtlAwGlm19kRfgtdvqU9YDW7yq15s17XH_6tuezwUxaH4iuURuobcR43ek0Qhc1uf8hutaLLXuEyvQQMCswofafdIzlIpRwkd4Q/s320/IMG_3939.HEIC"
                  width="320"
                /></a
              >
            </td>
          </tr>
          <tr>
            <td class="tr-caption" style="text-align: center;">
              ベージュ組勢揃い。<br />こんな受付初めてですよぉ！
            </td>
          </tr>
        </tbody>
      </table>

      <div>
        <br />
        <table
          align="center"
          cellpadding="0"
          cellspacing="0"
          class="tr-caption-container"
          style="margin-left: auto; margin-right: auto;"
        >
          <tbody>
            <tr>
              <td style="text-align: center;">
                <a
                  href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjnafdn9roZS7m-s1qy_ajRJI8jmV0m5bqVOJAe6G84FIUyMFtuvF0OF3a7Aj7XYcmdv5aidHb3S3kgKHghczwCm7WTsksnU5g7je40e4AaOP9UFXjpRkiXt32U35Q-KObQstWAcVLYNsWA0gran_R4tQ1T6SYCygz_yAQ8lJORSbR0oHlPoEZsvat3/s4032/IMG_3938.HEIC"
                  style="margin-left: auto; margin-right: auto;"
                  ><img
                    border="0"
                    data-original-height="4032"
                    data-original-width="3024"
                    height="320"
                    src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjnafdn9roZS7m-s1qy_ajRJI8jmV0m5bqVOJAe6G84FIUyMFtuvF0OF3a7Aj7XYcmdv5aidHb3S3kgKHghczwCm7WTsksnU5g7je40e4AaOP9UFXjpRkiXt32U35Q-KObQstWAcVLYNsWA0gran_R4tQ1T6SYCygz_yAQ8lJORSbR0oHlPoEZsvat3/s320/IMG_3938.HEIC"
                    width="240"
                  /></a
                >
              </td>
            </tr>
            <tr>
              <td class="tr-caption" style="text-align: center;">
                2年ぶりのブルベカード<br />完走できるか非常に不安
              </td>
            </tr>
          </tbody>
        </table>
        <br />
      </div>

      <div>
        受付を終え、出走を待つサイクリスト達。ちょうどじゅりあんさんが応援に来てくれていたので雑談しつつ「受付レギュ違反して0km地点でリタイアを目指す」などの不謹慎トークで検車を待つ。(もちろん検車はOKだったが)
      </div>

      <div>
        <br />
      </div>

      <div>
        自分と今回一緒に走る<a
          href="https://twitter.com/miraclewave3?s=20&t=gq5B1IC6ifeLGf5pKkWCbA"
          >ミラクル</a
        >さん。彼はとんでもないポテンシャルを持った猛者で今回のブルベが初。しかも初400km。イミワカンナイ🤔
      </div>

      <div>
        <br />
      </div>

      <div>出発地点の沼津が名残惜しいが時間が来たのでもたもた出発。</div>

      <div>もたもたしてる間に二人先に行ってしまったので追走を開始する。</div>

      <div>
        (これは個人的な考えだけどブルベの出走直後の大集団に巻き込まれて大人数で大通りを走るのは危険だと思うのでさっさと追い抜いておきたかった)
      </div>

      <div>
        <br />
      </div>

      <div>
        10km地点くらいでパスできたので先頭をミラクルさんに変わってもらい以降はローテしながら山中湖まで走る。
      </div>

      <div>
        あまり人に先頭をお願いすることが(申し訳なくて)無いのだが今回はコースがきついので僕としてはかなり積極的にローテをお願いしましたがミラクルさん快く引き受けてくれてとても助かりました🙏
      </div>

      <div>
        この時知ったのですが先頭走ってないと心拍が下がるので信号でご飯食べやすくておにぎりを食べる余裕も出てきてずっと後ろ走ってたらだめかなとか思っていましたw
      </div>

      <div>
        <br />
      </div>

      <div>
        山中湖頂上付近は霧も出てきてスリッピーな雰囲気を醸しつつもようやく登りきりいそいそとセブンイレブンへ。
      </div>

      <div>
        2Lの水を買ってシェアしつつパラチノース入りスペシャルドリンクを用意する。
      </div>

      <div>
        一つ失敗したなと思ったのがここで補給食を食べなかったこと。下ってる間に消化できて平坦区間を頑張るエネルギーにできたのにそうしなかったのが悔やまれます。
      </div>

      <div>
        <br />
      </div>

      <h3 style="text-align: left; font-size: 1.5em;">山中湖~PC2</h3>

      <div>
        スタートから3時間、だいたい16:00の山中湖は気温14℃、汗冷えと風でもっと寒く感じたのでレッグウォーマーを膝からくるぶしまでおろして下山開始。途中でブレーキをかけるアホドライバーに中指を立てかけそうになりつつも無事故で下る。
      </div>

      <div>
        <br />
      </div>

      <div>
        標高が下がってきたら今度はアップダウンが始まる。何度目かのアップダウンで汗をかいたのでジャケットを脱ぎ再度下って八王子へ。
      </div>

      <div>
        下り区間は基本僕が先頭を走ったのですが市街地を抜けるのにもたついて後ろから2人に追いつかれてしまいこれはミラクルさんに引いてもらえば追いつかれなかったな！？と反省したりショックを受けつつも18:00にPC1に到着。
      </div>

      <div>
        いそいそと買い物し補給を食べ駐車場でお股にワセリンを塗り込んだり色々しつつ一通り幼児が済んだので再出発。
      </div>

      <div>
        PCの滞在時間は10分もなさそうな停車時間ですが何事もないかのように出発してくれるミラクルさん。すごい...(※彼は今回が初ブルベです)
      </div>

      <div>
        <br />
      </div>

      <div>
        ついでにPC2まで途中ミラクルさんに引いてもらおうと先頭交代をお願いしたら快く前に出てくれるミラクルさん。そしてここからミラクル劇場が始まる...!
      </div>

      <div>平均速度はグロスで28km/h。信号峠をこのグロスである！</div>

      <div>
        ストップアンドゴーを繰り返すたびにクリテリウムもかくやというスピードで加速してそのまま巡航に。速度計は35km/hを下回らない。2回くらい千切れるかと思った。
      </div>

      <table
        align="center"
        cellpadding="0"
        cellspacing="0"
        class="tr-caption-container"
        style="margin-left: auto; margin-right: auto;"
      >
        <tbody>
          <tr>
            <td style="text-align: center;">
              <a
                href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEglTnqpvxIRr0Eez0RqmjrL1mKc6VqwNITXvccpwL2QvzJL2iJ2N2tGSdYR-3Nvo2nFI4HG_sG_NIBewePw0dqw-6NAw3D-M7Lga8yeP7waa9cB-uJ0A0Q7Nn-8hR-jSyAs4VvtIILTHA-cXnwVkaveuLRG2wfC_l5QVndp3Xk4UuXyTY1gSOwwekSW/s4032/IMG_3942.HEIC"
                style="margin-left: auto; margin-right: auto;"
                ><img
                  border="0"
                  data-original-height="3024"
                  data-original-width="4032"
                  height="240"
                  src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEglTnqpvxIRr0Eez0RqmjrL1mKc6VqwNITXvccpwL2QvzJL2iJ2N2tGSdYR-3Nvo2nFI4HG_sG_NIBewePw0dqw-6NAw3D-M7Lga8yeP7waa9cB-uJ0A0Q7Nn-8hR-jSyAs4VvtIILTHA-cXnwVkaveuLRG2wfC_l5QVndp3Xk4UuXyTY1gSOwwekSW/s320/IMG_3942.HEIC"
                  width="320"
                /></a
              >
            </td>
          </tr>
          <tr>
            <td class="tr-caption" style="text-align: center;">
              だいぶ休めたので実感はないものの<br
              />代わりに景色を見る余裕ができて<br
              />ここがベルーナドームだと気づけた
            </td>
          </tr>
        </tbody>
      </table>

      <div>
        <br />
      </div>

      <div>
        当人は下り基調だからといってたけどあれはすごかった。彼は来年間違いなくSR取りますよ。。。
      </div>

      <div class="separator" style="clear: both; text-align: center;">
        <a
          href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjCpOMAIvjqO2TZs7NWFaQy4fJVebHV9yCyD19IiSN0eTV6poMf1YHH6qlLorkCT8iqKKIH3IrUTQP-s3q9Zx5fFCWkXPRv4fPsYiUjqguk3cmnFCgGEuXo_KcDgRIDvZOJjsKx9W1pjdjL2vpcqlkqIGw-zy4MPo6OYSWpYrNxrbVsQ_SM4dLhONUF/s4032/IMG_3943.HEIC"
          style="margin-left: 1em; margin-right: 1em;"
          ><img
            border="0"
            data-original-height="3024"
            data-original-width="4032"
            height="240"
            src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjCpOMAIvjqO2TZs7NWFaQy4fJVebHV9yCyD19IiSN0eTV6poMf1YHH6qlLorkCT8iqKKIH3IrUTQP-s3q9Zx5fFCWkXPRv4fPsYiUjqguk3cmnFCgGEuXo_KcDgRIDvZOJjsKx9W1pjdjL2vpcqlkqIGw-zy4MPo6OYSWpYrNxrbVsQ_SM4dLhONUF/s320/IMG_3943.HEIC"
            width="320"
          /></a
        >
      </div>

      <div>
        <br />
      </div>

      <div>
        前ひいてもらってる間は心拍も110bpm前後で落ち着き脚もだいぶ回復できた。
      </div>

      <div>20:50にはPC2到着したのでお買い物。</div>

      <div>
        <br />
      </div>

      <div>
        待ってたら元自衛官を自称する酔っぱらいに絡まれたりしながらも手は止めず補給を終え、そろそろ出発か？というところで第2グループが到着。酔っぱらいの興味がそれたところで話を打ち切って再出発！！
      </div>

      <div>
        <br />
      </div>

      <h3 style="text-align: left; font-size: 1.5em;">前半の反省</h3>

      <div>
        補給食を食べるタイミング、早期の先頭交代をしないなど小さな失敗はあったものの全体としては順調そのもの。何よりタイム的に良い流れができていた。
      </div>

      <div>ここまでは順調！！！</div>

      <div>
        <br />
      </div>

      <div>ということで</div>

      <h4 style="text-align: left; font-size: 1.25em;">
        前半はここまで！！！後編に続くYO！
      </h4>
    </article>
  </ArticleTemplate>
</Layout>
