---
import Layout from "../../layouts/Layout.astro";
import { ArticleTemplate } from "../../templates/ArticleTemplate";
const title = "目指せ第二次成長期";
const category = "日常";
const thumbnail = "/images/articles/2024-12-05-目指せ第二次成長期/image-1.jpg";
---

<Layout title={title}>
  <ArticleTemplate
    title={title}
    thumbnail={thumbnail}
    date={"2024-12-05"}
    category={category}
  >
    <div class="article-content">
      <h4 style="text-align: left;">まえがき</h4><p>
        18歳から社会人やってるけど物事を器用にこなせるようになったのは30代に入ってからだと思う。
      </p><p>
        30歳になるくらいまでは毎回新鮮なトラブルが起こっていて、どれにも慣れてないからトラブルがトラブルを呼び込んできて振り回されていた。毎年冬になると手の甲の皮が捲れ上がるくらいのストレスに晒されていたが、今にして思えばそのトラブルは何らか自分の成長に貢献しているような気がする。
      </p><p>
        時にはなんの役に立つんだということもあったけど、それでもあの時よりはマシという比較の対象としては価値を持っているということにしている。
      </p><p>
        月日が流れて何事にも慣れて、お仕事でも日常でも難しい問題を無難にこなせるようになってきた。ずっと欲しかった安定を手に入れたんだけど...
      </p><p><br /></p><h4 style="text-align: left;">
        2024年の目標は頑張らないこと
      </h4><p>
        運が良かっただけなのか長年の苦労のおかげか、お金も稼げて生活も安定するようになったので仕事中心の生活にならないように自分のために時間もお金も使おうと思った。
      </p><p>
        長らくそれが許されない環境や立場だったけど、今年ようやくその機会を得られたと思ったので穏やかな日々を過ごすことを決めた。
      </p><p>
        そして24年、ついに穏やかな日々が始まったんだけど、どういうわけかそわそわしてしまう。ある日どうしてなのかを考えたところ、嫌なことや苦手なことから逃げてるだけになっているのが原因な気がしてきた。
      </p><p>
        勉強や個人開発も自分の気の向くままに好きなことを始めて中途半端投げ出したり、自転車も中途半端に頑張れなかったり、全く知らない人と会って話すのは苦手だから会わないようにしたり...
      </p><p>
        安定してしまった今、この資格を取れなかったら昇給を逃すから勉強するという気持ちも湧かず、変わらない自分で問題ないから変わろうとしない状態。
      </p><p>
        安定の中で成長し続けるのは自分にはとても難しいようだ。小さく変わることはできていたのだが大きく変わるのは難しい。これを逃せばもう2度とチャンスはないかもしれない、このままでは道草にマヨネーズをかけて食べるくらいしか食べ物がないという恐怖感。そういったプレッシャーが必要なんじゃないか？と。
      </p><p>
        今年は頑張らないことを目標に頑張らないようにやってきた。そして焦燥感が残った。
      </p><p><br /></p><h4 style="text-align: left;">この先にあるもの</h4><p>
        新しいことを学べない、学ぼうとしていない、変化できてないと思った理由の一つに昔話をすることが増えたからというのがある。
      </p><p>この記事だってそうだけど前半は僕の昔話だ。</p><p>
        とても短いスパンで常識が変わってしまうこの時代にいったい何年前の話をしている？
      </p><p>
        新しい経験をしていないから古いことを書くしかなくなってしまっているのでは？
      </p><p>
        変化から逃げ、苦手なことから逃げて年齢だけを重ねてしまったらどういう人間ができあがるのかを僕はよく知ってるはず。
      </p><p>
        今ですらできていない能動的に変わろうとする努力を5年経った時にできるか？10年後は？20年後は？無理や。
      </p><p>
        過去を懐かしんで酒に溺れ現実から逃げ続けるような未来にだけは進みたくないなぁ...
      </p><p><br /></p><h4 style="text-align: left;">
        若いうちの苦労は買ってでもせよ
      </h4><p>
        もし何もしないまま老人になった僕が少ない理性で今日の僕にアドバイスするなら？一体何を伝えるだろうか？
      </p><p>
        僕はことわざが好きなので、恐らく「若いうちの苦労は勝手でもせよ」というのではなかろうか？
      </p><p>
        この言葉は基本的に好きじゃない。すでに苦労している若人にこれ以上苦労せよなど、どの口が言うのだと思っているので。しかし休んでる自分になら言っても良いだろう。
      </p><p>
        今の自分は40歳の自分より頑張れるし柔軟性もあると思う。(知らんけど)
      </p><p>変われるうちに変わり続ける習慣を身につけたいと思う。</p><p>
        <br />
      </p><h4 style="text-align: left;">思うこと</h4><p
        style="text-align: left;"
      >
        老いについてポジティブな意見はあまり聞かないな。ポジティブに語っているのは煉獄の兄貴くらいじゃない？
      </p><p style="text-align: left;">
        僕はスポーツが好きでサイクリングやランニングを趣味としているけれど、やっぱり20代と30代では回復力もパワーも違う。30代でも31歳と34歳では全然違う気がする(もちろん悪い方向へ)
      </p><p style="text-align: left;">
        ところが30代に入って部下を持つようになると、20代の頃は役に立たなかったものが役に立ち始めるという経験をした。(他にもあるけど列挙するのは転職の時まで取っておきたい)
      </p><p style="text-align: left;">
        蓄えた経験を成果に変換するスキルは20代よりも高まっている気がする。
      </p><p style="text-align: left;">
        老いのポジティブな側面って実は経験を成果に変換するスキルのことなんじゃないか？
      </p><p style="text-align: left;">
        一旦そういうことにして、ひとまずリハビリも兼ねて本業の方の仕事を増やしてもらうことにした。（偉い人に相談したらとりあえず業務量が3倍くらいになってしまった...!?)
      </p><p style="text-align: left;">
        3倍になったけど、それを処理できるだけのノウハウはあると思う。足りなければ増やせば良い。上手にコントロールしながらプレッシャーを掛けて成長のためのステップにしたい。
      </p><p style="text-align: left;">
        でも仕事だけしてると幅が広がらないので、仕事でキャパを増やしてそれ以外のところでも幅を広げていこうと思う。これは言うなれば第二次成長期といったところだろうか？
      </p><p style="text-align: left;"></p><table
        align="center"
        cellpadding="0"
        cellspacing="0"
        class="tr-caption-container"
        style="margin-left: auto; margin-right: auto;"
      >
        <tbody
          ><tr
            ><td style="text-align: center;"
              ><a
                href="/images/articles/2024-12-05-目指せ第二次成長期/image-1.jpg"
                style="margin-left: auto; margin-right: auto;"
                ><img
                  alt=""
                  data-original-height="438"
                  data-original-width="701"
                  height="200"
                  src="/images/articles/2024-12-05-目指せ第二次成長期/image-2.jpg"
                  width="320"
                /></a
              ></td
            ></tr
          ><tr
            ><td class="tr-caption" style="text-align: center;"
              >やらないと・ダメの気持ちで・Do it!</td
            ></tr
          ></tbody
        >
      </table><p style="text-align: left;"><br /></p><h4
        style="text-align: left;"
      >
        あとがき
      </h4><p>
        頑張らない1年を過ごした最後に頑張らないとダメだという結論に至るとは思わなかった。
      </p><p>
        とはいえこれまでの延長で徐々に頑張らなくなっていくのではなくて、頑張らない生活をしてそれで生まれたゆとりからこれまでを省みることができたのは良かったのかもしれない。
      </p><p>
        不安と焦燥感の正体がなんなのか？それに対してこのタイミングで自分がどう取り組むべきかを決めることができたのはとても良かったように思う。
      </p>
    </div>
  </ArticleTemplate>
</Layout>
