---
import Layout from "../../layouts/Layout.astro";
import { ArticleTemplate } from "../../templates/ArticleTemplate";
const title = "Izu Trail Journey AroundAlone28[2024]";
const category = "トレイルラン";
const thumbnail =
  "/images/articles/2024-12-31-Izu Trail Journey AroundAlone28-2024/image-1.jpg";
---

<Layout title={title}>
  <ArticleTemplate
    title={title}
    thumbnail={thumbnail}
    date={"2024-12-31"}
    category={category}
  >
    <div class="article-content">
      <h1 class="text-left">
        <br />
        <div class="mx-auto max-w-3xl">
          <div class="relative">
            <div class="text-center mt-2">👍</div>
          </div>
        </div>
        <br />
        <span class="text-base">ITJとは？<br /></span>
        <div class="text-left">
          <span class="text-sm font-normal">
            ひとことで言ってしまうと伊豆の山々を駆け抜け修善寺を目指すロング？トレイルランのレース。<br
            />
            フルコース70kmと、おそらくは一番景色の良いであろう28kmだけを走るAA28の2種類があります。<br
            />
            僕が出たのはタイトルにもある通りAA28の方。
          </span>
        </div>
        <span class="text-sm">
          <a href="https://www.izutrailjourney.com/jptop-1/">ITJについて</a
          >はこちらから<br />
        </span>
        <div class="mx-auto max-w-3xl">
          <div class="relative">
            <a
              href="/images/articles/2024-12-31-Izu Trail Journey AroundAlone28-2024/image-3.jpg"
            >
              <img
                alt="AA28のコース"
                src="/images/articles/2024-12-31-Izu Trail Journey AroundAlone28-2024/image-3.jpg"
                class="w-full h-auto"
              />
            </a>
            <div class="text-center mt-2">
              <span class="text-xs">AA28のコース</span>
            </div>
          </div>
        </div>
      </h1>
      <div>
        <div class="mx-auto max-w-3xl">
          <div class="relative">
            <a
              href="/images/articles/2024-12-31-Izu Trail Journey AroundAlone28-2024/image-5.jpg"
            >
              <img
                alt="コースの高低差"
                src="/images/articles/2024-12-31-Izu Trail Journey AroundAlone28-2024/image-5.jpg"
                class="w-full h-auto"
              />
            </a>
            <div class="text-center mt-2">
              登っている時間より降ってる時間の方が長いんだなぁこれが！
            </div>
          </div>
        </div>
      </div>
      <div>
        そもそもスタート地点が仁科峠の駐車場。初めて行ったときはここにこんな場所あったんか！って思ったくらい知らない場所。もし自転車で通ったことがあったとしても気づかないだろう。
      </div>
      <div><br /></div>
      <div>コースはひたすら伊豆の山陵を走ります。</div>
      <div>
        風が強い日は身体を揺さぶられますし、風がなければ太陽がサンサンと照りつける自然の中のビッグイベント。
      </div>
      <div><br /></div>
      <div><br /></div>
      <h4 class="text-left">事前準備</h4>
      <p class="text-left">
        2024年はフジヒルのリザルトが過去最低を叩き出してしまっており、一念発起して準備していた熊野古道ヒルクライムは落車からオーバートレーニング、最後に悪天候でDNS。
      </p>
      <p class="text-left">
        今年はどういうわけかやることなすこと上手くいかない一年。
      </p>
      <p class="text-left">
        ITJも全く期待は持てないんだけど出るからには完走したい。
      </p>
      <p class="text-left">
        納得いく走りはできずとも、全編歩いたって良いから完走してみせる！ということで10月からちょこちょこ走り始める。
      </p>
      <p class="text-left">
        最初のうちは5kmも走れず、走れるようになってきても15kmもすれば歩きたくもなる始末。
      </p>
      <p class="text-left">
        狩野川スマイルマラソンはどうにかこうにか2時間を切るのが関の山という状況に、「完走いけるよね？信じていいよね？」の気持ちもあまり湧かないが、どうせダメなシーズンなのだ。今更気にしたってしょうがない。
      </p>
      <p class="text-left">
        昨年出た時は直前の自主練で30km走れたり、沼津アルプス縦走したりとそこそこ走れたし準備もした上で挑戦して4'45(5時間半掛かったと思ってたけど4時間台だった)
      </p>
      <p class="text-left">
        今年は去年より不出来な状態なので6時間くらいか？と思いつつも一週間前に何故かちょっとだけ走れる体に戻ってきた。
      </p>
      <p class="text-left">希望、まだあります！</p>
      <h4 class="text-left;">
        <br />
      </h4>
      <h4 class="text-left;">走行戦略</h4>
      <p class="text-left;">
        ダウンヒルには自信があります。ゲームセンターのイニシャルDで鍛えたライン取りなのか、剣道部で鍛えた体幹からか、それとも子供の頃に山の中を走り回っていたからなのか？なんでも良いけど速いぞ(自画自賛)
      </p>
      <p class="text-left;">
        下りで困ることは特にないのでいつもは下りに入ったら飛ばすんですが、トレランシューズに車輪はないです。下りを攻めると心拍も上がりしますし足裏の衝撃もバカにならない。
      </p>
      <p class="text-left;">去年はそれで18km以降全く走れなくなりました。</p>
      <p class="text-left;">
        靴なのか走り方が悪いのか足の爪が剥げるんですよね。痛くてとても走るどころの騒ぎじゃない。2023年のITJはそんな状態で歯を食いしばってゴールに辿り着いた状態。
      </p>
      <p class="text-left;">
        去年の強めのフィジカルですらそうなので今年同じことをしたら早々に潰れるというのは予想がつく。なので今年は無理に下りを飛ばさないこと、足に負担を掛けないこと、これが絶対。下りで追い抜くのは危ないしね。労わりながら走ろう。
      </p>
      <p class="text-left;">
        下りで頑張らない代わりに登りを少し長めに走ろうということで階段と急登以外、余裕があれば極力走ることにしました。
      </p>
      <p class="text-left;">
        階段と急登はそもそも走れないので割り切って補給する区間にしようということで歩きながら食べることにします。割り切りです。
      </p>
      <p class="text-left;">つまり今年の戦略は「止まる時間を減らすこと。」</p>
      <p class="text-left;">
        この考えどっかで見たな？そうだブルベだ。僕のブルベの基本戦略じゃん。
      </p>
      <div><br /></div>
      <h4 class="text-left;">仁科峠</h4>
      <p class="text-left;">
        ITJの週は月曜日からとにかく風が強かった。水曜日以外は外に洗濯物を干せないような暴風が吹き荒れていて当日も爆風が予想された。
      </p>
      <p class="text-left;">
        厳冬期並みとは言わないものの気温自体も冬らしく低いという予報があり、去年とは打って変わって冬のレースという印象。(昨年は気温的にはほぼ秋だった)
      </p>
      <p class="text-left;">
        この状態、とても困る。というのもトレイルで10km以上走る経験はこれで二度目。どの程度の水を持ち込めば良いのかを判断できない。
      </p>
      <p class="text-left;">
        70kに参加する友人に1L~1.5Lあれば足りると教わったので前日時点で1.5Lを用意しておく。やっぱいらないなってなったらスタート地点で500ml捨てちゃえば良いしね。
      </p>
      <p class="text-left;">
        大会当日、家の前は無風。これは暑いのでは？と思ったけど修善寺についた時には風が強くなっており、仁科峠についたら暴風だった。
      </p>
      <p class="text-left;">
        これは水いらないだろ...ってことで手荷物として水を預けることに。
      </p>
      <p class="text-left;">
        AA28はAround
        Alone、つまり無補給のイベントなので水が切れると詰むのだがこの気象情念だと飲み切れない。絶対に。
      </p>
      <p class="text-left;">
        スタート地点で待機すること1時間。過酷な風に冷やされるとお腹がやばいことになるので手荷物預けギリギリまでは着込む。
      </p>
      <p class="text-left;">
        この時は下はカステリのレッグウォーマー +
        ジーンズ、上は漫画家なりきりセット + カステリのジャージ(冬用) +
        カステリのGoreTextのレインジャケット + ブルゾン +
        ノースフェイスのレインジャケットという完全防寒装備だった。おかげで冷えずに済んだけど脱いだあとが辛かった。
      </p>
      <p class="text-left;">
        そのうち友達も良いペースで仁科エイドに到着。こちらに気付くことなく叫んだり補給を取ってエイドを走り去って行った。
      </p>
      <p class="text-left;">
        出走15分前ということで恒例の最後の軽量化にトイレに入った。ガチャリと音がしたので鍵もかかったしよしと思って思って用を足し始めたら突然開くドア。そして勢いよく閉まるドア。中断する尿。緊迫する仮設トイレの中、出走を間近に控えていた僕の緊張はトイレに溶けて流れてしまったw
      </p>
      <p class="text-left;"><br /></p>
      <h4 class="text-left;">出走~土肥駐車場</h4>
      <p class="text-left;">
        寒さに耐えてまもなく午前11時。70kの屈強な走者を応援していたらすぐに来てしまった。<br
        />出走は3分刻みのウェーブ方式。自分は第3ウェーブなので出走は11:06。<br
        />去年より少し早めのスタートタイムになるわけだが、残念ながら今年の速さには自信がない。自信がないので控えめに後ろの方から走り出す。<br
        />周りのペースを見ながら無理をせず、極力足を残す走りを心がけます。<br
        />ブルベ、ブルベと考えながら走り出したので最初の舗装路区間で筋肉をスイッチすることを思い出す。
      </p>
      <p class="text-left;">
        下りは大腿四頭筋を使うことになるので登りは極力別の筋肉を使うことにします。そう大臀筋です。
      </p>
      <div class="mx-auto max-w-3xl">
        <div class="relative">
          <a
            href="/images/articles/2024-12-31-Izu Trail Journey AroundAlone28-2024/image-7.jpg"
          >
            <img
              alt=""
              data-original-height="1522"
              data-original-width="2030"
              height="240"
              src="/images/articles/2024-12-31-Izu Trail Journey AroundAlone28-2024/image-8.jpg"
              width="320"
              class="w-full h-auto"
            />
          </a>
        </div>
      </div>
      <p></p>
      <div class="text-left;"><br /></div>
      <p class="text-left;">
        このでかい筋肉を使って登っていきます。なるべく小走りに、ペースを守って。<br
        />にでかい筋肉だけあって疲れがこない。どのくらい疲れないかというと緩斜面区間で走る余裕があるくらい。
      </p>
      <p class="text-left;">
        後ろからくる速い人には速やかに前に出てもらえるように息遣いがしたらハンドサインを出して横に避けたりする。
      </p>
      <p class="text-left;">
        下りの区間は事前の取り決めに従って爪を労わりながら降下。<br
        />この時にスケート選手のような腰をくの字に曲げた状態で着地しながら進むと着地の衝撃を腸腰筋辺りで吸収できてる感じがして速くて楽ということに気づいたので達磨山まではこの走り方を多用します。
      </p>
      <p class="text-left;">
        しばらく登ったり降ったり。遅いことはわかっているので萎えないようになるべく時計は見ないようにしていたのですが、視界右側に見えるアスファルトの感じが変わってきたのが気になって興味本位で時計を確認。
      </p>
      <p class="text-left;">
        流石にそろそろ補給のお時間？と思ってみるとまだ50分。おかしい。ゆっくりしているにしてはペース速くないか？
      </p>
      <p class="text-left;">
        距離にすると6kmちょっと。6kmちょっとで50分ということは5時間どころか4時間で完走できてしまうのですが？
      </p>
      <p class="text-left;">
        しかし走っていると正確な計算ができない。合ってる気もするがゴールタイムの予想は一旦先送りに。
      </p>
      <p class="text-left;">
        時間は信じられるので「俺ハ接種ス」してカロリーを取り込みます。
      </p>
      <p class="text-left;">
        なんか足りない気がしたので登り返しで「一本満足」しておきます。
      </p>
      <p class="text-left;">
        固形物を食べると口が乾いて辛いので水で無理やり流し込みますがお腹に固形物が落ちるとちょっと元気になりますよね。
      </p>
      <p class="text-left;">
        そんなこんなでスタートから1時間15分。いつの間にか船原峠の階段が出てきました。<br
        />おかしい、ここって1/3の地点だよな...このペースで走ったら4時間切るのですが？まだ余裕あるのですが？
      </p>
      <div class="text-left;">
        <div class="mx-auto max-w-3xl">
          <div class="relative">
            <a
              href="/images/articles/2024-12-31-Izu Trail Journey AroundAlone28-2024/image-9.jpg"
            >
              <img
                alt=""
                data-original-height="1522"
                data-original-width="2030"
                height="240"
                src="/images/articles/2024-12-31-Izu Trail Journey AroundAlone28-2024/image-10.jpg"
                width="320"
                class="w-full h-auto"
              />
            </a>
          </div>
        </div>
      </div>
      <p style="text-align: left;">
        アスファルト~たまに未舗装~アスファルトな土肥駐車場への登りを走ります。
      </p>
      <p class="text-left;">
        走るといっても1km/8~9分。走っているのか跳ねているのか微妙なところではありますがそれでも去年はこの区間を12分ペースで歩いたよなと思い出したり、なぜか走れていることに驚いたり、前の走者を追い抜いたり追い抜かれたりを繰り返し、感覚的にはL3で収まるくらいの強度で走ります。
      </p>
      <div class="text-left;">
        <div class="mx-auto max-w-3xl">
          <div class="relative">
            <a
              href="/images/articles/2024-12-31-Izu Trail Journey AroundAlone28-2024/image-11.jpg"
            >
              <img
                alt=""
                data-original-height="130"
                data-original-width="1012"
                height="41"
                src="/images/articles/2024-12-31-Izu Trail Journey AroundAlone28-2024/image-12.jpg"
                width="320"
                class="w-full h-auto"
              />
            </a>
          </div>
        </div>
      </div>
      <div class="text-left;">
        ペースを維持して登ること20分！？水が心もとなくなりつつも、ついに私は土肥駐車場にたどり着いた。
      </div>
      <div><br /></div>
      <h4 class="text-left;">土肥駐車場~戸田峠の駐車場</h4>
      <p class="text-left;">
        セーブポイントの土肥駐車場到着時点のタイムは1時間と40分。まだ余裕がある。去年は暑かったのでここで手持ちのリザーバタンクからフラスクに給水したけど今年は置いてきちゃったのでそのままスルー。AA28の主だった山の後半戦に差し掛かります。
      </p>
      <p class="text-left;">
        ここ2年くらい全くきてないけど一時期は自転車で走り回っていたこの山。山から見る景色で大体どの辺りかわかります。
      </p>
      <div class="mx-auto max-w-3xl">
        <div class="relative">
          <a
            href="/images/articles/2024-12-31-Izu Trail Journey AroundAlone28-2024/image-13.jpg"
          >
            <img
              alt=""
              data-original-height="1522"
              data-original-width="2030"
              height="240"
              src="/images/articles/2024-12-31-Izu Trail Journey AroundAlone28-2024/image-14.jpg"
              width="320"
              class="w-full h-auto"
            />
          </a>
        </div>
      </div>
      <p class="text-left;">
        まもなく2時間に差し掛かるので手持ちのジェルを流し込みます。なんとなく脚から力を感じなくなってきているのと道も枯葉で走り辛いのでここで<b
          >追い「一本満足」</b
        >します。
      </p>
      <p class="text-left;">
        この区間でも歩きながらの補給だったので口呼吸できずに本当に酸素が足りなくなるところでした。
      </p>
      <p class="text-left;">
        <br />達磨山までのこの区間は西伊豆でも屈指の絶景ポイントがあります。
      </p>
      <p class="text-left;">
        去年は止まる余裕も無く、山頂で止まって撮影タイムしている人に「何止まってんだよ！走るんだよ！」と思ったりしていたのですが、今年は写真撮りながら進もうということにしてたので撮影します。
      </p>
      <div class="text-left;">
        <div class="mx-auto max-w-3xl">
          <div class="relative">
            <a
              href="/images/articles/2024-12-31-Izu Trail Journey AroundAlone28-2024/image-15.jpg"
            >
              <img
                alt=""
                data-original-height="1522"
                data-original-width="2030"
                height="240"
                src="/images/articles/2024-12-31-Izu Trail Journey AroundAlone28-2024/image-16.jpg"
                width="320"
                class="w-full h-auto"
              />
            </a>
          </div>
        </div>
      </div>
      <div class="text-left;">
        富士山がでかいので北がどっちかすぐわかりますね。
      </div>
      <div class="text-left;">
        <br />
        <div class="mx-auto max-w-3xl">
          <div class="relative">
            <a
              href="/images/articles/2024-12-31-Izu Trail Journey AroundAlone28-2024/image-17.jpg"
            >
              <img
                alt=""
                data-original-height="1522"
                data-original-width="2030"
                height="240"
                src="/images/articles/2024-12-31-Izu Trail Journey AroundAlone28-2024/image-18.jpg"
                width="320"
                class="w-full h-auto"
              />
            </a>
          </div>
        </div>
      </div>
      <div class="text-left;"><br /></div>
      <p class="text-left;">
        スタートから2時間10分、AA28の最高標高地点でパパッと撮影を済ましそのまま降下。
      </p>
      <p class="text-left;">
        ここが最高到達地点だとしたらもうあとはほとんど下るだけ。
      </p>
      <p class="text-left;">
        事前の予想より遥かに走れてしまっただけに終わりに近づいていることに少しだけ寂しい気持ちも感じつつ、ここまできたらどのくらいでゴールできるのか見てやろうという気になります。
      </p>
      <p class="text-left;">
        この区間の下りは階段が多めだったり本当にグリップするのか疑わしい道だったりと若干怖さを感じつつ、感覚的には70%くらいの出力をキープして走ることを意識します。
      </p>
      <p class="text-left;">
        前走者を抜いたり、稀に抜かれたりしながらいつの間にやら戸田峠の階段に到着。
      </p>
      <p class="text-left;">
        階段で転けてる選手がいたりして、みんな満身創痍でみんなやってんだな...って思ったり。
      </p>
      <p class="text-left;">
        ここで2時間半。去年はここで2時間40分だったんだよね。なんで10分も削れてるんだ？
      </p>
      <div class="text-left;">
        このままのペースで走ったら4時間切れちゃうんですか？
      </div>
      <div class="text-left;"><br /></div>
      <h4 class="text-left;">戸田峠の駐車場~ゴールまで</h4>
      <p class="text-left;">あの時の記憶が蘇る。</p>
      <p class="text-left;">
        去年ここに着いた時にはすでに足が限界になっていて走るどころか歩くことも辛かった...
      </p>
      <p class="text-left;">しかし今年はまだ走れる。どういうわけかまだ動く。</p>
      <p class="text-left;">
        流石に登りは苦しくなりつつもそれなりの足取りで達磨山高原レストハウスを目指します。
      </p>
      <div>
        <div class="mx-auto max-w-3xl">
          <div class="relative">
            <a
              href="/images/articles/2024-12-31-Izu Trail Journey AroundAlone28-2024/image-19.jpg"
            >
              <img
                alt=""
                data-original-height="1522"
                data-original-width="2030"
                height="240"
                src="/images/articles/2024-12-31-Izu Trail Journey AroundAlone28-2024/image-20.jpg"
                width="320"
                class="w-full h-auto"
              />
            </a>
          </div>
        </div>
      </div>
      <blockquote class="twitter-tweet">
        <p dir="ltr" lang="ja">
          金冠山トンネルの上辺り<br />まだ下りを攻略する体力は残っとるよ<br
          />腹減ってるのが気になりどころやな <a href="https://t.co/pEQB9PqBtu"
            >pic.twitter.com/pEQB9PqBtu</a
          >
        </p>— UG (@gr8distance) <a
          href="https://twitter.com/gr8distance/status/1865643089920205060?ref_src=twsrc%5Etfw"
          >December 8, 2024</a
        >
      </blockquote>
      <p>しかしここで問題発生。お腹が空いてきてしまった。</p>
      <p>
        補給食もしっかり摂取していたのだが足りない感じがする。水も余裕がなくなってきた。
      </p>
      <p>
        幸い達磨山高原レストハウスには自販機がある。高地価格ですごい値段だった気もするがカロリー(糖質)には変えられない。
      </p>
      <p>
        達磨山にある謎のトンネルの上の坂、この区間は道が悪いんだよな。足挫いたらおしまいなのでセーフティに走ります。下りの区間ではあるのでタイムは1km/6分半ほど。これだけ走っておいてまだこのペースで走れるんですか！？
      </p>
      <p>
        達磨山高原レストハウスに着いたらスタッフさんがいっぱいいたのですが自販機に行きたいので左折。スタッフさんは僕がトイレに行ったのかと思ったっらしく、トイレを通過したら「トイレ左！トイレ左！」と叫んでいた。トイレの水はカロリー0だろ！！
      </p>
      <p>自販機でコーラを購入。刃牙で言ってたもんね。炭酸抜きコーラのこと。</p>
      <p>
        速やかにシェイクしてからの開栓。ちょっと飲む。個人的には炭酸が苦手で日常生活では殆ど飲まないんだけど、ハンガーノック気味の体にコーラは刺さる。コイツァトンデモネェ！
      </p>
      <p>
        さっき叫んでいたスタッフさんの前をコーラを片手に通過したら「コーラ！？」って言ってたけどそんなに変かと思ったりしつつ修善寺への最後のトレイルへ突入。
      </p>
      <p>
        おそらくこの区間はAA28のコースだと一番ハードな下り坂で、崩壊している階段とほとんど崩壊してる階段と石と枝の道。良い道です。
      </p>
      <p>
        みんな限界いっぱいでそれぞれのペースで走っておられる。僕はまだ少しだけ余裕があったので前を譲ってもらったのですが、この時に石を右の爪にヒットさせてしまいヤバめのダメージを追ってしまいます。しかししばらく我慢して走っていたら痛みが引いたのでそのまま治療はせずにくだります。
      </p>
      <p>危険な階段の先にはなぜか舗装された道が...。足裏にきますよ...。</p>
      <p></p>
      <div class="mx-auto max-w-3xl">
        <div class="relative">
          <a
            href="/images/articles/2024-12-31-Izu Trail Journey AroundAlone28-2024/image-21.jpg"
          >
            <img
              alt=""
              data-original-height="428"
              data-original-width="1010"
              height="136"
              src="/images/articles/2024-12-31-Izu Trail Journey AroundAlone28-2024/image-22.jpg"
              width="320"
              class="w-full h-auto"
            />
          </a>
        </div>
      </div>
      <div class="text-center">
        <div class="separator">
          <table
            align="center"
            cellpadding="0"
            cellspacing="0"
            class="tr-caption-container"
            style="margin-left: auto; margin-right: auto;"
          >
            <tbody>
              <tr>
                <td style="text-align: center;">
                  <a
                    href="/images/articles/2024-12-31-Izu Trail Journey AroundAlone28-2024/image-23.jpg"
                    style="margin-left: auto; margin-right: auto;"
                  >
                    <img
                      alt=""
                      data-original-height="432"
                      data-original-width="1016"
                      height="136"
                      src="/images/articles/2024-12-31-Izu Trail Journey AroundAlone28-2024/image-24.jpg"
                      width="320"
                    />
                  </a>
                </td>
              </tr>
              <tr>
                <td class="tr-caption" style="text-align: center;"
                  >↑が2023年。痛くて走るどころじゃないので全区間歩いてる。</td
                >
              </tr>
            </tbody>
          </table>
        </div>
        <br />
      </div>
      <p>
        ところどころ登り返しはありつつもその度にコーラやジェルを補給してカロリーを補いますが一気に摂取しすぎて気持ち悪くなったので走るのをやめてこの区間は歩くことに。
      </p>
      <p></p>
      <p>
        それでも下りに入ってからは1km/6分半を目標に下ります。この時点ですでに自分の力で進むには限界があることがわかっており下り坂を使ってペースを維持する感じになっています。
      </p>
      <p>
        ゴール前2kmほどの舗装路まで残り200mくらいかなというところで友人からの連絡が。彼はゴールしたようです。それもかなりの速さで。
      </p>
      <p>
        あれ？彼が仁科で叫んでたのっていつだっけ？4時間前か...？ちょっと時間の感覚がバグってる気がするな。もっと昔のような気もする...(長丁場の大会やブルベ特有の時間感覚バグ)
      </p>
      <p>
        返信だけ済ませコース復帰。トレイルを抜けて舗装路に突入した途端にもう走る力がないことを突きつけられました。
      </p>
      <p>
        わかってはいたんだが走るたびにすごい不快感だ。歩くだけでも辛いのに...
      </p>
      <p></p>
      <div class="mx-auto max-w-3xl">
        <div class="relative">
          <a
            href="/images/articles/2024-12-31-Izu Trail Journey AroundAlone28-2024/image-25.jpg"
          >
            <img
              alt=""
              data-original-height="182"
              data-original-width="1008"
              height="58"
              src="/images/articles/2024-12-31-Izu Trail Journey AroundAlone28-2024/image-26.jpg"
              width="320"
              class="w-full h-auto"
            />
          </a>
        </div>
      </div>
      <br />
      <p>下り基調の道を登坂と同じペースで歩きます。</p>
      <p>
        頑張れと言われても頑張れないのですごい渋い顔をしながら歩いていくわけですが、ゴールが近づくにつれて応援してくれる人が増えます。嬉しいです。
      </p>
      <p>すれ違うたびに「後どんくらいですか？」と聞きながら歩きます。</p>
      <p>
        残り500m切ったら走ってやろうかな？と考えていたらいよいよそれを言ってくれる人が登場。
      </p>
      <p>最後だしやるしかねぇの気持ちで再走。</p>
      <p>1km/7分半のペースですがさっきよりも速くゴールが近づいてきます。</p>
      <p>
        ゴール前の謎の坂を登ってウィニングロードを渋い顔で走っていたら「最後は笑顔で！」とMC兄貴に言われたのでちょっとだけ笑ってゴール。
      </p>
      <p></p>
      <div class="mx-auto max-w-3xl">
        <div class="relative">
          <a
            href="/images/articles/2024-12-31-Izu Trail Journey AroundAlone28-2024/image-27.jpg"
          >
            <img
              alt=""
              data-original-height="1522"
              data-original-width="1142"
              height="240"
              src="/images/articles/2024-12-31-Izu Trail Journey AroundAlone28-2024/image-28.jpg"
              width="180"
              class="w-full h-auto"
            />
          </a>
        </div>
      </div>
      <div class="text-center">
        <div class="separator">
          <table
            align="center"
            cellpadding="0"
            cellspacing="0"
            class="tr-caption-container"
            style="margin-left: auto; margin-right: auto;"
          >
            <tbody>
              <tr>
                <td style="text-align: center;">
                  <a
                    href="/images/articles/2024-12-31-Izu Trail Journey AroundAlone28-2024/image-29.jpg"
                    style="margin-left: auto; margin-right: auto;"
                  >
                    <img
                      alt=""
                      data-original-height="70"
                      data-original-width="476"
                      height="47"
                      src="/images/articles/2024-12-31-Izu Trail Journey AroundAlone28-2024/image-30.jpg"
                      width="320"
                    />
                  </a>
                </td>
              </tr>
              <tr>
                <td class="tr-caption" style="text-align: center;"
                  >公式は4:15だったけど誤差みたいなもんよ</td
                >
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <p>こんなに明るいうちに帰って来れると思わなかったぜ...</p>
      <p>
        <br />
      </p>
      <h4 class="text-left;">
        <span
          class="font-sans"
          style="background-color: white; color: #333333; font-size: 16px; white-space-collapse: preserve-breaks;"
          >試合を終えて家路へ~</span
        >
      </h4>
      <p>
        まさか荷物の受け取りにあんなに時間がかかると思わなかったぜ！(やんごと)
      </p>
      <p>
        けど荷物を受け取ったら3分後にバスが来たのでそのまま乗って修善寺駅へ。なんと今年は明るい内に帰れるし席にも座れる！
      </p>
      <p>
        駅に着いたらバス停から券売機まで走ります。あれ走れるの僕？あれ？さっき歩いて...？
      </p>
      <p>全てを終えたら回復したようですね。</p>
      <p></p>
      <div class="mx-auto max-w-3xl">
        <div class="relative">
          <a
            href="/images/articles/2024-12-31-Izu Trail Journey AroundAlone28-2024/image-31.jpg"
          >
            <img
              alt=""
              data-original-height="1522"
              data-original-width="1142"
              height="240"
              src="/images/articles/2024-12-31-Izu Trail Journey AroundAlone28-2024/image-32.jpg"
              width="180"
              class="w-full h-auto"
            />
          </a>
        </div>
      </div>
      <div>
        去年は切符を買ってから電車が来るまで30分ほどあったので修善寺駅の蕎麦屋でうどんを食べたのですが、あまりに過酷な行程とあったかいうどんで涙が出ました(ガチ)<br
        />涙と共にうどんを食べたものでなければ、トレイルの味はわからない...!?
      </div>
      <div><br /></div>切符を買ったら来ていた電車に飛び乗ります。<p></p>
      <p>
        速やかに家に帰りシャワーを浴びたら外行きの服を着ます。今日何度目かの伊豆箱根バスに乗り沼津市街へ。
      </p>
      <p>先にゴールしていた友人と祝勝会 🍣🍺</p>
      <p></p>
      <div class="mx-auto max-w-3xl">
        <div class="relative">
          <a
            href="/images/articles/2024-12-31-Izu Trail Journey AroundAlone28-2024/image-33.jpg"
          >
            <img
              alt=""
              data-original-height="1522"
              data-original-width="2030"
              height="240"
              src="/images/articles/2024-12-31-Izu Trail Journey AroundAlone28-2024/image-34.jpg"
              width="320"
              class="w-full h-auto"
            />
          </a>
        </div>
      </div>
      <p></p>
      <h4 class="text-left;">おわりに</h4>
      <div>
        <blockquote class="twitter-tweet">
          <p dir="ltr" lang="ja">
            素晴らしい1日だった<br
            />今年はフジヒルのリザルトはワーストだし熊野古道HCはDNSだし、過去最悪のシーズンだと思ってたし受け入れてたからこの結果は救いになる
          </p>— UG (@gr8distance) <a
            href="https://twitter.com/gr8distance/status/1865743883558396192?ref_src=twsrc%5Etfw"
            >December 8, 2024</a
          >
        </blockquote>
      </div>
      <p class="text-left;">
        本当にこれに尽きるんですが、今年はフジヒルで下振れの中の下振れを引いてダメダメで、ITJも調整に失敗したし何て酷いシーズンなんだと思ってたんですが、なんの因果か上振れの中の上振れを引けてしまった。
      </p>
      <p class="text-left;">
        一年の最後にそれまでのダメダメを帳消しにする健闘ができたので、2025年もトレイルランを頑張ろうと思っている。
      </p>
      <p class="text-left;"><br /></p>
      <p class="text-left;">
        <b>追伸</b><br
        />実は帰ってきてしばらくは次回のITJは70kのエントリーの線も考えた上で、やっぱりきつい考えてAA28サブ3.5を目指すつもりだったのですが、友人の熱心な布教活動やら個人的に挑戦したい気持ちもあって<b
          >70kにエントリーするつもりです</b
        >。
      </p>
      <p class="text-left;">
        AA28のサブ3.5は来年のITJ前に達成できたら良いなと夢を見るんじゃよ。
      </p>
      <p class="text-left;"><br /></p>
      <p class="text-left;">
        去年は富士山の五号目に、今年は西伊豆の山の中に心を置いてきてしまった。
      </p>
    </div>
  </ArticleTemplate>
</Layout>
