---
// import { getCollection, type CollectionEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";
// import { ArticleTemplate } from "../../templates/ArticleTemplate";
// import type { BlogPost } from "../../types/blog";

// export async function getStaticPaths() {
//   const posts = await getCollection("blog");
//   return posts.map((post: CollectionEntry<"blog">) => ({
//     params: { slug: post.slug },
//     props: { post },
//   }));
// }
---

<Layout>
  <h1>hello</h1>
</Layout>
