---
import Layout from "../../../../../layouts/ArticleLayout.astro";
const title = "俺以外みんな妖怪";
const description = "";
const thumbnail = "";
const labels = [];
---

<Layout title={title} labels={labels}>
  <article>
    <p>
      <span style="background-color: #f3f3f3;">&nbsp;</span><table
        align="center"
        cellpadding="0"
        cellspacing="0"
        class="tr-caption-container"
        style="margin-left: auto; margin-right: auto;"
      >
        <tbody
          ><tr
            ><td style="text-align: center;"
              ><a
                href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEj5UHm91le5i2jgo-M9EjyLbASaXBoEAMGDMI9eOiHlxTfqq7SMYfD-ay1JInM06crw7A7yX1b6oIAXA6rgG4UATsByE43acD9QdCRZ_dmFP5jf-NUh8wEWSW7zvOf_cVCfA4R4f894jCE/"
                style="background-color: #f3f3f3; margin-left: 1em; margin-right: 1em;"
                ><img
                  alt=""
                  data-original-height="1692"
                  data-original-width="2256"
                  height="240"
                  src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEj5UHm91le5i2jgo-M9EjyLbASaXBoEAMGDMI9eOiHlxTfqq7SMYfD-ay1JInM06crw7A7yX1b6oIAXA6rgG4UATsByE43acD9QdCRZ_dmFP5jf-NUh8wEWSW7zvOf_cVCfA4R4f894jCE/"
                  width="320"
                /></a
              ></td
            ></tr
          ><tr
            ><td class="tr-caption" style="text-align: center;"
              ><span style="background-color: #f3f3f3;">妖怪たちと</span></td
            ></tr
          ></tbody>
      </table>
    </p><h3 style="text-align: left;">
      <span style="background-color: #f3f3f3;">赤紙、届く！！！！</span>
    </h3><div>
      <span style="background-color: #f3f3f3;"
        >とある日曜日、さとるくんから突然のお誘いが届く。</span>
    </div><blockquote>
      <div>
        <span style="background-color: #f3f3f3;"
          ><br class="Apple-interchange-newline" /><span
            style='font-family: "Segoe UI", Meiryo, system-ui, -apple-system, "system-ui", sans-serif; font-size: 15px; white-space: pre-wrap;'
            >お久しぶりです！
            急で申し訳ないんですが、来週の日曜日にキャンプツーリングのルートで西伊豆スカイラインを走る予定なんですが、もし予定があいていれば一緒に走りませんか？
            メンバーはりっけいさんとぼくとSKさんっていう方でみんなキャンプ道具持ってるのでちょっとペースは緩くなるかもなんですがよければぜひよろしくお願いします！</span
          ></span>
      </div>
    </blockquote><p>
      <span style="background-color: #f3f3f3;"
        >ついに来たのかこのときが！！といった感じである。が、さとるくんってどなた？ってところもあるので少し紹介したい。</span>
    </p><h3
      style="font-family: Arial, Tahoma, Helvetica, FreeSans, sans-serif;"
    >
      <span style="background-color: #f3f3f3;"
        >エンデュランススポーツの神に愛さし男</span>
    </h3><div>
      <table
        align="center"
        cellpadding="0"
        cellspacing="0"
        class="tr-caption-container"
        style="margin-left: auto; margin-right: auto;"
      >
        <tbody
          ><tr
            ><td style="text-align: center;"
              ><a
                href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgq5jG7OlK_Xum0kFGd0R50F3_2OgneLjTnE_D_WEqABMNWT2HohsJFABJTNhp0IU50Ew-C5-jOpunh-CkCNKoaw072jAuCI_Oln6SO-qp88oiGJJ0POdUO3pIZGrUvNPzPsjLm3N9sDbs/"
                style="background-color: #f3f3f3; margin-left: 1em; margin-right: 1em;"
                ><img
                  alt=""
                  data-original-height="1366"
                  data-original-width="2048"
                  height="213"
                  src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgq5jG7OlK_Xum0kFGd0R50F3_2OgneLjTnE_D_WEqABMNWT2HohsJFABJTNhp0IU50Ew-C5-jOpunh-CkCNKoaw072jAuCI_Oln6SO-qp88oiGJJ0POdUO3pIZGrUvNPzPsjLm3N9sDbs/"
                  width="320"
                /></a
              ></td
            ></tr
          ><tr
            ><td class="tr-caption" style="text-align: center;"
              ><span style="background-color: #f3f3f3;"
                >キャンプツーリングの翌日に1300w出したらしい🤔</span
              ></td
            ></tr
          ></tbody>
      </table><span style="background-color: #f3f3f3;"><br /></span>
    </div><div>
      <div
        style="font-family: Arial, Tahoma, Helvetica, FreeSans, sans-serif; font-size: 16px;"
      >
        <span style="background-color: #f3f3f3;"
          ><a href="https://twitter.com/rikusato37">彼</a
          >を知るには彼の走ってきた道を知るのが一番早いので彼のブログを見るのが早いでしょう。<a
            href="https://bikesato.hatenablog.com/archive"
            style="background-attachment: initial; background-clip: initial; background-image: initial; background-origin: initial; background-position: initial; background-repeat: initial; background-size: initial; color: #729c0b; text-decoration-line: none;"
            >さとるのガチ旅</a
          ></span>
      </div><div
        style="font-family: Arial, Tahoma, Helvetica, FreeSans, sans-serif; font-size: 16px;"
      >
        <span style="background-color: #f3f3f3;"
          >ブログのタイトルからして普通じゃない。普通の人はガチとかつけない。そうだろ？</span>
      </div><div
        style="font-family: Arial, Tahoma, Helvetica, FreeSans, sans-serif; font-size: 16px;"
      >
        <span style="background-color: #f3f3f3;"
          >なぜなら彼は普通の人ではない。一言で語るなら彼は妖怪である。</span>
      </div><div
        style="font-family: Arial, Tahoma, Helvetica, FreeSans, sans-serif; font-size: 16px;"
      >
        <span style="background-color: #f3f3f3;"
          >いきなり言われても信じられない人のために彼妖怪的異常さから妖怪であることを証明したい。</span>
      </div><div
        style="font-family: Arial, Tahoma, Helvetica, FreeSans, sans-serif; font-size: 16px;"
      >
        <ul>
          <li>
            <span style="background-color: #f3f3f3;"
              >7葛(大阪和泉葛城山7つの登り口を短日全制覇する)</span>
          </li><li>
            <span style="background-color: #f3f3f3;"
              >四国一周(四国を1周する)</span>
          </li><li>
            <span style="background-color: #f3f3f3;"
              >クリテリウム入賞(後続に影も踏ませぬ走り)</span>
          </li><li>
            <span style="background-color: #f3f3f3;"
              >フルマラソン完走(サブ4)</span>
          </li><li>
            <span style="background-color: #f3f3f3;">2号線キャノンボール</span>
          </li>
        </ul>
      </div><div
        style="font-family: Arial, Tahoma, Helvetica, FreeSans, sans-serif; font-size: 16px;"
      >
        <span style="background-color: #f3f3f3;"
          >7葛は大阪にある激坂、葛城山の登山道7つを一度のライドでコンプリートすることですね。</span>
      </div><div
        style="font-family: Arial, Tahoma, Helvetica, FreeSans, sans-serif; font-size: 16px;"
      >
        <span style="background-color: #f3f3f3;"
          >エベレスティングが有名になる前のエベレスティングのようなチャレンジライドで確か獲得標高は5000mを越えたような...</span>
      </div><div
        style="font-family: Arial, Tahoma, Helvetica, FreeSans, sans-serif; font-size: 16px;"
      >
        <span style="background-color: #f3f3f3;"
          >四国はねぇ...1000kmあるんですよ。</span>
      </div><div
        style="font-family: Arial, Tahoma, Helvetica, FreeSans, sans-serif; font-size: 16px;"
      >
        <span style="background-color: #f3f3f3;"
          >ロングライドと登坂に適正を見せたかと思えばクリテリウムでもしれっと入賞してるんですねぇ...</span>
      </div><div
        style="font-family: Arial, Tahoma, Helvetica, FreeSans, sans-serif; font-size: 16px;"
      >
        <span style="background-color: #f3f3f3;"
          >と思ったらフルマラソン完走してる。</span>
      </div><div
        style="font-family: Arial, Tahoma, Helvetica, FreeSans, sans-serif; font-size: 16px;"
      >
        <span style="background-color: #f3f3f3;"
          >ここまで完成したエンデュランススポーツの申し子は存在しない。よってさとるくん
          is 妖怪。</span>
      </div><div
        style="font-family: Arial, Tahoma, Helvetica, FreeSans, sans-serif; font-size: 16px;"
      >
        <b style="background-color: #f3f3f3;">QED</b>
      </div><div
        style="font-family: Arial, Tahoma, Helvetica, FreeSans, sans-serif; font-size: 16px;"
      >
        <span style="background-color: #f3f3f3;"><br /></span>
      </div><div
        style="font-family: Arial, Tahoma, Helvetica, FreeSans, sans-serif; font-size: 16px;"
      >
        <b style="background-color: #f3f3f3;"
          ><span style="color: #57ffd5;">果南ちゃん</span>推し</b>
      </div>
    </div><div
      style="font-family: Arial, Tahoma, Helvetica, FreeSans, sans-serif; font-size: 16px;"
    >
      <table
        align="center"
        cellpadding="0"
        cellspacing="0"
        class="tr-caption-container"
        style="margin-left: auto; margin-right: auto;"
      >
        <tbody
          ><tr
            ><td style="text-align: center;"
              ><a
                href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEih5cP1Qz4cs9JESJbBeg728r9QRTohf6DtENfLs_cpOzVrMg4wlf9LiXTrDqjXhoJIOe4Ci8TFbyJPprSk-lvmNyWopSnh5s0-quYP3ssAbLZdgEnAmdNOvZjno_KXUTsTSOF7btxwoEo/"
                style="background-color: #f3f3f3; margin-left: auto; margin-right: auto;"
                ><img
                  alt=""
                  data-original-height="288"
                  data-original-width="512"
                  height="180"
                  src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEih5cP1Qz4cs9JESJbBeg728r9QRTohf6DtENfLs_cpOzVrMg4wlf9LiXTrDqjXhoJIOe4Ci8TFbyJPprSk-lvmNyWopSnh5s0-quYP3ssAbLZdgEnAmdNOvZjno_KXUTsTSOF7btxwoEo/"
                  width="320"
                /></a
              ></td
            ></tr
          ><tr
            ><td class="tr-caption" style="text-align: center;"
              ><span style="background-color: #f3f3f3;"
                >ちなみに私は鞠莉さん推し<br /><br /></span
              ></td
            ></tr
          ></tbody>
      </table><span style="background-color: #f3f3f3;"
        >さとるくんを紹介したら次はりっけいさんとS.Kさんを紹介したい。</span>
    </div><div
      style="font-family: Arial, Tahoma, Helvetica, FreeSans, sans-serif; font-size: 16px;"
    >
      <span style="background-color: #f3f3f3;"><br /></span>
    </div><h2
      style="font-family: Arial, Tahoma, Helvetica, FreeSans, sans-serif; font-size: 16px; text-align: left;"
    >
      <span style="background-color: #f3f3f3;"
        >超超ロングライドKEIフォトグラファー</span>
    </h2><div>
      <table
        align="center"
        cellpadding="0"
        cellspacing="0"
        class="tr-caption-container"
        style="margin-left: auto; margin-right: auto;"
      >
        <tbody
          ><tr
            ><td style="text-align: center;"
              ><a
                href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjgAMb8Y8HQuC_ffAhUBiHVHKY386n5FSDMjYBCiJUEzBDef8ckGOJQcoRN1m021vl16bXI5BqyP7u9UiPMV5ltzuwvHoIX3VEpUq6mewYxLwjaKQzteWn64f9Ou-8KuABITo7-_rwPhec/"
                style="background-color: #f3f3f3; margin-left: auto; margin-right: auto;"
                ><img
                  alt=""
                  data-original-height="1366"
                  data-original-width="2048"
                  height="213"
                  src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjgAMb8Y8HQuC_ffAhUBiHVHKY386n5FSDMjYBCiJUEzBDef8ckGOJQcoRN1m021vl16bXI5BqyP7u9UiPMV5ltzuwvHoIX3VEpUq6mewYxLwjaKQzteWn64f9Ou-8KuABITo7-_rwPhec/"
                  width="320"
                /></a
              ></td
            ></tr
          ><tr
            ><td class="tr-caption" style="text-align: center;"
              ><span style="background-color: #f3f3f3;"
                >このライドの1週間前にもキャノンボールを達成したらしい🤔</span
              ></td
            ></tr
          ></tbody>
      </table><span style="background-color: #f3f3f3;"><br /></span>
    </div><div>
      <span style="background-color: #f3f3f3;"
        ><a href="https://twitter.com/rikkei2">彼</a
        >を知るには彼が撮ってきた写真を見るのが最も効果的でしょう。</span>
    </div><div>
      <span style="background-color: #f3f3f3;"
        >多くの写真はこちらから見ることができます。<a
          href="https://rikkeitabi.com/">りっけいのゆるたび</a
        ></span>
    </div><div>
      <span style="background-color: #f3f3f3;"
        >ゆるい(りっけいさん基準)超超距離を時には数日を掛けて走り抜く異次元のスタミナモンスター。かと思ったらヒルクライムレースで2位入賞していたりキャンプ道具を満載してキャンプしたり、ホイールよりも重たいカメラを背負ってやはり超ロングライドを熟していたりする貴公子だ。</span>
    </div><div>
      <ul style="text-align: left;">
        <li>
          <span style="background-color: #f3f3f3;"
            >四国一周: 71時間47分/1007km</span>
        </li><li>
          <span style="background-color: #f3f3f3;"
            >8号線キャノンボール: 23時間39分/557km</span>
        </li><li>
          <span style="background-color: #f3f3f3;"
            >7号線キャノンボール: 23時間47分/515km</span>
        </li><li>
          <span
            style='background-color: #f3f3f3; color: #3e3e3e; font-family: Helvetica, "Noto Sans JP", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, sans-serif; font-size: 16.48px; letter-spacing: 0.412px;'
            >蔵王坊平ヒルクライムinやまがた: 2位(20代の部)</span>
        </li>
      </ul><div>
        <span style="background-color: #f3f3f3;"
          >書き始めると終わりがないので割愛させていただくがサラッと紹介できる人じゃない(なぜなら妖怪だからだ)</span>
      </div>
    </div><div><span style="background-color: #f3f3f3;"><br /></span></div><div>
      <span style="background-color: #f3f3f3;"
        >緻密に計算された角度から撮影される写真はプロフェッショナルそのもの。</span>
    </div><div>
      <span style="background-color: #f3f3f3;"
        >風景からエモーショナルを切り取る達人なのだ</span>
    </div><div><span style="background-color: #f3f3f3;"><br /></span></div><div>
      <span style="background-color: #f3f3f3;"><br /></span>
    </div><h3 style="text-align: left;">
      <span style="background-color: #f3f3f3;">D線上の魔王</span>
    </h3><div>
      <span style="background-color: #f3f3f3;"
        >最後にご紹介したいのが<a href="https://twitter.com/r0adbike_sk"
          >S.Kさん</a
        >だ。</span>
    </div><div>
      <table
        align="center"
        cellpadding="0"
        cellspacing="0"
        class="tr-caption-container"
        style="margin-left: auto; margin-right: auto;"
      >
        <tbody
          ><tr
            ><td style="text-align: center;"
              ><a
                href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhDDhI9pA_i6x3fo09EX3vUJVfGd0R8T0augq9gM3Hv9GAFXQ6hWj-9gx788OBMsJmuU7LnlC65-BLErkUkvyN-Z0HN238aYnVDoBhP9BjwkJ1UikoKIvDHJkV1D7zPNtPhZbUGzZY5BGc/"
                style="background-color: #f3f3f3; margin-left: 1em; margin-right: 1em;"
                ><img
                  alt=""
                  data-original-height="1366"
                  data-original-width="2048"
                  height="213"
                  src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhDDhI9pA_i6x3fo09EX3vUJVfGd0R8T0augq9gM3Hv9GAFXQ6hWj-9gx788OBMsJmuU7LnlC65-BLErkUkvyN-Z0HN238aYnVDoBhP9BjwkJ1UikoKIvDHJkV1D7zPNtPhZbUGzZY5BGc/"
                  width="320"
                /></a
              ></td
            ></tr
          ><tr
            ><td class="tr-caption" style="text-align: center;"
              ><span style="background-color: #f3f3f3;"
                >1週間前にクリテリウムで優勝してきたらしい🤔</span
              ></td
            ></tr
          ></tbody>
      </table><span style="background-color: #f3f3f3;"><br /></span>
    </div><div>
      <span style="background-color: #f3f3f3;"
        >実はこの日よりずっと前からTwitter上にやばいライドを繰り返し熟しているヤバい人がいるなということは認識していた。詳しくは語れないがさとるくんのイニシャルがSKなので実は誘われるまでさとるくんのサブアカだと思っていたがどうやら別人らしい...。</span>
    </div><div>
      <span style="background-color: #f3f3f3;"
        >2人をよく知るりっけいさんをして甲乙つけがたい存在とのことだが一般人枠の僕としてはさとるくんクラスのヤバい妖怪がまだ存在しているという事実に驚きを隠せない。</span>
    </div><div>
      <span style="background-color: #f3f3f3;"
        >ここには一般人でも理解できる穏やかな異常さだけを記しておきたい。</span>
    </div><div>
      <ul style="text-align: left;">
        <li>
          <span style="background-color: #f3f3f3;">Bombtrackアンバサダー</span>
        </li><li>
          <span style="background-color: #f3f3f3;"
            >Apiduraサポートライダー</span>
        </li><li>
          <span style="background-color: #f3f3f3;"
            >ロングライド・バイクパッキング・グラベル・登山・キャンプなど</span>
        </li><li>
          <a href="https://solitary-boy.com/" style="background-color: #f3f3f3;"
            >ぼっちと孤高の分かれ道</a>
        </li>
      </ul>
    </div><div>
      <span style="background-color: #f3f3f3;"
        >タイムライン上に現れるツイートは純然たる一般人の僕にはダイナミックスーサイドムーブにしか見えない。息をするように死線の上でタップダンスを踊る男なのだ。(話を聞いてみると彼なりの安全マージンが存在するらしい。どうやら千里眼かなにかで真の死線を看破しているようだ)</span>
    </div><div>
      <span style="background-color: #f3f3f3;"
        >ちなみに彼は孤高の道を邁進しているようだ(ブログのドメインがsolitary-boy.com(孤高の少年)</span>
    </div><div><span style="background-color: #f3f3f3;"><br /></span></div><div>
      <span style="background-color: #f3f3f3;"><br /></span>
    </div><div>
      <span style="background-color: #f3f3f3;"
        >こんなメンバー、集めようと思って集まる存在じゃない。</span>
    </div><div>
      <span style="background-color: #f3f3f3;"
        >もし集まるとしたらどこかの運営が超ロングライドキャンプツーリング系ヒルクライムイベントを企画して3人をサポートライダーとして招待するくらいでしか集まらない。</span>
    </div><div>
      <span style="background-color: #f3f3f3;"
        >それだけ危険な妖怪が沼津に介してしまった。</span>
    </div><div>
      <span style="background-color: #f3f3f3;"
        >僕もついに辞世の句を記すときが来たらしい。</span>
    </div><div><span style="background-color: #f3f3f3;"><br /></span></div><h3
      style="text-align: left;"
    >
      <span style="background-color: #f3f3f3;">邂逅</span>
    </h3><div>
      <span style="background-color: #f3f3f3;"
        >Xデーは日曜日であった。彼らは土曜日に互いに鎬を削りあいながら伊東でキャンプツーリングを実施しその翌日に天城を超えて沼津に至るルートを想定しているそうだった。</span>
    </div><div>
      <span style="background-color: #f3f3f3;"
        >ママチャリより重たいバイクを意図もたやすく進めて天城を越えてきたらしい。</span>
    </div><div>
      <span style="background-color: #f3f3f3;"
        >本来の想定では西伊豆スカイラインを超えてくる予定だったそうだが冬の西伊豆は風が強い。妖怪たちも危険と判断して柔軟にルートを変更する。やはり3人ともソロのロングライダーとして超一流であるだけに天候などでのルート判断に迷いがない。鱗滝さんもニッコリである。</span>
    </div><div><span style="background-color: #f3f3f3;"><br /></span></div><div>
      <span style="background-color: #f3f3f3;"
        >合流場所はいけすやとなった。昼ごはんの時間である。</span>
    </div><div>
      <span style="background-color: #f3f3f3;"
        >ところがいけすやは開店と当時に満席、近くのやまやも満席。ここは沼津市民のUGが沼津のソウルフード、悟空ラーメンに妖怪一同ご案内する。</span>
    </div><div>
      少しでも弱みを見せると狩られてしまう。そして彼らの足の残り具合を把握する。場合によってはここで削っておく必要がある！！
    </div><div><br /></div><div>
      生憎と超強力な追い風のおかげでそこまで苦労すること無く一瞬で御用邸まで戻ってきてしまった。
    </div><div>
      そして妖怪の脚は人類には測定不能ということも判明。ここからはなんとかして生き残る方向にシフトする。
    </div><div><br /></div><h3 style="text-align: left;">
      内浦の絶景スポット巡り
    </h3><div><span style="background-color: #f3f3f3;"><br /></span></div><div>
      <span style="background-color: #f3f3f3;"><br /></span>
    </div><div><br /></div>
  </article>
</Layout>
