---
import Layout from "../../../../../layouts/ArticleLayout.astro";
const title = "GreatDistance Stage.21 レポート";
const description = "";
const thumbnail = "";
const labels = [];
---

<Layout title={title} labels={labels}>
  <article>
    <iframe
      allowtransparency="true"
      frameborder="0"
      height="405"
      scrolling="no"
      src="https://www.strava.com/activities/2743113596/embed/4f655ad644d81055805176eef11032ca63c12848"
      width="590"></iframe>

    <br />
    <br />
    <h3>今日のコース</h3>
    白浜 ~ 大阪に戻る175kmのコース<br />
    トラブル無く走りきれば無事に3000km以上走ることになるのでなんとしても完走したいコース<br
    />
    そう、この一ヶ月の締めだったのだ<br />
    <br />
    どういうわけか突然復活した心拍系センサーくん...?<br />
    <br />
    <h3>天気は雨スタート？</h3>
    6時に目覚めた時点では結構な降雨だったので今日こそ雨の中のスタートかな？嫌だなぁと思いながら起床。<br
    />
    ところが朝ごはんを食べてる途中に雨が上がる🤔<br />
    <br />
    晴れ男...<br />
    <br />
    僕のことは<b>てるてる坊主</b>って呼んでくれないかな？<br />
    <b>UG a.k.a てるてる坊主</b><br />
    <br />
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEg-hsS7d9BambUSHTdZD32p-lYJwlBQ4aQAZ_hbhu2TtH2j-WtYq8Gs_jbXMYPVc2jqaAyVewIXflPz5Ti0gJ5UAbLHOiV08TV3DrTywN4ty0WOJZ-HCSvP0qK8fdcUeUqxrg4rq9NZXTA/s1600/IMG_20190927_063114.jpg"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                height="240"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEg-hsS7d9BambUSHTdZD32p-lYJwlBQ4aQAZ_hbhu2TtH2j-WtYq8Gs_jbXMYPVc2jqaAyVewIXflPz5Ti0gJ5UAbLHOiV08TV3DrTywN4ty0WOJZ-HCSvP0qK8fdcUeUqxrg4rq9NZXTA/s320/IMG_20190927_063114.jpg"
                width="320"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            >この挑戦も最後なのでこの写真も見納め</td
          ></tr
        >
      </tbody>
    </table>
    <br />
    路面はフルウェットだけど雨が振らないだけで気持ちが楽になりますよ<br />
    <br />
    ちなみに20kmほど進むと曇り -&gt; 晴れに路面もドライになる<br />
    <br />
    まあバイクは泥だらけになったんだけど(´・ω・｀)<br />
    (ラビットストリートさんで綺麗にしてもらいました🙏)<br />
    <br />
    <h3>膝の調子は</h3>
    今日は40km走るまでは痛みは出なかったのですがそこから微妙に痛み始める🤔<br />
    しかし100km過ぎたあたりから体幹ペダリングができるようになってきたので痛みから開放される。<br
    />
    いつか常時体幹ペダリングができるようになって痛みから開放されたいぜ<br />
    <br />
    <h3>Tarmac(滑走路)からはばたけたのか?</h3>
    膝が痛くなるまでの間の登坂は気持ちよく飛べましたが水越峠の時点では痛みが出ていて力が...<br
    />
    でもダンシングは気持ちいいので200wくらいで踏んでたら突然痛みが消える🤔<br />
    痛くないから踏めちゃう！<br />
    踏めちゃうので270w近辺で走る(ry<br />
    <br />
    TarmacはPWRが5w/kgを越えたら別の乗り物になるので気持ちよくはばたけました。<br
    />
    今後は330wで踏み続けられるのを目指していきたいと思います<br />
    <br />
    <h3>道中</h3>
    <div>
      膝が痛み始めてからは無理せずゆっくりをモットーにしていたのでそんなに面白いこともなく無難に走る。
    </div>
    <div>
      <br />
    </div>
    <div>
      Stage.1の逆走がStage.21なので最初に立ち寄った神社に完走間近のご報告を兼ねてお参りを。
    </div>
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEitQgB1LANn8kVUA-68GGVaQYxkdpAAbzuz2RiM-JqBbytlF3H6dxitHDc0w4HJ3nuPEnhcrWOvj9AwqCIUhA6HtAmiZM0JuXhJ4VwZ7YhRQ44or8RwMwWS7ntOosU04qaQ_4VmNv8DtD8/s1600/IMG_20190927_100203.jpg"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                height="240"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEitQgB1LANn8kVUA-68GGVaQYxkdpAAbzuz2RiM-JqBbytlF3H6dxitHDc0w4HJ3nuPEnhcrWOvj9AwqCIUhA6HtAmiZM0JuXhJ4VwZ7YhRQ44or8RwMwWS7ntOosU04qaQ_4VmNv8DtD8/s320/IMG_20190927_100203.jpg"
                width="320"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            >日に日に荷物が少なくなっていく(最初は輪行袋がついてた)</td
          ></tr
        >
      </tbody>
    </table>
    <br />
    <h3>朝食と昼食の間の食事</h3>
    <div>Sleep-Lowトレーニングのおかげで補給はこの一回。</div>
    <div>
      今回は水も買い直すこと無く手持ちの1.5LとマクドのドリンクMサイズで完走できた。
    </div>
    <br />
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr
          ><td style="text-align: center;"
            ><a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhMR9UO4P4_JtQhvhGIbsBeBuInJzlrywySQgAeLoiY3nKvPnoWeCyNW0AgqS7hf97xks2kAc4kvoxzDKGeLOAcwr5WiNNFj92BEJYYlmBR0ZhVz3dFGZCOhIqNCYi4OUaZvUPjkmxp7wc/s1600/IMG_20190927_101948.jpg"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
              ><img
                border="0"
                height="240"
                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhMR9UO4P4_JtQhvhGIbsBeBuInJzlrywySQgAeLoiY3nKvPnoWeCyNW0AgqS7hf97xks2kAc4kvoxzDKGeLOAcwr5WiNNFj92BEJYYlmBR0ZhVz3dFGZCOhIqNCYi4OUaZvUPjkmxp7wc/s320/IMG_20190927_101948.jpg"
                width="320"
              /></a
            ></td
          ></tr
        >
        <tr
          ><td class="tr-caption" style="text-align: center;"
            >おそらく帰阪でもっとも安い移動料金(530円)</td
          ></tr
        >
      </tbody>
    </table>
    <div>
      <h3>完走の感想</h3>
      別の記事で詳しくまとめるつもりですがひとまず完走した感想
    </div>
    <h3>
      <div style="font-size: medium; font-weight: 400;">
        まず実業団選手が走るような距離を自分が走れたことが嬉しい。
      </div>
      <div style="font-size: medium; font-weight: 400;">
        なにせ昨年の年間走行距離が4400kmなので一ヶ月で9ヶ月ぶんの距離を走ったわけで、まったく穏やかじゃないことをやったんやなって思う
      </div>
      <div style="font-size: medium; font-weight: 400;">
        <br />
      </div>
      <div style="font-size: medium; font-weight: 400;">
        明日から自転車やらないじゃなくて明日もまた走るんだけど一個の区切りとして大きなミッションを達成できた
      </div>
      <div style="font-size: medium; font-weight: 400;">感慨深い</div>
      <div style="font-size: medium; font-weight: 400;">
        <a
          href="https://blog.great-distance.com/2019/09/greatdistancechallange.html"
          >GreatDistanceChallangeの振り返り</a
        >にいろいろ書いたので良かったらそちらも！
      </div>
    </h3>
  </article>
</Layout>
