---
import Layout from "../../../../../layouts/ArticleLayout.astro";
const title = "毎月2000km走るおじさんの話 #準備とかいろいろ編"
const description = ""
const thumbnail = ""
const labels = []
---
<Layout title={title} labels={labels}>
<article>
<h3>
パワー系ロングライダーの挑戦</h3>
実は2019年の12月から2020年2月まで毎月2000km走るトレーニングをやってみようと思って挑戦してた。<br />
<br />
なかなかにチャレンジングなことなのでブログ書こうかな？って思いながら日々を過ごしていたら早いもので2月も終わり3月になってしまった。<br />
<br />
結論を言うと毎月2000km走れたので3ヶ月で6000km走破したことに。<br />
たった2ヶ月で2020年の走行距離が2月29日で4000kmを越えてたりする。<br />
<br />
パワー型ロングライダー秘伝の思い出にしても良かったけど僕自身、この挑戦する前に結構他の人のブログとか読んで情報集めたりしたので未来の同好の士が情報を集めるとき少しでも何かを提供できるように振り返ったり準備したときのことを書いていきます。<br />
<br />
3ヶ月、6000km分もあるのでいくつかに分割して書こうと思います。<br />
<br />
とりあえずここは挑戦目的とか期間中にやってたこととか書いておこうと思います。<br />
<br />
<table align="center" cellpadding="0" cellspacing="0" class="tr-caption-container" style="margin-left: auto; margin-right: auto; text-align: center;"><tbody>
<tr><td style="text-align: center;"><a href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEih9qz_Dd75PR0xArlikIlixqvNa69YwXQA6SwcMNC4aW5bQC-7jlx5-MC_mqysn8oRHxDibkM9_nMvyPqRKUc-2a8h6BmMdZMEKo8BUEp51x_RSnFyIQkldsMOovM429Q7vEL1onag52Y/s1600/IMG_20191228_191941.jpg" imageanchor="1" style="margin-left: auto; margin-right: auto;"><img border="0" height="320" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEih9qz_Dd75PR0xArlikIlixqvNa69YwXQA6SwcMNC4aW5bQC-7jlx5-MC_mqysn8oRHxDibkM9_nMvyPqRKUc-2a8h6BmMdZMEKo8BUEp51x_RSnFyIQkldsMOovM429Q7vEL1onag52Y/s320/IMG_20191228_191941.jpg" width="240" /></a></td></tr>
<tr><td class="tr-caption" style="text-align: center;">豚しゃぶカレーには糖質、タンパク質、脂質がすべて含まれてます。<br />
酷使された身体に非常に効きます(多分)<br />
覚えておきましょう</td></tr>
</tbody></table>
<br />
<h3>
どうしてそんな無謀なことを...？</h3>
当時は開催されると信じて疑わなかった<b>白浜クリテリウム。</b><br />
<br />
僕はなんとしてもこのレースで優勝したい。<br />
<br />
そのために自分にできる最良のトレーニングとは🤔🤔？<br />
考えた結果(実際はほとんど悩まなかったが)2019年9月にやってた <a href="https://blog.great-distance.com/2019/08/days-ago.html">21日で3000km走るあれ</a>。<br />
この成功体験にあやかって僕は距離を走れば速くなれるんだからそれしかない！と思って挑戦したわけですね。<br />
<br />
全ては白浜クリテリウムで優勝するために<br />
勝つためならなんでもできる！<br />
<br />
<br />
<h3>
しっかり食べよう1日6食！</h3>
<div>
私の身長は167cmで体重はだいたい55kg±1kgです。</div>
<div>
だいたいですが100km走ると2000kcalくらい必要みたいです。</div>
<div>
<br /></div>
<div>
ここで問題です。</div>
<div>
月2000km走るためには毎週どのくらい走る必要があるでしょうか？</div>
<div>
<br /></div>
<div>
<b>一ヶ月を4週間とすると 2000km/4week = 500km/週</b></div>
<div>
<br /></div>
<div>
ということは自転車に乗るだけで週<b>10,000kcal</b>必要に！</div>
<div>
(これに基礎代謝分が乗っかる)</div>
<div>
<br /></div>
<div>
普通の<b>3食しっかり食べる</b>生活では明らかにカロリー収支がマイナス！</div>
<div>
事実上の断食状態になっちゃうw</div>
<div>
<br /></div>
<div>
どう考えてもこれで身体が維持できるはずがない！</div>
<div>
<br /></div>
<div>
しかしトレーニングをやめるという選択肢は無い🤔</div>
<div>
人の2倍カロリーが必要なら2倍食べればいいだけの話！</div>
<div>
やってやるよ！</div>
<div>
<br /></div>
<div>
ということでチャレンジ中の僕の食事は</div>
<div>
<ol>
<li>朝食</li>
<li>11時のおやつ(バナナ)</li>
<li>昼食(2食分)</li>
<li>15時のおやつ(りんご)</li>
<li>晩ごはん(2食分)</li>
</ol>
<div>
という生活だった。</div>
</div>
<table align="center" cellpadding="0" cellspacing="0" class="tr-caption-container" style="margin-left: auto; margin-right: auto; text-align: center;"><tbody>
<tr><td style="text-align: center;"><a href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEibJiPRjd3rC25B8iP6FP6kbl59I37mby2iunLOq1w7i_tBNd0ha7A2QfpH5W1eMotvmctXPoApdgeSl8t9lWxp0lDKoTJIJb_64J8YI_sT4YK3Z8E69OpJXoHcdl9nmENGBXLk2L5o4x4/s1600/IMG_20200213_125519.jpg" imageanchor="1" style="margin-left: auto; margin-right: auto;"><img border="0" height="240" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEibJiPRjd3rC25B8iP6FP6kbl59I37mby2iunLOq1w7i_tBNd0ha7A2QfpH5W1eMotvmctXPoApdgeSl8t9lWxp0lDKoTJIJb_64J8YI_sT4YK3Z8E69OpJXoHcdl9nmENGBXLk2L5o4x4/s320/IMG_20200213_125519.jpg" width="320" /></a></td></tr>
<tr><td class="tr-caption" style="text-align: center;">いつも行くお店で店員さんに事情を話すとご好意で山盛りのライスを用意してもらえた<br />
これだけだとお腹が空くのでこの後うどんやカレーを食べる<br />
(店員さんの間ではフジヤマ🗻と言われていた)</td></tr>
</tbody></table>
<div>
バク上がりするエンゲル係数が家計に火を放つかもしれないとヒヤヒヤしてたんですが自転車に乗れるとそれだけで満たされるためこの3ヶ月の雑費はほとんど無く逆に節約できるという不思議な状態になったのでした。</div>
<div>
<br /></div>
<div>
<br /></div>
<h3>
何本いるのタイヤ！?</h3>
<div>
僕が好きなタイヤはSpecialized製のチューブレスタイヤ。その名も<b><a href="https://www.specialized.com/jp/ja/stories/tires-turbo-rapidair">RapidAir</a></b></div>
<div>
軽く、速く、乗り心地は抜群に良い上に釘踏んでも問題なく走れるだけの安定感がある超万能タイヤ。</div>
<div>
<br /></div>
<div>
最高なんですが流石に完全なレース用タイヤ。毎日毎日アホほど走るという用途にはいかんせん向いておらず、結構早めにだめになる。特に後輪が。</div>
<div>
<br /></div>
<div>
一本の価格もシーラント込で10000円くらいで収まるものだとしても1ヶ月に1本以上だめになってしまう。</div>
<div>
食費に次いで出費のかさんだものがこれ。</div>
<div>
<br /></div>
<div>
結局3ヶ月で4本買った。</div>
<div>
<br /></div>
<div>
最後の方はPanaracer(前後合わせて10000円)のものになった。</div>
<div>
<br /></div>
<div>
<br /></div>
<h3>
見るのやめようぜ。見てるだけで辛いから</h3>
<div>
トレーニングによる疲労が蓄積すると安静時心拍が増加するんですね。</div>
<div>
普通のトレーニーは安静時心拍でトレーニングの内容を変えたり休んだりすると思うんですが2000km走るためにはどれだけ疲労が溜まっていようがお構いなしなんです。</div>
<div>
<br /></div>
<div>
だって走らないと達成できないから</div>
<div>
<br /></div>
<div>
身体が危険な領域に突入していると自覚すると精神的な辛さが高まる。</div>
<div>
だったら見なければいいだろ！</div>
<div>
<br /></div>
<div>
ということでいつ頃からか安静時心拍をほとんど見なくなったw</div>
<div>
<br /></div>
<div>
<br /></div>
<h3>
お股、壊れる</h3>
<div>
長いあいだサドルの上でペダリングを続けるとどうしても壊れる箇所がある。</div>
<div>
<br /></div>
<div>
それがお股だ。どうして股擦れする。</div>
<div>
<br /></div>
<div>
股擦れに関しては起こるものだと諦めて起きたとき重症にしないように早期発見と治療に努めるのが最善だった。</div>
<div>
<br /></div>
<div>
予防めいた措置としてトレーニング後は速やかにビブショーツを洗濯し、場合によってはハイターで消毒するなどの対応が良かったのかもしれない。</div>
<div>
<div>
<br /></div>
<div>
3ヶ月の間で合計3回、お股にキズパワーパッドを装着したが重症になることはなくチャレンジ後半CTLが上がるに伴いお股も無敵状態に突入したため今では平穏が保たれている。</div>
<div>
<br /></div>
<h3>
膝の話</h3>
</div>
<div>
膝は有限です。ですが2000km走るためには膝が痛くても走るしか無いんです。</div>
<div>
<br /></div>
<div>
あまり褒められたことではないですが何度も膝痛を経験するとこれは駄目なタイプの膝痛かあるいはほっとけば治るタイプの膝痛かが判別できるようになります。</div>
<div>
<br /></div>
<div>
幸運なことに3ヶ月間一度も危険なタイプの膝痛にあたったことは無かったのですが安静にしてれば治るタイプの膝痛に一度遭遇してしまいました。</div>
<div>
<br /></div>
<div>
普通なら2日ほど安静にするのですが2日も休む暇はどこにもないため明日には良くなっていることを祈りながら痛みと戦って走る日々が10日続いたことはあります。</div>
<div>
<br /></div>
<div>
まあ細かいことは考えず走りながら治すんですけどね。</div>
<div>
<br /></div>
<div>
<br /></div>
<div>
<br /></div>
とりあえず準備編はここまでにして<br />
<br />
<a href="https://blog.great-distance.com/2020/03/2000km-12.html">実走12月編へ続く！</a><br />
<div id="gtx-trans" style="left: 91px; position: absolute; top: 4104.34px;">
<div class="gtx-trans-icon">
</div>
</div>
</article>
</Layout>
