---
import Layout from "../../../../../layouts/ArticleLayout.astro";
const title = "GreatDistance Stage.3 レポート";
const description = "";
const thumbnail = "";
const labels = [];
---

<Layout title={title} labels={labels}>
  <article>
    <iframe
      allowtransparency="true"
      frameborder="0"
      height="405"
      scrolling="no"
      src="https://www.strava.com/activities/2675141185/embed/43961c6f424a5ce5559708dfd293ae1981101a48"
      width="590"
    >
    </iframe>
    <br />
    <br />
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr>
          <td style="text-align: center;">
            <a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEg377SgW8jay3sMGkuIlsBtVzc59EBLhzqdqwE38LU0noOCF9gh6kp3HALUplAUoYEKnztSaa-s1UlznZIOghdmWR3jq3ozRLOg2tyeMt-RtuGHgeYJskIMVHf91tEC5NjSR07ZT01Qe6w/s1600/PANO_20190903_111327.vr.jpg"
              style="margin-left: auto; margin-right: auto;"
            >
              <img
                border="0"
                height="151"
                src="/public/images/2019/09/03/GreatDistance_Stage.3_レポート/0.jpg"
                width="320"
              />
            </a>
          </td>
        </tr>
        <tr>
          <td class="tr-caption" style="text-align: center;"> 橋杭岩</td>
        </tr>
      </tbody>
    </table>
    <br />
    <h4>今日のコース</h4>
    <div>紀南を時計回りに一周するコース</div>
    <div>
      白浜 ~
      本宮までの50kmで500mくらい登るけどそれ以外は海岸沿いが小刻みなアップダウンなコース
    </div>
    <div>
      <br />
    </div>
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr>
          <td style="text-align: center;">
            <a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgLmt9S3EBQvZCya2NdKb2mTZ7byj5wiV7HiStLxbbubO76ORpNn_Mt4mBZDYtBKxZd7CSz5MQHOyPWyqBiOU7K1CLBmQCtuVzdzQpwFfDF9E6hANVi9canP1HZYTKJr2kmS3jZhUNVTl4/s1600/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-09-03+18.35.23.png"
              style="margin-left: auto; margin-right: auto;"
            >
              <img
                border="0"
                height="48"
                src="/public/images/2019/09/03/GreatDistance_Stage.3_レポート/1.jpg"
                width="320"
              />
            </a>
          </td>
        </tr>
        <tr>
          <td class="tr-caption" style="text-align: center;">
            最初がしんどい？後半のほうがしんどい</td
          >
        </tr>
      </tbody>
    </table>
    <br />
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr>
          <td style="text-align: center;">
            <a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEg6yVrXEZB06yFcwVsb9ZRgVuTWoIO4XKKZkBT9ElhNcMGYWl-CVWiod_5mh3y5_lZmSx6DMOHWzm9aRh7QlAAr3RQRi_JKn5PJ_8jCpRt03QAdIor6lp44qNECfq8SgRAXNuhUtxwaFzI/s1600/Screenshot_20190903-144014.png"
              style="margin-left: auto; margin-right: auto;"
            >
              <img
                border="0"
                height="320"
                src="/public/images/2019/09/03/GreatDistance_Stage.3_レポート/1.png"
                width="155"
              />
            </a>
          </td>
        </tr>
        <tr>
          <td class="tr-caption" style="text-align: center;">
            <span style="font-size: small; text-align: start;">
              なにげにStravaで今月の走行距離が11番目になってる</span
            >
          </td>
        </tr>
      </tbody>
    </table>
    <div>
      <div>
        <h4>
          <br />
          低心拍に慣れてきた
        </h4>
      </div>
      <div>L2程度の心拍で30km前後の速度を維持できるようになってきた</div>
      <div>
        この心拍だと出力も限られるけどエアロフォームにして低ケイデンスで回していけば速度は上げられる
      </div>
      <div>
        <br />
      </div>
      <div>FTPの向上とペダリングスキルの向上で更に早く走れそう</div>
      <div>
        <br />
      </div>
      <table
        align="center"
        cellpadding="0"
        cellspacing="0"
        class="tr-caption-container"
        style="margin-left: auto; margin-right: auto; text-align: center;"
      >
        <tbody>
          <tr>
            <td style="text-align: center;">
              <a
                href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEilLRDgn1at3w51HhnsOccEz0e9cRrXqbUjc-JXl2ONoQBOGSoDfcyVIVSlHjpSNxG_CrcD0XBnA7dq5dTsqxfZwjQWL83JrKJpmYpelmUErizxs68X0RrGEw_5t0BgWjrQQATLKPHjZ1M/s1600/00000IMG_00000_BURST20190903060117393_COVER.jpg"
                style="margin-left: auto; margin-right: auto;"
              >
                <img
                  border="0"
                  height="320"
                  src="/public/images/2019/09/03/GreatDistance_Stage.3_レポート/2.png"
                  width="240"
                />
              </a>
            </td>
          </tr>
          <tr>
            <td class="tr-caption" style="text-align: center;">
              別に下りでも追い風でも無いがロングライドに適した心拍</td
            >
          </tr>
        </tbody>
      </table>
      <div>
        <br />
      </div>
      <h4>Sleep-low調子良さそう🤔</h4>
      <div>
        今日も朝食は抜いてプロテイン30gとブラックコーヒー一杯で走り始める
      </div>
      <div>
        <br />
      </div>
      <div>
        このトレーニングは自分にあってるんでしょうね、最初に山岳があるのでお守りとしておにぎり二個コンビニで買ってから登ったけど結局50km走るまでお腹は空かなかったですね。
      </div>
      <div>
        <br />
      </div>
      <div>
        3日目のライドでの摂取カロリーは全体で1000kcalで200km走った中では最も低カロリーで完走している。
      </div>
      <div>CA600で見る感じこのライドで4000kcal消費してる</div>
      <div>
        <br />
      </div>
      <div>
        <b> 3800 - 1000(摂取) + 2000(グリコーゲン) = 1000kcal(脂質)</b>
      </div>
      <div>
        <br />
      </div>
      <div>1000kcalは脂質を使えたってことなので結構良さそう</div>
      <div>
        <br />
      </div>
      <div>このまま身体の燃費をどんどん改善していきたい</div>
      <div>
        <br />
      </div>
      <div>
        <br />
      </div>
      <h4>本宮大社でご参拝</h4>
      <div>
        <br />
      </div>
      <div>
        このチャレンジが成功するように参拝してきた<br />
        <br />
      </div>
      <div>
        <table
          align="center"
          cellpadding="0"
          cellspacing="0"
          class="tr-caption-container"
          style="margin-left: auto; margin-right: auto; text-align: center;"
        >
          <tbody>
            <tr>
              <td style="text-align: center;">
                <a
                  href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhE9w40TOWitUUZesjt5wNiDOQFAASR1drA7uWcLogElKRaDxus93cxN9DVihNkEieOKBQ8gYGiQMFeay_QJHKjBv0iI6i-JwN0WTsg9sTFJiTqqrHjYD3zC2SGiNTu4KL0S_jiRcPezLA/s1600/EFFECTS.jpg"
                  style="margin-left: auto; margin-right: auto;"
                >
                  <img
                    border="0"
                    height="320"
                    src="/public/images/2019/09/03/GreatDistance_Stage.3_レポート/3.jpg"
                    width="240"
                  />
                </a>
              </td>
            </tr>
            <tr>
              <td class="tr-caption" style="text-align: center;">
                到着が早くほぼ人がいない</td
              >
            </tr>
          </tbody>
        </table>
        <table
          align="center"
          cellpadding="0"
          cellspacing="0"
          class="tr-caption-container"
          style="margin-left: auto; margin-right: auto; text-align: center;"
        >
          <tbody>
            <tr>
              <td style="text-align: center;">
                <a
                  href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgJIoT1_OMMyyn9P21VUn1vIa1HK5IYzzNK78HpiSaY_76-2Nl0BN-MjvU7mX_aadPNzUxcgAAeuzGHRLyjdwkbqbtVqK0biSn0ZsNjZ_WJLV12MI54f2l-k_BOOSdztBzTlugts4HMf80/s1600/IMG_20190903_080004.jpg"
                  style="margin-left: auto; margin-right: auto;"
                >
                  <img
                    border="0"
                    height="240"
                    src="/public/images/2019/09/03/GreatDistance_Stage.3_レポート/3.png"
                    width="320"
                  />
                </a>
              </td>
            </tr>
            <tr>
              <td class="tr-caption" style="text-align: center;">
                国内最大の鳥居</td
              >
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <br />
      </div>
      <div>達成できたら来年の白浜クリテは優勝ですね</div>
      <div>
        <br />
      </div>
      <h4>きれいなペダリング</h4>
      <div>
        右脚の親指に力を入れたら上死点からトルクを掛けられる事に気づいた
      </div>
      <div>
        <br />
      </div>
      <div>
        いつも右のペダリングは2時くらいからトルクが掛かり始めて下死点でも踏み入ってもったいないことしてるなぁと思っていたからこれは大きな変化
      </div>
      <div>
        <br />
      </div>
      <div>ロングライドでペダリングが洗練されるのは本当だったのか...</div>
      <table
        align="center"
        cellpadding="0"
        cellspacing="0"
        class="tr-caption-container"
        style="margin-left: auto; margin-right: auto; text-align: center;"
      >
        <tbody>
          <tr>
            <td style="text-align: center;">
              <a
                href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiCxL3-aUCR2T_nGgVwVZVMWSawrs6F9C8787DUqaSiv3VSJCpiSG38x6UR14ktwN3SYb0qKxQcX-k9H7HJ_IOM8Xn0g1uYIzXXebby_pwoQkDgjNLd-RSC3DvlLJipveCk7fzHsMh0ZIE/s1600/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-09-03+21.47.45.png"
                style="margin-left: auto; margin-right: auto;"
              >
                <img
                  border="0"
                  src="/public/images/2019/09/03/GreatDistance_Stage.3_レポート/4.jpg"
                />
              </a>
            </td>
          </tr>
          <tr>
            <td class="tr-caption" style="text-align: center;">
              プロのペダリングに近づきたい</td
            >
          </tr>
        </tbody>
      </table>
      <div>
        <br />
      </div>
      <div>
        上死点からトルクが掛かっているので下死点では上手く力が抜けてもう一度踏むときも上死点から踏める良い流れになってきた
      </div>
      <div>
        ハムストリングが鍛えられたら両足とも理想のペダリングに近づきそう
      </div>
      <div>
        <br />
      </div>
      <table
        align="center"
        cellpadding="0"
        cellspacing="0"
        class="tr-caption-container"
        style="margin-left: auto; margin-right: auto; text-align: center;"
      >
        <tbody>
          <tr>
            <td style="text-align: center;">
              <a
                href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEh7AUMndYAAySdp7VNPw9xAI8xdirWctk7krQGBf_0QovIVWpIU9KgcuyIn6CWkFiwUnOpAGFZbKFxONGn9UZNIYpCc6z8nXEMIr0u3I1GVMouytjVRd-7T0N0cme21rkHy3ZdHMsc8jfk/s1600/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-09-03+21.42.23.png"
                style="margin-left: auto; margin-right: auto;"
              >
                <img
                  border="0"
                  src="/public/images/2019/09/03/GreatDistance_Stage.3_レポート/5.jpg"
                />
              </a>
            </td>
          </tr>
          <tr>
            <td class="tr-caption" style="text-align: center;">
              いつもより効率が高いペダリングができていた</td
            >
          </tr>
        </tbody>
      </table>
      <div>
        もしかしてこれ、参拝効果ですか🤔🤔<br />
        <br />
        <br />
        <h4>ハンドルをもっと遠くへ移動したい欲</h4>
        <div>背筋で身体を支えられるので手の痛みから開放された</div>
        <div>
          <br />
        </div>
        <div>グローブのパッドの偏りが気にならないレベルで抜重できてる</div>
        <div>昨日の今日で何があったのか？</div>
        <div>
          <br />
        </div>
        <div>
          背筋で身体を支えて200km走れたのならもうちょっとハンドルを遠くへやってもいいのではないか？と考える
        </div>
        <div>そのほうがエアロ効果高そうだし</div>
        <div>
          <br />
        </div>
        <table
          align="center"
          cellpadding="0"
          cellspacing="0"
          class="tr-caption-container"
          style="margin-left: auto; margin-right: auto; text-align: center;"
        >
          <tbody>
            <tr>
              <td style="text-align: center;">
                <a
                  href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEg5ikuMKFWT2Sp-d6TxP8oraCxacMTBmJPYxk4JFceKpBqzk6_327ZPsoc4cuNzNxbA1J6eq3D9_CHfCZYPVn_egZsxMuqgzGwnAm1gMRxScMi4v6vNmBr0rfg8xoO6L85VTtZG6sG0NYk/s1600/IMG_20190903_100008.jpg"
                  style="margin-left: auto; margin-right: auto;"
                >
                  <img
                    border="0"
                    height="320"
                    src="/public/images/2019/09/03/GreatDistance_Stage.3_レポート/6.jpg"
                    width="240"
                  />
                </a>
              </td>
            </tr>
            <tr>
              <td class="tr-caption" style="text-align: center;">
                スペーサー5mm抜いちゃう？</td
              >
            </tr>
          </tbody>
        </table>
        <h4>
          <br />
          トンネル内逆走プリウス
        </h4>
        <table
          align="center"
          cellpadding="0"
          cellspacing="0"
          class="tr-caption-container"
          style="margin-left: auto; margin-right: auto; text-align: center;"
        >
          <tbody>
            <tr>
              <td style="text-align: center;">
                <a
                  href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEioJCB55OXwbW5a7GTDVLrmAOll3IFh7K8cxVf12_Tzc8tOg5bZMeXjdMpI3JWp0VX8P8lBXZWU27KdxABzTf_pB5AXwp2jGFIkLytAQDvpsE-kiuXHnHS-_7UVWru2HtUjHsUCaroXSRM/s1600/MVIMG_20190903_063720.jpg"
                  style="margin-left: auto; margin-right: auto;"
                >
                  <img
                    border="0"
                    height="240"
                    src="/public/images/2019/09/03/GreatDistance_Stage.3_レポート/6.png"
                    width="320"
                  />
                </a>
              </td>
            </tr>
            <tr>
              <td class="tr-caption" style="font-size: 12.8px;">
                <br />
                このトンネル長い(´・ω・｀)</td
              >
            </tr>
          </tbody>
        </table>
        <div>
          <br />
          このトンネルの中で逆走プリウスが走ってきたので急停車して歩道へ脱出するファインプレーをした
        </div>
        <div>
          <br />
        </div>
        <div>
          やっぱりプリウス乗ってる人、運転上手いって誤認してるか頭おかしい人が多い印象
        </div>
        <div>
          <br />
        </div>
        <div>
          とりあえず無事で何より<br />
          <br />
          <br />
        </div>
        <h4>明日のコース</h4>
        今日走ったコースを逆向きに走る<br />
        <br />
        先週走ったときは披露でヘロヘロになったけど明日は大丈夫なのか<br />
        <br />
        とりあえず今日は距離とTSSの割に疲労感が少ないので早く寝て明日に備えたい
      </div>
      <div>
        <br />
      </div>
      <div>
        <br />
      </div>
      <div>
        <a
          href="https://blog.great-distance.com/2019/09/greatdistance-stage4.html"
        >
          4日目のレポートはこちら！</a
        >
      </div>
    </div>
  </article>
</Layout>
