---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="mt-5 grid grid-cols-1 md:grid-cols-2">
      <article></article>
    </div>
  </main>
</Layout>
