---
import Layout from "../../../../../layouts/ArticleLayout.astro";
const title = "沼津移住計画 #仕事編"
const description = ""
const thumbnail = ""
const labels = []
---
<Layout title={title} labels={labels}>
<article>
<p><a href="https://blog.great-distance.com/2020/08/blog-post.html">沼津移住計画</a>の進捗について話そう。</p><p>前回書いた沼津移住計画について移住には解決しないといけない２つの要因がある。</p><p></p><ol style="text-align: left;"><li>お仕事</li><li>お金</li></ol><div>である。</div><div><br /></div><div>お金は無駄遣いしなければ勝手に増えていくのでそこまで切り詰める必要は無いがお仕事は行動しないと増えていかない。</div><div>だから解決の難易度としては <b>お金 &lt; お仕事</b> である。</div><div><br /></div><h4 style="text-align: left;">実は珍しい今の労働環境</h4><div>弊社は創立数年のベンチャー企業で、CTOの方針でよほどトリッキーな(アセンブラで書くみたいな)ことをしなければ使用する言語は作業者が好きに選択できる方針である。</div><div><br /></div><div>人によるのかもしれないが私はこの方針をとても気に入っている。</div><div>というのも<a href="https://elixir-lang.org/">Elixir</a>を好きに</div><div><br /></div><p></p>
</article>
</Layout>
