---
import Layout from "../../../../../layouts/ArticleLayout.astro";
const title = "狩野川河川沿いの不整地を調査した話";
const labels = ["ランニング", "トレラン", "グラベル", "狩野川", "沼津"];
const keyword = "";
const description = "白い道。伊豆のストラーデビアンケ。不整地調査始まります！";
const thumbnail = "/images/thumbnails/1.webp";
---

<Layout title={title} labels={labels}>
  <article>
    <h2>やる気喪失の2ヶ月</h2>

    <p>これは7月と8月の一番暑い時期に走ったことが原因なのだと思う。</p>
    <p>
      元々体力も落ち込んでしまっていたし、体重も無理に落としてしまっていたりして全体的に弱っていたところに無理やりトレーニングをしたからだろうな。
      高強度でボリュームも大量に。
    </p>
    <p>
      そんなこんなで8月も後半になれば心拍も上がらないし出力も上がらない状態になってしまってその時に完全にやる気が失せた。
    </p>
    <p>
      報われないまま毎日何時間も自転車に時間を割くのならば、プログラムでも書いてお金を稼いでる方が合理的じゃないか？って。そんな考えが頭を過ったりもした
    </p>
    <p>
      そんなわけでせっかくエントリーした熊野古道ヒルクライムは参加はすれどただ走るだけ。
      熊野古道のグラベルみたいな道を24km登ったり下ったりするファンライドとして楽しもうと思うことに。勿体ないことだけどしょうがない。
    </p>
    <p>
      そういうふうに割り切ったらちょっと気が楽になった。少しずつだけど来年のサイクリング計画を引けるようになってきたので未来に希望が持てているようだ。
    </p>
  </article>

  <article class="mt-5">
    <h2>来年の計画</h2>

    <p>
      ここ数年は富士ヒルクライムにターゲットを絞ってそのためにトレーニングしてきたんだけど、そんな慣例を来年はやめてみようと思う。
    </p>
    <p>
      もしかしたら富士ヒルクライムには出るかもしれないけど、そのためにトレーニングをするのはやめようと思う。
    </p>
    <p>
      それよりも来年はブルベとロングライドとスプリントに時間を使えれば嬉しい。ブルベとロングライドには別にトレーニングは必要ないし、
    </p>
    <p>
      スプリントはトレーニング必要ではあるけど、ヒルクライムのトレーニングのようにやっても伸びないとか伸びづらいということはないと思う。
    </p>
    <p>
      それと自転車に疲れた秋口からグラベルレースの動画を見漁っている。とても面白そうなんだけど。。。
    </p>
    <p>
      もちろんレースとなるとやる気は出ない。気負ってしまってはいけない。ただ楽しむだけ。
    </p>
    <p>
      もし自分の身近なところでグラベル遊びができるとしたら何があるやろか？どこに行ったらいいやろか？
    </p>
    <p>
      たまたまサイクリングの帰りに狩野川サイクリングロードを走っていたら河川沿いに砂利道があるのを見つけた。
    </p>
    <p>もしかしてこれなんじゃないか？</p>
  </article>

  <article class="mt-5">
    <h2>未知なる砂利道</h2>

    その道に気づいた時、心が飛び跳ねた。
    ロードバイクに乗って9年、道とはアスファルトのことだと思っていた。砂利を通り抜けることもあるけれど、それを道だと認識していなかった。
    砂利道を認識できた時、ゲームの中で今まで行けなかったルートが開拓されて行けるようになったような気持ちになった。
    未知なる道の先に何があるか？確かめてみたくなった。
    とはいえ自分の愛車はTarmac。名前の通り舗装された道を最速で走るためのロードバイクだ。砂利道は専門外。そこはいずれ調達しようと思う。
    今回は二つの足で走ってどこまで続いているのか？を確かめてみることにした。
  </article>
</Layout>

<style>
  h2 {
    font-size: 23px;
    font-weight: 600;
    line-height: 3;
  }
  p {
    line-height: 2;
  }
  hr {
    margin-top: 10px;
    margin-bottom: 10px;
  }
</style>
