---
import Layout from "../../../../../layouts/ArticleLayout.astro";
const title = "沼津移住計画 完結編";
const description = "";
const thumbnail = "";
const labels = [];
---

<Layout title={title} labels={labels}>
  <article>
    <div style="text-align: left;"><br /></div><div style="text-align: left;">
      2020年に<a href="https://blog.great-distance.com/2020/08/blog-post.html"
        >沼津移住計画</a
      >記事を書いてから数ヶ月。
    </div><div style="text-align: left;">
      移住できたら良いなと考え始めてほぼ1年が経過した3月に晴れて沼津市民となった。
    </div><div style="text-align: left;">移住計画の完了報告書いてくよ！</div>
    <script
      async=""
      charset="utf-8"
      src="https://platform.twitter.com/widgets.js"></script>
    <blockquote class="twitter-tweet">
      <p dir="ltr" lang="ja">
        この調子で毎日リモートワークになってくれたらこっそり沼津に引っ越してもバレへんのちゃう？🤔<br
        />年末調整でバレる模様
      </p>— UG (@gr8distance) <a
        href="https://twitter.com/gr8distance/status/1249319886662152193?ref_src=twsrc%5Etfw"
        >April 12, 2020</a>
    </blockquote><p><br /></p><p></p><div
      class="separator"
      style="clear: both; text-align: center;"
    >
      <table
        align="center"
        cellpadding="0"
        cellspacing="0"
        class="tr-caption-container"
        style="margin-left: auto; margin-right: auto;"
      >
        <tbody
          ><tr
            ><td style="text-align: center;"
              ><a
                href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEitjiKjSLsG5LptpZRSz86CZPY0AWIVQ6p58WwjqUx3cg-LIcOeSy5SIW0_alFKlRHmX7Up7YU4giOFMzDGnT5aDqW7tqqgU-VWmH4MF6qaC1UYPOTyobqdSgHLV25EAENoASxpUegJcOA/"
                style="margin-left: auto; margin-right: auto;"
                ><img
                  alt=""
                  data-original-height="1024"
                  data-original-width="1024"
                  height="240"
                  src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEitjiKjSLsG5LptpZRSz86CZPY0AWIVQ6p58WwjqUx3cg-LIcOeSy5SIW0_alFKlRHmX7Up7YU4giOFMzDGnT5aDqW7tqqgU-VWmH4MF6qaC1UYPOTyobqdSgHLV25EAENoASxpUegJcOA/"
                  width="240"
                /></a
              ></td
            ></tr
          ><tr
            ><td class="tr-caption" style="text-align: center;"
              >2年の歳月を超えて開封された秘蔵コレクション</td
            ></tr
          ></tbody>
      </table>
    </div><p></p><h3 style="text-align: left;">仕事とお金どうすんのん？</h3><div
    >
      移住計画編で書いた懸念事項は2つ。<b>仕事</b>と<b>お金</b>。
    </div><div>
      と思っていたが実は両方ともかなり順調に解決できた。特に一番悩むだろう仕事に関しては移住計画書いた月には大方片付いていた...🤔
    </div><div><br /></div><div>
      というのも移住計画を書いて割とすぐに社長と1on1の面談をする機会があったのでこれ幸いと面談のどこかでフルリモート認めてください！とお願いするつもりだった。
    </div><div>
      緊張して臨んだ1on1だったが意外にも社長からの最初の言葉が「沼津に移住するんやって？」だった。
    </div><div>
      経路は不明だが僕が沼津に移住しようとしていることがすでに耳に入っていたようだった...🤔
    </div><div>
      どこから耳に入ったのか？多少の不気味さはあれども移住計画を進めるのに情報の入手経路など些末なこと。後悔は交渉が決裂してからすれば良い。
    </div><div><br /></div><div>
      <b>なぜ自分に沼津が必要かパッショネイトにお話した💪</b>
    </div><div><b><br /></b></div><div>
      1on1は予定の時間を大幅にオーバーした。
    </div><div><br /></div><div>...</div><div>
      1ヶ月くらいしてからフルリモートの認可が降りた。
    </div><div><br /></div><div>
      一番の障壁になる見積もりだったので認可された時は社長、小原家に脅されたんちゃうやろか？と思ったほどだ。
    </div><div><br /></div><div>
      余談だがフルリモートの件を社長に直接お話したという話を同僚にしたら狂犬あつかいされるようになった...🤔
    </div><div><br /></div><div><br /></div><div>
      お金に関しては2月に60万くらいあればいけると思っていた。
    </div><div>
      多分仕事どうすんの問題は解決まで半年くらい必要だろうから無理せずゆっくり貯めれば良いやと思って乗馬始めたり良いサドル買ったりしてたら仕事のほうがいきなり解決したのでそれと比べればちょっと散財は目立ったが...
    </div><div>
      結論を書くとこちらは予定の2月に色々あって100万近く溜まっていた...(小原家から振り込まれたのかもしれない🤔)
    </div><div><br /></div><div>
      おかげで新居の選定でかなり自由が効いた 👍
    </div><div><br /></div><h3 style="text-align: left;">
      さよならローラー👋
    </h3><div>
      2020年の年間走行距離は21000kmだったんだけど実は半分くらいがZwiftでの走行だった。
    </div><div>
      コロナ問題とかあって外を走るのが難しい時期もあったが自分のパフォーマンス向上に大きく貢献したローラーを沼津に持っていくか？それとも手放すか？かなり頭を悩ます問題だった。なにせ沼津は大阪と比べて静かだ。いくらダイレクトドライブが静かだと言っても洗濯機と勝負できる音を出せるのだ。
    </div><div><br /></div><div>
      雨の日どうすんの？とか寒い日どうすんの？とか
    </div><div>
      さんざん悩んで悩み抜いた結果、ローラーは手放すことにした。
    </div><div><br /></div><div>僕は沼津を走るために移住する。</div><div>
      自宅でハムスターするなら大阪でも良いのだ。
    </div><div>きっとシャイニークライムが僕を待ってる。</div><div>
      輝きは外にある。そう思ったのでZwiftは解約してローラーに別れを告げた。
    </div><div><br /></div><div><br /></div><h3 style="text-align: left;">
      どのへんに引っ越すの？
    </h3><div>
      リモートが認められてから移住先を選定するために1週間ほど沼津に滞在することにした。
    </div><div>
      GoToトラベルが施行されたおかげで旅行がしやすくなっており5日のホテル滞在でも2万円いったかいかないかという破格の宿泊費用だった。やすい！
    </div><div><br /></div><div>
      ホテルに泊まりながら知りたかったのは朝練のコース。
    </div><div>毎朝シャイニークライムできるかが知りたかった。</div><iframe
      allowtransparency="true"
      frameborder="0"
      height="405"
      scrolling="no"
      src="https://www.strava.com/activities/4218052771/embed/0e0ae29d634bded29b62668a05858fe8d36aea42"
      width="590"></iframe><div>
      <iframe
        allowtransparency="true"
        frameborder="0"
        height="405"
        scrolling="no"
        src="https://www.strava.com/activities/4222409387/embed/141187e0434a8cf878730ae4e621f1daab3bfe5c"
        width="590"></iframe>
      <div>
        日の出前に走り出しても沼津市街を内浦のほうに抜けるのは苦労した。信号が多すぎる。
      </div><div><br /></div><div>
        この経験で移住先の候補地から市街が除外された。
      </div><div>
        またもともと外出即聖地巡礼を実施するために伊豆市などへの移住も考えられない。
      </div><div>
        となるとなるべく内浦 ~
        芹沢光治良記念館近辺に住むのが良いだろうということが見えてきたのでそれを胸に帰阪しスーモでお部屋探しの日々を送る。
      </div><div><br /></div><div>
        ちなみに移住してから知ったのですが今住んでる家のすぐ近くの海岸でAqoursが練習してたらしいです。
      </div><div>
        <div class="separator" style="clear: both; text-align: center;">
          <a
            href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjHTtDoU-hfriZVC4MYKZhNmVTl-FMVliELaGTRqivORrn1A27hDVBEzMvpYT31KU4-u2CEt30lHKd3A4KOsDXljO9Fnngp_h6KqpnenE2XwJsQkA3Q5QCA7s7FKu2d9bN-myHpz7y-RZQ/"
            style="margin-left: 1em; margin-right: 1em;"
            ><img
              alt=""
              data-original-height="1536"
              data-original-width="2048"
              height="240"
              src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjHTtDoU-hfriZVC4MYKZhNmVTl-FMVliELaGTRqivORrn1A27hDVBEzMvpYT31KU4-u2CEt30lHKd3A4KOsDXljO9Fnngp_h6KqpnenE2XwJsQkA3Q5QCA7s7FKu2d9bN-myHpz7y-RZQ/"
              width="320"
            /></a>
        </div><br /><br />
      </div><div>
        Aqoursが練習してた海岸から浦の星女学院までランしたんですが、どうやらAqoursが走った道をAqoursと同じように走ってたらしいです。
      </div><div><br /></div><div>
        ディズニーに行ってもラプンツェルと同じ冒険はできないけど沼津に住むとAqoursと同じコースで同じようなトレーニングできるんです。
      </div><div>すごくないか？</div><div><br /></div><h2
        style="text-align: left;"
      >
        移住してどう？
      </h2><div>
        移住は3月の大阪の緊急事態宣言が解除されたタイミングで実施しました(一応ね、大事)
      </div><div>
        移住してすぐに大阪、すごいことになってたので本当に小原家に導かれたんと違うかと思うくらい良いタイミングでした。
      </div><div><br /></div><h3 style="text-align: left;">
        部屋が広くなった
      </h3><div>
        <table
          align="center"
          cellpadding="0"
          cellspacing="0"
          class="tr-caption-container"
          style="margin-left: auto; margin-right: auto;"
        >
          <tbody
            ><tr
              ><td style="text-align: center;"
                ><a
                  href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEi48pmkiDCBNpbYbUnNXI55LQ7WPJ9rUeXB1XCr7PLq2LgsZDNvHHcDhEmVJyoXIBvrtBHtOR9BJ304zVu1j_3LO1jDKO0Tdj2hcgsu2_goO5wEGTZhB8OkZQY2XrwBAb13T_pV8fFzBGA/"
                  style="margin-left: auto; margin-right: auto;"
                  ><img
                    alt=""
                    data-original-height="1536"
                    data-original-width="2048"
                    height="240"
                    src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEi48pmkiDCBNpbYbUnNXI55LQ7WPJ9rUeXB1XCr7PLq2LgsZDNvHHcDhEmVJyoXIBvrtBHtOR9BJ304zVu1j_3LO1jDKO0Tdj2hcgsu2_goO5wEGTZhB8OkZQY2XrwBAb13T_pV8fFzBGA/"
                    width="320"
                  /></a
                ></td
              ></tr
            ><tr
              ><td class="tr-caption" style="text-align: center;"
                >なんとリビングが増えました。<br
                />生活のほとんどがリビングで行われているためやたら広い1Rみたいな感じになってます。</td
              ></tr
            ></tbody>
        </table><br />
      </div><div>
        一人暮らしでは1Rにしか住んだこと無かったんですが土地が安くて大阪より少ない家賃で面積が2倍になりました。
      </div><div>
        また移住するときにローラーを始めピアノやギター、P90、その他の所有物をあらから片付けてしまったので面積が2倍、持ち物半分の状態になり部屋がとても広いです。
      </div><div><br /></div><div>部屋の広さは心の余裕ですね。</div><div>
        トレーニングが上手くいかないとき以外は基本的に心穏やかに暮らしてます。
      </div><div><br /></div><div>
        あと空白の美学と呼んでますが部屋を綺麗に広く保つためにものを増やすのに気を使うように成りました。
      </div><div><br /></div><div>
        ただし引っ越ししたときに出たダンボールを未だに処分できておらず、1部屋がダンボールで埋まってます。
      </div><div>
        いずれ片付けないと行けないと思いつつ大きなゴミ箱みたいになってる...
      </div><div>それはミニマリストとしてどうなんだ？🤔</div><div>
        <br />
      </div><h3 style="text-align: left;">贅沢な時間</h3><div>
        (千歌ちゃん曰く)沼津はなにもないところだそうです。
      </div><div>
        大阪生活が長くて割といつでも何でもすぐ揃っていた大阪の生活に慣れていたので耐えられないかもと思っていたんですがミニマリストになったことで大概のものが不要になり夜は日暮れと共にご飯を食べたら軽く晩酌して読書して寝るみたいな生活が習慣化されました
      </div><div>
        (最近FPSゲームしててちょっと侵され気味ではあるものの...)
      </div><div><br /></div><div>
        とはいえほんとうに何も無いおかげで、ただただゆっくり過ぎていく時間をお酒と本で見送ることができるようになったのですが、これが本当に贅沢な時間の使い方だなと思っています。
      </div><div><br /></div><div>
        本当におすすめなので機会があれば一度体験してもらえると良いのかもしれない。
      </div><div><br /></div><h3 style="text-align: left;">
        超早起きおじさん
      </h3><div>
        <div class="separator" style="clear: both; text-align: center;">
          <a
            href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgbMsOOhqKWGfClg9BYGBWvNbVnUXj1_4Vaul9ShhpUsHM8iY01YDQ8QEDdGc7XOrf6vhc70A2gFTaaR3QknEr15kzlDRiMhalnMtihp4Al0Mwm_uadSZgvvmY9oF5dY-UR1cqOJ1EZdJE/"
            style="margin-left: 1em; margin-right: 1em;"
            ><img
              alt=""
              data-original-height="1536"
              data-original-width="2048"
              height="240"
              src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgbMsOOhqKWGfClg9BYGBWvNbVnUXj1_4Vaul9ShhpUsHM8iY01YDQ8QEDdGc7XOrf6vhc70A2gFTaaR3QknEr15kzlDRiMhalnMtihp4Al0Mwm_uadSZgvvmY9oF5dY-UR1cqOJ1EZdJE/"
              width="320"
            /></a>
        </div><br />
      </div><div>
        なるべく安全に長い距離を走りたいので必然的に朝は早くなりました。
      </div><div>
        実は6時までにトレーニングに出かければシャイニークライムしても仕事に間に合うのでほとんどそれ目当てかもしれません。それ目当てて移住してるし。
      </div><div><br /></div><div>
        そもそも日没とともに寝るような生活ですから朝の5時には確実に目が覚めるんですよね。
      </div><div>それでも7.5時間くらいは眠れるんですけど。</div><div>
        <br />
      </div><div>
        日の出とともに起きて運動すると1日がハッピーになるんでおすすめです
      </div><div><br /><br /></div><h3 style="text-align: left;">
        思い立ったが淡島
      </h3><div>淡島が近い！</div><div>なにせ走っていけますからね。</div><div>
        さらに引っ越しのタイミングでパスポートも入手したので気軽に渡船に乗って淡島へ。
      </div><div>
        月に2回くらいは淡島へ行っては離宮さんで食事したり淡嶋神社RTAしたりベンチに座って鞠莉お嬢様を幻視したりしています。
      </div><div>
        <div class="separator" style="clear: both; text-align: center;">
          <a
            href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgLaQSE1JyFI6JGGqSfgsmX4Zrdhn1EyZnREoghX1DiNAck4NMhGuJYnIu8aO8VIal7VnO87i0jreuBWkTA9hjDm0UWA4kNsLwKQPeS4s3gdrud_-QSf5BQgMrnx4_QGlf7-QhZqPtSwxU/"
            style="margin-left: 1em; margin-right: 1em;"
            ><img
              alt=""
              data-original-height="1536"
              data-original-width="2048"
              height="240"
              src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgLaQSE1JyFI6JGGqSfgsmX4Zrdhn1EyZnREoghX1DiNAck4NMhGuJYnIu8aO8VIal7VnO87i0jreuBWkTA9hjDm0UWA4kNsLwKQPeS4s3gdrud_-QSf5BQgMrnx4_QGlf7-QhZqPtSwxU/"
              width="320"
            /></a>
        </div><br />
      </div><div>
        あと本土のチケット売り場の近くで週末に営業しているオリジナル食器制作を初めて体験しました。
      </div><div>意外と楽しいのでみんなも行ってみるのおすすめ！</div><div>
        <table
          align="center"
          cellpadding="0"
          cellspacing="0"
          class="tr-caption-container"
          style="margin-left: auto; margin-right: auto;"
        >
          <tbody
            ><tr
              ><td style="text-align: center;"
                ><a
                  href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgu539CrDAPyE23Im8bSA54VPwL-xZFoRXPkhR7HAAkXHONS-v0R3XedGug7w2tyye4N10p37nFwcSfqm_nh6A_bdVotWHOkmDoVeqE9FHcsLfbqq_HI6A6qbkgKGocDzOUsqa4KMgLOB0/"
                  style="margin-left: auto; margin-right: auto;"
                  ><img
                    alt=""
                    data-original-height="1610"
                    data-original-width="1208"
                    height="240"
                    src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgu539CrDAPyE23Im8bSA54VPwL-xZFoRXPkhR7HAAkXHONS-v0R3XedGug7w2tyye4N10p37nFwcSfqm_nh6A_bdVotWHOkmDoVeqE9FHcsLfbqq_HI6A6qbkgKGocDzOUsqa4KMgLOB0/"
                    width="180"
                  /></a
                ></td
              ></tr
            ><tr
              ><td class="tr-caption" style="text-align: center;"
                >自宅がホテルオハラになった</td
              ></tr
            ></tbody>
        </table><br />
      </div><div><br /></div><h3 style="text-align: left;">不便なこと</h3><div>
        駅が遠いですねぇ...
      </div><div>
        沼津駅まで300円くらいしますしRubyちゃんが沼津までバスで500円以上かかるって言ってたのを強く意識しました。
      </div><div>
        幸い自宅近くにレンタル自転車置場があるのでそこで自転車を借りればリバーサイドホテルまで14分でいけるんですが雨の日はバスになるし何よりイベントのときとかはオタクが全てのレンタル自転車を乗ってでかけてしまうのでどこへも行けなかったりします。
      </div><div><br /></div><div>
        けど最近は歩けば45分で市街に行けるしちょうどよい運動になるんでそこまで気にしなくなりました。不便ではあるけど。
      </div><div>
        ららぽーと沼津までいくのも自転車で30分~40分で行けるので家電を見るのも見ようと思えばそこまで困らない。不便ではあるけども。
      </div><div><br /></div><div>あと言葉ですね。</div><div>
        もともと標準語重点で話をしてましたがやはり30年の間に染み付いた関西の言葉がポロッと出てしまいますね。
      </div><div>関西弁、ちょっと威圧感あるから気をつけたいところ。</div><div>
        言葉って耳から覚えるけど在宅ワークだと会話もしないし水には馴染んでも言葉に馴染むのはまだまだ先になりそうです。異邦人って感じする。もう慣れたけど。
      </div><div><br /></div><div>
        また移住前からわかってはいたのですが移住したんで沼津のホテルに泊まる理由が無くなっちゃったんですね。
      </div><div>
        淡島ホテルどうすんねんって気持ちです。が、ここに関してはちょっと考えていることがあるので書けるときが来たら書こうと思います。
      </div><div><br /></div><h2 style="text-align: left;">まとめ</h2><div>
        移住前は良いトレーニングコースとオタクとしての満足感を得られるだろうと思ってました。
      </div><div>
        実際に移住して得たものは良いトレーニングコースやオタクとしての満足感だけじゃなくより豊かな生活でした。
      </div><div><br /></div><div>
        早く納税したいんですが住民税の納付ができるのは最短でも来年の6月からなのでもっとお金を稼いで納められる金額を増やせるようにしたいと思いました。
      </div>
    </div><div><br /></div><div><br /></div><div><b>あとがき</b></div><div>
      2019年に初めて沼津に来たんですが、その時はこのブログを始める切っ掛けになった21日で3000km以上走る<a
        href="https://blog.great-distance.com/2019/09/greatdistance-stage1_1.html"
        >GreatDistance</a
      >&nbsp;と名付けたのチャレンジの最中だったんですね。
    </div><div><br /></div><div>
      GreatDistance(遥か彼方まで)と命名したチャレンジの中で走った一番遠くの土地が沼津だったんですが今はこうして新しい生活の拠点になった。スタート地点になった。
    </div><div><br /></div><div>
      時間がかかっても向かっていればそのうちすごい距離を進むことができる。自走沼津したときの自分には想像もできなかったことが起きてしまったんだなとこれ書きながら思った次第です。
    </div><div><br /></div><div>だったら次はどこまで行けるのか？</div><div>
      その答えは行きたいとこならどこまでもだと思う。(そうであってほしい)
    </div><div>だって実際沼津に移住したのだから。</div><div><br /></div><div>
      <table
        align="center"
        cellpadding="0"
        cellspacing="0"
        class="tr-caption-container"
        style="margin-left: auto; margin-right: auto;"
      >
        <tbody
          ><tr
            ><td style="text-align: center;"
              ><a
                href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjMztHhe8l7R-R48XBtgx2oZq3tgEJaSEUjzh2sIIEcdZ6Vd7GiqzEdks-f5mSBoPRdgCqTNXQ8xovk3GNIsVg2RuhtX-zR2M_5vurRmhT36wxnwXi3GSJRkZ6qo29mlu00gHITtaM96XE/"
                style="margin-left: auto; margin-right: auto;"
                ><img
                  alt=""
                  data-original-height="1536"
                  data-original-width="2048"
                  height="240"
                  src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjMztHhe8l7R-R48XBtgx2oZq3tgEJaSEUjzh2sIIEcdZ6Vd7GiqzEdks-f5mSBoPRdgCqTNXQ8xovk3GNIsVg2RuhtX-zR2M_5vurRmhT36wxnwXi3GSJRkZ6qo29mlu00gHITtaM96XE/"
                  width="320"
                /></a
              ></td
            ></tr
          ><tr
            ><td class="tr-caption" style="text-align: center;"
              >じゅりあん氏から頂いた自走沼津完走記念<br /></td
            ></tr
          ></tbody>
      </table>
    </div><div><br /></div><div>沼津移住計画 <b>完</b></div>
  </article>
</Layout>
