---
import Layout from "../../../../../layouts/ArticleLayout.astro";
const title = "移住民から見た沼津"
const description = ""
const thumbnail = ""
const labels = []
---
<Layout title={title} labels={labels}>
<article>
はじめに&nbsp;<div>2021年3月18日、晴れて念願の沼津市民になった🎉</div><div>そのへんの話は<a href="https://blog.great-distance.com/2021/05/blog-post.html">こっち</a>から読めるので読んで！</div><div><br /></div><div>気持ちの浮き沈みは多くあったがそれでも沼津の景色はいつでも心踊らせてくれた。&nbsp;</div><div>今回は移住して気づいたイケてる風景を紹介したい。
自転車多めだけど自転車無くても楽しめるよ！！
</div>
</article>
</Layout>
