---
import Layout from "../../../../../layouts/ArticleLayout.astro";
const title = "GreatDistance Stage.16 レポート";
const description = "";
const thumbnail = "";
const labels = [];
---

<Layout title={title} labels={labels}>
  <article>
    <span style="background-color: #eeeeee;">
      <br />
    </span>
    <span style="background-color: #eeeeee;">
      <iframe
        allowtransparency="true"
        frameborder="0"
        height="405"
        scrolling="no"
        src="https://www.strava.com/activities/2723528614/embed/118f99866ae3142be8ac1cbf015d2aff3bf86381"
        width="590"
      >
      </iframe>
    </span>
    <br />
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr>
          <td style="text-align: center;">
            <a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjMT-NgDLe35ApwUlwogWYr1qqyWZNddhD0JCVPHrSfO6VuWHTNL4hUeAXs6ygFo90nRS2vLfu-BDoF20eb5-SGOmsMJToHXvcBu9bs5zMHEu_y2Xx0Q493cfmHEjE4m4mIjtOdRGAJXzM/s1600/IMG_-v93j8l.jpg"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
            >
              <span style="background-color: #eeeeee; color: black;">
                <img
                  border="0"
                  height="320"
                  src="/public/images/2019/09/23/GreatDistance_Stage.16_レポート/0.jpg"
                  width="320"
                />
              </span>
            </a>
          </td>
        </tr>
        <tr>
          <td class="tr-caption" style="text-align: center;">
            <span style="background-color: #eeeeee;"> 私達はやったんだ！</span>
            <br />
            <span style="background-color: #eeeeee;">
              自転車で！沼津まで！走り抜けたんだ！</span
            >
          </td>
        </tr>
      </tbody>
    </table>
    <span style="background-color: #eeeeee;">
      <br />
    </span>
    <span style="background-color: #eeeeee;">
      <br />
    </span>
    <br />
    <h3>
      <span style="background-color: #eeeeee;"> この日のコース</span>
    </h3>
    <span style="background-color: #eeeeee;">
      梅田 ~ 新清水までの360kmのコース</span
    >
    <br />
    <span style="background-color: #eeeeee;">
      掟破りの名古屋走りが怖いので車の少なそうな早朝に通過できるように大阪を出たのは21時</span
    >
    <br />
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr>
          <td style="text-align: center;">
            <a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjwD4JdN3vPLBSafw4r5dEikcq16Lz4_mvQ6FMb4kTRRvHIlcfS-FII7Yu_nTlweTcjAG-H_4Hro-pin9aOwmeSvosM_xDh6lo5yGzPmh1B-fJEzyY-23Nn1i5UT9ZFVt9fm5S5y5PaaJc/s1600/MVIMG_20190919_210009.jpg"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
            >
              <span style="background-color: #eeeeee; color: black;">
                <img
                  border="0"
                  height="240"
                  src="/public/images/2019/09/23/GreatDistance_Stage.16_レポート/1.jpg"
                  width="320"
                />
              </span>
            </a>
          </td>
        </tr>
        <tr>
          <td class="tr-caption" style="text-align: center;">
            <span style="background-color: #eeeeee;">
              この日のために今日までの2000kmがあったんだなぁ</span
            >
          </td>
        </tr>
      </tbody>
    </table>
    <span style="background-color: #eeeeee;">
      <br />
    </span>
    <span style="background-color: #eeeeee;">
      伝統の実績あるキャノンボールのコースを採用し可能な限り速く、安全に目的地にたどり着く</span
    >
    <br />
    <span style="background-color: #eeeeee;">
      <br />
    </span>
    <br />
    <h3>
      <span
        style='background-color: #eeeeee; font-family: "arial" , sans-serif;'
      >
        Departure。沼津へ向かう3/4キャノンボール</span
      >
    </h3>
    <span style='background-color: #eeeeee; font-family: "arial" , sans-serif;'>
      21時、中津を出発する。</span
    >
    <br />
    <span style='background-color: #eeeeee; font-family: "arial" , sans-serif;'>
      本当は22時に出発しようと思ったんですが前日の睡眠貯金のせいで仮眠が取れず1時間早めに家をでました。</span
    >
    <br />
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr>
          <td style="text-align: center;">
            <a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhObPHf4DHVq41Bur7i9vmsX8K6gkmaKCsY0tXqNlcuMWojWU09Anb7bOAIWLMwdHb9nN7ZxvMnkfkMNyovj_mhCZ1u4w8lrDDy0CjVMlaj33PrHCmAkJilk-wD3Bih7hFYcokTCW5xiyQ/s1600/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-09-23+19.30.47.png"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
            >
              <span style="background-color: #eeeeee; color: black;">
                <img
                  border="0"
                  height="320"
                  src="/public/images/2019/09/23/GreatDistance_Stage.16_レポート/10.jpg"
                  width="85"
                />
              </span>
            </a>
          </td>
        </tr>
        <tr>
          <td class="tr-caption" style="text-align: center;">
            <span style="background-color: #eeeeee;">
              18日が一番寝た。多分9時間以上</span
            >
          </td>
        </tr>
      </tbody>
    </table>
    <span style="background-color: #eeeeee;">
      <span style='font-family: "arial" , sans-serif;'>
        <br />
      </span>
      <span style='font-family: "arial" , sans-serif;'>
        家を出たらまっすぐ四條畷に向かいそこから伊賀を越えて関宿に至る100km、山を走ります。</span
      >
    </span>
    <br />
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr>
          <td style="text-align: center;">
            <a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgv998WiLnwSPif4rDvq_QgNm523T_-cI32PrTW5usInRxB8l4xGPguq_pdFApBi4cGxEbIRzqsCaf62DYKTMa4KQV13BFpg_JRpFhHpz64beIzli0UoDfyjroHQMWHBIF3t0gvHLyVKB0/s1600/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-09-23+19.33.08.png"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
            >
              <span style="background-color: #eeeeee; color: black;">
                <img
                  border="0"
                  height="93"
                  src="/public/images/2019/09/23/GreatDistance_Stage.16_レポート/11.jpg"
                  width="320"
                />
              </span>
            </a>
          </td>
        </tr>
        <tr>
          <td class="tr-caption" style="text-align: center;">
            <span style="background-color: #eeeeee;">
              山多めですが先週のブルベのほうがよほど登ったし300mなんて無いも同然</span
            >
          </td>
        </tr>
      </tbody>
    </table>
    <span style="background-color: #eeeeee;">
      <br />
    </span>
    <span style="background-color: #eeeeee;">
      登坂時、常に休むダンシングを使うことができたため実は100km地点で筋肉の疲労はまったく無く感動していた。</span
    >
    <br />
    <span style="background-color: #eeeeee;">
      <br />
    </span>
    <span style="background-color: #eeeeee;">
      今日までの2000kmで休むダンシングを完全に自分のものにできておりダンシングの継続時間から筋肉の温存まで完璧に制御できていてこれがゲームチェンジャーになることは間違いないと感じながら登りました。</span
    >
    <br />
    <span style="background-color: #eeeeee;">
      <br />
    </span>
    <span style="background-color: #eeeeee;">
      登っていることが嬉しくてたまらなかったのです。(妖怪ペダル回しになったわけではない)</span
    >
    <br />
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr>
          <td style="text-align: center;">
            <a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEj-nfj_Xu86GPsoGa_O3JnrFHAxg25qurrAx-B65vf4mTofh1dcTKYeP80ffyc3kYVq2AoIrRPjPPsFu7E55IYnEkOZXIZqHIWcI374blloJSWk5qdRTQhfrpFfzT-uB53ffPqM3Lw5vjw/s1600/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-09-23+19.43.50.png"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
            >
              <span style="background-color: #eeeeee; color: black;">
                <img
                  border="0"
                  height="256"
                  src="/public/images/2019/09/23/GreatDistance_Stage.16_レポート/2.png"
                  width="320"
                />
              </span>
            </a>
          </td>
        </tr>
        <tr>
          <td class="tr-caption" style="text-align: center;">
            <span style="background-color: #eeeeee;">
              ダンシングの効率も高まっていて50%を超えることも増えてきた</span
            >
          </td>
        </tr>
      </tbody>
    </table>
    <span style="background-color: #eeeeee;">
      <br />
    </span>
    <span style="background-color: #eeeeee;">
      夜間のため熊が出ないか？野良犬が出ないか？ビビりながら登坂を続け、最後に坂を下って無事に関宿へ</span
    >
    <br />
    <span style="background-color: #eeeeee;">
      <br />
    </span>
    <span style="background-color: #eeeeee;">
      100kmを4時間ペースで通過できたわけだが最初の6km、つまり大阪市内を出るまでの16kmで1時間も使ってしまっているのでそれさえなければ3時間半くらいで走れていることに。</span
    >
    <br />
    <span style="background-color: #eeeeee;">
      <br />
    </span>
    <span style="background-color: #eeeeee;"> 早い!!!</span>
    <br />
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr>
          <td style="text-align: center;">
            <a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhjVnL38TD8UX-GYy3Ylv7nZkCZsavo9YcSGtuq37nbLMrGQ_5N91wtoVYphPPItd1ni9J4pe7rKj6x2_fgP4MIAEOFo0oL0cc6G4_JAupiPcK74SWLYoE-R0resFe6aCymlhQDmxY0L3Q/s1600/IMG_20190920_011034.jpg"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
            >
              <span style="background-color: #eeeeee; color: black;">
                <img
                  border="0"
                  height="240"
                  src="/public/images/2019/09/23/GreatDistance_Stage.16_レポート/3.png"
                  width="320"
                />
              </span>
            </a>
          </td>
        </tr>
        <tr>
          <td class="tr-caption" style="text-align: center;">
            <span style="background-color: #eeeeee;">
              ここはまだ暖かかったけど山中は14℃とかで寒かった</span
            >
          </td>
        </tr>
      </tbody>
    </table>
    <span style="background-color: #eeeeee;">
      <br />
    </span>
    <span style="background-color: #eeeeee;">
      <span style='font-family: "arial" , sans-serif;'>
        <br />
      </span>
      <span style='font-family: "arial" , sans-serif;'>
        <br />
      </span>
    </span>
    <br />
    <h3>
      <span style='color: #222222; font-family: "arial" , sans-serif;'>
        <span style="background-color: #eeeeee;"> 関宿 ~ 本宿</span>
      </span>
    </h3>
    <div>
      <span style='color: #222222; font-family: "arial" , sans-serif;'>
        <span style="background-color: #eeeeee;">
          伊賀を越え、関宿までを最速で至ったので次の関門が出現。その関門とは名古屋。</span
        >
      </span>
    </div>
    <div>
      <span style='color: #222222; font-family: "arial" , sans-serif;'>
        <span style="background-color: #eeeeee;">
          名古屋は怖いともっぱらの噂なので可能な限りくらいうちに通過できるように名古屋へ急ぐ。</span
        >
      </span>
    </div>
    <div>
      <span style="background-color: #eeeeee;">
        <span style='color: #222222; font-family: "arial" , sans-serif;'>
          サイコンに入れた地図を頼りに進んでいくと徐々に120km地点に。</span
        >
        <span style='font-family: "arial" , sans-serif;'>
          無補給で移動できる限界距離となったため夜食を食べるために小休止。</span
        >
      </span>
    </div>
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr>
          <td style="text-align: center;">
            <a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhXs_IyONyvvGA1QhCYT4L-K09_hWicTthtpyLVatWCDFbuvpgBtZrJmmgOZ_Qe9b3-9kZmwBb0z6U2kvpyQC9Wj3Ml0kbSrVriOFoEauIjg8PB7NEtXyV5zTPAq3VZDR-ZXldcjj4NEPI/s1600/IMG_20190920_021547.jpg"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
            >
              <span style="background-color: #eeeeee; color: black;">
                <img
                  border="0"
                  height="240"
                  src="/public/images/2019/09/23/GreatDistance_Stage.16_レポート/4.png"
                  width="320"
                />
              </span>
            </a>
          </td>
        </tr>
        <tr>
          <td class="tr-caption" style="text-align: center;">
            <span style="background-color: #eeeeee;">
              寒かったので辛くて温かいものがありがたかった</span
            >
          </td>
        </tr>
      </tbody>
    </table>
    <div>
      <span
        style='background-color: #eeeeee; font-family: "arial" , sans-serif;'
      >
        <br />
      </span>
    </div>
    <div>
      <span
        style='background-color: #eeeeee; font-family: "arial" , sans-serif;'
      >
        食後は名古屋を目指して全開で踏む。</span
      >
    </div>
    <div>
      <span style='color: #222222; font-family: "arial" , sans-serif;'>
        <span style="background-color: #eeeeee;">
          <br />
        </span>
      </span>
    </div>
    <div>
      <span style='color: #222222; font-family: "arial" , sans-serif;'>
        <span style="background-color: #eeeeee;">
          しばらく走ると国道1号線が出てくるのですがこの1号線、ほとんど高速道路のような状態で大型トラックやバスがバンバン走り抜けていく。</span
        >
      </span>
    </div>
    <div>
      <span style='color: #222222; font-family: "arial" , sans-serif;'>
        <span style="background-color: #eeeeee;">
          さっき食べた夜食を吐きそうになりながら可能な限り路側帯を走行する(´・ω・｀)</span
        >
      </span>
    </div>
    <div>
      <span style='color: #222222; font-family: "arial" , sans-serif;'>
        <span style="background-color: #eeeeee;">
          <br />
        </span>
      </span>
    </div>
    <div>
      <span style='color: #222222; font-family: "arial" , sans-serif;'>
        <span style="background-color: #eeeeee;">
          風圧で揺らたり路面の悪さで揺られたりしながら寿命が縮む思いをしながら走っていくとついに名古屋市の看板が...</span
        >
      </span>
    </div>
    <div>
      <span style='color: #222222; font-family: "arial" , sans-serif;'>
        <span style="background-color: #eeeeee;">
          <br />
        </span>
      </span>
    </div>
    <div>
      <b style="background-color: #eeeeee;">
        名古屋より はるかに怖い 一号線(一句)</b
      >
    </div>
    <div>
      <span style="background-color: #eeeeee;">
        <br />
      </span>
    </div>
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr>
          <td style="text-align: center;">
            <a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhZ9Yh5zufnJvtd80RAjgqGX_Q-6Y9zAFMSobIlmEkgtIJdVR6H8NELiCycgEFcqAj6pyXBy4kJSmnDs9tDtNfXnxmDcYnIqIPrnxw5_M3jWJM7K6hx3M4Lhy9xULLdDhotUpcKhQQ2Bjc/s1600/IMG_20190920_034402.jpg"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
            >
              <span style="background-color: #eeeeee; color: black;">
                <img
                  border="0"
                  height="320"
                  src="/public/images/2019/09/23/GreatDistance_Stage.16_レポート/5.jpg"
                  width="240"
                />
              </span>
            </a>
          </td>
        </tr>
        <tr>
          <td class="tr-caption" style="text-align: center;">
            <span style="background-color: #eeeeee;">
              生きててよかったって思うわけ...</span
            >
          </td>
        </tr>
      </tbody>
    </table>
    <div>
      <span style='color: #222222; font-family: "arial" , sans-serif;'>
        <span style="background-color: #eeeeee;">
          このとき自分では気づかないながらも補給が足りてない状態で走行していたためペースが徐々に落ちて行く。</span
        >
      </span>
    </div>
    <div>
      <span style='color: #222222; font-family: "arial" , sans-serif;'>
        <span style="background-color: #eeeeee;">
          <br />
        </span>
      </span>
    </div>
    <div>
      <span style='color: #222222; font-family: "arial" , sans-serif;'>
        <span style="background-color: #eeeeee;">
          最初は知らない土地を地図を見ながら走っているからだと思っていたんですがあとで振り返るとどうやらそうだったみたい...</span
        >
      </span>
    </div>
    <div>
      <span style='color: #222222; font-family: "arial" , sans-serif;'>
        <span style="background-color: #eeeeee;">
          <br />
        </span>
      </span>
    </div>
    <div>
      <span style="background-color: #eeeeee;">
        <span style='color: #222222; font-family: "arial" , sans-serif;'>
          <br />
        </span>
      </span>
      <br />
      <table
        align="center"
        cellpadding="0"
        cellspacing="0"
        class="tr-caption-container"
        style="margin-left: auto; margin-right: auto; text-align: center;"
      >
        <tbody>
          <tr>
            <td style="text-align: center;">
              <a
                href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEj-24zEA2To29sfCHNsItXsxKXoAb3s2X2-ZBrjQSQ2OvHhgRTWU0L629bT5jgG0O9Kro2KSNRlFmG3O7i8dhC_jwQfVC4qubHt0NqESXDNcuTZdtv4b0FRemiP-pje-igz8HW8RlKuKzM/s1600/IMG_20190920_044025.jpg"
                imageanchor="1"
                style="margin-left: auto; margin-right: auto;"
              >
                <span style="background-color: #eeeeee; color: black;">
                  <img
                    border="0"
                    height="240"
                    src="/public/images/2019/09/23/GreatDistance_Stage.16_レポート/6.jpg"
                    width="320"
                  />
                </span>
              </a>
            </td>
          </tr>
          <tr>
            <td class="tr-caption" style="text-align: center;">
              <span style="background-color: #eeeeee;">
                歴史の教科書を思い出す(戦国武将好きなので)</span
              >
            </td>
          </tr>
        </tbody>
      </table>
      <span style="background-color: #eeeeee;">
        <span style='color: #222222; font-family: "arial" , sans-serif;'>
          <br />
        </span>
        <span style='color: #222222; font-family: "arial" , sans-serif;'>
          名古屋区間では命の危険も特に無かったのでそのままガンガン進んでいく</span
        >
      </span>
    </div>
    <span style="background-color: #eeeeee;">
      <span style='font-family: "arial" , sans-serif;'>
        <br />
      </span>
      <span style='font-family: "arial" , sans-serif;'>
        名古屋を通過したのは深夜4時~5時にかけてでしたが個人的には大阪のほうが車が多くタクシーが不思議な動きをするので大阪のほうがよほど危険だと感じる程度ですみました。</span
      >
    </span>
    <br />
    <span style="background-color: #eeeeee;">
      <span style='font-family: "arial" , sans-serif;'>
        <br />
      </span>
      <span style='color: #222222; font-family: "arial" , sans-serif;'>
        なるべく早く関宿へ抜けたかったので補給は最低限に220km地点を目指す。</span
      >
    </span>
    <br />
    <span style="background-color: #eeeeee;">
      <span style='color: #222222; font-family: "arial" , sans-serif;'>
        <br />
      </span>
    </span>
    <br />
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr>
          <td style="text-align: center;">
            <a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEg72ybxbaet5p6vBJ94d0O6_U6U1MbT2fEgU-w9u3XAcnskudCrjwBlAGlJ_gp7Ky3pq1Vbkxe0Wm4jEKvn5lVCycKdqro0F6EeBgO0HYbgdrDWZG0z2XER4BfN5o2OTQhBGJAg8LRpKKk/s1600/IMG_20190920_061407.jpg"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
            >
              <span style="background-color: #eeeeee; color: black;">
                <img
                  border="0"
                  height="240"
                  src="/public/images/2019/09/23/GreatDistance_Stage.16_レポート/7.jpg"
                  width="320"
                />
              </span>
            </a>
          </td>
        </tr>
        <tr>
          <td class="tr-caption" style="text-align: center;">
            <span style="background-color: #eeeeee;">
              関宿到達。この道は最高に路側帯が狭い上に除草されて無くて怖かった。</span
            >
          </td>
        </tr>
      </tbody>
    </table>
    <span style="background-color: #eeeeee;">
      <br />
    </span>
    <span style="background-color: #eeeeee;">
      サイコンの電池が30%を下回っていたので充電も兼ねてマクドで朝ごはんと仮眠を取ることに。</span
    >
    <br />
    <span style="background-color: #eeeeee;">
      <br />
    </span>
    <span style="background-color: #eeeeee;">
      30分ほど充電することで60%までバッテリーが回復したので再び地図を見ながら走り出すことに。</span
    >
    <br />
    <span style="background-color: #eeeeee;">
      朝マックしたのでカロリーも満タン！完璧！と思ってたんですが実は少し回復した程度でしか無く脚に全く力が入らない...</span
    >
    <br />
    <span style="background-color: #eeeeee;">
      <br />
    </span>
    <span style="background-color: #eeeeee;">
      おまけに右膝も痛くなってくる...</span
    >
    <br />
    <span style="background-color: #eeeeee;">
      <br />
    </span>
    <span style="background-color: #eeeeee;">
      仕方ないので時速20km走れるような速度で延々ゆるゆる踏み続けることに...</span
    >
    <br />
    <span style="background-color: #eeeeee;">
      初日の宿は360km地点で休憩したマクドからは140km走れば良いだけという状態だったのでなんとかその足を維持して進んでいく。</span
    >
    <br />
    <span style="background-color: #eeeeee;">
      <br />
    </span>
    <span style="background-color: #eeeeee;">
      痛みを堪えながらだましだまし走っていたらなんと看板に<b> 沼津</b>
      の文字が！</span
    >
    <br />
    <span style="background-color: #eeeeee;"> やる気が出てきた！</span>
    <br />
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr>
          <td style="text-align: center;">
            <a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiYAS4BJuPJZEGBO-2GYQdg_vXZIyRph8RPkHwZd564T8wrn5xGSqfgSwzDY_kTBobzu0pEcuWoMaIibSml145GRQNLas8ZJ18PF8nrYiIDRlRXTIkdj5EPQvSTq06pk67u117LxV02JhI/s1600/IMG_20190920_104305.jpg"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
            >
              <span style="background-color: #eeeeee; color: black;">
                <img
                  border="0"
                  height="320"
                  src="/public/images/2019/09/23/GreatDistance_Stage.16_レポート/8.jpg"
                  width="240"
                />
              </span>
            </a>
          </td>
        </tr>
        <tr>
          <td class="tr-caption" style="text-align: center;">
            <span style="background-color: #eeeeee;">
              2つの脚で果てを目指す</span
            >
          </td>
        </tr>
      </tbody>
    </table>
    <span style="background-color: #eeeeee;">
      <br />
    </span>
    <span style="background-color: #eeeeee;">
      速度は上がらず力も入らないなか台風の影響で向かい風が強くなってくる。</span
    >
    <br />
    <span style="background-color: #eeeeee;">
      <br />
    </span>
    <span style="background-color: #eeeeee;">
      例年、偏西風の影響で西から東へ風が吹くことが多いらしく追い風ですすめるかと思っていたのですが全然そんなことは無い。</span
    >
    <br />
    <span style="background-color: #eeeeee;">
      <br />
    </span>
    <span style="background-color: #eeeeee;">
      悪いことは重なるなぁ...と考えつつペダルを止めると速度が落ちるのでなんとか回す</span
    >
    <br />
    <span style="background-color: #eeeeee;"> すると...</span>
    <br />
    <span style="background-color: #eeeeee;">
      <br />
    </span>
    <br />
    <h3>
      <span style="background-color: #eeeeee;"> 股擦れ地獄</span>
    </h3>
    <span style="background-color: #eeeeee;">
      路面のギャップを踏んでバイクが暴れてサドルから尻が離れて次に着地したときに尻にできていた股擦れを悪化させてしまう...</span
    >
    <br />
    <span style="background-color: #eeeeee;"> 本当に痛くて声もでず...</span>
    <br />
    <span style="background-color: #eeeeee;">
      サドルの上で悶絶しながらどうにか股擦れが傷まないサドルポジションを探してペダルを回す...</span
    >
    <br />
    <span style="background-color: #eeeeee;">
      路面が少しでも跳ねると本当に痛い(´；ω；｀)</span
    >
    <br />
    <span style="background-color: #eeeeee;">
      後で確認したら大きめのニキビみたいな股ズレができていて膿んでました</span
    >
    <br />
    <span style="background-color: #eeeeee;">
      <br />
    </span>
    <span style="background-color: #eeeeee;">
      股擦れはあとでキズパワーパッドを使って治療しました</span
    >
    <br />
    <span style="background-color: #eeeeee;">
      <br />
    </span>
    <br />
    <h3>
      <span style="background-color: #eeeeee;"> 初日のゴールへ到着</span>
    </h3>
    <span style="background-color: #eeeeee;">
      なんとか走っているといつの間にか350km地点に到達。</span
    >
    <br />
    <span style="background-color: #eeeeee;">
      そこでついに空腹を自覚するに至ったためお昼ごはんを食べることに！</span
    >
    <br />
    <span style="background-color: #eeeeee;"> このとき時刻は14時</span>
    <br />
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr>
          <td style="text-align: center;">
            <a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEg3hoRmp_qHiT2GT8BLIk5IA2tKiVl8YMsfcyD8DMCkkgS3adi3zzQQXZ_eHHQFz82w32fJwEJqECKtGUMuXkfi6DmnZAgSC8ZTlN_ih1FsmZihAvMdlTQoU87-BE2vMUmNk3OIt9tP_Vg/s1600/IMG_20190920_141251.jpg"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
            >
              <span style="background-color: #eeeeee; color: black;">
                <img
                  border="0"
                  height="240"
                  src="/public/images/2019/09/23/GreatDistance_Stage.16_レポート/9.jpg"
                  width="320"
                />
              </span>
            </a>
          </td>
        </tr>
        <tr>
          <td class="tr-caption" style="text-align: center;">
            <span style="background-color: #eeeeee;">
              ご当地桜えびのかき揚げうどんと味噌カツ。</span
            >
            <br />
            <span style="background-color: #eeeeee;">
              このボリュームで950円！</span
            >
          </td>
        </tr>
      </tbody>
    </table>
    <span style="background-color: #eeeeee;">
      昼食を取ると急に身体に力がみなぎる！</span
    >
    <br />
    <span style="background-color: #eeeeee;"> みなぎる！</span>
    <br />
    <span style="background-color: #eeeeee;">
      それと同時に膝の痛みが消える！</span
    >
    <br />
    <span style="background-color: #eeeeee;">
      <br />
    </span>
    <span style="background-color: #eeeeee;">
      カロリーが足りないと膝に来るんですかね🤔🤔</span
    >
    <br />
    <span style="background-color: #eeeeee;">
      でも突然に痛みが消えて力がでたので最後の10kmを疾走</span
    >
    <br />
    <span style="background-color: #eeeeee;">
      <br />
    </span>
    <span style="background-color: #eeeeee;">
      どうにか初日の宿に到着したので股擦れ治療を施して洗濯してから初日はすぐに寝ることに...</span
    >
    <br />
    <span style="background-color: #eeeeee;">
      <br />
    </span>
    <span style="background-color: #eeeeee;">
      <br />
    </span>
    <br />
    <h3>
      <span style="background-color: #eeeeee;"> &nbsp;1日目の総括</span>
    </h3>
    <h4>
      <span style="background-color: #eeeeee;"> 良かったところ</span>
    </h4>
    <div>
      <ol>
        <li>
          <span style="background-color: #eeeeee;">
            休むダンシングを極めた</span
          >
        </li>
        <li>
          <span style="background-color: #eeeeee;">
            手のしびれがまったくなかった</span
          >
        </li>
        <li>
          <span style="background-color: #eeeeee;">
            キズパワーパッドという体験</span
          >
        </li>
      </ol>
      <div>
        <span style="background-color: #eeeeee;">
          手のしびれがまったくなかったので360kmを通してうまく体幹で上体を支えることができていたようです。</span
        >
      </div>
    </div>
    <div>
      <span style="background-color: #eeeeee;">
        この体幹の使い方を理解したことで2日目にペダリングが改善するので続きはそこで書きたいと思います</span
      >
    </div>
    <h4>
      <span style="background-color: #eeeeee;"> 悪かったところ</span>
    </h4>
    <ol>
      <li>
        <span style="background-color: #eeeeee;"> 補給が足りてなかった</span>
      </li>
      <li>
        <span style="background-color: #eeeeee;"> 股擦れ地獄</span>
      </li>
      <li>
        <span style="background-color: #eeeeee;">
          もう少し荷物を減らすことができるはずだった</span
        >
      </li>
    </ol>
    <div>
      <span style="background-color: #eeeeee;">
        Sleep-lowトレーニングで燃費を過信し過ぎたことが良くなかったのですが、逆にハンガーノック状態でも速度をキープできたのはそれはそれでスゴイことなんで一概に悪いとは言えない。</span
      >
    </div>
    <div>
      <span style="background-color: #eeeeee;">
        まだまだ補給を極められていないのでもう少し食べる量を増やす方向に倒して行こうと思います。</span
      >
    </div>
    <div>
      <span style="background-color: #eeeeee;">
        <br />
      </span>
    </div>
    <div>
      <span style="background-color: #eeeeee;">
        股擦れはたしかに地獄だったんですがおかげでどうすれば股擦れを起こさずに走れるかがわかったのでこれは解決済みの問題となりそうです。</span
      >
    </div>
    <div>
      <span style="background-color: #eeeeee;">
        <br />
      </span>
    </div>
    <div>
      <span style="background-color: #eeeeee;">
        300km以上という距離を走り慣れていないことで普段より多くの荷物を持ってのライドになってしまった。</span
      >
    </div>
    <div>
      <span style="background-color: #eeeeee;">
        今振り返って考えると200kmに160km増えただけなのでもっと減らせたなぁという印象です。</span
      >
    </div>
    <div>
      <span style="background-color: #eeeeee;">
        今後チューブレスタイヤにすれば原理的にパンクから開放されて修理キットの数を減らせるでしょうし輪行袋の輸送方法を改善すれば荷物も減らせるはず。</span
      >
    </div>
    <div>
      <span style="background-color: #eeeeee;">
        まずは距離になれるところから初めて本当に必要なもの、不要なものを選別していくようにしたい</span
      >
    </div>
    <div>
      <span style="background-color: #eeeeee;">
        <br />
      </span>
    </div>
    <h3>
      <span style="background-color: #eeeeee;"> 明日のコース</span>
    </h3>
    <div>
      <span style="background-color: #eeeeee;">
        <a
          href="https://blog.great-distance.com/2019/09/greatdistance-stage17.html"
        >
          これが続きです！</a
        >
      </span>
    </div>
  </article>
</Layout>
