---
import Layout from "../../../../../layouts/ArticleLayout.astro";
const title = "ブログを始めた"
const description = ""
const thumbnail = ""
const labels = []
---
<Layout title={title} labels={labels}>
<article>
<h3>
ブログ始めた理由</h3>
2019年9月から有給消化の期間が始まって1ヶ月間仕事しなくなるのでフィジカルを強化するために21日で3500kmを走るチャレンジをやってみようと思った。<br />
ブログはその備忘録として、また今後同じ挑戦をしようとする<s>変態</s>同好の士が参考にできるよう公の場に情報を残そうと思った。<br />
<br />
<h3>
GreatDistanceChallange</h3>
<div>
↑の名をつけた。挑戦内容は</div>
<div>
<ol>
<li>21日で3000km以上走る</li>
<li>強度は問わない</li>
<li>走行する距離は2019年TDFの各ステージの距離に準拠する</li>
<li>ウェザープロトコルはあり得る</li>
</ol>
</div>
<div>
とした。</div>
<div>
<br /></div>
<div>
挑戦することで期待するものは</div>
<div>
<ol>
<li>筋力の向上</li>
<li>心肺機能の向上</li>
<li>バイクコントロール(ペダリングも含む)の向上</li>
<li>脂肪を利用した長距離移動</li>
</ol>
<div>
<br /></div>
</div>
<h3>
どうして挑むのか</h3>
<div>
グランフォンド世界選手権に出場することが目標になった。</div>
<div>
しかしFTP245wでは勝負にならない。そこでフィジカルを強化したいと考えていた。</div>
<div>
どうやら乗り込むことで調子を上げていくタイプの人間らしく2016年にロードバイクを購入してからほぼ毎日乗り込みを続けた結果7ヶ月後にFTP235wに到達していた。</div>
<div>
仕事を言い訳に練習をサボった結果パフォーマンスを大きく落としてしまったのでここでテコ入れする。</div>
<div>
<br />
<h3>
まとめ</h3>
</div>
<div>
僕が強くなる姿を特等席で見ているがよい！<br />
<br />
<table align="center" cellpadding="0" cellspacing="0" class="tr-caption-container" style="margin-left: auto; margin-right: auto; text-align: center;"><tbody>
<tr><td style="text-align: center;"><a href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEi9E8Z16u-7l4YLZIz7_mh14lqtgEcFnUz_HOEXFfyhsEEhT5j31u2mjFNoEzSeFJaXhKTT2yFTI4UvsZe42rIMU_isoE3LHPnN9694dSkCOG1gh06xFAaIF1MJISEo2ZO2sB-jW8UKlvs/s1600/IMG_20190817_164502.jpg" imageanchor="1" style="margin-left: auto; margin-right: auto;"><img border="0" height="240" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEi9E8Z16u-7l4YLZIz7_mh14lqtgEcFnUz_HOEXFfyhsEEhT5j31u2mjFNoEzSeFJaXhKTT2yFTI4UvsZe42rIMU_isoE3LHPnN9694dSkCOG1gh06xFAaIF1MJISEo2ZO2sB-jW8UKlvs/s320/IMG_20190817_164502.jpg" width="320" /></a></td></tr>
<tr><td class="tr-caption" style="text-align: center;">野外音楽堂でいい写真が撮れた</td></tr>
</tbody></table>
<br /></div>
</article>
</Layout>
