---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");

type CategoryCount = {
  name: string;
  count: number;
};
---

<Layout title="カテゴリー | My Blog">
  <h1>hello</h1>
</Layout>
