---
import Layout from "../../../../../layouts/ArticleLayout.astro";
const title = "GranfondoExtraStage レポート";
const description = "";
const thumbnail = "";
const labels = [];
---

<Layout title={title} labels={labels}>
  <article>
    <iframe
      allowtransparency="true"
      frameborder="0"
      height="405"
      scrolling="no"
      src="https://www.strava.com/activities/2766654758/embed/149e56d5d68bcee46c0dbc78ba423012561fcffb"
      width="590"
    >
    </iframe>

    <br />
    <br />
    オダックス近畿の片山さん、山本さんとエクストリーム淡路島ライド<br />
    なんでも来年のGranfondoシリーズ(獲得標高がぶっ壊れたブルベ)のコースの一部らしい<br
    />
    200kmという距離、凄まじい悪路、アングリルを彷彿とさせる最大勾配22%オーバーの激坂などGranfondoと呼ぶにふさわしいコースの振り返り記事<br
    />
    <br />
    <h4>&nbsp;夜明け前に始まり...</h4>
    <div>三宮駅に6時集合ということで朝の4時に起きて準備を行う。</div>
    <div>
      自走で行くか迷ったけど自走で行ってたらだめになってたかもしれないから輪行にして正解だった。
    </div>
    <div>
      <br />
    </div>
    <div>淡路島到着後、準備し出走。</div>
    <div>
      今日のコースは淡路島中央の山脈を延々登るので海岸沿いには行かずにまっすぐ山へ。
    </div>
    <div>
      心拍計はお釈迦になっているので感覚で体調を把握しつつ片山さんの後ろについてひたすら登る。
    </div>
    <div>
      少ない信号、適度な斜度、片山さんのペーシングとあって気持ちよく休むダンシングで登坂する。<br
      />
      <table
        align="center"
        cellpadding="0"
        cellspacing="0"
        class="tr-caption-container"
        style="margin-left: auto; margin-right: auto; text-align: center;"
      >
        <tbody>
          <tr>
            <td style="text-align: center;">
              <a
                href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiyFByuh3eL_GSD5whHPhywUhPd6T5rUA_DIxsiERpqO7EnAHs9tCmufraGSSA_ZMT3-hGtRRNhINtYDEkPa5zOLqiQO9XLWSB77hMIJOVpa7vvLr-2VjVUxgf4S7CNGrHt-VN33XO6mc8/s1600/a.png"
                imageanchor="1"
                style="margin-left: auto; margin-right: auto;"
              >
                <img
                  border="0"
                  data-original-height="260"
                  data-original-width="376"
                  height="221"
                  src="/public/images/2019/10/13/GranfondoExtraStage_レポート/0.png"
                  width="320"
                />
              </a>
            </td>
          </tr>
          <tr>
            <td class="tr-caption" style="text-align: center;"> この辺の話</td>
          </tr>
        </tbody>
      </table>
      <h4>
        <br />
        ミュールド摩耶
      </h4>
    </div>
    <div>最初に目指したのは摩耶山の展望台。</div>
    <div>
      ここは展望台前に最大勾配25%にもなるというとんでも激坂が待っていると聞いていた。
    </div>
    <div>
      基本的にアウターしか使わない自分も流石にビビってインナーを準備。<br />
      いざ激坂に差し掛かったときフロントが少し浮いてビビったので急加速。<br />
      ウイリーしないようにとにかく踏み続ける<br />
      別にスプリントしたわけでもないのに出力が急上昇したのでサイコンがスプリントを検出してピーピーなってたみたいだけどそんな音は耳にも届かず。<br
      />
      ただありったけの力でトルクを掛け続け登ると<br />
      KOMまで1秒に迫る迫真の登坂<br />
      <table
        align="center"
        cellpadding="0"
        cellspacing="0"
        class="tr-caption-container"
        style="margin-left: auto; margin-right: auto; text-align: center;"
      >
        <tbody>
          <tr>
            <td style="text-align: center;">
              <a
                href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEibqhA-IWvB4abQaOJ4Yb-H9YH8XZJKkeFMv5dfchQFGAq9dm43EyL4-e35Ppy7VnkRHuhb9UeLSUYKp4D8ufqoDXoVV-j8rUMUHL7nLsQX5BZZkjK92xGFrRtxssHL_HZCpFwRtL-Lrh4/s1600/s%252Cpng.png"
                imageanchor="1"
                style="margin-left: auto; margin-right: auto;"
              >
                <img
                  border="0"
                  data-original-height="808"
                  data-original-width="1600"
                  height="161"
                  src="/public/images/2019/10/13/GranfondoExtraStage_レポート/1.png"
                  width="320"
                />
              </a>
            </td>
          </tr>
          <tr>
            <td class="tr-caption" style="text-align: center;">
              途中で垂れなければ大きく記録を更新しただろうなぁと</td
            >
          </tr>
        </tbody>
      </table>
      <br />
      この区間で<b> 1分間の最大平均出力が414w</b>
      に到達する<br />
      GreatDistanceのときの出力を凌駕するパワーだ...<br />
      もしかして僕、激坂でもいける口なんですかね🤔<br />
      <br />
      <div class="separator" style="clear: both; text-align: center;">
        <a
          href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjYoNE6v66voIPqooDEBEZR2AiWRWjY8HypurnKW6RKCDWrbCwxoQA960mfSISQdhioGb-SCID4ZCYFVeWni7QMPDPz6s0diGxQSh1fPnREdlR6hMCzI5WqoY5prTfX4fU38TcdKYZmGYk/s1600/PANO_20191006_085459.jpg"
          imageanchor="1"
          style="margin-left: 1em; margin-right: 1em;"
        >
          <img
            border="0"
            data-original-height="1067"
            data-original-width="1600"
            height="213"
            src="/public/images/2019/10/13/GranfondoExtraStage_レポート/10.jpg"
            width="320"
          />
        </a>
      </div>
      <div class="separator" style="clear: both; text-align: center;">
        <br />
      </div>
      <div class="separator" style="clear: both; text-align: center;">
        <br />
      </div>
      <div style="clear: both; text-align: left;">
        このあとはサンセットラインをひたすら南下した
      </div>
      <div style="clear: both; text-align: left;">
        特に面白いことは無かったけど追い風が吹いたのでガンガン踏んだら40km/hを越えてた
      </div>
      <div style="clear: both; text-align: left;">
        <br />
      </div>
      <h3 style="clear: both; text-align: left;">お昼へ！</h3>
    </div>
    <div class="separator" style="clear: both; text-align: center;">
      <a
        href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEi2yxjkt3SXqllCCxToJ1_222cCf-FXuj-kmc1qsL2BcaFqdA4H1fJExjndgkUc4nCvuM1o8WCw7M0Y_B3PW3IAI6LMUh00nei64oWgHcGosqp0TIPpuRvwrypRX3hozEf5obm20B6Nqws/s1600/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-10-12+23.59.52.png"
        imageanchor="1"
        style="margin-left: 1em; margin-right: 1em;"
      >
        <img
          border="0"
          data-original-height="829"
          data-original-width="1600"
          height="165"
          src="/public/images/2019/10/13/GranfondoExtraStage_レポート/2.jpg"
          width="320"
        />
      </a>
    </div>
    <div>南あわじの丘陵地帯の登りもごりごり登る</div>
    <div>
      <br />
    </div>
    <div>
      片山さんが後ろから来てるというのもあって俄然気合が入った結果ずっと270w前後で踏んでいた。
    </div>
    <div>
      <br />
    </div>
    <div>やはり気持ちいいですね。</div>
    <div>
      Tarmacでpwr 5w/kg出したら気持ちよくなるガスでも出てくるんでしょうか
    </div>
    <div>
      <br />
    </div>
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr>
          <td style="text-align: center;">
            <a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjFDC01NMkWGoWmMSc9N9WjOOjxE2NrHrb0LQ1PyC06VMAhmXHvXK8OM49iaz3n1pLjSj2pkwj33nxPlIjO1beFIgUZBX9hjTEVmPlra3ZjNAdU7kVTvgNuLrqHVYw2SPVTtYu6mYJlZpM/s1600/IMG_20191006_121634.jpg"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
            >
              <img
                border="0"
                data-original-height="1200"
                data-original-width="1600"
                height="240"
                src="/public/images/2019/10/13/GranfondoExtraStage_レポート/3.png"
                width="320"
              />
            </a>
          </td>
        </tr>
        <tr>
          <td class="tr-caption" style="text-align: center;">
            店が混んでて大盛りにしてもらえなかったが美味しかった。<br />
            しかし一瞬で無くなったのでこのあとコンビニへ</td
          >
        </tr>
      </tbody>
    </table>
    <div>
      <br />
    </div>
    <h3></h3>
    <h3>Granfondoがそうである所以。淡路山脈へ</h3>
    <div>補給を終え、登りへ向かうライダーたち。</div>
    <div>
      <br />
    </div>
    <div>立川水仙郷の勾配は自分の脚にとてもあっていて200wで気持ちよく登る</div>
    <div>休むダンシングを織り交ぜて楽しいサイクリングが展開。</div>
    <div>
      <br />
    </div>
    <div>山頂で少し休んで下っていく。</div>
    <div>減速する片山さんに合わせて減速し、そして驚愕の事実を告げられる。</div>
    <div>
      <br />
    </div>
    <div>ここを登ると...</div>
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr>
          <td style="text-align: center;">
            <a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjKFi9ThA_TOrGzvsJ7P3g9fVsx6b1VulyEVAmzozrTF_Kbq46dauNdGSrf5QHPO6fYgYJhsDYqKyNqUMlqRl9jd2ZV5lyHfJh57LkXO0-lDMuu02ki4SFXGRCKHcECxihSk7WXvgVF8jk/s1600/IMG_20191006_141334.jpg"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
            >
              <img
                border="0"
                data-original-height="1600"
                data-original-width="1200"
                height="320"
                src="/public/images/2019/10/13/GranfondoExtraStage_レポート/4.jpg"
                width="240"
              />
            </a>
          </td>
        </tr>
        <tr>
          <td class="tr-caption" style="text-align: center;">
            最大勾配は23%近い<br />
            落ち葉、石ころ、鹿、猿、激坂のオンパレード<br />
            これはオンロードなのか?</td
          >
        </tr>
      </tbody>
    </table>
    <br />
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr>
          <td style="text-align: center;">
            <a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiT-66OAkAUlAsiTLvdubLtK0vLcKRjjPpTSBB8RkbOU4W6ASB-c6v06gSiY7K3IMCRO9nf-gFHGtkKFCtAXx9_UJf6C14f-3hfu9up48dSgQUsg7BKhG_rX8MbBZ4w4W9Lr9IIBEjVpQM/s1600/IMG_20191006_142219.jpg"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
            >
              <img
                border="0"
                data-original-height="1200"
                data-original-width="1600"
                height="240"
                src="/public/images/2019/10/13/GranfondoExtraStage_レポート/5.jpg"
                width="320"
              />
            </a>
          </td>
        </tr>
        <tr>
          <td class="tr-caption" style="text-align: center;">
            おお絶景！<br />
            なぜかここに休憩所があるけど誰が使うんだろう...🤔</td
          >
        </tr>
      </tbody>
    </table>
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr>
          <td style="text-align: center;">
            <a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEj21pqvzBjWq5aU8P8usHfcrbOMrks0b9K3GRgqC2o8cW_ez9xfYQIdD6N9r4pLJR7A6RNQW_7BektOU4Fqujz-FDghobOCtA2M0m1DWW2GdEMLoKUCfghsN4L7qOEKVsQZan9kWh8pzII/s1600/IMG_20191006_143712.jpg"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
            >
              <img
                border="0"
                data-original-height="1200"
                data-original-width="1600"
                height="240"
                src="/public/images/2019/10/13/GranfondoExtraStage_レポート/6.jpg"
                width="320"
              />
            </a>
          </td>
        </tr>
        <tr>
          <td class="tr-caption" style="text-align: center;">
            この路面で22%の勾配...</td
          >
        </tr>
      </tbody>
    </table>
    <br />
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr>
          <td style="text-align: center;">
            <a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjE76Ol1UC9QZpL-KmEWlJA2-o7eghAka7ph0IM53LoXrL-4Ac_r6jklQ5C9bzgnPvJhJ-QtTlRBCQR2tB9LCgilzvbAoycezoOotpDYeYYl9ZT99Htjz-DBf91F5hSDABoOwEhSy_2nQM/s1600/IMG_20191006_150508.jpg"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
            >
              <img
                border="0"
                data-original-height="1200"
                data-original-width="1600"
                height="240"
                src="/public/images/2019/10/13/GranfondoExtraStage_レポート/7.jpg"
                width="320"
              />
            </a>
          </td>
        </tr>
        <tr>
          <td class="tr-caption" style="text-align: center;">
            片山さんはパンクを乗り越え登坂再開<br />
            山頂付近は本当に絶景</td
          >
        </tr>
      </tbody>
    </table>
    <div>柏原山を登ると長い下りを経て洲本へ</div>
    <div>下りは...寒かったぞ...</div>
    <div>
      <br />
    </div>
    <div>このあとも幾多の激坂を乗り越え無事に完走(写真はない)</div>
    <div>
      <br />
    </div>
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr>
          <td style="text-align: center;">
            <a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhVaHid9uyFdz843wYfU0l8vUAZZlhU8fh3kKtUQnolS9gFcOoQ3RGHPqyumQFHFqLqud6h95iTLZ8F4zt5lw9gJf83pB4Wnu8uLp8TgNMsuIyoI9tqBbd5eYHoKkNQqEj_Jk4IDxWoo1A/s1600/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-10-06+22.51.02.png"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
            >
              <img
                border="0"
                data-original-height="464"
                data-original-width="936"
                height="158"
                src="/public/images/2019/10/13/GranfondoExtraStage_レポート/8.jpg"
                width="320"
              />
            </a>
          </td>
        </tr>
        <tr>
          <td class="tr-caption" style="text-align: center;">
            下がり続けていたCTL一気に跳ねて119へ</td
          >
        </tr>
      </tbody>
    </table>
    <div>
      温泉につかったあとはみんなで焼き肉へ！<br />
      <div class="separator" style="clear: both; text-align: center;">
        <a
          href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiEf7tUaX632G5Dpf5mQB171ajwMWaJIOh0m9vztG4OJvGpGYRPCKtX_WCK35c8hRh10pNTGCNlNLePdfFxLDFx5WC5CAGf2hGf_2grQZHOMJ5URR5s3LEsGwF0k1Ywc9msV-ySlRhjjHY/s1600/IMG_20191006_190025.jpg"
          imageanchor="1"
          style="margin-left: 1em; margin-right: 1em;"
        >
          <img
            border="0"
            data-original-height="1600"
            data-original-width="1200"
            height="320"
            src="/public/images/2019/10/13/GranfondoExtraStage_レポート/9.png"
            width="240"
          />
        </a>
      </div>
      しこたま食った<br />
      ハンガーノックになってたから本当にありがたかった...<br />
      <br />
      <b> ライドにお誘い下さった片山さん、山本さんありがとうございました！</b>
    </div>
  </article>
</Layout>
