---
import Layout from "../../../../../layouts/ArticleLayout.astro";
const title = "BRM111神戸 AllRoad 300km(前篇)";
const description = "";
const thumbnail = "";
const labels = [];
---

<Layout title={title} labels={labels}>
  <article>
    <br />
    &nbsp; &nbsp;<iframe
      allowtransparency="true"
      frameborder="0"
      height="405"
      scrolling="no"
      src="https://www.strava.com/activities/3002009057/embed/3f3a4528ac549fe96c12ab63f916e4fa0074bd99"
      width="590"
    >
    </iframe>
    <br />
    AllReadシリーズはオダックス近畿神戸班主催の超級ブルベ(僕基準)だ！<br />
    他の参加者からも<b> [淡路惨脈] [death road] [淡路島に収監/脱獄] [獄長]</b>
    などおよそブルベとには思えないパワーワードが飛びまくる阿鼻叫喚のコース！<br
    />
    (それでも獄長(主催者)のお言葉では完走率70%の<b> "普通"</b>
    のブルベらしい...🤔)<br />
    <br />
    300km/制限時間20時間以内に神戸を出発して再度山を攻略しフェリーで淡路島に上陸。<br
    />
    <br />
    淡路島の美しい海岸を走ることはあまりなくただひたすら中央山脈を突き抜け落ち葉と瓦礫の激坂を登攀する修行...<br
    />
    <br />
    この世の地獄みたいなブルベに参加してきたのでその話を書くよ！<br />
    <br />
    <br />
    <h3>事前準備</h3>
    <div>
      <blockquote class="twitter-tweet">
        <div dir="ltr" lang="ja">
          ミネラル補給とペースコントロールに気を付けなよ！
        </div>
        — かたやまたいすけ＠HAT神戸 (@caymanchang) <a
          href="https://twitter.com/caymanchang/status/1215596533334200325?ref_src=twsrc%5Etfw"
        >
          January 10, 2020</a
        >
      </blockquote>
      <script
        async=""
        charset="utf-8"
        src="https://platform.twitter.com/widgets.js"></script>
    </div>
    獄長からありがたいアドバイスを頂いたので補給戦略を考えることに。<br />
    <br />
    今回のコースでは200km前後で10%以上の勾配を数km延々登る区間が2回も登場する。<br
    />
    がれた山道、激坂、夜道、何も起きないはずはないのでなんとか夜までに攻略したい。<br
    />
    <br />
    攻略するためにはなるべく早く走ること、立ち止まる回数を減らすことが一番。<br
    />
    <br />
    だからぼくの考える補給戦略は...<br />
    <br />
    <blockquote class="twitter-tweet">
      <div dir="ltr" lang="ja">
        補給用のブラックサンダーも17個買ってあるから止まる回数も減らす<br />
        柏原山さえこなせばあとはなんとでもなるはず
      </div>
      — UGo (@gr8distance) <a
        href="https://twitter.com/gr8distance/status/1215591610995490816?ref_src=twsrc%5Etfw"
      >
        January 10, 2020</a
      >
    </blockquote>
    <div>
      とにかく大量の補給食とともに走ることで停車する回数を減らすことにした。
    </div>
    <div>平坦は大事、銀河英雄伝説でも学んだことですよ！</div>
    <div>
      <br />
    </div>
    <h3>電車がない</h3>
    <div>
      このブルベ、スタート地点が神戸で、スタート時間が5:00か5:30である。
    </div>
    <div>
      僕は5:30スタートを選択したんだけどこの時間に神戸につける電車はない。
    </div>
    <div>
      <br />
    </div>
    <div>
      前日神戸に行ってネカフェで休むことも考えたけどバタバタしてあまり休めないだろうと思ったので3時まで寝て自走で神戸に向かうことに。
    </div>
    <div>
      自走することにしたのは前述の通りだがもう一つ輪行袋を携行したくなかったというのも大きい。あれはかさばるから...
    </div>
    <div>
      <br />
    </div>
    <div>
      距離にして30km、信号は多いが1時間半ほど走れば十分に到着できる。なので3:30に家を出ることに。
    </div>
    <div>
      今日のコースは<a
        href="https://blog.great-distance.com/2019/10/granfondoextrastage.html"
      >
        昨年も走っている(こちらのブログを参照ください)</a
      >
      ため淡路島がいかにデンジャーか理解している。
    </div>
    <div>
      なのでブルベと関係ないところで足を使わないように30km/hくらいの速度で走ることに。
    </div>
    <div>
      予想に反して暖かく、風も強くなかったので受付開始してすぐくらいに神戸に到着できた！
    </div>
    <div>
      <table
        align="center"
        cellpadding="0"
        cellspacing="0"
        class="tr-caption-container"
        style="margin-left: auto; margin-right: auto; text-align: center;"
      >
        <tbody>
          <tr>
            <td style="text-align: center;">
              <a
                href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhqf6aWxjPZztA8brIHaBYqwbd2MxCBtPD1sgtksDdldfpjWpoKgYNl4OutJgghRC3zs3w1P64oQ45DqQTc06BXtspilT4j9kgR3A5elPG5Cqq2kOOmVMzcPx88Ob4o9qAR0ZaF7z9DzD4/s1600/IMG_20200111_050603.jpg"
                imageanchor="1"
                style="margin-left: auto; margin-right: auto;"
              >
                <img
                  border="0"
                  data-original-height="1200"
                  data-original-width="1600"
                  height="240"
                  src="/public/images/2020/01/15/BRM111神戸_AllRoad_300km(前篇)/0.jpg"
                  width="320"
                />
              </a>
            </td>
          </tr>
          <tr>
            <td class="tr-caption" style="text-align: center;">
              なぎさ公園は迷路みたいになっててどこが受付かほんとにわからんかった</td
            >
          </tr>
        </tbody>
      </table>
      <br />
    </div>
    <h3>再度山HC</h3>
    <div>開始早々、みんなすごい飛ばしていく。</div>
    <div>
      多分一本でも早いフェリーに乗りたいんだろうなぁと思いつつ、僕も淡路島の激坂は日暮れまでに攻略したいと思っていたので乗っかって走ることに。
    </div>
    <div>
      <br />
    </div>
    <div>乗っかったはいいけど10%前後の勾配を270wで踏み続けることに...</div>
    <div>
      もしかしてこれ、レースなんじゃないですかね？なんて思いながら心拍数は170近くを延々記録し続ける。
    </div>
    <div>
      <br />
    </div>
    <div>
      根性で踏み続けたら全員千切ってしまったので通過チェックの場所を確認したかったので立ち止まりキューシートを眺めて待つことに。
    </div>
    <div>しばらくしたら何人かに抜かれていったので追走開始</div>
    <div>
      <br />
    </div>
    <div>
      追いついて先頭交代に加わってグルペットを引いてたら途中で後ろから「ずっとこのペースで行くんですか？」という声が聞こえて振り返るとなんとこのブルベが人生初ブルベという
      <b style="text-decoration-line: line-through;"> 変態</b>
      &nbsp;強者からの質問が。
    </div>
    <div>
      <br />
    </div>
    <div>
      「日暮れまでに山を攻略したいのでそこまではこのペースで行きます」と返して前を走り続けることに。
    </div>
    <div>
      <br />
    </div>
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr>
          <td style="text-align: center;">
            <a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjxHduhJd3f8ExGv6FdzlJ4L3sZQ9Gl7gu6cNCN1eoGnd_syY2JdmUAPg3-LHmY5tBqRQ6DxuUYgDtm2ohCIm_Dcf9-1zP4UdiOwQGbzpZmEPCtieyBW9SOdeC80MzUcNGYDGKGAU4moHQ/s1600/IMG_20200111_060451.jpg"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
            >
              <img
                border="0"
                data-original-height="1600"
                data-original-width="1200"
                height="320"
                src="/public/images/2020/01/15/BRM111神戸_AllRoad_300km(前篇)/1.jpg"
                width="240"
              />
            </a>
          </td>
        </tr>
        <tr>
          <td class="tr-caption" style="text-align: center;">
            最初の通過チェック<br />
            SWORKSがシャイニーしてるの久しぶりに見た</td
          >
        </tr>
      </tbody>
    </table>
    <div>
      <br />
    </div>
    <h3>明石港~淡路島へ</h3>
    <div>
      だいぶ急いで走ったけども5分ほど前に淡路行きの船が出てしまってる...
    </div>
    <div>
      <br />
    </div>
    <div>
      次の船は25分後ということでツールボックスに忍ばせてきたバッテリーでサイコンを充電することに。
    </div>
    <div>
      <br />
    </div>
    <div>港で待ってると数人が港に到着。</div>
    <div>
      これだったらもうちょっとゆっくり走っても良かったかもと思いつつフェリーの時間を調べてなかった自分の準備不足を呪う。
    </div>
    <div>
      <br />
      ブラックサンダーを貪りながらサイコンのバッテリーの回復を待ち、PC2の証明となっている時計の写真を撮影する<br
      />
      <br />
      <div class="separator" style="clear: both; text-align: center;">
        <a
          href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhDUaA-3wbLxgAJhe0HRG0vXs8wuVWRzvrVfk5JswIhKCRNDTvV-ucOWXOBbFRaJLqmW1Nd-vN30W44MoKsOI_X1491be1OJ9bYIwtY8awOkUaw8ZOXjD8R7VvaiyjEFP3BG07uec_yGM0/s1600/IMG_20200111_081930.jpg"
          imageanchor="1"
          style="margin-left: 1em; margin-right: 1em;"
        >
          <img
            border="0"
            data-original-height="1600"
            data-original-width="1200"
            height="320"
            src="/public/images/2020/01/15/BRM111神戸_AllRoad_300km(前篇)/2.jpg"
            width="240"
          />
        </a>
      </div>
      <br />
      ブラックサンダーを3個ほど腹に収めたあたりで船が淡路島に到着、<br />
      <br />
      早速おりてバッテリーをツールボックスに直しせっかくなので淡路島到着写真を撮影してからいそいそと走り始める<br
      />
      <table
        align="center"
        cellpadding="0"
        cellspacing="0"
        class="tr-caption-container"
        style="margin-left: auto; margin-right: auto; text-align: center;"
      >
        <tbody>
          <tr>
            <td style="text-align: center;">
              <a
                href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjlqopvliO1e0_Grw4duf7k0AWZ6t8m91CTM2W8WXs2MNHgMxRONMVDM_7CZCbaxS-BzeUOIfXmsVhn0a60tYiwZKCWp569DPhOdwdOBXvzQaCDcbFFkF7ra_M8MK48UVzOKarA36d0k80/s1600/IMG_20200111_232314_847.jpg"
                imageanchor="1"
                style="margin-left: auto; margin-right: auto;"
              >
                <img
                  border="0"
                  data-original-height="1080"
                  data-original-width="1080"
                  height="320"
                  src="/public/images/2020/01/15/BRM111神戸_AllRoad_300km(前篇)/3.jpg"
                  width="320"
                />
              </a>
            </td>
          </tr>
          <tr>
            <td class="tr-caption" style="text-align: center;">
              となりのTarmacはTさんの愛車。<br />
              去年オダックス近畿のブルベで一番距離を走ったらしい...<br />
              すごい...</td
            >
          </tr>
        </tbody>
      </table>
      ちなみにここまででTSSは200に到達していた...<br />
      <br />
      <h3>いきなり摩耶山に敗北する</h3>
    </div>
    <div>補給しながら淡路中央山脈を登攀する。</div>
    <div>
      <br />
    </div>
    <div>緩斜面や下りなどでは速度を上げながら走るも足に力が入らない...</div>
    <div>
      <br />
    </div>
    <div>あ、補給が足んないんすね...</div>
    <div>
      足が回らないので登り返しがきつい。インナーローに入れたり休むダンシングをしながら無心でペダルを回し続ける。
    </div>
    <div>
      <br />
    </div>
    <div>
      摩耶山こんなに遠かったっけ？と思っていたら前方にちょこちょこ5:00出走組が見えはじめる。
    </div>
    <div>
      足は回らないけど回らんなりに走ってたら後ろを捉え始めたみたいだ<br />
      <br />
      5:00組を3人ほど抜いたところで摩耶山へ到達。<br />
      実はタイムを更新してKOMを頂こうと思っていたので登り口からフルパワーで踏むと膝から「バキィ！」という音が...<br
      />
      無理したらDNFになる！と思ったのですかさずクリートを外して山頂まで押して登ることに...<br
      />
      <br />
      KOM更新どころか屈辱の押し歩き...<br />
      <br />
      山頂についたらそそくさと帰るつもりだったけどどうせ押し歩きしてクリートがぼろぼろなんだからもういいかと思い展望台まで上がってきた(´・ω・｀)<br
      />
      クリートに泥が詰まって取れなくなったけどね<br />
      <table
        align="center"
        cellpadding="0"
        cellspacing="0"
        class="tr-caption-container"
        style="margin-left: auto; margin-right: auto; text-align: center;"
      >
        <tbody>
          <tr>
            <td style="text-align: center;">
              <a
                href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhMgumBpOuM8KuaTVdpCxJtCOmaUxXhGgx-A1oWdjJthsMKH1-i8PtA2LJBBAaTpmnq3fYWPhB4OMIqYa_S_ixGr_gHYoBAuAOaCY1DwMLIGGi_9MIahtg8vFCoBZTU_Lhyphenhyphen1TEqkllhJGs/s1600/IMG_20200111_101653.jpg"
                imageanchor="1"
                style="margin-left: auto; margin-right: auto;"
              >
                <img
                  border="0"
                  data-original-height="1200"
                  data-original-width="1600"
                  height="240"
                  src="/public/images/2020/01/15/BRM111神戸_AllRoad_300km(前篇)/4.jpg"
                  width="320"
                />
              </a>
            </td>
          </tr>
          <tr>
            <td class="tr-caption" style="text-align: center;">
              300kmを走るにしては少ない荷物だけど登攀距離があれなので軽量化<br
              />
              これで9kgくらいだったような気がする</td
            >
          </tr>
        </tbody>
      </table>
      長いので<a
        href="https://blog.great-distance.com/2020/01/brm111-allroad-300km_16.html"
      >
        後編</a
      >
      へ
    </div>
  </article>
</Layout>
