<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "TITLE" %>

    <meta name="description" content="好きこそものの上手なれ" />

    <meta property="og:title" content={} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://gr8distance.com/" />
    <meta property="og:image" content="https://gr8distance.com/images/ogp.png" />
    <meta property="og:description" content="好きこそものの上手なれ" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@gr8distance" />
    <meta name="twitter:creator" content="@gr8distance" />
    <meta name="twitter:title" content="gr8distance.com" />
    <meta name="twitter:image" content="https://gr8distance.com/img/ogp.png" />
    <meta name="twitter:description" content="好きこそものの上手なれ" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
    <%= render "analytics.html" %>
  </head>
  <body class="bg-gray-900 text-white">
    <%= render "header.html" %>
    <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
    <%= @inner_content %>
    </div>
    <%= render "footer.html" %>
  </body>
</html>
