<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "TITLE" %>

    <meta name="description" content="DESCRIPTION" />

    <meta property="og:title" content="gr8distance.REPLACE_ME" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://DOMAIN/" />
    <meta property="og:image" content="https://DOMAIN/images/ogp.png" />
    <meta property="og:description" content="DESCRIPTION" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@gr8distance" />
    <meta name="twitter:creator" content="@gr8distance" />
    <meta name="twitter:title" content="DOMAIN" />
    <meta name="twitter:image" content="https://DOMAIN/img/ogp.png" />
    <meta name="twitter:description" content="DESCRIPTION" />

    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body class="bg-gray-900 text-white">
    <%= render "header.html" %>
    <%= @inner_content %>
  </body>
</html>
