---
import Layout from "../../../../../layouts/ArticleLayout.astro";
const title = "内浦400(後編)";
const description = "";
const thumbnail = "";
const labels = [];
---

<Layout title={title} labels={labels}>
  <article>
    <div
      class="strava-embed-placeholder"
      data-embed-id="7933613807"
      data-embed-type="activity"
    >
    </div><script src="https://strava-embeds.com/embed.js"></script>

    <div><br /></div><div><br /></div><div>
      ラブライブの聖地を巡る400kmの旅の後半戦書いていきますよ！
    </div><div><br /></div><h4 style="text-align: left;">PC2~PC3まで</h4><div>
      PC2からも下り基調。
    </div><div>
      出発早々、みらくるさんに先頭をお願いしたら快く引き受けてくれたので後ろについて少し休憩。
    </div><div>
      35km/h前後で走ってくれるし道も間違えないのでとんでもない安心感がありますよこれは！
    </div><div><br /></div><div>
      PC2~PC3までの距離はだいたい50km、信号込みでも2時間程度の距離なので5kmに一回くらいの頻度で先頭を交代しつつ走るなど速度と回復を織り交ぜる走りを試しながら進んでいく。
    </div><div>
      信号は豊富で車も少なくはないがそれでも２1時を回ってからはだいぶマシだ。
    </div><div><br /></div><div>PC3は待望の神田明神が待っている。</div><div>
      気がつけば東京に戻り首都を自転車で走っているという謎の高揚感も相まって車の怖さはそこまで感じない。
    </div><div><br /></div><div>
      ハイソな感じの土地を走っていたなと思ったらPC3のコンビニが出てきた。
    </div><div>
      みらくるさんと神田明神はすぐ近くなので写真を撮りましょうという話をしつつ休憩。
    </div><div>
      持っていたおにぎりを2つほど食べたり水を補給したりして再出発。の前に写真撮影！！<br
      /><br /><table
        align="center"
        cellpadding="0"
        cellspacing="0"
        class="tr-caption-container"
        style="margin-left: auto; margin-right: auto;"
      >
        <tbody
          ><tr
            ><td style="text-align: center;"
              ><a
                href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgukgNR6RjDVeAnAzQ4trbt6EwWchZEfpoU8NN5cBvTUL2EjZNtDAWoS_SD9fgobcykS3nmX4mV0IYI8g-YWyXf-Muu6lIAxXQUYE3plbWi757B6-cCNg470_UZxQ2eGM2kRyfUc1k04Bmo37XvB-xVzutKqcKJ3YOaUKRbJU97_3jIgVyXH86pY-6D/s1531/IMG_3945.jpg"
                style="margin-left: auto; margin-right: auto;"
                ><img
                  border="0"
                  data-original-height="1148"
                  data-original-width="1531"
                  height="240"
                  src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgukgNR6RjDVeAnAzQ4trbt6EwWchZEfpoU8NN5cBvTUL2EjZNtDAWoS_SD9fgobcykS3nmX4mV0IYI8g-YWyXf-Muu6lIAxXQUYE3plbWi757B6-cCNg470_UZxQ2eGM2kRyfUc1k04Bmo37XvB-xVzutKqcKJ3YOaUKRbJU97_3jIgVyXH86pY-6D/s320/IMG_3945.jpg"
                  width="320"
                /></a
              ></td
            ></tr
          ><tr
            ><td class="tr-caption" style="text-align: center;"
              >なんと言っても始まりの地みたいなところですよねここは。</td
            ></tr
          ></tbody>
      </table>
    </div><div><br /></div><div>
      神田明神はPC3のすぐ近くにあった。もし徒歩できてたなら階段ダッシュ勢になったかもしれないがここまでの走行距離は200km。出発から11時間半が経過しそんな余裕は無い。
    </div><div>坂を下って速やかに正規ルートに戻る。</div><div><br /></div><h4
      style="text-align: left;"
    >
      閑話休題:スポーツ遺伝子の存在証明
    </h4><div>
      みらくるさんとはもともとTwitterでは相互フォローではあったものの、たまたま西伊豆町を走ってた時に偶然すれ違いそのまま西伊豆スカイラインまで登って沼津に帰るという知り合い方をしている。
    </div><div>
      自転車を初めて何年も経っているという訳ではないそうだが知り合ったときにはすでにとんでもない登坂力を持っておられた。
    </div><div><br /></div><div>
      僕が西伊豆スカイラインまで必死になって登っている時に余裕そうに登っているのを目撃して戦慄を覚えたまであるw
    </div><div><br /></div><div>
      いろいろなレースに参戦されており、レース勢かと思いきや距離も伸ばしたいという人でロングライドにも貪欲。
    </div><div>
      またたく間に富士ヒルでシルバーを獲得しつつ1スティント300km超えを狙うモンスター。
    </div><div><br /></div><div>
      もしスポーツ遺伝子の存在を証明せよと言われたらみらくるさんの話をするだろうと思う。
    </div><div><br /></div><h4 style="text-align: left;">
      PC3~PC4(神田明神~鎌倉)
    </h4><div>
      実は神田明神につくまでにみらくるさんにお願いしていた事がある。それはPC3~PC4まで先頭一本引きするのでPC4~根府川まで先頭一本引きお願いします！というもの。
    </div><div><br /></div><div>
      なんでそんなお願いをしたかというと僕は登りがくっそ遅いからなんですねぇ。
    </div><div>
      神田明神から根府川までは基本的に平坦基調。なのでそこまでは先頭を走っても何の問題もない。ところが根府川からはギザギザのコースプロフィールに早変わりしてしまう。
    </div><div>
      もし根府川までの平坦路を頑張ってしまったら確実に最後の登り区間で撃沈してしまう。
    </div><div><br /></div><div>
      <b
        >根府川の時点でそれなりに体力を回復させておかないと伊東のどこかで詰む。</b>
    </div><div><br /></div><div>
      ということでみらくるさんにお願いしたらまたも快諾いただいた(感謝)ので鎌倉まで先頭を走る。
    </div><div>鎌倉からはおまかせなのでそれなりの速度は維持する。</div><div>
      どうにか平均でも25km/h以上はキープして走ることができていたがPC4まで9kmの辺りでハンガーノック気味に。
    </div><div>
      お腹が空き始めても30kmくらいは走れるので良いのだが、それでも250km走った後のハンガーノックは超きつい(走れるけど)
    </div><div>
      それもあってPC4ではガッツリどん兵衛を食べたり多分30分ほど大休止を取らせてもらった。
    </div><div><br /></div><div>
      どん兵衛はちょっと油が多すぎて気持ち悪くなったんだけどこのあとはしばらくミラクルさんに介護してもらえるから...ギリギリセーフということと気温も14℃と冷えてきたので再出発をすることに。
    </div><div><br /></div><div>
      冷えたあとの再出発の筋肉ってどうしてあんなに重たい感じがするんだろうなぁ...とか感じつつミラクルスピードの牽引が始まったので修行のときが始まったのであった。。。
    </div><div><br /></div><div><h4>PC4~通過チェック(根府川駅)</h4></div><div>
      鎌倉から根府川まではだいたい平坦。時間も深夜で信号もバカになっており原則の必要が減っている。という事情はあるのだけどミラクルさんはこの区間を平均29km/hで走ってる。
    </div><div>
      <table
        align="center"
        cellpadding="0"
        cellspacing="0"
        class="tr-caption-container"
        style="margin-left: auto; margin-right: auto;"
      >
        <tbody
          ><tr
            ><td style="text-align: center;"
              ><a
                href="https://blogger.googleusercontent.com/img/a/AVvXsEi2Hdycx1s47Q9yrlbS1dHp4l2xXX7XQN1PPBkEgV1z11Yq3ChP7p3H_4lRRHhyUzkKn5COeS6qBIHTloT5UE9kmzpt4F_Ph4RHs12nsmef1Pol-qkQGQCsRpZH7ucUqugFTyD4SVz4-CgYmxkcO3u7Sgyipgn6xveUUmaOaPHPRlRsZyGuGhbydACo"
                style="margin-left: auto; margin-right: auto;"
                ><img
                  alt=""
                  data-original-height="136"
                  data-original-width="1656"
                  height="26"
                  src="https://blogger.googleusercontent.com/img/a/AVvXsEi2Hdycx1s47Q9yrlbS1dHp4l2xXX7XQN1PPBkEgV1z11Yq3ChP7p3H_4lRRHhyUzkKn5COeS6qBIHTloT5UE9kmzpt4F_Ph4RHs12nsmef1Pol-qkQGQCsRpZH7ucUqugFTyD4SVz4-CgYmxkcO3u7Sgyipgn6xveUUmaOaPHPRlRsZyGuGhbydACo"
                  width="320"
                /></a
              ></td
            ></tr
          ><tr
            ><td class="tr-caption" style="text-align: center;"
              ><div style="text-align: left;">
                250km走ってこの脚ですよ。彼どうなってんねんw
              </div><div style="text-align: left;"></div></td
            ></tr
          ></tbody>
      </table><br />
    </div><div>
      とんでもない速さで信号からの再加速はクリテリウムのコーナーの立ち上がり。離されないように原則のたびにヒヤヒヤダンシングw
    </div><div>
      とはいえツキイチなので心拍も下がるし出力も下がるし圧倒的に楽なのでただただ後輪から離されないことだけを考えて走る。
    </div><div><br /></div><div>
      真っ暗闇で明かりが4つ、ほとんど記憶も無いままに気がつけば真鶴を抜けて根府川駅へ到着。
    </div><div>
      <table
        align="center"
        cellpadding="0"
        cellspacing="0"
        class="tr-caption-container"
        style="margin-left: auto; margin-right: auto;"
      >
        <tbody
          ><tr
            ><td style="text-align: center;"
              ><a
                href="https://blogger.googleusercontent.com/img/a/AVvXsEjbBMMPE392tF2uojApvxXF1f1av_Gl_LFwuC8dBh3N59K4wbNpQ3ZTz1a0byWXgnIBXz5bfrqDBMvlfdOIxSiKfe5qTass7v898tVinCdGR89qa-3azUhdj-vGLWiHbCkPUeBouovxi8K1MO_p6bs7fHkUnPfRKCVqXMJu_oPFmUTBXXOOO_K_T8P_"
                style="margin-left: auto; margin-right: auto;"
                ><img
                  alt=""
                  data-original-height="1148"
                  data-original-width="1531"
                  height="240"
                  src="https://blogger.googleusercontent.com/img/a/AVvXsEjbBMMPE392tF2uojApvxXF1f1av_Gl_LFwuC8dBh3N59K4wbNpQ3ZTz1a0byWXgnIBXz5bfrqDBMvlfdOIxSiKfe5qTass7v898tVinCdGR89qa-3azUhdj-vGLWiHbCkPUeBouovxi8K1MO_p6bs7fHkUnPfRKCVqXMJu_oPFmUTBXXOOO_K_T8P_"
                  width="320"
                /></a
              ></td
            ></tr
          ><tr
            ><td class="tr-caption" style="text-align: center;"
              >もう1時間も待っていれば電車が動く。これに乗って帰りたかったw</td
            ></tr
          ></tbody>
      </table>
    </div><div><br /></div><div>
      ほんとに早かったんですがこのペースで登られると僕が千切れること確定なんで登りに入ったら前に出させてもらう。
    </div><div>
      根府川でおにぎりを食しPC5への道を進み始めることになった。<br /><br />
    </div><h4 style="text-align: left;">根府川駅~熱海</h4><div>
      そもそも根府川あたりからそうなんだけど伊豆半島ギザギザですよ。
    </div><div>
      それが伊豆半島に帰ってきたんだなということを教えてくれるものでもありつつ、300km走ってきてのこれは脚に堪える。もはや拷問何じゃないかと思うレベルの苦しみをくれますねぇ...
    </div><div><br /></div><div>
      時刻は深夜4時、普段は通るのが怖い道も車は殆どいないので走りやすいけど真っ暗な道も登りも辛い。ここから西伊豆スカイラインまではずっとこれが続く。
    </div><div><br /></div><div>
      だがこの登りがギリギリで眠気を覚ましてくれていた最後の要素でもあった!
    </div><div><br /></div><div>
      熱海を目前に最後の登りを終えたときについに睡魔が限界に到達。
    </div><div>
      目は開いてるが前は見えない。意識が途切れ、路肩が見えたり見えなかったりする。
    </div><div><br /></div><div>
      こういうのは意識があるうちに止まらないとダメなので熱海まで下ったところで停車の合図を出してミラクルさんにも止まっていただき眠気が限界なことをお伝えし仮眠を取ると宣言します。
    </div><div>
      その時はいますぐ寝たかったので歩道で大の字になって自転車を掛け布団に眠るつもりだったのですが歩道5m脇に公園があることにミラクルさんが気づいてくれたので公園のベンチでゴロン。
    </div><div>
      目を閉じて心臓の高鳴りを鎮めるために深呼吸を数回、危険な領域に突入した睡魔が意識を連れて行ってしまう。。。
    </div><div><br /></div><h4 style="text-align: left;">熱海~PC5</h4><div>
      誰かに追い抜かされる夢を見て飛び起きる。東から差し込むオレンジの朝日。時間を見ると10分ほど眠れたらしい。眠気が消えてスッキリした頭になった。
    </div><div>ちょうどミラクルさんも起きてこられたので再出発。</div><div>
      伊東は目前、停車してしまったのもあって再び私が先頭を走る。
    </div><div><br /></div><div>
      丘を２つほどこえ、そんなに早いわけでもないがPC6までは1時間ほどで到着。
    </div><div><br /></div><div>
      ここからの道は実は試走で2週連続で走っており道に迷うということはない。
    </div><div>
      土肥駐車場までは2時間程度、ゴールまでは3時間くらいだろうか？とか試算しつつコンビニで補給する。もうここまで来ると固形物を食べるのが面倒になってくるのでウィダーインゼリーを買って虫のようにチュウチュウする。
    </div><div>
      ついでにここで人生初のコンビニでコーヒーを購入、ブラックコーヒーのカフェインを取り込み眠気を始末しつつ、ウィダーインゼリーで冷えた体をちょっとあっためる。
    </div><div><br /></div><div>
      15分ほどの休憩の後、ついに内浦400の核心部に突撃する。
    </div><div><br /></div><h4 style="text-align: left;">PC5~土肥駐車場</h4><div
    >
      最初の山場は伊東から中伊豆に抜ける山道である。
    </div><div>
      とはいえこの山は標高300mも無いくらいの小さい山。勾配も大したことは無いのは二度の試走で確認済み。
    </div><div>
      さすがに330km分の疲労感はあるものの補給も済んだばかりというのもあって20分ほどで攻略を完了。ここからしばらくは下り区間。登りの前に脱いだGORE-TEXのジャケットを着用して下り始める。
    </div><div>
      早朝なので野生動物によるファッキン無理凸だけ心配だが特に心配もなくセーフティファーストで下りを終える。
    </div><div>ここからは狩野ドームを経て西伊豆への無理凸が始まる。</div><div>
      事前に狩野ドームの少し先が最後のコンビニであること、試走でも把握していたこともあり燃料切れにならないようにコンビニ休憩を取る。
    </div><div>
      ウィダーインゼリーを2つ流し込み、お守りウィダーをポッケに忍ばせ、トイレ休憩も終わったところで次なるフォトスポット、土肥駐車場への登攀を開始する。
    </div><div><br /></div><div>
      疲れて9km走るのに1時間近く掛けて登る。横を見ればミラクルさんが軽快に登っているのが見える。離されると終わりなのでなけなしの脚力と胴体でペダルを押し込んで登っていく。
    </div><div>
      ペダルは1秒に1回踏み込むので精一杯という状況でこの時間が1時間20分も続いた。
    </div><div>
      <table
        align="center"
        cellpadding="0"
        cellspacing="0"
        class="tr-caption-container"
        style="margin-left: auto; margin-right: auto;"
      >
        <tbody
          ><tr
            ><td style="text-align: center;"
              ><a
                href="https://blogger.googleusercontent.com/img/a/AVvXsEghJBkJ4-FzugbvlIjDdV3QPVq8s162Ep7Usc7JLlA1vO2jnHM1v4AmLVY0-aJWoVGZ_No6T1rGPknnP9_15DFCKGXXsWhOCcGZxMDgXSdVNvgPPMTaB1J5Wsaas-fVZdFcsHeK040j7fkzz_Xztt-n-eTb_eID1bgB9ueqF_SC9bfI4_-a4W0e8l85"
                style="margin-left: auto; margin-right: auto;"
                ><img
                  alt=""
                  data-original-height="1148"
                  data-original-width="861"
                  height="240"
                  src="https://blogger.googleusercontent.com/img/a/AVvXsEghJBkJ4-FzugbvlIjDdV3QPVq8s162Ep7Usc7JLlA1vO2jnHM1v4AmLVY0-aJWoVGZ_No6T1rGPknnP9_15DFCKGXXsWhOCcGZxMDgXSdVNvgPPMTaB1J5Wsaas-fVZdFcsHeK040j7fkzz_Xztt-n-eTb_eID1bgB9ueqF_SC9bfI4_-a4W0e8l85"
                  width="180"
                /></a
              ></td
            ></tr
          ><tr
            ><td class="tr-caption" style="text-align: center;"><br /></td></tr
          ></tbody>
      </table><table
        align="center"
        cellpadding="0"
        cellspacing="0"
        class="tr-caption-container"
        style="margin-left: auto; margin-right: auto;"
      >
        <tbody
          ><tr
            ><td style="text-align: center;"
              ><a
                href="https://blogger.googleusercontent.com/img/a/AVvXsEjD3aEYIHpyhaf9g-pauEfIRO93IMhjKwHA6kq253d7KxAST4rASB3FFMjPkGPG8bHHzDjUDAy1-ZZ2LUgf_SqSHN3S2B_pecyBcggFIKZx7DFqFf-ffUsW_QZdHCIzcKz8sZvehC9aSpAQAK597_R36EzIaytLwBRU_kjFSBJv3dli5_x_YfOii6Hs"
                style="margin-left: auto; margin-right: auto;"
                ><img
                  alt=""
                  data-original-height="875"
                  data-original-width="1166"
                  height="240"
                  src="https://blogger.googleusercontent.com/img/a/AVvXsEjD3aEYIHpyhaf9g-pauEfIRO93IMhjKwHA6kq253d7KxAST4rASB3FFMjPkGPG8bHHzDjUDAy1-ZZ2LUgf_SqSHN3S2B_pecyBcggFIKZx7DFqFf-ffUsW_QZdHCIzcKz8sZvehC9aSpAQAK597_R36EzIaytLwBRU_kjFSBJv3dli5_x_YfOii6Hs"
                  width="320"
                /></a
              ></td
            ></tr
          ><tr
            ><td class="tr-caption" style="text-align: center;"
              >土肥駐車場にいた親切な人が撮ってくれていた。</td
            ></tr
          ></tbody>
      </table><br /><h4 style="text-align: left;">土肥駐車場~最後のPCまで</h4>
    </div><div>
      土肥駐車場はラスボスだけど実は下山するまで裏ボスが続く。なんたってここは伊豆。内浦に抜けるためには最大勾配13%の山道を延々と登ったり下ったりすることになるのだから。
    </div><div><br /></div><div>
      登り始めと変わらないヘロヘロクライムをキメながらもうじきゴールできるという安堵感が訪れる。<br
      />最後に真城峠の山頂にたどり着いた時についに勝利を確信できた。
    </div><div>
      スタートから20時間20分、時間切れまで数時間ある。ここまで来たなら自転車が爆発してもゴールは確実なんだから。
    </div><div><br /></div><div>
      真城の下りは急なので落車しないように下ること10分。僕たちはついに内浦に出た。
    </div><div>
      ここからは何も残さなくて良い。そう思うと不思議と力が湧いてきてガンガン踏める気がしてくる。
    </div><div>なんという都合の良い身体だろうか。</div><div><br /></div><div>
      とはいえ限界を突破した危険な状態の肉体に無理は禁物、平坦なので28km/hペースくらいでゴールへ向けて移動する。
    </div><div>
      ワンチャン21時間を切れるかもしれない。時間はそんなに残されてないんだけれども。
    </div><div>
      <table
        align="center"
        cellpadding="0"
        cellspacing="0"
        class="tr-caption-container"
        style="margin-left: auto; margin-right: auto;"
      >
        <tbody
          ><tr
            ><td style="text-align: center;"
              ><a
                href="https://blogger.googleusercontent.com/img/a/AVvXsEiR6gWA7ZF7brSArJe4XYp34NAKICdRO-p70xitEiazJI9KYzKaQPB_JMkWUDiblSK7l2hzQNJ79YHAmwpgwKqd4wNNI4kJ4dFWfzGrK6dp0UtxiRb9i_h8rI_0Rbhh68iay6V91TEKrVmJEUibgXmyiv7dfDtYQ7mbAS_IKEg6we8dHMKt910KEXEA"
                style="margin-left: 1em; margin-right: 1em;"
                ><img
                  alt=""
                  data-original-height="468"
                  data-original-width="1950"
                  height="77"
                  src="https://blogger.googleusercontent.com/img/a/AVvXsEiR6gWA7ZF7brSArJe4XYp34NAKICdRO-p70xitEiazJI9KYzKaQPB_JMkWUDiblSK7l2hzQNJ79YHAmwpgwKqd4wNNI4kJ4dFWfzGrK6dp0UtxiRb9i_h8rI_0Rbhh68iay6V91TEKrVmJEUibgXmyiv7dfDtYQ7mbAS_IKEg6we8dHMKt910KEXEA"
                  width="320"
                /></a
              ></td
            ></tr
          ><tr
            ><td class="tr-caption" style="text-align: center;"
              >限界を突破し上がらない心拍数に反比例して出まくるパワー。<br
              />登りで出てくれよという気持ちである。。。</td
            ></tr
          ></tbody>
      </table><br />
    </div><div>最後のPCは千歌ちゃんの家の近くのセブンイレブン。</div><div>
      到着時刻はちょうど10時、21時間切りは無理だがちょうどならワンチャンあるのでは？ということで小走りでお店に駆け込み一番近くで買ってほしそうにしていたウィダーインゼリーを掴んでレジに並ぶもレシートの時間は10:01。。。
    </div><div><br /></div><div>
      <table
        align="center"
        cellpadding="0"
        cellspacing="0"
        class="tr-caption-container"
        style="margin-left: auto; margin-right: auto;"
      >
        <tbody
          ><tr
            ><td style="text-align: center;"
              ><a
                href="https://blogger.googleusercontent.com/img/a/AVvXsEhBFz418KS_JDiyKi_5seHcA0y_cr0DwfQ-ff2YtyXyMrGexYX2qKBjBTqqZC3h3JhqKNSv1ojZ3I_Xr5WcRZ6YgUV5a4WNJi4R0cR7KIqpjzTceXIsyGiN3sv7GyCZopAGd8seXdLnS61r0fG_DHDxuBS89gNNci2zlc1_kdrKeAlry7JaHJYEFNs_"
                style="margin-left: auto; margin-right: auto;"
                ><img
                  alt=""
                  data-original-height="875"
                  data-original-width="1166"
                  height="240"
                  src="https://blogger.googleusercontent.com/img/a/AVvXsEhBFz418KS_JDiyKi_5seHcA0y_cr0DwfQ-ff2YtyXyMrGexYX2qKBjBTqqZC3h3JhqKNSv1ojZ3I_Xr5WcRZ6YgUV5a4WNJi4R0cR7KIqpjzTceXIsyGiN3sv7GyCZopAGd8seXdLnS61r0fG_DHDxuBS89gNNci2zlc1_kdrKeAlry7JaHJYEFNs_"
                  width="320"
                /></a
              ></td
            ></tr
          ><tr
            ><td class="tr-caption" style="text-align: center;"
              >寝不足と多分一番時計の達成感に包まれる僕</td
            ></tr
          ></tbody>
      </table><br /><br />
    </div><h4 style="text-align: left;">最後のPC~ゴール受付</h4>

    <blockquote class="twitter-tweet">
      <p dir="ltr" lang="ja">
        やべえ、そろそろ帰ってくるじゃん。<br
        />ゴール受付は11時頃開設するので、早く帰ってきた人はカレーでも食べて待っててください<br
        />
        <a
          href="https://twitter.com/hashtag/%E5%86%85%E6%B5%A6400?src=hash&ref_src=twsrc%5Etfw"
          >#内浦400</a>
      </p>— 藤堂和幸/隊長 (@frecce) <a
        href="https://twitter.com/frecce/status/1578908259259645952?ref_src=twsrc%5Etfw"
        >October 9, 2022</a>
    </blockquote><p><br /></p><div style="text-align: left;">
      主催者さんの到着予想を1時間上回ったため自分たちのゴール時点ではゴール受付が始まってなかったというw
    </div><div style="text-align: left;">
      ゴール受付開始前にゴールするのは初めての経験だったので非常に不思議な体験ができた。
    </div><div style="text-align: left;">
      というかミラクルさんは初ブルベで400km +
      ゴール開設前ゴールというよくわかんねぇ事になってんのまじですごいw
    </div><div style="text-align: left;"><br /></div><div
      style="text-align: left;"
    >
      コンビニで時間をつぶすもやることもなかったのでみらくるさんとゆるゆるゴールにしてスタート地点の静浦小学校跡地へ移動を開始する。
    </div><div style="text-align: left;">
      ほんとによくわからなくて謎に調子が良かったのでスプリントしてみたりとよくわからんことをしながらゴール開設を待っていたらちょっと早開けしていただけたので受付完了！
    </div><div style="text-align: left;">
      無事認定タイム21時間1分で一番時計となり申したのでした🎉
    </div><div style="text-align: left;"><br /></div><h4
      style="text-align: left;"
    >
      完走した感想
    </h4><div style="text-align: left;">
      実際に走ったときから3ヶ月近く時間を空けての後編執筆だったため結構記憶が失われているんですが仲間と走るとめっちゃ楽なんだなぁという感動がありましたね。
    </div><div style="text-align: left;">
      普段はほぼソロライドだしマスツーリングでもだいたい先頭を走ってるので驚きの発見でした。
    </div><div style="text-align: left;">
      走ってた時はあんなに苦しかったのにゴール前10kmでもう一回走れそうと思ったり本当によくわかりませんね、ブルベという競技は。
    </div><div style="text-align: left;">
      来年はできたらSRを取りにいきたいなってちょっと思ったりしました。
    </div><div style="text-align: left;"><br /></div><h4
      style="text-align: left;"
    >
      謝辞
    </h4><div>
      一緒に走ってくれたミラクルさん、エントリーを強く推奨してくれた友人に圧倒的感謝！
    </div><div>来年もどこかで走ってくれたら嬉しいです〜🙏</div>
    <script
      async=""
      charset="utf-8"
      src="https://platform.twitter.com/widgets.js"></script>
  </article>
</Layout>
