---
import Layout from "../../../../../layouts/ArticleLayout.astro";
const title = "340mm狭幅ハンドルの話"
const description = ""
const thumbnail = ""
const labels = []
---
<Layout title={title} labels={labels}>
<article>
<p>一般的な完成車のロードバイクに付属しているハンドルは400mm ~ 420mm幅。</p><p>おそらくこれがスタンダードな幅なのでしょう。</p><p>ところが昨今、一部のプロロードレーサーの間で狭幅のハンドルが使われ始めており、</p><p>先日こんな変態形状の狭幅ハンドルまで登場した&nbsp;</p><blockquote class="twitter-tweet"><p dir="ltr" lang="en">This new handlebar from Dutch outfit Speeco is incredibly odd-looking, but also promises to be mega-fast - as it'd better be given how much it costs. <a href="https://t.co/9hJ162swoc">https://t.co/9hJ162swoc</a> <a href="https://t.co/d1AF7ePx0H">pic.twitter.com/d1AF7ePx0H</a></p>— CyclingTips (@cyclingtips) <a href="https://twitter.com/cyclingtips/status/1334269981287018496?ref_src=twsrc%5Etfw">December 2, 2020</a></blockquote><p>↑のハンドルは現状のUCIのルールには抵触しないらしい...🤔</p><p>今回はここまでアグレッシブなハンドルではないがそれでも一般的な幅のハンドルよりもかなり狭い<b>340mm幅ハンドル</b>を購入して使ってみたので狭幅ハンドルに興味のある愛好家諸兄のためにも書き残す。</p><p><br /></p><h3 style="text-align: left;">空力の話</h3><div>一般的な狭幅ハンドルのメリットとしては<b>空力</b>が上げられます。</div><div><br /></div><div>少ない出力で速く走るためには空気抵抗を避けることはできません。</div><div>なぜならロードバイク走行時、時速が30km/hを越えてくるとライダーが生み出した出力の80%以上が空気抵抗との戦いによって消費されてしまいます。</div><div>またこの空気抵抗の内訳の10%をフレームが、10%をホイールが、残りの80%がライダーを原因として生まれているそうです。</div><div><br /></div><div>そのため少しでも空気抵抗を減らすために私達は空力に優れたフレームやホイールを手に入れる事に意味を見出すのですが実際にはライダーの空気抵抗の方が支配的です。</div><div>ところがライダーは人間なので柔軟性にもよりますが工夫次第でいくらか空気抵抗をへらすことができます。</div><div>ハンドル肩部を持つよりもブラケットやドロップハンドルを、更に頭をハンドルに近づけて脇を締めるともっと空気抵抗を削減できるのです。</div><div>ところが空気抵抗を削減する乗り方というのは人間にとってはかなり無理を強いるポジションでもあります。</div><div><br /></div><div>狭幅ハンドルを使うメリットはまさにこの点にあります。</div><div>一説には幅が20mm狭くなると7wの空力を得られるそうです。</div><div>ということは340mmハンドルは400mm幅ハンドルに対して同じ速度で20w程度少ない出力で走れるという話になります(実際には速度に寄って削減できる出力が変わる)</div><div><br /></div><div><br /></div><div><br /></div><div><br /></div><div><br /></div><div><br /></div><div><br /></div><div><br /></div><div><br /></div><div><br /></div> <script async="" charset="utf-8" src="https://platform.twitter.com/widgets.js"></script>
</article>
</Layout>
