<div class="navbar bg-base-100">
  <div class="flex-1">
    <a href="/" class="btn btn-ghost text-xl">gr8distance Blog</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li class="hidden md:block">
        <a href="category/サイクリング">サイクリング</a>
      </li>
      <li class="hidden md:block">
        <a href="category/トレイルランニング">トレイルラン(ランニング)</a>
      </li>
      <li class="block md:hidden">
        <details>
          <summary>
            <span class="material-symbols-outlined">menu</span>
          </summary>
          <ul class="bg-base-100 rounded-t-none p-2">
            <li>
              <a href="category/サイクリング">サイクリング</a>
            </li>
            <li>
              <a href="category/トレイルランニング">トレイルラン(ランニング)</a>
            </li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
</div>
