---
import "material-icons/iconfont/material-icons.css";
---

<aside class="flex flex-col w-64 h-screen px-4 py-8 overflow-y-auto">
  <a href="#" class="mx-auto"> </a>

  <div class="flex flex-col items-center mt-6 -mx-2">
    <img
      class="object-cover w-24 h-24 mx-2 rounded-full"
      src="/me.jpg"
      alt="avatar"
    />
    <h4 class="mx-2 mt-2 font-medium text-gray-800 dark:text-gray-200">
      UG@gr8distance
    </h4>
  </div>

  <div class="flex flex-col justify-between flex-1 mt-6">
    <nav>
      <a
        class="flex items-center px-4 py-2 mt-5 text-gray-600 transition-colors duration-300 transform rounded-lg dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700"
        href="mailto:gr8.distance@gmail.com"
      >
        <span class="material-icons-outlined">mail</span>
        <span class="mx-4 font-medium">gr8.distance@...</span>
      </a>
      <a
        class="flex items-center px-4 py-2 mt-5 text-gray-600 transition-colors duration-300 transform rounded-lg dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700"
        href="https://x.com/gr8distance"
        target="_blank"
      >
        <span class="material-icons-outlined">close</span>
        <span class="mx-4 font-medium">X(Twitter)</span>
      </a>
      <a
        class="flex items-center px-4 py-2 mt-5 text-gray-600 transition-colors duration-300 transform rounded-lg dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700"
        href="/about_me"
      >
        <span class="material-icons-outlined">person</span>
        <span class="mx-4 font-medium">管理人について</span>
      </a>
    </nav>
  </div>
</aside>
