@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

#body h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 50px 0px;
}

#body h2 {
    font-size: 2rem;
    font-weight: bold;
    margin: 40px 0px;
}

#body h3 {
    font-size: 1.75rem;
    font-weight: bold;
    margin: 30px 0px;
}

#body h4 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 30px 0px;
}

#body h5 {
    font-size: 1.25rem;
    font-weight: bold;
}

#body h6 {
    font-size: 1rem;
    font-weight: bold;
}

#body p {
    font-size: 1.rem;
    margin: 5px 0px;
}

#body img {
    max-width: 66%;
    height: auto;
    margin: 30px auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

#body ol {
    margin-left: 15px;
    list-style-type: square;
}

#body ol li {
    margin: 10px 0px;
}
