---
import Layout from "../../../../../layouts/ArticleLayout.astro";
const title = "ローラーの効果"
const description = ""
const thumbnail = ""
const labels = []
---
<Layout title={title} labels={labels}>
<article>
<p>2020年は4月の落車ァとcovid19大流行による不要不急の外出自粛要請を経てインドアトレーニングの比率が多くなった。</p><div style="text-align: left;">個人的には</div><blockquote><div style="text-align: left;">トレーニングしない &lt; インドアトレーニング &lt; 実走でのトレーニング</div></blockquote><p>と思っているが外で走れないのは残念ではあったけれども落車で負ったダメージもでかいし感染症に罹りたいわけでもない。せっかく鍛えた筋肉をむざむざ失うわけにもいかない。仕方ないのでZwiftしようとなった。</p><p><br /></p><h3 style="text-align: left;">ローラーお気に入りポイント</h3><div>お気に入りポイントは3つある。</div><div><ol style="text-align: left;"><li>信号がない</li><li>いつでも食べ物を食べられる</li><li>安全</li></ol><div>これらはよくインドアトレーニングで語られるメリットだ。</div></div><div>安全に停車する(脚を止める)ことなく継続的に負荷を掛けられることはサイクリストに取って大きな意味を持っている(と思う。)</div><div><br /></div>
</article>
</Layout>
