---
import Layout from "../../../../../layouts/ArticleLayout.astro";
const title = "落車ァとトレーニングについて"
const description = ""
const thumbnail = ""
const labels = []
---
<Layout title={title} labels={labels}>
<article>
<p>&nbsp;実は2020年の4月に落車ァしてから</p>
</article>
</Layout>
