---
import Layout from "../../../../../layouts/ArticleLayout.astro";
const title = "GreatDistance Stage.13 BRM915泉佐野200km レポート"
const description = ""
const thumbnail = ""
const labels = []
---
<Layout title={title} labels={labels}>
<article>
<iframe allowtransparency="true" frameborder="0" height="405" scrolling="no" src="https://www.strava.com/activities/2709507933/embed/ff538f1225c114bef36c97213cc4c873eb6fbf2f" width="590"></iframe>

<br />
<br />
<h3>
今日のコース</h3>
泉佐野を出発して高野山 &gt; 天川村 &gt; 五条 &gt; そして泉佐野へ戻ってくるコース<br />
100km地点まで登り基調で145km地点までずっと向かい風という過酷極まる道のりだった(´・ω・｀)<br />
<br />
<h3>
補給は最低限に</h3>
PBPの先頭集団ゴールを目指していたのでここでも1着でゴールしたかった<br />
<br />
なのでスタート地点で先頭に上がって雄ノ山峠を越えるときにはすでに先頭で単独走に<br />
Sleep-Lowトレーニングのおかげで必要なカロリーが減ってるのでPCでの補給は最低限、購入するのは水だけ手に入れればいいくらいなので休憩は最低限に走り続ける<br />
<br />
念の為76km地点でカレーを腹に詰め込んですぐに出発したが本格的な補給はここ以外では全く取っていないが最後まで走り切ることができた<br />
<br />
<br />
<h3>
コースミス2回</h3>
<div>
130km地点までは順調に走っていて途中めちゃくちゃ早い人に抜かれはしたものの下りで抜き返し先頭を行く</div>
<div>
<br /></div>
<div>
しかし高速ダウンヒルでルートミスを2回やってしまう...</div>
<div>
<br /></div>
<div>
ミスに気づいて復帰してる間に2人に抜かれてしまった...</div>
<div>
<br /></div>
<div>
145km地点のPCに到着したとき1人ははるか先に、もう1人はPCを出発したところだった</div>
<div>
<br /></div>
<div>
僕はPCで5分ほど滞在したので少なくとも5分のタイム差がついた状態でPCをあとにすることに</div>
<div>
<br /></div>
<div>
ただ145kmからの40kmはずっと強力な追い風基調だったので踏めば差を縮められるかもしれないし185km地点の通過チェックの滞在時間を最低限にすればもう少し差を詰めることができるかもしれないと思い風に乗って出せる限り全力で踏み続けることに</div>
<div>
(このときは75km地点で補給しといて本当に良かったって思った。補給してる暇もないし心拍もずっと155以上だった)</div>
<div>
<br /></div>
<div>
なるべく心拍を上げないよう低めのケイデンスで回すことを意識する</div>
<div>
追い風に乗りながらケイデンス80前後で回す。85を越えたらギアを上げる</div>
<br />
<table align="center" cellpadding="0" cellspacing="0" class="tr-caption-container" style="margin-left: auto; margin-right: auto; text-align: center;"><tbody>
<tr><td style="text-align: center;"><a href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjU5rVT1YvEvgd2QTczPr-2JQXylefJj7R7lslF6PdM2QvIZpMIDvNUYEuGseaHuu3q3vRicY3fvIbe1FMn5GVthOdmw1BoivhA6QBW2bRvA2mlVu_hgoFgnY-iK7JTHFqNfSMbsq64Vcg/s1600/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-09-06+20.28.30.png" style="margin-left: auto; margin-right: auto;"><img border="0" height="208" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjU5rVT1YvEvgd2QTczPr-2JQXylefJj7R7lslF6PdM2QvIZpMIDvNUYEuGseaHuu3q3vRicY3fvIbe1FMn5GVthOdmw1BoivhA6QBW2bRvA2mlVu_hgoFgnY-iK7JTHFqNfSMbsq64Vcg/s320/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-09-06+20.28.30.png" width="320" /></a></td></tr>
<tr><td class="tr-caption" style="text-align: center;"><span style="font-size: 12.8px;">風の影響で追走の信号前後以外は40kmを超える速度で走ることができた。</span><br />
<span style="font-size: 12.8px;">　</span></td></tr>
</tbody></table>
<br />
<br />
こうしているとアウタートップを使うまでに至る<br />
信じられるか?<br />
145km走ってきてアウタートップ回してるんだぜ...<br />
<br />
追走を続けること1時間、ここでついに先行者を一人発見しそのままパスする。<br />
もうひとりを捉えたいので声だけ掛けて先を急ぐ<br />
<br />
そのまま185km地点の通過チェックに到着するも姿は見えず、最後15kmを走るだけなのでカロリー的にはまだ余裕がありと判断。水だけ買ってそのまま追走開始<br />
<br />
結局このまま追走するもゴールに到着したときに帰る姿を目撃しただけで追いつくことはできなかった(´・ω・｀)<br />
悔しい(´・ω・｀)<br />
<br />
後で聞いたら僕より1時間あとに出走して全員追い抜いてのトップゴールだったそう...<br />
圧倒的な実力差を見せつけられた<br />
<br />
<h3>
休むダンシング</h3>
<div>
昨日書いた休むダンシングですがやっぱり休めてました！！！</div>
<div>
なにせ前半の登坂の大半を休むダンシングで行けたので後半40kmの追走に使う筋肉を温存できてたんですよ！</div>
<div>
強い武器を手に入れたぞ！</div>
<div>
<br /></div>
<div>
ただし、休めてたんだけどまだ体がフォームに慣れてないのでキツくなってきたときに休むダンシングを使おうとおいう気持ちにならないのがもったいなかった。</div>
<div>
<br /></div>
<div>
でもこれは慣らしていけば確実により強い武器になる！</div>
<div>
<br /></div>
<h3>
盗まれる輪行袋</h3>
輪行するためにりんくうタウン駅まで自走<br />
トイレに行きたかったのでトイレの前にバイクを止めてトイレして出てきたら輪行袋が無い！シートポストのライトもない...<br />
盗難された!?<br />
<br />
サドルに取り付けてたんですが引きちぎられてましたね...<br />
サイコンとか取り外しといてよかった...<br />
あとバイクが盗難されなくてよかった<br />
<br />
結局電車には乗れなかったので自走で梅田まで移動することに<br />
200km走ったあとにさらに50km走る。これはまあ良い<br />
<br />
でも新しいの買い直すのが辛いぞぉ...<br />
<br />
<h3>
まとめ</h3>
結局2着だったしトップの人から1時間くらいタイム差をつけられはしたものの最後の最後まで踏み続けられたのはいつかのレースで自分を支えてくれる一つの成功体験になる気がする。<br />
<br />
あと休むダンシングをしっかり扱えるようになっていけばどんなロードレースでも登りが味方になるように思う。<br />
登るたびにシッティングの筋肉が温存されていくはずだから<br />
<br />
<h3>
明日のコース</h3>
<div>
来月、弟がブルベに出るのでトレーニングを兼ねて梅田 ~ 京都に行く緩めのライドにするつもりです</div><div><br /></div><div><a href="https://blog.great-distance.com/2019/09/greatdistance-stage14.html">14日目のレポートはこちら</a></div>
</article>
</Layout>
