---
import Layout from "../../../../../layouts/ArticleLayout.astro";
const title = "GreatDistance Stage.19 レポート"
const description = ""
const thumbnail = ""
const labels = []
---
<Layout title={title} labels={labels}>
<article>
<iframe allowtransparency="true" frameborder="0" height="405" scrolling="no" src="https://www.strava.com/activities/2737934778/embed/7926b60f149da7108fb51369b9d8780cc9012994" width="590"></iframe><br />
<br />
<h3>
今日のコース</h3>
昨日紀南一周するぞって書いたんですが乗り出して9km地点で膝が痛くなったので悔しいけど100kmを目標に下方修正して走り続けることにする。<br />
<table align="center" cellpadding="0" cellspacing="0" class="tr-caption-container" style="margin-left: auto; margin-right: auto; text-align: center;"><tbody>
<tr><td style="text-align: center;"><a href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEi1inQeb8FoG73wG_osR_ACdRVKrKs_T2Xx87JvbSrkfeNldM-urhOAxLK72JNpbz9AgP_oCorUwRj3W15hUeOLfVSWXpSPtSZ90ZX_vpBzhGvipgCtZRZe3N9tMck40i_CeIlXcavbqIE/s1600/IMG_20190925_081518.jpg" style="margin-left: auto; margin-right: auto;"><img border="0" height="240" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEi1inQeb8FoG73wG_osR_ACdRVKrKs_T2Xx87JvbSrkfeNldM-urhOAxLK72JNpbz9AgP_oCorUwRj3W15hUeOLfVSWXpSPtSZ90ZX_vpBzhGvipgCtZRZe3N9tMck40i_CeIlXcavbqIE/s320/IMG_20190925_081518.jpg" width="320" /></a></td></tr>
<tr><td class="tr-caption" style="text-align: center;">帰宅するか脳内会議した25km地点の道の駅(牛馬童子)</td></tr>
</tbody></table>
<h3>
<br />膝の調子</h3>
痛すぎるということはないんだけど無理すると悪化するかもしれないと思ったのと出力を上げると痛みが...<br />
<br />
今日は25km地点で帰ろうかと思ったけどここで諦めると21日で3000km走りきれない。<br />
だからなんとか100km走ってみるかってことで急遽本宮往復コースに下方修正して走り続けることに。<br />
<br />
出力を抑えて走ればなんとかまだ走ることができるけどダンシングすると痛みが増すのでダンシングも封印することになりそうな状態<br />
<br />
あんまり良くない(´・ω・｀)<br />
<br />
<h3>
達成の可能性</h3>
まず現在の走行距離が2701km<br />
つまりあと300km走る必要がある<br />
<br />
最終日は白浜 ~ 梅田の170km走るのは確定(強気の輪行袋未所持)なので明日なんとか130kmを走ることができればまだ可能性はある。<br />
<br />
600kmくらい余裕だろ！って思ってたんですがここまで走っても未だに簡単じゃないことばっかりだ<br />
<table align="center" cellpadding="0" cellspacing="0" class="tr-caption-container" style="margin-left: auto; margin-right: auto; text-align: center;"><tbody>
<tr><td style="text-align: center;"><a href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhywd8h-UI68jxrwjvVlM2LD-8csDmpPl0VBvY53NhaFiZgI0hl88SSP_VU845-E0creBQQl3bblnZk2gp3BQ7Bz_i1lht6fdwjNbXRUbTZgh_jVl62d16Bmw01UKSl9TV9Er4x1DPO364/s1600/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-09-25+17.24.07.png" style="margin-left: auto; margin-right: auto;"><img border="0" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhywd8h-UI68jxrwjvVlM2LD-8csDmpPl0VBvY53NhaFiZgI0hl88SSP_VU845-E0creBQQl3bblnZk2gp3BQ7Bz_i1lht6fdwjNbXRUbTZgh_jVl62d16Bmw01UKSl9TV9Er4x1DPO364/s400/%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%2583%25E3%2583%2588+2019-09-25+17.24.07.png" /></a></td></tr>
<tr><td class="tr-caption" style="text-align: center;">4月に初めて1000km/月を走ったときもすごいと思ったけどその3倍に迫る</td></tr>
</tbody></table>
<br />
<h3>
明日のコース</h3>
白浜 ~ 串本の130kmコース<br />
膝の負担を少なくするため平均出力は100w程度でダンシングも禁止して走ることにする<br />
まだ諦めてないぞ(一体何と戦ってるんだって思うけど自分と戦っとるんや)<br />
<br /><a href="https://blog.great-distance.com/2019/09/greatdistance-stage20.html">20日目のレポート</a><br />
<a href="https://shindanmaker.com/287115" style="background-color: white; color: #660099; cursor: pointer; font-family: arial, sans-serif; font-size: small;"></a><br />
<h3 class="LC20lb" style="display: inline-flex; font-size: 20px; font-weight: normal; line-height: 1.3; margin: 0px; max-width: 100%; padding: 0px;">
<div class="ellip" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
馬鹿野郎お前俺は勝つぞお前!!</div><div class="ellip" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"><br /></div><div class="ellip" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"><br /></div><div class="ellip" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"><br /></div><div class="ellip" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"><br /></div><div class="ellip" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"><br /></div><div class="ellip" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"><br /></div><div class="ellip" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"><br /></div>
</h3>
</article>
</Layout>
