---
import Layout from "../../../../../layouts/ArticleLayout.astro";
const title = "富士ヒルクライム2023";
const description = "";
const thumbnail = "";
const labels = [];
---

<Layout title={title} labels={labels}>
  <article>
    <div style="text-align: left;">
      過去2回も挑戦し、あとちょっとのところで75分切りを逃してきた富士ヒルクライム。
    </div><div style="text-align: left;">
      1度目は落車や思い上がりからの調整ミス、2度目は高強度トレーニングの不足とレース当日の戦略ミスから不完全燃焼での失敗。<br/>
      前年の失敗の時に「もうヒルクライムは懲り懲りだ、向いてないことに挑戦するのはもう嫌だ...」と別のことをやろうとしていたのだが、友人たちから熱い励ましについには3度目の挑戦を決断する。
    </div><div style="text-align: left;">
      しかし3度目だ。これで失敗すれば今度こそ自転車やめる！
    </div><div style="text-align: left;">
      これはそんな覚悟で臨んだ75分の奮闘記。
    </div><div style="text-align: left;">
      <br /><div class="separator" style="clear: both; text-align: center;">
        <a
          href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgOqZQ3SSP9KIsrrUe9nHpQrcNx2jMV2TKl8cgLUdzN52A68LIOdZ3RdcXduFJr_-_vLyI6ZEbR2r-enWukrqTA0BlMJEmA9A1dEBlugK_PddlPF-QmWNxB814VRO94bvEH4LITQDIv7O1hIhz89KDmVd1gb9-WNtuzu8Fqm0kS45OSg6BUIKDKhlTJ1Qw/s1402/IMG_5739.jpg"
          style="margin-left: 1em; margin-right: 1em;"
        ><img
           border="0"
           data-original-height="1402"
           data-original-width="1052"
           height="320"
           src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgOqZQ3SSP9KIsrrUe9nHpQrcNx2jMV2TKl8cgLUdzN52A68LIOdZ3RdcXduFJr_-_vLyI6ZEbR2r-enWukrqTA0BlMJEmA9A1dEBlugK_PddlPF-QmWNxB814VRO94bvEH4LITQDIv7O1hIhz89KDmVd1gb9-WNtuzu8Fqm0kS45OSg6BUIKDKhlTJ1Qw/s320/IMG_5739.jpg"
           width="240"
         /></a>
      </div><br /><div
                    class="separator"
                    style="clear: both; text-align: center;"
                  >
        <br />
      </div><h4 style="text-align: left;">
        富士ヒルクライムってどんなレース？
      </h4><div style="text-align: left;">
        表彰台を争う選手にとって富士ヒルクライムというレースはヒルクライム版ロードレースだそうだ。全長が長く、緩斜面区間も豊富、4号目以降のレイアウトは数々のドラマを産んできた名所だそうだ。
      </div><div style="text-align: left;">
        立ち回りの重要性を感じさせてくれる話ではある。が、それはあくまで優勝を争う選手の場合はだ。
      </div><div style="text-align: left;">
        実際のほとんどのライダーは完走を目指したり目標タイムを狙って走ってみたりする(ちゃんと足切りもあるらしい)
      </div><div style="text-align: left;">
        僕は冒頭にも書いたけど目標タイムを狙って走るタイムトライアル的な楽しみ方をしていた(過去二年間)
      </div><div style="text-align: left;">
        富士ヒルクライムはゴールタイムによってフィニッシャーリングをもらうことができる。(このフィニッシャーリングはコラムスペーサーとして機能する)
      </div><div style="text-align: left;"><br /></div><div
                                                         style="text-align: left;"
                                                       >
        それぞれゴールタイムが
      </div><div style="text-align: left;">
        <ul style="text-align: left;">
          <li>60分切りであればプラチナ</li><li>65分切りであればゴールド</li><li>
            75分切りであればシルバー
          </li><li>90分切りであればブロンズ</li><li>それ以降はブロンズ</li>
        </ul>
      </div><div style="text-align: left;">
        自分はこの中の75分切りを目指して走ってきた。
      </div><div style="text-align: left;">
        <div>
          ヒルクライムレースの速さというのはゴールまで維持できるパワーをライダーの重量で割ると概ね計算できたりする。(これをパワーウェイトレシオ(PWR)という)
        </div><div><br /></div><div>
          本当は機材の重量も加算対象なんだけど、バイクの重量はともかくウェアやメットの重量はそこまで大きな差にはならない。故にヒルクライマーは皆、パワーを維持しながら体重を落とすという矛盾に挑戦する傾向にある(僕調べ)
        </div><blockquote><div></div></blockquote><div>
          シルバーを目指すなら概ねPWRは4程度あれば良いとされる。
        </div><div>
          実は自分は2020年にPWR4.4倍程度まで上げていた(これが2021年の慢心の理由でもあるのだが...)。そのためシルバーはいけるだろう。欲張ればもうちょっと上を狙えるはず。とさえ思っていた。
        </div><div>
          そこで挑戦した2021年にシルバーを落としたのだからもう大変。
        </div><div>
          なんとかその失敗を取り返そうとして2回目もダメだったのだ。。。
        </div><div><br /></div>
      </div><h4 style="text-align: left;">過去の挑戦を振り返る</h4><div
                                                                     style="text-align: left;"
                                                                   >
        <b>2021年</b>
      </div><div style="text-align: left;">
        沼津へ移住した最初の富士ヒルでもあり前述の通りでこの時点での自分のフィジカルはどう転んでもシルバーはいけるというくらいの完成度に思えていた。
      </div><div style="text-align: left;">
        今も使うトレーニングコースのシャイニークライムではリーダーボード入りまで果たし、20分であればPWR4.8倍に迫る仕上がりだったのだが、最高のパフォーマンスでトレーニングした翌々日のトレーニング中に落車をし多分肋骨折れてた。
      </div><div style="text-align: left;">
        トレーニングは継続するもパフォーマンスは低下。痛みが消えるまで1ヶ月は寝るのさえ苦労する日々を過ごし気が付けば富士ヒル目前というところから再度追い込みを開始。
      </div><div style="text-align: left;">
        痛みが消えてからの1ヶ月で調子も上がってきていたのでいつもの癖で前日に高強度トレーニングを実行。
      </div><div style="text-align: left;">
        しかし落車から落ち込んだ時点での回復力だと間に合わず、当日は疲労を抱えながらのスタートに並ぶことに...<br
                                                                                                             />長い登坂に慣れていないこともあって序盤に力を出しすぎてしまい集団からドロップしそのあとずっとゴールまで一人旅に。
      </div><div style="text-align: left;">
        それでもどうにかなるだろうと楽観的に構えながら登っていたのですが、標高1900mを超えてからは高山病とも戦いながら登りスプリントまで行うも76分でのゴールとなる。
      </div><div style="text-align: left;">
        そのあとの気持ちの落ち込み用は凄まじかった...
      </div><div style="text-align: left;"><br /></div><div
                                                         style="text-align: left;"
                                                       >
        <b>2022年</b>
      </div><div style="text-align: left;">
        前年の反省を踏まえて1月からトレーニングに余念がないようにしようと思った。
      </div><div style="text-align: left;">
        少なくとも1月は2500km走行するに至る。
      </div><div style="text-align: left;">
        この時点で極めて高いパフォーマンスを獲得し無限の可能性を信じることができていたのだが1月末に軽く膝を故障する。<br
                                                                                                                     />2月からはお仕事の方で出世して会社でもかなり上のポジションになる。<br
                                                                                                                                                                                        />会社から与えられるプロジェクトの遂行などトレーニング以外に考えることが増えた。<br
                                                                                                                                                                                                                                                                        />最初のうちは膝も壊れてるし治すまでと思って仕事をこなしていくが仕事の問題は増える一方。またこの時期の沼津は強風で外を走ってトレーニングできる状況でもない。<br
                                                                                                                                                                                                                                                                                                                                                                                                                                    />そうこうしているうちに次第にトレーニング量は落ち込んでいき、前年に劣るボリュームのまま4月が過ぎようとしていた。。。<br
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         />このままではまずいと一念発起しゴールデンウィークに有給を合わせて10連休を作り出し10日で1600km走行する。<br
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 />これに賭けていた。いけると信じていた。。。
      </div><div style="text-align: left;"><br /></div><div
                                                         style="text-align: left;"
                                                       >
        しかし現実は非情である。結局疲労が増えただけに終わる。
      </div><div style="text-align: left;">
        <br
        />その次の週に1時間走してPWRは3.8倍くらいかな？というところでタイムアップ。<br
                                                                                   />諦めることはできないしゴールラインに着くまでは全力で走ろうと思いスタート地点へ立つ。
      </div><div style="text-align: left;">
        <br
        />前年は序盤に出し尽くして集団から遅れたので今年はその反省を活かそうとパワーをセーブしてスタートを切る。そしてこの選択が仇となる。<br
                                                                                                                                          /><br />
      </div><div style="text-align: left;">
        スタートしてすぐの料金所のフラット区間、ここに大集団があった。パワーをセーブしていた自分はこの集団に乗ることができずまたも一人旅に...<br
                                                                                                                                             />15kmほどは気合いで30秒後方を付かず離れず追走をかけるも標高1900mで高山病にかかり地脚の問題でドロップ。<br
                                                                                                                                                                                                                                                    />タイムは78分台と前年を遥かに下回る成績に本当にヒルクライムはやめてロングライド走るかそもそも自転車をやめるか考えていた。
      </div><div style="text-align: left;"><br /></div><h4
                                                         style="text-align: left;"
                                                       >
        機材
      </h4><div>
        もはや自転車ライフを賭けての挑戦のだったから心から納得できる準備がしたかった。
      </div><div>
        自分の身体に一番しっくりくるバイクを探してTarmacSL7を調達したり、ホイールは軽量のAlpinistCLXにしたり、一番パワーが出ていた時の構成やポジションをなるべく再現しつつ、そこからさらに重量でアドを取れるようにパーツ一個まで入念に吟味した。
      </div><div><br /></div><div>
        2021年はもう少しだった。今年どうなるかはわからないけど、もしかしたらボーダーギリギリのタイムでゴール前にいる可能性もある。もしも1秒を機材で得られるならばと本当にこだわってもいいだろうと思っていた。
      </div><div><br /></div><div></div><table
                                          align="center"
                                          cellpadding="0"
                                          cellspacing="0"
                                          class="tr-caption-container"
                                          style="margin-left: auto; margin-right: auto;"
                                        >
        <tbody
        ><tr
         ><td style="text-align: center;"
          ><a
             href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEi2RS5CMpGLkJjWx7gd7Jbwc3si2-KcZd1PS6AEuRFF8EzKASzyY60p1qBCug58w4oT5WMl34F9HASlgrJd4oCgAdyGd-Yz0cZKGVHihH3WPMxGamg8VRCey-Z3vNsZD9hZyLJvzyqRA23_Qc7XVXZlkudD1MEjIiGQacEl91qx1PC5O-6SxLrSiJxz2Cs/s1402/IMG_5028.jpg"
             style="margin-left: auto; margin-right: auto;"
           ><img
              border="0"
              data-original-height="1402"
              data-original-width="1052"
              height="320"
              src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEi2RS5CMpGLkJjWx7gd7Jbwc3si2-KcZd1PS6AEuRFF8EzKASzyY60p1qBCug58w4oT5WMl34F9HASlgrJd4oCgAdyGd-Yz0cZKGVHihH3WPMxGamg8VRCey-Z3vNsZD9hZyLJvzyqRA23_Qc7XVXZlkudD1MEjIiGQacEl91qx1PC5O-6SxLrSiJxz2Cs/s320/IMG_5028.jpg"
              width="240"
            /></a
              ></td
               ></tr
                ><tr
                 ><td class="tr-caption" style="text-align: center;"
                  >ボトルケージは18gのものにした。<br
                                                  />普段使っているやつの半分の重量になった。<br /><br /></td
                                                                                                        ></tr
                                                                                                         ></tbody>
      </table><table
                align="center"
                cellpadding="0"
                cellspacing="0"
                class="tr-caption-container"
                style="margin-left: auto; margin-right: auto;"
              >
        <tbody
        ><tr
         ><td style="text-align: center;"
          ><a
             href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgd41ABbWPNlPsNGrXefPclIEWviC0aObK3yeMwQ1Cf29l8kzq8R6UMn4sYI1X1FeP4lH1-g98bZaMvZUvx0c5cLOVwn7pU6jOrTcoDv5PLY4vtUmPBeVvRbLXI-_B9tK_Sq0LF6zDSGV_aRbrKm804DCnPxEFb4W9B4e46B_kkeVh8ZpLKSabDSD5stZs/s1870/IMG_5106.jpg"
             style="margin-left: auto; margin-right: auto;"
           ><img
              border="0"
              data-original-height="1402"
              data-original-width="1870"
              height="240"
              src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgd41ABbWPNlPsNGrXefPclIEWviC0aObK3yeMwQ1Cf29l8kzq8R6UMn4sYI1X1FeP4lH1-g98bZaMvZUvx0c5cLOVwn7pU6jOrTcoDv5PLY4vtUmPBeVvRbLXI-_B9tK_Sq0LF6zDSGV_aRbrKm804DCnPxEFb4W9B4e46B_kkeVh8ZpLKSabDSD5stZs/s320/IMG_5106.jpg"
              width="320"
            /></a
              ></td
               ></tr
                ><tr
                 ><td class="tr-caption" style="text-align: center;">これで6.8kg</td
                                                                                ></tr
                                                                                 ></tbody>
      </table><br /><table
                      align="center"
                      cellpadding="0"
                      cellspacing="0"
                      class="tr-caption-container"
                      style="margin-left: auto; margin-right: auto;"
                    >
        <tbody
        ><tr
         ><td style="text-align: center;"
          ><a
             href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjijTULL6822YOmStL79xZvvDs3qwtP4PNugslmikOQkz_W3R4KqWq7QaSYRGdU05gMxVOstqTxT_wvsRqnwoRCS0eVsoFyTcIE5BHPLjTcwZcHrXfrr2VxHc9ktR2o7OIoqaqCr8kBEHN0bBU02HSkanpEF3Z5H-0toWg2vc7bvD9xuY7q9xyXQ9A2Dog/s1023/IMG_5272.jpg"
             style="margin-left: auto; margin-right: auto;"
           ><img
              border="0"
              data-original-height="1023"
              data-original-width="929"
              height="320"
              src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjijTULL6822YOmStL79xZvvDs3qwtP4PNugslmikOQkz_W3R4KqWq7QaSYRGdU05gMxVOstqTxT_wvsRqnwoRCS0eVsoFyTcIE5BHPLjTcwZcHrXfrr2VxHc9ktR2o7OIoqaqCr8kBEHN0bBU02HSkanpEF3Z5H-0toWg2vc7bvD9xuY7q9xyXQ9A2Dog/s320/IMG_5272.jpg"
              width="291"
            /></a
              ></td
               ></tr
                ><tr
                 ><td class="tr-caption" style="text-align: center;"
                  >まさかTIMEのペダルを買うとはな...</td
                                                    ></tr
                                                     ></tbody>
      </table><div><br /></div><div>
        自分の最後の挑戦になる可能性は十分にあったし、全部のリソースを突っ込んでやろうと思ったらこうなった。
      </div><table
              align="center"
              cellpadding="0"
              cellspacing="0"
              class="tr-caption-container"
              style="margin-left: auto; margin-right: auto;"
            >
        <tbody><tr></tr></tbody>
      </table>
    </div><div style="text-align: left;">
      <div><br /></div><h4 style="text-align: left;">沼津 ~ 会場</h4><div>
        レース当日はぬるりと目が覚めた。
      </div><div>
        緊張は全くない。凪いだ駿河湾のような心境にこれこそが明鏡止水かと思わせてくれる。
      </div><div><br /></div><div>
        レース会場へは仲良くして下さっているミラクルさんに迎えにきていただき移動します。
      </div><div>
        ミラクルさんの仕上がったふくらはぎを見て彼の気合いの入れようを感じ取ります。
      </div><div>
        正直なところ、ミラクルさんについていけるのだろうか？とちょっと思ったw
      </div><div><br /></div><div>
        会場につき駐車場に車を停めたのち、車からバイクを出してセッティングしたり空気を入れたり注油したりトイレしたり、諸々準備をしていると後ろから聞き馴染みのある声が聞こえます。
      </div><div>
        振り返ると今回Tarmacを購入した大阪のSpecializedのお店の系列店で昔店長をされていた方のバイクが置かれているではありませんか！
      </div><div>
        「もしかしてRさんですか？」と声をかけると！そうだとのこと！
      </div><div>
        「ウーゴ(UGをイタリア語風に読む!とか言ってそのお店で誰かが呼び出したあだ名)です！」とご挨拶。
      </div><div>
        今は某有名ホイールメーカーで働かれているそうで、今回は社のイベントでの参加とのこと。
      </div><div>
        楽しんでね！と声を掛けていただきこちらも嫌々登るんだよねぇという彼に「頑張ってください！w」と返答して見送る。
      </div><div>
        しばらくしてスタート地点へ向かうのですが2kmほど走った時に自分が計測バンドを忘れてることに気づき、ミラクルさんを引き連れて車へ取りに帰ることに...
      </div><div>思わぬ形でアップすることになってしまいました。</div><div>
        <br />
      </div><h4 style="text-align: left;">スタート ~ 一合目</h4><div>
        選手プールへ入り、スタート時間が近づいたタイミングで最後の軽量化を済ませたあとも心は平穏そのもの。
      </div><div>
        未だ明鏡止水の境地から帰ってこない自分の心に驚きつつ、経験の無い精神状態と共に選手プールを出てアクチュアルスタートの計測ラインへ移動します。
      </div><div><br /></div><div>
        アクチュアルスタートまでの道中、渡辺曜ちゃんジャージを着用したラブライバー兄貴と「ヨーソロー！！」言い合いコミュニケーションを楽しむなどあらゆるところを楽しんでいましたw
      </div><div>
        自分も小原鞠莉ちゃんジャージを着用していたのでコミュニケーションは非常に楽しかったですね。
      </div><div>
        楽しんでいたらあっという間に計測地点へついたのでぬるりとラインを超えて出発します。
      </div><div><br /></div><div>
        とりあえず今どのくらい走れるのかわからないので無理をしないくらいの出力で(と言ってもPWR4.8倍くらいなんですが)料金所までダンシングで登ります。
      </div><div><br /></div><div>
        実はレース前の最後の週はほとんどトレーニングせず、休息に当てていました。
      </div><div>
        それもあって今どれくらい踏めるかわからないというのもあったのですがここではっきりわかります。<b
                                                                                                    >今日は驚くほど調子が良い。</b>
      </div><div>
        これは2021年の手痛い失敗から学んだこと。LESSON1"前日に無理をしない"は無事攻略できたようです。
      </div><div><br /></div><div>
        楽々と料金所に到着したので平坦区間で一息に加速し良い感じの集団を探しますが見つかりません。
      </div><div>
        しかし今日の調子の良さを鑑みるに、最悪見つからなくても僕一人で取ってやろうと、そんな気持ちで一合目までの登りに突入していきます。今日は勝ち気ですね。
      </div><div>
        料金所から一合目までの登りは概ね5km、富士ヒルクライムの中では比較的勾配のきつい区間です。
      </div><div><br /></div><div>
        このくらいならずっと踏めるかなという出力で踏んで車線右側を抜けていくと良さげな集団があったので後ろに着かせてもらいます。
      </div><div>
        これは虫の知らせなのですが、この集団は75分切りを狙う集団だという確信がありました。
      </div><div>
        どのみちタイム計算しているので一号目到達時点でタイムギャップが大きければパスさせてもらおうの気持ちで走ります。これでLESSON2”集団に乗る”も無事攻略完了です。
      </div><div><br /></div><div>
        集団に着いてからの走りは非常に安定していて無駄なペースアップもなく、自分も最低限のパワーで登坂することができます。特にTarmacは優秀なバイクなので何度か車間の調整で脚を緩めることさえ可能でした。
      </div><div><br /></div><div>
        この時に赤いヘルメットの方が集団を飛び出していくのと、しばらくすると吸収されて下月てきたのを確認しました。
      </div><div><br /></div><div>
        ラップ距離5kmの表示が現れ、程なく一合目の看板が見えた時のタイムはシルバー獲得目安より2分早いもので虫の知らせの通り。
      </div><div>この時、今年の富士ヒルは行けるなと思っていました。</div><div>
        <br />
      </div><h4 style="text-align: left;">一合目 ~ 二合目</h4><div>
        非常に安定した集団で特に何も考えることなく、脚をいっぱいにしないようにこまめにダンシングしたりギアを変えたり疲労を分散しながら登ります。
      </div><div><br /></div><div>
        途中、一号目で飛び出して行った方がもう一度飛び出して行かれたタイミングでミラクルさんから一緒に行くか？を尋ねられますがあの走り方では自分がペースを乱してすぐに垂れると思ったのでやめときましょうと返して静観。
      </div><div>
        後ほど集団は飛び出した方を吸収したのでここも目論見通りでしょう。
      </div><div>
        これは最初のチャレンジの時の教訓。まさにLESSON3"ペースは守ろうね"も攻略完了でした。
      </div><div><br /></div><div>
        一号目~二合目までの勾配は緩いです。こういう区間ではTarmacの空力性能が存分に発揮されます。
      </div><div>
        集団にいるということもありますが、過去2回の挑戦と比べて本当に少ない(自覚的運動強度)労力で最大の加速が実現されています。
      </div><div>
        途中で速度が30km/hに迫るシーンもありましたが何の問題もなく着いていけるどころか、加速が鋭すぎて脚を止める瞬間すらありました。
      </div><div><br /></div><div>
        そしてとても大事なことなのですが、自分の左側を走る桜坂しずくちゃんジャージが見えました。見覚えのあるクランクに白いピナレロ...もしや？声を掛けてみるとTwitterの相互フォロワーさんでした。
      </div><div>
        朝の駐車場から始まり、今日は不思議な縁で満ちていますね。
      </div><div><br /></div><div>タイムは今も2分のアドがあります。</div><div>
        順風満帆ですね。
      </div><div><br /></div><h4 style="text-align: left;">
        二合目 ~ 三合目
      </h4><div>この区間で安定していた集団に亀裂が入ります。</div><div>
        走行ペース的な意味で大規模な集団の分裂があったのです。
      </div><div>
        集団が割れてからもそれまでのペースを維持する方の集団と共に走行していました。
      </div><div><br /></div><div>
        途中気合を入れて「引きます！」と先頭を引くつもり声掛けして前に上がったのですが、これがどうやら「いきます！」に聞こえたようで、「頑張って！」と送り出されてしまいました。
      </div><div>戻るのも変な感じですし加速することに。</div><div>
        <br />
      </div><h4 style="text-align: left;">三合目 ~ 四合目</h4><div>
        集団で体力を温存し失点を減らす走りは戦略的で非常に良いなと思います。
      </div><div>
        自分の走力で確実に75分を切るならおそらくこれが一番冴えたやり方かなと思います。
      </div><div>
        ただ、どこかにこうアクシデントを求めている自分もいて、だからこそ集団から離れる体験にワクワクしたのだろうなと思います。
      </div><div><br /></div><div>
        この集団を飛び出した自分の頭の中はもう大変でした。
      </div><div>
        ラブライブ!サンシャインの名曲「キセキヒカル」が鳴り止まない。
      </div><div>
        過去2回本当にどうしようもない走りをしていたのに、いつの間にか75分を切れそうな走りをしている。
      </div><div>
        この日のために準備してきた半年間が走馬灯リフレインします。
      </div><div>涙も出ますよそれはもう。</div><div><br /></div><div>
        しかし標高はどんどん上がり、体力も徐々に消耗していく。
      </div><div>
        追い抜く時には前走者になるべく声を掛けていたのですが、徐々に「右行きます！」から「右er!!」、最終的には無言で抜くような形になります。
      </div><div><br /></div><div>
        三合目の終わりごろ、ついに標高が1900mを超えたタイミングで高山病到来です。
      </div><div>吐き気や頭痛で一気に力を出しづらくなります。</div><div>
        それでもパワーを出すために最初は水を飲んで誤魔化していたのですが徐々に前を走れなくなり、ミラクルさんの後ろに下がって引いてもらう状態に。
      </div><div><br /></div><div>
        標高が1950mに達しいよいよもうやばいか！？というところで最初にいた集団の方達が大量の知らないサイクリストたちを連れて上がってこられました！？
      </div><div>
        <table
          align="center"
          cellpadding="0"
          cellspacing="0"
          class="tr-caption-container"
          style="margin-left: auto; margin-right: auto;"
        >
          <tbody
          ><tr
           ><td style="text-align: center;"
            ><a
               href="https://blogger.googleusercontent.com/img/a/AVvXsEjP7CgdHRZgJRTdzXJ2e1LkQB1qfMDVy_603ISpgTnoBRwOJfzZ6d0vMuRSVUoM5BqDe_hpx9khVwaTqWAN8T7YH2CzGvs4hiH4_wUKQDzVtmR66cagVnUFnI_kRQlRyXN4GOfcLKVQPY4ZV47sPbPE092UlzkaIEATcsza0JOrMdr6w8Ypx2YBhb3J8bc"
               style="margin-left: auto; margin-right: auto;"
             ><img
                alt=""
                data-original-height="493"
                data-original-width="640"
                height="240"
                src="https://blogger.googleusercontent.com/img/a/AVvXsEjP7CgdHRZgJRTdzXJ2e1LkQB1qfMDVy_603ISpgTnoBRwOJfzZ6d0vMuRSVUoM5BqDe_hpx9khVwaTqWAN8T7YH2CzGvs4hiH4_wUKQDzVtmR66cagVnUFnI_kRQlRyXN4GOfcLKVQPY4ZV47sPbPE092UlzkaIEATcsza0JOrMdr6w8Ypx2YBhb3J8bc"
                width="312"
              /></a
                ></td
                 ></tr
                  ><tr
                   ><td class="tr-caption" style="text-align: center;"
                    >大量のサイクリストを引き連れて上がってきた彼たちを見た心境はもうこれ</td
                                                                                         ></tr
                                                                                          ></tbody>
        </table><br />
      </div><div>
        みんなキツくて集団というよりは一列棒状の車列を形成し、そして一言、「かわいい子が見てるぞ？ラブライブかな？」と着ていた鞠莉さんジャージを見てそう言われたので「シャイニーしましょ？」とだけ返すのですが別に余裕があるわけではありません。
      </div><div>
        身体のどこかにまだ見ぬ力が眠っているかもしれないしジャージからパワーを得られないか祈ってみたりしたのですがそんなものはありません。現実は非情です...
      </div><div>いよいよ限界が来たので列から抜けて落ちていくことに。</div><div>
        <br />
      </div><div>
        これはこの日最大の危機なのですが、集団から離れる瞬間も75分を切れると信じることができていました。
      </div><div>
        まだ3分近い時間的猶予がある。だから1分で立て直して踏み直せば集団のアドバンテージを失って時間の貯金をどんどん吐き出す事にはなるだろうけどギリギリのところで75分切りはあるはず。特に四合目の緩斜面区間ならTarmacが刺さるはず。
      </div><div>
        これまでの半年間の鍛錬の成果とパーツを吟味するまでに拘ったバイクを信じよう。
      </div><div>
        まだまだ終わってないし、こんな状況でも去年よりずっとマシなんだからな。
      </div><div><br /></div><div>
        <div>これを1秒でまとめて脚を緩めて下がります。</div>
      </div><h4 style="text-align: left;">四合目 ~ ゴール</h4><div>
        下がりながら車列を見ると思ったよりも車列が長い！5倍は長い！
      </div><div>本当に長いな...20mはあるぞ？</div><div>
        頭が回らなくて長い長い長い！と思考がループしていたのですが5ヶ月にわたる高強度インターバルを続けてきた自分の身体は車列を下る間に回復し始めていた。
      </div><div><br /></div><div>
        そこでもう一度この車列に乗ろう！もしそこでダメだったらさっきの作戦で行こうと突然決めて下ハンを握ってダンシングで加速し車列に速度を合わせて復帰します。
      </div><div><br /></div><div>
        四合目を過ぎたら楽になると思っていたのですが、20km地点の山岳計測区間近辺の急登区間をギリギリの状態で耐えていると段々どこへ向けていいのかわからない怒りが込み上げてきました。
      </div><div>
        いつになったら緩斜面でてくるねん！ええ加減にせんかい！という思いを込めて思いっきりペダルを踏んづけると車列を先頭まで上がっていきます。
      </div><div>
        最初はシッティングで踏んでいたのですがさらにダンシングで一気に前へ上がります。
      </div><div>吐きそうです。もうほんとに</div><div><br /></div><div>
        これで緩斜面区間が出てこなかったら本当にまずいのですが奇跡的に緩斜面に突入！
      </div><div>
        するとここで一気に後ろから謎に脚の速い兄貴が飛び出してきて「いきましょう！」と声をかけてくる。
      </div><div>
        自分は、それを見送った。今フルパワーで踏んだんです勘弁してください。
      </div><div>
        少しだけ呼吸を整えたかった。どれだけ息を吸っても吸えてる感じはしないんだけど。
      </div><div><br /></div><div>
        呼吸を整えるためにギアをアウターへ入れてとにかくケイデンスを下げる。ギアを重くして脚の重さでペダルを踏んでもこの傾斜なら十分に加速できるなどと考えているとちょうど良い速さの人が上がってくる。本当に渡りに船です。すかさず着いて息を整えます。
      </div><div>
        ちなみにこの時35km/hほど出ていましたが後ろについている間は130wくらいで走行できていました。L2ですね。
      </div><div>
        何度か彼らと先頭交代しつつ気がつけば3つ目のトンネルを抜けた先にはゴール。
      </div><div class="separator" style="clear: both; text-align: center;">
        <a
          href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhN0n8JHvy0jVcH9slj-BLiug6fRusezbKUo6P1BCJ1fv3ZEiP-0RBtSlfpD3jX-bVM9YLtqOyv5_ejg2HE7Z5L9CIl77b-AgKGGAfP6B-V3wnZisr4J4ok7xkfzGUSMPjO2wDHzfLtr1-gsy1xm6cH4c9XBNl5dgDwCpaSnFpVICvZjxqv11vDwcb4hEw/s1870/IMG_5736.jpg"
          style="margin-left: 1em; margin-right: 1em;"
        ><img
           border="0"
           data-original-height="1402"
           data-original-width="1870"
           height="240"
           src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhN0n8JHvy0jVcH9slj-BLiug6fRusezbKUo6P1BCJ1fv3ZEiP-0RBtSlfpD3jX-bVM9YLtqOyv5_ejg2HE7Z5L9CIl77b-AgKGGAfP6B-V3wnZisr4J4ok7xkfzGUSMPjO2wDHzfLtr1-gsy1xm6cH4c9XBNl5dgDwCpaSnFpVICvZjxqv11vDwcb4hEw/s320/IMG_5736.jpg"
           width="320"
         /></a>
      </div><div><br /></div><div><br /></div><div>
        先行組の塊で前の道が塞がっているのでゴールスプリントはできませんが最後の最後まで脚を緩めることはしないでおこうとケイデンスを上げます。この時にはもう踏む力も残っていませんでした。
      </div><div><br /></div><div>歓喜の瞬間は一瞬で過ぎ去りました。</div><div>
        サイクルコンピューターのタイムは72分14秒を表示しており、これは悲願達成が確定したことを表しています。
      </div><div><br /></div><div>
        涙は込み上げてくるのですが泣くと息が苦しくて泣き止むみたいなのを繰り返していました。
      </div><div><br /></div><div>空は青かったですね。。。</div><div>
        <br />
      </div><div class="separator" style="clear: both; text-align: center;">
        <a
          href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhlGid47OZ-61Eqw-cbLTy0Sj-esnU15fJ_1J378jZvK4dUWO4pplalPh-2CN47bBYoLXAT0FwtKk3xG26_m1bJafuXaJe_XxmTwiLk5bmYcietwbDppR-RGO_Aps733neQk099lNFSoHijQH67pSM8gQa-MZg9vUeplYT63l7FSWGAp4KUyKdwqtLBPEQ/s1870/IMG_5581.jpg"
          style="margin-left: 1em; margin-right: 1em;"
        ><img
           border="0"
           data-original-height="1402"
           data-original-width="1870"
           height="240"
           src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhlGid47OZ-61Eqw-cbLTy0Sj-esnU15fJ_1J378jZvK4dUWO4pplalPh-2CN47bBYoLXAT0FwtKk3xG26_m1bJafuXaJe_XxmTwiLk5bmYcietwbDppR-RGO_Aps733neQk099lNFSoHijQH67pSM8gQa-MZg9vUeplYT63l7FSWGAp4KUyKdwqtLBPEQ/s320/IMG_5581.jpg"
           width="320"
         /></a>
      </div><div><br /></div><h4 style="text-align: left;">最後に</h4><div>
        本当に苦しかった。
      </div><div>
        レースがというよりも75分を切れていない自分の不甲斐なさに二年間悩まされてきた。
      </div><div>
        それだけに今回ようやく抜け出すことができて本当に安堵しました。
      </div><div><br /></div><div>
        72分14秒というのは別に優勝とはなんら関係ない小さい出来事でしかないのだけれど、なんのことも無い勲章をあの山の頂で得られたことが本当に誇らしい。
      </div><div><br /></div><div>これでまだまだ走り足りなくなった。</div><div>
        どうやらこれからもこの旅路は続くらしい。
      </div>
    </div>
  </article>
</Layout>
