---
import Layout from "../../../../../layouts/ArticleLayout.astro";
const title = "献血行ってきた";
const description = "";
const thumbnail = "";
const labels = [];
---

<Layout title={title} labels={labels}>
  <article>
    <br /><div class="separator" style="clear: both; text-align: center;">
      <br />
    </div><div class="separator" style="clear: both; text-align: center;">
      <br />
    </div>

    <blockquote class="twitter-tweet">
      <p dir="ltr" lang="ja">
        ／<br />みんなの献血×ラブライブ！サンシャイン!!<br
        />オリジナルコラボクリアファイルプレゼント<br />＼<br /><br
        />献血会場にて<br />献血協力いただいた方限定🔐<br
        />先着20,000名様にプレゼント！<br /><br />▼詳しくはこちら▼<a
          href="https://t.co/5BhfN13PtI">https://t.co/5BhfN13PtI</a
        ><a
          href="https://twitter.com/hashtag/%E3%83%A9%E3%83%96%E3%83%A9%E3%82%A4%E3%83%96%E3%82%B5%E3%83%B3%E3%82%B7%E3%83%A3%E3%82%A4%E3%83%B3?src=hash&ref_src=twsrc%5Etfw"
          >#ラブライブサンシャイン</a
        >
        <a href="https://t.co/NfwlyBzDzz">pic.twitter.com/NfwlyBzDzz</a>
      </p>— みんなの献血【公式】 (@min_ketsu) <a
        href="https://twitter.com/min_ketsu/status/1242273696200290304?ref_src=twsrc%5Etfw"
        >March 24, 2020</a>
    </blockquote><div><br /></div><div><br /></div><div>
      クリアファイルめっちゃほしい！
    </div><div><br /></div><div>
      3/31の昼休みに行ってみたが1時間くらいかかるというので日時を改めることに。
    </div><div><br /></div><div>
      幸い4/1で入社から6ヶ月が経過し有給が付与されるので早速午前休を申請して4/2に朝から行ってきましたとも！
    </div><div><br /></div><div>
      <b><font color="#b51200">400mlの献血</font></b
      >は一度行うと8週間くらい再走できないので転売兄貴によって在庫が消滅することもないので週末まで待っても良かったのですが、
    </div><div>
      週末は最高にハードなトレーニングをやる予定で血液に乳酸とか混じってたら恥ずかしいのです。
    </div><div>だから有給を使う必要があったんですね。</div><div><br /></div><div
    >
      <br />
    </div><div>
      とりあえず受付して採血ルームでぶっとい針を刺されるわけですが
    </div><div>
      なんか今日は調子が良くって400mlの採血もものの5分ほどで終わったためトータル1時間かからないくらいで献血ルームをあとにする
    </div><div><br /></div><div><br /></div><div><br /></div><div>
      <font size="4"><b>衣装の話が死ぬほど書きたかったんだよ！</b></font>
    </div><div><br /></div><div>
      献血行ったって話で終わるつもりだったんですがクリアファイルの画像を見てたらどうしても書きたくなったので
    </div><div><b>個人の感想を書いていくよ！</b></div><div><br /></div><div>
      <br />
    </div><div class="separator" style="clear: both; text-align: center;">
      <a
        href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhTsJYpDxydmU5wIWHnKOqU-9kqnjNdaTgGRGRBmbCBjO50TMBR_gPBfh7BvjnNR4JkANaiBGsx4MlsEFWAhLWxw5Y4rpG-Y1MtsokHQvJpJkI9xD_uYL8aaup_627I_VdAr_dCjsc1P8g/"
        style="margin-left: 1em; margin-right: 1em;"
        ><img
          border="0"
          data-original-height="3614"
          data-original-width="2621"
          height="320"
          src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhTsJYpDxydmU5wIWHnKOqU-9kqnjNdaTgGRGRBmbCBjO50TMBR_gPBfh7BvjnNR4JkANaiBGsx4MlsEFWAhLWxw5Y4rpG-Y1MtsokHQvJpJkI9xD_uYL8aaup_627I_VdAr_dCjsc1P8g/s320/IMG_20200402_111417.jpg"
        /></a>
    </div><div><br /></div><div><br /></div><div>よく見てほしい。</div><div>
      このクリアファイルはキャラごとに白のブラウスと赤いスカートのコーディネートなんですが
    </div><div>
      ブラウスとスカートのデザインちょっと違うキャラ毎にデザインが異なっている
    </div><div>その上にすべてのデザインがとてもかわいい...</div><div>
      <br />
    </div><div>
      まずは<font color="#f4a900"><b>千歌ちゃん</b></font
      >&nbsp;オーソドックスなパターンにリボンという構成ですがよく見ると襟が立ってるんですね。
    </div><div>他のキャラは襟が立ってなくて千歌ちゃんだけ！</div><div>
      ちょっとフォーマルな感じがでてる！(どうしてフォーマルにする必要があったのかはさておき)
    </div><div>立て襟いいゾ～これ！ (&lt;&lt;-立て襟いいぞおじさん)</div><div>
      オレンジめいた茶色の髪色と服の相性が抜群！
    </div><div><br /></div><div><br /></div><div>
      <font color="#f4c7c3" style="font-weight: bold;">梨子ちゃん</font><font
        >も一見するとオーソドックスなパターンに見えるのですがよく見ると袖が膨らんでる！</font>
    </div><div>大人可愛いい感がキャラクターとの相性高すぎぃ！</div><div>
      ボルドーの髪色と服の相性が抜群！
    </div><div>あと気になるところは紐リボン！</div><div>
      紐リボンについては後でもうちょっと書くぞぉ！
    </div><div><br /></div><div><br /></div><div>
      <b><font color="#7baaf7">曜ちゃん</font>&nbsp;</b
      >はすぐわかる違いとして半袖！そして飾り気のないブラウス！
    </div><div>
      曜ちゃんのスポーティーな面を服で表現しつつ、鍛えられた太ももで質実剛健さをだしつつも可愛らしさが描かれている(すごい！語彙力喪失)
    </div><div>
      たったこれだけで曜ちゃんを知らない人にも曜ちゃんというキャラクターを理解させられる！
    </div><div>
      あと灰色の髪色 &gt; 白ブラウス &gt; 赤のスカートの色の移り変わりが最高！
    </div><div><br /></div><div><br /></div><div>
      <font color="#e67c73" style="font-weight: bold;"
        >Rubyちゃん
      </font>は服装だけ見れば一番オーソドックスな描かれ方をしている。
    </div><div>
      が、私はRubyちゃんには是非とも千歌ちゃんと一緒に見てその対比を感じてほしいのです！
    </div><div>
      千歌ちゃんが襟を立てて大人びた感じで描かれているのに対し同じようにリボンを使いながらも少女らしさを表現している。
    </div><div>
      似たデザインのスカートにも違いがあり千歌ちゃんが膝下まで丈があるのに対しRubyちゃんは膝上まで、また袖の長さにも違いが...
    </div><div>
      見れば見るほど面白いのですがさらに言えば果南ちゃんとも類似点が。これについては果南ちゃんのところでもうちょっと書きたい所存。
    </div><div>
      また赤い髪と服が完全に調和しておりアイドル活動か普段着か全くわからないのも特徴的なんですね。
    </div><div><br /></div><div><br /></div><div>
      <b><font color="#f7cb4d">花丸ちゃん</font></b
      >&nbsp;もぱっと見ただけでは襟が赤い！というところに目が行くだけでしょう。
    </div><div>
      確かに襟の赤さが白い生地と対比になっていてとてもかわいいんですがよく見てほしい。(<font
        color="#d52c1f"
        ><b>そして献血に行ってクリアファイルを手に入れてほしいのですが</b></font
      >)
    </div><div>
      花丸ちゃんのスカートにも実は紐リボンのコーディネートがあるんですね。
    </div><div>
      紐リボンについては後に考察をまとめるんで、ここまでなんですがもう一つよく見てほしいのが袖口！
    </div><div>
      袖口が可愛く波の形にカットされており腕を通すと<b>花丸</b
      >になるようにデザインされてるんですね！(芸が細かい！)
    </div><div>
      これはよく見ないと全く気が付かないものなんですよね！花丸ちゃんの魅力、奥ゆかしさが存分に詰まってると思うんです。
    </div><div>
      そして絶妙に襟に掛かっている茶色の髪がこの絵を紐解く鍵になった気がする。
    </div><div><br /></div><div><br /></div><div>
      <b style="color: #9e9e9e;"
        >善子ちゃん
      </b>我道を行く善子ちゃんのキャラがブラウスに詰まっています。
    </div><div>
      おそらく初見では赤色のボタンに目が行くと思いますが見てほしいのは襟なのです。花丸ちゃんの袖のように<b
        >波々になった襟</b
      >なのです！。
    </div><div>
      そう、花丸ちゃんが袖を使って花丸を表現していたのに対し善子ちゃんは襟を使って<b
        >堕天使の羽</b
      >を表現しています!(個人の感想です)
    </div><div>
      またブラウスのボタンが赤色なのも9人中善子ちゃんただ一人。
    </div><div>
      これは等間隔に並べられたロウソクの🔥のようにも堕天使の涙のようにも解釈できて謎が深い。
    </div><div>
      ヨハネの新約聖書が出ることを待ちたい気持ちにさせてくれます。
    </div><div>
      それはそれとして漆黒の髪と服の色合いがフィギュアになっても映えそう。堕天降臨してほしい！
    </div><div><br /></div><div><br /></div><div>
      <b style="color: #d52c1f;"
        >ダイヤさん
      </b>は結構わかりやすく違いが描かれています。まず襟が赤くそして前立て(ボタンが付いてるとこ)が赤い！
    </div><div>
      襟が赤いのは花丸ちゃんもそうなんですが花丸ちゃんの襟は角が丸いんですね。対してダイヤさんの襟はエッジが効いてる(めっちゃアイロン掛かってそうで親近感あります！)
    </div><div>
      赤の前立と白のボタンなんです、たぶんこのボタンは現実だと少し立体的なボタンになっていると思われます(平面には見えない気がする)そのこだわりが可愛らしさを演出しつつ絶妙にゆったり感を醸す袖と合わせて大人らしさを演出しています。
    </div><div>
      そっと置かれた手が名家のお嬢様という彼女とその安心感を与える人となりを伝播させます。
    </div><div>
      そして優しい眼差しがこれは献血コラボの作品だということを思い出させてくれます。
    </div><div><div>を感じる硬度10といった感じでしょうか</div></div><div>
      <br />
    </div><div><br /></div><div>
      <b><font color="#41b375">果南ちゃん</font></b
      >&nbsp;ついにリボン女子の話を書くときが来たんですね。
    </div><div>
      服についてはおそらく9人中でも1,2を争う普通さなんですが果南ちゃんのキャラだとこうでもしないと個性が強すぎちゃうんでしょうね。
    </div><div>
      それでも隠しきれないオーラがあって、ダイヤさんとは違う背筋の良さと襟元のリボンが宝塚歌劇団的魅力を醸し出しています。
    </div><div><br /></div><div>
      そしてリボンと千歌ちゃん、Rubyちゃん、果南ちゃんの共通点なんですが、まず背景として千歌ちゃん、果南ちゃんはともにスクールアイドルの発起人として活動を開始したキャラクターです。
    </div><div>
      <div>
        ラブライブサンシャインは千歌ちゃんを主人公に物語が進みますが果南ちゃんが主人公だったとしても何も不思議ないくらいの主人公適正持ちです。
      </div><div>
        3年生、2年生ともにスクールアイドル発起人がいたのなら1年生にもいるんじゃない？そうです。それがRubyちゃんなんですね。
      </div><div>
        きっと千歌ちゃんの代が卒業したら次に浦の星のスクールアイドルを引っ張れるのは必然的に彼女に(スクールアイドルの知識、経験共に)
      </div><div>
        千歌ちゃん、果南ちゃん、Rubyちゃんの3人の服装からそういう共通点が見て取れるんですね(考えすぎ)
      </div>
    </div><div>
      リボンはその代の主人公適正(メタワード)持ちのメタファーなんじゃないかとそう感じられるアイテムなんですねぇ(考えすぎ|個人の感想です)
    </div><div>
      果南ちゃんはもともと紫がかったポニーテールだったので合わないんじゃ...とちょっと心配したのですがなんのことはない。合う！すごく良い！
    </div><div><br /></div><div><br /></div><div>
      <b><font color="#ba67c8">鞠莉ちゃん</font></b>&nbsp;金髪に<b>6</b
      >そして七分袖(かわいい)と紐のリボン(かわいい)、そしてプリーツスカート(すごく、かわいい)
    </div><div>そもそも推しキャラな上に服まで可愛いから...</div><div>
      初見ではきっと紐リボンかそのあたりに目が行くことだろう。が、そこじゃない。まず見てほしいのは襟。鞠莉ちゃんの襟は3年生でもっとも柔らかい形をしている！
    </div><div>
      そこからゆったり結ばれた紐リボン。乗馬が趣味(公式設定)と言っても十分通じる高貴さと角のない襟の柔らかさのコントラスト。
    </div><div>
      さらに七分丈から見える可愛い手首。そしてプリーツスカート。かわいいが服着て座ってるんだからそれは可愛いですよ。
    </div><div>
      「<b>立てば芍薬座れば牡丹歩く姿は百合の花</b
      >」まさにそんな感じのコーディネート。昔の人はたとえが素晴らしい！
    </div><div><br /></div><div>
      <div>そして忘れてはならけない紐リボンの話。</div><div>
        紐リボンを着用しているのは梨子ちゃん、花丸ちゃん、鞠莉ちゃんなんですが
      </div><div>
        3人とも同級生に強くプッシュされてスクールアイドルになってるんですねぇ。
      </div><div>
        逆に同級生に何かあれば互いを結びつけるシーンが作中でいくども描かれていますね!(伝説の1期8,9話とか)。
      </div><div>
        何かとキャラが濃かったりパトスが迸ったりする各学年を見事に調和させるハーモニックな感じがこの絵の中でリボンとして描かれている(個人の感想です！)
      </div><div>
        梨子ちゃん、鞠莉ちゃんは作曲担当だったこともありフカヨミすれば紐リボンは五線譜のメタファー(考えすぎ)
      </div><div>
        作詞に参加していた花丸ちゃんにとっては紐リボンはノートの罫線のメタファー(考えすぎ)
      </div>
    </div><div><br /></div><div>
      まあ紐は結ぶものだからね。曲は音を詞は言の葉を結ぶんだよなぁ。
    </div><div><br /></div><div><br /></div><div>
      すごく書き綴ってしまったんですが金色の髪と赤のコントラストが良い
    </div><div>リオレイア希少種みたいな麗しさがある！</div><div><br /></div><div
    >
      <br />
    </div><div>
      こんな怪文書をここまでよんでくださってありがとうございます！
    </div>
    <script
      async=""
      charset="utf-8"
      src="https://platform.twitter.com/widgets.js"></script>
  </article>
</Layout>
