---
import Layout from "./Layout.astro";
import { Breadcrumbs } from "../components/Breadcrumbs";
import { PopularArticles } from "@/components/PopularArticles";

interface Props {
  title?: string;
}

const { title = "My Blog" } = Astro.props;
---

<Layout>
  <div class="min-h-screen bg-gray-100">
    <main class="container mx-auto py-8 px-4">
      <Breadcrumbs items={[{ label: title, href: "#" }]} />
      <div class="flex flex-col lg:flex-row gap-8 mt-4">
        <article
          class="w-full lg:w-3/4 bg-white rounded-lg shadow-md overflow-hidden"
        >
          <slot />
        </article>

        {/* Sidebar */}
        <aside class="w-full lg:w-1/4">
          <div class="lg:sticky lg:top-20 space-y-6">
            <PopularArticles />
            <ProfilePane />
          </div>
        </aside>
      </div>
    </main>
  </div>
</Layout>
