---
import "../styles/global.css";
import Header from "@/components/Header";

interface Props {
	title?: string;
}

const { title = "GreatDistance ~好きこそ物の上手なれ~" } = Astro.props;
---

<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="My Blog" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favico.jpg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
