<div class="mx-auto my-5">
  <h1 class="text-center text-2xl font-light">好きこそものの上手なれ🌟</h1>
</div>
<div class="grid md:grid-cols-12 sm:grid-cols-1">
  <%= for post <- @posts do %>
      <div class="md:col-span-6 lg:col-span-4  xl:col-span-12 m-3 hover:drop-shadow">
        <%= render "card.html", post: post %>
      </div>
      <% end %>
</div>

<div class="mt-5">
<%= render "paginate.html" %>
</div>
