---
import Layout from "../../../../../layouts/ArticleLayout.astro";
const title = "GoreTextデビューした"
const description = ""
const thumbnail = ""
const labels = []
---
<Layout title={title} labels={labels}>
<article>
<table align="center" cellpadding="0" cellspacing="0" class="tr-caption-container" style="margin-left: auto; margin-right: auto; text-align: center;"><tbody>
<tr><td style="text-align: center;"><div class="separator" style="clear: both; text-align: center;">
<br /></div>
<div class="separator" style="clear: both; text-align: center;">
<a href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjMTZMSBi-ywtP50jce9i-7fqy3aPEFYI_Ldta1Vms7DR-xfMUhh3PF_u_ps47Ylkn2dYpEsnqdSfyP1w9tOgEoaxXr2kGogcqY-e8YGE_4C_lA_aL2JaUpypxRXjuh7Hk0qiZ3_chFJfU/s1600/line_2098514844083383.jpg" imageanchor="1" style="margin-left: 1em; margin-right: 1em;"><img border="0" data-original-height="1108" data-original-width="1478" height="239" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjMTZMSBi-ywtP50jce9i-7fqy3aPEFYI_Ldta1Vms7DR-xfMUhh3PF_u_ps47Ylkn2dYpEsnqdSfyP1w9tOgEoaxXr2kGogcqY-e8YGE_4C_lA_aL2JaUpypxRXjuh7Hk0qiZ3_chFJfU/s320/line_2098514844083383.jpg" width="320" /></a></div>
</td></tr>
<tr><td class="tr-caption" style="text-align: center;">何も知らしなければただのウィンドブレーカーにしか見えない</td></tr>
</tbody></table>
<br />
<br />
2019年はサドルの上に1ヶ月近く住んでいた私です。<br />
2020年はサドルの上での生活の質を向上させていきたいと考えるのはとても自然なことですね。<br />
どちらかというとウェアとかサドルにもっとお金をかけるべきなのでは🤔<br />
<br />
<br />
で、自転車ライフの質向上の第一歩として私がチョイスしたのは防寒グッズ。<br />
<br />
2016年12月29日、自転車を始めたばかりの私は限界を知らず無謀にも真冬の(それも-1℃)の深夜に夏用ウェアで夜間行軍して低体温で死にかけた記憶があり寒さ対策にはある程度お金を使うべきということを強く学んだのですがきっかけです。<br />
<br />
寒いと自転車に乗りたくなくなるしね(´・ω・｀)<br />
<br />
<h3>
手持ちの装備</h3>
実は自転車を始めてから毎年1~3月の間にウィンドブレーカーを購入してたりします。<br />
<br />
<ul>
<li>2017年はカペルミュールのウィンドブレーカーとモンベルのレインコート</li>
<li>2018年はSportfulのウィンドブレーカー</li>
<li>2019年はRaphaのRainCape</li>
</ul>
<br />
<br />
一番のお気に入りはカペルミュールのウィンドブレーカーだったのですがライド中に落として無くしてしまった(´・ω・｀)<br />
<table align="center" cellpadding="0" cellspacing="0" class="tr-caption-container" style="margin-left: auto; margin-right: auto; text-align: center;"><tbody>
<tr><td style="text-align: center;"><a href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjcWQy-EOsoPl6ZuYFS8xKMejQyX4MgNJMF49AeE5TCC4Vmk-VFCrKQiwsmqs9L9qVo2d8ulVexzQqQXuLf-LuEmaK9zbon8o7j57GHgBjXl1eQS0EXumCGdAu8c8e23ia-vX0DR-9yylI/s1600/IMG_0500.jpg" imageanchor="1" style="margin-left: auto; margin-right: auto;"><img border="0" data-original-height="1478" data-original-width="1108" height="320" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjcWQy-EOsoPl6ZuYFS8xKMejQyX4MgNJMF49AeE5TCC4Vmk-VFCrKQiwsmqs9L9qVo2d8ulVexzQqQXuLf-LuEmaK9zbon8o7j57GHgBjXl1eQS0EXumCGdAu8c8e23ia-vX0DR-9yylI/s320/IMG_0500.jpg" width="239" /></a></td></tr>
<tr><td class="tr-caption" style="text-align: center;">ピンク色だったのでお気に入りだった</td></tr>
</tbody></table>
<br />
<br />
モンベルのレインコートはウィンドブレーカーとしても大変優秀で非常に温かいのですが透湿性は皆無で蒸れる...<br />
雨に濡れないために着ているのに汗で濡れる...<br />
<br />
RaphaのRainCapeはレインコートでありながらある程度は(確かにモンベルよりは蒸れないが結局は蒸れる)透湿性もあるために着る分にはそこそこ便利ではあったのですがたいへんかさばるため携行性が極めて悪く、夏の夜間やダウンヒルで使いたいけど必要なときまでポケットに入れておくことが難しい(というかできない。どうしてもという場合はビニール袋に突っ込んで輪ゴムで縛る必要がある)という運用上の大きな欠点がありました。<br />
最近、反射ベストのポケットに突っ込んでおくことで輸送できるというハックを発見したのでその方法で利用していますが汗をかいたら速やかに脱がなければ結局蒸れるなど快適に使うために運用で補わないといけない点が多く未だQOLをそこまで大きく高めるには至っていなかったのです...<br />
<br />
<h3>
GOREってみんないいって言うやん？</h3>
<div>
私がほしい防寒用ジャケットというのは</div>
<div>
<ol>
<li>軽くてかさばらない(持ち運びしやすい)</li>
<li>雨、風を通さない(温かい)</li>
<li>蒸れない(冷えない)</li>
</ol>
<div>
こういうやつですよ。<br />
<br /></div>
</div>
<div>
自分の知る限りでは上の条件のうち2つは両立できるけど3つを同時に遂行できてるアウターは無いということ(´・ω・｀)</div>
<div>
<ul>
<li>軽くて雨風を通さない -&gt; モンベルのレインコート -&gt; ただし蒸れる</li>
<li>軽くて蒸れない -&gt; 普通のサーマルジャージ -&gt; ただし雨風を通す</li>
<li>耐風雨  &amp; 蒸れない(比較的) -&gt; RaphaのRainCape -&gt; ただしかさばる</li>
</ul>
</div>
<div>
こういう感じですね。</div>
<div>
そういう不満を家族に漏らしたら弟(現場仕事)と母(元登山部)から</div>
<div>
「GORE-TEXやったら解決やな」</div>
<div>
という返事が返ってきた。</div>
<div>
<br /></div>
<div>
母曰く30年くらい前からあるけど未だに売ってるすごいやつらしい。</div>
<div>
<br />
<b>軽い、蒸れない、温かい</b>を実現した夢の素材だと。<br />
<br /></div>
<div>
弟も仕事で使ってるウェアを見せてくれた。</div>
<div>
<br /></div>
<div>
なんか良さそうな気がしてきた！</div>
<div>
<br /></div>
<h3>
 満を持して登場したRapha + GORE-TEX</h3>
<div>
GOREいいやんって漠然と生活してたらRaphaがGOREとコラボして商品を出した!<br />
<table align="center" cellpadding="0" cellspacing="0" class="tr-caption-container" style="margin-left: auto; margin-right: auto; text-align: center;"><tbody>
<tr><td style="text-align: center;"><a href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjViNiUBZ_e4q2OF0iDJ5aIQUuz6WMtaWFDmO5FhES3iBDdD2iGn1Rux-dTqBG1SO0N6SkQlaKCJfToS77eHAYl6KNlppRdJmdI86SwTcCP8SFmLv-i_Gf9jT1TBHPzp4lsw96sXoMKDm8/s1600/h219_location_france_goretex_25-select.jpg" imageanchor="1" style="margin-left: auto; margin-right: auto;"><img border="0" data-original-height="1600" data-original-width="1067" height="320" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjViNiUBZ_e4q2OF0iDJ5aIQUuz6WMtaWFDmO5FhES3iBDdD2iGn1Rux-dTqBG1SO0N6SkQlaKCJfToS77eHAYl6KNlppRdJmdI86SwTcCP8SFmLv-i_Gf9jT1TBHPzp4lsw96sXoMKDm8/s320/h219_location_france_goretex_25-select.jpg" width="213" /></a></td></tr>
<tr><td class="tr-caption" style="text-align: center;">かっこいいやん</td></tr>
</tbody></table>
</div>
<div>
値段は...　<b>36,500円</b><br />
でも性能が性能なので思い切って購入してみることに！<br />
<br />
最初の使用はこちら <a href="https://blog.great-distance.com/2020/01/brm111-allroad-300km.html">BRM111AllRoad</a><br />
この日、出発はAM3:30。そこまで寒くは無かったものの気温は4℃ ~ 6℃<br />
<br />
まずは防寒性能のテストだと思って走るも完全に防風。<br />
風が抜けてこないので暖かい！！<br />
素晴らしい！<br />
<br />
しかしここまでは普通のウィンドブレーカーでも達成されていること。<br />
一番気になるのはこのまま走っても蒸れないかだ。<br />
<br />
これは長期的なレポートになるかと思っていたが結果はすぐに明らかになった。<br />
神戸ブルベがスタートするとすぐに再度山を登ることになる。<br />
この日のブルベ参加者はこの山をヒルクライムレースもかくやという速さで登攀していった。<br />
もちろんぼくもGoreを着たままそこに加わり顔から<b>汗を垂らしながら登攀したがGoreはドライなままだった！</b><br />
<br />
そのまま高速ダウンヒルをこなすも蒸れてないので冷えることもなく、その防風性を発揮し続け淡路島へ上陸。<br />
<br />
淡路島では11℃まで気温が上昇するも蒸れることは無くウィンドブレーカーとして着用を継続。<br />
おそらく終日着ても不快感は感じなかっただろうことは想像に難くない。<br />
<br />
<b>看板に偽りなしの驚異の性能を実体験した</b><br />
<div class="separator" style="clear: both; text-align: center;">
<a href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjBuXl9jdrZetLd0OeQmZHeuwodQMDsp6XEe0y292sZ2TV_jt82w5zJVvOnvWK5XD7pJxzULverbS-hVrS8Y313mPTXHz6zEp0VUoDp2GuZcZDvFgNsSBU3OjQDJXLZFUJDBkewU84b3EM/s1600/line_2098598672391213.jpg" imageanchor="1" style="margin-left: 1em; margin-right: 1em;"><img border="0" data-original-height="1476" data-original-width="1110" height="320" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjBuXl9jdrZetLd0OeQmZHeuwodQMDsp6XEe0y292sZ2TV_jt82w5zJVvOnvWK5XD7pJxzULverbS-hVrS8Y313mPTXHz6zEp0VUoDp2GuZcZDvFgNsSBU3OjQDJXLZFUJDBkewU84b3EM/s320/line_2098598672391213.jpg" width="240" /></a></div>
<div class="separator" style="clear: both; text-align: center;">
<br /></div>
<br />
<br />
驚異的な性能を発揮し続けるもこの日の向かい風はなかなかハードでバタつくだけでも体力を消耗してしまう(´・ω・｀)<br />
<br />
蒸れたわけでも熱いわけでもなく風による体力消費を抑えるためという戦略上の理由からジャケットを脱ぐことにした。<br />
しかしこのジャケットは非常に薄いのでジャージのポッケにすっぽり入ってしまう。<br />
<br />
レインウェアでは真似できない利便性をここでも発揮しもうこれだけあればどこでも行けるという革新と、次も絶対Goreを買うことを固く誓うことになった<br />
<div>
<br /></div>
<br />
<h3>
さいごに</h3>
基本的にはアウターとして利用するGoreジャケットですが実は普段着としてもよく使ってます。<br />
コートを出すには暑いけど消して寒くないわけじゃないという微妙な時期にパーカーの下に着たりしてます。<br />
<br />
実際コート着てるより暖かいです。<br />
走っても蒸れないのでとても重宝してます<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br /></div>
</article>
</Layout>
