---
import Layout from "../../../../../layouts/ArticleLayout.astro";

const title = "";
const labels = ["2025年", "計画"];
const keyword = "";
const description = "2025年、何しようかな？";
const thumbnail = "/images/thumbnails/1.webp";
---

<Layout title={title} labels={labels}>
  <article>
    <h2>2024年を振り返って</h2>
    これほど見事にダメダメだった年も珍しいというくらいダメダメな一年だった。
    富士ヒルは過去一番酷い結果を出したし、熊野古道ヒルクライムもだめ、トレーニングをやる気も起きければ自転車止めようか？と思うくらいの心境に到達していた。
    一番ダメなのは自転車を楽しめなくなったことではある。
    富士ヒルでダメだったので熊野古道HCでそれを取り戻すために7月、8月を全力でトレーニングに当てて、オーバートレーニングに突入して鬱っぽい状態に到達したのが悪かったと思うんだけど。
  </article>
</Layout>
