---
import Layout from "../../../../../layouts/ArticleLayout.astro";
const title = "GreatDistance Stage.7 レポート";
const description = "";
const thumbnail = "";
const labels = [];
---

<Layout title={title} labels={labels}>
  <article>
    <iframe
      allowtransparency="true"
      frameborder="0"
      height="405"
      scrolling="no"
      src="https://www.strava.com/activities/2685791281/embed/c153bf745c72774e08a2ac14983687ed3b65d8af"
      width="590"
    >
    </iframe>

    <br />
    <br />
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr>
          <td style="text-align: center;">
            <a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhPipzHFmzMGauZBwvhYFWGLm8ZByB_CHuALUmDMJbGG6-8XpDRKmVvIBwXlVFIAtUPYQYxNKYIiXY_FuBMQDF6NOrWVTLw5QtqimU2nt571ulxzpu2WKjT54bOaMd_888M_G-OuEBTlX8/s1600/IMG_20190907_032214.jpg"
              style="margin-left: auto; margin-right: auto;"
            >
              <img
                border="0"
                height="240"
                src="/public/images/2019/09/07/GreatDistance_Stage.7_レポート/0.jpg"
                width="320"
              />
            </a>
          </td>
        </tr>
        <tr>
          <td class="tr-caption" style="text-align: center;">
            リュックを背負ったのも間違いだったかもしれない</td
          >
        </tr>
      </tbody>
    </table>
    <h3>
      <br />
      今日のコース
    </h3>
    <br />
    Stage.1で走った梅田 ~ 白浜のコースの予定でした。<br />
    初日との違いはこれがナイトライドということ。<br />
    当初はオーバーナイトする予定だったのですがいくつかの失敗で途中切り上げ<br />
    <br />
    <br />
    <h4>失敗一覧</h4>
    <br />
    <ol>
      <li>回復に時間を取らない</li>
      <li>寝過ごしからの焦りの準備</li>
      <li>食事を取らずに出発</li>
    </ol>
    <br />
    だめだ、<br />
    悪い状況の見本市みたいな失敗してる...<br />
    <br />
    <br />
    Stage.6でアワイチしてから回復までに十分な時間を設けなかったことがそもそもの間違いだった。<br
    />
    <br />
    当初の予定では1:00に出走の予定でしたが0:00頃に強い眠気が来たので安全のため寝ることに。<br
    />
    <br />
    目覚ましはセットしたものの目覚めたのは3:00...<br />
    <br />
    焦りからブルベの翌週のブルベの準備だけして食事をせずに出発。<br />
    これはSleep-Lowトレーニングを過信していたのとアワイチ終了後からの摂取カロリーが回復に必要な分量を遥かに下回っていたのに気づいてなかったことが原因...<br
    />
    <br />
    <br />
    どうなったか？<br />
    <br />
    走り始めてもペースが上がらない。<br />
    <br />
    そもそも脚に力が入らないので25km前後の速度でノロノロ走行。<br />
    <br />
    走っていれば力も入ってくるかと思ったがカロリー不足からか憂鬱な状態に...<br
    />
    <br />
    ペース、空腹に耐えかねて西成のコンビニでおにぎりを2つ補給。<br />
    これでペースが戻るかと思ったがペースを維持することで手一杯に...<br />
    <br />
    どうにか大阪市内を抜けて南下を続けるも泉佐野で夜明けが到来。ここで眠気がピークに到達。<br
    />
    <br />
    日を浴びれば目も覚めるか？と思っていましたが眠気は取れず、岬町で意識が飛びそうになり路肩に突っ込みそうになったところで輪行に切り替えることに決定し和歌山駅を目指してノロノロ峠越え<br
    />
    <br />
    和歌山で朝食を取り、輪行して完走...<br />
    <br />
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr>
          <td style="text-align: center;">
            <a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjX9MDnoGypVwMg-lBHRM81PaP_T6BjyFfIl69sama5uf3jb5-SGQyoEa6RmJ2MHbPxNbOk8cw3fqEj2JQsXco3f14rcLbZ8BKwoOmbx47JnANkeMo3ExnFVrWDw9GTBNrKc8gM7dFUiqE/s1600/MVIMG_20190907_070150.jpg"
              style="margin-left: auto; margin-right: auto;"
            >
              <img
                border="0"
                height="240"
                src="/public/images/2019/09/07/GreatDistance_Stage.7_レポート/1.jpg"
                width="320"
              />
            </a>
          </td>
        </tr>
        <tr>
          <td class="tr-caption" style="text-align: center;">
            カロリーが身体に染み渡る</td
          >
        </tr>
      </tbody>
    </table>
    <br />
    <h3>結論</h3>
    <br />
    回復をバカにするの本当に良くない(´・ω・｀)<br />
    <br />
    焦ってもいいことないですね<br />
    <br />
    事故につながらなくて本当に良かった...<br />
    <br />
    明日は熊野古道ヒルクライムの試走会でそんなに長く走ることは無いのと明後日は完全休息日にする予定なのでこの2日で体調の完全復活を目論む予定です<br
    />
    <br />
    来週は週末のブルベに備えて徐々に強度を落としていってBRM915/200kmを最速タイムでゴールすることが目標になりそう<br
    />
    <br />
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr>
          <td style="text-align: center;">
            <a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgfovWmkNW58W_gpJs5yfVUTaluKE8_Ink1J0CvBMu2U9ucHf7LSau67eHXVNXuZC2HplMwem7w3OJVfXAkg2Gja5MCWt8YEkqa2-fES4WuaMyq6gP87FGq4Q7zPUu8mNcVxQlmkscYdm0/s1600/Screenshot_20190907-102359.png"
              style="margin-left: auto; margin-right: auto;"
            >
              <img
                border="0"
                height="320"
                src="/public/images/2019/09/07/GreatDistance_Stage.7_レポート/2.png"
                width="155"
              />
            </a>
          </td>
        </tr>
        <tr>
          <td class="tr-caption" style="text-align: center;">
            それでも1weekで1000kmに到達したのはすごい</td
          >
        </tr>
      </tbody>
    </table>
    <h3>
      <br />
      明日のコース
    </h3>
    <br />
    熊野古道ヒルクライムの試走<div>
      <br />
    </div>
    <div>
      <a
        href="https://blog.great-distance.com/2019/09/greatdistance-stage8.html"
      >
        8日目のレポートはこちら！</a
      >
    </div>
  </article>
</Layout>
