---
import Layout from "../../../../../layouts/ArticleLayout.astro";
const title = "能勢ライド"
const description = ""
const thumbnail = ""
const labels = []
---
<Layout title={title} labels={labels}>
<article>
<iframe allowtransparency="true" frameborder="0" height="405" scrolling="no" src="https://www.strava.com/activities/2763429257/embed/aa9b79c48e8b6ed5343f20c2e31d4a091e7e416e" width="590"></iframe>


<br />
<br />
<table align="center" cellpadding="0" cellspacing="0" class="tr-caption-container" style="margin-left: auto; margin-right: auto; text-align: center;"><tbody>
<tr><td style="text-align: center;"><a href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgHXT9eRIDdTzmx_6oeUf9lu_kJQFKbGrma78TkcwNHCfBs4NLyIqlyrHWPF6Y_LrarEmytmzOfEdu5iXeHtd94GUVnGf28HUzK1RSgkqkR_fQVnUmzCZRwkDDs6YiAjc1KLUBGjPeZt20/s1600/ice.jpg" imageanchor="1" style="margin-left: auto; margin-right: auto;"><img border="0" data-original-height="1600" data-original-width="1200" height="320" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgHXT9eRIDdTzmx_6oeUf9lu_kJQFKbGrma78TkcwNHCfBs4NLyIqlyrHWPF6Y_LrarEmytmzOfEdu5iXeHtd94GUVnGf28HUzK1RSgkqkR_fQVnUmzCZRwkDDs6YiAjc1KLUBGjPeZt20/s320/ice.jpg" width="240" /></a></td></tr>
<tr><td class="tr-caption" style="text-align: center;">道の駅猪名川のアイス<br />
柑橘系って感じの味</td></tr>
</tbody></table>
<br />
10月に入ってから体調を崩していたのでようやっとまともなトレーニングできた。<br />
とは言っても明日が遥かにつらそうなんで100kmで切り上げ。<br />
<br />
<h4>
継続こそパワーなんだが...</h4>
<div>
GreatDistanceの挑戦を終了した途端張り合いがなくなってトレーニングが辛くなったのでもう一度明確な目標を立ててそれを実行するようにしないと...</div>
<div>
週350km走るとかでいいのかなぁ</div>
<div>
もう一度LSDするか...?強度を落とす代わりに距離を走る方向に</div>
<div>
そうだなぁ来週は1時間走するか150wからちょっとずつ出力上げていくか<br />
目標が決まったらなんか書きます。</div>
<div>
<br /></div>
<h4>
本格的な実走をしてみてどうか？</h4>
<div>
100kmって短く感じる</div>
<div>
前述の理由で切り上げたけどもう100km走りたい気持ちはあった。</div>
<div>
本格的にロングライダーの仲間入りというところだろうか？</div>
<div>
<br /></div>
<div>
それとダンシングはやはり調子がいい。</div>
<div>
調子が良すぎて270w以上で走って自滅することが多いのが玉に瑕か...</div>
<div>
シッティングだと出力を維持するのが辛いからやっぱりダンシングは使いたいけどダンシングだと出力を見るのにいちいち下を向かないといけない...</div>
<div>
<br /></div>
<div>
シッティング強くするトレーニングが求められる...</div>
<div>
<br /></div>
<h4>
ペダリングはどうか？</h4>
<div>
シッティング時に明確に右足の出力が落ちる問題がなかなか解決に行き着かない。</div>
<div>
Specializedで作ったカスタムインソールは左足とは抜群に相性がいいんだろうけど右足とはなかなかといったところ。</div>
<div>
ということで以前に使っていたソールに戻して走ってみると出力差は[<b>49.7 : 50.3]</b>という結果になったのでちょっと差が埋まったっぽい</div>
<div>
<br /></div>
<div>
差が埋まったのは左足の出力が落ちたから結果的に埋まっただけという可能性があるからどこかのタイミングで左足はカスタムインソール、右側は以前のソールにしてみるとかでいろいろ検証して行こうかと思う。</div>
<div>
<br /></div>
<div>
ちなみにダンシングすると左右差はなくなる</div>
<div>
<br />
<h4>
グローブにパッド復活</h4>
ありがたいことにラビットストリートさんでパッドが消えたグローブを新しいものと交換してもらった🙏<br />
<br /></div>
<h4>
明日のコース</h4>
<div>
Twitterにオダックス近畿(関西のブルベを主催してるチーム)副代表のKATAYAMAさんからお誘いのDMが来たので二つ返事で参加することにした</div>
<div>
明日は淡路島を200km走るらしい。</div>
<div>
朝の6時に三宮に集合なので4時半起床か🤔</div>
<div>
電車の時間を見ると自走でも対して到着時間変わらない気がするんだけど...</div>
<div>
<br /></div>
<div>
Granfondシリーズという位置づけっぽいので相当山だらけらしいけど楽しく最後までついていけるように頑張ろうと思います!</div>
</article>
</Layout>
