---
import Layout from "../../../../../layouts/ArticleLayout.astro";
const title = "毎月2000km走るおじさんの話 #1月編(後半)";
const description = "";
const thumbnail = "";
const labels = [];
---

<Layout title={title} labels={labels}>
  <article>
    <a
      href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjfsHGpTz0GMC1vaANhsMCpkveYOcPUxf6cZWKHBg2Nny5B5l-jgTc9dzgkF2Evu_HejtjyQPWL3ujWEnw5Nu5lbpaMhJT_HhQxfyuIlG3a-oAAKWAu-87fyUPD0vjbxXUSzK56BdAdlnQ/s1600/EFFECTS.jpg"
      imageanchor="1"
    >
      <img
        border="0"
        height="320"
        src="/public/images/2020/03/15/毎月2000km走るおじさんの話_#1月編(後半)/0.jpg"
        width="320"
      />
    </a>
    <br />
    <br />
    <br />
    昨年末からほぼ休み無しで走り続けた2週間が終わり走行距離も1100kmに到達。<br
    />
    <br />
    このときはどんな間違いが起きても2000kmは確実だろうと思っていた。<br />
    <br />
    だが本当の戦いはここからだった。<br />
    <br />
    <br />
    14日<br />
    膝が痛み始める。<br />
    寒さが堪え始めたのだろうか🤔<br />
    <br />
    <br />
    15日<br />
    ケイデンスを上げすぎなければ大丈夫そうなので前から避けていた一時間走についに手を出す。<br
    />
    初日ということで216wで一時間に設定してみる。<br />
    この時ペダリング効率が平均で56%に届いていることに気がつく(プロで60%くらい)<br
    />
    多分乗り込みの成果なのですが2000kmも走っていると嫌でもきれいにペダルを回せるようになるみたいです！<br
    />
    <br />
    16日<br />
    この日も一時間走をする。<br />
    前日より強度を上げて228w一時間 -&gt; 達成<br />
    一時間走は一時間で得られる達成感が格別なのでおすすめです。<br />
    <br />
    <br />
    17日<br />
    休息日<br />
    <br />
    <br />
    18日<br />
    前日の休息と一時間走の影響で80kmを3時間半で走破!<br />
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr>
          <td style="text-align: center;">
            <a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjH9ua3cT74VK9yexyFqHl_UwzkINfAALgplH02IFTgS5zeinkDtiKxKaHOtjKX0TF0rHxuiqhN4XHHHV-ayNBvRenvV2Cs7eN6HS6eKTQHf86yGUV4MSZDcGh0ZQTr34CzzVfpBsthMNI/s1600/IMG_20200118_083922.jpg"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
            >
              <img
                border="0"
                height="320"
                src="/public/images/2020/03/15/毎月2000km走るおじさんの話_#1月編(後半)/1.jpg"
                width="240"
              />
            </a>
          </td>
        </tr>
        <tr>
          <td class="tr-caption" style="text-align: center;">
            かっこよく写っているけど後輪に空気はほとんど入ってない</td
          >
        </tr>
      </tbody>
    </table>
    <br />
    最初の1時間は18kmしか進めない(車が多いから...)ことを鑑みるとかなりのハイペースだったが83km地点で後輪をパンク。<br
    />
    <br />
    チューブレスのため空気漏れは止まるも2気圧くらいまでに空気が抜ける...<br />
    そのままなんとか継続して走るも今度は前輪もパンク。<br />
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr>
          <td style="text-align: center;">
            <a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjjcd6WGdHM43zJoOZoBwdExEz5NJGiJ3r6GfE6Pmd0uB9NTrF25xxVo_q6lanEiMIn3kWvDJR2LWRE6gHVEMwIC6YzBbTNfg5Tpoyaxc2VJHApP68ceohq5nbJ8xNXo9y8j4VUJfWNkZk/s1600/IMG_20200118_090027-EFFECTS-EFFECTS.jpg"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
            >
              <img
                border="0"
                height="320"
                src="/public/images/2020/03/15/毎月2000km走るおじさんの話_#1月編(後半)/2.jpg"
                width="320"
              />
            </a>
          </td>
        </tr>
        <tr>
          <td class="tr-caption" style="text-align: center;">
            前後パンクしてもTARMACはかっこいい...</td
          >
        </tr>
      </tbody>
    </table>
    <br />
    人生初の前後パンク &amp; 修理キット無しということで100kmでライド終了<br />
    なんとこの週は230kmしか走ってない！<br />
    <br />
    <br />
    19日<br />
    タイヤの交換だけ行う。<br />
    パナソニックのチューブレスにしてみた<br />
    前後で10000円くらい<br />
    やすい！<br />
    <br />
    20日<br />
    Zwiftでだらだら55kmほど走る<br />
    <br />
    21日<br />
    同じくZwiftで走る。<br />
    基本は距離を稼ぐ感じでこの日は58kmほど<br />
    <br />
    22日<br />
    さすがにだらだら走るだけでは駄目だろうということでちょっときつめの一時間走を実施。<br
    />
    238wで最後まで回し切る。<br />
    これで確実にこの出力までは維持できることを知る<br />
    <br />
    23日<br />
    翌日に170km走るつもりだったので休息<br />
    <br />
    24日~25日<br />
    <br />
    <br />
    23時発で夜通し走るオーバーナイトライドを敢行。<br />
    昼間より車が少ないだろうという見立てで走ってみた。<br />
    大阪市内は昼と変わらずタクシーが怖かったものの堺市を過ぎてからは車通りが減ったため平均速度が上がり始める。<br
    />
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr>
          <td style="text-align: center;">
            <a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjGXs7EPCvPiX0xzMZI5GNg5f9XCGcJlf_xyV6_2xz12BlyNthkFQvTO2CtztS3hCAjfnEfvh-WEGIFEm3bNkAk6pDf4Wk2DXHpLSUldNPCM5bdLR9br27NC_niA9GyLDt4FKeDVA1V070/s1600/EFFECTS.jpg"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
            >
              <img
                border="0"
                height="320"
                src="/public/images/2020/03/15/毎月2000km走るおじさんの話_#1月編(後半)/3.jpg"
                width="320"
              />
            </a>
          </td>
        </tr>
        <tr>
          <td class="tr-caption" style="text-align: center;">
            和歌山市で撮影<br />
            この角度から見えるフロントフォークのかっこよさ...</td
          >
        </tr>
      </tbody>
    </table>
    <br />
    追い風も相まって175kmを6時間半で完走。<br />
    <br />
    ペダリング効率が12月の頃より20%近く上がっていることと一時完走のおかげで200w前後を維持できるようになった結果、6時間半の平均出力が167wに向上する。<br
    />
    高強度インターバルとか全くやってないのに！パワーアップしてる！<br />
    <br />
    参考までに今まで同じコースを走ったときの平均出力が一番よいときで149wとかなので大きな成長が見える。<br
    />
    <br />
    26日<br />
    この日はローラーを行うも股擦れにより30km程度で終了...<br />
    <br />
    <br />
    27日<br />
    2000kmまで残り250kmもあるということを把握してしまい股擦れを気にしてる余裕がなくなってしまう。<br
    />
    痛くても乗るしか無いのでZwiftで50kmほど走る。<br />
    この日は190wの90分走<br />
    <br />
    28日<br />
    215wで1時間走とアップとクールダウンで50kmほど<br />
    明確に太ももに疲労が溜まっていることを自覚する。<br />
    ちょっと力を入れると筋肉が焼けるように痛む...<br />
    <br />
    29日<br />
    太ももの代わりになる筋肉を探していたら体幹に行き着く。<br />
    腹圧を高めるとなんとか踏めることが判明したので50kmほど軽く回す<br />
    <br />
    30日<br />
    定番化してきた一時間走を実施。もう少しだけ気力が持ったので60kmほど走る<br />
    2000kmまで35kmのところまで迫る<br />
    <br />
    31日<br />
    ただ2000km走るだけのマシーンになった気持ちで35km回して達成。<br />
    <br />
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="tr-caption-container"
      style="margin-left: auto; margin-right: auto; text-align: center;"
    >
      <tbody>
        <tr>
          <td style="text-align: center;">
            <a
              href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEi8FId93TIdGoQLUAwhC9aztI_aMmLNQ4pKKaiZTVPgKjuhj6-lNcdtxRzcrSvmZzTb38-H6L73JqlzEkDI2Mbgy3sxwR-9GE5wS3bt3hhHUA8NJ6rtRrThmEw7YDYDq6Nw5QGA8n1QfwU/s1600/IMG_20200113_170921.jpg"
              imageanchor="1"
              style="margin-left: auto; margin-right: auto;"
            >
              <img
                border="0"
                height="320"
                src="/public/images/2020/03/15/毎月2000km走るおじさんの話_#1月編(後半)/4.jpg"
                width="240"
              />
            </a>
          </td>
        </tr>
        <tr>
          <td class="tr-caption" style="text-align: center;">
            ドロドロのスプロケットを掃除する</td
          >
        </tr>
      </tbody>
    </table>
    <br />
    <h3>完走した感想</h3>
    <div>
      月初の走行距離が凄まじすぎて2300kmくらい走れるかと思ったけど後半に向かうにつれてどんどん疲労が蓄積される...
    </div>
    <div>
      <br />
    </div>
    <div>
      後半はほとんど義務感に近いものを感じながらもだいたい毎晩ローラーで一時間走を実施。
    </div>
    <div>結果的にこの一時間走は出力向上に大きく貢献したのでした！</div>
  </article>
</Layout>
